#hot_brands .tab_title {
    background: #f7f7f7 none repeat scroll 0 0;
    border-right: 1px solid #ebebeb;
}
#hot_brands .tab_title li {
    display: inline;
    float: left;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    text-align: center;
}
#hot_brands .tab_title li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f7f7f7 none repeat scroll 0 0;
    border-color: #ebebeb -moz-use-text-color #ebebeb #ebebeb;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #2f3031;
    display: inline-block;
    float: left;
    height: 78px;
    width: 147px;
}
#hot_brands .tab_title li a img {
    display: block;
    height: 40px;
    margin: 9px auto 0;
    width: 125px;
}
#hot_brands .tab_title li.current {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
    border-top: 3px solid #fc5300;
    height: 76px;
}
#hot_brands .tab_title li.current img {
    margin-top: 7px;
}
#hot_brands .tab_title li a:hover {
    text-decoration: none;
}
#hot_brands .tab_title li.last a {
    width: 152px;
}
#hot_brands .more {
    margin-top: 10px;
    position: relative;
    text-align: center;
}
#hot_brands .more a {
    background-color: #f7f7f7;
    border: 1px solid #ebebeb;
    display: block;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
}
#hot_brands .more a strong {
    color: #fc5300;
    font-weight: bold;
    margin: 0 3px;
}
#hot_brands .more a i {
    background: rgba(0, 0, 0, 0) url("../images/icons.__1442221540__.png") no-repeat scroll -95px -60px;
    display: inline-block;
    height: 15px;
    position: absolute;
    top: 16px;
    width: 20px;
}
#hot_brands .more a:hover {
    background-color: #ffeae0;
    border-color: #ffd9c7;
    color: #2f3031;
    text-decoration: none;
}
#hot_brands .nocar {
    margin-left: 420px;
    padding: 95px 0;
}
#hot_brands .nocar .icon {
    background: #fff url("../images/icons.__1442221540__.png") no-repeat scroll -260px -600px;
    float: left;
    height: 60px;
    width: 60px;
}
#hot_brands .nocar p {
    color: #989898;
    display: inline;
    float: left;
    font-size: 14px;
    margin: 0 0 0 10px;
}
#hot_brands .nocar p strong {
    color: #494949;
    display: block;
    font-size: 26px;
    font-weight: bold;
    margin: 6px 0;
}
#hot_brands .nocar p a {
    color: #0090d8;
}