body{ background: url(../images/alpha.png);color:#333;}
.title a {color:#6a0404;}
textarea#Comment{background:#939393; border:1px solid #727272; color:#333;}
ul.commentform li input.input{ border:1px solid #9d9c98;}
ul.commentform li input.button {background:#80796c;border:1px #535353 solid;color:#fff;}
ul.commentform li span { white-space: nowrap;}