@charset "utf-8";
/*body{background:#c0c0c0;filter:alpha(opacity = 80);opacity:.8;padding:10px}textarea{background:#939393;border:1px solid #727272;color:#000}textarea:focus{background:#b3b2b2}*/
body{ background:url(alpha.png);color:#333;}
.title a {color:#6a0404;}
textarea#Comment{background:#939393; border:1px solid #727272; color:#333;}
ul.commentform li input.input{ border:1px solid #9d9c98;}
ul.commentform li input.button {background:#80796c;border:1px #535353 solid;color:#fff;}
ul.commentform li span { white-space: nowrap;}