.ExTime{width:958px;height:25px; line-height:25px;border:#ddd solid 1px;margin-bottom:10px;background:url(../images/time.gif) repeat-x;}
.ExTime span{height:25px;float:left;display:block;}
.ExTime i{height:13px;line-height:13px;margin-right:20px;margin-left:5px;padding-left:5px;border-left:#ddd solid 1px;display:inline-block; margin-top:6px;}
.ExTime b{height:15px;font-weight:normal;display:inline-block; line-height:15px;}
.ExTime i.ExTmSi{border:0;margin-left:10px;}
.ExTime a{height:25px; line-height:25px;padding-left:30px;display:block;float:right;padding-right:15px; background:url(../images/qaol.gif) left center no-repeat;}
.ExTime a.FamBar{ background:url(../images/fmath.gif) left center no-repeat;}

.GA1{height:70px;margin-bottom:10px;}
.Ad1 , .Ad2{margin-right:13px;float:left;}

.ExBd1L{width:230px;}
.ExBd1LN{height:74px;border:#c8daf7 solid 1px;padding:1px;}
.ExBd1LN p{height:64px;display:block; background:#f7faff;padding:5px 10px;}
.ExBd1LN a{display:block;height:22px; line-height:22px;padding-left:5px; background:url(../images/dot.gif) left center no-repeat;color:#1f4175;}
.ExBd1LN a:hover{color:#bf0505;}

.ExBd1LStPic{padding-top:27px; background:url(../images/stor1.gif) 7px top no-repeat;}
.ExBd1LStPic p{height:;display:block;border:#c8daf7 solid 1px;padding:3px; text-align:center;padding-bottom:10px;}

.GA2{height:80px;}

.TecAy{height:187px;display:block;border:#b5cbef solid 1px;}
.TecAy dt{height:26px;border-bottom:#b5cbef solid 1px;display:block; background:url(../images/l1.gif) repeat-x;}
.TecAy b{height:26px;display:inline-block;padding:0 20px;border-right:#b5cbef solid 1px;font-size:14px;}
.TecAy dd{height:160px;padding:10px 35px;padding-right:0;}
.TecAy i{height:22px;display:block;padding-bottom:3px; line-height:22px;}
.TecAy select , .TecAy em{margin-left:5px;}
.TecAy a{width:52px;height:21px; display:inline-block; background:url(../images/bt1.gif) no-repeat; text-align:center; line-height:21px;font-weight:bold;margin-left:33px;*margin-left:35px;}

.ExBd1C{width:398px;height:762px;*height:760px;border:#c8daf7 solid 1px;margin:0 10px;}

.ExBd1C1{height:372px;margin:1px; background:url(../images/c1.gif) top repeat-x;padding-top:15px;padding-left:8px;padding-right:5px;}
.ExBd1C1 h1{font-size:14px; text-align:center;}
.ExBd1C1 p{display:block;border-bottom:#ddd dotted 1px;padding-bottom:5px;}
.ExBd1C1 p a{margin-right:5px;}

.ExBd1C1 div{padding-left:3px;padding-top:10px;}
.ExBd1C1 div a{height:18px; line-height:18px;display:block;font-size:14px;margin-bottom:5px; background:url(../images/dot.gif) left center no-repeat;padding-left:5px;}

.ExBd1C2{display:block;border-top:#b5cbef solid 1px;}
.ExBd1C3{margin-top:5px;}
.ExBd1C2 dt{height:26px;display:block;border-bottom:#b5cbef solid 1px; background:url(../images/l1.gif) repeat-x; position:relative; z-index:4; overflow:visible;}
.ExBd1C2 dt a{font-size:14px;font-weight:bold;display:inline-block;padding:0 20px;border-right:#b5cbef solid 1px;height:26px; line-height:22pt; position:absolute; z-index:5;}
.ExBd1C2 dt a.CM{background:#fff;height:26px;border-bottom:#fff solid 1px;}
.ExBd1C2 dt a.CmL{left:0;}
.ExBd1C2 dt a.CmR{left:101px;}
.ExBd1C2 dd{display:none;padding-left:10px;padding-top:10px;}
.ExBd1C2 span{display:block;height:18px; line-height:18px;margin-bottom:6px;padding-left:5px;padding-right:10px; background:url(../images/dot.gif) left center no-repeat;}
.ExBd1C2 span a{font-size:14px;float:left;}
.ExBd1C2 span i{float:right;color:#999999;}
.ExBd1C2 span.more{ background:none;}
.ExBd1C2 span.more a{float:right;}

.ExBd1R{width:310px;}
.ExBd1R1L{width:148px;height:194px;border:#c8daf7 solid 1px;}
.FinCa{height:63px;display:block;margin:1px; background:url(../images/c1.gif) top repeat-x;padding-left:6px;}
.FinCa b , .Conver b{display:block;height:30px; line-height:30px;}
.TimeTxt{width:72px;height:20px;display:inline-block;border:#bdbdbd solid 1px;float:left;margin-right:2px;margin-top:1px;}
.TimeBtn{width:24px;height:22px;display:inline-block; background:url(../images/time2.gif) no-repeat;float:left;margin-right:5px;margin-top:1px;}
.Sear{width:30px;height:23px;display:inline-block; background:url(../images/ask.gif) no-repeat;border:0; cursor:pointer;float:left;}

.Conver{border-top:#c8daf7 solid 1px;height:128px;}
.Conver p{height:126px;display:block;margin:1px;background:url(../images/lo1.gif) top repeat-x;padding-left:6px;}
.Conver span{height:23px;display:block;margin-bottom:5px; line-height:23px;}
.Conver input{width:60px;height:21px;border:0; background:url(../images/txt1.gif) no-repeat;margin-right:7px;}
.Conver input.MonDw{ background:url(../images/txt2.gif) no-repeat;}
.Conver select{width:60px;}
.Conver span.ConverSp{padding-top:5px;}
.Conver a{width:52px;height:21px; display:inline-block; background:url(../images/bt1.gif) no-repeat; text-align:center; line-height:21px;font-weight:bold;margin-left:20px;*margin-left:18px;}
.Conver i{height:21px;display:inline-block;}

.GA3{width:150px;margin-bottom:10px;}
.GA3 i{margin-top:8px;}

.ExBd1R2{height:236px;clear:both;border:#c8daf7 solid 1px;}
.ExBd1R2 dt{height:26px;display:block;border-bottom:#b5cbef solid 1px; background:url(../images/l1.gif) repeat-x; position:relative; z-index:4; overflow:visible;}
.ExBd1R2 dt a{font-size:14px;font-weight:bold;display:inline-block;padding:0 20px;border-right:#b5cbef solid 1px;height:26px; line-height:22pt; position:absolute; z-index:5;}
.ExBd1R2 dt a.CM{background:#fff;height:26px;border-bottom:#fff solid 1px;}
.ExBd1R2 dt a.CmL{left:0;}
.ExBd1R2 dt a.CmR{left:101px;}
.ExBd1R2 dd{display:none;padding-left:10px;padding-top:10px;}
.ExBd1R2 span{display:block;height:18px; line-height:18px;margin-bottom:6px;padding-left:5px;padding-right:10px; background:url(../images/dot.gif) left center no-repeat;}
.ExBd1R2 span a{font-size:14px;float:left;}
.ExBd1R2 span i{float:right;color:#999999;}
.ExBd1R2 span.more{ background:none;}
.ExBd1R2 span.more a{float:right;font-size:12px;}

.GA4{margin-top:10px;height:60px;}

.ExBd1R3{margin-top:10px;}

.GA5{height:70px;margin-top:10px;}
.GA5L{margin-right:15px;}
.GA5C{margin-right:15px;}

.ExBd2L{width:320px;height:642px;border:#c8daf7 solid 1px;}
.ExBd2L1{height:184px;clear:both;border-bottom:#c8daf7 solid 1px;}
.ExBd2L1 dt{height:26px;display:block;border-bottom:#b5cbef solid 1px; background:url(../images/l1.gif) repeat-x; position:relative; z-index:4; overflow:visible;}
.ExBd2L1 dt a{font-size:14px;font-weight:bold;display:inline-block;padding:0 20px;border-right:#b5cbef solid 1px;height:26px; line-height:22pt; position:absolute; z-index:5;}
.ExBd2L1 dt a.CM{background:#fff;height:26px;border-bottom:#fff solid 1px;}
.ExBd2L1 dt a.CmL{left:0;}
.ExBd2L1 dt a.CmR{left:101px;}
.ExBd2L1 dd{display:none;padding-left:10px;padding-top:10px;}
.ExBd2L1 span{display:block;height:18px; line-height:18px;margin-bottom:6px;padding-left:5px;padding-right:10px; background:url(../images/dot.gif) left center no-repeat;}
.ExBd2L1 span a{font-size:14px;float:left;}
.ExBd2L1 span i{float:right;color:#999999;}
.ExBd2L1 span.more{ background:none;}
.ExBd2L1 span.more a{float:right;font-size:12px;}

.GA6{padding-left:10px;}
.ExBd2L2{border-top:#c8daf7 solid 1px;border-bottom:0;}

.ExBd2C{width:384px;height:642px;border:#c8daf7 solid 1px;border-top:0;margin:0 10px;}
.ExBd2C dl{height:160px;}
.ExBd2C dl dt{height:28px;border-top:#c8daf7 solid 1px;border-bottom:#c8daf7 solid 1px;background:url(../images/bd1.gif) top repeat-x; position:relative; overflow:visible;}
.ExBd2CTi{width:100px;height:28px; line-height:22pt;border-top:#749cdb solid 2px;display:inline-block;border-right:#c8daf7 solid 1px;background:#fff;top:-1px; position:absolute; text-align:center;font-size:14px;font-weight:bold;}
.ExBd2C dl dt i{height:28px; line-height:22pt;float:right;display:inline-block;margin-right:10px;}
.ExBd2C dl dd{display:none;padding-top:10px;}
.ExBd2C p{width:100px;display:block;float:left; text-align:center;padding:0 15px;}
.ExBd2C span{width:250px;display:block;float:left;}
.ExBd2C span a{height:20px;display:block;font-size:14px; line-height:normal;margin-bottom:3px;padding-left:8px; background:url(../images/dot.gif) left center no-repeat;}

.ExBd2R{width:232px;}
.ExBd2R1{height:356px;border:#c8daf7 solid 1px;}
.ExBd2R1Ti{height:28px;border-bottom:#c8daf7 solid 1px; background:url(../images/bd2.gif) top repeat-x;display:block;padding:0 10px;}
.ExBd2R1Ti i{height:28px;font-weight:bold;font-size:14px;display:block;padding-left:22px; background:url(../images/icon1.gif) left center no-repeat; line-height:22pt;}
.ExBd2R1Ti a{height:28px;display:block;line-height:22pt;}

.ExBd2R1 p{height:91px;display:block;padding:9px;padding-top:0;border-bottom:#ddd dashed 1px;}
.Avater{width:80px;display:inline-block;padding-top:10px;float:left;}
.VipInfo{width:100px;display:inline-block;float:right;padding:0 10px;padding-top:5px; line-height:185%;}
.DivTb{width:208px;height:198px;border-top:#b4b4b4 solid 1px;border-left:#b4b4b4 solid 1px;margin:10px auto;}
.DivTb span{display:block;height:21px;border-bottom:#b4b4b4 solid 1px;}
.DivTb i{width:103px;height:21px;display:block;float:left;line-height:21px;border-right:#b4b4b4 solid 1px; text-align:center;}

.ExBd2R2{height:183px;}
.DivTb2{padding:20px 10px;}

.ExBd2R1Sp .ExBd2R1Ti i{ background:url(../images/icon2.gif) left -1px no-repeat;}
.ExBd2R1Sp p{height:110px;}
.ExBd2R1N{padding-left:10px;padding-top:6px;}
.ExBd2R1N a{height:23px; line-height:23px;display:block;font-size:14px;padding-left:7px; background:url(../images/dot.gif) left center no-repeat;}
.ExBd2R1Sp2{height:273px;}

.ExBd3Tl{height:26px; background:url(../images/l1.gif) left top repeat-x;border:#b5cbef solid 1px;border-bottom:0;padding-left:10px;}
.ExBd3Tl b{height:26px; line-height:26px;font-size:14px;display:inline-block;padding-left:20px; background:url(../images/icon3.gif) left center no-repeat;}
.ExBd3 table{border-top:#b5cbef solid 1px;border-left:#b5cbef solid 1px;}
.ExBd3 table .TbHd td{height:35px; background:#f3f6fa;border-right:#b5cbef solid 1px;border-bottom:#b5cbef solid 1px; text-align:center;}
.ExBd3 table tr td{height:30px;border-right:#b5cbef solid 1px;border-bottom:#b5cbef solid 1px; text-align:center;}
.ExBd3 table tr .SpTd{padding-left:10px; text-align:left;}
.ExBd3 a{color:#2a59a6;}
.ExBd3 a:hover{color:#ff6;}

.ExBd4L{width:230px;}
.ExBd4L1{border:#b5cbef solid 1px;height:317px;}
.ExBd4L1 h3{height:26px;display:block;font-size:14px; background:url(../images/l1.gif) top repeat-x;border-bottom:#b5cbef solid 1px;padding-left:10px;}
.ExBd4L1 h3 i{height:26px; line-height:20pt;display:inline-block;padding-left:20px; background:url(../images/icon4.gif) left center no-repeat;}
.ExBd4L1 p{display:block;padding-bottom:5px;border-bottom:#ddd dashed 1px;margin:0 10px;}
.Avater2 , .VipInfo2{width:100px;display:inline-block;float:left; line-height:190%;}
.Avater2 {margin-top:10px;margin-right:10px;}
.VipInfo2{margin-top:5px;width:98px;}

.DivTb3{width:208px;height:162px;border-top:#adb9c2 solid 1px;border-left:#adb9c2 solid 1px;margin:13px auto;}
.DivTb3 span{height:26px; line-height:26px; text-align:center;display:block;border-bottom:#adb9c2 solid 1px;}
.DivTb3 span i{width:103px;height:26px;display:block;border-right:#adb9c2 solid 1px;float:left;}

.ExBd4L2{height:227px;}
.ExBd4L2 ul{display:block;padding:3px 10px;}
.ExBd4L2 ul li{height:20px;padding-left:20px;display:block;padding-bottom:2px;}
.ExBd4L2 ul li.TopLi{padding-left:0;}
.ExBd4L2 ul li.TopLi2{height:24px;padding-top:5px;}
.Vote{width:73px;height:24px; line-height:18pt;text-align:center;font-weight:bold;display:inline-block; background:url(../images/icon6.gif) no-repeat;}
.LkRt{height:24px; line-height:18pt;display:inline-block;color:#265bb3;}
.ExBd4L2 a{margin-left:24px;}
.ExBd4L2 input{margin-right:10px;}

.ExBd4C{width:478px;margin:0 10px;}
.ExBd4C1{height:317px;border:#b5cbef solid 1px;}
.ExBd4C1 h3{height:26px; line-height:22pt;font-size:14px; background:url(../images/l1.gif) left top repeat-x;border-bottom:#b5cbef solid 1px;padding-left:15px;display:block;}
.ExBd4C1 dl{padding-top:5px; background:url(../images/icon9.gif) top repeat-x;}
.ExBd4C1 dl dt{height:29px;border-bottom:#b5cbef solid 1px; position:relative; overflow:visible;}
.ExBd4C1 dl dt a{width:86px;height:28px;line-height:22pt;font-weight:bold;font-size:14px; text-align:center;display:inline-block; background:url(../images/icon10.gif) repeat-x;border:#b5cbef solid 1px;border-bottom:0; position:absolute;}
.ExBd4C1 dl dt a.ExBd4C1A1{left:-1px;}
.ExBd4C1 dl dt a.ExBd4C1A2{left:92px;}
.ExBd4C1 dl dt a.ExBd4C1A3{left:183px;}
.ExBd4C1 dl dt a.CM{height:26px;border-top:#749cdb solid 2px;background:#fff;border-bottom:#fff solid 1px;top:1px;}
.ExBd4C1 dl dd{padding:5px 15px;}
.ExBd4C1 dl dd span{height:20px;display:block; line-height:20px;padding:2px 0;padding-left:10px; background:url(../images/dot.gif) left center no-repeat;}
.ExBd4C1 dl dd a{font-size:14px;}
.ExBd4C1 dl dd i{color:#999999;}

.ExBd4C1 dl dt b{margin-left:100px;font-size:14px;}
.ExBd4C1 dl dt i{font-size:14px;margin-right:20px;font-weight:bold;}

.ExBd4R{width:232px;}
.ExBd4R2{height:237px;}
.ExBd4R3{height:112px;}
.ExBd4R2 table tr td{height:21px; line-height:21px;border-bottom:#b5cbef solid 1px; text-align:center;}
.ExBd4R2 table tr.ExBd4R3TbHd td{height:25px; line-height:25px;font-weight:bold;}
.ExBd4R2 table tr.ExBd4R3TbBt td{height:25px; line-height:25px;border-bottom:0;}
.ExBd4R2 table tr.TbGr td{ background:#f3f6fa;}

.ExBd4R3 a{display:block; text-align:center;}
.ExBd4R3 span{margin-bottom:5px;}

.ExBd5{height:81px;border:#b5cbef solid 1px;}
.ExBd5 span{height:26px;border-bottom:#ddd dashed 1px; background:#f8f9fa url(../images/icon8.gif) left top no-repeat;display:block;position:relative; overflow:visible;}
.ExBd5 i{width:105px;height:26px;line-height:20pt;font-weight:bold;font-size:14px;border-bottom:#b5cbef solid 1px;display:inline-block; background:url(../images/icon5.gif) 10px center no-repeat;padding-left:30px; position:absolute;}
.ExBd5 p{line-height:160%;padding-top:8px;padding-left:15px;}
.ExBd5 a{margin-right:16px;}