//
   Created by caizhongyi on 2014/9/5.
include mixins/index
extends layout

block append head
    title title

block append content
   .code-example
       article.article
           h1 title
               .summary
                   span 2012-12-21
                   span bbs
               .container
                   p Content
                   p Content
                   p Content


