//
   Created by caizhongyi on 2014/9/5.
include mixins/index
extends layout

block append head
    title title

block append js
   +script("../public/js/spm_modules/alienjs-combo/ori/index.js")

block append css
   +css("../public/js/spm_modules/alienjs-combo/ori/index.css")

//block append container
//    .code-example
//       include ../public/js/spm_modules/alienjs-combo/jade/combo
//
//    .code-example
//        include ../public/js/spm_modules/alienjs-combo/jade/select
//
//    .code-example
//        include ../public/js/spm_modules/alienjs-combo/jade/dropdown