{php $cur_menu = 'team';}
{php $load_css = array('photo','team');}
{php $footer_js =  array('jquery.jscrollpanel/jquery.mousewheel','jquery.jscrollpanel/jquery.jscrollpane.min')}
{template "public","header"}
<div id="main">
    <div id="productCats" class="flexslider">
        <h2><span>团 队 介 绍</span></h2>
        <div class="subpages-holder semitransp">
            <ul class="submenu">
                <li><a data-id="162" class="subpage-switch "
                       href="{buildurl('lists','index','content',array('catid'=>15))}">摄影师</a></li>
                <li><a data-id="164" class="subpage-switch  "
                       href="{buildurl('lists','index','content',array('catid'=>16))}">美工</a></li>
                <li><a data-id="164" class="subpage-switch active"
                       href="{buildurl('lists','index','content',array('catid'=>17))}">造型师</a></li>
            </ul>
            <div id="content">
                <div class="subpage-content visible jspScrollable" id="subpage-162" tabindex="0">
                    <div class="story">
                        {$content}
                        <div class="cf"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{template "public","footer"}