.hd_picpl_box_con {
	margin-right: auto;
	margin-left: auto;
	width: 899px;
}
.hd_picpl_box {
	float: left;
	padding-top: 20px;
	padding-bottom: 50px;
}
.hd_picpl_top {
	height: 15px;
	width: 899px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/myhistory_album/hd_picpl_top.jpg);
	background-repeat: no-repeat;
	font-size: 1px;
	line-height: 1px;
}
.hd_picpl_mid {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E5E5E5;
	border-left-color: #E5E5E5;
	background-color: #F9F9F9;
	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	float: left;
	clear: both;
	width: 867px;
}

.hd_picpl_fot {
	height: 9px;
	width: 899px;
	clear: both;
	font-size: 1px;
	line-height: 1px;
	background-image: url(../images/myhistory_album/hd_picpl_fot.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
}
.picpl_form_box {
	height: 25px;
	clear: both;
	padding-bottom: 20px;
}
.picpl_form_box div {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.picpl_form_box span  {
	float: left;
}
.picpl_hf_kuang {
	background-image: url(../images/myhistory_album/picpl_hf_kuang.jpg);
	background-repeat: no-repeat;
	height: 25px;
	width: 423px;
	line-height: 25px;
	padding-right: 5px;
	padding-left: 5px;
	background-position: right center;
	float: left;
}
form {
	margin: 0px;
	padding: 0px;
}
.picpl_hf_an01 {
	background-image: url(../images/myhistory_album/picpl_hf_an01a.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 25px;
	width: 58px;
	line-height: 25px;
	color: #1F72B8;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	margin-right: 8px;
	margin-left: 8px;
}
.picpl_hf_an02 {
	background-image: url(../images/myhistory_album/picpl_hf_an02a.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 25px;
	width: 58px;
	line-height: 25px;
	color: #1F72B8;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
}
.picpl_huif_box {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	float: left;
	width: 100%;
}
.huif_left {
	background-image: url(../images/myhistory_album/huif_pc_bj.jpg);
	background-repeat: no-repeat;
	padding: 1px;
	float: left;
	height: 37px;
	width: 37px;
}
.huif_left img {
	height: 37px;
	width: 37px;
}
.huif_right {
	float: right;
	width: 820px;
}
.huif_text {
	text-align: justify;
}
.huif_time {
	color: #B0B0B0;
	float: left;
}
.huif_delete {
	color: #056CB1;
	float: right;
	padding-right: 20px;
}
.huif_delete a {
	color: #1581A5;
	text-decoration: none;
}
.huif_delete a:hover {
	text-decoration: underline;
}

.huif_huif {
	color: #056CB1;
	float: right;
}
.huif_huif a {
	color: #1581A5;
	text-decoration: none;
}
.huif_huif a:hover {
	text-decoration: underline;
}

.huif_more {
	clear: both;
	line-height: 30px;
	height: 30px;
	display: block;
	padding-top: 30px;
}
.huif_open_an a{
	float: right;
	width: 60px;
	background-image: url(../images/myhistory_album/huif_open_an.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	height: 30px;
	line-height: 30px;
}
.huif_colse_an a {
	display: block;
	float: right;
	width: 60px;
	text-align: center;
	background-image: url(../images/myhistory_album/huif_colse_an.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	line-height: 30px;
	height: 30px;
}
.xcsm_bt {
	font-size: 13px;
	padding-right: 15px;
}
.pic_xcsm {
	width: 899px;
	margin-right: auto;
	margin-left: auto;
	color:#7F7F7F;
	line-height:22px;
}
.pic_bt_name {
	font-weight: bold;
	color: #000;
}
.pic_biaot {
	padding-left: 38px;
	padding-top: 20px;
	padding-bottom: 10px;
	clear: both;
}
.pic_bt_number {
	font-weight: bold;
	color: #0767B4;
	padding-right: 15px;
	padding-left: 5px;
}
.form_tolef {
}



.hd_picpl_top8 {
	height: 15px;
	width: 600px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/myhistory_album/hd_picpl_top8.jpg);
	background-repeat: no-repeat;
	font-size: 1px;
	line-height: 1px;
}
.hd_picpl_mid8 {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E5E5E5;
	border-left-color: #E5E5E5;
	background-color: #F9F9F9;
	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	float: left;
	clear: both;
	width: 568px;
}

.hd_picpl_fot8 {
	height: 9px;
	width: 600px;
	clear: both;
	font-size: 1px;
	line-height: 1px;
	background-image: url(../images/myhistory_album/hd_picpl_fot8.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
}
.huif_right8 {
	float: right;
	width: 520px;
}