@charset "utf-8";
/* CSS Document */
.home_page {
	position:relative;
	background: url(../images/message/bg_message.png) repeat-y 0 0;
	zoom:1;
}


.dTbc{display:table-cell;width:2000px;*zoom:1;*width:auto;}
.layout_body {
	padding-top:0px;
}
.message_left {
	float:left;
	width:180px;
	padding:30px 20px 20px;
	position:relative;
}
.message_right {
	width:784px;
	float:left;
}
.message_left h1 a {
	height:39px;
	display:block;
	font:800 14px/39px "微软雅黑", Arial, Tahoma;
	padding-left:2em;
	color:#555455;
}
.message_left h1 a.active, .message_left h1 a:hover {
	background:url(../images/message_draft.gif) no-repeat 0 0;
	color:#0667AF;
	text-decoration:none;
}
.message_right {
	overflow:hidden;
}
.message_Box {
	float:left;
	width:700px;
	margin:35px 0px 0px 35px;
	display:inline;
}

.message_Box .text_area {
	height:220px;
	width:560px;
	padding:5px;
	background: url(../images/message/message_input.gif) no-repeat 0 -60px;
}
.message_Box .text_area textarea {
	height:215px;
	width:100%;
	border:none;
	resize:none;
	background:none;
	overflow-x:hidden;
	overflow-y:auto;
}
.message_Box table {
	font:200 12px Arial, Tahoma;
	color:#555455;
}
.message_Box table td{ height:50px;}
.message_Box table .lgray{ color:#999;}
.message_Box table .dred{ color:#B21A19;}
.message_Box .message_mail {
	background:url(../images/message_.gif) no-repeat 0 0;
	margin-right:5px;
	font:800 14px/33px "微软雅黑", Arial, Tahoma;
	text-align:center;
	height:33px;
	width:138px;
	float:left;
}
.message_Box .send_save {
	background-position:0 -78px;
	color:#fff;
}
.message_Box .send_save:hover {
	background-position:0 -40px;
}
.message_table img {
	vertical-align:middle;
}
.message_table .mHover{ background-color:#EEF7FE;}
.message_table td {
	border-bottom:1px dashed #ccc;
	font-family:Arial, Tahoma;
}
.message_action {
}
.message_action a {
	color:#36c;
	margin:0 3px;
	font-family:Arial, Tahoma;
}
.message_action span {
	float:left;
}
.message_action input {
	vertical-align:middle;
	margin:0 3px;
}
.message_invite {
}
.data_time {
}
.message_table td .message_con {
	text-align:right;
}
.message_table td .message_con a {
	margin:0 3px;
}
.message_Box span {
	float:left;
}
#message_pop{
	position:absolute;
	z-index:4;
	top:30px;
	left:200px;
	border:3px solid #ffffec;
}
#message_pop .messpop{
	width:460px;
	height:230px;
	border:1px solid #9dc4d9;
	background-color:#ffffe5;
}
.intContact{ width:373px; padding:3px 5px; height:29px; background:url(../images/message/bg_txt_Contact.png) no-repeat;}
.intContact input{ width:350px; height:24px; line-height:20px; border:none;}

.megtip{ width:235px; height:30px; padding:6px 15px; line-height:30px; background:url(../images/message/bg_tip_254x42.png) no-repeat; position:absolute; left:305px; top:1px; color:#D54B17;}
.megtip .close{ display:inline-block; width:9px; height:8px; background:url(../images/message/icon_tip_close.png) no-repeat; overflow:hidden; position:absolute; right:8px; top:8px;}


.imporInfo .iBar{ float:none; display:inline-block; width:68px; height:12px; overflow:hidden; background:url(../images/activity/bg_bar_percent.png) no-repeat; position:relative; zoom:1;font-size:12px;}
.imporInfo .iBar i{ display:inline-block; height:12px; overflow:hidden; line-height:12px; background:url(../images/activity/bg_bar_percent.png) 0px -12px no-repeat; position:absolute; left:0px; top:0px; z-index:2; vertical-align:top;}
.imporInfo .iBar em{ width:68px; font-family:Arial, Helvetica, sans-serif; text-align:center; line-height:12px!important; height:12px; position:absolute; left:0px; top:0px; z-index:3; display:inline-block;}
.imporInfo i b{ font-weight:normal;}


.actInfo .pos_box{ display:none;}
.hover .actInfo .pos_box{ display:block;}

.downLoadMore{ display:block; text-align:center; height:35px; font:200 12px/35px Arial, Tahoma; background:#fafafa; border:1px solid #dfdfdf;-moz-border-radius:3px;-webkit-border-radius:3px; color:#7D7D7D;}
.downLoadMore:hover{ text-decoration:none;}
.downLoadMore i{ display:inline-block; cursor:pointer; padding-right:14px; background:url(../images/icon_showMore.png) right no-repeat;}
/*messageBar*/
.mesBar{ height:28px; border-bottom:1px solid #E1E1E1; background-color:#F6F6F6; padding:0px 12px 0px 4px; clear:both; color:#535253;}
.mesBar i{ display:inline-block; font-style:normal; float:left;}
.mesBar .showType{ padding:5px 10px 0px 0px; margin-left:8px; background:url(../images/bg_vline.png) right center no-repeat;}
.mesBar .cbtn{ width:31px; text-align:center; background:url(../images/bg_vline.png) right center no-repeat; height:23px; padding-top:5px;}
.mesBar .opera{ padding:5px 0px 0px 10px;}
.mesBar .opera a{ background:url(../images/message/icon_func.png) no-repeat; height:20px; float:left; display:inline-block;}
.mesBar .opera .icon_1{ width:37px; background-position:0px 0px;}
.mesBar .opera .icon_2{ width:36px; background-position:-37px 0px;}
.mesBar .opera .icon_3{ width:37px; background-position:-73px 0px;}
.mesBar .opera .icon_4{ width:38px; background-position:-109px 0px;}
.mesBar .opera .icon_5{ width:36px; background-position:-150px 0px; margin-left:5px;}
.mesBar .opera_3f{ padding:5px 0px 0px 10px;}
.mesBar .opera_3f a{ background:url(../images/message/icon_func_3.png) no-repeat; height:20px; float:left; display:inline-block;}
.mesBar .opera_3f .icon_1{ width:37px; background-position:0px 0px;}
.mesBar .opera_3f .icon_2{ width:36px; background-position:-37px 0px;}
.mesBar .opera_3f .icon_3{ width:37px; background-position:-73px 0px;}
.mesBar .opera_3f .icon_4{ width:37px; background:url(../images/message/icon_zf.png) no-repeat; margin-left:5px;}
.mesBar .page{ float:right; color:#535253; padding-top:4px; line-height:20px;}

.mesBar .opera_3fa{ padding:5px 0px 0px 10px;}
.mesBar .opera_3fa a{ background:url(../images/message/icon_func_3a.png) no-repeat; height:20px; float:left; display:inline-block;}
.mesBar .opera_3fa .icon_1{ width:37px; background-position:0px 0px;}
.mesBar .opera_3fa .icon_2{ width:36px; background-position:-37px 0px;}
.mesBar .opera_3fa .icon_3{ width:37px; background-position:-73px 0px;}

.mesBar .opera_3fb{ padding:5px 0px 0px 10px;}
.mesBar .opera_3fb a{ background:url(../images/message/icon_func_3b.png) no-repeat; height:20px; float:left; display:inline-block;}
.mesBar .opera_3fb .icon_1{ width:37px; background-position:0px 0px;}
.mesBar .opera_3fb .icon_2{ width:36px; background-position:-37px 0px;}
.mesBar .opera_3fb .icon_3{ width:37px; background-position:-73px 0px;}
.mesBar .page{ float:right; color:#535253; padding-top:4px; line-height:20px;}

.mesBar .page a{ color:#0086C6;}
.mesBar .page a:hover{ color:#0086C6; text-decoration:underline;} 
.mesBar .page select{ vertical-align:middle;}

/*pageBar*/
.pageBar{ height:28px; border-bottom:1px solid #E1E1E1; background-color:#F6F6F6; padding:0px 12px 0px 4px; color:#535253;}
.pageBar i{ display:inline-block; font-style:normal; float:left;}
.pageBar .cbtn{ width:31px; text-align:center; background:url(../images/activity/bg_vline.png) right center no-repeat; height:23px; padding-top:5px;}
.pageBar .opera{ padding:5px 0px 0px 10px;}
.pageBar .opera a{ background:url(../images/activity/icon_operation.png) no-repeat; height:20px; float:left; display:inline-block;}
.pageBar .opera .icon_1{ width:37px; background-position:0px 0px;}
.pageBar .opera .icon_2{ width:36px; background-position:-37px 0px;}
.pageBar .opera .icon_3{ width:36px; background-position:-73px 0px;}
.pageBar .opera .icon_4{ width:38px; background-position:-108px 0px;}
.pageBar .page{ float:right; color:#535253; padding-top:4px; line-height:20px;}
.pageBar .page a{ color:#0086C6;}
.pageBar .page a:hover{ color:#0086C6; text-decoration:underline;} 
.pageBar .page select{ vertical-align:middle;}

.pageBar .showType{ color:#535253; padding:5px 10px 0px 10px; margin-right:4px; background:url(../images/activity/bg_vline.png) right center no-repeat;}

/*fList*/
.fList{}
.fList li{ border-bottom:1px dashed #E9E9E9; padding-top:1px; height:auto!important; min-height:82px; _height:82px; _padding-left:0px;  _float:left; _width:100%; overflow:hidden; _overflow:inherit; position:relative;}
.fList li i{ float:left;}
.fList li a{ color:#0085C5;}
.fList li .date{ float:right; font-size:12px; color:#999;}
.fList .cbtn{ width:31px; text-align:center; height:23px; padding-top:32px; margin-left:4px;}
.fList .iPic{ width:67px; padding-top:18px; text-align:center;}
.fList .iPic img{ border:1px solid #B3DFEE; padding:1px; background-color:#fff; width:43px; height:43px;}
.fList .fInfo{ width:570px; float:left; padding:14px 0px 0px 8px; position:relative;}
.fList .fInfo dt{ height:27px; line-height:27px; font-size:14px;}
.fList .fInfo .makeRela{ float:right; padding:0px 18px 0px 0px;}
.fList .fInfo dd{ clear:both;}
.fList .fInfo p{line-height:24px; color:#999; padding-bottom:6px;}
.fList .fInfo .sign{ padding-left:24px; background:url(../images/icon_edit.png) 2px 3px no-repeat;}
.fList .fInfo .hasPic{ padding-left:24px; background:url(../images/icon_pic.png) 2px 5px no-repeat;}
.fList .fInfo .picBox{ height:70px; padding-top:6px;}
.fList .fInfo .picBox img{ float:left; margin-left:24px;}
.fList .mHover{ border:dashed #E9E9E9; border-width:1px 0px; position:relative; margin-top:-1px; padding-top:1px; background-color:#EEF7FE;}
.fList .ifAgree{ position:absolute; right:10px; bottom:10px; line-height:20px; color:#DDD; display:none;}
.fList .mHover .ifAgree{ display:block;}

.fList .icon{ background:url(../images/activity/icon_message.png) no-repeat; padding-left:21px;}
.fList .i_1{ background-position:0px 8px;}
.fList .i_2{ background-position:0px -33px;}
.fList .i_3{ background-position:0px -74px;}
.fList .i_4{ background-position:0px -115px;}
.fList .fInfo span{ margin-right:25px;}
.fList .fInfo em{ color:#333; font-style:normal;}

.fList li .ddBar{ height:18px; position:relative; padding-bottom:8px;}
.fList li .iBar{ float:none; display:inline-block; width:68px; height:12px; overflow:hidden; background:url(../images/activity/bg_bar_percent.png) no-repeat; position:relative; zoom:1; vertical-align:middle;}
.fList li .iBar i{ display:inline-block; height:12px; overflow:hidden; line-height:12px; background:url(../images/activity/bg_bar_percent.png) 0px -12px no-repeat; position:absolute; left:0px; top:0px; z-index:2;}
.fList li .iBar em{ width:68px; line-height:12px; text-align:center; height:12px; position:relative; z-index:3; display:inline-block;}
.fList .fInfo i b{ font-weight:normal;}

/*toolBar*/
.toolBar{ padding-bottom:2px; background-color:#EEE; margin:25px 0px 0px;}
.toolBar .tbCon{ border-bottom:1px solid #E0E0E0; height:32px; background-color:#F6F6F6; line-height:32px;}
.toolBar .userArea{ font-weight:bold; color:#337FA5; font-size:14px; float:left;}
.toolBar .userArea a{ color:#337FA5;}
.toolBar .func{ width:300px; float:right; padding-right:12px;}
.toolBar .func span{ float:left; width:68px; text-align:center; display:inline-block; color:#999;}
.toolBar .func a{ display:inline-block; background:url(../images/message/icon_func_more.png) no-repeat; height:20px; width:37px; float:left; margin-top:6px;}
.toolBar .func .icon_1{ background-position:0px 0px;}
.toolBar .func .icon_2{ background-position:-37px 0px; width:36px;}
.toolBar .func .icon_3{ background-position:-73px 0px; width:35px; margin-right:5px;}
.toolBar .func .icon_4{ background-position:-113px 0px; width:40px; margin-right:5px;}
.toolBar .func .icon_5{ background-position:-158px 0px;}
.toolBar .func .icon_6{ background-position:-195px 0px;}

.mInfo{ color:#666; line-height:22px; padding:10px 20px; margin-bottom:15px;}
.mInfoList{ width:687px; margin:0px auto 23px; border:1px solid #E6E6E6; background-color:#EFF9FC;}
.mInfoList li{ border-bottom:1px dashed #9DD7EA; padding:12px; overflow:hidden; zoom:1;}
.mInfoList .last{ border-bottom:0;}
.mInfoList dl{ float:left; width:600px;}
.mInfoList dt{ height:26px; line-height:20px; font-weight:bold; font-size:14px;}
.mInfoList dt a{ color:#337FA5;}
.mInfoList dt .iDate{ float:right; color:#999; font-weight:normal; font-size:12px;}
.mInfoList dt .iFunc{ float:right; margin-left:12px; display:none;}
.mInfoList dt .iFunc a{ display:inline-block; background:url(../images/message/icon_func_more.png) no-repeat; height:20px; width:37px; float:left;}
.mInfoList dt .iFunc .icon_7{ background-position:-232px 0px;}
.mInfoList dt .iFunc .icon_8{ background-position:-269px 0px; width:35px;}
.mInfoList .aEmail{ display:none;}
.mInfoList dd{ line-height:20px; color:#666;}
.mInfoList .lImg{ margin:0px 12px 0px 0px;}
.mInfoList .mHover{ background-color:#FBFBFB;}
.mInfoList .mHover dt .iFunc,
.mInfoList .mHover .aEmail{ display:inline-block; _display:inline;}

.mBorImg img{ border:1px solid #B3DFEE; padding:1px; background-color:#fff;}
.lImg{ float:left; margin:3px 10px 0px;}