@charset "utf-8";
/* CSS Document */

.make-page-gray {
	position:absolute;
	top:0;
	left:0;
	background: url('../images/popUpBg.png') repeat 0 0;
	width:100%;
	height:100%;
}
.pop-up {
	width:420px;
	top:0;
	left:0;
	position:absolute;
}
.pop-con {
}
.pop-con, .winA, .winB {
	border-left:1px solid #333;
	border-right:1px solid #000;
}
.pop-con {
	background:url('../images/layout_main/main.gif') repeat 0 0;
	
}
.winA {
	height:1px;
	background-color:#000;
	margin:0 2px;
	overflow:hidden;
}
.winB {
	height:1px;
	background-color:#e3f6fb;
	margin:0 1px;
	overflow:hidden;
}
.popTitle {
	position:relative;
	padding:10px 10px 5px;
}
.hiddenWin {
	position:absolute;
	height:19px;
	top:-1px;
	width:65px;
	right:8px;
	background:url('../images/closeWIn.gif') no-repeat 0 -21px;
}
.hiddenWin a {
	display:inline-block;
	overflow:hidden;
	vertical-align:top;
}
.hidden {
	width:23px;
	height:16px;
	overflow:hidden;
	margin-left:2px;
}
.hidden:hover {
	background:url('../images/closeWIn.gif') no-repeat -2px 0px;
}
.close {
	width:35px;
	height:16px;
	overflow:hidden;
	margin-left:3px;
}
.close:hover {
	background:url('../images/closeWIn.gif') no-repeat -28px 0px;
}
.popConList {
	padding:4px;
}
.markList, .markA, .markB {
	border-left:1px solid #3781a5;
	border-right:1px solid #3781a5;
}
.markList {
	background-color:#fff;
}
.markA {
	margin:0 2px;
	display:block;
	height:1px;
	overflow:hidden;
	background-color:#3781a5;
}
.markB {
	margin:0 1px;
	border-left:1px solid #3781a5;
	border-right:1px solid #3781a5;
	display:block;
	height:1px;
	overflow:hidden;
	background-color:#e1f3fa;
}
.AddMark {
	padding:5px;
}
a.butAddMark {
	color:#333;
	font:200 12px/21px '宋体';
	text-align:center;
	background:url('../images/popupAdd.gif') no-repeat 0 0;
	display:inline-block;
	margin:0 5px 0 5px;
	height:21px;
	width:61px;
}
.ourMarkList {
	padding:1px;
	font-size:12px;
}
.ourMarkList li {
	padding-left:21px;
	vertical-align: middle;
	padding-right:5px;
	border-top:1px dashed #cceaf4;
	height:30px;
	line-height:30px;
	overflow:hidden;
	background:url('../images/popup_icon.gif') no-repeat -43px 10px;
}
.ourMarkList li span {
	display:inline-block;
}
.ourMarkList li a {
	color:#333;
}
.ourMarkList li img {
	vertical-align:middle;
	width:16px;
	height:16px;
}
.ourMarkList li.active {
	text-align:right;
	position:relative;
	z-index:1;
	border-top:1px solid #a4d7e3;
	border-bottom:1px solid #a4d7e3;
	background-color:#c9e7ef;
	margin-bottom:-1px;
	_margin-bottom:0px;
}
.ourMarkList li.active a {
	font-weight:800;
}
.ourMarkList li.active span {
	float:left;
}
.ourMarkList li.active img {
	margin:0 2px;
	background:url('../images/popup_icon.gif') no-repeat 0 -72px;
	vertical-align:middle;
	_margin-top:8px;
}
.ourMarkList li.active img.add {
	background-position: 0 -72px;
}
.ourMarkList li.active img.edite {
	background-position:-21px -72px;
}
.ourMarkList li.active img.del {
	background-position:-42px -72px;
}
.markPages {
	font-size:12px;
	border-top:1px dashed #cceaf4;
	text-align:right;
	padding:8px 3px;
}
.markPages a {
	margin:0 10px;
	color:#337fa5;
}
.changerW {
	padding:2px 2px 1px 5px;
	text-align:right;
}
.changerW img {
	cursor: nw-resize;
}
.calulator{
	padding:0 5px;
}
.calculator_int {
	border:1px solid #428cb5;
	height:49px;
	background:#fff  url('../images/tool_calculator_input_bg.gif') repeat 0 0;
	text-align:right;
}
.calculator_int .calculator_text{
	width:81%;
	border:none;
	height:38px;
	font:800 25px/45px '宋体';
	margin-top:5px;
	text-align:right;
	color:#333;
}
.calculator_int .calculator_submit{
	vertical-align: top;
	width:15%;
	height:38px;
	border:none;
	font:800 12px/45px '宋体';
	cursor: pointer;
	margin-top:5px;
	border:1px solid #82b6d3;
	margin-right:5px;
	background:#fff url('../images/tool_calculator_input_bg.gif') repeat 0 -87px;
	
}
.keyborde {
	text-align:justify ;
	height:270px;
	overflow:hidden;
}
.keyborde a{
	width:23%;
	height:36px;
	display:inline-block;
	margin-top:6px;
	font:800 12px/36px '宋体';
	background:#fff url('../images/tool_calculator_input_bg.gif') repeat 0 -87px;
	border:1px solid #428cb5;
	text-align:center;
	color:#333;
}
.keyborde .calculat_value{
	position:relative;
	margin-top:-44px;
	padding-top:44px;
	background:#fff url('../images/tool_calculator_input_bg.gif') repeat 0 -125px;
}
