extends layout

block head

block css

block header
    .header
        .btn-left: .icon <
            | 返回
        .main 积分墙
block container
    .media.cell
            img.media-object(src="img/img.png")
            .media-body
                .media-heading
                    | 7标题锻炼法
                p 应用作者：百度公司
                p 应用类型：射击游戏
    br
    .box.cell
        h5 应用描述
        p.text-indent 这个应用程这个应用程这个应用程这个应用程这个应用程这个应用程这个应用程
        div.text-center
            a.icon.icon-more(href="#") >
    br
    .box.cell.text-center
        img(src="img/detail.png")
    .footerbar.text-center
        a(href="#").block.btn.btn-primary 下 载
block footer

block js