extends layout

block head

block css

block header
    .header
        .btn-left: .icon <
            | 返回
        .main 积分墙
block container
    .list.unstyled
       li.media
            img.media-object(src="img/img.png")
            .pull-right
                a(href="#").btn.btn-default 下载
            .media-body
                .media-heading
                    | 7标题锻炼法
                p 这个应用这个应用这个应用这个应用这个应用
       li.media
            img.media-object(src="img/img.png")
            .pull-right
                a(href="#").btn.btn-default 下载
            .media-body
                .media-heading
                    | 7标题锻炼法
                p 这个应用这个应用这个应用这个应用这个应用
       li.media
            img.media-object(src="img/img.png")
            .pull-right
                a(href="#").btn.btn-default 下载
            .media-body
                .media-heading
                    | 7标题锻炼法
                p 这个应用这个应用这个应用这个应用这个应用

block footer

block js