@charset "gb2312";
/* CSS Reset */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, big, em, font, img, strong, tt, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td { padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
input, select, textarea { font-size:12px }
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
a { text-decoration: none; color: #555555; font-size:12px; }
a:hover { text-decoration:underline; color: #3bba2a; }
.clear { clear:both; }
/* Common*/
.wrapper { margin: 0 auto; overflow: hidden; width: 980px; color:#555555; font-size:12px; }
/* top*/
.top { width:980px; height:26px; text-align:right; }
.top a { height:26px; width:50px; line-height:26px; display:inline-block; text-align:center; }

.logo{background:url(../images/logo.png); width:121px; height:193px; position:absolute; top:0; z-index:999; margin:0 0 0 30px; _display:inline;}
/* flash */
.content_right { width:980px; height:200px;  }
.content_right .ad { margin-bottom:10px; width:980px; height:200px; overflow:hidden; position:relative; }
.content_right .slider, .content_right .num { position:absolute; }
.content_right .slider li { list-style:none; display:inline; }
.content_right .slider img { width:980px; height:200px; display:block; }
.content_right .num { right:5px; bottom:5px; }
.content_right .num li { float: left; color: #069; text-align: center; line-height: 16px; width: 16px; height: 16px; font-family: Arial; font-size: 12px; cursor: pointer; overflow: hidden; margin: 3px 1px; border: 1px solid #069; background-color: #fff; }
.content_right .num li.on { color: #fff; line-height: 16px; width: 16px; height: 16px; font-size: 14px; margin: 3px 1px; border: 1px solid #069; background-color: #069; font-weight: bold; }
/* nav */
.nav { background:url(../images/nav_01.jpg); width:980px; height:59px; overflow:hidden; margin:16px 0 0 0; _margin:13px 0 0 0;  }
.nav a{ font-family:"微软雅黑", "黑体", "宋体"; font-size:16px;  color:#555555; text-align:center; line-height:59px;}
.nav a:hover { background:url(../images/nav_02.jpg); text-decoration:none; color:#FFF;}
.nav a.a1  { float:left; display:block; overflow:hidden;  width:141px; height:81px; outline:none;}
.nav a.a2  { float:left; display:block; overflow:hidden; width:141px; height:81px; outline:none;}
.nav a.a3  { float:left; display:block; overflow:hidden;  width:141px; height:81px; outline:none;}
.nav a.a4  { float:left; display:block; overflow:hidden;  width:144px; height:81px; outline:none;}
.nav a.a5  { float:left; display:block; overflow:hidden;  width:141px; height:81px; outline:none;}
.nav a.a6  { float:left; display:block; overflow:hidden;width:144px; height:81px; outline:none;}
.nav a.a7  { float:left; display:block; overflow:hidden; width:128px; *width:125px; height:81px; outline:none;}
.nav .a1:hover { background-position:-0 0;}
.nav .a2:hover { background-position:-141px 0;}
.nav .a3:hover { background-position:-283px 0; }
.nav .a4:hover { background-position:-425px 0; }
.nav .a5:hover { background-position:-567px 0; }
.nav .a6:hover { background-position:-709px 0; }
.nav .a7:hover { background-position:-851px 0;  }

/* main */
.main{ width:980px; height:400px; float:left; margin:15px 0 0 0; _display:inline;}
.main_l{ width:378px;  float:left; height:394px; }
.main_l_1{ width:325px; height:233px; margin:0 0 0 25px; display:inline; float:left;}
.main_l_2{ width:325px; height:175px; margin:0 0 0 25px; display:inline; float:left;}
.main_l_1_title , .main_l_2_title , .main_r_1_title , .main_r_2_title{ font-family:"微软雅黑", "黑体", "宋体"; font-size:14px;}
.main_l_1 p{ width:325px; height:110px; line-height:22px; overflow:hidden; text-indent:2em; margin:8px 0 0 0; _display:inline;}
.main_l_2 p{ line-height:22px; text-indent:2em; margin:3px 0 0 0; _display:inline;}
.main_l_1 ul {  _display:inline; margin:8px 0 0 0;}
.main_l_1 ul li{ width:102px; height:75px; border:1px solid #cfcfcf; float:left; margin-right:4px; _display:inline;}
.main_l_1 ul li img{ width:102px; height:75px;}

.main_m{ width:355px; height:394px; float:left; background:url(../images/main_m_bg.jpg); margin:0 14px 0 0; _display:inline; }
.main_m_con{ width:332px; height:373px; border:1px solid #cfcfcf; margin:9px 0 0 9px; }
.main_m_con_title{ width:300px; height:31px; background-color:#2ca795; padding-left:32px; font-family:"微软雅黑", "黑体", "宋体"; font-size:14px; color:#FFF; line-height:32px;}
.main_m_con p{ margin:8px 0 0 11px; width:313px; height:60px; line-height:22px;}
.main_m_dl{ width:313px; margin:8px 0 0 11px;   height:265px; _margin:0px 0 0 11px; }
.main_m_dl dt{ font-family:"微软雅黑", "黑体", "宋体"; font-size:14px; color:#2ca795;}
.main_m_dl dt em{ background:url(../images/icon.gif) -3px -1px; width:22px; height:16px; float:left; margin:2px 5px 0 0;}
.main_m_dl dd{ line-height:22px; margin:2px 0 0 0; _display:inline; text-indent:2em;}

.main_r{ width:233px; height:394px; float:left;}
.main_r_1{ width:231px; height:235px; background:url(../images/main_r_bg1.jpg); float:left; margin: 0  0 12px 0; _display:inline; }
.main_r_1_title , .main_r_2_title{ margin: 10px 0  5px  13px; _display:inline;}
.main_r_1_con{ width:202px; height:165px; background-color:#f3f3f3; margin:0 0 0 13px; _display:inline; }
.main_r_1_con span{ width:190px; height:63px; margin:5px 0 5px 5px; _display:inline; float:left;}
.main_r_1_con b{ height:22px; font-weight:normal; line-height:22px; margin:0 0 0 15px; _display:inline; float:left; width:170px;}
.main_r_1_con ul{ float:left; margin:10px 0 0 0; _display:inline;}
.main_r_1_con ul li{ width:66px; height:28px; float:left;}
.main_r_1_con ul li span{ /*background:url(../images/icon.gif)*/ -3px -24px; width:18px; height:20px; margin:0 4px 0 0 ; _display:inline;}
.main_r_1_con ul li b{ background:url(../images/icon.gif) -2px -53px; width:19px; height:20px; margin:0 4px 0 0 ; _display:inline; float:left;}

.main_r_2{ width:231px; height:147px; background:url(../images/main_r_bg2.jpg); float:left;}
.main_r_2 ul{ margin:8px 0 0 13px; _display:inline;}
.main_r_2 ul li{ width:210px; height:24px; line-height:24px; }
.main_r_2 ul li a , .main_r_1_con ul li a , .main_r_2 p a{ color: #555555;}
.main_r_2 ul li a:hover , .main_r_1_con ul li a:hover , .main_r_2 p a:hover{ color:#3bba2a;}
.main_r_2 ul li em{ background:url(../images/icon.gif) -2px -77px; width:19px; height:20px; float:left;}
.main_r_2 p{ float:right; margin:5px 25px 0 0; _display:inline;}

.line{ width:980px; height:1px; background-color:#cccccc; overflow:hidden;  float:left; margin:10px 0 0 0;  }
.bottom{ width:980px; height:150px;  margin:10px 0 0 0; _display:inline; float:left;}
.yl{ width:770px; height:20px; margin:10px auto;}
.bottom p{ margin:5px auto; float:left; width:980px; text-align:center;}

/* 内页 */
.ny{ width:980px; margin:15px 0 0 0; float:left;}
#menubox{ width:180px; float:left; border-top:1px solid #555555; border-bottom:1px solid #555555; margin-top:35px;}
.new_li{ width:180px; overflow:hidden; border-bottom:1px solid #e8e8e8;  line-height:22px; cursor:pointer;}
#menu{width:180px;float:left; border-top:1px solid #555555; border-bottom:1px solid #555555; margin-top:35px;}
#menu h1{cursor:pointer;font-size:12px;padding:5px 0 3px 10px;margin-top:1px; border-bottom:1px solid #e8e8e8;}
#menu h2{cursor:pointer;font-size:12px;padding:5px 0 3px 20px;border-top-color:#FFF; border-bottom:1px solid #e8e8e8;}
#menu li{padding:5px 0 3px 30px; overflow:hidden; border-bottom:1px dashed #e8e8e8;}
.no{display:none;}

#menubox .submenu{ display:none; background-color:#ffffff;}
.new_li_2{ height:26px; line-height:26px; padding-left:20px; border-bottom:#CCC dashed 1px; width:160px; float:left;}
.new_li_3{ height:26px; line-height:26px; padding-left:20px; width:160px; float:left;}
.icon_plus{ width:15px; height:15px; display:inline-block; text-align:center; line-height:15px;}

.main_about_r{ width:776px; float:right;}
.main_about_r_title{ width:776px; height:34px; line-height:34px;}
.main_about_r_con_top{ background:url(../images/ny_bg.jpg) ; width:776px; height:24px; float:left;}
.main_about_r_con_min{ background:url(../images/ny_bg2.jpg) repeat-y; width:776px;  float:left;}
.main_about_r_con_min_title{ width:731px;  border-bottom:1px solid #e8e8e8; margin-left:20px; color:#3bba2a; float:left; font-weight:bold; font-size:14px; _display:inline;}
.main_about_r_con_min_title p{ width:731px; height:20px; line-height:20px; margin:5px 0; font-weight:normal; font-size:12px; _display:inline; float:left; color:#777777;}
.main_about_r_con_min_con , .main_about_r_con_min_con_2{ margin:20px 0 0 20px; float:left; _display:inline;}
.main_about_r_con_min_con h3{ color:#3bba2a; font-weight:bold; padding:5px 0;}
.main_about_r_con_min_con h4{ color:#3bba2a; font-weight:normal; padding-top:10px; }
.main_about_r_con_min_con p{ line-height:26px; width:731px; margin:10px 0 30px 0 ; _display:inline;}
.main_about_r_con_min_con span{ line-height:26px; width:731px; display:inline-block; margin:5px 0 0 0 ; _display:inline;}
.main_about_r_con_min_con b{ width:731px;  color: #3bba2a; font-weight:normal; height:24px; line-height:24px; display:inline-block;}
.main_about_r_con_min_con em{ padding:0 30px 0 0; font-style:normal;}
.main_about_r_con_bom{ background:url(../images/ny_bg.jpg) 0 -49px ; width:776px; height:24px; float:left;}

.main_about_r_con_min_con_2 dl{ color:#3bba2a; height:24px; line-height:24px;}
.main_about_r_con_min_con_2 dl em{ background:url(../images/icon.gif) -7px -109px; width:6px; height:5px; float:left; margin:10px 10px 0 0; _display:inline;  }
.main_about_r_con_min_con_2 dd{ height:24px; line-height:24px;}

.offer_title{ margin:20px 0 0 20px; float:left; _display:inline; width:735px; line-height:22px;}
.offer{ width:731px; float:left; margin:20px 0 0 20px; _display:inline; line-height:24px;}
.offer_nav{ width:280px; height:22px;}
.offer p{ width:300px; height:30px; line-height:30px; float:left; overflow:hidden;}
.offer_nav li{ background:url(../images/icon.gif) -65px -122px; width:63px; height:22px; line-height:22px; text-align:center; float:left; margin-left:5px; cursor:pointer;}
.offer_nav li.select{ background:url(../images/icon.gif) 0 -122px; width:65px; height:22px; }
.offer_con{ width:738px; border:1px solid #e8e8e8;  float:left; padding-bottom:20px;}
.offer_con ul li{ width:300px;  border-bottom:1px solid #e8e8e8; float:left; margin:10px 0 0 30px;  }
.offer_con ul li span{ width:250px; height:30px; line-height:30px; overflow:hidden; font-weight:bold; color:#3bba2a;}
.offer_con ul li p{ width:300px; line-height:26px;}



