.container1{ background: url(../images/sq/sq1.gif) no-repeat;}
.container2{ background: url(../images/sq/sq2.gif) no-repeat;}
.container3{ background: url(../images/sq/sq3.gif) no-repeat;}

.dialog{ background: url(../images/sq/dialog.png) no-repeat; width: 480px; height: 250px; padding-top:60px;  }

.dialog span,.dialog label,.dialog .tips,.dialog .text{ vertical-align: middle;}
.dialog .form{ padding: 0 25px;}
.dialog li{ height: 30px; margin-bottom:20px; }
.dialog label{ display: inline-block; width: 70px; margin: 0; }
.dialog label,.dialog .text{ height: 32px; line-height: 32px;}
.dialog .text{ margin-right: 10px; border:none;  background: url(../images/sq/textbox.png) no-repeat; padding: 0 10px; width: 180px; }
.dialog .tips{ font-size: 12px; width: 140px; height: 100%; display: inline-block;}
.dialog .tips-error{ color:red;}
.dialog .submit{ background: url(../images/sq/login-btn.png) no-repeat; width: 142px; height: 47px; border: none; }
.dialog  .tips-success{color:green;}