@charset "utf-8";
/* CSS Document */
.icon{display:inline-block; vertical-align:middle;}
.icon16{ padding:0 0 0 20px;}
.iconx24{ width:24px; height:24px;}
.icon32{ padding:0 0 0 32px;}
.error{background:url(../images/icons/icon_error.gif) no-repeat; padding-left:14px; height:14px; }
.error-1{background:url(../images/icons/icon_error.png) no-repeat; padding-left:16px; height:14px;}
.success{background:url(../images/icons/icon_success.png) no-repeat; padding-left:16px; height:13px;}
.warnning{background:url(../images/icons/icon_warnning.png) no-repeat; padding-left:94px; height:91px;}
.message{background:url(../images/icons/icon_message.png) no-repeat; padding-left:74px; height:51px;}

.icon-print,.icon-file,.icon-save{ background:url(../images/icons/icons.png)  no-repeat; padding-left:22px; height:22px;}

.icon-file2{ background:url(../images/icons/icon16.png) no-repeat -16px 0; display:inline-block; width:16px; height:16px;}
.icon-files{ background:url(../images/icons/icon16.png) no-repeat -304px -48px; display:inline-block; width:16px; height:16px;}
.icon-news{ background:url(../images/icons/icon16.png) no-repeat -272px -32px; display:inline-block; width:16px; height:16px;}
.icon-disable{ background:url(../images/icons/icon16.png) no-repeat -64px 0; display:inline-block; width:16px; height:16px;}
.icon-addfrd{ background:url(../images/icons/icon16.png) no-repeat -96px -16px; display:inline-block; width:16px; height:16px;}
.icon-sendmsg{ background:url(../images/icons/icon16.png) no-repeat -112px -16px; display:inline-block; width:16px; height:16px;}
.icon-print,.icon-file,.icon-save{ background:url(../images/icons/icons.png)  no-repeat; padding-left:20px; height:22px;}

.icon-moveUp{ background:url(/playroad/images/icons/icon16.png) no-repeat -96px 0; width:16px; height:16px;}
.icon-moveDown{ background:url(/playroad/images/icons/icon16.png) no-repeat -112px 0;width:16px; height:16px;}
.icon-disable{ background:url(/playroad/images/icons/icon16.png) no-repeat -64px 0;width:16px; height:16px;}



.icon-print{background-position: -58px  0;}
.icon-file{background-position: 0 0;}
.icon-save{background-position: -28px 0;}
.icon-tool{background:url(../images/icons/icon-tool.png) no-repeat; padding-left:16px; height:16px;}
.icon-delete{background:url(../images/icons/right_opts.png) no-repeat -32px 0; padding-left:20px; height:16px;}
.icon-photo{background:url(../images/icons/icon-photo.png) no-repeat;  padding-left:34px; height:27px;}
.icon-red-block{ background:#ffdede; padding-left:10px; height:10px;}
.icon-yel-block{ background:#f0e1de; padding-left:10px; height:10px;}
.icon-blue-block{ background:#deedff; padding-left:10px; height:10px;}
.icon-video{background:url(../images/icons/icon_video.png) no-repeat;  padding-left:30px; height:30px;}
.icon-talk{background:url(../images/icons/icon-talk.png) no-repeat;  padding-left:16px; height:16px;}
.icon-list-type{background:url(../images/icons/icon-list-type.png) no-repeat 0 2px;  padding-left:22px; height:13px;}
.icon-list-type-cur{ background-position:0 -13px; color:#e47028;}
.icon-photo1{background:url(../images/icons/icon-photo1.png) no-repeat;  padding-left:34px; height:27px;}
.icon-push{background:url(../images/icons/icon-push.png) no-repeat 0 center;  padding-left:18px; height:15px;}
.icon-pull{background:url(../images/icons/icon-pull.png) no-repeat 0 center;  padding-left:18px; height:15px;}
.icon-success{background:url(../images/icons/icon-success.png) no-repeat 0 center;  padding-left:18px; height:16px;}
.icon-return{background:url(../images/icons/icon-return.png) no-repeat 0 center;  padding-left:22px; height:16px;}

.icon-up{background:url(../images/icons/icon-up.jpg) no-repeat 0 center;  padding-left:18px; height:16px;}
.icon-down{background:url(../images/icons/icon-down.jpg) no-repeat 0 center;  padding-left:22px; height:16px;}
.icon-pic{background:url(../images/icons/iconp.png) no-repeat 0 center;  padding-left:22px; height:16px;}

.icon-talk{background:url(../images/icons/icon-talk.png) no-repeat;  padding-left:16px; height:16px;}
.icon-list-type{background:url(../images/icons/icon-list-type.png) no-repeat 0 2px;  padding-left:22px; height:13px;}

.icon-edit{background:url(../images/icons/edit1.png) no-repeat 0 center;  padding-left:18px; height:16px;}
.icon-disallow{background:url(../images/icons/disallow.png) no-repeat 0 center;  padding-left:22px; height:16px;}
.icon-blue-add{background:url(../images/icons/icon-blue-add.png) no-repeat 0 center;  padding-left:18px; height:16px;}
.icon-blue-close{background:url(../images/icons/icon-blue-close.png) no-repeat 0 center;  padding-left:18px; height:16px;}

.icon-mail{background:url(../images/icons/icon-mail.png) no-repeat 0 center;  width:16px; height:16px;  line-height:23px;}

.icon-tips{background:url(../images/icons/icon-tips.png) no-repeat 0 center;  width:68px; height:23px; text-align:center; line-height:23px;font-weight:normal; color:#f79646;}

.icon-packup{background:url(../images/viewbg12.jpg) no-repeat right;  padding-right:16px; height:12px;  line-height:12px; }

/* close */
.close-1{background:url(../images/icons/icon_close_3.gif) no-repeat;display:inline-block; width:9px; height:8px;}
.close-2{background:url(../images/icons/icon_close_2.png) no-repeat;display:inline-block; width:9px; height:8px;}
.close-3{background:url(../images/icons/icon_close_1.png) no-repeat;display:inline-block; width:9px; height:8px;}
.close-5{background:url(../images/icons/icon_close_5.png) no-repeat;display:inline-block; padding-right:25px; height:25px;}
.close-5:active{background:url(../images/icons/icon_close_5_click.png) no-repeat;}
/*===== title =====*/
.square{background:url(../images/icons/title_bg.png) no-repeat 0 -1px;}
.circle{background:url(../images/icons/title_bg.png) no-repeat -3px -15px;}
.circle_small{ background:url(../images/icons/listType.png) left top no-repeat;}
.mapschHelp{ background:url(../images/icons/mapschNote.png) no-repeat left;}
.delBtn{background:url(../images/icons/icon_close.png) right center no-repeat;}
.AM_photoAlbum{background:#eef9fb url(../images/icons/AM_photoAlbum.png) no-repeat left center;}
.AM_photoAlbum{background:#eef9fb url(../images/icons/AM_photoAlbum.png) no-repeat left center;}
/*list*/
.listUp{background:url(../images/icons/icon_operaList.png) no-repeat 0 0;}
.listDown{background:url(../images/icons/icon_operaList.png) no-repeat -17px 0;}
.listEdit{background:url(../images/icons/icon_operaList.png) no-repeat -42px 0;}
.listDel{background:url(../images/icons/icon_operaList.png) no-repeat -64px 0;}
/*array*/
.array1{ background:url(../images/icons/array.png) no-repeat 0 0;}
.array2{ background:url(../images/icons/array.png) no-repeat 0 -24px;}
.array3{ background:url(../images/icons/array.png) no-repeat 0 -48px;}
.array4{ background:url(../images/icons/array.png) no-repeat 0 -72px;}
.array5{ background:url(../images/icons/array.png) no-repeat 0 -96px;}
.array6{ background:url(../images/icons/array.png) no-repeat 0 -118px;}
/*verify*/
.verify_accept{ width:16px; height:16px; display:block; background:url(../images/icons/accept.png) no-repeat left center;}
.verify_cross{ width:16px; height:16px; display:block; background:url(../images/icons/cross.png) no-repeat left center;}
/*title*/
.car{ width:24px; height:24px;  background:url(../images/icons/icon24.png) no-repeat 0 0; display:block;}
.offmember{ width:24px; height:24px;  background:url(../images/icons/icon24.png) no-repeat -24px 0; display:block;}
.weather { width:24px; height:24px; background:url(../images/icons/icon24.png) no-repeat 0 -48px; display:inline-block;}
.icon-save24{ width:24px; height:24px; background:url(../images/icons/icon24.png) no-repeat -96px 0;display:inline-block;}
.icon-del24{ width:24px; height:24px; background:url(../images/icons/icon24.png) no-repeat -72px 0;display:inline-block;}
.icon-print24{ width:24px; height:24px; background:url(../images/icons/icon24.png) no-repeat -48px 0;display:inline-block;}

/*link icon*/
.replaypackup{background:url(../images/icons/upArrow2.png) no-repeat right top; padding:0 18px 0 0;}
.replayshow{background:url(../images/icons/replayshow.png) no-repeat right center; padding:0 18px 0 0;}

.delPhoto{ background:url(/playroad/images/icons/icon_close_5.png) no-repeat left center; position:absolute; display:block; width:25px; height:25px; right:3px; top:3px;}
