@charset "utf-8";
/* CSS Document */
/*=====Global======*/
body{font-family:"宋体"; font-size:12px; color:#1992b1;}
/*=====LINK=====*/
a{color:#1992b1;}
a:link,a:visited{text-decoration:none;}
a:hover,a:active{text-decoration:underline;}
/*focus*/
:focus {outline:none;-moz-outline:none;}
img{ vertical-align: middle;}
/*input[type="text"]:focus,select:focus,textarea:focus{box-shadow:0 0 3px #89c6f5; border-color:#89c6f5; }*/
/*======list reset======*/
ul,ol{list-style:none;}
/*=====head=====*/
h1,h2,h3,h4,h5,h6{ font-weight:normal; }
/*=====Public Background======*/
.pBgB{background:url(../images/bg.png);}
.pBgH{background:url(../images/hbg.png) repeat-x;}
.pBgC{background:url(../images/bg_mbg.png) top center repeat-y;}
.pBgC2{background:url(../images/pBgC2.png) top center repeat-y;}
.pBgC2-1{background:url(../images/pBgC2-1.gif) top center repeat-y;}
.pBgF{background:none;}
/*=====font Size====*/
.fSize-12{font-size:12px;}
.fSize-14{font-size:14px;}
.fSize-16{font-size:16px;}
.fSize-18{font-size:18px;}
.fSize-20{font-size:20px;}
.fSize-22{font-size:22px;}
.fSize-24{font-size:24px;}
/*----font weight----*/
.fBold{font-weight:bold;}
.fWeight-400{font-weight:400;}
.fWeight-600{font-weight:600;}
.fWeight-800{font-weight:800;}
/*----font family----*/
.f-St{font-family:"宋体";}
.f-YH{ font-family:"微软雅黑";}
/*----font color----*/
.fCblcak{color:#000;}
.fCblcak2{color:#595e62;}
.fCwhite{color:#fff;}
.fCgray{color:#9f9f9f;}
.fCgray2{color:#949494;}
.fCgray3{color:#666;}
.fCblue{color:#1383a9;}
.fCred{color:#d54721;}
.fCred2{color:#f56868;}
.fCred3{color:#ea7730;}
.red, .red a {color:#CC0000;}
.gray, .gray a {color:#636466;}
/*=====Shadow CSS3=====*/
/*----Txet-shadow----*/
/*----Box-shadow-----*/
/*----Border-radius-----*/
.tabMenu{border-top-right-radius:5px;border-top-left-radius:5px;}
/*=====title=====*/
/*----Background----*/
.tBgb{background:#eef9fb;}
/*=====tab=====*/
/*----Background----*/
.tabDecfult{background:#b5e0e9;color:#7e7e7e;}
.tabSelected{background:#1687a9;}
/**/
#listSch_Btn,#mapSch_Btn{cursor:pointer;} 


/* 密码安全强度 */
.safe-stepbar{ margin-top:10px;}
.safe-stepbar li{background:url(../images/safe_stepbar_nor.gif) repeat-x; position:relative; width:110px; display:inline-block; *display:inline; zoom:1; height:14px; position:relative;}

.safe-stepbar .current{ background:url(../images/safe_stepbar_cur.gif) repeat-x;}
.safe-stepbar span{ position:absolute; top:-25px; left:40%;}

/* setbar */
.setbar{ margin:20px; position:relative;}
.setbar .setbar-l,
.setbar .setbar-r{width:10px;height:70px;display:block;  }
.setbar .setbar-l{ float:left;background:url(../images/stepbar/lbg.png) left top no-repeat;}
.setbar .setbar-r{ float:right;background:url(../images/stepbar/rbg.png) right top no-repeat;}
.setbar ul{background:url(../images/stepbar/bg.png) left top repeat-x;height:70px; overflow:hidden;}
.setbar li{ display:inline-block; *display:inline; zoom:1; text-align:center;}
/* setbar 2 */
.setbar-2 li{width:50%;}
/* setbar 3 */
.setbar-3 li{width:33%;}
/* setbar 4 */
.setbar-4 li{width:25%;}
/*----Step BAR 6----*/
.setbar6 {width:845px;height:70px;margin:20px auto;background:url(../images/stepbar/bg.png) left top repeat-x;}
.setbar6 li {width:90px;height:70px;text-align:center; margin:0 8px 0 8px;float:left;}
.setbar6-r,.setbar6-l {width:10px;height:70px;display:block; margin:0; top:0;}
.setbar6-l {background:url(../images/stepbar/lbg.png) left top no-repeat;left:0;}
.setbar6-r {background:url(../images/stepbar/rbg.png) right top no-repeat;right:0;}
/* -------  */
.item_img{width:38px;height:41px;display:block;margin:0 auto;}
.stepbar_star {color:#dd6224;}
.stepbar_end {color:#17a1c4;}
.stepbar_will {color:#a4a3a2;}
.setp_title {width:auto;height:29px;line-height:28px;font-size:14px;font-family:"微软雅黑";font-weight:bold;}
.item1,.item2,.item3,.item4,.item5,.item6{ position:absolute;}
.item1{left:5%;}
.item2{left:20%;}
.item3{left:36%;}
.item4{right:36%;}
.item5{right:20%;}
.item6{right:5%;}
/*----step1----*/
.item1_star {background:url(../images/stepbar/step6bg.png) no-repeat 0 -82px;}
.item1_end {background:url(../images/stepbar/step6bg.png) no-repeat 0 0;}
/*----step2----*/
.item2_will {background:url(../images/stepbar/step6bg.png) no-repeat -38px -41px; }
.item2_star {background:url(../images/stepbar/step6bg.png) no-repeat -38px -82px;}
.item2_end {background:url(../images/stepbar/step6bg.png) no-repeat -38px 0;}
/*----step3----*/
.item3_will {background:url(../images/stepbar/step6bg.png) no-repeat -76px -41px; }
.item3_star {background:url(../images/stepbar/step6bg.png) no-repeat -76px -82px;}
.item3_end {background:url(../images/stepbar/step6bg.png) no-repeat -76px 0;}
/*----step4----*/
.item4_will {background:url(../images/stepbar/step6bg.png) no-repeat -114px -41px; }
.item4_star {background:url(../images/stepbar/step6bg.png) no-repeat -114px -82px;}
.item4_end {background:url(../images/stepbar/step6bg.png) no-repeat -114px 0;}
/*----step5----*/
.item5_will {background:url(../images/stepbar/step6bg.png) no-repeat -152px -41px; }
.item5_star {background:url(../images/stepbar/step6bg.png) no-repeat -152px -82px;}
.item5_end {background:url(../images/stepbar/step6bg.png) no-repeat  -152px 0;}
/*----step6----*/
.item6_will {background:url(../images/stepbar/step6bg.png) no-repeat -190px -41px;}
.item6_star {background:url(../images/stepbar/step6bg.png) no-repeat -190px -82px;}
