@charset "utf-8";
/* CSS Document */
/*=====Global=====*/
table{border-collapse:collapse;border-spacing:0;}
/*====method=====*/
.table-fixed{table-layout:fixed;}
.table-auto{table-layout:auto;}
.addTable tr{ height:34px; line-height:33px;}
.addTable td{ padding: 0 3px;}
.preparedList { margin:18px auto;}
.preparedList tr{ height:24px; line-height:23px;}
.preparedList .table-opt{ visibility:hidden;}
.preparedList tr:hover{background:#EDEDED}
.preparedList tr:hover .table-opt{ visibility:visible;}
.preparedList th{ font-weight:normal; text-align:left; padding:0 8px;}
.preparedList td{ padding:0 8px;}
.preparedList .listDel{ visibility:hidden;}
.preparedList tr:hover .listDel{ visibility:visible;}
/*====harvestPayTable====*/
.harvestPayTable{}
.harvestPayTable tr{ height:26px;}
.harvestPayTable th{text-align:left; font-weight:normal;color:#1582A5; height:38px;}
.harvestPayTable td{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;color:#7e7e7e;border-bottom:1px dashed #bbb;}
.harvestPayTable .nCol{background:transparent;}
.subTableWarp{position:relative;}
.subTable {margin:3px 0px;}
.subTable td{white-space:nowrap; *+white-space:pre;text-overflow:ellipsis;overflow:hidden;border:none; background:#ededed;}
.subTableWarp ins{width:6px; height:15px; display:inline-block; background:url(../images/icons/link.png) no-repeat; position:absolute; top:20px; left:10px;_top:23px;}
.harvestPayTable .listEdit,.harvestPayTable .listDel{ display:none;}
.harvestPayTable tr:hover{ background:#ededed;}
.harvestPayTable tr:hover .listEdit,.harvestPayTable tr:hover .listDel,
.harvestPayTable .nCol .listEdit,.harvestPayTable .nCol .listDel{ display:block;}
/*memberTable*/
.memberTable{}
.memberTable tr{ height:28px;}
.memberTable td{ border-bottom:1px dashed #bbb;}
.memberHead{border:1px solid #e5e5e5;}
.submited{color:#0965ae;}
.nosubmit{color:#e31822;}
.roleName{color:#ea7730;}
.opera{width:40px; height:auto;/*CSS3*/ padding:0 0 5px; position:relative; }
.operaselect{ border:1px solid #bbb;background:#fff;}
.opera a:hover{text-decoration:none;}
.operaicon{width:40px; height:28px; background:url(../images/icons/icon_opera.png) center no-repeat; display:block;}
.operaList {position:absolute; top:32px; left:-1px; width:40px;margin:0 auto; background:#fff; border:1px solid #bbb; border-top:none; display:none;}
.operaList li{ width:28px; margin:0 auto; border-bottom:1px dotted #bbb; text-align:center;}
.memberFoot{border:1px solid #e5e5e5;}