<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="mqq-bottom-ad" content="no"/>
    <title>{$knowledge[0]['knowledge_name']}</title>
    <link href="./source/modules/exam/template/css/answer.css" type="text/css" rel="stylesheet">
    <link href="./source/modules/exam/template/css/style_s.css" type="text/css" rel="stylesheet">
</head>
<body>

<div id="content" class="main fontSize2">
    <p class="title" align="left">{$knowledge[0]['knowledge_name']}</p>
</div>

<div id="VoteContainer" class="voteContainer">
    <div class="voteBox voteBefore">
        {$knowledge[0]['content']}
    </div>

</div>
</body>


</html>

