/*layout*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{ display:block;}
audio,canvas,video{ display:inline-block; *display:inline; *zoom:1;}
audio:not([controls]){ display:none; height:0;}
[hidden]{ display:none;}
html,button,input,select,textarea{ font-size:100%;}
html{ -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
body,div,dl,dt,dd,ul,ol,menu,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,fieldset,legend,blockquote,figure{ margin:0; padding:0;}
body{ font-size:12px; line-height:1.33;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
abbr[title]{ border-bottom:1px dotted;}
b,strong{ font-weight:bold;}
q{ quotes:none;}
q:before,q:after{ content:''; content:none;}
sub,sup{ position:relative; vertical-align:baseline;}
ul,ol,menu{ list-style:none outside none}
img{ border:0; -ms-interpolation-mode:bicubic; vertical-align:middle;}
svg:not(:root){ overflow:hidden;}
fieldset{ border:0;}
legend{ border:0; white-space:normal; *margin-left:-7px;}
button,input,select,textarea{ margin:0; vertical-align:baseline; *vertical-align:middle; outline:none;}
button,input{ line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{ -webkit-appearance:button; cursor:pointer; *overflow:visible;}
button[disabled],input[disabled]{ cursor:default;}
input[type="checkbox"],input[type="radio"]{ box-sizing:border-box; *height:13px; *width:13px;}
input[type="search"]{ -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{ -webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{ border:0; padding:0;}
textarea{ overflow:auto; vertical-align:top; resize:vertical;}
table{ border-collapse:collapse; border-spacing:0;}

a:hover{text-decoration: none;}
.fl{float:left;}
.fr{float:right;}
.clearfix:before,.clearfix:after{ content:""; display:table; } 
.clearfix:after{clear:both;} 

.input-in::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #5b5b5b; 
} 
.input-in:-moz-placeholder, textarea:-moz-placeholder { 
color: #5b5b5b; 
} 
.input-in::-moz-placeholder, textarea::-moz-placeholder { 
color: #5b5b5b; 
} 
.input-in:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #5b5b5b; 
} 

.comm-tb{display: table;}
.comm-td{display: table-cell;vertical-align: middle;}
.pn{margin-bottom:1em;}

body{font-size:12px;line-height:2;background-color:#e53c37;font-family: "Microsoft YaHei";min-width: 320px;}
.i-img{width:100%;height:auto;}
.ico{display: inline-block;vertical-align: middle;}
.ico-bro{width:20px;height:17px;background: url(../img/gb.png) no-repeat;background-size: 100%;}
.ico-gift{width:20px;height:18px;background: url(../img/gift.png) no-repeat;background-size:100%;margin-bottom:5px;}
.ico-close{width:13px;height:13px;background: url(../img/close.png) no-repeat;background-size:100%;}
.zp-bg{overflow: hidden; width: 100%;}
.top-bg{position: relative;}
.bg-img{}
.zp-con{position: absolute;bottom:2px;width:81.33%;left:9.33%;}
.zp-pt{width:100%;position: absolute;bottom: 0;}
.zp-btn{position: absolute;width:38%;left:31%;top:50%;text-align: center;}
.go-btn{display: block;font-weight: bold;color:#fff;vertical-align: middle;font-size:250%;margin-top:-1em;text-shadow:1px 1px 1px rgba(0,0,0,.2);}
.go-btn span{display: block;line-height: 1}
.go-btn .en{color:#ffef42;}
.go-btn .cn{font-size:76.67%;}
.coming-act{margin-top:-2.4em;line-height:1.2em;}
.coming-act .time{margin-top:.4em;color:#fff;}
.coming-act .para{color:#ffb3ab;}
.coming-act .time .num{color:#ffef42;}

.content{width:89.6%;margin:1em auto;}
.broadcast{color:#fff;overflow: hidden;height: 2em;line-height:2em;border-radius: 1em;background-color:#b7302c;padding:0 1em;font-size:116.67%;box-shadow: 1px 1px 2px #ac2d29 inset;border-bottom:1px solid #e95b57;}
.broadcast-ico{margin-right:1em;}
.broadcast-con{overflow: hidden;}
.broadcast-con-in{white-space: nowrap; }
.broadcast-con-in .item{  box-sizing: border-box; -webkit-box-sizing: border-box ; }
.broadcast-con-in .item:after { content: "    " ; margin-right: 1em;  }
.untransition{
    transition: none !important;
}

.lottery-num{width:100%;color:#fff;line-height: 1.6;}
.btn-lottery{display: inline-block;width:140px;height:44px;background: url(../img/btn.png) no-repeat;background-size:100%;}
.lottery-num .comm-td:first-child{width:42px;}
.lottery-num .comm-td:last-child{text-align: right;padding-top:.5em;}
.lottery-num .comm-td:nth-child(2){padding-left:5px;}
.lottery-num .num{color:#ffe36a;font-weight:bold;padding:0 2px;}

.mod-detail{background-color:#fff;border-radius: 5px;padding:1em;border:1px solid #b91511;}
.mod-detail .hd{text-align: center;color:#fff;border-top: 1px solid #d4302b;margin-top:1em;}
.mod-detail .hd .tit{background-color:#d4302b;width:40%;height:2em;margin:-1.5em auto 0; border-radius: 2em;border:.5em solid #fff;position: relative;font-size:116.67%;}
.mod-detail .hd .tit:before{content:"";display: inline-block;width:6px;height:6px;background-color:#d4302b;position: absolute;left:-.6em; border-radius: 3px; top:50%;margin-top:-3px;}
.mod-detail .hd .tit:after{content:"";display: inline-block;width:6px;height:6px;background-color:#d4302b;position: absolute;right:-.6em;border-radius: 3px; top:50%;margin-top:-3px;}
.mod-detail-ex{background: none;border:none;padding-top:0;}
.mod-detail-ex .hd{color:#e53c37;border-top-color: #fff;margin:1em 1em 0;}
.mod-detail-ex .hd .tit{background-color:#fff;border-color:#e53c37;}
.mod-detail-ex .hd .tit:before,.mod-detail-ex .hd .tit:after{background-color:#fff;}

.ewm{width:100%;}
.ewm-pic{width:45%;padding-right:1em;}
.ewm-info{vertical-align: bottom;text-align: right;}
.ewm-info .txt{color:#fff;text-align: center;line-height:1.4;}
.ewm-info .txt .tit{line-height:1.2;}
.ewm-info-img{vertical-align:bottom;}

.bottom-con{text-align: center;background: #c0322e;border-top:1px solid #ff645c;color:#fff;padding:1em 0;}
.bottom-con .txt{ vertical-align: middle;}
.bottom-con .btn-download{display: inline-block;padding: 0 .5em; background-color:#1cc46e;color:#fff;border-radius: 3px;margin:0 3px;}

.input-wrap{margin-top:1em;border-radius: 5px;}
.input-in{background: none;border:none;width:100%;box-sizing:border-box;padding:.8em;}
.input-txt{background-color:#fff;line-height:1;-webkit-box-shadow: 0px 1px 1px #7f1d1f;  -moz-box-shadow: 0px 1px 1px #7f1d1f; box-shadow:0px 1px 1px #7f1d1f;}
.input-txt-area{line-height: 1.4;}
.input-btn{font-size:133.33%;text-align: center;background:#ffe153 -webkit-linear-gradient(rgba(255,233,105,1) 0%, 
    rgba(255,255,83,1) 20%); background:#ffe153 -o-linear-gradient(rgba(255,233,105,1) 0%, 
    rgba(255,255,83,1) 20%); background:#ffe153 -moz-linear-gradient(rgba(255,233,105,1) 0%, 
    rgba(255,255,83,1) 20%);   background:#ffe153 linear-gradient(rgba(255,233,105,1) 0%, rgba(255,231,100,1) 30%, rgba(255,225,83,1) 30%,
    rgba(255,225,83,1) 100%); -webkit-box-shadow: 0px 5px 5px #7f1d1f;  -moz-box-shadow: 0px 5px 5px #7f1d1f; box-shadow:0px 5px 5px #7f1d1f;border-bottom: 3px solid #d2b323;}
.input-btn .input-in{font-weight: bold; height:2.4em;color:#5d4e09;padding:0;}

.tip{line-height: 1.6;margin-top:1em;}
.tip .tit{font-size:133.33%;color:#ffe153;}
.tip .txt{font-size:108.33%;color:#fff;}

.pop-box{position:fixed; width:100%;height: 100%;top:0;left:0;z-index: 1000;}
.mask{background: #000;opacity:.9;width:100%;height:100%;position: fixed;top:0;left:0;z-index: 999; display: none;}
.share-con{text-align: right;position: relative; margin-right: 20px;}

.pop-box-con{background: #fff;width:260px; position: absolute;left:50%;margin-left:-130px; top:10%;border-radius: 5px;padding:1em 2em;box-sizing:border-box; }
.btn-close{display:inline-block;background-color: #fff;width:2em;height:2em;border-radius: 2em;text-align: center;position: absolute;top:-1em;right:-1em;}
.pop-in{text-align: center;}
.pop-in .con,.pop-in .b-btn{margin:0 auto;}
.pop-in .b-btn{padding-bottom:1em;}
.pop-in .con {color:#242424;}
.pop-in .con .t{font-size:133.33%;}
.pop-in .con .t .imp{color:#e53c37;}
.pop-in .con .c{font-size:116.67%;text-align: left;border:1px solid #f6e696;background-color:#fff7ce;padding: .5em;line-height:1.4;}
.b-btn-link{display: block; font-size:133.33%;height:2em;border-radius: 2em;background-color:#e53c37;color:#fff;margin-top:.8em;box-sizing:border-box;}
.b-btn-link-ex{border:1px solid #ddd;background-color:#efefef;color:#242424;}
.input-phone{margin-top:.8em;}
.input-phone .txt{width:100%;box-sizing:border-box;border:2px solid #5e5e5e;text-align: center;padding:.8em 0;;font-size:108.33%;border-radius:7px;color:#5b5b5b;}
.input-phone .txt::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #5b5b5b; 
} 
.input-phone .txt:-moz-placeholder, textarea:-moz-placeholder { 
color: #5b5b5b; 
} 
.input-phone .txt::-moz-placeholder, textarea::-moz-placeholder { 
color: #5b5b5b; 
} 
.input-phone .txt:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #5b5b5b; 
} 
@media screen and (min-width: 375px) {
    .bottom-con{font-size:14px;}
}
@media screen and (min-width: 414px) {
    body{font-size:14px;}
}
@media screen and (min-width: 640px) {
    body{font-size:18px;}
    .lottery-num{font-size:14px;}
}


