<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    注意: 除了手动编辑此文件外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
    “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表可以在
    machine.config.comments 中找到，该文件通常位于
      \Windows\Microsoft.Net\Framework\vx.x\Config 中 
-->
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="WorkingDir" value="..\WanerDaoWorkDir" />
  </appSettings>
  <connectionStrings />
  <rewriter>
    <!--index and account-->
    <rewrite url="^~/index.html" to="~/index.aspx" />
    <rewrite url="^~/account/register.html" to="~/account/account_register.aspx" />
    <rewrite url="^~/account/login.html" to="~/account/account_login.aspx" />
    <rewrite url="^~/account/find_pass.html" to="~/account/Account_Find_Pass_Step1.aspx" />
    <rewrite url="^~/account/find_pass_2.html" to="~/account/Account_Find_Pass_Step2.aspx" />
    <rewrite url="^~/account/find_pass_3.html" to="~/account/Account_Find_Pass_Step3.aspx" />
    <rewrite url="^~/account/find_account.html" to="~/account/Account_Find_Account_Step1.aspx" />
    <rewrite url="^~/account/find_account_2.html" to="~/account/Account_Find_Account_Step2.aspx" />
    <rewrite url="^~/account/find_account_3.html" to="~/account/Account_Find_Account_Step3.aspx" />

    <rewrite url="^~/account/edit_pass.html" to="~/account/Account_Edit_Pass_Step1.aspx" />
    <rewrite url="^~/account/edit_pass_2.html" to="~/account/Account_Edit_Pass_Step2.aspx" />
    <rewrite url="^~/account/account_set_security.html" to="~/account/Account_Set_Security_Step1.aspx" />
    <rewrite url="^~/account/account_set_security_2.html" to="~/account/Account_Set_Security_Step2.aspx" />

    <!--search-->
    <rewrite url="^~/search.html" to="~/search/searchResult.aspx" />
    <rewrite url="^~/searchc.html" to="~/search/searchCommon.aspx" />
    <!--personal -->
    <rewrite url="^~/personal[^/]*$" to="~/personal/Personal_Home.aspx" />
    <rewrite url="^~/personal/index.html" to="~/personal/Personal_Home.aspx" />
    <rewrite url="^~/personal/personal_info.html" to="~/personal/Personal_Edit.aspx" />
    <rewrite url="^~/personal/private_set.html" to="~/personal/Private_Set.aspx" />

    <!--blog-->
    <rewrite url="^~/personal/blog.html" to="~/personal/Personal_Blog.aspx" />
    <rewrite url="^~/personal/blog_compose.html" to="~/personal/Personal_Blog_Compose.aspx" />
    <rewrite url="^~/personal/blog_set.html" to="~/personal/Personal_Blog_Set.aspx" />
    <rewrite url="^~/personal/blog_manage.html" to="~/personal/Personal_Blog_Manage.aspx" />
    <rewrite url="^~/personal/blog_view.html" to="~/personal/Personal_Blog_View.aspx" />

    <!--photo-->
    <rewrite url="^~/personal/photo_album.html" to="~/personal/Personal_Photo_Ablum.aspx" />
    <rewrite url="^~/personal/photo_album_manage.html" to="~/personal/Personal_Photo_Ablum_Edit.aspx" />
    <rewrite url="^~/personal/photo_album_preview.html" to="~/personal/Personal_Photo_album_Preview.aspx" />
    <rewrite url="^~/personal/photo_edit.html" to="~/personal/personal_photo_edit_byMiniature.aspx" />
    <rewrite url="^~/personal/photo_edit_by_list.html" to="~/personal/Personal_Photo_EditByList.aspx" />
    <rewrite url="^~/personal/photo_view.html" to="~/personal/Personal_Photo_View.aspx" />
    <rewrite url="^~/personal/photo_upload.html" to="~/personal/Personal_Photo_Upload.aspx" />

    <!--video-->
    <rewrite url="^~/personal/video_upload.html" to="~/personal/Personal_Video_Upload.aspx" />
    <rewrite url="^~/personal/video_album_manage.html" to="~/personal/Personal_Video_Album_Edit.aspx" />
    <rewrite url="^~/personal/video_manage.html" to="~/personal/Personal_Video_Edit.aspx" />
    <rewrite url="^~/personal/video_album.html" to="~/personal/Personal_Video_Album.aspx" />
    <rewrite url="^~/personal/video_album_preview.html" to="~/personal/Personal_Video_Album_Preview.aspx" />
    <rewrite url="^~/personal/video_view.html" to="~/personal/Personal_Video_View.aspx" />

    <!--message-->
    <rewrite url="^~/message/compose.html(.*)" to="~/message/message_compose.aspx" />
    <rewrite url="^~/message/compose_activity.html" to="~/message/Message_Compose_Activity.aspx" />
    <rewrite url="^~/message/compose_group.html" to="~/message/Message_Compose_Group.aspx" />
    <rewrite url="^~/message/inbox.html" to="~/message/Message_Inbox.aspx" />
    <rewrite url="^~/message/inbox_invite.html" to="~/message/Message_Inbox_Invite.aspx" />
    <rewrite url="^~/message/send.html" to="~/message/Message_Send.aspx" />
    <rewrite url="^~/message/send_invite.html" to="~/message/Message_Send_Invite.aspx" />
    <rewrite url="^~/message/delete.html" to="~/message/Message_Delete.aspx" />
    <rewrite url="^~/message/delete_invite.html" to="~/message/Message_Delete_Invite.aspx" />
    <rewrite url="^~/message/draft.html" to="~/message/Message_Draft.aspx" />
    <rewrite url="^~/message/view.html" to="~/message/Message_View.aspx" />
    <!--personal end -->

    <!--follow-->
    <rewrite url="^~/relationship/follow/follow_activity.html" to="~/relationship/follow/relationship_activity_follow.aspx" />
    <rewrite url="^~/relationship/follow/follow_group.html" to="~/relationship/follow/relationship_group_follow.aspx" />
    <rewrite url="^~/relationship/follow/follow_friends.html" to="~/relationship/follow/relationship_friends_follow.aspx" />
    <rewrite url="^~/relationship/follow/follow_module.html" to="~/relationship/follow/relationship_module_follow.aspx" />
    <rewrite url="^~/relationship/follow/follow_myself.html" to="~/relationship/follow/relationship_myself_follow.aspx" />
    <rewrite url="^~/relationship/follow/follow_posts.html" to="~/relationship/follow/relationship_posts_follow.aspx" />
    <!--post-->
    <rewrite url="^~/posts/post_main.html" to="~/posts/forum_main.aspx" />
    <rewrite url="^~/posts/post_detail.html" to="~/posts/forum_view.aspx" />


    <!--activity-->

    <rewrite url="^~/activity/activity_main.html" to="~/activity/activity_main.aspx" />
    <rewrite url="^~/activity/activity_search.html" to="~/activity/activity_search.aspx" />
    <rewrite url="^~/activity/activity_item_main.html" to="~/activity/activity_item_main.aspx" />
    <rewrite url="^~/activity/activity_create.html" to="~/activity/activity_create.aspx" />
    <rewrite url="^~/activity/activity_define_main.html" to="~/activity/activity_define_main.aspx" />
    <rewrite url="^~/activity/activity_season_main.html" to="~/activity/activity_season_main.aspx" />
    <rewrite url="^~/activity/activity_myactivity.html" to="~/activity/activity_myactivity.aspx" />
    <rewrite url="^~/activity/activity_signup.html" to="~/activity/activity_signup.aspx" />
    <rewrite url="^~/activity/activity_index.html" to="~/activity/activity_index.aspx" />
    <rewrite url="^~/activity/activity_album_view.html" to="~/activity/activity_album_view.aspx" />
    <rewrite url="^~/activity/activity_photo_view.html" to="~/activity/activity_photo_view.aspx" />
    <rewrite url="^~/activity/activity_album_upload.html" to="~/activity/activity_album_upload.aspx" />
    <rewrite url="^~/activity/activity_photo_edit.html" to="~/activity/activity_photo_edit.aspx" />
    <!-- relation-->
    <rewrite url="^~/relationship/relationship_myfriends.html" to="~/relationship/relationship_myfriends.aspx" />
    <rewrite url="^~/relationship/relationship_friends_search.html" to="~/relationship/relationship_friends_search.aspx" />
    <rewrite url="^~/relationship/relationship_friends_invite.html" to="~/relationship/relationship_friends_invite.aspx" />
    <rewrite url="^~/relationship/relationship_group_search.html" to="~/relationship/relationship_group_search.aspx" />
    <rewrite url="^~/relationship/relationship_group_create.html" to="~/relationship/relationship_group_create.aspx" />
    <rewrite url="^~/relationship/relationship_mygroup.html" to="~/relationship/relationship_mygroup.aspx" />
    <rewrite url="^~/relationship/relationship_gift_info.html" to="~/relationship/relationship_gift_info.aspx" />
    <rewrite url="^~/relationship/relationship_gift_market.html" to="~/relationship/relationship_gift_market.aspx" />

    <rewrite url="^~/relationship/relationship_mygroup_info.html" to="~/relationship/relationship_mygroup_info.aspx" />
    <rewrite url="^~/relationship/relationship_mygroup_info_manage.html" to="~/relationship/relationship_mygroup_info_manage.aspx" />
    <rewrite url="^~/relationship/relationship_mygroup_main.html" to="~/relationship/relationship_mygroup_main.aspx" />
    <rewrite url="^~/relationship/relationship_mygroup_member.html" to="~/relationship/relationship_mygroup_member.aspx" />
    <rewrite url="^~/relationship/relationship_mygroup_settings.html" to="~/relationship/relationship_mygroup_settings.aspx" />
    <rewrite url="^~/relationship/relationship_mygroup_finance.html" to="~/relationship/relationship_mygroup_finance.aspx" />

  </rewriter>
  <system.web>
    <globalization uiCulture="zh-cn" culture="zh-cn" />
    <!-- 
            设置 compilation debug="true" 可将调试符号插入到
            已编译的页面。由于这会
            影响性能，因此请仅在开发过程中将此值
            设置为 true。
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages enableSessionState="true">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add path="*_home.axd" validate="false" verb="*" type="WanerDao2.WanerDaoBLLFactory.Home.WanerDaoActionStateFactory" />
      <add path="*_video.axd" validate="false" verb="*" type="WanerDao2.WanerDaoBLLFactory.Person.WanerDaoVideoFactory" />
      <add path="*_gift.axd" validate="false" verb="*" type="WanerDao2.WanerDaoBLLFactory.relationship.WanerDaoGiftFactory" />
      <add path="*_group.axd" validate="false" verb="*" type="WanerDao2.WanerDaoBLLFactory.relationship.WanerDaoGroupFactory" />
      <add path="*_friend.axd" validate="false" verb="*" type="WanerDao2.WanerDaoBLLFactory.relationship.WanerDaoFriendsFactory" />
      <add path="*_photoalbum.axd" validate="false" verb="*" type="WanerDao2.WanerDaoBLLFactory.Person.WanerDaoPhotoFactory" />
      <add path="*_blog.axd" validate="false" verb="*" type="WanerDao2.WanerDaoBLLFactory.Person.WanerDaoBlogManagerFactory" />
      <add path="*_message.axd" validate="false" verb="*" type="WanerDao2.WanerDaoBLLFactory.Message.WanerDaoMessageFactory" />
      <add verb="*" path="*_activity.axd" validate="false" type="WanerDao2.WanerDaoBLLFactory.Activity.WanerDaoActivityFactory,WanerDaoBLLFactory" />
      <add verb="*" path="*_personsecurity.axd" validate="false" type="WanerDao2.WanerDaoBLLFactory.Person.WanerDaoPersonSecurityFactory, WanerDaoBLLFactory" />
      <add verb="*" path="*_login.axd" validate="false" type="WanerDao2.WanerDaoBLLFactory.Person.WanerDaoPersonSecurityFactory, WanerDaoBLLFactory" />
      <add verb="*" path="*_registered.axd" validate="false" type="WanerDao2.WanerDaoBLLFactory.Person.WanerDaoPersonSecurityFactory, WanerDaoBLLFactory" />
      <add verb="*" path="*_personal.axd" validate="false" type="WanerDao2.WanerDaoBLLFactory.Person.WanerDaoPersonalInfoFactory, WanerDaoBLLFactory" />
      <add verb="*" path="*_common.axd" validate="false" type="WanerDao2.WanerDaoBLLFactory.WanerDaoCommonFactory, WanerDaoBLLFactory" />
      <add verb="*" path="*_follow.axd" validate="false" type="WanerDao2.WanerDaoBLLFactory.Follow.WanerDaoFollowFactory, WanerDaoBLLFactory" />
      <add verb="*" path="*_tool.axd" validate="false" type="WanerDao2.WanerDaoBLLFactory.PersonalTool.WanerDaoPersonalToolsFactory, WanerDaoBLLFactory" />
      <add verb="*" path="*_posts.axd" validate="false" type="WanerDao2.WanerDaoBLLFactory.Posts.WanerDaoPostsFactory, WanerDaoBLLFactory" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" name="UrlRewriter" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <!--<sessionState mode="InProc" cookieless="false" timeout="20" />-->
    <sessionState
                        mode= "InProc"
                        stateConnectionString= "tcpip=127.0.0.1:42424"
                        sqlConnectionString= "data source=127.0.0.1;Trusted_Connection=yes"
                        cookieless= "false"
                        timeout="20"
        />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="UrlRewriter" />
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" preCondition="" />
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="wanerdao_home" path="*_home.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.Home.WanerDaoActionStateFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="wanerdao_gift" path="*_gift.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.relationship.WanerDaoGiftFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="wanerdao_video" path="*_video.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.Person.WanerDaoVideoFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="wanerdaogroup" path="*_group.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.relationship.WanerDaoGroupFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="wanerdaofriend" path="*_friend.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.relationship.WanerDaoFriendsFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="wanerdaophotoalbum" path="*_photoalbum.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.Person.WanerDaoPhotoFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="wanerdao_blog" path="*_blog.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.Person.WanerDaoBlogManagerFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="wanerdao_message" path="*_message.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.Message.WanerDaoMessageFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="wanerdao_areacommon" path="area_common.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.WanerDaoCommonFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="wanerdao_follow" path="*_follow.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.Follow.WanerDaoFollowFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="wanerdao_tool" path="*_tool.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.PersonalTool.WanerDaoPersonalToolsFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="wanerdao_activity" path="*_activity.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.Activity.WanerDaoActivityFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="wanerdao_personal" path="*_personal.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.Person.WanerDaoPersonalInfoFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="wanerdao_registered" path="*_registered.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.Person.WanerDaoPersonSecurityFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="wanerdao_login" path="*_login.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.Person.WanerDaoPersonSecurityFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="PersonSecurityFactory" path="*_personsecurity.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.Person.WanerDaoPersonSecurityFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="WanerdaoCommonFactory" path="*_common.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.WanerDaoCommonFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="WanerdaoPostsFactory" path="*_posts.axd" verb="*" type="WanerDao2.WanerDaoBLLFactory.Posts.WanerDaoPostsFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISearchService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://23.21.236.7/SearchService/SearchService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISearchService"
          contract="SearchReference.ISearchService" name="WSHttpBinding_ISearchService">
        <identity>
          <dns value="23.21.236.7" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <castle>
    <include uri="file://../WanerDaoWorkDir/IOCConfig/properties.config"/>
    <include uri="file://../WanerDaoWorkDir/IOCConfig/services.config"/>
  </castle>

</configuration>