@charset "gb2312";
/**
* @site:	
* @author:	yuzhihui
* @create:	2013/03/13
* @update:	
*/

/* CSS Reset */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, big, em, font, img, strong, tt, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td { padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
input, select, textarea { font-size:12px }
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
.util-login-dialog a { text-decoration: none; color: #333; }
.util-login-dialog a:hover { text-decoration:none; color: #9a0202; }
.util-login-dialog .clear{ clear:both;}
.util-login-dialog .family{ font-family:microsoft yahei; font-weight:bold; font-size:16px;}
.util-login-dialog { background-color:#fff; color: #333; font-size: 12px; overflow: hidden; width: 490px;  background-color:#fff; border:1px solid #d6d6d6;}
.util-login-dialog .dialog-header {  border-bottom: 1px solid #d6d6d6; font-family:microsoft yahei; height: 60px;  position: relative; line-height:60px; background: url(../images/title.gif) no-repeat ;} 
.util-login-dialog .dialog-header h2{ font-size:22px; color:#333333; padding-left:110px; font-weight:normal; }
.util-login-dialog .dialog-header em{ width:32px; height:32px; float:right; position:absolute; top:15px; right:15px;}
.util-login-dialog .dialog-header em a{ background: url(../images/close.gif) no-repeat; display:block; width:32px; height:32px;}
.util-login-dialog .dialog-header em a:hover{ background-position:0 -32px; }

.util-login-dialog .login-tips { position:absolute; top:-42px; margin:15px 0 0;background:url(../images/warm.gif) no-repeat 5px 5px #f9f5c7; border:1px solid #dad699; width:280px; height:16px; line-height:16px; font-size:12px; padding:5px 5px 5px 25px; display:block;}
.util-login-dialog .login-item{ position: relative; margin-top: 30px;}
.util-login-dialog .dialog-con{ width:322px; padding:0px 79px 0 79px; position: relative;}
.util-login-dialog .dialog-con .input{ width:302px; height:18px; margin-bottom:15px; line-height:18px; padding:10px;  background: url(../images/input.gif) no-repeat; border:none; display:block; color:#ccc;}
.util-login-dialog .dialog-con .radio{ margin-bottom:15px; float:left; _display:inline;}
.util-login-dialog .dialog-con .radio span{ margin-bottom:5px;}
.util-login-dialog .dialog-con .button{ width:126px; height:41px; line-height:41px; text-align:center; font-size:16px; font-weight:bold; margin-bottom:15px; _display:inline;  }
.util-login-dialog .dialog-con .button a{ width:126px; height:41px; display:block; background: url(../images/button.gif) no-repeat; color:#FFF; text-align:center;}
.util-login-dialog .dialog-con .button a:hover{ background-position:0 -41px; color:#FFF;}

.util-login-dialog .dialog-con .login-word{  height:40px; line-height:40px; display:block; padding:10px 0;}
.util-login-dialog .dialog-con .login-word b{ height:40px; line-height:40px; font-weight:normal; display:inline-block; *display:inline; *zoom:1; width:90px;}
.util-login-dialog .dialog-con .login-word p{ display:inline-block;*display:inline; *zoom:1;}

.util-login-dialog .login-icon ,
.util-login-dialog .login-icon2{ width:24px; height:24px; }
.util-login-dialog .login-icon{ margin:0 10px 0 0;display:inline-block; *display:inline; *zoom:1;}
.util-login-dialog .login-icon a ,
.util-login-dialog .login-icon2 a{ width:24px; height:24px; display:block; float:left;  background: url(../images/icon.gif) no-repeat; }
.util-login-dialog .login-icon2 a{ background-position:-24px 0;}
.util-login-dialog .login-icon a:hover{ background-position:0 -24px;}
.util-login-dialog .login-icon2 a:hover{ background-position:-24px -24px;}

.util-login-dialog .checkbox{ margin:5px 5px 0 0;}
.util-login-dialog .login-forgin{display:inline-block; *display:inline; *zoom:1; padding-left:28px; color:#ddd; padding-bottom:6px; padding-left:26px;}
.util-login-dialog .login-forgin a{ color:#333;  margin:0 4px;}
.util-login-dialog .login-forgin a:hover{ color:#59b2f1; text-decoration:underline;}

.util-login-dialog .code{ padding:0 0 10px; display:block; width:320px;height:56px;}
.util-login-dialog .code img{ width:150px; height:56px; background:#fafafa; border:1px solid #efefef; display:block; float:left;}
.util-login-dialog .code a{ color:#333; float:left; line-height:18px;  cursor:pointer; margin:18px 0 0 8px; }
.util-login-dialog .code a:hover{ color:#59b2f1; text-decoration:underline;}