<HTML>
<HEAD>
<TITLE> layout 布局 </TITLE>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="../css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="../css/efs-all.css" />
<script type="text/javascript" src="../js/loadmask.js"></script>
<script type="text/javascript" src="../js/efs-all.js"></script>
</HEAD>
<BODY>

<div region="north" height="100" title="north部分">North部分</div> 
<div region="south" height="100" title="South部分">South部分</div>
<div region="west" width="150" title="West部分">West部分</div>
<div region="east" width="150" title="East部分">East部分</div>
<div region="center">中间部分<BR><BR>简单的div标签，即可快速构造该页面布局，不再需要繁杂的js代码</div>
</BODY>
</HTML>
