.header {
  background: #22292c;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 10px 70px;
  min-height: 40px;
}
.header .icon {
  font-size: 20px;
  vertical-align: middle;
}
.header a {
  color: #fff;
}
.header .btn-left,
.header .btn-right {
  width: 70px;
  position: absolute;
}
.header .btn-left {
  left: 0;
}
.header .btn-right {
  right: 0;
}
