// TODO mobile header

.header
    -width = 70px;
    background:#22292c;
    color: #fff;
    font-size 16px;
    text-align center;
    padding 10px  -width;
    min-height 40px;
    .icon
        font-size 20px;
        vertical-align middle
    a
        color #fff;
    .btn-left,
    .btn-right
        width  -width;
        position absolute;
    .btn-left
        left: 0;
    .btn-right
        right: 0;