@charset "utf-8";
/*
* @name		:Template
* @author	:czy
* @version	:1.0.0.0
* @type		:公共
* @explain	:
* @relating	:
* @dependent:
* @date     : 2011-05-16
* @qq       : 274142680@qq.com
*/

/* global */
html{ background:#f2f2f2;}
body{font:14px/1.2 "宋体";background:#fff;color:#999999;}
/* end  global */

.text,.placeholder-overlay{ border:1px solid #d9d9d9; background:#e9e9e9; color:#999999;font-family:"微软雅黑"; font-size:24px; width:320px; padding:0 10px; height:50px; line-height:50px; text-align:left; }
input.focus{ border:1px solid #73b200; background:#fff;}

/* -- template -- */

.footer,
.container
{ margin:0 auto; width:960px;}


.header{ background:#272727; height:73px; padding:0 10px;}
.header-nav{ text-align:right;}
.header-nav, .header-nav a{font-size:30px; color:#999999; font-family:"微软雅黑";}
.header-nav a{ display:inline-block; padding:0 40px; height:73px; line-height:73px; position:relative;}
.header-nav a:hover{ text-decoration:none;}
.header-nav a.selected{ background:#73b200; color:#272727;}
.header-nav a.selected span{ background:url(../images/allowhead.png) no-repeat; width:26px; height:14px; position:absolute; left:10%;  bottom:-14px; _bottom:-40px; display:inline-block; }

.form{ font-family:"微软雅黑"; }
.form a{ color:#339900; font-size:16px; margin:0 20px;}
.form li{ margin-bottom:25px;}
.form .buttons .submit{height:50px; line-height:50px; width:145px; font-size:30px; border:none; background:#73b200; color:#272727;font-family:"微软雅黑"; margin:0;}
.form .options{ text-align:right; margin-right:-20px; font-family:"宋体"}
.form .checkbox{ margin-right:10px;}
.form .tips{ display: inline-block; padding-left: 20px; background: url(../images/exclamatory.png) no-repeat 0 center; padding-left: 14px; vertical-align: middle;}
.form .error{color: red;}
.form .terror{border:1px solid  red;}
.form img{ vertical-align: middle;}

.regform{margin-top: 40px; font-size: 16px; margin-bottom: 40px;}
.regform .buttons a{margin: 0;}
.regform .buttons .submit{ margin-right: 10px;}
.regform .text{margin-right: 30px;vertical-align: middle;}
.regform .identify{width:139px;}
.regform .identifyimg{ margin-right: 20px;}

.loginform{ width:450px;text-align:right;float:right;margin-top:120px;}
.loginform .checkbox{ margin-right:-10px;}

.regsec{ background: url(../images/logomao.jpg) right bottom no-repeat;}

.loginfn{ margin:10px 10px 40px 100px; font-family:"微软雅黑";}
.loginfn .label{ font-size:18px;display:inline-block; border-right:1px solid #d8d8d8; vertical-align:text-bottom; padding:40px 10px 0 0;}
.loginfn a{ display:inline-block; width:48px; height:48px; border-radius:5px; background:url(../images/lognfns.png) no-repeat; margin-left:40px;}
.loginfn a:hover{ background:url(../images/lognfns-selected.png) no-repeat ;}
.loginfn a.sina{ background-position:0 7px;}
.loginfn a.qq{ background-position:-85px 0;}
.loginfn a.rr{ background-position:-169px 0;}
.loginfn a.sina:hover{ background-position:0 0;}
.loginfn a.qq:hover{ background-position:-71px 0;}
.loginfn a.rr:hover{ background-position:-142px 0;}

.login-user{ text-align: left; margin-left: 20px;}
.login-user .photo{ border: 1px solid #ddd; padding:2px;float:left; margin-right: 20px;}
.login-user .userinfo{ overflow:hidden; line-height: 30px;}
.login-user .userinfo .name{ color: #339900; font-size: 18px; margin-right: 10px;}
.login-user h3{font-weight: normal; font-size: 18px;  background: url(../images/icon.png) no-repeat 0 5px;  padding-left: 22px; margin-bottom: 10px;}
.login-user .lastlogin a{ line-height:25px; color: #585858; font-family: "宋体";}

.loginbox{border:10px solid #272727; position: absolute;width:430px; background: #fff;}
.loginbox .box-inner{position: relative; padding: 40px; }
.loginbox .close{ position:absolute; right: 0px; top:0; background: url(../images/box-close.png) no-repeat;width:33px; height: 33px;}
.loginbox .close:hover{background-position:0 -33px;}
.loginbox .buttons{ text-align: center; margin-bottom: 0;}


.footer-wrap{ text-align:center; font-size:12px; padding:20px 0;  background:url(../images/footer-bg.gif) repeat-x; margin-top: 20px;}
.footer,.footer a{ color:#999;}
/* -- end template -- */