.container{ font-size:12px; color:#636466;}
em{ color:#e44d4d;}

.private-box{ margin:10px; margin-bottom:30px;}
.private-box h3{ color:#1684a7;}
.private-box h3 span{ display:inline-block; background:#17a5ca; border:1px solid #42d4ec; width:8px; height:8px; margin:0 10px; color:#fff; vertical-align:middle; font-size:10px; line-height:10px;  text-align:center;}
.private-box .box-panel{ margin:10px 0; background:#f9fdff; border:1px solid #c7ddea; padding:10px 30px;}

.private-form label{ width:200px; display:inline-block;}
.private-form li{ margin:5px 0;}

.settings li{ display:inline-block; *display:inline; zoom:1; margin:0 10px; padding-left:30px; line-height:26px; font-weight:bold;}
.settings li.settings-item1{background:url(../images/private_set_note.png) no-repeat ;}
.settings li.settings-item2{background:url(../images/private_set_photo.png) no-repeat ;}
.settings li.settings-item3{background:url(../images/private_set_video.png) no-repeat ;}

.rights{ padding:10px 30px; margin:20px 0; background:#f9f9f9; border:1px solid #e1e1e1; color:#1683a6;}
.rights li{ margin:10px 0;}
.rights a{ display:inline-block; margin-left:10px; background:url(../images/right_opts.png) no-repeat; width:20px; height:20px; vertical-align:middle;}
.rights a.edit{ background-position:0 0 ;}
.rights a.del{ background-position:-32px 0 ;}

.right-setting{}
.right-setting h3{ margin-bottom:10px;}
.right-setting > p{ margin:10px 0;}
.right-setting .button{ background:#eeeeee; border:1px solid #cfcfcf; height:25px; width:50px; margin-left:10px;}
.right-setting .tips-1{ margin:10px 0; width:70%;}



.steps li{ display:inline-block; *display:inline; zoom:1; margin-right:10px; padding-left:30px; background-position:left center;}
.steps li.steps-item1{background:url(../images/no.1.png) no-repeat 0 center;}
.steps li.steps-item2{background:url(../images/no.2.png) no-repeat 0 center;}
.steps li.steps-item3{background:url(../images/no.3.png) no-repeat 0 center;}
