body,body a{ color:#744a58;}

/* sinfo */
.sinfo h3{ /*text-align: center;*/ margin: 0 0 20px 0; padding: 0; float: none; font-weight: bold; }
.sinfo .sinfo-side{ float: left; margin-right: 10px;}
.sinfo .sinfo-content{overflow: hidden;}
.sinfo p{font-size:12px; line-height: 25px;}

.container{width: 960px; margin:0 auto; padding-top: 30px; position: relative;}


.mod{ margin-bottom: 10px;}
.mod h3{ font-weight: normal;}
.mod .mod-header{font-family: '微软雅黑'; }
.mod .mod-body{}
.mod .mod-footer{ height: 23px; background: url(../images/pink/line.png) no-repeat;}
.mod .mod-body-side{ float: right; margin-left: 10px; width: 360px;}

.icon-add{background: url(../images/add.png) no-repeat; width: 15px; height: 15px;}
.icon-more{background: url(../images/pink/add.png) no-repeat; width: 15px; height: 15px;}
.icon-news,
.icon-vote,
.icon-star{ background: url(../images/pink/words.png) no-repeat;}
.icon-news{width: 70px; height: 22px;overflow: hidden;}
.icon-vote{width: 62px; height: 22px; background-position: 0 -22px; overflow: hidden;}
.icon-star{width: 15px; height: 15px; background-position: 0 -44px;overflow: hidden;}

.more{ color: #ffa4d1; display: inline-block; font-weight: bold; margin: 0 5px; }
.more span{ vertical-align: middle; }
.more .icon{ _margin-top: 10px;}

.firstmod .mod-header h3 .more{color: #ffa4d1; }
.firstmod .mod-header h3{ border-left: 2px solid #e63094; color: #e63094; padding-left: 5px; float: left;margin-top: 17px;font-size: 18px; }
.firstmod .mod-header{ background: url(../images/pink/line.png) no-repeat left bottom;height: 63px; padding: 0 33px;}
.firstmod .mod-header .title{ float: right; background: url(../images/pink/title.png)  no-repeat; width: 350px; height: 36px; }
.firstmod p{float: left; width: 580px; line-height: 34px; text-indent: 2em;}
.firstmod .mod-body{ padding:20px  0 ;}

.votemod{ background: url(../images/vote-bg.png) no-repeat; margin-top: -5px; height:186px;}
.votemod .votemod-title{ float: right; color: #e63094; font-size: 24px; text-align: center; padding:16px 19px 0 0; overflow: hidden; height: 55px;}
.votemod .mod-header{ height: 70px; background: none; color: #FFA4D1; font-family: '微软雅黑';}
.votemod .mod-header .icon{ margin-top: 5px;}
.votemod .icon-news{ display: block;}
.votemod .mod-body{ padding: 20px  20px 0  20px;}
.votemod .mod-header h3{ float: left; border: none;}
.votemod li{ background: url(../images/talk.png) no-repeat left center; margin:10px 0 ; padding-left: 26px; font-size: 12px; height: 19px;}

.photo{ border: 1px solid #eaeaea; padding: 10px;}

.sumphotos{}
.sumphotos li{ float: left; margin-right: 15px; position: relative;}
.sumphotos li.last{ margin-right: 0px;}
.sumphotos li,
.sumphotos img{width: 167px; height: 133px;}
.sumphotos .sumphotos-summary{ position: absolute; left: 0; bottom:0;width: 100%;}

.summary{ position: relative;width: 100%;}
.summary-overlay{ position: absolute; left: 0; top: 0;background: #000; filter:alpha(opacity=50);opacity:0.5; }
.summary-content{  text-align: center; position: relative;}
.summary-content .icon{ width: auto; padding-left: 20px; height: auto; background-position: 0 center; }
.summary-overlay,
.summary-content{ height: 30px; line-height: 30px; width: 100%;color:#e63094; font-size: 12px;display:block ;}


.sectmod .mod-header{ background: url(../images/pink/mod-header-bg.png) no-repeat; height: 44px; line-height: 44px;padding: 0 10px;}
.sectmod h3{ float: left; padding-left: 63px; color: #fff;font-size: 16px;}
.sectmod .more{ float: right; margin: 17px 9px 0 0; _margin: 15px 9px 0 0; height: 31px; line-height: normal; }

.sectmod .personlist{width: 500px; float: left;}
.sectmod .mod-body{padding: 10px 0;}
.sectmod .mod-body-side{ float: right; margin-left: 10px; width: 360px; border: 1px solid #ddd; padding: 10px;}

.personlist li{ margin-bottom: 10px ; border-bottom: 1px dashed #ddd; }
.personlist li .title{ line-height: 30px;}
.personlist li:hover,.personlist .selected{ background: #f7f7f7;}
.personlist li:hover .title,.personlist .selected .title{font-weight: bold;}

.personlist .date{ color: #adadad; margin-right: 20px; float: left;}
.personlist .date span{ font-size: 22px;}
.personlist .person-content{ overflow: hidden;}
.personlist p{ text-indent:0; margin-top: 2px; display: none;}

.list-item-icon{ font-size: 10px; color: #acacac; margin-right: 10px;}

.sectmod .eventsinfo{ padding: 20px; width: 378px; margin-right: 10px;}
.eventsinfo h3{ color: #e63094; float: none; margin-left:0;font-weight: bold;}
.eventsinfo .sinfo-more{ color:#E63094; float: none; margin-left:0;}

.slider{ position: relative; overflow: hidden; height: 320px; width: 960px;}
.slider .prev,
.slider .next{ background: url(../images/pink/page.png) no-repeat; width: 37px; height: 49px; position: absolute; top:130px; z-index: 2;}
.slider .next{ background-position: -37px 0; right: 10px;}
.slider .prev{left:10px;}
.slider .prev-active,
.slider .prev:hover{background-position: 0px -44px;}
.slider .next-active,
.slider .next:hover{background-position:-37px -47px;}

.slider .slider-list{width: 1500px;}
.slider .slider-list li{float: left; margin-right:2px; position: relative; width: 180px; overflow: hidden; }
.slider .slider-list li.current{width: 400px;}
.slider .slider-summary{ position: absolute; left: 0; bottom:0;width: 100%;}

.vpage{ position: absolute; top: 200px; right:-100px; }
.vpage a{display: block; margin-bottom: 10px; border: 1px solid #ddd;width: 50px; text-align: center; font-size: 12px; padding: 25px 0 10px 0;   }
.vpage .vpage-prev,
.vpage .vpage-next{ background:#fbfbfb url(../images/pink/vpage.png) no-repeat 8px 6px;color: #fe7dbe;}
.vpage .vpage-next{ background-position:8px -44px;}
.vpage .vpage-prev-disable,
.vpage .vpage-next-disable{ background:#f5f5f5 url(../images/vpage-disable.png) no-repeat  8px 6px;color: #b9b9b9;}
.vpage .vpage-next-disable{ background-position:8px -44px;}


/* 留言版 */
.msgboard{}
.msgboard .msgboard-header{padding: 10px;}
.msgboard .msgboard-header{zoom:1;}
.msgboard .msgboard-header:after{content:".";height:1%;display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both; *display:none;}
.msgboard .msgboard-header-title{ float: left; font-size: 14px;}
.msgboard .msgboard-header-opts{float: right;}
.msgboard .msgboard-footer{ padding: 10px; }
.msgboard .msgboard-footer-left{ padding: 10px; }
.msgboard .msgboard-footer-right{ padding: 10px; }
.msgboard .msgboard-side{ float: left; width: 75px;text-align: center; margin-right: 10px;}
.msgboard .msgboard-photo{border: 1px solid #ddd; padding: 5px; width: 60px; height: 60px;}
.msgboard .msgboard-photo-name{ margin-top:0px; }
.msgboard .msgboard-main{ overflow: hidden;  line-height: 25px;}
.msgboard .msgboard-main-footer{zoom:1;}
.msgboard .msgboard-main-footer:after{content:".";height:1%;display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both; *display:none;}
.msgboard .msgboard-date{ float: left;}
.msgboard .msgboard-opts{ float: right;}
.msgboard .msgboard-opts a,
.msgboard .msgboard-opts span{ margin-left:10px;}
.msgboard p{ text-indent: 0; min-height: 70px;}
.msgboard li{ border-bottom: 1px dashed #ddd; padding: 10px;zoom:1; font-size: 12px;}
.msgboard li:after{content:".";height:1%;display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both; *display:none;}
.msgboard li:hover{ background: #fcf6f5;}

.leavemsgboard{ margin:10px 0;}
.leavemsgboard .msgboard-header{border-bottom: 1px solid #ddd;padding: 0;}
.leavemsgboard .msgboard-header span{ font-weight: normal; font-size: 12px; margin-left: 10px;}
.leavemsgboard .msgboard-header-title{border-bottom: 2px solid #ed5603; margin-bottom: -1px; padding: 10px; }
.leavemsgboard em{ color: #ff0000;}
.leavemsgboard .leavemsgboard-tab{ margin-bottom: -1px; margin-right:30px;}
.leavemsgboard .leavemsgboard-tab a{ padding:10px 20px; display: inline-block;  margin-left: -1px;position: relative;}
.leavemsgboard .leavemsgboard-tab .selected{border: 1px solid #ddd;  border-bottom-color:#fff;}
.leavemsgboard .msgboard-opts{ color: #a3858f;}

.identify {
    width: 50px;
}
/* 发送框 */
.sendbox{ margin: 10px 0;}
.sendbox .toolbar span{ color: #adadad;}
.sendbox .sendbox-header{}
.sendbox .sendbox-text{border:1px solid #ddd; height: 100px; margin: 10px 0; width: 100%; }
.sendbox .sendbox-footer{zoom:1;}
.sendbox .sendbox-footer:after{content:".";height:1%;display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both; *display:none;}
.sendbox .sendbox-tips{ color:#adadad; float:left; font-size: 12px; }
.sendbox .sendbox-opts{ float: right;}
.sendbox .sendbox-opts a,
.sendbox .sendbox-opts span,
.sendbox .sendbox-opts input{margin-right: 10px;}

/* toolbar */
.toolbar{padding: 5px 10px; font-size: 12px;}
.toolbar input,
.toolbar a,
.toolbar span,
.toolbar label{margin-right: 10px;}

.newsendbox .sendbox-text{ background: #f9f9f9;}
.newsendbox .button{ background: #f3f3f3; border: 1px solid #ddd; border-radius: 10px; font-size: 12px; color:#ed5603; padding: 0px 5px;}



#slides { position:relative; height:440px; overflow:hidden;}
#slides,
.slides_container{width:960px;}
.slides_container {display:none; margin:0 auto;}
.slides_container .slide {width:980px;height:440px;}

.slides_container .slide li {float:left;width:180px;height:440px; overflow:hidden; margin-right:2px; position:relative;}
.slides_container .slide li img { display:block;height:440px;}
.slides_container .slide li span { background:#000; width:180px; height:42px; display:block; cursor:pointer; position:absolute;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6;left:0; bottom:0;}
.slides_container .slide li p { cursor:pointer; position:absolute;width:160px; height:42px; line-height:42px; text-align:center; font-size:14px; color:#fe7dbe;  font-weight:bold; overflow:hidden;left:10px; bottom:0;}
.slides_container .slide li img,
.slides_container .slide li.sopen,
.slides_container .slide li.sopen span { width:414px;}
.slides_container .slide li.sopen p { width:414px; left:10px;}

#slides .prev { position:absolute;width:36px;height:86px; display:block;top:190px;left:0; overflow:hidden; text-indent:-1000px; background:url(../images/ico_arrow.png) right top;_background:url(../images/ico_arrow_ie6.png) right top;_filter:alpha(opacity=60);z-index:1000; outline:none;}
#slides .next { position:absolute;width:36px;height:86px; display:block;top:190px;right:0; overflow:hidden; text-indent:-1000px; background:url(../images/ico_arrow.png) left top;_background:url(../images/ico_arrow_ie6.png) left top;_filter:alpha(opacity=60);z-index:1000; outline:none;}
