
.mod .mod-footer{ background-image: url(../images/red/line.png);}
.icon-more{background-image: url(../images/red/add.png);}
.icon-news,
.icon-vote,
.icon-star{ background-image: url(../images/red/words.png);}

.more,
.firstmod .mod-header h3,
.summary-content,
.votemod .votemod-title,
.votemod .mod-header,
.eventsinfo h3,
.eventsinfo .sinfo-more,
.leavemsgboard em,
.newsendbox .button,
.slides_container .slide li p,
.firstmod .mod-header h3 .more{color: #cc0000; }
.firstmod .mod-header h3{border-left-color:  #cc0000;}
.leavemsgboard .msgboard-header-title{border-bottom-color:  #cc0000;}

.vpage .vpage-prev,
.vpage .vpage-next{background-image:url(../images/red/vpage.png)}

.firstmod .mod-header{ background-image: url(../images/red/line.png);}
.votemod .mod-header{background: none;}
.firstmod .mod-header .title{  background-image: url(../images/red/title.png);  width: 400px;  }

.sectmod .mod-header{ background-image: url(../images/red/mod-header-bg.png); }

.slider .prev,
.slider .next{ background-image: url(../images/red/page.png) ; }

.vpage .vpage-prev,
.vpage .vpage-next{ color: #b80000;}