body{
    background: url(bg-1220.jpg) no-repeat center top;
}

.w980{
    background: url(bg-980.jpg) no-repeat center top;
}

.logo a, .logo a img {
    width:131px;
    height:53px;
    background: url('logo.jpg') no-repeat;
    text-indent:-999px;
}