@charset "utf-8";
/*
* @name		:Template
* @author	:czy
* @version	:1.0.0.0
* @type		:公共
* @explain	:
* @relating	:
* @dependent:
* @date     : 2011-05-16
* @qq       : 274142680@qq.com
*/
/* ************ template ************* */

/* template */
html{background:#fff}
body {color:#000;width:1000px; font-family:'宋体'; margin:0 auto; background:url(../images/bg-background.jpg)  repeat-y -5px 0;}
a{blr:expression(this.onFocus=this.blur());} /* IE */
a{outline:none;}/* FF */

.container{width:912px; margin:0 auto;}

/* grid */
.grid .g-l-274{width:274px; float:left;}
.grid .g-l-470{width:470px; float:left;}
.grid .g-l-517{width:517px; float:left;}
/* button */
.btn-1{ background:url(../images/btn-1.png) no-repeat;width:234px; height:61px; display:block;}
.btn-2{ background:url(../images/btn-2.png) no-repeat;width:234px; height:61px; display:block;}
.btn-login{ background:url(../images/btn-login.png) no-repeat; }
.btn-regist{background:url(../images/btn-regist.png) no-repeat;}
.btn-login,
.btn-regist{width:50px; height:19px; border:none;}
/* line */

/* element */
.ind-9{ text-indent:9em}

/* -- template -- */
.topbar{ background:url(../images/bg-top.jpg) repeat-x; height:40px; line-height:40px;}
.topbar a{ margin:0 5px;}
.topbar span{ margin:0 10px;}
.topbar .text{ border:1px solid #7f9db9;width:107px; height:19px; margin:0 5px;}
.topbar .red{ color:#ff0000;}

.header{background:url(../images/banner.jpg) no-repeat; height:326px;font-weight:bold; font-size:15px;}
.selector{background:url(../images/bg-selector.jpg) no-repeat; height:179px; margin:28px 0; padding:0.01px; margin-top:0;}
.selector .content{margin:25px 0; text-align:center; font-size:15px; font-weight:bold; }
.selector .content a{ margin:10px 0; display:inline-block; *display:inline; zoom:1;}


.detail{background:url(../images/bg-body.jpg) no-repeat; height:542px;}
.detail .content{ padding:70px 45px; font-weight:bold;line-height:22px;}
.detail .content h3{ color:#d60000; font-size:18px; margin:10px 0;} 
.detail .content p{ font-size:16px;}
.detail .download{ display:block; width:135px; height:49px; margin:388px 0 0 125px;}

.footer{background:url(../images/bg-footer.jpg) no-repeat; height:228px;  width:815px;margin:0 auto; padding:10px 30px; font-weight:bold; font-size:16px; line-height:27px;}
.footer h3{ font-size:25px; font-weight:bold; text-align:center;}
