@charset "utf-8";
/* -----------------------  make object  --------------------------------- */
/* ------------------------------------------------------------------------------------------------  */
/*
翻页
@params {string} background #fffff | url('')
@params {px} width
@params {px} height
@params {string} border
@params {string} disabled-border
*/
/**
创建星星标识
@param width 单一宽度
@param height 单一高度
@param  url 背景图片地址
@param count 最大个数
*/
/**
创建弹出窗口
@param width 图片宽度
@param height 图片高度
*/
/* ----------------------- end  make object  --------------------------------- */.left {
  float: left;
  _margin-right: -3px;
}
.right {
  float: right;
  _margin-left: -3px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.error {
  color: red;
}
.success {
  color: green;
}
/* -----------------------  make object  --------------------------------- */
/* ------------------------------------------------------------------------------------------------  */
/*
翻页
@params {string} background #fffff | url('')
@params {px} width
@params {px} height
@params {string} border
@params {string} disabled-border
*/
/**
创建星星标识
@param width 单一宽度
@param height 单一高度
@param  url 背景图片地址
@param count 最大个数
*/
/**
创建弹出窗口
@param width 图片宽度
@param height 图片高度
*/
/* ----------------------- end  make object  --------------------------------- *//* global */
body {
  font: 12px/1.2 '宋体';
  background: #0e0c0d;
  color: #c39768;
}
em {
  color: red;
}
.red-btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  width: 225px;
  height: 58px;
  line-height: 28px;
  color: #fff;
  font-weight: bold;
  background: url('../images/red-btn.jpg') no-repeat 0 0;
  border: none;
  font-size: 16px;
}
.red-btn:hover {
  text-decoration: none;
}
.red-btn:hover {
  text-decoration: none;
}
.red-btn:hover {
  text-decoration: none;
}
.red-btn:hover {
  text-decoration: none;
}
.sm-box {
  background: url('../images/sm-box.png') no-repeat 0 0;
  width: 54px;
  height: 58px;
  display: inline-block;
  vertical-align: middle;
}
/* end  global */
/* -- template -- */
.navgation,
.nav-inner,
.footer,
.container {
  margin: 0 auto;
  width: 980px;
}
.nav {
  background: url('../images/nav-bg.jpg') no-repeat center;
  height: 92px;
}
.nav span {
  font-weight: bold;
  color: #f4840c;
}
.nav .collect,
.nav .regist {
  right: 39px;
  top: 20px;
  position: absolute;
  width: 95px;
  height: 35px;
}
.nav .collect {
  right: 124px;
}
.nav a {
  color: #d3c2a6;
  font-weight: normal;
}
.nav ul {
  width: 613px;
  padding: 20px 0  0 86px;
  *zoom: 1;
}
.nav ul:before,
.nav ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav ul:after {
  clear: both;
}
.nav ul:before,
.nav ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav ul:after {
  clear: both;
}
.nav ul:before,
.nav ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav ul:after {
  clear: both;
}
.nav ul:before,
.nav ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav ul:after {
  clear: both;
}
.nav li {
  margin: 0  10px  10px 0;
  float: left;
  white-space: nowrap;
}
.nav .nav-inner {
  position: relative;
}
.header {
  background: url('../images/top.jpg') no-repeat center;
  height: 434px;
}
.header .navgation {
  position: relative;
}
.header .navgation a {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 28px;
  top: 20px;
}
.header .navgation .item1 {
  left: 91px;
}
.header .navgation .item2 {
  left: 212px;
}
.header .navgation .item3 {
  left: 320px;
}
.header .navgation .item4 {
  left: 574px;
}
.header .navgation .item5 {
  left: 680px;
}
.header .navgation .item6 {
  left: 800px;
}
.header .navgation .forum {
  left: 460px;
  height: 70px;
  width: 50px;
}
.container {
  background: url('../images/bg.jpg') repeat-y 0 0;
}
.sec {
  padding: 0 20px;
  margin-bottom: 20px;
}
.sec .hd {
  background: url('../images/sec-header.jpg') no-repeat 0 0;
  height: 83px;
  text-align: center;
}
.sec .hd a {
  color: #ffde00;
  font-weight: bold;
  font-size: 24px;
  position: relative;
  top: 26px;
}
.sec .hd a:hover {
  text-decoration: none;
}
.sec .hd a:hover {
  text-decoration: none;
}
.dzs-role-choice table-btn {
  background: url('../images/contribute.jpg') no-repeat 0 0;
  width: 161px;
  height: 162px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
}
.contribute-btn:hover {
  text-decoration: none;
}
.contribute-btn:hover {
  text-decoration: none;
}
.contribute-btn:hover {
  text-decoration: none;
}
.contribute-btn:hover {
  text-decoration: none;
}
.heros li,
.hero {
  background: url('../images/image-box.jpg') no-repeat 0 0;
  width: 144px;
  height: 150px;
  padding: 5px;
  position: relative;
}
.heros li img,
.hero img {
  width: 100%;
  height: 100%;
}
.heros li .summary,
.hero .summary,
.heros li .layer,
.hero .layer {
  bottom: 5px;
  left: 0;
}
.heros li .summary,
.hero .summary {
  background: url('../heros/heros.png') no-repeat 0 0;
  position: absolute;
  height: 33px;
  width: 100%;
  z-index: 1;
}
.heros li .layer,
.hero .layer {
  filter: alpha(opacity = 70);
  opacity: 0.7;
  position: absolute;
  background: #000;
  width: 147px;
  margin: 0 5px;
  height: 30px;
}
.heros li .hero1,
.hero .hero1 {
  background-position: 0 0;
}
.heros li .hero2,
.hero .hero2 {
  background-position: 0 -40px;
}
.heros li .hero3,
.hero .hero3 {
  background-position: 0 -80px;
}
.heros li .hero4,
.hero .hero4 {
  background-position: 0 -120px;
}
.heros li .hero5,
.hero .hero5 {
  background-position: 0 -160px;
}
.heros li .hero6,
.hero .hero6 {
  background-position: 0 -200px;
}
.heros {
  *zoom: 1;
}
.heros:before,
.heros:after {
  display: table;
  content: "";
  line-height: 0;
}
.heros:after {
  clear: both;
}
.heros:before,
.heros:after {
  display: table;
  content: "";
  line-height: 0;
}
.heros:after {
  clear: both;
}
.heros:before,
.heros:after {
  display: table;
  content: "";
  line-height: 0;
}
.heros:after {
  clear: both;
}
.heros:before,
.heros:after {
  display: table;
  content: "";
  line-height: 0;
}
.heros:after {
  clear: both;
}
.heros li {
  float: left;
  margin-right: 3px;
}
.heros .last {
  margin-right: 0;
}
.footer-wrap {
  background: #302826;
  padding: 20px 0;
}
.footer {
  clear: both;
  color: #333333;
  font-family: Arial;
  line-height: 22px;
  padding-top: 10px;
  text-align: right;
}
.footer,
.footer a {
  color: #d3c2a6;
}
.footer p {
  background: url("../images/766logo.png") no-repeat scroll 0 0 transparent;
  height: 80px;
  margin: 0 auto;
  width: 960px;
}
.gray-box-list {
  overflow-y: auto;
  height: 360px;
  position: relative;
  margin: 0 10px;
}
.gray-box-list .title {
  font-weight: normal;
  font-size: 12px;
  margin: 0 0  5px 0;
}
.gray-box-list .title em {
  color: #f4840c;
  margin-right: 5px;
}
.pro-set {
  *zoom: 1;
}
.pro-set .buttons {
  position: absolute;
  right: 13px;
  top: 17px;
}
.pro-set .buttons .reset-btn,
.pro-set .buttons .export-btn,
.pro-set .buttons .share-btn {
  background: url('../images/red-btns.png') no-repeat 0 0;
  height: 41px;
  width: 96px;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  border: none;
  margin-bottom: 10px;
}
.pro-set .buttons .reset-btn:hover,
.pro-set .buttons .export-btn:hover,
.pro-set .buttons .share-btn:hover {
  text-decoration: none;
}
.pro-set .buttons .reset-btn:hover,
.pro-set .buttons .export-btn:hover,
.pro-set .buttons .share-btn:hover {
  text-decoration: none;
}
.pro-set .buttons .reset-btn:hover,
.pro-set .buttons .export-btn:hover,
.pro-set .buttons .share-btn:hover {
  text-decoration: none;
}
.pro-set .buttons .reset-btn:hover,
.pro-set .buttons .export-btn:hover,
.pro-set .buttons .share-btn:hover {
  text-decoration: none;
}
.pro-set .buttons .export-btn {
  background-position: 0 -42px;
}
.pro-set .buttons .share-btn {
  background-position: 0 -85px;
}
.pro-set:before,
.pro-set:after {
  display: table;
  content: "";
  line-height: 0;
}
.pro-set:after {
  clear: both;
}
.pro-set:before,
.pro-set:after {
  display: table;
  content: "";
  line-height: 0;
}
.pro-set:after {
  clear: both;
}
.pro-set:before,
.pro-set:after {
  display: table;
  content: "";
  line-height: 0;
}
.pro-set:after {
  clear: both;
}
.pro-set:before,
.pro-set:after {
  display: table;
  content: "";
  line-height: 0;
}
.pro-set:after {
  clear: both;
}
.pro-set .hero,
.pro-set .hero-info,
.pro-set .contribute {
  float: left;
}
.pro-set .hero,
.pro-set .hero-info {
  margin-right: 5px;
}
.pro-set .hero-info {
  background: url('../images/box-613x177.png') no-repeat 0 0;
  padding: 20px;
  width: 573px;
  height: 137px;
  color: #ffa800;
  font-size: 16px;
  position: relative;
}
.pro-set .hero-info li {
  margin: 18px 0;
}
.pro-set .hero-info label {
  font-weight: bold;
  margin-right: 10px;
  width: 70px;
  display: inline-block;
}
.pro-set .hero-info .level {
  background: #302119;
  width: 40px;
  height: 22px;
  line-height: 22px;
  color: #d32800;
  font-size: 12px;
}
.pro-set .hero-info .red-block {
  color: #fff;
  font-weight: bold;
  background: url('../images/res-sm-box.png') no-repeat 0 0;
  width: 40px;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
}
.pro-set .hero-info .level,
.pro-set .hero-info .red-block {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}
.pro-skills {
  *zoom: 1;
}
.pro-skills:before,
.pro-skills:after {
  display: table;
  content: "";
  line-height: 0;
}
.pro-skills:after {
  clear: both;
}
.pro-skills:before,
.pro-skills:after {
  display: table;
  content: "";
  line-height: 0;
}
.pro-skills:after {
  clear: both;
}
.pro-skills:before,
.pro-skills:after {
  display: table;
  content: "";
  line-height: 0;
}
.pro-skills:after {
  clear: both;
}
.pro-skills:before,
.pro-skills:after {
  display: table;
  content: "";
  line-height: 0;
}
.pro-skills:after {
  clear: both;
}
.pro-skills .sm-box {
  margin: 0 10px;
}
.pro-skills .side {
  position: relative;
  background: url('../images/box-377x474.png') no-repeat 0 0;
  width: 357px;
  height: 454px;
  padding: 10px;
  float: left;
  margin-right: 4px;
}
.pro-skills .side h3 {
  font-size: 16px;
  color: #ffde00;
  margin: 20px;
}
.pro-skills .side li {
  margin-bottom: 15px;
}
.pro-skills .side .red-btn {
  margin-left: 20px;
}
.pro-skills .side .remark {
  color: #d3c2a6;
  margin: 7px 0 0 10px;
}
.pro-skills .side .remark img {
  vertical-align: middle;
}
.pro-skills .last-side {
  background: url('../images/box-178x464.png') no-repeat 0 0;
  width: 158px;
  height: 404px;
  padding: 58px 10px 10px 10px;
  float: left;
  line-height: 28px;
}
.gray-box {
  background: #3a2314;
  border: 1px solid #482c19;
  padding: 5px;
  display: inline-block;
  color: #d3c2a6;
}
.gray-box .sm-box {
  margin-right: 10px;
  margin-left: 0;
  display: inline-block;
}
.blue-icon,
.yel-icon {
  background: url('../images/icons-20x20.png') no-repeat 0 0;
  width: 96px;
  vertical-align: middle;
  display: inline-block;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0 5px;
}
.blue-icon {
  background-position: 0px 0;
}
.yel-icon {
  background-position: -20px 0;
}
.container-footer {
  background: url('../images/footer-bg.jpg') no-repeat 1px 0;
  height: 157px;
}

/* -- end template -- */