@import  "../mixins/index";
@import "core";

.btn,.btn-disabled{
	.btn;
	background: none;
	i{
		font-style: normal;
		margin-right: 5px;
	}
}

.btn-disabled{
	color: #999;
}

.default-btn{

}

.blue-gradient-btn{}
.gray-gradient-btn{}

//彩色
.colour-btn{

}