@import "../mixins/index";


.form{
	li {
		font-size: 12px;
		margin: 10px 0;
		.clearfix()
	}
	label {
		text-align: right;
		margin-right: 10px;
		height: 100%;
		.inline-block();
		width: 120px;
	}
	.form-tips {
		margin-left: 10px;
	}
	em {
		color: red;
	}
	.form-ft {
		margin: 10px 0;
		.btn {
			display: inline-block;
			margin-right: 10px;
		}
	}
    .textarea{
        vertical-align: top;
    }
}