@import "../mixins/index";
@import "core";

.tree{
	@indent : 20px;
	a{&:hover{text-decoration: none;} }
	li{
		padding-left: @indent;
		.node{
			padding-left: @indent * 2;
		}
		li{
			padding-left: @indent * 3;
		}
	}
}
