.newlist{
    padding:10px 10px 0 10px;
}
.newlist li{
    height:20px;line-height:20px;overflow:hidden;position:relative;padding-right:100px;margin-bottom:10px;
}
.newlist li .date{
    position:absolute;right:0;top:0;color:#999;
}
.newlist li a{ color:#333; }

.article p{ line-height:25px;}
.submenu{ display:none; }
#content{ width:auto;float:none;}
.semitransp{ margin:0;}