.container{width:805px; background:none; border:none; box-shadow:none;}
/* account 背景框 */

.form .result{ color:#BCC4C5; margin-left:40px;}


.bigbox{width:805px;margin:0 auto; font-family:"微软雅黑";}
.bigbox .box_hd,
.bigbox .box_ft{height:16px;}
.bigbox .box_hd{background:url(../images/bigbox_top.png) no-repeat;}
.bigbox .box_bd{background:url(../images/bigbox_bg.png) repeat-y;zoom:1;}
.bigbox .box_bd:after{content:".";height:1%;display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both; *display:none;} 
.bigbox .box_ft{background:url(../images/bigbox_bottom.png) no-repeat;}

.bigbox .form{width:auto; padding:10px 0; text-align:center;}
.bigbox .form .tips{ position:absolute; left : 10px; top: -30px;; z-index:999; width:200px;}
.bigbox .form .submit{ text-align:left; margin-left:150px;}

.bigbox .reigst-form { margin:0 20px;}
.bigbox .reigst-form .label{width:100px;}
.bigbox .reigst-form .tips{width:340px;}

.bigbox .text,.bigbox .labeltext{width:275px;}
.bigbox .labeltext input{ width:200px;}
.bigbox .label{width:150px; text-align:right;}

