@charset "utf-8";
/* CSS Document */
/*=====activity_create=====*/
.pic-flag{ position:relative; top:-55px; display:block; margin:10px;}
i{ font-style: normal;}
.activity_create{margin:0 auto; overflow:hidden;}
.activity_create h3{font-size:16px; height:34px; line-height:33px;}
.activity_create textarea{ vertical-align:text-top; line-height:23px;}
/*----list mod----*/
.AC_List{ width:779px; height:auto;overflow:hidden; padding:0 15px;}
.AC_List h2{border-bottom:1px solid #9fcfd9; margin:22px auto;}
.AC_List .ACmod{width:779px; margin:0 auto;}
.ACmod h4{font-size:14px; height:34px; line-height:33px; padding:0 0 0 20px;}
.ACmod h5{ width:729px; height:34px; line-height:33px; border-bottom:1px dotted #add3c8; padding:0 0 0 20px; margin:0 auto;}
.AC_List .setMod{width:779px; padding:15px 0 0 0; margin:10px auto; display:none;}
.AC_List .setMod dl{width:650px;line-height:33px; padding:5px 0 0 0;}
.formTitle{width:150px; float:left; text-align:right; color:#7e7e7e;}
.formMain{float:left; color:#7e7e7e;} 
.setMod input {margin:0 4px 0 0;}
.setMod select{margin:0 4px 0 4px;}
.AC_List .sendInviteLayout{width:484px;margin:0 auto; padding:0;line-height:23px; display:none;}
.AC_List .sendInviteLayout dl{width:484px; line-height:33px; padding:5px 0 0 0;}
.AC_List .saveParameter{border-bottom:1px dotted #add3c8;}
#basicQuoteWarp,#sendInviteWarp,#applyPersonWarp,#saveParameterWarp{ display:block;}
/* address Set */
.addressSet{width:693px; height:auto; margin:10px auto;}
.setBar{width:inherit; height:33px; border-bottom:1px solid #1585aa; background:#ebebeb;}
.currentSch{font-weight:bold;}
.setBar li{float:left; height:33px; line-height:32px; padding:0 5px; margin:0 0 0 12px;}
/* listSearcher */
.listschWarp{ width:100%;border:1px solid #fff; overflow:hidden; display:block;}
.listschBar{ background:#f4f4f4; width:auto; height:104px; border-top:1px solid #fff; border-bottom:1px solid #dcdcdc; overflow:hidden; }
.activityCat { width:645px; margin:0 auto; height:22px; text-align:center;}
.activityCat li{float:left; padding:0 4px;}
.activityCat input{ margin:0;}
.AC_catList li{ width:58px; height:22px; font-size:12px; color:#1383a9; padding:0 5px; float:left; text-align:center;}
.listschMain{background:#fbfbfb;}
.listschMain li{ width:600px; margin:0 auto; border-bottom:1px dotted #808080;padding:10px 10px 10px 10px;}
.listschMain li table{ margin:0 auto;}
.listschMain li p{width:530px;overflow:hidden; white-space:nowrap;word-wrap:break-word; word-break:keep-all;text-overflow:el+lipsis;text-justify:inter-cluster;}       	
.listschfoot { height:50px;background:#fbfbfb; line-height:49px;}
/* mapSeacher */
.mapschWarp{ width:100%;background:#f1f8ff; border:1px solid #fff; overflow:hidden; display:none;}
.mapSch_bar{ width:inherit; height:34px; line-height:33px; padding:0 0 0 12px;}
.mapWarp{width:474px; height:464px; background:#ebebeb;}
.mapSchWidget{width:215px; height:462px; border:1px solid #c8e7ec;}
.mapSchWidget li{width:192px; line-height:24px;  margin:5px auto;}
.mapNote{height:28px; line-height:29px;background:#f7f7f7;}
.mapNote p{height:28px; line-height:29px; padding:0 0 0 18px;}
.mapNote p img{ margin:0 8px 0 8px;}
/*----AC Widget----*/
.AC_Widget{ width:195px; height:100%;}
.verifyWarp{ width:170px; height:auto; background:#1992b1;overflow:hidden;/*CSS3*/ box-shadow:1px 2px 2px #666; border-top-right-radius:5px; border-bottom-right-radius:5px; padding:5px 0; top:0;left:0;}
.verifyWarp li{ width:138px; height:24px; line-height:23px; margin:0 auto; padding:0 0 0 40px;}
.verifyWarp li span{margin:4px 24px 0 0; width:16px; height:16px; display:block;}
.verifyWarp li a{ color:#fff;}
.verifyWarp li a:hover{text-decoration:none;}
.btn-warp{ height:80px; line-height:79px; margin:5px 27px;  }
/*----Guide mod----*/
.AC_Guide{width:970px; height:auto; overflow:hidden; margin:0 auto;}
.AC_Guide h2{ border-bottom:1px solid #9fcfd9; margin:22px auto;}
.AC_Guide .ACmod{width:870px; margin:0 auto; border-bottom:1px dotted #add3c8; padding:0 0 20px 0;}
.AC_Guide h3{font-size:16px; border-bottom:1px dotted #add3c8;}
.AC_Guide h4{font-size:14px; height:34px; line-height:33px; padding:0 0 0 20px; margin:10px auto;}
.AC_Guide .setMod{width:779px; padding:15px 0 0 0; margin:10px auto;display:none;}
.AC_Guide .setMod h5{ height:34px; line-height:33px; border-bottom:1px dotted #add3c8; padding:0 0 0 20px;}
.AC_Guide .setMod dl{width:650px; margin:10px auto;  line-height:33px;padding:5px 0 0 0;}
.AC_Guide .setMod input {margin:0 4px 0 0;}
.AC_Guide .setMod select{margin:0 4px 0 4px;}
.AC_Guide .sendInviteLayout{width:484px;margin:0 auto; padding:0;line-height:23px;}
.AC_Guide .sendInviteLayout dl{width:484px; line-height:33px; padding:5px 0 0 0;}
.AC_Guide .saveParameter{border-bottom:1px dotted #add3c8;}




/*=====My History=======*/
.activity_myhistory{margin:0 auto; overflow:hidden;}
/* myhistroyTitle */
.myhistroyTitle{width:970px; margin:0 auto; height:auto; border-bottom:1px solid #9fcfd9; margin:10px auto; overflow:hidden;}
.myhistroyTitle li{float:left; margin:0 2px 0 0;}
.myhistroyTitle li a{ display:block;}
/* myhistoryMenu */
.myhistoryMenu{width:auto; margin:0 auto;line-height:47px; border-bottom:1px solid #1283a3; color:#7e7e7e; overflow:hidden;}
.myhistoryMenu li{line-height:47px;float:left; padding:0 4px; height:36px; line-height:35px;}
.myhistoryMenu li a{height:36px;line-height:35px; display:block;}
.myhistoryMenu li a.current,
.myhistoryMenu li a:hover{border-bottom:4px solid #1283a3; height:32px; font-weight:bold;}
/*photoEdit*/
.AM_photoEditWarp{width:970px; margin:0 auto;}
.AM_photoEditWarp span{ color:#1992B1;}
.AM_photoEditWarp h4{ height:30px; line-height:29px; color:#7e7e7e;}
.AM_photoEdit_Main{ width:705px; height:auto;padding:0 0 0 15px; margin:20px 0 0 0; }
.AM_photoEdit_Main .pageList a:hover{text-decoration:none;color:#ea7726;}
.AM_photoEdit_Widget{width:248px; height:auto; background:#f8faf7; border:1px solid #e3e3e3;margin:20px 0 0 0;}
.photoAlbum{margin:0 auto;}
.upBtn{ width:220px;height:30px; background:#ccc;  margin:8px auto;}
.downBtn{width:220px;height:30px;background:#ccc; margin:8px auto;}
.photoAlbumList{width:222px;height:auto; margin:0 auto;}
.photoAlbumList li{ width:210px; height:170px; background:#deedff; border:1px solid #eff6fe; text-align:center; margin:8px 0 0 0; /*css3*/ box-shadow:0 1px 3px #ccc;border-radius:3px; -moz-border-radius: 3px;-webkit-border-radius: 3px;padding:5px 5px;}
.photoAlbumList li p{text-align:left; color:#000; height:34px; line-height:33px; padding:0 2px;}
.photoAlbumName{width:667px; height:48px; line-height:47px; padding:0 0 0 36px; background:#f9fcff url(../images/icons/AlbumName.png) left center no-repeat;border:1px solid #c9e0ee; margin:0 auto;}
.search-textbox input[type=text]{width:178px; margin-left:18px; color:#666; padding:0 5px;}
/*photo list*/
.photoList {width:705px; height:auto; }
.photoList li .text{width:325px;}
.photoList .textarea{width:420px; max-width:420px; height:80px;}
.photoList .operatBox { margin:10px;}
.photoList .operatBox a{ margin-right:5px;}

.photoListHead {width:705px; height:32px; line-height:31px; border-bottom:1px dotted #7f7f7f;}
.photoListFoot {width:705px; height:60px; line-height:31px; color:#7f7f7f;}
.photoListMain li{ border-bottom:1px dotted #7f7f7f; padding:10px 0; color:#7f7f7f; margin:15px 0 0 0;}
.photoListMain li tr{line-height:37px;}
.operatBox{display:none;}
.photoListMain li:hover{background:#f9f9f9;}
.photoListMain li:hover .operatBox{display:block;}
/*=====timeline=====*/
.timelineWarp{ width:718px; margin:10px auto; position:relative;}
.timelineTop{height:30px; position:relative; display:block; overflow:hidden;}
.tips_B{ position:absolute; display:block;width:79px; height:28px; background:url(../images/timeline/bg_richeng_showdate.png) no-repeat; line-height:19px; text-align:center;}
.timelineBtm{height:80px; position:relative; overflow:hidden; margin:8px 0 0 0;}
.timelineBtm .tipsWarp{ width:236px; height:auto; position:absolute;}
.timelineBtm .tipsWarp .tipsTop{ width:236px; height:10px; background:url(../images/timeline/bg_richeng_showDetail.png) no-repeat 0 0;}
.timelineBtm .tipsWarp .tipsMain{ width:234px; height:auto; background:#f6fbfe; border-left:1px solid #72b5c8;border-right:1px solid #72b5c8;}
.timelineBtm .tipsWarp .tipsMain p{ width:200px; height:24px; line-height:23px; margin:0 auto; }
.timelineBtm .tipsWarp .tipsBottom{ width:236px; height:10px; font-size:0; background:url(../images/timeline/bg_richeng_showDetail.png) no-repeat 0 -10px; display:block;}
.timelineMain{ width:700px; height:24px; line-height:23px; background:url(../images/timeline/bg_richeng.png) left  center no-repeat; padding:0 14px;}
.timelineMain li{float:left; background:url(../images/timeline/bg_richeng_round.png) left center no-repeat; width:20px; height:21px; margin:2px 14px 0 15px;}
.timelineMain li.current{ width:23px; height:24px; background:url(../images/timeline/bg_richeng_cur.png) left center no-repeat; margin:0 12px 0 12px;}


/* 活动列表样式  */
.active-main{width:680px; }
.active-main .submit{ padding:20px 30px; border-top:1px dashed #ddd;}
.active-main .list-header{
	background: none repeat scroll 0 0 #EEF7FE;
    border-bottom: 1px solid #1680A7;
    height: 31px;
	line-height:31px;
    margin: 10px 0;
    overflow: hidden;
    padding: 0 10px;
    text-align: right;
}
.active-main .list-footer{
    text-align: right;
	margin-bottom:10px;
}

.Initiating_event_2{ background:url(../images/buttons/yellow-button.png)  no-repeat; width:230px; height:44px; line-height:44px; display:block; font-weight:bold; color:#fff; font-size:16px; text-align:center;}
.Initiating_event_2:hover{ text-decoration:none;}
.Initiating_event_2:active{}

.active-list { margin-bottom:10px; }
.active-list li{
	border-bottom: 1px dashed #CCCCCC;
    color: #4D4D4D;
    padding: 10px;
	position:relative;
	
}
.active-list .right_img{
	float: left;
    padding-top: 4px;
}

.active-list .right_descrip{
	margin-left:60px;
	line-height:22px;
}
.active-list i{ font-style:normal; }
.active-list  div.o_event {
    color: #999999;
    padding-bottom: 5px;
}
.active-list  div.o_event{
	color:#999;
    line-height: 21px;
}
.active-list  .o_event {
    text-align: right;
}
.active-list .o_event span{
	color:#333;
	float:left;
}
.active_con .detail,
.active-list .detail{
	background: #3187A1;
    display: none;
    height: 19px;
	line-height:19px;
    width: 69px;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	display:none;
	position:absolute;
	color:#fff;
	bottom:10px;
	right:10px;
	text-align:center;
}
.active-list i{ color:#999;}
.active-list li:hover,.active_con:hover{ background:#f9f9f9;}
.active_con:hover .detail,
.active-list li:hover .detail{
	display:block;
}

/*  active side */

.active-side{ padding-left:30px;}

.active-friend {
    padding: 5px 0 15px;
    width: 100%;
}

.friend_title {
     color:#000;
	 font-weight:bold;
	 font-size:14px;
	 margin:10px 0;
}
.friend_title span{ color:#1992B1; font-weight:normal; font-size:12px; margin-left:5px;}
.search_ac li{ margin-bottom:10px;}

.search_ac select{width:118px;}
.ac-text{
	background: url("../images/search_box.jpg") no-repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ACCCD3;
    color: #79A8B0;
    font: 200 12px/22px Arial;
    height: 22px;
    margin: 3px auto;
    padding: 3px 5px;
    width: 218px;
}
.search_ac .text{ width:230px}
.search_ac li{ position: relative;}
.search_ac .icon{ position: absolute;right: 15px;top: 3px;}
.act-keyword{ background:#fff;}
.act-type,.act-join,.act-group,.act-area,.act-country{
    background:#fff url(../images/icons/icon-text.png) no-repeat;
    width: 24px;
    height: 22px;
    display: block;
    z-index: 1;
}
.act-type{ background-position:0 5px;}
.act-join{ background-position:0 -30px;}
.act-group{ background-position:0 -64px;}
.act-area{ background-position:0 -99px;}
.act-country{ background-position:0 -140px;}
.search_ac .submit{
	background:#1992B1 url("../images/write-search.png") no-repeat 90% center ;
    border: medium none;
    cursor: pointer;
    height: 28px;
    margin-top: 8px;
    width: 80px;
	color:#fff;
	text-align:left;
	font-weight:bold;
	font-size:14px;
}

/* hover */
.relaCircle li:hover,
.activity_List li:hover{ background:#c5e5fe;}
.activity_List li .join{ visibility:hidden;}
.activity_List li:hover .join{ visibility:visible;}
.activity_List li {
    border-bottom: 1px solid #D6EDF3;
    line-height: 21px;
    padding: 5px 15px 5px 5px;
	color:#333;
}

.activity_List li p {
    margin-right: -15px;
    text-align: right;
}
.activity_List li span {
    color: #999999;
    float: left;
}

.relaCircle em{ color:#FF6600;}
.relaCircle dl {
    color: #656565;
    float: left;
    width: 180px;
}
.relaCircle i{ font-style:normal;}
.relaCircle dt {
    height: 22px;
    line-height: 22px;
    margin-bottom: 3px;
    overflow: hidden;
}
.relaCircle dd {
    height: 20px;
}

.relaCircle .lPic {
    float: left;
    margin: 6px 8px 0 10px;
}
.relaCircle ul li {
    border-bottom: 1px solid #D9EBF7;
    height: 68px;
    padding-top: 8px;
}


.activity_description {
    background: none repeat scroll 0 0 #F9FDFF;
    border: 1px solid #C6DDEB;
    overflow: hidden;
    padding: 14px 12px;
    position: relative;
}
.activity_description .button{ position:absolute; right:10px; top:10px;}
.activity_attention {
    font: 200 12px Arial,Helvetica,sans-serif;
    margin-left: 117px;
}

.activity_attention h2 {
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0 8px;
}


.activity_attention p {
    color: #4B4C4E;
    line-height: 21px;
}

.activity_attention em{
    color: #1363AA;
    font-style: normal;
    margin-left: 3px;
}

.searBar {
    background-color: #EEF7FE;
    color: #2D363D;
    overflow: hidden;
	padding:2px 0;
}
.searBar .chzn-container .chzn-single{ height:23px; line-height:23px;}
.searBar .text{width:150px; height:23px;}
.searBar .text,.searBar .button{ vertical-align:middle;}
.searBar .sidebox-pager{ margin-top:3px;}
.gay-button{ font-size:12px;}
.active_con {
    border-bottom: 1px dashed #CCCCCC;
    clear: both;
    overflow: hidden;
    padding: 15px 10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
}
.active_con .active_Img {
    background: none repeat scroll 0 0 #E4E4E4;
    color: #4187BB;
    float: left;
    font: 800 16px/20px Arial,Helvetica,sans-serif;
    margin-right: 12px;
    padding-bottom: 5px;
    text-align: center;
    width: 100px;
}
.active_con .activity_main{ overflow:hidden;}
.active_con .activity_main p {
    color: #4C4C4C;
    font: 200 12px/25px Arial,Tahoma;
}
.active_con .activity_main .activit_title{ font-size:14px;}
.active_con .activit_title span {
    font-size: 14px;
}
.active_con i{ font-style:normal; color:#999;}
.color_de,
.active_con em{color:#DE6D2B; font-size:12px; margin:0 2px;}

/*  signup */
.event_plan {
    color: #656567;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}
.event_plan_l {
    float: left;
    margin-right: 5px;
    text-align: center;
    width: 125px;
}
.event_plan_r {
    overflow:hidden;
}
.join_event_plan {
    padding: 30px 7.8em 50px;
}
.plan_info {
    color: #656567;
    font: 200 12px/25px Arial,Tahoma;
    margin-bottom: 5px;
    padding-left: 8.5em;
    text-indent: -5.5em;
}
.event_plan_r h2 {
    color: #10899E;
    font: 800 14px/23px Arial,Tahoma;
}
.event_plan_r table {
    line-height: 24px;
}
.plan_info span {
    font-weight: 800;
}
.stepTip {
    color: #EA7730;
    font-size: 14px;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
    padding-left: 20px;
}

.active-form{ font-size:12px; color:#666;}
.active-form select{width:100px;}
.active-form label{ margin-right:10px;}
.active-form label .label{ display:inline-block; width:70px; text-align:right;}

.payment {
    background-color: #F9F9F9;
    margin: 10px auto;
    padding: 10px 20px 16px;
    width: 566px;
	line-height:20px;

}
.payment table th, .payment table td {
    padding: 6px 0;
	color:#666;
}
.payment table th b{ color:#45B0CC}
.payment table th {
    font-weight: normal;
    width: 90px;
}
.payment i {
    margin-right: 15px;
}
.payment table tr {
    border-bottom: 1px dashed #BEBEBE;
    color: #7D7D7D;
    line-height: 24px;
}

.payment-condition{margin:10px 40px;color:#666;}
.payment-condition .textarea{width:98%; height:140px; max-width:98%; margin:10px 0;}
.payment-condition .totalMoney{ margin:10px 0; color:#45B0CC; font-weight:bold;}
.payment-condition em{color:#45B0CC; }
.payment-condition input[type=radio]{ margin-right:5px;}

.select_pep_bot{ margin:10px 20px; color:#666;}
.select_pep_bot p{padding: 5px 0 15px;}
.select_pep_bot .text{width:200px;}


/*--------------------------------- activity_img_item ---------------------------------*/
.actList{ margin-top:27px;}
.actList li{width:185px;height:208px; float:left;background:url("../images/bg_activity_border_shadow.png") no-repeat;padding:12px 15px 0px;margin:0px 4px 35px 3px; display:inline; text-align:center;}

.actList .mask{ border:1px solid #707070; background-color:#000; opacity:0.82; filter:alpha(opacity=82); position:absolute; top:0px; left:2px; width:209px; height:395px; z-index:3; display:none; overflow: hidden;}
.actList .more{ text-align: right;}
.actList .iTit{ height:40px; display:block; overflow:hidden; line-height:40px; padding-left:5px; text-align:left;}
.actList .iTit a{ font-size:15px; font-weight:bold; color:#333;}
.actList .iTit .rHeart{ float:right; margin:9px 0px 0px 0px; width:24px; height:21px;}
.actList .iTit .emptyH{ background:url(../images/icon_love_empty.jpg) no-repeat;}
.actList .iTit .fullH{ background:url(../images/icon_love_full.png) no-repeat;}
.actList .mHover{ position:relative;}
.actList .mHover .iTit a{ color:#E47028;}
.actList .mHover .aPic,.actList .mHover .iTit{ position:relative; z-index:4;}
.actList li .pos{ height:30px; width:185px; position:absolute; left:15px; top:142px; display:none;}
.actList li .infoMask{ background-color:#000; opacity:0.7; filter:alpha(opacity=70); z-index:5; display:none;}
.actList .mHover .info{ z-index:6; text-align:center;line-height:30px; clear:both; color:#fff; display:none;}
.actList .mHover .info span{ display:inline-block;}
.actList .mHover .info em{ width:22px; height:18px; display:inline-block; float:left; margin:6px 3px 0px;}
.actList .mHover .icon_1{ background:url(../images/icon_heart_gray.png) no-repeat;;_background: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/icon_heart_gray.png' );}
.actList .mHover .icon_2{ background:url(../images/icon_rili_gray.png) no-repeat;_background: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/icon_rili_gray.png' );}
.actList .mHover .icon_3{ background:url(../images/icon_view_gray.png) no-repeat;_background: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/icon_view_gray.png' );}
.actList li dl{ border-top:1px dashed #616161; width:185px; position:absolute; left:15px; top:210px; z-index:6; text-align:left; color:#BFBFBF; display:none;}
.actList li dt{ height:22px; padding:10px 0px 6px 3px; font-weight:bold;}
.actList li dd{ margin:0px 0px 3px 0px;}
.actList li .siTit{ font-weight:bold;}
.actList li .sDate{ float:right; font-weight:normal;}
.actList li dd a{ color:#BFBFBF;}
.actList li dd p{ line-height:20px; text-indent:12px;}
.actList .mHover .iTit .emptyH{ background:url(../images/icon_love_empty_g.png) no-repeat;}
.actList .mHover .iTit .fullH{ background:url(../images/icon_love_full_g.png) no-repeat;}

.actList .mHover .mask,
.actList .mHover .pos,
.actList .mHover .infoMask,
.actList .mHover dl{ display:block;}

.actList li.last .mask,
.actList li.last .infoMask,
.actList li.last dl{top:-180px;}

.activity_img_item {
	width:100%;
	text-align:justify;
*text-justify:inter-ideograph;
	font-size:1px;
	letter-spacing:-4px;
}
.activity_img_item span.activ_list {
	width:185px;
	height:208px;
	background:url("../images/bg_activity_border_shadow.png") no-repeat 0 0;
	display:inline-block;
	padding:12px 15px 0px;
	margin-bottom:5px;
}
.activity_img_item span img.activity_imglist {
	vertical-align:middle;
	width:185px;
	height:160px;
	padding-bottom:10px;
}
.activity_img_item span em {
	font:bold 14px/20px Arial, Helvetica, sans-serif;
	color:#323232;
	letter-spacing:0px;
}
.activity_img_item span p {
	width:175px;
	padding:0 5px;
}
.activity_img_item span p a {
	float:right;
}
.justifyfix {
	width:100%;
	height:0px;
	overflow:hidden;
	display:inline-block;
}
.activity_pages {
	text-align:right;
	height:60px;
	font:12px/60px Arial, Helvetica, sans-serif;
	color:#575757;
}
.activity_pages a, .activity_pages span {
	padding:0 10px;
}
.activity_pages a:hover {
	color:#e86d20;
}
.lastnew_activity, .add_pos {
	font-size:12px;
	letter-spacing:0px;
}
.lastnew_activity dt {
	line-height:20px;
}
.lastnew_activity dt span {
	float:right;
}
.lastnew_activity dt span i {
	font-style:normal;
}
.lastnew_activity dt span i.cur_num {
	padding-left:10px;
}
.add_pos {
	color:#c1c1c1;
	background-color:#000;
	width:185px;
	padding:5px 15px 15px;
}
.add_pos p {
	height:25px;
	line-height:25px;
	border-top:1px dashed #c1c1c1;
}
.activity_event {
	/*background:url(../images/home_side_line.gif) repeat-x 0 100%;*/
    border-bottom:1px dashed #ddd;
    padding:20px 0;
}
.search_ac {
	width:250px;
	margin:0 auto;
}
.search_active {
	border:1px solid #acccd3;
	height:22px;
	width:218px;
	font:200 12px/22px Arial;
	padding:3px 5px;
	margin:3px auto;
	background:#fff url(../images/search_box.jpg) no-repeat 0 0;
	color:#79A8B0;
}
.nobg{ background:none; background-color:#fff;}
.secA {
	background-position: 98% 5px;
}
.secB {
	background-position: 98% -31px;
}
.secC {
	background-position: 98% -65px;
}
.secD {
	background-position: 98% -105px;
}
.secE {
	background-position: 98% -145px;
}
.secF {
	background-position: 98% 5px;
	width:100px;
}
.secH {
	background-position: 98% 5px;
	width:100px;
}
.secI {
	background:#1992b1 url(../images/search_box_submit.jpg) no-repeat 50% 0;
	height:28px;
	width:71px;
	border:none;
	cursor:pointer;
	margin-top:8px;
}

.home_con .actMain{ padding:24px 18px;}

/*mapSearch*/
.mapSearch{ background-color:#F7F7F7; border-top:1px solid #fff; color:#636466;}
.mapSearch .map{ width:447px; height:462px; overflow:hidden;}
.mapSearch .mapCondition{ width:206px; height:454px; padding:6px 0px 0px 12px; border:1px solid #CAE6F2; background-color:#EEF7FE;}
.mapSearch .icon{ padding-left:15px; background:url(../images/activity_h2.gif) 0px 7px no-repeat;}
.mapSearch .item{ height:30px; clear:both; line-height:24px;}
.mapSearch .explain{ height:37px; clear:both; line-height:37px; padding-left:18px;}
.mapSearch .explain .iLocat{ display:inline-block; padding-left:21px; background:url(../images/icon_location.gif) left no-repeat; color:#626262;}
.mapSearch .tipShow{ width:192px; position:relative; margin-bottom:8px;}
.mapSearch .tipShow .tCon{ border:1px solid #E2E2E2; background-color:#F7F7F7; padding:5px; height:auto!important; min-height:50px; _height:50px;}
.mapSearch .tipShow ins{ display:inline-block; width:13px; height:6px; overflow:hidden; background:url(../images/icon_upArrow.png) no-repeat; position:absolute; top:-5px;}
.mapSearch .tipShow i{ display:inline-block; height:20px; margin:0px 2px;}
.mapSearch .tipShow i a{ width:10px; height:9px; display:inline-block; margin-left:5px; background:url(../images/del_pep.png) no-repeat;}
.mapSearch .txtInput{ height:20px; line-height:20px; border:1px solid #CFD3D6; width:130px; height:20px; color:#909090;}
.mapSearch .txt_cusFriend{ background:url(../images/iconA.png) 110px 4px no-repeat #fff;}
.mapSearch .txt_cusGroup{ background:url(../images/iconA.png) 110px -31px no-repeat #fff;}
.mapSearch .btn_add{ width:56px; height:22px; background:url(../images/btn_56x22_gray.png) no-repeat; border:0; display:inline-block; vertical-align:middle; text-align:center; line-height:22px; color:#313131; cursor:pointer;}