.scratchpad { position: relative;text-align: center;  }
.scratchpad .scratchpad-result,
.scratchpad .scratchpad-name{ position: absolute; left: 0; top: 0; width: 150px; text-align: center; }
.scratchpad canvas{ position: relative;}
.scratchpad .scratchpad-name{ z-index: 1; color: #fff;}
.scratchpad .scratchpad-result{ color: #fff; /*background: #FFAE68;*/}