@import "../mixins/mixins.less";

.btn,.btn-disabled{
	.btn();
	background: none;
	i{
		font-style: normal;
		margin-right: 5px;
	}
}

.btn-disabled{
	color: #999;
}

.default-btn{

}
//彩色
.colour-btn{

}