@import "../mixins/mixins.less";


.form{
	li {
		font-size: 12px;
		margin: 10px 0;
		.clearfix()
	}
	label {
		text-align: right;
		margin-right: 10px;
		height: 100%;
		.inline-block();
		width: 120px;
	}
	.tips {
		margin-left: 10px;
	}
	em {
		color: red;
	}
	.ft {
		margin: 10px 0;
		.btn {
			display: inline-block;
			margin-right: 10px;
		}
	}
}