@import "../mixins/mixins.less";


.mod,.pub-mod {
	 .hd {
		 .title, h3 {
			 float: left;
			 font-size: 14px;
		 }
	 }
	 .hd, .bd, .ft {
		 padding: 10px;
		 .clearfix();
	 }
 }

//发表
.pub-mod {
	.hd {
		span,.text,input{
			margin-right: 10px;
		}
		span {
			color: #adadad;
		}
		.text {
			border: 1px solid #ddd;
		}
	}
	.bd {
		.textarea {
			width: 100%;
			height: 100px;
		}
	}
	.ft {
		font-size: 12px;
		.left {
			color: #999;
		}
		.right {
			span, a, input {
				margin-right: 10px;
			}
		}
	}
}