@import "../mixins/mixins.less";


.progress,.label-progress{
	.clearfix();

	.bar{
		background: #ddd;
		i{
			background: red;
		}
	}
}
.label-progress{
	label{
		width: 20%;
		text-align: right;
		display: inline-block;
	}
	.bar{
		width: 80%;
	}
}