.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  line-height: normal;
  font-style: normal;
}
.icon:hover {
  text-decoration: none;
}
.icon-font-delete {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
[class*=icon-block] {
  padding: 1px 5px;
}
.icon-block-default {
  background: #fff;
  color: #333;
}
.icon-block-link {
  background: transparent;
  color: #fff;
}
.icon-block-primary {
  background: #428bca;
  color: #fff;
}
.icon-block-info {
  background: #5bc0de;
  color: #fff;
}
.icon-block-muted {
  background: #999;
  color: #fff;
}
.icon-block-success {
  background: #5cb85c;
  color: #fff;
}
.icon-block-warning {
  background: #f0ad4e;
  color: #fff;
}
.icon-block-danger {
  background: #d9534f;
  color: #fff;
}
.icon-block-light {
  background: #c4caa5;
  color: #333;
}
