.icon{ display: inline-block !important; }
.icon-arrow,
.icon-arrow-right,
.icon-arrow-down{
    border-style: solid;
    border-width: 7px;
    border-color: #0099cc transparent transparent  transparent;
    height: 0;
    font-size: 0;
    width: 0;
}
.icon-arrow,.icon-arrow-down{ margin: 0 5px -7px 0;}
.icon-arrow-right{ border-color: transparent transparent  transparent #0099cc; margin-bottom: -3px;  }

.icon-stop,.icon-start,.icon-setting ,.icon-active,.icon-freeze{
    background: url(../img/80-shades-of-white-icons.png) no-repeat;
    width: 25px;
    height: 25px;
}
.icon-stop{ background-position:-132px -61px}
.icon-start {  background-position: -68px -61px }
.icon-setting { background-position: -100px -147px}
.icon-active{ background-position:-37px -61px}
.icon-freeze{ background-position: -293px -32px }

.icon-calendar{
    background: url(../img/icon-20x20.png) no-repeat;
    width: 20px;
    height: 20px;
}

