extends layout
//-window.onorientationchange

block head

block css

block header
block container
    .avater-wrap
        .content
           .avater(style="background-image:url(http://wx.qlogo.cn/mmopen/0Ax0gGIRYfzlF93EJORS85K9icC61cWSp78mNjdjGJIo2nlgIP7gKibmBSPliabfhtFARNxqZOwCCubgvA64IagjBvXptibkUID3/0)")
        .tel 13906926764
    ul.menus
        li
            a(href='#')
                i.icon.icon-menu-search
                br
                | 话费查询
        li
            a(href='#')
                i.icon.icon-menu-chart
                br
                | 话费充值
        li
            a(href='#')
                i.icon.icon-menu-search
                br
                | 套餐查询
        li
            a(href='#')
                i.icon.icon-menu-clock
                br
                | 流量查询
        li
            a(href='#')
                i.icon.icon-menu-money
                br
                | 流量充值
        li
            a(href='#')
                i.icon.icon-menu-gift
                br
                | 积分查询
        li
            a(href='#')
                i.icon.icon-menu-list
                br
                | 历史账单
        li
            a(href='#')
                i.icon.icon-menu-user
                br
                | 更改绑定
        li
            a(href='#')
                i.icon.icon-menu-clound
                br
                | 客户端下载
block footer

block js