#Sidebar{width:220px; font-size: 12px;}
.friendsBox { margin-bottom: 12px;}
.title{  background: url(../../images/activity/titleBg.jpg) repeat-x scroll left bottom #F3F3F3;height: 27px;line-height: 27px;padding: 0 2%;width: 96%;}
.title h5 { color: #B31B1A;float: left; font-size: 12px !important;}  
body,  h5, h6, p, form { margin: 0;    padding: 0;}
a:link, a:visited {  color: #806000;text-decoration: none;}
.floatRight {  float: right !important; }
.arrl a , .arrr a   {background: url("../../images/activity/arr.gif") no-repeat scroll center 0 transparent;float: right;height: 13px;margin: 7px 3px 0 0;width: 13px;}
.statDiv {background: none repeat scroll 0 0 #F8F5FA;margin-top: 2px;overflow: hidden;padding: 5px;position: relative;width: 210px;}
.statDiv p {margin: 1px 0;overflow: hidden;}
.rqtTitle { float: left;width: 80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }
.newsDetail {width:100%;}
.time03 {color: #999999;margin-right: 5px;}
.subLink a:link, .subLink a:visited,.newsDetail a:link, .newsDetail a:visited{ color: #BCA152; }