@charset "utf-8";
/*
* @name		:Template
* @author	:czy
* @version	:1.0.0.0
* @type		:公共
* @explain	:
* @relating	:
* @dependent:
* @date     : 2011-05-16
* @qq       : 274142680@qq.com
*/
/* ************ template ************* */

/* template */
html{background:#fff}
body {font: 12px/1.5 "宋体" /*tahoma,arial*/;color:#666;}

.header03{ width:785px;}

/*  inline block  */
.layout{ 
letter-spacing: -0.31em; /* webkit: collapse white-space between units */    
*letter-spacing: normal; /* reset IE < 8 */    
word-spacing: -0.43em; /* IE < 8 && gecko: collapse white-space between units */
}
.layout li,
.layout a,
.layout dd,
.layout .inline
{ 
	 display: inline-block;     
	 zoom: 1; *display: inline; /* IE < 8: fake inline-block */     
	 letter-spacing: normal;     
	 word-spacing: normal;     
	 vertical-align: top; 
}

.g-l-295{ float:left; width:295px; _margin-right:-3px}
.g-l-290{ float:left; width:230px; _margin-right:-3px}
.g-l-210{ float:left; width:210px; _margin-right:-3px}
.g-l-230{ float:left; width:230px; _margin-right:-3px}
.g-l-170{ float:left; width:170px; _margin-right:-3px}
.g-l-620{ float:left;width:620px; _margin-right:-3px}
.g-l-610{ float:left;width:610px; _margin-right:-3px}
.g-l-180{ float:left; width:180px; _margin-right:-3px}
.g-l-190{ float:left; width:190px;_margin-right:-3px}
.g-l-390{ float:left; width:390px;_margin-right:-3px}
.g-l-360{ float:left; width:360px;_margin-right:-3px}

.g-r-165{ float:right; width:165px;  _margin-left:-3px}
.g-r-230{ float:right; width:230px; _margin-left:-3px}
.g-r-210{ float:right; width:210px; _margin-left:-3px}
.g-r-180{ float:right; width:180px; _margin-left:-3px}
.g-r-190{ float:right; width:190px;_margin-left:-3px}
.g-r-190{ float:right; width:40px;_margin-left:-3px}


.w-35{width:35px;}
.w-40{width:40px;}

.l-h-27{ line-height:27px;}
.l-h-25{ line-height:25px;}
.l-h-22{ line-height:22px;}
.black{ color:#4e4d43;}
.block{ display:block;}
.mar-10{ margin:10px; margin-right:0;}

.header,.footer,.nav{ margin:0 auto;width:960px;}
.footer{ text-align:center; }
.header{ vertical-align:top;}
.header .header01{ margin-top:-5px;}
.header #lm li,
.header #lm .li01
{ background-position:38px 7px; margin-top:8px}
.header #lm .li01a,
.header #lm .li03{ margin-top:8px;}
.header #lm .li01{ background-position:48px 7px;}
.android{ width:960px; margin:10px auto;}
/* android */
.android .tab-tag{ border:1px solid #ddd; border-top:2px solid #ddd; border-bottom:none; padding-left:46px; background:url(../images/bg-tab-tag.png) top; height:45px; overflow:hidden; }
.android .tab-tag li{ background:url(../images/bg-tab-off.png) no-repeat; width:202px;height:48px; text-align:center; overflow:visible; margin-right:-5px; cursor:pointer;}
.android .tab-tag li img{ margin-top:10px; position:relative;}
.android .tab-tag .current{ background:url(../images/bg-tab-on.png) no-repeat;}
.android .tab-inner{background:url(../images/bg-tab-inner.png) no-repeat 0 -1px; height:790px;}
/* android-help */
.android-help{color:#807F74; margin:0 10px; width:940px; height:170px;}
.android-help .head{ padding:0px; background:url(../images/bg-help-head.png) repeat-x; border-bottom:1px solid #ddd;}
.android-help .head img{ margin:8px 10px;}
.android-help h3{ font-size:14px; color:#4E4D43; font-weight:bold; margin-bottom:10px;}
.android-help .inner{ padding:13px 10px 13px 35px; overflow:hidden; line-height:20px;}
.android-help .mind{ color:#e17913; font-size:14px; margin:0 5px; font-weight:bold;}
.android-help .online{ color:#605b23; font-size:14px; font-weight:bold; margin-top:8px;}
.android-help .getmore{padding-left:0;}
.android-help .getmore p{ margin-top:-5px; }
.android-help .item{ padding:15px; padding-right:10px; line-height:21px; margin-left:10px;}
.android-help .item h3{ margin-bottom:5px; margin-top:-5px;}
.android-help .last{ padding-right:0; color:black;}
/* border */
.r-b-5
{
	border:1px solid #ddd;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	overflow:hidden;
	behavior: url(../PIE.htc);
}

/* page 1 */
.box{ background:url(../images/box.png) no-repeat; color:#000;line-height:21px; height:130px; overflow:hidden;}
.box .title{ color:#000a55; text-align:center; width:130px; height:25px; font-weight:bold;  position:relative; margin-top:-7px;}
.box .field1,
.box .field2,
.box .field3
{ margin:10px; *display:inline;}
.box .field-ico,
.box .field-dl
{ margin:15px 0;}
.box .field-dl{width:90px;  margin-left:10px; vertical-align:bottom }
.box .field-dl input{ margin:5px 0 13px 0;}
.box .field2{ padding:2px 0px 0 0; margin-right:0; margin-left:0;}
.box .field3{color:#666666;}
.box .field3 img{width:105px; height:105px; margin:3px 0 0 7px;}
.box .field-ico{width:67px; height:67px;}
.box .field3 .dl{ margin-top:10px;}

.mobile{ border:4px solid #bec6d5; margin-top:10px;}
.firend{ margin:10px 0; background:url(../images/firend.png) no-repeat; width:330px; height:150px;margin-top:15px; padding:30px 5px 5px 5px;}
.firend .pic,
.firend .msg
{ width:290px; margin:15px auto; color:#000;}
.firend .pic{ _margin-top:50px;}
.firend .pic li{width:87px; height:31px; background:#70a4bb; margin:0 5px 5px 0;}
.firend .msg{ margin-top:-10px;}
.firend .msg a{ color:#000}
.download{ background:url(../images/btn-1.png) no-repeat;width:80px; height:20px; border:none; color:#9d1600}

/* page 2 */
.iphone-fun{ padding:15px 0 0 46px; line-height:25px;}
.news{ background:url(../images/bg-news.png) no-repeat;width:602px; height:403px; margin:10px; margin-right:0; color:#000;font-size:14px;}
.news .message{ padding:60px 0 50px 130px; font-size:14px; text-indent:2em;}
.news .buttons{  text-align:center;}
.news .appstore{ margin-right:50px;}
.news .remark{ font-weight:bold; text-align:right; margin:60px 40px 0 0;}
.appstore{ background:url(../images/appstore.png) no-repeat;width:189px; height:62px; border:none;}
.mobile91{ background:url(../images/mobile91.png) no-repeat;width:160px; height:35px; border:none;margin-top:15px; }

/* page 3 */
.web{color:#000; margin:10px; background:url(../images/bg-web.png) no-repeat; width:600px; height:403px}
.web .titles{ background:url(../images/bg-titles.png) no-repeat;height:31px;padding-left:146px;}
.web ul{ padding:15px 0 15px 10px;}
.web .ir{ padding-left:0;}
.web p{ margin:12px 0 12px 8px; font-size:14px;}
.web .cj{ background-position:0px -31px;}
.web .gp{ background-position:0px -126px;}
.web .mj{ background-position:0px -62px;}
.web .lc{ background-position:0px 0;}
.web .jj{ background-position:0px -158px;}
.web .zj{ background-position:0px -94px;}
.web .msg{ height:240px; overflow:hidden;}

.web .visit{padding:20px; }
.web .visit h3{ font-weight:bold; font-size:14px; }
.web .visit p{ vertical-align:middle; margin-right:40px; line-height:22px; font-size:12px;}

.nav { margin-top:10px; font-size:12px;}
.nav a{ color:#000;}
.nav a:hover{ text-decoration:none;}
.nav li{ margin:0 2px; }

.wap{ position:relative}
.wap .waplink{ position:absolute; display:block;width:160px; height:212px; margin:67px 0 0 85px;}