.uptop span {
    display: block;
    height: 70px;
    margin: 0 0 -1px;
    position: relative;
    width: 70px;
}
.uptop {
    bottom: 260px;
    position: fixed;
    right: 10px;
    width: 70px;
    z-index: 6;
}
.uptop .up{
    display: none;
}
.uptop .up a, .uptop .fk a, .uptop .pl a {
    display: block;
    height: 70px;
    width: 70px;
    text-decoration: none;
}
.uptop .up a {
    background-position: 0 -138px;
}
.uptop .up a:hover {
    background-position: -70px -138px;
}