.mt10{margin-top:10px;}
.page{padding:3px;font-size:12px;font-family:"宋体";}
.vm *{display:inline-block; vertical-align:middle;}
.vm option{display:block;}

.page{ background:#F7F7F7; padding:5px;}
.page,
.page a,
.page span{color:#666; vertical-align:top;}
.page a{ margin:0 5px;}
.page *{display:inline-block; vertical-align:middle;}
.page option{display:block;}
.page a:link,.page a:visited{text-decoration:none;color:#0662ab}
.page a:hover,.page a:active{text-decoration:underline;color:#0662ab}
.page .pageInput{width:20px; margin:0 5px;}
.page .pageNum{padding:0 5px;} 
.page .pageNum b{height:20px;line-height:20px;padding:0 5px; background:#eee;}
.page .pageNum a{height:20px;line-height:20px;padding:0 5px; }
.page .pageNum a:link,.page .pageNum a:visited{}
.page .pageNum a:hover,.page .pageNum a:active{background:#eee}

.downLoadMore a{ display:block; text-align:center;height:35px;line-height:35px; text-align:center;border:1px solid #DFDFDF; background:#fafafa;font-size:12px; text-decoration:none;color:#7D7D7D;}
.funcBar{font-size:12px; background:#F6F6F6;border-bottom:1px solid #E1E1E1;padding:5px 10px;height:18px; position:relative;}
.funcBar .page{ position:absolute;right:10px;top:2px;}
.funcBar .page .pageNum b{height:20px;line-height:20px;padding:0 5px; background:#fff;}
.funcBar .page .pageNum a:link,.funcBar .page .pageNum a:visited{}
.funcBar .page .pageNum a:hover,.funcBar .page .pageNum a:active{background:#fff}
.pagediv{}