<?xml version="1.0" encoding="utf-8" ?>
<data>
	<settings>	

		<auto_play>
			<defaults symbol="circular" /><!--倒计时按钮的位置-->
			<tweenIn x="640" y="45" width="30" height="30" tint="0xFFFFFF" alpha="0.5"/>
			<tweenOver alpha="1"/>
		</auto_play>
	
		<prev_button><!--左右翻页按钮的位置-->				
			<tweenIn x="640" y="360" width="30" height="30" alpha="0" />
			<tweenOver alpha="0" />
		</prev_button>
		
		<next_button>			
			<tweenIn x="670" y="360" width="30" height="30" alpha="0" />
			<tweenOver alpha="0" />
		</next_button>
		
		<prev_symbol>
			<defaults type="3" />
			<tweenIn x="640" y="360" alpha="0.5"  />
			<tweenOver time="0.15" x="860" scaleX="1.1" scaleY="1.1" />
		</prev_symbol>
			
		<next_symbol>
			<defaults type="3" />
			<tweenIn x="670" y="360" alpha="0.5"/>
			<tweenOver time="0.15" x="900" scaleX="1.1" scaleY="1.1" />
		</next_symbol>		

		<description>
			<defaults 
				round_corners="10, 10, 10, 10"					
				heading_text_size="22"
				heading_text_color="0xfc9900"	
				paragraph_text_size="13"
				paragraph_text_color="0xFFFFFF"					
			/>
			<tweenIn x="200" y="240" width="560" height="90" alpha="0.15" />
			<tweenOver alpha="0.3"/>
		</description>	
	
		<transitions
			slicing="vertical" 
			direction="down"
			duration="0.6" 
			delay="0.2"
			cube_color="0x611811"
		/>
	
	</settings>


	<slides>
	
		<slide>
			<url>images/slide_1.jpg</url>
			<link target="_blank">http://www.yiyacn.com</link>	
		</slide>
		
		<transition direction="left"/>		
		
		<slide>
			<url>images/slide_2.jpg</url>
			<link target="_blank">http://www.yiyacn.com</link>	
		</slide>
		
		<transition duration="0.6" delay=".2" direction="down"/>		
		
		<slide>
			<url>images/slide_3.jpg</url>
			<link target="_blank">http://www.yiyacn.com</link>	
		</slide>	
		
	
			
	</slides>
</data>

