html{
    background: #d6d6d6;
}
.container{
    width: 1124px;
}
.header{
    background: url(../img/header-bg.jpg) repeat-x; height: 96px; overflow: hidden;
}
.header .container,.nav{
    height: 100%;
}
.header a{
    background: url(../img/nav.png) no-repeat;
    display: block;
}
.header .logo{
    width: 187px;
    height:100%;
}

.nav a{
    width: 190px;
    margin-top: 30px;
    margin-bottom:10px;
    height:50px;
    float: left;
    opacity: 0.5;
    border-left: 1px solid #c9c9c9;
}

.nav a:hover{
    opacity: 1;
}


.header .home{
    background-position:  -254px -30px;
}

.header .about{
    background-position: -443px -30px;
}

.header .index{
    background-position: -626px -30px;
}

.header .regprocess{
    background-position: -802px  -30px;
    border-right: 1px solid #c9c9c9;
}

.banner{
    height: 979px;
}
.slider li{ background-repeat: no-repeat; background-position: center center;}

.opportunity{
    background: url(../img/opportunity.png) no-repeat center;
    height: 540px;
}
.join{
    background: url(../img/join.png) no-repeat center;
    height: 487px;
}
.advantage{
    background: url(../img/advantage.png) no-repeat center;
    height: 516px;
}
.xg{
    background: url(../img/xg.png) no-repeat center;
    height: 112px;
}
.goup{
    background: url(../img/home.png) no-repeat;
    width: 115px;
    height: 114px;
    position: fixed;
    right: 10%;
    bottom: 10%;
    display: block;
    z-index: 99999;
}

.footer{
    background: #ffffff;
    padding: 20px 0;
    color: #727272;
}
.firendlink{
    margin: 30px 0;
    text-align: center;
}
.firendlink a{
    margin: 0px 25px;
}
.contect{
    margin: 20px 0;
}
.footer-line{
    background: url(../img/footer-line.png) no-repeat center;
    height: 71px;
}

.box{
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    margin-bottom: 20px;
}

.mb{
    margin-bottom: 20px;
}

.box-side{
    width: 364px;
    padding: 20px;
    float: left;
    height: 420px;
    overflow: hidden;
}

.box-part{
    margin-bottom: 20px;
}
.box-last{
    margin-bottom: 0;
}
.indent-block{
    background: #91c33f;
    width: 10px;
    height:10px;
    margin-right: 10px;
    display: inline-block;
}

.jslider img{
    width: 100%;
    height:100%;
}

.jslider-side{
    float: left;
    width: 570px;
    height: 420px;
}
.jslider-nav{
    float: left;
}
.jslider-nav li{
    width: 190px;
    height:105px;
}

.slider{
    height: 100%;
}
.slider .next,.slider .prev{
    border-radius: 100%
}
.slider-nav li{
    width: 20px;
    height:20px;
}

.service{
    position: fixed;
    left: 2%;
    top:15%;
    background: url(../img/service.png) no-repeat;
    width: 129px;
    height: 340px;
    color: #727171;
    transition: all .2s ease ;
    z-index: 9999;
}
.service.service-hide{
    left: -7%;
}
.service-btn{
    font-size: 15px;
    color: #ff913a;
    padding: 10px;
    font-family: "宋体";
    font-weight: bolder;
    display: block;
    cursor: pointer;
}
.service-exp{
    text-align: right;
    display: none;
}
.service-info{
    padding-top: 180px;
    text-align: center;
    margin-bottom: 10px;
}

.course-title{
    height: 109px;
    background: url(../img/course-title.png) no-repeat;
}

.course-item{
    float: left;
    width: 50%;
}

.course-body{
    background: #fff;
    border-radius: 10px;
    font-size: 18px;
    border-top-left-radius: 0 ;
}

.icon-round{
    display:inline-block;
    width: 19px;
    height:18px;
    background: url(../img/icon-round.png) no-repeat;
    margin-right:10px;
}

.course-side-border{border-right: 5px solid #d5d5d5 ;}
.course-side{ width: 560px; padding:52px; }

.contact-us a,
.contact-us span{
    margin: 0 5px;
    vertical-align: middle;
    display: inline-block;
}
.tooltip{ position: relative; display: inline-block; *display: inline; zoom: 1;}
.tooltip .tooltip-panel{ display: none; position:absolute; left: 0; top:30px; width: 150px; }
.tooltip:hover .tooltip-panel{ display: block;  }