.header {
  display: block;
  zoom: 1;
  background: #4eaeeb;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 10px 70px;
  min-height: 40px;
}
.header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.header .icon {
  font-size: 20px;
  vertical-align: middle;
}
.header a:hover {
  text-decoration: none;
}
.header .btn-left,
.header .btn-right {
  width: 70px;
  position: absolute;
}
.header .btn-left {
  left: 0;
}
.header .btn-right {
  right: 0;
}
