<form name="form" ng-submit="submit(form.$valid)"  role="form" novalidate>
        <table class="table modv2-table table-hover">
            <tr>
                <th width="12%">
                    <span class="text-danger">*</span> 填写订单号：
                </th>
                <td colspan="3">
                    <div class="input-group modv2-inputg">
                        <input type="text" placeholder="订单号" id="order_no" name="order_no" ng-model='item.order_no' class="form-control " required>
                    </div>
                    <div class="has-feedback text-danger" ng-messages="form.order_no.$error" ng-show="interacted(form.order_no)">
                        <div ng-message="required"><i class="fa fa-info-circle"></i> 请输入订单号！</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th width="12%">
                    <span class="text-danger">*</span> 填写擎动订单号：
                </th>
                <td colspan="3">
                    <div class="input-group modv2-inputg">
                        <input type="text" placeholder="擎动订单号" id="trans_order_no" name="trans_order_no" ng-model='item.trans_order_no' class="form-control " required>
                    </div>
                    <div class="has-feedback text-danger" ng-messages="form.trans_order_no.$error" ng-show="interacted(form.trans_order_no)">
                        <div ng-message="required"><i class="fa fa-info-circle"></i> 请填写擎动订单号！</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th width="12%">
                    <span class="text-danger">*</span> 填写交易凭证号：
                </th>
                <td colspan="3">
                    <div class="input-group modv2-inputg">
                        <input type="text" placeholder="交易凭证号" id="refer_no" name="refer_no" ng-model='item.refer_no' class="form-control " required>
                    </div>
                    <div class="has-feedback text-danger" ng-messages="form.refer_no.$error" ng-show="interacted(form.refer_no)">
                        <div ng-message="required"><i class="fa fa-info-circle"></i> 请输入交易凭证号！</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th width="12%">
                    <span class="text-danger">*</span> 填写签证单地址：
                </th>
                <td colspan="3">
                    <div class="input-group modv2-inputg">
                        <input type="text" placeholder="签证单地址" id="sign_url" name="sign_url" ng-model='item.sign_url' class="form-control " required>
                    </div>
                    <div class="has-feedback text-danger" ng-messages="form.sign_url.$error" ng-show="interacted(form.sign_url)">
                        <div ng-message="required"><i class="fa fa-info-circle"></i> 请输入签证单地址！</div>
                    </div>
                </td>
            </tr>
            <td colspan="100%">
                <label class="pickbox"><input type="radio" name="type" value="1" ng-model="item.type" checked/> 测试环境(目前是绑定到172.16.1.42) </label>
                <!--<label class="pickbox"><input type="radio" name="type" value="2" ng-model="item.type" /> sim环境 </label>-->
                <label class="pickbox"><input type="radio" name="type" value="3" ng-model="item.type" /> 线上环境 </label>
            </td>
        </table>
        <button class="btn btn-primary modv2-btn" >提交申请</button>
</form>
<div data-ng-show="res.ACTION_RETURN_CODE == 0">
    <table class="table modv2-table table-hover">
        <tr>
            <th width="12%">
                <span class="text-danger">*</span> 请求地址：
            </th>
            <td colspan="3">
                <div class="input-group modv2-inputg">
                    {{res.url}}
                </div>
            </td>
        </tr>
        <tr>
            <th width="12%">
                <span class="text-danger">*</span> 请求结果：
            </th>
            <td colspan="3">
                <div class="input-group modv2-inputg">
                    {{res.MESSAGE}}
                </div>
            </td>
        </tr>
    </table>
</div>