<configuration>
	<components>

    <component id="IActivityImageBLL" service="WanerDao2.WanerDaoIBLL.IActivity.IActivityImageBLL,WanerDaoIBLL" type="WanerDao2.WanerDaoBLL.Activity.ActivityImageBLL,WanerDaoBLL"/>
    <component id="IActivityImageFolderBLL" service="WanerDao2.WanerDaoIBLL.IActivity.IActivityImageFolderBLL,WanerDaoIBLL" type="WanerDao2.WanerDaoBLL.Activity.ActivityImageFolderBLL,WanerDaoBLL"/>
    
    <component id="IImagePythicalLocationBLL" service="WanerDao2.WanerDaoIBLL.ICommon.IImagePythicalLocationBLL,WanerDaoIBLL" type="WanerDao2.WanerDaoBLL.Common.ImagePythicalLocationBLL,WanerDaoBLL"/>

  </components>
</configuration>