html {
	margin: 0px; padding: 0px; color: rgb(34, 34, 34); font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif; text-decoration: none;
}
body {
	margin: 0px; padding: 0px; color: rgb(34, 34, 34); font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif; text-decoration: none;
}
body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
img {
	border: 0px currentColor;
}
ol {
	list-style: none; margin: 0px; padding: 0px;
}
ul {
	list-style: none; margin: 0px; padding: 0px;
}
a {
	color: rgb(0, 0, 0); text-decoration: none;
}
.clr {
	height: 0px; overflow: hidden; clear: both; display: block;
}
.copyright {
	padding: 8px; text-align: center; color: rgb(102, 102, 102); font-size: 14px;
}
.copyright a {
	color: rgb(102, 102, 102);
}
#cate7 {
	margin: 0px auto; width: 100%; -ms-overflow-x: hidden; background-color: rgb(245, 245, 245);
}
#cate7 .banner {
	margin-bottom: 15px;
}
#cate7 .banner img {
	width: 100%;
}
#cate7 ul {
	margin-top: 0px; display: block;
}
#cate7 li {
	margin: 0px 0px 15px; float: left; display: block;
}
#cate7 .cateul li {
	margin: 0px 0px 15px; width: 33%; float: left; display: block;
}
#cate7 li {
	margin: 0px 0px 15px; float: left; display: block;
}
#cate7 #thelist li {
	margin: 0px;
}
#cate7 #indicator li {
	margin: 0px 4px 0px 0px;
}
#cate7 li.li0 .menubtn {
	text-align: center;
}
#cate7 li.li1 .menubtn {
	text-align: center; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
#cate7 li.li2 .menubtn {
	text-align: center;
}
#cate7 .menubtn img {
	margin: 0px auto; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border: none;
}
#cate7 .menutitle {
	margin: 5px auto 0px; width: 72px; text-align: center;  overflow: hidden; font-size: 14px; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.img_icon { width: 75px; height:75px;}
