html {
	margin: 0px; padding: 0px; color: rgb(34, 34, 34); font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif; text-decoration: none;
}
body {
	margin: 0px; padding: 0px; color: rgb(34, 34, 34); font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif; text-decoration: none;
}
body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
img {
	border: 0px currentColor;
}
ol {
	list-style: none; margin: 0px; padding: 0px;
}
ul {
	list-style: none; margin: 0px; padding: 0px;
}
a {
	color: rgb(0, 0, 0); text-decoration: none;
}
h2 {
	font-size: 16px;
}
.left {
	float: left;
}
.right {
	float: right;
}
input {
	font-family: inherit; font-size: inherit; font-weight: inherit;
}
textarea {
	font-family: inherit; font-size: inherit; font-weight: inherit;
}
select {
	font-family: inherit; font-size: inherit; font-weight: inherit;
}
input {
	
}
textarea {
	
}
select {
	
}
.clr {
	height: 0px; overflow: hidden; clear: both; display: block;
}
.copyright {
	padding: 8px; text-align: center; color: rgb(102, 102, 102); font-size: 14px;
}
.copyright a {
	color: rgb(102, 102, 102);
}
#popmenu {
	margin: 0px auto; width: 200px; text-align: center; display: block; position: relative; cursor: pointer;
}
#popmenu::after {
	border-width: 5px 5px 0px; border-style: solid; border-color: rgb(157, 157, 157) transparent; top: 50%; width: 0px; height: 0px; right: 50px; margin-top: -2px; position: absolute; content: "";
}
#overlay {
	background: rgb(255, 255, 255); left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: absolute; z-index: 4; opacity: 0;
}
#win {
	margin: 0px 0px 0px -100px; left: 50%; top: 55px; width: 200px; display: none; position: fixed; z-index: 5;
}
.dropdown {
	list-style: none; margin: 0px auto; padding: 5px; border-radius: 7px; border: 1px solid rgba(0, 0, 0, 0.15); display: block; position: relative; cursor: pointer; box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15); background-color: rgba(47, 47, 47, 1); -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
}
.dropdown::after {
	border-width: 0px 6px 6px; border-style: solid; border-color: rgba(47, 47, 47, 0.9) transparent; width: 0px; height: 0px; right: 90px; bottom: 100%; position: absolute; content: "";
}
.dropdown::before {
	border-width: 0px 8px 8px; border-style: solid; border-color: rgba(0, 0, 0, 0.1) transparent; width: 0px; height: 0px; right: 88px; bottom: 100%; position: absolute; content: "";
}
.dropdown li {
	width: 50%; height: 37px; float: left; display: block; background-color: rgba(58, 58, 58, 1);
}
.dropdown li span {
	border-width: 1px; border-style: solid; border-color: rgb(73, 73, 73) rgb(24, 24, 24) rgb(24, 24, 24) rgb(73, 73, 73); width: 100%; height: 37px; text-align: center; color: rgb(255, 255, 255); line-height: 37px; font-size: 15px; display: block; text-shadow: 0px 2px 2px #000000;
}
.dropdown li:hover {
	background-color: rgba(0, 0, 0, 0.9);
}
.Listpage {
	position: relative; z-index: 2;
}
.fixed {
	
}
.top46 {
	margin: 0px; padding: 0px; height: 46px;
}
#ui-header {
	left: 0px; top: 0px; width: 100%; height: 46px; right: 0px; line-height: 46px; position: fixed; z-index: 3;
}
#ui-header .fixed {
	margin: 0px auto; top: 0px; height: 45px; border-bottom-color: rgb(209, 209, 209); border-bottom-width: 1px; border-bottom-style: solid; display: block; min-width: 320px; box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15); background-image: linear-gradient(rgb(255, 255, 255), rgb(249, 249, 249)); -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}
.ui-title {
	margin: 10px 70px 0px; padding: 0px; outline: 0px !important; text-align: center; text-indent: -10px; overflow: hidden; font-size: 16px; font-weight: normal; display: none; white-space: nowrap; -ms-text-overflow: ellipsis; min-height: 46px;
}
.ui-btn-left {
	background: url("../../images/themes/menu.png") no-repeat center / 24px auto; margin: 0px; padding: 0px; left: 0px; top: 0px; width: 50px; height: 44px; text-indent: -9999px; display: block; position: absolute;
}
.ui-btn-left_pre {
	background: url("../images/pre.png") no-repeat center / 24px auto; margin: 0px; padding: 0px; left: 0px; top: 0px; width: 50px; height: 44px; text-indent: -9999px; display: block; position: absolute;
}
.ui-btn-right {
	background: url("../../images/themes/Refresh.png") no-repeat center / 28px auto; margin: 0px; padding: 0px; top: 0px; width: 50px; height: 44px; right: 0px; text-indent: -9999px; display: block; position: absolute;
}
.ui-btn-right_menu {
	background: url("../../images/themes/menu.png") no-repeat center / 24px auto; margin: 0px; padding: 0px; top: 0px; width: 50px; height: 44px; right: 0px; text-indent: -9999px; display: block; position: absolute;
}
.ui-btn-right_home {
	background: url("../../images/themes/home.png") no-repeat center / 24px auto; margin: 0px; padding: 0px; top: 0px; width: 50px; height: 44px; right: 0px; text-indent: -9999px; display: block; position: absolute;
}
.focus {
	margin: 0px auto; overflow: hidden; position: relative;
}
.focus img {
	margin: 0px auto; width: 100%; display: block;
}
.focus li {
	min-height: 32px; min-width: 320px;
}
.focus li a {
	color: rgb(255, 255, 255); text-decoration: none;
}
.focus li span {
	left: 0px; top: 0px; width: 100%; height: 100%; display: block; position: absolute;
}
.focus li h2 {
	margin: 0px; width: 100%; height: 32px; text-align: center; bottom: 0px; color: rgb(255, 255, 255); line-height: 32px; overflow: hidden; font-weight: normal; white-space: nowrap; position: absolute; -ms-text-overflow: ellipsis;
}
.focus li .opacity {
	background: rgb(0, 0, 0); width: 100%; height: 32px; bottom: 0px; font-weight: normal; display: block; position: absolute; opacity: 0.7;
}
.focus .focusTit {
	left: 0px; width: 100%; height: 10px; text-align: center; bottom: 8px; position: absolute;
}
.focus .focusTit span {
	background: rgb(133, 133, 133); margin: 0px 5px; border-radius: 10px; width: 5px; height: 5px; display: inline-block;
}
.focus .focusTit span.on {
	background: rgb(36, 155, 255);
}
#listhome4 {
	margin: 0px auto; -ms-overflow-x: hidden; min-width: 320px; max-width: 640px; background-color: rgb(240, 239, 239);
}
#listhome4 .chatPanel {
	
}
#listhome4 .chatPanel .media {
	margin: 15px 9px 0px 10px; border-radius: 5px; border: 0px solid rgb(209, 209, 209); box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15); background-color: rgb(255, 255, 255); -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
#listhome4 .chatPanel .media .mediaPanel {
	margin: 0px; padding: 0px;
}
#listhome4 .chatPanel .media .mediaHead {
	padding: 15px 15px 4px; color: rgb(0, 0, 0); font-size: 20px; border-bottom-color: rgb(211, 216, 220); border-bottom-width: 0px; border-bottom-style: solid;
}
#listhome4 .chatPanel .media .mediaHead .title {
	text-align: left; line-height: 1.2em; font-size: 18px; display: block;
}
#listhome4 .chatPanel .media .mediaHead .time {
	margin: 5px 0px 0px; width: auto; color: rgb(140, 140, 140); font-size: 12px; display: block;
}
#listhome4 .chatPanel .media .mediaImg {
	margin: 0px 15px; padding: 0px; overflow: hidden; position: relative; min-width: 260px;
}
#listhome4 .chatPanel .media .mediaImg img {
	width: 100%;
}
#listhome4 .chatPanel .mediaFullText .mediaContent {
	padding: 0px 0px 10px; text-align: left; color: rgb(34, 34, 34); font-size: 16px;
}
#listhome4 .chatPanel .mediaFullText .mediaContentP {
	margin: 10px 15px 0px; border-bottom-color: rgb(211, 216, 220); border-bottom-width: 1px; border-bottom-style: solid; -ms-word-break: normal;
}
#listhome4 .chatPanel .mediaFullText .mediaContent p {
	line-height: 1.5em; overflow: hidden; font-size: 14px; max-height: 40px;
}
#listhome4 .chatPanel .media .mediaFooter {
	padding: 0px 15px; border-radius: 0px 0px 12px 12px; -webkit-border-radius: 0px 0px 12px 12px; -moz-border-radius: 0px 0px 12px 12px;
}
#listhome4 .chatPanel .media .mesgIcon {
	background: url("../../images/themes/ico-next2.png") no-repeat 0px 0px / 10px auto; margin: 8px 0px -2px 4px; width: 10px; height: 19px; display: inline-block;
}
#listhome4 .chatPanel .media .mediaFooter .mesgIcon {
	margin: 18px 3px 0px 0px;
}
#listhome4 .pagination {
	margin: 0px auto; width: 320px; height: 70px; text-align: center; line-height: 70px;
}
#listhome4 .pagination div {
	display: inline-block;
}
#listhome4 .pagination a {
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==") 0% 0% / 100% rgb(254, 254, 254); margin: 0px; padding: 6px 27px; border-radius: 20px; border: 1px solid rgb(209, 209, 209); color: rgb(102, 102, 102); box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1); text-shadow: 0px 1px #fff; -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1); -webkit-border-radius: 20px 20px; -moz-border-radius: 20px/20px;
}
#listhome4 .pagination a:hover {
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RhZGFkYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==") 0% 0% / 100% rgb(254, 254, 254); border: 1px solid rgb(190, 190, 190);
}
#listhome4 .pagination a:active {
	background: rgb(236, 236, 236);
}
#listhome4 .pagination .disabled a {
	border: 1px solid rgb(203, 203, 203); box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
#listhome4 .pagination .disabled a:hover {
	border: 1px solid rgb(203, 203, 203); box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
#listhome4 .pagination .allpage {
	text-align: center; vertical-align: baseline; display: inline-block; position: relative;
}
#listhome4 .pagination .currentpage {
	width: 70px; line-height: 30px;
}
#listhome4 #dropdown-select {
	left: 0px; top: 0px; width: 70px; height: 30px; position: absolute; opacity: 0;
}
#listhome4 .list {
	margin: 10px 10px 0px; padding: 9px 15px; border-radius: 5px; border: 0px solid rgb(209, 209, 209); box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15); background-color: rgb(255, 255, 255); -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
#listhome4 .newsmore {
	margin-top: 0px; border-bottom-color: rgb(224, 224, 224); border-bottom-width: 1px; border-bottom-style: solid; display: block; cursor: pointer;
}
#listhome4 :last-child.newsmore {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
#listhome4 .olditem {
	background: url("../../images/ico-next.png") no-repeat right / 7px auto; padding: 10px 0px; border-radius: 0px; text-align: left; line-height: 25px; display: block; box-shadow: none;
}
#listhome4 .title {
	color: rgb(83, 83, 83); overflow: hidden; padding-right: 20px; font-size: 14px; margin-left: 0px; display: block; white-space: nowrap !important; -ms-text-overflow: ellipsis;
}
