
#_oss_container {
	z-index: 9999999999999999;
	position: fixed;
	right: 0px;
	bottom: 5px;
	font: normal 10px/22px "trebuchet ms", verdana, arial, sans-serif;
	color: #eee;
}

#_oss_container a, #_oss_container a:hover, #_oss_container a:visited, #_oss_container a:active {
	color: white !important;
	background-color: transparent;
}

#_oss_main a, #_oss_main a:hover, #_oss_main a:visited, #_oss_main a:active {
	text-decoration: none !important;
}

#_oss_container a:hover {
	text-decoration: underline !important;
}

#_oss_container img, #_oss_container a img {
	border: 0 !important;
	vertical-align: middle;
	margin-right: 5px;
}

#_oss_container div {
	display: block;
}


/* all boxes */

#_oss_container ._ossbox {
	box-shadow: 0px 2px 2px #111;
	border-radius: 3px;
	margin: 0 10px 10px 10px;
	float: right;
	clear: right;
	
	background-color: #000;
	opacity: .85;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; 
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85); 
}


/* main box */

#_oss_container ._ossitem {
	padding: 5px 8px;
	float: left;
	border-left: 1px dotted #555;
}
#_oss_container ._ossvalue {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
#_oss_container ._ossdesc {
	text-align: center;
}


#_oss_container ._ossbranding {
	font: normal 8px/8px "trebuchet ms", verdana, arial, sans-serif;
	padding: 5px;
	clear: left;
	text-align: center;
	background: #222;
	border-radius: 0 0 3px 3px;
}





/* secondary box (calendar and visitors) */

#_oss_secondary {
	padding: 8px;
	min-width: 300px;
}

#_oss_header {
	font: bold 14px/22px "trebuchet ms", verdana, arial, sans-serif;
	margin: 5px 0 5px 20px; /* need big margin-right so it doesn't overflow with #loading before content is filled */
	white-space: nowrap;
}

/* tabs */
#_oss_header ._oss_tabs {
	float: right;
	margin: 15px 0 5px 0;
}
#_oss_header a {
	margin-left: 10px;
}
#_oss_header a._oss_current {
	color: #222 !important;
	background: white !important;
	padding: 5px 8px;
	border-radius: 3px;
	text-decoration: none !important;
	font-size: 16px;
}

#_oss_loading img {
	float: right;
	margin: 0 10px 10px 10px;
}

#_oss_body {
	margin-left: 10px;
}
#_oss_body a._oss_current {
	color: #222 !important;
	background: white !important;
	padding: 2px 5px;
	border-radius: 3px;
	text-decoration: none !important;
	font-weight: bold;
}

#_oss_subreport {
	font-size: 11px !important;
}
#_oss_subreport ._oss_sub_value {
	font-size: 12px;
	font-weight: bold;
	float: left;
	width: 20px;
	text-align: right;
	margin-right: 10px;
}

#_oss_footer {
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #777;
	clear: both;
	text-align: right;
}


._oss_visitor {
	padding: 10px 0;
	border-bottom: 1px dotted #777;
	clear: right;
}
._oss_username {
	font: bold 14px/22px "trebuchet ms", verdana, arial, sans-serif;
	margin-bottom: 5px;
	white-space: nowrap;
}

._oss_fr {
	float: right;
	margin-left: 15px;
}
._oss_fl {
	float: left;
	margin-right: 10px;
}
._oss_cl {
	clear: left;
}
._oss_clear {
	clear: both;
}

._oss_small {
	font-size: 8px;
}
._oss_bold {
	font-weight: bold;
}
._oss_hideme {
	display: none !important;
}



@media print {
	#_oss_container {
		display: none;
	}
}

































