<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>易信拜年赢好礼</title>
    <meta name="keywords" content="keywords"/>
    <meta name="description" content="description"/>

    <!-- author  -->
    <!--<meta name="author" content=""/>-->
    <!-- copyright  -->
    <!--<meta name="copyright" content="2001-2010 Comsenz Inc."/>-->
    <!-- web label  -->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <!-- 浏览器不会自动调整文件的大小,也就是说是固定大小,不会随着浏览器拉伸缩放。-->
    <!--<META NAME="MobileOptimized" CONTENT="240">-->

    <!-- "添加到主屏幕“后，全屏显示-->
    <!--<meta name="apple-touch-fullscreen" content="yes">-->
    <!-- 如果内容设置为YES，Web应用程序运行在全屏模式;否则，它不会。默认行为是使用Safari浏览器显示网页内容-->
    <!--<meta name="apple-mobile-web-app-capable" content="yes" />-->
    <!--在iPhone 手机上默认值是（电话号码显示为拨号的超链接）-->
    <!--
        <meta name="format-detection" content="telephone=no"/>
        <meta content="telephone=no, address=no" name="format-detection">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
    -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!-- web ico  -->
    <link rel="shortcut Icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="bookmark" href="favicon.ico"/>

    <!-- base style  -->
    <link rel="stylesheet" type="text/css" media="all" href="./source/modules/userapi/template/css/zero.mobile.min.css" />

    <!-- web style  -->
    <link rel="stylesheet" type="text/css" media="all" href="./source/modules/userapi/template/css/layout.css"/>


   <!-- <script type="text/javascript" src="lib/jquery-2.0.3.min.js"></script>-->

</head>
<body>

<!-- header -->
<header class="header"><img src="./source/modules/userapi/template/bainian_img/banner.jpg" alt=""/></header>
<!-- /header -->

<!-- container -->
<section class="container">
    <div class="text-warning notice">
        活动时间：2014年1月23日至2月18日（农历小年至元宵节） <br>
        用户范围：福建地区易信用户<br>
    </div>
    <ul class="menu unstyled" style="margin-bottom: -60%;">
        <li><a href="{$baoming_url}" class="btn-menu">我要报名 <i class="icon-caret"></i></a></li>
        <li><a href="{$desc_url}" class="btn-menu">活动规则 <i class="icon-caret"></i></a></li>
        <li><a href="http://dm.189.cn/microcard/upcmicrobanner/preview/sbindex/20" class="btn-menu">易信贺卡 <i class="icon-caret"></i></a></li>
        <li><a href="https://plus.yixin.im/wap/material/viewImageText?id=846570" class="btn-menu">明星拜年 <i class="icon-caret"></i></a></li>
        <li><a href="{$sms_url}" class="btn-menu">祝福短语 <i class="icon-caret"></i></a></li>
    </ul>
</section>
<!-- footer -->
<footer class="footer"><img src="./source/modules/userapi/template/bainian_img/footer.png" alt=""/></footer>
<!-- /footer -->

</body>
</html>
