::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: #6e6e6e;
    outline: 1px solid #333;
}

/*
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}*/
.pull-left{ float: left ;}
.pull-right{ float: right ;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*height:1%;}
.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
    overflow: hidden;
}
.inline-block{ display: inline-block; vertical-align: middle; }
.text-break{
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}

.font-xs,.font-xs-lightgray,.font-xs-gray {font-size: 11px;}
.font-ms{font-size: 12px;}
.font-md{font-size: 14px;}
.font-lg{font-size: 16px;}
.font-xlg{font-size: 18px;}
.font-xxlg{font-size: 24px;}
.font-xxxlg{font-size: 36px;}
.font-en{ font-family: Arial; }
.font-xxs{ font-size: 10px; }

.font-xs-lightgray,.text-lightgray{ color: #999999; }
.font-xs-gray,.text-gray{ color: #666 ;}

.hr{
    border-top: 1px solid #E5E5E5;
    padding-top: 15px;
    margin-top: 15px;
}
.hr-bottom{
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 15px;
    margin-bottom:  15px;
}
img{
    max-width: 100%;
}
.banner img{
    display: block;
}

.fixed{
    position: fixed;
    z-index: 10;
}
.fixed-bottom{
    bottom: 0;
    left: 0;
    width: 100%;
}

.container{
    padding:10px 15px;
}