/* ************ Grids ************* */
/* ====== 表格 ====== */
table.cell-border td{ padding:10px; border:1px solid #999;}
/* ====== 常用样式 ====== */
.pad{padding:10px;}
.mar{margin: 10px;}
.mar-init{margin:0;}
.center{ text-align:center;}
.clear{ clear:both; }
/* ====== 字间距 ====== */
.space1em{ word-spacing:1em;}
.space2em{ word-spacing:2em;}
.lin-hei25{ line-height:25px;}
.lin-hei20{ line-height:20px;}


/* ====== GRIDS ====== */
.line:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.lastUnit:after{content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";visibility:hidden; clear:both;height:0 !important;display:block;line-height:0;}
.line{*zoom:1;}
.left{ float:left;display:inline;_margin-right:-3px;} /* IE6 */
.right{ float:right;display:inline;_margin-left:-3px;}/* IE6 */
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit {display: table-cell; *display:block;*zoom:1;float:none;_position:relative; _left:-3px; _margin-right: -3px;width:auto;}

/* ==== 列表 ==== */
dl.float dt,dl.float dd{ float:left; margin-right:10px; margin-bottom:10px; }
dl.dt-lfloat dt{ margin-right:10px;}
dl.dt-lfloat dt,dl.dd-lfloat dd{ float:left; margin-bottom:10px; }

dl.dt-rfloat dt,dl.dd-rfloat dd{ float:right; margin-bottom:10px; }
dl.dt-lfloat dd,dl.dd-lfloat dt,dl.dt-rfloat dd,dl.dd-rfloat dt{ margin-bottom:10px; }
dl.dd-float dt{margin-right:10px; }
ul.float li{ float:left;}
/* mod */
.mod{margin:10px;}
.mod .inner{/*background: url(skin/transparent.png) repeat left top;*/}
.mod .hd,.mod .bd,.mod .ft{overflow:hidden;_overflow:visible; _zoom:1;}
.mod .inner{position:relative;}
.mod .inner span{display:block;background-repeat:no-repeat;font-size:1%;position:relative;z-index:10;}
.mod .tl,.mod .tr,.mod .bl,.mod .br{height:10px; width:10px;float:left;}
.mod .tl{background-position: left top;}
.mod .tr{background-position: right top;}
.mod .bl{background-position: left bottom;} 
.mod .br{background-position: right bottom;}
.mod .br,.mod .tr{float:right;}
.mod .tr,.mod .tl{overflow:hidden;margin-bottom:-32000px;}/* margin bottom needs to be < -9px */
.mod .bl,.mod .br{margin-top:-10px;}
.mod .top{background-position:center top;}
.mod .bottom{background-position:center bottom;_zoom:1;}/* this zoom required for IE5.5 only*/
/* ====== complex ====== */
.complex{overflow:hidden;*position:relative;*zoom:1;}/* position/zoom required for IE7, 6, 5.5 */
.complex .tl, .complex .tr{height:32000px; margin-bottom:-32000px;width:10px;}
.complex .bl, .complex .br{/*margin-top:0;*/}
.complex .top{height:5px;}
.complex .bottom{height:5px;/*margin-top:-10px;*/}
/* ====== pop ====== */
.pop{overflow:visible;margin: 10px 20px 20px 10px; background-position:left top;}
.pop .inner{right:-10px; bottom:-10px; background-position:right bottom;padding:0 10px 10px 0;}
.pop .tl, .pop .br{display:none;}
.pop .bl{bottom:-10px;}
.pop .tr{right:-10px;}

 /* ====== 常用框 ====== */
.box{/* box css */}
.box .hd{ /* box-hd */ height:30px;}
.box .hd .tl,.box .hd .tr,.box .hd .tc{ height:100%;}
.box .hd .tl{ float:left;_margin-left:-3px;background-repeat:no-repeat;}
.box .hd .tr{ float:right; _margin-right:-3px;background-repeat:no-repeat;}
.box .hd .tc{ overflow: hidden;_overflow:visible;_zoom:1;}
.box .bd{}
.box .ft{}
.box .ft .bl,.box .ft .br,.box .ft .bc{  height:100%;}
.box .ft .bl{ float:left;_margin-left:-3px;background-repeat:no-repeat;}
.box .ft .br{ float:right; _margin-right:-3px; background-repeat:no-repeat;}
.box .ft .bc{ overflow: hidden;_overflow:visible;_zoom:1;}

 /* ==== 分页 ==== */
.datapager{width:650px; margin:5px auto;  font-size:14px; }
.datapager a
{
    float:left; 
    text-align:center;
    height:20px;
    line-height:20px; 
    border:1px solid #C8C7C3;
    margin-right:5px;
    display:block;
    color:#7F93C5;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    overflow:hidden;
	text-decoration:none;
}
.datapager a.normal,.datapager a.current{width:20px;}
.datapager a.normal{  background:#fff; }
.datapager a.current{  background:#7F93C5; color:#fff; border:1px solid #636E80; } 
.datapager a.prev, 
.datapager a.next,
.datapager a.first,
.datapager a.last
{
    width:50px;
}
.datapager a:hover{ border:1px solid #999;background:#7E93C2; color:#fff;text-decoration:none;  }

/*  ==== tab ==== */		
.tab,.tab .content li{width:700px; height:500px;}
.tab .title{top:0px; width:100%;height:40px; padding:0 10px;filter:alpha(opacity=70);opacity:0.7; }
.tab .content,.tab .title{list-style:none; margin:0; padding:0; }
.tab .content{margin-top:30px;top:40px;border-top:1px solid #333; }
.tab .title li
{
    text-align:center;
    border:1px solid #7F93C5; 
    border-bottom:none;
    float:left; 
    cursor:pointer;  
    margin-right:10px; 
    width:70px; 
    height:30px; 
    line-height:30px; 
    -moz-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    overflow:hidden;
}
.tab .title li:hover{}
.tab .title .current{ color:#fff; background:#7F93C5;  }
.tab .title .normal{ color:#333; background:#fff; filter:alpha(opacity=70);opacity:0.7;}

/*  ====== dialog ====== */	
.dialog 
{
    width:400px;
    display:none;  
    background:#fff;
    border:1px solid #333; 
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow:hidden;
    -webkit-box-shadow:2px 2px 6px #333;
    -moz-box-shadow:2px 2px 6px #333;
    box-shadow:2px 2px 6px #333;
 }
.dialog .title{height:30px; line-height:30px;}
.dialog .title a{ display:block; float:right; margin-right:10px;}
.dialog .content{ }
.dialog .btns{ text-align:right;}

/*  ====== SideNav ====== */
.side-nav{padding:0 10px;width:200px;}
.side-nav a{height:30px; line-height:30px; display:block}	

/*  ====== Nav ====== */
.nav{margin:0 auto;}
.nav li{ float:left;height:100%; text-align:center;}
.nav a{height:100%; float:left; display:block; cursor:pointer;margin:0 10px;}	
.nav a:hover{ text-decoration:none;}	
/* ==== sitemap ==== */
.sitemap{height:25px; line-height:25px; width:700px; font-size:12px; color:#999; margin:10px auto;  }
.sitemap li{ float:left;height:100%; text-align:center; }
.sitemap a{  margin:0px 10px; }

/* ==== Image ==== */
.img{padding:5px; background:#fff; border:1px solid #e1e1e1;}


/* ==== Columns ==== */
.columns{}
.columns .cl{ float:left;}
.columns .cr{ float:right;}
.columns .cc{ overflow: hidden;_overflow:visible;_zoom:1;}



