.form-horizontal {
  display: block;
  zoom: 1;
}
.form-horizontal:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.form-horizontal .form-group {
  float: left;
}
.form-group {
  margin: 10px 0;
}
.form-group + .form-group {
  margin-top: 0;
}
.form-label {
  display: inline-block;
}
.form-center {
  width: 243px;
  margin: 0 auto;
}
.form-help {
  margin-left: 10px;
  position: relative;
  display: inline-block;
}
.form-help.text-danger,
.form-help.text-success {
  -moz-animation: help 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  -webkit-animation: help 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  -o-animation: help 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  -ms-animation: help 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: help 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}
.form-block .form-label {
  display: block;
  margin-bottom: 5px;
}
.form-xs .form-group {
  padding-left: 80px;
}
.form-xs .form-label {
  margin-left: -80px;
  width: 80px;
}
.form-sm .form-group {
  padding-left: 100px;
}
.form-sm .form-label {
  margin-left: -100px;
  width: 100px;
}
.form-md .form-group {
  padding-left: 120px;
}
.form-md .form-label {
  margin-left: -120px;
  width: 120px;
}
.form-lg .form-group {
  padding-left: 140px;
}
.form-lg .form-label {
  margin-left: -140px;
  width: 140px;
}
.form-xlg .form-group {
  padding-left: 160px;
}
.form-xlg .form-label {
  margin-left: -160px;
  width: 160px;
}
.pickbox {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}
.pickbox > label {
  margin-left: -20px;
}
@-moz-keyframes help {
  0% {
    left: 90px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes help {
  0% {
    left: 90px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-o-keyframes help {
  0% {
    left: 90px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes help {
  0% {
    left: 90px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
