/* Style Sheet 
 * Use for:
 * Created:2012-12-25
 * Update:2012-12-25
 * Author:cheng
*/

/* CSS Reset */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,a,big, em,font,img,strong,tt, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
input,select,textarea{ font-size:12px}
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 {font-size: 100%; }

/* base */
body{font-size:12px;line-height:18px; font-family:simsun,Arial; color:#3f3f3f;background:#fff;}
.clearfix {clear:both;overflow:hidden;_height:1%;}
.fl {float:left;}
.fr {float:right;}
.clear0 {clear:both;height:0px;line-height:0px;overflow:hidden;font-size:0;}
.clear10 {clear:both;height:10px;line-height:0px;overflow:hidden;font-size:0;}
.clear15 {clear:both;height:15px;line-height:0px;overflow:hidden;font-size:0;}
.tr {text-align:right;}
.hide { display:none}

/* character */
a {color: #3f3f3f;text-decoration: none;}
a:hover {color: #f60; }
.color_white {color:white;}
.color_red {color:#ff0000;}
.color_blue {color:#0063dc;}
.color_gray {color:gray;}
.color_green {color:#9ffb1e;}
.color_orange {color:#e7610e;}
.color_purple {color:#db2257}
.color_yellow {color:#ffd200;}
.color_black {color:#000;}
.f14 {font-size:14px;}
.fb {font-weight:bold;}

/* live */

.live{ width:542px; height:185px; float:left; margin-top:15px;}

.tit1 { background:url(../images/CFPL_14.jpg) no-repeat; width:542px; height:33px;}

.lives { width:542px; height:137px; background-color:#FFF;}
.lives h3 { font-weight:bold; color:#0092db; font-size:14px; text-align:center; line-height:30px; margin-bottom:4px;  height:29px;}
.match { width:540px; border:1px #d1d1d1 solid; display:block; height:102px; margin:0 auto;}
.datatable { width:100%;}
.datatable .tt td{ height:25px; font-size:12px; margin:0 auto; background-color:#ffffff; line-height:24px; font-weight:normal;}
.datatable .tt td a { font-size:12px; line-height:22px; color:#e08d5a; text-decoration:none;}
.datatable .tt td a:hover { font-size:12px; line-height:22px; color:#e05a5a; text-decoration:underline;}
.datatable td { height:25px; font-size:12px; margin:0 auto; background-color:#f3f3f3; line-height:24px;}
.datatable td a { font-size:12px; line-height:22px; color:#e08d5a; text-decoration:none;}
.datatable td a:hover { font-size:12px; line-height:22px; color:#e05a5a; text-decoration:underline;}
.pd1 { padding-left:10px;}
.pd2 { text-align:right;}
.pd3 { text-align:left;}
.pd4 { padding-right:10px;}

.container{ width:543px;}
.container,.scrollDiv{ position:relative; }
	.scrollDiv{ margin:0 auto; font-size:12px; width:542px; height:137px; overflow:hidden; }
		.scrollDiv ul{ position:absolute; width:400%; }
		.scrollDiv li{ line-height:24px; width:548px; margin:0 5px 0 0; height:137px; overflow:hidden; display:inline; float:left;}
	.rightscroll,.leftscroll{ position:absolute; display:block; background:url(../images/btn.png) no-repeat; width:193px; height:29px; font-family:Microsoft YaHei; font-size:14px; font-weight:bold; color:#FFF; line-height:29px; overflow:hidden; top:0px; text-decoration:none; text-align:center;}
		.leftscroll{ left:0px; }
		.rightscroll{ right:0px;}
	.scrollContent{ float:left; width:206px;}
	.scrollStop { background:#ccc;}

/* video */
.video { width:968px; height:140px; border:1px #d5d5d5 solid; margin:0 auto; overflow:hidden;}
.video h2 { width:138px; height:140px; background:url(../images/ico_v.png) no-repeat center center; float:left; overflow:hidden; text-indent:-1000px;}
.video ul { float:left;}
.video li { float:left; width:130px; margin:12px 17px;}
.video li img { width:128px; height:78px; border:1px #808080 solid; display:block; margin-bottom:5px;}
.video li p { height:36px; line-height:18px; text-align:center;}

/* schedule */
.tabtit { width:980px; height:40px; background:#45413e;}
.tabtit li { float:left; width:485px; height:40px; font-family:microsoft yahei; line-height:40px; text-align:center; color:#fff; font-size:24px; cursor:pointer;}
.tabtit li.select { background:#0092db;}

.schedule { width:970px;margin:0 auto; overflow:hidden;}
.schedule h3 { background:url(../images/bg1.png) no-repeat;height:50px; overflow:hidden; text-indent:-10000px;}

.schedulebox { width:968px; height:595px;border:1px #d5d5d5 solid; margin:0 auto; overflow:hidden;}

.teamico { height:110px; padding-left:4px;}
.teamico li { float:left; margin:18px 10px 0;}
.teamico img {border: 1px solid #DBDBDB;height: 68px;width: 98px; display:block;}

.gamedata { float:left; width:470px; border:1px #dbdbdb solid; margin-left:8px;}
.gamedata table { width:100%;}
.gamedata td { padding:6px 2px; text-align:center;}
.gamedata th { padding:8px 2px; background:#0092db; border:1px #00abe4 solid; color:#fff; font-weight:normal;}
.gamedata .bg td { background:#f0efef;}
.gamedata a {color:#666}
.gamedata a:hover {color:#f60}
.gamedata .s1 { color:#0092db;}
.gamedata .s2 { color:#d55100;}

.gametime { height:70px;}
.gametime li { float:left; width:304px; text-align:center;line-height:28px; margin-left:14px; margin-top:10px; }
.gametime li span { background:url(../images/ico.png); height:28px; display:block;}

.gameteam {height:500px; position: relative; background:#fff url(../images/bgteam.png) center top no-repeat;}
.gameteam div { background:url(../images/ico2.png);width:124px;height:58px; position:absolute;overflow:hidden;}
.gameteam .v1 {top:100px;left:80px;}
.gameteam .v2 {top:350px;left:80px;}
.gameteam .v3 {top:150px;left:420px;}
.gameteam .v4 {top:300px;left:420px;}
.gameteam .v5 {top:100px;right:80px;}
.gameteam .v6 {top:350px;right:80px;}
.gameteam .v7 {top:400px;left:350px;}
.gameteam .v8 {top:400px;left:500px;}
.gameteam p { position:absolute;}
.gameteam .p1 { top:250px;left:100px;}
.gameteam .p2 { top:250px;left:440px;}
.gameteam .p3 { top:250px;right:100px;}
.gameteam .p4 { top:480px;left:425px; width:120px; text-align:center;}
.gameteam b { color:#ce0505;}
.gameteam a {color:#000; text-decoration:none;}
