@media (max-width: 480px) {
  .hidden-xs {
    display: none;
  }
}
@media (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  .hidden-md {
    display: none;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none;
  }
}
