// TODO css base setting
font-size = 13px
ismobile = false

default-color = #444
//vendors = moz webkit ms o official

//img-path = '../img/'
//page-width = 1024px
//space = 15px;
//ie-support = false
//responsive = false

@require 'base/index'
// @require 'animate/animate'

// TODO base styles
@require 'controls/btn/index'
@require 'controls/icon/index'
@require 'controls/form/index'
// @require 'controls/input/index'
@require 'controls/layout/index'
// @require 'controls/list/index'
// @require 'controls/navbar/index'
@require 'controls/text/index'
// @require 'controls/article/index'

// TODO extend styles
// @require 'controls/alert/index'
// @require 'controls/code/index'
// @require 'controls/panel/index'
// @require 'controls/scroll/index'
// @require 'controls/tooltip/index'
// @require 'controls/thumbnail/index'
// @require 'controls/media/index'

// TODO site css
//@require 'site/mobile'

body
    color #333;
    // bg-cover:'bg.jpg';
    font-family microsoft yahei, "黑体", Arial, Simsun, "Arial Unicode MS", Mingliu, Helvetica;

