.webuploader-container{
	float:left;
	margin-right:10px;
}

.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	/*position: relative;*/
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	line-height:18px;
}
.webuploader-pick-hover {
	background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

.uploader-list{
	float:right;
}
.uploader-list .state{
	float:right;
}
.uploader-list .info{
	float:left;
	text-overflow: ellipsis;   white-space: nowrap;   word-break: normal;   word-wrap: normal;  overflow: hidden;
	margin-right:10px;
	width:190px;
}
