body{font-family:"宋体"}
/* links */
a { color: #666; font-weight:decimal;text-decoration: none }
a:focus, a:hover { text-decoration: underline }
a:visited { color:#005a9c; }
/* ====== Lists ======*/
/* numbered list */
ol.simpleList li{list-style-type: decimal; margin-left:20px;}
/* standard list */
ul.simpleList li{}

.lesson-list-color{color:#481100;}
.line-height{ line-height:25px;}
.artical{color:#972400; overflow:hidden;}
.artical-list-title{color:#481100; font-weight:bold;};
.artical-list-t{color:#622A00;}
.artical-list a{color:#4D230B;  font-size:14px;}
.more{ text-align:right;}
.more a{color:#E50000;}
h1{ font-weight:bold; font-size:18px;}
h2{ font-weight:bold; font-size:14px;}
.padding{padding:10px;}
.text-indent{ text-indent:2em;}
p{ line-height:20px;}
/* 附加样式 */
/* 文本框样式 */
.text-style{}
.text-sytle:hover{}
.text-focus{}
.text-blur{}
/* 阴影样式 */
.box-shadow{
	-moz-box-shadow:5px 5px 15px #DFE1E3 inset,-5px -5px 15px #DFE1E3  inset;          /* For Firefox3.6+ */
	-webkit-box-shadow:5px 5px 15px #DFE1E3 inset,-5px -5px 15px #DFE1E3  inset;         /* For Chrome5+, Safari5+ */
	box-shadow:5px 5px 15px #DFE1E3 inset,-5px -5px 15px #DFE1E3  inset;                   /* For Latest Opera */
}
.box-out-shadow{
	-moz-box-shadow:5px 5px 5px #999 inset,-5px -5px 5px #999  ;          /* For Firefox3.6+ */
	-webkit-box-shadow:5px 5px 5px #999 inset,-5px -5px 5px #999  ;         /* For Chrome5+, Safari5+ */
	box-shadow:5px 5px 5px #999 ,-5px -5px 5px #999  ;                   /* For Latest Opera */
}
.wrap-en{ word-break:break-all;}/* 英文自动换行 */
.word-overflow{overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}/* 超过的字以...显示 */
.word-center{text-align:justify;text-justify:inter-ideograph;}/* 文本左右对齐 */
.png{ _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/folder/yourimage.png',sizingMethod='crop');}/* IE6 png */

.activity-style{  font-size:18px; color:#C05933; font-weight:bold; }
.bt{ font-weight:bold; font-size:16px}
.box-style{border:1px solid #C9C9C9; background:#F7F7F7 url(../images/bg_study.gif) repeat-x; }
.box-t{background:url(../images/title_study.gif);  display:block; width:182px; height:32px; line-height:32px; color:#ffffff;}
.no-bor-bot{ border-bottom:none;}

.lesson-msg-sytle{color:#481100}
.lesson-bt-sytle dd{color:#972400;  font-weight:bold; font-size:12px;}
.lesson-bg{background:#F8EFE1;  overflow:hidden;}

.banner-bg{ background:url(../images/banner_bg.png) repeat-x;}
.body-bg{background:url(../images/bg_box.gif) repeat-x; }

.footer-sytle{ background:url(../images/bg_footer.gif) repeat-x; overflow:hidden;}
.footer-map a,.footer-sytle a{color:#203D81;}