@charset "utf-8";
/*
* @name		:Template
* @author	:czy
* @version	:1.0.0.0
* @type		:公共
* @explain	:
* @relating	:
* @dependent:
* @date     : 2011-05-16
* @qq       : 274142680@qq.com
*/
/* ************ template ************* */

/* template */
html{}
body {font: 12px/1.5 "宋体";color:#000;text-align:left;}

/*  inline block  */
.layout{letter-spacing:-9em;word-spacing:-9em;}
.layout li,
.layout a,
.layout dd,
.layout .inline
{ 
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
	letter-spacing:normal;
	word-spacing:normal;
}

.grid .g-r-256{ width:256px; float:right; _display:inline;}
.grid .g-l-75{ width:75px; float:left; _display:inline;}
.grid .g-l-55{ width:55px; float:left; _display:inline;}
.grid .g-l-70{ width:70px; float:left; _display:inline;}
.grid .g-l-65{ width:65px; float:left; _display:inline;}
.grid .g-l-90{ width:90px; float:left; _display:inline;}
.grid .g-l-95{ width:95px; float:left; _display:inline;}
.grid .g-l-160{ width:160px; float:left; _display:inline;}

.u-head{margin:10px 0 5px 0px;}
.u-head h3{ font-size:14px; font-weight:bold;}
.u-head div{ height:16px; background:url(../images/line.gif) no-repeat -15px bottom;  overflow:hidden; margin:0; }

.u-top-t{ background:url(../images/ico-top.png) no-repeat; padding-left:22px; float:right;color:#FF4200; font-weight:bold; margin-bottom:-10px;}

.dialog{ border:1px solid #DDDDDD; background:#F4F6FB; padding:10px 72px;width:770px;}

.u-mod{ line-height:20px; margin:20px 0;}
.u-mod .hd{border-top:1px solid #DDDDDD; border-bottom:1px solid #DDDDDD; height:1px; font-weight:bold; position:relative;}
.u-mod .hd span{ display:block; height:16px; background:#fff; width:60px; position:absolute; left:15px; top:-10px; text-align:center;}
.u-mod .bd{border:1px solid #DDDDDD; margin-top:1px;margin-top:1px;padding:15px 10px;}
.u-mod .ch-bd{padding:20px 10px 0px 10px;}
.u-mod .textbox{width:100%; height:20px; line-height:22px; border:1px solid #7F9DB9; position:relative;}
.u-mod .tip{ color:#6191B0; overflow:hidden; padding-left:15px;}
.u-mod li{ padding:5px 0;}
.u-mod li.last{ margin-bottom:15px;}
.u-mod .w380{width:380px;}
.u-mod .w150{width:150px;}
.u-mod .label{ text-align:right; font-weight:bold; padding-right:15px;}
.u-mod .title{ }
.u-mod .radio input{ margin:0 5px;}
.u-mod .radio label{ margin-right:50px;}
.u-mod .ntip{ margin-top:5px; overflow:hidden; color:#6191B0;}
.u-mod .submit{color:#FF4200; font-weight:bold;}
.u-mod .submit .button{ font-size:14px; font-weight:bold;width:95px; height:25px; border:none; background:url(../images/button.png) no-repeat; position:relative;}
.u-mod .submit input{ margin-right:10px; position:relative;}
.u-mod select{ width:62px;}
.u-mod .tel span{color:#6191B0; margin:0 20px;}
.u-mod .tel  a{ color:#FF4200;margin:0 20px;}
.u-mod .ybutton{ background:url(../images/y-button.gif) no-repeat; border:none; width:95px; height:21px; font-weight:bold; position:relative; color:#FF4200;}
.u-mod .blue,
.u-mod .tel .blue
{color:#6191B0;}
.u-mod .red{color:#FF4200;}
.u-mod .black{ color:#000;}
.u-mod .check span{ margin:0 30px;}
.u-mod .check-title{ margin:0 10px 10px 10px; text-indent:2em;color:#FF4200; font-weight:bold;}
.u-mod .refill{ font-weight:bold; color:#0433B8; margin:0 5px;}


.u-table{ text-align:center; margin:5px;}
.u-table th{ font-weight:bold;text-align:center;}
.u-table td a{ color:#043DB0;}

.u-add{ text-align:right; margin-top:10px;}
.u-add a{color:#043DB0; margin:0 35px;}

.upload{}
.upload .textbox{height:20px; line-height:20px; border:1px solid #7F9DB9;width:250px;}
.upload .button{width:135px; height:21px; border:none; background:url(../images/upload.png) no-repeat; margin-bottom:10px; padding-left:38px; display:block; font-weight:bold;}
.upload .button:hover{ text-decoration:none;}

/*  后台 */
.ad-mod{font-size:14px;}
.ad-mod .hd{border-top:1px solid #85B0D2; border-bottom:1px solid #85B0D2; height:1px; margin-bottom:1px; font-weight:bold; position:relative;}
.ad-mod .hd span{ display:block; height:16px; background:#fff; width:100px; position:absolute; left:15px; top:-10px; text-align:center; font-size:12px;}
.ad-mod .bd{border:1px solid #85B0D2; margin-bottom:-1px;padding:10px;}
.ad-mod .bd .label{ font-weight:bold; text-align:right; padding-right:15px; }
.ad-mod .bd  li{ padding:5px 0;}
.ad-mod .radio input{ margin-right:10px;}
.ad-mod .pic{width:150px; height:100px; border:1px solid #85B0D2}
.ad-mod select{width:120px; height:20px;}
.ad-mod .textbox{ width:100%; height:20px; line-height:20px; border:1px solid #7F9DB9; position:relative; display:inline;}
.ad-mod .show-bigpic{ overflow:hidden; height:100px; line-height:100px; color:#0937AB}
.ad-mod .show-bigpic a{color:#0937AB}
.ad-mod .clement-space{ padding:25px 0;}


.adv-mod{ margin:25px;font-size:12px;}
.adv-mod .w412{width:412px;}
.adv-mod .w410{width:410px;}
.adv-mod .label{font-weight:bold; text-align:right; padding-right:10px; }
.adv-mod li{ padding:5px 0;}
.adv-mod .datetime{color:#878787;}
.adv-mod .datetime .textbox{width:150px; height:22px; line-height:22px; }


.disable{color:#878787;}
.able{ color:#000;}
.blue-button{font-size:12px; width:80px; height:24px; border:none; background:url(../images/blue-button.gif) no-repeat; position:relative;}
.submit{color:#FF4200; font-weight:bold;}
.submit .button{ font-size:14px; font-weight:bold;width:95px; height:25px; border:none; background:url(../images/button.png) no-repeat; position:relative;}

.ad-table {width:100%;}
.ad-table th{ border:1px solid #2C7FE2; background:#92C0F7; font-weight:bold;width:20%;text-align:center;} 
.ad-table td{ border:1px solid #2C7FE2; line-height:21px; text-align:center;}
.ad-table td.gay{ background:#F5F5F5;}
.ad-table a{ color:#3366CC; margin:0 5px;}


.pager-msg{ float:left; font-size:12px; line-height:40px;}
.pager{ float:right; font-size:12px;}
.pager a{ display:block; color:#DDDDDD; border:1px solid #DDDDDD;text-align:center; width:22px; height:20px; line-height:20px; margin:0 1px;}
.pager .cur{ background:#498DFF; color:#fff; }
.pager .button{ width:55px; height:20px; line-height:20px;}

.ad-head{ margin:15px 0; font-size:12px; }
.ad-head h3{ font-size:14px; font-weight:bold;}

.l-h-2{  border-bottom:2px solid #158CEB;}