@charset "utf-8";
/* CSS Document */


/* ************************************
* 文件名称：account_edit.css
* 制 造 者：swe_ling
* 制造日期：2011-11-11
* Email:swe_ling@163.com
* 文件版本：V1.0
* 内容概要：玩儿道用户帐户操作
* 版权所有 ©玩儿道
************************************ */

/************修改layout.css的样式***************/
.layout_t{ background: url(../images/account_edit_bg_t.png) no-repeat 2px 0; height:15px; width:810px; 
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop , src='images/account_edit_bg_t.png');
}
.layout_m{ background: url(../images/account_edit_bg_m.png) repeat-y 0 0; width:772px;
padding:10px 19px 0px;
	_background: url(../images/account_edit_ie6_m.png) repeat-y 0px 0;
	
}
.layout_b{ background: url(../images/account_edit_bg_b.png) no-repeat -1px 0; height:15px; width:810px;
	_background:none;
	_width:816px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop , src='images/account_edit_bg_b.png');
}
.layout_foot{ width:800px;}
.head{ width:900px;}



/************子菜单 table选项卡***************/
.sub_nav{width:745px; margin:0 auto; overflow:hidden;}
.sub_nav a{ float:left; display: inline; width:119px; height:31px; margin-right:5px; text-align:center;font:200 14px/31px "微软雅黑", Arial, Tahoma;background:url(../images/accout_active.png) no-repeat 0 0;  color:#1992b1;}
.sub_nav a:hover,.sub_nav a.active{ font-weight:800; background-position:-123px 0;color:#fff;}

.account_nav { width:100%; overflow:hidden; background:url(../images/account/sub_nav.png) no-repeat 0 14px; margin:20px 0 30px;}
.account_nav li { text-align:center;float:left;height:83px; display:inline;width:30%;}
.account_nav li i{font: normal 800 18px/45px "微软雅黑", Arial, Tahoma; color:#fff; display:block; background:url(../images/account/sub_nav_step.png) no-repeat 50% -5px;}
.account_nav li span{ display:block; color:#1992b1; font-size:14px;}
.account_nav .link i{}
.account_nav .active i{ background-position:50% -56px;}
.account_nav .visited i{ background-position:50% -106px;}

.input_a{font:200 14px/31px "微软雅黑", Arial, Tahoma; margin-left:5px; border:none; background:#000 url(../images/account/input_bg.gif) no-repeat 0 0; height:31px; width:230px; padding-left:5px; }
.input_sub{font:200 14px/31px "微软雅黑", Arial, Tahoma; cursor:pointer; margin-left:15px; color:#fff;border:none; background: url(../images/account/next.gif) no-repeat 0 0; height:32px; width:137px; }
.input_sub:hover{ background-position: 0 -36px;}
.accout_edit_form{ color:#8e8e8e;}
.submit_form_input{ width:425px; margin:0 auto; text-align:left;}
.accout_edit_form a{color:#1992b1;}

/*王薪杰 加*/
label.error { display:none; color:#f00}
span.wrong{ display:none; color:#f00}






