@charset "utf-8";
/* CSS Document */
* {
	font-family:Arial;
}
.activity_description {
	background:#f9fdff;
	border:1px solid #c6ddeb;
	padding:10px;
	width:648px;
	overflow:hidden;
	position:relative;
}
.description_l {
	float:left;
}
.activity_attention {
	margin-left:110px;
	font:200 12px Arial, Helvetica, sans-serif;
}
.activity_attention h2 {
	padding-bottom:8px;
}
.activity_attention p {
	line-height:21px;
}
.activity_attention i {
	font-style: normal;
	color:#DE6D2B;
	margin-left:3px;
}
.activity_description .attention {
	position:absolute;
	right:15px;
	top:10px;
	background:url(../images/activity_attention.jpg) no-repeat 0 0;
	display:block;
	height:34px;
	width:90px;
}
.activity_description .attention:hover {
	background-position: 0 -37px;
}
.activity_sub {
	background:#eef7fe;
	overflow:hidden;
	text-align:right;
	border-bottom:1px solid #1680a7;
	padding:0px 10px;
	font:200 12px/31px Arial, Helvetica, sans-serif;
	height:31px;
	margin:10px 0;
}
.activity_sub span {
	float:left;
	color:#1680a7;
	font:800 12px/31px '宋体', Arial, Helvetica, sans-serif;
}
.activity_sub span a {
	margin:0 3px;
	font:800 12px/23px '宋体', Arial, Helvetica, sans-serif;
	color:#605f5d;
	height:23px;
	border-bottom:3px solid #eef7fe;
	border-top:5px solid #eef7fe;
	display:inline-block;
}
.activity_sub span a.active {
	border-bottom:3px solid #1581a7;
}
.open_activity {
	padding:10px;
	border-bottom:1px dashed #CCC;
}
.open_activity p.right_img {
	float:left;
	padding-top:10px;
}
.right_descrip {
	margin-left:60px;
}
.right_descrip p, .right_descrip a {
	font:200 12px/21px Arial;
}
.open_activity div.o_event, .open_activity div.o_event a {
	font:200 14px/21px Arial, Helvetica, sans-serif;
}
.open_activity div.o_event {
	padding-bottom:5px;
	color:#999;
}
.open_activity div.o_event span {
	color:#333;
}
.open_activity .o_event {
	text-align:right;
}
.open_activity .o_event i {
	font-style:normal;
	color:#999;
	margin-right:15px;
}
.open_activity .o_event span {
	float:left;
}
.open_activity .more {
	background:#1684a7;
	color:#fff;
	padding:3px 9px;
}
.event_plan {
	width:100%;
	overflow:hidden;
	margin-bottom:10px;
}
.event_plan_l {
	width:125px;
	float:left;
	margin-right:5px;
	text-align:center;
}
.event_plan_r {
	margin-left:130px;
}
.event_plan_r h2 {
	font:800 14px/23px Arial, Tahoma;
	color:#10899e;
}
.event_plan_r table {
	font:200 12px Arial, Tahoma;
}
.event_plan_r table i {
	font-style:normal;
	color:#f2762c;
}
.plan_info {
	font:200 12px/25px Arial, Tahoma;
	text-indent:-5.5em;
	padding-left:10em;
}
.plan_info span {
	font-weight:800;
}
.join_event_plan {
	padding:15px 8em;
	;
}
.join_event_plan img {
	height:28px;
	width:109px;
}
.join_event_plan img {
	background:url(../images/event_plan.png) no-repeat 0 0;
}
.join_event_plan .noneA img {
	background-position:-130px 0;
}
.join_event_plan a {
	margin:0 10px;
}
#activity_index {
	background:#fff;
}
#activity_index .home_con {
	width:950px;
	margin-right:0px;
}
#activity_index .home_con .event_plan_l {
	width:300px;
}
#activity_index .home_con .event_plan_r {
	margin-left:305px;
}
#activity_index .activity_index {
	font:800 23px/40px '宋体';
	padding:10px 0 10px 23px;
	color:#065f9b;
}
#activity_index .event_plan_r p {
	font:200 12px/23px '宋体';
	color:#999;
}
#activity_index .event_plan_r p span {
	display:inline-block;
	width:90px;
	color:#046298;
	text-align:right;
}
.activity_C {
	text-indent:2em;
	padding:0 10px;
	font:200 12px/23px '宋体';
	margin-bottom:10px;
	color:#8f8f8f;
}
.activity_signup_options {
	padding-left:10px;
	margin:10px 0;
	height:24px;
	font: 200 12px/24px '宋体';
	color:#7e7e7e;
}
.activity_signup_options span {
	display:inline-block;
	width:75px;
	text-align:right;
}
