@charset "utf-8";
/* CSS Document */
/* ************************************
* 文件名称：init.css
* 制 造 者：阿商
* 制造日期：2011-9-26
* 联系方式：QQ ：562127378
* 文件版本：V1.0
* 内容概要：CSS 样式初始化
************************************ */

html{background-color:#c0e4ed; color:#333;}
body{font-family:\5fae\8f6f\96c5\9ed1,\5B8B\4F53,tahoma,Helvetica, sans-serif;font-size:12px;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, menu{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
table{border-spacing: 0;}
li{list-style-type:none;}
img{vertical-align:center;border:0;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}
address,caption,cite,code,dfn,em,th,var {font-weight:normal; font-style:normal;}
body{padding-top:10px ;}
.cl{clear:both;}
a{text-decoration:none;}


/* ************************************
* 文件名称：init.css
* 制 造 者：阿商
* 制造日期：2011-9-26
* 联系方式：QQ ：562127378
* 文件版本：V1.1
* 内容概要：CSS 框架
************************************ */

.radius{-moz-border-radius:5px;-webkit-border-radius:5px;}
.shadow{-webkit-box-shadow:0px 0px 8px #8ba5ab;-moz-box-shadow:0px 0px 8px #8ba5ab;}
.foot,.head{ text-align:right;width:1000px; overflow:hidden;margin:0 auto; height:35px; line-height:35px;}
.head img{ float:left; background:url(../images/logo.png) no-repeat 0 0; height:35px; width:80px;}
.body{background-color:#fff; width:1000px; overflow:hidden;margin:10px auto;}
.foot{ margin-top:-10px;}
.foot a{ margin:0 3px;} 
.foot span{ float:left;}