@charset "utf-8";
/* CSS Document */
/* ************************************
* 文件名称：mail.css
* 制 造 者：阿商
* 制造日期：2011-9-26
* 联系方式：QQ ：562127378
* 文件版本：V1.0
* 内容概要：登录 注册
************************************ */
.index{}
.left_block{float:left; width:715px;}
.login_block{ margin-left:715px; background-color:#eee; height:520px; padding:10px 0;}

.site_info{ margin:20px 15px 10px 20px; font:200 16px/1.5em  '微软雅黑';text-indent:2em;}
.site_info b{ font-weight:800; margin-right:5px;color:#103e7e;}
.site_info img{ float:right; margin-left:34px; width:231px; height:76px; background:url(../images/index_01.png) no-repeat 0 0;}

.dissertation{}
.dissertation li{ font-size:0px; float:left; margin:17px -5px 0px 15px;display:inline; }

.app_add { text-align:center; }
.app_add img{margin:5px 0;}
.login_area{ border:1px solid #6fc3df; width:267px; margin:0px auto 5px; height:366px;}
.login_area .title{height:31px; font:200 14px/31px   '微软雅黑'; text-indent:0.5em; background:#6fc3df;}
.login_form{width:225px; margin:5px auto 10px;line-height:30px; padding-bottom:5px; border-bottom:1px solid #b4cfd8;}
.login_form b{ font:200 14px/30px  '微软雅黑'; }
.login_form p{font-family:tahoma;}
.login_form p input{ vertical-align: middle;}
.login_form .submit_but { text-align:right; padding-right:15px;}
.login_form .submit_but input{cursor: pointer; width:70px; height:28px; background:#fff url(../images/login_but.png) no-repeat 0 0 ; border:none;}
.user,.password{ padding:8px; border:1px solid #7caebe; width:200px;}
.reg_but{width:130px; margin:0 auto; display:block;}
.reg_but img{width:130px; height:29px; background:#fff url(../images/reg_but.png) no-repeat 0 0 ; }
