@charset "utf-8";
/* CSS Document */
/* ************************************
* 文件名称：mail.css
* 制 造 者：阿商
* 制造日期：2011-9-26
* 联系方式：QQ ：562127378
* 文件版本：V1.0
* 内容概要：注册邮箱
************************************ */
.mail{ padding:20px 30px 50px;}
.mail .title{background-color:#6fc3df; height:2.2em; font:200 14px/2.2em '微软雅黑';padding-left:1.5em;}
.mail .mail_cont{ padding:20px 50px 0}
.mail_cont .reg_mail_step{height:80px; background:url(../images/reg_mail_step.png) no-repeat 0 13px; }
.mail_cont .reg_mail_step li{width:28%; float:left; margin:0 -8% 0 8%; text-align:center; display:inline;}
.mail_cont .reg_mail_step b{color:#fff;text-shadow:-1px -1px 1px #000;padding-bottom:5px;font:800 18px/41px '微软雅黑';display:block; width:40px; margin:0 auto; height:41px; text-align:center; background:url(../images/reg_mail_step.png) no-repeat -7px -106px; }
.mail_cont .reg_mail_step .active b{ background-position:-53px -106px;}
.mail_cont .reg_mail_step .visited b{ background-position:-101px -106px;}
.mail_cont .write_mail_info{background-color:#ebf4f6;border:1px solid #999;  min-height:200px;padding-bottom:30px; }
.mail .son_title{ height:30px; font:800 14px/30px  '微软雅黑'; margin:5px 10px; border-bottom:1px solid #ddd;}
/* ************************************
* 制造日期：2011-9-26
* 联系方式：QQ ：562127378
* 文件版本：V1.1
************************************ */

.write_mail_info .submit,.write_mail_info .steps{ font:200 14px/30px  '微软雅黑'; margin:0 10px; padding:7px 0px;  border-bottom:1px solid #fff; }
.write_mail_info .steps span{ width:120px; text-align:right;display:block;float:left;}
.write_mail_info .steps .radius{padding:6px 5px; width:200px; border:1px solid #7CAEBE;}
.write_mail_info .submit{border-bottom:none; width:50%; text-align:right;}
.write_mail_info .submit input{ cursor:pointer;padding:3px 8px;}

/* ************************************
* 制造日期：2011-9-29
* 联系方式：QQ ：562127378
* 文件版本：V1.227726035
* 更改内容：添加E-mail JS提示
************************************ */
.mail_cont .write_mail_info{ position:relative;}
.mail_cont .notice{ display:none;position:absolute; font:200 14px/30px  '微软雅黑';  left:355px; top:40px; padding:5px 8px;color:#f00; border:1px solid #c7856e; background:#fcffca;min-width:190px ;max-width:430px ;}
.mail_cont .notice img{position:absolute; left:-8px; top:10px;}
