@charset "utf-8";
/* CSS Document */



.button-1{  
	 color:#fff; 
	 text-shadow:1px 1px 2px #000; 
	 background:url(../images/buttons/button_1.png) no-repeat;
	 width:135px;
	 height:33px;
	 line-height:33px;
}
.button2{
	background-position: 0 -93px;
	color:#878787;
	text-shadow:1px 1px 2px #878787;
}
.button2:active{ background-position: 0 -62px; color:#fff; }

i, em {
	font-style:normal;
}
.message_table .lgray {
	color:#999;
}
.message_table .dred {
	color:#B21A19;
}
body {
	color:#000;
}
input {
	vertical-align:middle;
}
.cur_poin{
	cursor:pointer;
}
/*=================================================================================================*/
.mes_footer {
	width:1004px;
}
.mes_main {
	background:url(../images/mes_main_bg.png) center top repeat-y;
	width:1004px;
	margin:0px auto;
	padding:0 2px;
}
.mes_main_bot {
	background:url(../images/mes_main_bg_foot.png) center top no-repeat;
	height:6px;
	overflow:hidden;
}
.mes_box {
	position:relative;
	background: url(../images/mes_box_bg.png) repeat-y 0 0;
	zoom:1;
}
.mes_box_left {
	float:left;
	width:180px;
	padding:30px 20px 20px;
	position:relative;
}
.mes_box_right {
	width:784px;
	float:left;
}
.mes_box_left .mes_nav_box a {
	height:39px;
	display:block;
	font: 14px/39px "微软雅黑", Arial, Tahoma;
	padding-left:2em;
	color:#555455;
}
.mes_box_left .mes_nav_box a.active, .mes_box_left .mes_nav_box a:hover {
	background:url(../images/mes_nav_box_hvoer.gif) no-repeat 0 0;
	color:#0667AF;
	text-decoration:none;
}
.mes_com_box {
	float:left;
	width:700px;
	margin:35px 0px 0px 35px;
	display:inline;
}
/*.mes_com_box_Tab {
	height:28px;
	border-bottom:1px solid #8CC6D6;
}
.mes_com_box_Tab a {
	height:19px;
	margin:5px 3px 0px 0px;
	margin:0 10px 0px 0px;
	text-align:center;
	color:#636466;
	line-height:14px;
	float:left;
	width:100px;
	border-radius:5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	background-color:#B6DFEB;
	border-color:#A5D3E0;
	border-width:1px 1px 0;
	border-style:solid;
	padding-top:8px;
	overflow:hidden;
}
.mes_com_box_Tab .active, .mes_com_box_Tab a:hover {
	height:20px;
	padding-top:7px;
	margin-top:0px;
	line-height:14px;
	color:#fff;
	background-color:#1683A7;
	border:1px solid #3187A1;
	font-size:12px;
	text-decoration:none;
}*/
.mes_com_box_form {
	margin:40px 0 80px 25px;
	color:#555;
	font-size:14px;
}
.mes_com_box_form li {
	position:relative;
}
.mes_com_send {
	width:370px;
	padding:0 30px 0 5px;
}
.mes_com_send_ico {
	background-image:url(../images/mes_icon.gif);
	background-repeat:no-repeat;
	background-position: 5px -49px;
	position:absolute;
	width:30px;
	height:30px;
	display:block;
	top:0px;
	left:440px;
}
.mes_com_send_txtcon {
	vertical-align:top;
	line-height:30px;
}
.mes_com_send_con {
	width:560px;
	height:220px;
	padding:5px;
}
.save_draft {
	margin:20px 0 0 66px;
	font-size:12px;
	position:relative;
}
.save_draft_check {
	margin: -1px 5px 2px 0px;
}
.save_draft_alert {
	position:absolute;
	width:235px;
	height:30px;
	padding:6px 15px;
	line-height:30px;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color:#FFFFE5;
	border:1px solid #C7DDEA;
	left:302px;
	top:1px;
	color:#D54B17;
}
.save_draft_alert .close {
	display:inline-block;
	width:9px;
	height:8px;
	background:url(../images/mes_icon_tip_close.png) no-repeat;
	overflow:hidden;
	position:absolute;
	right:8px;
	top:8px;
}
.mes_com_box_form .submit {
	margin:60px 0 30px 66px;
}
/* ======================== message_compose_activity ======================== */

.pubCon1 .c1Add, .pubCon1 .inpW .m b.fd, .pubCon1 .inpW .m b.gp, .pubCon1 .inpW_l .m li b, .imporInfo .loading a {
	background-image:url(../images/mes_icon.gif);
	background-repeat:no-repeat;
}
.prLogo a, .prMenu li.prMnCur a, .prMenu li.prMnCur a span, .prMenu li.last i, .prLtSi li.cur a, .pr_tab li, .pr_tab li span, .pubCon1 .inpW .t, .pubCon1 .inpW .b, .pubCon1 .inpW_l .t, .pubCon1 .inpW_l .b, .bmBtn .send, .bmBtn .cancel, .sA_btn .complete, .sA_btn .cancel, .prLtSi li a:hover {
	background-image:url(../images/mes_bg.png);
	background-repeat:no-repeat;
}
.prPubW {
	margin-top:24px;
	border:1px solid #e6e6e6;
	color:#555455;
}
.prPubW input {
	/*border:0;*/
	vertical-align:middle;
}
.prPubW .pubTit {
	height:33px;
	line-height:33px;
	background-color:#f6f6f6;
	border-bottom:2px solid #eeeeee;
}
.pubTit .formTit {
	padding-left:18px;
}
.pubTit .formTit label {
	float:left;
	margin-right:35px;
	_margin-top:6px;
}
.pubTit .formTit label input {
	margin-right:5px;
}
.prPubW .pubCon1 {
	padding:15px 0 0 15px;
	background-color:#fbfbfb;
	zoom:1;
}
.prPubW .pubCon1 .cfLine1 {
	padding-bottom:10px;
}
.prPubW .pubCon1 .cfLine2 {
	padding-bottom:20px;
}
.prPubW .pubCon1 .alter {
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px solid #E6E6E6;
	margin-right:15px;
}
.pubCon1 .c1Name {
	float:left;
	font-size:14px;
	padding-top:5px;
}
.pubCon1 .inpW {
	float:left;
	display:inline;
	margin-right:6px;
	width:383px;
}
.pubCon1 .inpW .t, .pubCon1 .inpW .b {
	height:7px;
	font-size:0;
	overflow:hidden;
	line-height:0;
}
.pubCon1 .inpW .t {
	background-position:0 -251px;
}
.pubCon1 .inpW .m {
	height:18px;
	background:url(../images/c1Wm.gif) repeat-y;
	padding-left:14px;
	position:relative;
	_margin-top:-1px;
}
.pubCon1 .inpW .m input {
	width:340px;
	height:18px;
	line-height:18px;
	background:transparent;
	color:#555455;
	border:0;
}
.pubCon1 .inpW .m b {
	position:absolute;
}
.pubCon1 .inpW .m b.fd {
	background-position:0 -56px;
	width:10px;
	height:13px;
	top:2px;
	right:10px;
}
.pubCon1 .inpW .m b.gp {
	background-position:0 -100px;
	width:18px;
	height:17px;
	right:6px;
}
.pubCon1 .inpW .b {
	background-position:0 -264px;
}
.pubCon1 .c1Add {
	margin-top:1px;
	background-position:0 0;
	width:60px;
	height:30px;
	cursor:pointer;
	color:#555455;
	border:0;
}
.pubCon1 .inpW_l {
	float:left;
	width:569px;
}
.pubCon1 .inpW_l .t, .pubCon1 .inpW_l .b {
	height:7px;
	font-size:0;
}
.pubCon1 .inpW_l .t {
	background-position:0 0;
}
.pubCon1 .inpW_l .b {
	background-position:0 -10px;
}
.pubCon1 .inpW_l .m {
	min-height:52px;
	border-color:#DFDFDF;
	border-width:0 1px 0;
	border-style:solid;
	padding-left:14px;
}
.pubCon1 .inpW_l .m li {
	float:left;
	display:inline;
	margin-right:32px;
	padding-right:16px;
	position:relative;
}
.pubCon1 .inpW_l .m li b {
	position:absolute;
	right:4px;
	top:3px;
	background-position:0 -152px;
	width:6px;
	height:7px;
	cursor:pointer;
}
.dTbc {
	/*display:table-cell;*/
	width:580px;
 *zoom:1;
 *width:auto;
	position:relative;
	overflow:hidden;
}
.dTbc .mes_com_send_ico {
	background-position:5px -47px;
	left:380px;
}
.dTbc .mes_com_act_ico {
	background-position:0px -93px;
}
.tarAct {
	padding-left:12px;
	color:#000;
	font-weight:bold;
}
.topNav {
	background-color:#F6F6F6;
	padding:5px 0 5px 12px;
	border-bottom:1px solid #E1E1E1;
}
.bmNav {
	border-top:1px solid #E1E1E1;
	border-bottom:none;
}
.drop_down {
	/*float:left;*/
	display:inline-block;
	*display:inline;
	zoom:1;
	padding:0 20px 0 5px;
	border-top:1px solid #707070;
	border-left:1px solid #707070;
	border-right:1px solid #cecece;
	border-bottom:1px solid #cecece;
	height:18px;
	line-height:18px;
	position:relative;
	background-color:#FFF;
	cursor:pointer;
	vertical-align:middle;
}
.drop_down span {
	color:#999999;
}
.drop_down b {
	position:absolute;
	right:7px;
	top:50%;
	margin-top:-2px;
	font-size:0;
	border-top:4px solid #999999;
	border-left:4px solid #fff;
	border-right:4px solid #fff;
	overflow:hidden;
	height:0;
}
.drop_down i {
	display:none;
	position:absolute;
	top:18px;
	left:-1px;
	width:73px;
	overflow:hidden;
	border:1px solid #CECECE;
	background-color:#FFF;
	z-index:99999;
}
.drop_down i a {
	width:68px;
	height:23px;
	line-height:23px;
	display:block;
	text-decoration:none;
	padding-left:5px;
}
.drop_down i a:hover {
	color:#FFF;
	background-color:#3399FF;
}
.sift_option {
	border-left:1px solid #E1E1E1;
	width:2px;
	height:10px;
	margin-left:8px;
	display:inline-block;
	vertical-align:middle;
}

.imporInfoLi {
	padding:10px 1px 15px;
	border-bottom:1px dashed #E9E9E9;
	overflow:hidden;
	position:relative;
}
.imporInfoLi .actBtn {
	display:none;
}
.acthover .actBtn {
	display:inline-table;
	position:absolute;
	top:10px;
	right:10px;
}
.imporInfo .acthover {
	padding:9px 0 15px;
	background-color:#EFF9FC;
	border-color:#CCEAF4 #FFF #CCEAF4;
	border-style:solid;
	border-width:1px;
}
.imporInfoLi .actCheck {
	float:left;
	width:25px;
	padding-left:12px;
	margin-top:3px;
	vertical-align:top;
}
.imporInfoLi .actInfo {
	float:right;
	width:655px;
}
.actInfo var, .actInfo i {
	font-style:normal;
}
.actInfo dt {
	font-size:14px;
	color:#333;
	padding-bottom:6px;
	position:relative;
}
.actInfo dt a {
	color:#337fa5;
}
.actInfo dt var {
	color:#cc0000;
	font-size:12px;
}
.actInfo dd.actCon {
	padding-bottom:4px;
	color:#666666;
}
.actInfo dd.actMeta span {
	margin-right:28px;
	color:#3f3f3f;
}
.actInfo dd.actMeta span i {
	color:#999999;
}
.imporInfo .loading {
	border:1px solid #dfdfdf;
	margin:5px 10px 15px;
	text-align:center;
}
.imporInfo .loading a {
	color:#7d7d7d;
	background-position:center -190px;
	padding:8px 16px 8px 0;
	display:block;
}
/* ======================== message_compose_group ======================== */

.mcg tr td {
	border-style:dotted;
	border-width:1px 0;
	border-color:#E9E9E9;
}
.bd_img {
	padding:1px;
	width:43px;
	height:43px;
	border:1px solid #B3DFEE;
}
.actInfo .pos_box {
	display:none;
}
.grohover .actInfo .pos_box {
	display:block;
}
/* 评分制度 */
.pos_box {
	position:absolute;
	font-size:12px;
}
.heat .tit {
	display:inline-block;
*display:inline;
*zoom:1;
}
.heat .score {
	margin-right:24px;
}
.score {
	display:inline-block;
*display:inline;
*zoom:1;
	vertical-align:middle;
	background:url(../images/sco_m.png) repeat-x;
	width:58px;
	height:12px;
}
.score .rd_l, .score .rd_r {
	height:12px;
	position:relative;
}
.score .rd_l {
	background:url(../images/sco_l.png) left top no-repeat;
	margin-left:-4px;
}
.score .rd_r {
	background:url(../images/sco_r.png) right top no-repeat;
	margin-right:-4px;
}
.score .pro_bar {
	background:url(../images/sco_m_g.png) repeat-x;
	height:12px;
}
.score .sco_txt {
	position:absolute;
	width:100%;
	height:12px;
	line-height:12px;
	text-align:center;
	font-size:10px;
	color:#000000;
	z-index:3;
}
.imporInfo table tr.grohover td {
	background-color:#eff9fc;
}
.imporInfo table td {
	padding:17px 0;
}
.imporInfo table td.actCheck {
	padding-left:12px;
	vertical-align:top;
}
.imporInfo .iBar {
	float:none;
	display:inline-block;
	width:68px;
	height:12px;
	overflow:hidden;
	background:url(../images/mes_com_bg_bar_percent.png) no-repeat;
	position:relative;
	zoom:1;
	font-size:12px;
}
.imporInfo .iBar i {
	display:inline-block;
	height:12px;
	overflow:hidden;
	line-height:12px;
	background:url(../images/mes_com_bg_bar_percent.png) 0px -12px no-repeat;
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
	vertical-align:top;
}
.imporInfo .iBar em {
	width:68px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	line-height:12px!important;
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
	z-index:3;
	display:inline-block;
}
.imporInfo i b {
	font-weight:normal;
}
.imporInfo table .actView {
	vertical-align:top;
	float:right;
	margin-right:13px;
}
.imporInfo table .actView a {
	visibility:hidden;
	color:#337FA5;
}
.imporInfo table .actView a:hover {
	text-decoration:underline;
}
.imporInfo table tr.grohover .actView {
	display:inline;
}
.imporInfo table tr.grohover .actView a {
	color:#337FA5;
	visibility:visible;
}
.mes_submit {
	text-align:left;
	margin:30px 0 30px 0;
}
/* ======================== message_delete ======================== */

.topNav .opera {
	padding:0px 0px 0px 5px;
	width:auto;
	vertical-align:middle;
	display:inline-block;
	*display:inline;
	zoom:1;
}
.topNav .opera a {
	background:url(../images/mes_del_icon_func.png) no-repeat;
	height:20px;
	float:left;
	display:inline-block;
}
.topNav .opera .icon_1 {
	width:37px;
	background-position:0px 0px;
}
.topNav .opera .icon_2 {
	width:36px;
	background-position:-37px 0px;
}
.topNav .opera .icon_3 {
	width:37px;
	background-position:-73px 0px;
}
.topNav .opera .icon_4 {
	width:38px;
	background-position:-109px 0px;
}
.topNav .opera .icon_5 {
	width:36px;
	background-position:-150px 0px;
	margin-left:5px;
}
.message_table {
	font:200 12px Arial, Tahoma;
	color:#555455;
}
.message_table td {
	border-bottom:1px dashed #ccc;
	font-family:Arial, Tahoma;
}
/* ======================== message_delete_invite ======================== */

.topNav .opera_del_inv a {
	background:url(../images/mes_del_icon_operation.png) no-repeat;
	height:20px;
	float:left;
	display:inline-block;
}
.topNav .opera_del_inv .icon_1 {
	width:37px;
	background-position:0px 0px;
}
.topNav .opera_del_inv .icon_2 {
	width:36px;
	background-position:-37px 0px;
}
.topNav .opera_del_inv .icon_3 {
	width:36px;
	background-position:-73px 0px;
}
.topNav .opera_del_inv .icon_4 {
	width:38px;
	background-position:-108px 0px;
}
.fList {
}
.fList li {
	border-bottom:1px dashed #E9E9E9;
	padding-top:1px;
	height:auto!important;
	min-height:82px;
	_height:82px;
	_padding-left:0px;
	_float:left;
	_width:100%;
	overflow:hidden;
	_overflow:inherit;
	position:relative;
}
.fList li i {
	float:left;
}
.fList li a {
	color:#0085C5;
}
.fList li .date {
	float:right;
	font-size:12px;
	color:#999;
}
.fList .cbtn {
	width:31px;
	text-align:center;
	height:23px;
	padding-top:32px;
	margin-left:4px;
}
.fList .iPic {
	width:67px;
	padding-top:18px;
	text-align:center;
}
.fList .iPic img {
	border:1px solid #B3DFEE;
	padding:1px;
	background-color:#fff;
	width:43px;
	height:43px;
}
.fList .fInfo {
	width:570px;
	float:left;
	padding:14px 0px 0px 8px;
	position:relative;
}
.fList .fInfo dt {
	height:27px;
	line-height:27px;
	font-size:14px;
}
.fList .fInfo .makeRela {
	float:right;
	padding:0px 18px 0px 0px;
}
.fList .fInfo dd {
	clear:both;
}
.fList .fInfo p {
	line-height:24px;
	color:#999;
	padding-bottom:6px;
}
.fList .fInfo .sign {
	padding-left:24px;
	background:url(../images/icon_edit.png) 2px 3px no-repeat;
}
.fList .fInfo .hasPic {
	padding-left:24px;
	background:url(../images/icon_pic.png) 2px 5px no-repeat;
}
.fList .fInfo .picBox {
	height:70px;
	padding-top:6px;
}
.fList .fInfo .picBox img {
	float:left;
	margin-left:24px;
}
.fList .mHover {
	border:dashed #E9E9E9;
	border-width:1px 0px;
	position:relative;
	margin-top:-1px;
	padding-top:1px;
	background-color:#EEF7FE;
}
.fList .ifAgree {
	position:absolute;
	right:10px;
	bottom: 0px;
	line-height:20px;
	color:#DDD;
	display:none;
}
.fList .mHover .ifAgree {
	display:block;
}
.fList .icon {
	background:url(../images/icon_message.png) no-repeat;
	padding-left:21px;
}
.fList .i_1 {
	background-position:0px 8px;
}
.fList .i_2 {
	background-position:0px -33px;
}
.fList .i_3 {
	background-position:0px -74px;
}
.fList .i_4 {
	background-position:0px -115px;
}
.fList .fInfo span {
	margin-right:25px;
}
.fList .fInfo em {
	color:#333;
	font-style:normal;
}
.parsoninfo .iBar,
.fList li .iBar {
	height:12px;
	position:relative;
	
}

.pop_list .iBar,
.fList li .iBar {
	float:none;
	display:inline-block;
	width:68px;
	
	overflow:hidden;
	background:url(../images/mes_com_bg_bar_percent.png) no-repeat;
	position:relative;
	zoom:1;
	vertical-align:middle;
}
.pop_list .iBar i,
.fList li .iBar i {
	display:inline-block;
	height:12px;
	overflow:hidden;
	line-height:12px;
	background:url(../images/mes_com_bg_bar_percent.png) 0px -12px no-repeat;
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
}
.pop_list .iBar em,
.fList li .iBar em {
	width:68px;
	line-height:12px;
	text-align:center;
	height:12px;
	position:relative;
	z-index:3;
	display:inline-block;
}
.fList .fInfo i b {
	font-weight:normal;
}
.message_action a {
	color:#36c;
	margin:0 3px;
	font-family:Arial, Tahoma;
}
/* ======================== message_draft ======================== */

.topNav .mes_draft a {
	background:url(../images/mes_draft_icon_func.png) no-repeat;
	height:20px;
	float:left;
	display:inline-block;
}
.topNav .mes_draft .icon_1 {
	width:37px;
	background-position:0px 0px;
}
.topNav .mes_draft .icon_2 {
	width:36px;
	background-position:-37px 0px;
}
.topNav .mes_draft .icon_3 {
	width:37px;
	background-position:-73px 0px;
}
/* ======================== message_inbox_invite ======================== */

.fList_inbox .icon {
	background:none;
	padding-left:0px;
}
.topNav .opera_inbox_inv a {
	background:url(../images/mes_inbox_icon_func_3a.png) no-repeat;
	height:20px;
	float:left;
	display:inline-block;
}
.topNav .opera_inbox_inv .icon_1 {
	width:37px;
	background-position:0px 0px;
}
.topNav .opera_inbox_inv .icon_2 {
	width:36px;
	background-position:-37px 0px;
}
.topNav .opera_inbox_inv .icon_3 {
	width:37px;
	background-position:-73px 0px;
}
/* ======================== message_send ======================== */

.topNav .opera_send a {
	background:url(../images/mes_send_icon_func_3.png) no-repeat;
	height:20px;
	float:left;
	display:inline-block;
}
.topNav .opera_send .icon_1 {
	width:37px;
	background-position:0px 0px;
}
.topNav .opera_send .icon_2 {
	width:36px;
	background-position:-37px 0px;
}
.topNav .opera_send .icon_3 {
	width:37px;
	background-position:-73px 0px;
}
.topNav .opera_send .icon_4 {
	width:37px;
	background:url(../images/mes_send_icon_zf.png) no-repeat;
	margin-left:5px;
}
/* ======================== message_send_invite ======================== */

.topNav .opera_send_inv a {
	background:url(../images/mes_send_icon_func_3b.png) no-repeat;
	height:20px;
	float:left;
	display:inline-block;
}
.topNav .opera_send_inv .icon_1 {
	width:37px;
	background-position:0px 0px;
}
.topNav .opera_send_inv .icon_2 {
	width:36px;
	background-position:-37px 0px;
}
.topNav .opera_send_inv .icon_3 {
	width:37px;
	background-position:-73px 0px;
}
/* ======================== message_view ======================== */

.toolBar {
	padding-bottom:2px;
	background-color:#EEE;
	margin:25px 0px 0px;
}
.toolBar .tbCon {
	border-bottom:1px solid #E0E0E0;
	height:32px;
	background-color:#F6F6F6;
	line-height:32px;
}
.toolBar .userArea {
	font-weight:bold;
	color:#337FA5;
	font-size:14px;
	float:left;
}
.toolBar .userArea a {
	color:#337FA5;
}
.toolBar .func {
	width:300px;
	float:right;
	padding-right:12px;
}
.toolBar .func span {
	float:left;
	width:68px;
	text-align:center;
	display:inline-block;
	color:#999;
}
.toolBar .func a {
	display:inline-block;
	background:url(../images/mes_view_icon_func_more.png) no-repeat;
	height:20px;
	width:37px;
	float:left;
	margin-top:6px;
}
.toolBar .func .icon_1 {
	background-position:0px 0px;
}
.toolBar .func .icon_2 {
	background-position:-37px 0px;
	width:36px;
}
.toolBar .func .icon_3 {
	background-position:-73px 0px;
	width:35px;
	margin-right:5px;
}
.toolBar .func .icon_4 {
	background-position:-113px 0px;
	width:40px;
	margin-right:5px;
}
.toolBar .func .icon_5 {
	background-position:-158px 0px;
}
.toolBar .func .icon_6 {
	background-position:-195px 0px;
}
.mBorImg img {
	border:1px solid #B3DFEE;
	padding:1px;
	background-color:#fff;
}
.lImg {
	float:left;
	margin:3px 10px 0px;
}
.mInfo {
	color:#666;
	line-height:22px;
	padding:10px 20px;
	margin-bottom:15px;
}
.mInfoList {
	width:687px;
	margin:0px auto 23px;
	border:1px solid #E6E6E6;
	background-color:#EFF9FC;
}
.mInfoList li {
	border-bottom:1px dashed #9DD7EA;
	padding:12px;
	overflow:hidden;
	zoom:1;
}
.mInfoList .last {
	border-bottom:0;
}
.mInfoList dl {
	float:left;
	width:600px;
}
.mInfoList dt {
	height:26px;
	line-height:20px;
	font-weight:bold;
	font-size:14px;
}
.mInfoList dt a {
	color:#337FA5;
}
.mInfoList dt .iDate {
	float:right;
	color:#999;
	font-weight:normal;
	font-size:12px;
}
.mInfoList dt .iFunc {
	float:right;
	margin-left:12px;
	display:none;
}
.mInfoList dt .iFunc a {
	display:inline-block;
	background:url(../images/mes_view_icon_func_more.png) no-repeat;
	height:20px;
	width:37px;
	float:left;
}
.mInfoList dt .iFunc .icon_7 {
	background-position:-232px 0px;
}
.mInfoList dt .iFunc .icon_8 {
	background-position:-269px 0px;
	width:35px;
}
.mInfoList .aEmail {
	display:none;
}
.mInfoList dd {
	line-height:20px;
	color:#666;
}
.mInfoList .lImg {
	margin:0px 12px 0px 0px;
}
.mInfoList .mHover {
	background-color:#FBFBFB;
}
.mInfoList .mHover dt .iFunc, .mInfoList .mHover .aEmail {
	display:inline-block;
	_display:inline;
}
.mes_view_form {
	margin:20px 0 80px 25px;
}

.trbg{ background-color:#eef7fe;}
span.read_yes{ background:url(../images/message.png) no-repeat; width: 16px; display:inline-block; *zomm: 1; *display:block; cursor: pointer; }
span.read_no{ background:url(../images/open_message.png) no-repeat; width: 16px; display:inline-block; *zoom: 1; *display:block; cursor: pointer; }
                
span.send_sucess{ background:url(../images/r_message.png) no-repeat; width: 16px; display:inline-block; *zomm: 1; *display:block; cursor: pointer; }
span.send_fail{ background:url(../images/message_waring.png) no-repeat; width: 16px; display:inline-block; *zoom: 1; *display:block; cursor: pointer; }
                
span.draft{ background:url(../images/draft_img/draft_img01.gif) no-repeat; width: 16px; display:inline-block; *zomm: 1; *display:block; cursor: pointer; }
                
span.mark_off{ background:url(../images/message_start-11.gif) no-repeat; width: 20px; display:inline-block; *zomm: 1; *display:block; cursor: pointer; }
span.mark_on{ background:url(../images/message_start.gif) no-repeat; width: 20px; display:inline-block; *zoom: 1; *display:block; cursor: pointer; }
.message_action{ /*line-height:20px; height:20px;*/}

