/* 
author : czy
name   : CSS Template
date   : 2011-05-16
qq     : 274142680@qq.com
ver    : 1.0.0.0
*/

/* ************ template ************* */
/* Page Head,Body,and Foot */
html{ background:#c6e6ff url(../images/bg-body.gif) repeat-x;}
body {font-size:14px;font-family:"宋体";/*_text-align:center;*/ background:url(../images/bg-header.png) no-repeat center top; } 
.menu,.header,.container,.footer {margin:0 auto;width:800px;}

.header{color:#fff;height:234px; width:800px;}
.header-bg{ margin:0 auto;width:800px; position:relative; }
.header .cl{width:200px;}
.header .cr{ text-align:right;}

.container { _zoom:1;margin-top:-132px;background:#5894d2; position:relative; }
.main { 
	display:table-cell;
	*display:block;
	*zoom:1;
	float:none;
	_position:relative;
	_left:-3px;
	_margin-right:-3px;
	width:auto;
	background:#fff;
}
.submain{float:right;width:255px;_width:253px;_margin-left:-3px; font-size:12px;background:#5894d2; }
.submain,.submain a{color:#fff;}
.footer{ text-align:center; font-size:13px; padding:30px 0 40px 0;color:#6194c8; line-height:20px;}
.footer a{color:#6194c8;}
.wauto{ display:block; overflow:hidden;_left:0; padding:0; margin:0px;}
/* ==== 首页 ==== */
/* ************ margin ************* */
.login-form,
.search,
.commend,
.hot-top,
.reg,
.hot-talk,
.hot-talking,
.t-mobile,
.contact,
.tab,
.msgbar,
.sinfo,
.sopts,
.hottalk-list,
.sinfo-opts,
.searchbox
{ margin:15px;}


.hot-top h3,
.commend h3,
.hot-talking h3,
.hot-talk h3,
.hottalk-list h3
{ margin-bottom:15px; }

/* ************ blocks ************* */
/* 登录 */
.login-form{ margin-left:15px;}
.login-form li label{ width:48px; word-spacing:0.5em; }
.login-form li input{ width:160px; }
.login-form li a{ margin-left:5px; text-decoration:underline;}
.login-form li .login-btn{width:75px;height:29px;}
/* 个人信息 */
.myinfo{ margin-bottom:15px; overflow:hidden;}
.myinfo .cl{ margin-right:10px;}
.myinfo .cc span{ font-size:14px;}
.myinfo .cc a{color:#a9cae6; margin:10px 0; display:block;}

.fans-myinfo{ margin-bottom:5px;}

.sinfo .bottom,.sinfo .bottom li a  { color:#dcefff; text-align:center; margin:auto; width:190px;}
.sinfo .bottom li{ float:left; margin-right:15px;}
.sinfo .bottom li span {display:block; font-family:Tahoma; margin-bottom:5px;font-size:14px; font-weight:bold; }
.sinfo .si-sendflower{ text-align:center; margin:15px 0;}
.sinfo .si-sendflower input{ background:url(../images/btn-sendflower-off.png) no-repeat; width:185px; height:42px; border:none; }
.sinfo .si-sendflower input:hover{background:url(../images/btn-sendflower-on.png) no-repeat;}
.sinfo .blue-hor-line{ margin:15px 0;}

.sinfo-detail{color:#dcefff; margin-top:0px;}
.sinfo-detail li{ margin-bottom:10px;}
.sinfo-detail span{ color:#fff;}

.sinfo-opts{ z-index:2; position:relative;  zoom:1;}
.sinfo-opts .cl{ margin-right:15px;}
.sinfo-opts .cr h3{ font-weight:bold; margin-bottom:10px; }
.sinfo-opts .so-blogurl a{color:#2b4a78;}
.sinfo-opts .so-blogurl{ font-size:12px;color:#666;margin-bottom:20px; margin-top:5px; }
.sinfo-opts .cr{width:400px;}
.sinfo-opts .cr li{ margin-right:15px; margin-bottom:0;*display:inline; font-size:12px; }
.sinfo-opts .cr .btn-opts{background:url(../images/btn-sinfo-opts-off.gif) no-repeat; width:75px; height:28px; border:none;}
.sinfo-opts .cr .btn-opts:hover{background:url(../images/btn-sinfo-opts-on.gif) no-repeat;}
.sinfo-opts .cr .btn-nor:hover{background:url(../images/btn-sinfo-nor-on.gif) no-repeat;}
.sinfo-opts .cr .btn-more{background:url(../images/btn-sinfo-more-off.gif) no-repeat; width:75px; height:28px; border:none; position:absolute; z-index:2;}
.sinfo-opts .cr .btn-more:hover{  background:url(../images/btn-sinfo-more-on.gif) no-repeat;position:absolute; z-index:2;}
.sinfo-opts .cr .btn-more-show{background:url(../images/btn-sinfo-more-open.gif) no-repeat;width:76px; height:23px;border:none;position:absolute; z-index:2;}
.more .inner{ background:#fff;border:1px solid #c9c9c9;margin-top:-5px; *margin-top:-2px;  }
.more .inner dd a{ margin:5px; height:20px; line-height:20px; text-align:left; cursor:pointer; display:block; color:#666;}
.more .inner dd a:hover{ background:#5a9ee2; color:#fff; text-decoration:none;}
/* 功能列表 */
.sopts li{ margin-bottom:10px; font-size:14px; font-family:Tahoma, Geneva, sans-serif; }
/* 热门话题表列 */
.hottalk-list li{ margin-bottom:10px;}
.hottalk-list span{color:#a9cae6;}

.t-top-nav{color:#ffffff; font-size:12px;margin:10px 0 30px 0;}
.t-top-nav a{color:#ffffff; margin:0 5px;}
.t-top-nav a:last-child{ margin-right:0;}
.t-footer-nav{width:480px; margin:0 auto;}
/* 查找 */
.search{
	margin:10px 0 10px 0px;
	margin-left:-4px;
	margin-right:-4px;
	position:relative; 
	text-align:center;
	height:63px;
	_overflow:visible;
	_zoom:1;
	background:url(../images/bg-search.jpg) no-repeat;
	width:265px;
}
.search .textbox{width:175px;  height:23px; }
.search .btn{ margin-left:-6px;}
.search .textbox,.search .btn{ margin-top:15px;}

.header-search{ position:relative;width:513px; height:35px; }
.header-search .hs-links{ 
	padding:5px 5px 5px 0px;
	*padding:5px 0px 5px 0px;
	position:absolute;
	right:0px;
	top:0;
	text-align:left;
}
.header-search .hs-links a{ color:#fff; margin:0 13.7px; }
.header-search .hs-links .stextbox{ width:180px; height:23px; line-height:23px; border:1px solid #7fc3fb; background:#ddeefd; color:#95b0d9; font-size:12px;}
.header-search .hs-links .search-btn{ margin:0 5px 0 -7px; opacity:0.9; filter:alpha(opacity=90);}
.header-search .hs-bg{
	filter:alpha(opacity=70);
	 -moz-opacity:0.7;
	 -khtml-opacity: 0.7;
	 opacity: 0.7;
	background:#7abcf9;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	behavior: url(js/PIE.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
	}
.header-search .hs-links,
.header-search .hs-bg
{width:513px;height:35px; }


.searchbox{ background:#deeefa; padding:10px; }
.searchbox .sbox{ background:url(../images/bg-s.gif) repeat-x;width:400px; height:27px; line-height:27px; border:1px solid #afc6dc; color:#999;}

/* 推荐 */
.commend { margin:10px 0 0 15px;*margin:10px 0 15px 15px; _margin:10px 0 0 15px; padding-bottom:-10px; zoom:1;}
.commend:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.commend .imgs dd{ overflow:hidden; width:48px; height:15px;}
.commend .top{ margin-right:15px; *margin-bottom:10px;}
.commend ul{ text-align:center;}
.commend .top a{  color:#dcefff; text-decoration:underline;}
.commend .top a:hover{color:#fff; }
.my-commend{ margin-bottom:15px; margin-top:15px;}
.my-commend .top{ *margin-bottom:15px;}
/* 热门top */
.hot-top { margin-top:15px;}
.hot-top span,
.hot-top-list-th .right,
.hot-top-list-nor .right
{ font-family:Tahoma;}
.hot-top h3{ margin-bottom:15px;}
.hot-top dl {clear:both;overflow:hidden;_overflow:visible;_zoom:1;  margin-bottom:10px;}
.hot-top dl dt{width:17px; height:16px; text-align:center;  margin-right:15px;font-family:Tahoma; padding-top:1px; }
.hot-top-list-th dt{ background:#ff6c00;font-weight:bold;}
.hot-top-list-nor dt{ background:#969595; font-weight:normal;}
.hot-top-list-nor dd{ color:#dcefff;  }

/* 热门话题 */
.hot-talk{ }
.hot-talk dl{ clear:both;overflow:hidden;_overflow:visible;_zoom:1; }
.hot-talk dl a{color:#666; line-height:30px;}
.hot-talk-news{ font-size:16px;font-weight:bold;height:40px;}
.hot-talk-day{ font-size:14px; height:40px;}
.hot-talk-week{ font-size:12px; height:30px;}
.hot-talk-news dt{ background:url(../images/ico-new.gif); }
.hot-talk-news dd{ margin-right:25px; _margin-right:22px; }
.hot-talk-day dt{ background:url(../images/ico-day.gif); }
.hot-talk-day dd{ margin-right:20px; _margin-right:17px; }
.hot-talk-week dt{ background:url(../images/ico-week.gif);  }
.hot-talk-week dd{margin-right:11px; _margin-right:9px; }
.hot-talk-news dt,
.hot-talk-day dt,
.hot-talk-week dt
{
	 width:24px; 
	 height:34px;
	 margin-right:15px;
     background-repeat:no-repeat;
}
/* 大家正在说什么 */

.hot-talking{ margin-top:0;}
.hot-talking .cl img{width:48px; height:48px;}
.hot-talking .tags{background:url(../images/bg-tab-title.gif) repeat-x;border:1px solid #d2e2fa;margin:-1px; position:relative;}
.hot-talking .tags .current{margin:-1px; margin-left:0; font-weight:bold; background-color:#fff;border:1px solid #d2e2fa; border-bottom:1px solid #fff; position:relative;   left:-1px;}
.hot-talking .inners{ color:#666666;  padding:0; *margin-top:-10px; }
.hot-talking span{ font-weight:bold;color:#2b4a78;}
.hot-talking .cols{ padding:15px 0 10px 0;}
.hot-talking .cols .cl{ margin:5px 10px 0 0; text-align:center; background:#a6c6e6; color:#fff; width:48px; height:48px;  font-size:12px; font-weight:bold; }
.hot-talking .cols .cl div{ margin-top:10px;}
.hot-talking .cols .cc{ line-height:25px; overflow:hidden;}
.hot-talking-time{ word-spacing:0.25em; font-size:12px; margin-top:3px;}
.hot-talking-time ,.hot-talking-time a{ color:#999999;}
.hot-talking-time span{ color:#2b4a78;font-weight:normal; }
.hot-talking-time .links{ color:#999; float:right; font-size:12px; }
.hot-talking-time .links a{color:#2b4a78; margin:0 5px;}
.hot-talking-time .links .l-last{margin-right:0px;}
.hot-talking-b{ white-space:0.5em;font-size:12px;}
.hot-talking-b span{ color:#2b4a78; font-weight:normal;}
.hot-talking-time .dir{ color:#2b4a78; font-weight:normal;}

.htauto{ /*height:auto;;*/}
.htauto .inners{ /*height:800px;*/}
.martop0{ margin-top:0;} 
.martop15{ margin-top:15px;}

.t-menu { margin:25px;}
.t-menu .t-inner{position:relative; z-index:0;margin-top:-1px;   border-top:1px solid #d2e2fa; padding-top:40px;}
.t-menu .tags{height:auto;position:relative; z-index:1;opacity:1;}
.t-menu .tags li{ margin-right:7px;background:url(../images/bg-tab-title.gif) repeat-x;border:1px solid #d2e2fa; padding:0 10px; line-height:30px; }
.t-menu .tags .current{ background:#fff;border-bottom:1px solid #fff; font-weight:bold;}

.t-menu-myboard .tags li{ height:30px; width:65px; line-height:30px;}
.t-menu-myboard .t-inner{*margin-top:-2px;_margin-top:-1px;}
/* 手机微博 */
.t-mobile h3{ color:#666; font-size:12px;margin-bottom:10px; }
.t-mobile .title-sub-line{color:#333; margin-bottom:15px; font-size:14px; }
.t-mobile .cl,.t-mobile .cr{width:165px; }
.t-mobile .cl p{ padding-right:5px;}
.t-mobile .cr p{ padding-left:5px;}
.t-mobile .cc p{padding:0 5px;}
.t-mobile .cc{ margin:0 170px; }
.t-mobile p{ line-height:23px;font-size:12px; margin-bottom:10px; height:130px;  color:#999;}
.t-mobile p a{ color:#2b4a78}
/* 注册 */
.reg{ text-align:center; margin-top:15px;}
/* contact */
.contact p{ margin:10px 0; color:#a9cae6; }
.contact { margin-right:10px;}
/* 留言 */
.leaveword{ color:#999; background:#faf9f9; padding:15px;font-size:12px;}
.leaveword h3{color:#666; margin-bottom:5px;font-size:14px;}
.leaveword .textarea{ border:5 solid #ccc; padding:5px; width:500px; height:64px; margin-bottom:10px; color:#999;  }
.leaveword .cols{ }
.leaveword .cols .cr{ margin-top:-10px;}
.leaveword .cols .cr span{ font-family:Constantia; font-size:27px;}
.leaveword .cols .cr .button{ background:url(../images/btn-blue.gif) no-repeat; border:none; color:#fff; width:76px; height:30px; margin-left:10px; font-weight:bold; font-size:14px;}
.leaveword .cols .cr .button:hover{ background:url(../images/btn-blue-on.gif) no-repeat;}
/* 信息提示栏 */
.msgbar{ background:#ffffde; border:1px solid #cccccc; color:#666666; padding:5px 0; text-align:center; font-size:12px; margin-bottom:0px;} 
.msgbar a{ color:#2b4a78;}
/* 底部更多 */
.morebar{ background:#f6f8fa; border:1px solid #cccccc; color:#666666; padding:5px 0; text-align:center; font-size:12px; margin:20px 0 30px 0;}
.morebar a{ color:#666; display:block; padding-right:10px;}
.morebar a img{ margin-left:5px;}


.steps{ margin:0 47px; line-height:25px; overflow:hidden; font-size:12px; color:#666;}
.steps h3{ font-size:16px; color:#000;}
.steps .textbox,
.steps .textarea{border:1px solid #ccc; }
.steps .step{ font-size:14px; border-bottom:1px solid #ccc; margin:30px 0 30px 0; height:35px;  font-weight:bold;}
.steps img{ margin-right:10px;}
.steps .label{width:80px;*width:70px; font-weight:bold;  display:block; float:left; }
.steps .textbox{width:307px; height:21px; line-height:21px;}
.steps .textarea{width:473px; height:70px; color:#666;}
.steps .btn-nor{ margin:10px 0 15px 0;}
.steps .s-inner li{ margin-bottom:15px;}
.steps .s-inner  .rem{ margin:0px;}

.steps .xts div,
.steps .xts a
{ font:12px; font-weight:bold; color:#333;}
.steps .a-color{color:#2b4a78;}
.steps .xts ul li{ margin:0px;}
.steps .xts ul li img{ margin-top:10px;}

.trybox{border:1px solid #cccccc; background:#efefef;text-align:center; font-size:12px; width:200px;}
.trybox h3{ font-weight:normal; margin:5px auto 0 auto; font-size:12px;}
.trybox .tb-inner{ margin:5px;  line-height:60px; height:60px; background:#fff;}
.trybox .tb-inner img{ margin-right:5px;}
.trybox .tb-inner a{ color:#2b4a78;}

.moreplay-nav{ background:#fafcfe;border:1px solid #cccccc; width:115px; margin:0 10px 0 0; height:670px; float:left; }
.moreplay-nav a{ border-bottom:1px dashed #cccccc;  height:34px; line-height:34px; padding-left:25px; display:block;position:relative;}
.moreplay-nav a.cur{ color:#2b4a78; font-weight:bold;}
.moreplay-nav a.cur img{ right:-12px; position:absolute; top:11px;}

.moreplay{ color:#666; float:right; width:606px;}
.moreplay li{ border-bottom:1px dashed #ccc; margin-bottom:15px; padding-bottom:7px;}
.moreplay h3{ color:#333;}
.moreplay input{ font-size:12px; background:url(../images/btn-mp-off.gif)  no-repeat; width:95px; height:28px; border:none; color:#fff; font-weight:bold; display:block; margin-bottom:10px; }
.moreplay input:hover{background:url(../images/btn-mp-on.gif)  no-repeat;}
.moreplay .cc{ margin:0 110px; line-height:25px;}
.moreplay .cc p{ font-size:12px;}
.moreplay .cc span{ color:#333;}

.find{ margin-top:15px; margin-bottom:30px; color:#666;}
.find .inners{ }
.find-bar { 
overflow:hidden;
*zoom:1;
padding:1px;
margin:-1px;
*margin-top:10px;
background:url(../images/bg-find.gif) repeat-x bottom;
border:1px solid #d2e2fa;
border-top:none;
}
.find-bar .searchbox{ margin-top:5px;}
.find-bar .searchbox .sbox{width:370px;}
.find-controls{ margin:15px; }
.find-controls,
.find-controls label{ font-size:12px; color:#444; font-weight:normal; }
.find-controls label{ display:inline-block; vertical-align:middle; *margin-bottom:10px;  zoom:1;}
.find-controls-item{ margin-right:5px;}
.find-nickname{ font-weight:bold; margin:15px 15px 0 15px; display:block;}
.find-res{ color:#333; font-weight:bold; display:block; margin-top:20px;}
.find-item{ font-size:12px;zoom:1; padding:15px 0 5px 0;}
.find-item:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.find-item .cc{ margin:0 80px 0 80px;*margin:0 80px 0 90px;}
.find-item:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.find-item .fi-name{color:#2b4a78; font-weight:bold; margin-bottom:10px; font-size:14px;}
.find-item .fi-count{ word-spacing:0.5em; margin-bottom:10px;}
.find-item .fi-count span{color:#999; font-weight:normal;}
.find-item .fi-cb{ float:left; padding:17px 10px 0 0;}


.find-item-opts{ font-size:12px; margin-left:10px;}
.find-item-opts li{ margin-bottom:5px; }
.find-item-opts .fio-cur,
.find-item-opts .fio-nor,
.find-item-opts .fio-more,
.find-item-opts .fio-more-show
{ border:none; width:62px; height:19px; line-height:19px;color:#666; padding-top:-3px; *padding-top:0;}
.find-item-opts .fio-cur{ background:url(../images/btn-small-cur-off.gif) no-repeat;color:#fff;}
.find-item-opts .fio-cur:hover{background:url(../images/btn-small-cur-on.gif) no-repeat;color:#fff;}
.find-item-opts .fio-nor{background:url(../images/btn-small-nor-off.gif) no-repeat;}
.find-item-opts .fio-nor:hover{background:url(../images/btn-small-nor-on.gif) no-repeat;}
.find-item-opts .fio-more{background:url(../images/btn-small-more-off.gif) no-repeat; }
.find-item-opts .fio-more-show{background:url(../images/btn-small-more.gif) no-repeat;}
.find-item-opts .more .inner{ margin:0px;}


/*   表单  */		
.basicinfo{ padding-left:40px; font-size:12px; line-height:26px;  margin-bottom:30px;*margin-bottom:10px;}
.basicinfo .hr{ margin:0px; padding:0px;}
.basicinfo hr{ border-top:1px solid #ccc; margin:-5px auto 20px 90px; *margin:-10px auto 15px 90px; position:relative;}
.basicinfo-item{ margin:0 0 15px 0;}
.basicinfo-item  a{color:#2b4a78;}
.basicinfo-item,
.basicinfo-item select
{ color:#666666;}

.basicinfo-item dt{width:80px;  text-align:right; margin-right:10px; font-weight:bold;}
.basicinfo-item dt,
.basicinfo-item dd{ float:left; overflow:hidden;}
.basicinfo-item .bi-txt{width:373px;height:22px; line-height:20px; padding:0 3px;border:1px solid #ccc; color:#666666; }
.basicinfo-item .bi-area{width:467px; height:70px; border:1px solid #ccc;color:#666666; }
.basicinfo-item .bi-sel{width:105px; height:20px;color:#666666;  }
.basicinfo-item li .bi-time{width:63px; height:20px; }
.basicinfo-item .sbtn{ font-weight:bold;}
.basicinfo-item-upd{ line-height:normal;margin-left:10px; float:left;}
.basicinfo-item-upd a{ margin-bottom:10px; display:block; }


.fanslist{ margin:15px; color:#666; }
.fanslist .t-inner{ padding:0; }
.fanslist .t-inner-mend{*margin-top:-2px;}
.fanslist .t-inner .inners{*margin-top:-10px;}
.fanslist .tags{ float:left; }
.fanslist .tags .current{ font-weight:bold;}
.fanslist .tags span{ color:#999; font-weight:normal;}
.fanslist .inners ul{ margin-bottom:10px;}
.fanslist .fl-back{ float:right; font-size:12px; color:#666; line-height:28px;}
.all{ margin-right:5px; }
.doall{ text-align:center; margin:0 0 10px 0;}
.all-label{font-size:12px; color:#2b4a78;}

.hotbaord{ font-size:12px; margin:15px;}
.hotbaord .hb-t{ }
.hotbaord .hb-t-l{ float:left; font-size:16px;}
.hotbaord .hb-t-l span{ font-family:Tahoma, Geneva, sans-serif; font-weight: normal;}
.hotbaord .hb-t-r{ float:right; color:#999; line-height:20px;}

.hotlist { padding-right:15px; margin:10px 15px 0 0; width:169px; float:left;}
.hl-last{ margin:10px 0 0 0px; padding:0px; float:right;}
.hotlist .hl-t{}
.hotlist .hl-t .hl-t-l{ float:left; font-weight:bold;}
.hotlist .hl-t .hl-t-r{ color:#999999; float:right;}
.hotlist-item{border-bottom:1px dashed #ccc; padding:15px 0;}
.hotlist-item dt{ background:#969595; color:#fff;width:16px; height:16px; line-height:16px; text-align:center; font-weight:bold;}
.hotlist-item .hi-t{background:#ff6c00;}
.hotlist-item .hl-count{ color:#999; font-family:Tahoma, Geneva, sans-serif; float:right; margin:0; font-size:12px;}
.hotlist-item dt,.hotlist-item dd{ float:left; margin-right:10px;}
.hotlist-item a{ display:block; background:url(../images/ico-flower.gif) no-repeat; padding-left:14px; margin:4px 0 0 0; color:#2b4a78;}
/* 分页导航 */
.pager{ float:right; color:#666; margin:10px 0 30px 0;}
.pager a{border:1px solid #e7e7e7; float:left; margin-right:5px; text-align:center; display:block;color:#666; background:url(../images/bg-pager-btn.gif) repeat-x; width:18px; height:16px; font-size:12px; line-height:17px;}
.pager .pager-btn{width:48px;}
.pager a:last-child{ margin-right:0;}
.pager a:hover { text-decoration:none;}
.pager a.p-cur{background:#429bf3; font-weight:bold;color:#fff; background:url(../images/bg-pager-cur.gif) repeat-x; border:1px solid #58a8f5;}
.pager a.p-more{ border:none; background:none; line-height:23px;}

.hotop{ color:#333333; margin:15px; margin-bottom:0; font-weight:bold; border-bottom:1px solid #ccc; padding-bottom:10px;}
.hotop .ht-l{ float:left;}
.hotop .ht-r{ float:right; color:#2b4a78;}
.hotop .ht-r span{ font-family:Tahoma, Geneva, sans-serif; font-weight:normal;}

.sinfo-login{ line-height:25px; font-size:12px;}
.sinfo-login h3{ margin:0; padding:0;}
.sinfo-login a{ font-size:14px; font-weight:bold; color:#2b4a78; margin:0 5px;}

.scroll{ height:610px; position:relative; overflow:hidden;}
.scroll .s-lay{ position:absolute;  bottom:0;  background:url(../images/opacity.png) repeat-x; width:100%; height:35px;}

.single .cc{ margin-left:108px;}
.single .cl img{width:96px; height:96px;}
.single h3{ color:#2b4a78; margin:0px;}

.say-inner{ min-height:48px;_height:outo;_height:48px; _overflow:visible;}
.say-inner .say-uname{ color: #2B4A78;font-weight: bold;}
.say-inner .say-smg,
.say-inner .say-smg a{color: #666;font-weight:normal; }
.hauto{ height:auto;}
/* ************ elements ************* */
/* ==== 按扭样式 ==== */
.reg-btn{width:215px;height:42px;  background:url(../images/btn-regist-off.png) no-repeat; border:none;}
.reg-btn:hover{ background:url(../images/btn-regist-on.png) no-repeat;}
.login-btn{width:75px;height:29px; background:url(../images/btn-login.gif) no-repeat; border:none;}
.search-btn{width:42px; height:25px;   background:url(../images/btn-search.gif) no-repeat left top; border:none;}
.btn-nor{background:url(../images/btn-sinfo-nor-off.gif) no-repeat; width:75px; height:28px; line-height:28px; border:none; padding-bottom:4px;*padding-bottom:0px; color:#333;}
.sbtn{ background:url(../images/btn-s.gif) no-repeat;width:75px; height:28px; border:none; color:#fff; line-height:28px;}
.blue-btn{ background:url(../images/btn-att.gif) no-repeat; border:none; width:122px; height:30px; color:#fff; font-weight:bold;}
.a{ background:url(../images/a.gif) no-repeat; width:91px; height:28px; display:block; margin:20px auto 30px auto;}

.save-btn{background:url(../images/btn-s-off.gif) no-repeat;width:75px; height:28px; border:none; color:#fff; line-height:28px; font-weight:bold;}
.save-btn:hover{background:url(../images/btn-s.gif) no-repeat;width:75px; height:28px; border:none; color:#fff; line-height:28px;}
/* ==== 文本样式 ==== */
.textbox{border:1px solid #6ea9dc; color:#999; height:25px; line-height:25px; padding:0 3px;}

/* ==== 线 ==== */
.blue-hor-line{border-top:1px solid #3779be;border-bottom:1px solid #77ade1; margin:0 10px;}
.blue-ver-line{border-left:1px solid #3779be;border-right:1px solid #77ade1; width:0px; height:35px; float:left;}
.title-sub-line{border-bottom:1px solid #ccc; padding-bottom:10px;}
.r-line{border-right:1px solid #ccc; height:100px; width:1px;}
.l-line{border-left:1px solid #ccc;height:100px; width:1px; margin-top:30px;}
.hor-line{ border-top:1px solid #ccc;}
.ver-dashed{ border-right:1px dashed #ccc;}