/* 
author : czy
name   : CSS Reset
date   : 2011-05-16
qq     : 274142680@qq.com
ver    : 1.0.0.0
*/

html,body{background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,button,input,a{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 100%; font-weight: normal; font-style: normal; }
ul,ol,dl{ margin:0;padding:0; list-style:none; }
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
hr{ height:0px; border-width:1px;}
button,input[type="reset"],input[type="button"],input[type="submit"] {cursor:pointer; }
/* Opera requires 1px of padding to render with contemporary native chrome */
button,input[type="checkbox"],input[type="radio"],input[type="reset"],input[type="submit"] {padding:1px;}
/*  fonts  */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;font:inherit;}
/*  others  */
ins {text-decoration: none;}
del {text-decoration: line-through;} 
img,input,a,label{ vertical-align:middle;}
hr{height:1px;border:none;}
/* make IE scale images properly */
img {-ms-interpolation-mode:bicubic;}
/*  自定义初始化  */
a { color:#000; text-decoration: none;cursor:pointer; }
a:hover { text-decoration: underline;  }
a:active,a:visited {/* color:#005a9c; */}
body{color:#333; margin:0 auto;}
div,li,dd,dt,q,b,p,span,a,h1,h2,h3,h4,h5,h6,legend{ word-break:break-all;}/* 英文自动换行 */



﻿/* 
author : czy
name   : CSS Grids
date   : 2011-05-16
qq     : 274142680@qq.com
ver    : 1.0.0.0
*/
/*  表格  */
table.cell-border td {padding:10px;border:1px solid #999;}
/*  常用样式  */
.pad {padding:10px;}
.mar {margin:10px;}
.center {text-align:center;}
.e-clear {display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.clear{*zoom:1;}
.clear:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
/*  字间距  */
.ws {word-spacing:0.5em;}
.lh25 {line-height:25px;}
.lh20 {line-height:20px;}
/*  GRIDS  */
.line:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.lastUnit:after {
	content:" . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
	visibility:hidden;
	clear:both;
	height:0 !important;
	display:block;
	line-height:0;
}
.line {*zoom:1;}
.left {float:left;display:inline;_margin-right:-3px;}
/* IE6 */
.right {float:right;display:inline;_margin-left:-3px;}
/* IE6 */
.size1of2,
.size1of3,
.size2of3,
.size1of4,
.size3of4,
.size1of5,
.size2of5,
.size3of5,
.size4of5,
.size1of6,
.size5of6
{ float:left;}

.size1of1 {float:none;}
.size1of2 {width:50%;}
.size1of3 {width:33.33333%;}
.size2of3 {width:66.66666%;}
.size1of4 {width:25%;}
.size3of4 {width:75%;}
.size1of5 {width:20%;}
.size2of5 {width:40%;}
.size3of5 {width:60%;}
.size4of5 {width:80%;}
.size1of6 {width:16.666666%;}
.size5of6 {width:83.333333%;}
.lastUnit {
	display:table-cell;
	*display:block;
	*zoom:1;
	float:none;
	_left:-3px;
	_margin-right:-3px;
	width:auto;
}

/*  列表  */
dl.float dt,dl.float dd{ float:left; }
/*  links  */
.links { zoom:1;}
.links:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.links li {float:left;height:100%;text-align:center;}
.links .l-last a,
.links .l-last{ margin-right:0;} 
.links a {height:100%;cursor:pointer;margin:0 10px;_display:inline;}
.links a:hover {}

.mar0 a{margin:0;}
/*  Cols  */
.cols{zoom:1;}
.cols:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.cols .cl {float:left;}
.cols .cr {float:right;}
.cols .cc {*overflow:hidden;_overflow:visible;_zoom:1;}
/*  pop  */
.pop {
	overflow:visible;
	margin:10px 20px 20px 10px;
	background-position:left top;
}
.pop .inner {
	right:-10px;
	bottom:-10px;
	background-position:right bottom;
	padding:0 10px 10px 0;
}
.pop .tl,.pop .br {display:none;}
.pop .bl {bottom:-10px;}
.pop .tr {right:-10px;}
/*  mod  */
.mod {/* box css */}
.mod .hd {/* box-hd */ height:30px;}
.mod .hd .tl,.box .hd .tr,.box .hd .tc {height:100%;}
.mod .hd .tl {float:left;_margin-left:-3px;background-repeat:no-repeat;}
.mod .hd .tr {float:right;_margin-right:-3px;background-repeat:no-repeat;}
.mod .hd .tc {
	overflow:hidden;
	_overflow:visible;
	_zoom:1;
}
.mod .bd {/* box-bd */}
.mod .ft {/* box-ft */}
.mod .ft .bl,.box .ft .br,.box .ft .bc {height:100%;}
.mod .ft .bl {float:left;_margin-left:-3px;background-repeat:no-repeat;}
.mod .ft .br {
	float:right;
	_margin-right:-3px;
	/*background-repeat:no-repeat;
	background:url(../images/ui-icons_454545_256x240.png) -80px -225px; 
	width:15px;
	height:15px;*/
}
.mod .ft .bc {overflow:hidden;_overflow:visible;_zoom:1;}
/*  分页  */
.datapager{ margin:10px auto;  font-size:14px; }
.datapager a
{
    float:left; 
    text-align:center;
    height:20px;
    line-height:20px; 
	margin-right:5px;
	display:block;
	
    /* border:1px solid #C8C7C3;
    color:#7F93C5;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; */
	/*-webkit-box-shadow:inset 0px 0px 2px #C8C7C3;
    -moz-box-shadow:inset 0px 0px 2px #C8C7C3;
    box-shadow:inset 0px 0px 2px #C8C7C3;*/
    overflow:hidden;
	text-decoration:none;
	/* text-shadow: 2px 3px 4px #CCC; */
}
.datapager span{ display:block; float:left; line-height:26px; padding:0 10px; }
.datapager a.normal,.datapager a.current{width:20px;}
.datapager a.normal{ /* background:#fff; */}
.datapager a.current{ /*  background:#7F93C5; color:#fff; border:1px solid #636E80; */ } 
.datapager a.prev, 
.datapager a.next,
.datapager a.first,
.datapager a.last
{
    width:50px;
}
.datapager a:hover{/* border:1px solid #999;background:#7E93C2; color:#fff; */text-decoration:none;  }
.datapager a.disable,.datapager a.disable:hover{color:#C8C8C8; border-color:#C8C8C8; background:none;}
/*   tab  */		
.tab,.tab .inners li {}
.tab .tags{zoom:1;cursor:pointer;height:35px; line-height:35px;}
.tab .tags:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.tab .inners li { }
.tab .tags li {
	text-align:center;
	float:left;
	cursor:pointer;
	padding:0 10px;
	height:100%;
	color:#2b4a78;
	position:relative;
	
	/*border:1px solid #7F93C5;
	-moz-border-radius:5px 5px 0 0;
	-khtml-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	*/
	overflow:hidden;
}
.tab .tags li:hover {}
.tab .tags .current {/* color:#fff;background:#7F93C5; */ }
.tab .tags .normal {/* color:#333;background:#fff;filter:alpha(opacity=70);opacity:0.7; */}

/*   对话框  */	
.dialog {
	width:400px;
	display:none;
	background:#fff;
	border:1px solid #333;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	overflow:hidden;
	-webkit-box-shadow:2px 2px 10px #333;
	-moz-box-shadow:2px 2px 10px #333;
	box-shadow:3px 3px 10px #333;
}
.dialog .title-bar {
	height:30px;
	line-height:30px;
	/* background:#666;*/
}
.dialog .title-bar a {
	display:block;
	float:right;
	margin-right:10px;
}
.dialog .content {}
.dialog .bottom {text-align:right;}
/*   SideNav  */
.side-nav {padding:0 10px;width:200px;}
.side-nav a {height:30px;line-height:30px;display:block}

/*  Artical  */
.artical {margin:10px;font-size:12px;}
.artical h1 {color:red;font-size:20px;}
.artical .summary {
	word-spacing:5px;
	margin:10px 0;
	color:#999;
	display:block;
}
.artical .summary a{color:#999;}
.artical p {color:#666;padding:10px 0;}
.artical hr {
	/*-webkit-box-shadow:0 0 5px #999;
	-moz-box-shadow:0 0 5px #999;
	box-shadow:0 0 5px #999;
	*/
	margin:30px 0;
}

/*   表单  */		
.form{ margin:0 auto;}
.form li{ margin-bottom:10px; clear:both;}
.form li label{display:block;float:left; width:80px; vertical-align:middle;line-height:26px; }
.form li input{ line-height:20px; padding:0 3px;  }
.form li select{width:206px; height:26px; }
/*   图片列表  */
.imgs{ float:left; margin-right:10px;text-align:center; margin-bottom:10px;}
.imgs dt,.imgs dd{ margin-bottom:5px;}﻿/* 
author : czy
name   : CSS Content
date   : 2011-05-16
qq     : 274142680@qq.com
ver    : 1.0.0.0
*/
/*  Fonts,Word  */
h1,h2,h3,h4,h5,h6{ font-weight:bold;font-size:14px;}
input{padding:0 3px;}
.txt-nor{width:160px;  height:23px;}
.overflow {overflow:hidden;_overflow:visible;_zoom:1;}
.bold {font-weight:bold;}
.font12 {font-size:12px;}
.font14 {font-size:14px;}
.indent {text-indent:2em;}
.word-overflow {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
/* 超过的字以...显示 */
.word-center {text-align:justify;text-justify:inter-ideograph;}
/* 文本左右对齐 */
/*  Color  */
.red {color:red;}
/* IE6 png */
/* margin为负值时-10px设position:relative;IE6 */
.png {_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/folder/yourimage.png',sizingMethod='crop');}
/*  Image  */
.img {padding:5px;background:#fff;border:1px solid #e1e1e1;}
/*  Shadow  */
.box-shadow {
	-moz-box-shadow:1px 1px 4px #999;/* For Firefox3.6+ */
	-webkit-box-shadow:1px 1px 4px #999;/* For Chrome5+,Safari5+ */
	box-shadow:1px 1px 4px #999;/* For Latest Opera */
}
.box-in-shadow {
	-moz-box-shadow:inset 0px 0px 5px #999;/* For Firefox3.6+ */
	-webkit-box-shadow:inset 0px 0px 5px #999;/* For Chrome5+,Safari5+ */
	box-shadow:inset 0px 0px 5px #999;/* For Latest Opera */
}
.box-out-shadow {
	-moz-box-shadow:0px 0px 10px #999;/* For Firefox3.6+ */
	-webkit-box-shadow:0px 0px 10px #999;/* For Chrome5+,Safari5+ */
	box-shadow:0px 0px 10px #999;/* For Latest Opera */
}
.img-in-shadow {box-shadow:inset 0 0 2px rgba(192,192,192,.5);padding:5px;}
/*  Radius  */
.box-radius {
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	overflow:hidden;
}
.btn-radius {
	-moz-border-radius:2px;
	-khtml-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	overflow:hidden;
}
/*  Radius,Shadow  */
.box-radius-shadow {
	-moz-box-shadow:0px 0px 4px #999;/* For Firefox3.6+ */
	-webkit-box-shadow:0px 0px 4px #999;/* For Chrome5+,Safari5+ */
	box-shadow:0px 0px 4px #999;/* For Latest Opera */
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	overflow:hidden;
}
/*  Line  */
.dashed-subline {border-bottom:1px dashed #cccccc}
.dashed-supline {border-top:1px dashed #cccccc}
.solid-subline {border-bottom:1px dashed #cccccc}
.solid-supline {border-top:1px dashed #cccccc}
/*  TextBox  */
input.text,ul.texts li input[type=text] {border:1px solid #C0C0C0}
input.text:focus,dl.texts dd input[type=text]:focus {
	border:1px solid 4393CE;
	-moz-box-shadow:0px 0px 5px #4393CE;/* For Firefox3.6+ */
	-webkit-box-shadow:0px 0px 5px #4393CE;/* For Chrome5+,Safari5+ */
	box-shadow:0px 0px 5px #4393CE;/* For Latest Opera */
}
/* 
author : czy
name   : CSS Print
date   : 2011-05-16
qq     : 274142680@qq.com
ver    : 1.0.0.0
*/﻿/* 
author : czy
name   : CSS Reset
date   : 2011-05-16
qq     : 274142680@qq.com
ver    : 1.0.0.0
*/

html,body{background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,button,input,a{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 100%; font-weight: normal; font-style: normal; }
ul,ol,dl{ margin:0;padding:0; list-style:none; }
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
hr{ height:0px; border-width:1px;}
button,input[type="reset"],input[type="button"],input[type="submit"] {cursor:pointer; }
/* Opera requires 1px of padding to render with contemporary native chrome */
button,input[type="checkbox"],input[type="radio"],input[type="reset"],input[type="submit"] {padding:1px;}
/*  fonts  */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;font:inherit;}
/*  others  */
ins {text-decoration: none;}
del {text-decoration: line-through;} 
img,input,a,label{ vertical-align:middle;}
hr{height:1px;border:none;}
/* make IE scale images properly */
img {-ms-interpolation-mode:bicubic;}
/*  自定义初始化  */
a { color:#000; text-decoration: none;cursor:pointer; }
a:hover { text-decoration: underline;  }
a:active,a:visited {/* color:#005a9c; */}
body{color:#333; margin:0 auto;}
div,li,dd,dt,q,b,p,span,a,h1,h2,h3,h4,h5,h6,legend{ word-break:break-all;}/* 英文自动换行 */



﻿/* 
author : czy
name   : CSS Grids
date   : 2011-05-16
qq     : 274142680@qq.com
ver    : 1.0.0.0
*/
/*  表格  */
table.cell-border td {padding:10px;border:1px solid #999;}
/*  常用样式  */
.pad {padding:10px;}
.mar {margin:10px;}
.center {text-align:center;}
.e-clear {display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.clear{*zoom:1;}
.clear:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
/*  字间距  */
.ws {word-spacing:0.5em;}
.lh25 {line-height:25px;}
.lh20 {line-height:20px;}
/*  GRIDS  */
.line:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.lastUnit:after {
	content:" . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
	visibility:hidden;
	clear:both;
	height:0 !important;
	display:block;
	line-height:0;
}
.line {*zoom:1;}
.left {float:left;display:inline;_margin-right:-3px;}
/* IE6 */
.right {float:right;display:inline;_margin-left:-3px;}
/* IE6 */
.size1of2,
.size1of3,
.size2of3,
.size1of4,
.size3of4,
.size1of5,
.size2of5,
.size3of5,
.size4of5,
.size1of6,
.size5of6
{ float:left;}

.size1of1 {float:none;}
.size1of2 {width:50%;}
.size1of3 {width:33.33333%;}
.size2of3 {width:66.66666%;}
.size1of4 {width:25%;}
.size3of4 {width:75%;}
.size1of5 {width:20%;}
.size2of5 {width:40%;}
.size3of5 {width:60%;}
.size4of5 {width:80%;}
.size1of6 {width:16.666666%;}
.size5of6 {width:83.333333%;}
.lastUnit {
	display:table-cell;
	*display:block;
	*zoom:1;
	float:none;
	_left:-3px;
	_margin-right:-3px;
	width:auto;
}

/*  列表  */
dl.float dt,dl.float dd{ float:left; }
/*  links  */
.links { zoom:1;}
.links:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.links li {float:left;height:100%;text-align:center;}
.links .l-last a,
.links .l-last{ margin-right:0;} 
.links a {height:100%;cursor:pointer;margin:0 10px;_display:inline;}
.links a:hover {}

.mar0 a{margin:0;}
/*  Cols  */
.cols{zoom:1;}
.cols:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.cols .cl {float:left;}
.cols .cr {float:right;}
.cols .cc {*overflow:hidden;_overflow:visible;_zoom:1;}
/*  pop  */
.pop {
	overflow:visible;
	margin:10px 20px 20px 10px;
	background-position:left top;
}
.pop .inner {
	right:-10px;
	bottom:-10px;
	background-position:right bottom;
	padding:0 10px 10px 0;
}
.pop .tl,.pop .br {display:none;}
.pop .bl {bottom:-10px;}
.pop .tr {right:-10px;}
/*  mod  */
.mod {/* box css */}
.mod .hd {/* box-hd */ height:30px;}
.mod .hd .tl,.box .hd .tr,.box .hd .tc {height:100%;}
.mod .hd .tl {float:left;_margin-left:-3px;background-repeat:no-repeat;}
.mod .hd .tr {float:right;_margin-right:-3px;background-repeat:no-repeat;}
.mod .hd .tc {
	overflow:hidden;
	_overflow:visible;
	_zoom:1;
}
.mod .bd {/* box-bd */}
.mod .ft {/* box-ft */}
.mod .ft .bl,.box .ft .br,.box .ft .bc {height:100%;}
.mod .ft .bl {float:left;_margin-left:-3px;background-repeat:no-repeat;}
.mod .ft .br {
	float:right;
	_margin-right:-3px;
	/*background-repeat:no-repeat;
	background:url(../images/ui-icons_454545_256x240.png) -80px -225px; 
	width:15px;
	height:15px;*/
}
.mod .ft .bc {overflow:hidden;_overflow:visible;_zoom:1;}
/*  分页  */
.datapager{ margin:10px auto;  font-size:14px; }
.datapager a
{
    float:left; 
    text-align:center;
    height:20px;
    line-height:20px; 
	margin-right:5px;
	display:block;
	
    /* border:1px solid #C8C7C3;
    color:#7F93C5;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; */
	/*-webkit-box-shadow:inset 0px 0px 2px #C8C7C3;
    -moz-box-shadow:inset 0px 0px 2px #C8C7C3;
    box-shadow:inset 0px 0px 2px #C8C7C3;*/
    overflow:hidden;
	text-decoration:none;
	/* text-shadow: 2px 3px 4px #CCC; */
}
.datapager span{ display:block; float:left; line-height:26px; padding:0 10px; }
.datapager a.normal,.datapager a.current{width:20px;}
.datapager a.normal{ /* background:#fff; */}
.datapager a.current{ /*  background:#7F93C5; color:#fff; border:1px solid #636E80; */ } 
.datapager a.prev, 
.datapager a.next,
.datapager a.first,
.datapager a.last
{
    width:50px;
}
.datapager a:hover{/* border:1px solid #999;background:#7E93C2; color:#fff; */text-decoration:none;  }
.datapager a.disable,.datapager a.disable:hover{color:#C8C8C8; border-color:#C8C8C8; background:none;}
/*   tab  */		
.tab,.tab .inners li {}
.tab .tags{zoom:1;cursor:pointer;height:35px; line-height:35px;}
.tab .tags:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.tab .inners li { }
.tab .tags li {
	text-align:center;
	float:left;
	cursor:pointer;
	padding:0 10px;
	height:100%;
	color:#2b4a78;
	position:relative;
	
	/*border:1px solid #7F93C5;
	-moz-border-radius:5px 5px 0 0;
	-khtml-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	*/
	overflow:hidden;
}
.tab .tags li:hover {}
.tab .tags .current {/* color:#fff;background:#7F93C5; */ }
.tab .tags .normal {/* color:#333;background:#fff;filter:alpha(opacity=70);opacity:0.7; */}

/*   对话框  */	
.dialog {
	width:400px;
	display:none;
	background:#fff;
	border:1px solid #333;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	overflow:hidden;
	-webkit-box-shadow:2px 2px 10px #333;
	-moz-box-shadow:2px 2px 10px #333;
	box-shadow:3px 3px 10px #333;
}
.dialog .title-bar {
	height:30px;
	line-height:30px;
	/* background:#666;*/
}
.dialog .title-bar a {
	display:block;
	float:right;
	margin-right:10px;
}
.dialog .content {}
.dialog .bottom {text-align:right;}
/*   SideNav  */
.side-nav {padding:0 10px;width:200px;}
.side-nav a {height:30px;line-height:30px;display:block}

/*  Artical  */
.artical {margin:10px;font-size:12px;}
.artical h1 {color:red;font-size:20px;}
.artical .summary {
	word-spacing:5px;
	margin:10px 0;
	color:#999;
	display:block;
}
.artical .summary a{color:#999;}
.artical p {color:#666;padding:10px 0;}
.artical hr {
	/*-webkit-box-shadow:0 0 5px #999;
	-moz-box-shadow:0 0 5px #999;
	box-shadow:0 0 5px #999;
	*/
	margin:30px 0;
}

/*   表单  */		
.form{ margin:0 auto;}
.form li{ margin-bottom:10px; clear:both;}
.form li label{display:block;float:left; width:80px; vertical-align:middle;line-height:26px; }
.form li input{ line-height:20px; padding:0 3px;  }
.form li select{width:206px; height:26px; }
/*   图片列表  */
.imgs{ float:left; margin-right:10px;text-align:center; margin-bottom:10px;}
.imgs dt,.imgs dd{ margin-bottom:5px;}﻿/* 
author : czy
name   : CSS Content
date   : 2011-05-16
qq     : 274142680@qq.com
ver    : 1.0.0.0
*/
/*  Fonts,Word  */
h1,h2,h3,h4,h5,h6{ font-weight:bold;font-size:14px;}
input{padding:0 3px;}
.txt-nor{width:160px;  height:23px;}
.overflow {overflow:hidden;_overflow:visible;_zoom:1;}
.bold {font-weight:bold;}
.font12 {font-size:12px;}
.font14 {font-size:14px;}
.indent {text-indent:2em;}
.word-overflow {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
/* 超过的字以...显示 */
.word-center {text-align:justify;text-justify:inter-ideograph;}
/* 文本左右对齐 */
/*  Color  */
.red {color:red;}
/* IE6 png */
/* margin为负值时-10px设position:relative;IE6 */
.png {_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/folder/yourimage.png',sizingMethod='crop');}
/*  Image  */
.img {padding:5px;background:#fff;border:1px solid #e1e1e1;}
/*  Shadow  */
.box-shadow {
	-moz-box-shadow:1px 1px 4px #999;/* For Firefox3.6+ */
	-webkit-box-shadow:1px 1px 4px #999;/* For Chrome5+,Safari5+ */
	box-shadow:1px 1px 4px #999;/* For Latest Opera */
}
.box-in-shadow {
	-moz-box-shadow:inset 0px 0px 5px #999;/* For Firefox3.6+ */
	-webkit-box-shadow:inset 0px 0px 5px #999;/* For Chrome5+,Safari5+ */
	box-shadow:inset 0px 0px 5px #999;/* For Latest Opera */
}
.box-out-shadow {
	-moz-box-shadow:0px 0px 10px #999;/* For Firefox3.6+ */
	-webkit-box-shadow:0px 0px 10px #999;/* For Chrome5+,Safari5+ */
	box-shadow:0px 0px 10px #999;/* For Latest Opera */
}
.img-in-shadow {box-shadow:inset 0 0 2px rgba(192,192,192,.5);padding:5px;}
/*  Radius  */
.box-radius {
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	overflow:hidden;
}
.btn-radius {
	-moz-border-radius:2px;
	-khtml-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	overflow:hidden;
}
/*  Radius,Shadow  */
.box-radius-shadow {
	-moz-box-shadow:0px 0px 4px #999;/* For Firefox3.6+ */
	-webkit-box-shadow:0px 0px 4px #999;/* For Chrome5+,Safari5+ */
	box-shadow:0px 0px 4px #999;/* For Latest Opera */
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	overflow:hidden;
}
/*  Line  */
.dashed-subline {border-bottom:1px dashed #cccccc}
.dashed-supline {border-top:1px dashed #cccccc}
.solid-subline {border-bottom:1px dashed #cccccc}
.solid-supline {border-top:1px dashed #cccccc}
/*  TextBox  */
input.text,ul.texts li input[type=text] {border:1px solid #C0C0C0}
input.text:focus,dl.texts dd input[type=text]:focus {
	border:1px solid 4393CE;
	-moz-box-shadow:0px 0px 5px #4393CE;/* For Firefox3.6+ */
	-webkit-box-shadow:0px 0px 5px #4393CE;/* For Chrome5+,Safari5+ */
	box-shadow:0px 0px 5px #4393CE;/* For Latest Opera */
}
/* 
author : czy
name   : CSS Print
date   : 2011-05-16
qq     : 274142680@qq.com
ver    : 1.0.0.0
*/