.modal
    .modal-dialog
        .modal-content
            .modal-body
                .form-horizontal
                    .form-group
                        label.col-sm-2.control-label 用户名
                        .col-sm-10
                            input.form-control(type="text", placeholder="用户名")
                    .form-group
                        label.col-sm-2.control-label 密码
                        .col-sm-10
                            input.form-control(type="text", placeholder="密码")
            .modal-footer.text-center
                button.btn.btn-primary 登录
