// TODO css base setting
combine = true;
font-size = 13px
ismobile = false

default-color = #444
//vendors = moz webkit ms o official

//img-path = '../img/'
//page-width = 1024px
//space = 15px;
//ie-support = false
//responsive = false

@require 'base'
@require 'animate/animate'

// TODO base styles
@require 'controls/btn'
@require 'controls/icon'
@require 'controls/form'
@require 'controls/input'
@require 'controls/layout'
@require 'controls/list'
@require 'controls/navbar'
@require 'controls/text'
@require 'controls/article'

// TODO extend styles
@require 'controls/alert'
@require 'controls/code'
@require 'controls/panel'
@require 'controls/scroll'
@require 'controls/tooltip'
@require 'controls/thumbnail'
@require 'controls/media'

// TODO site css
@require 'site'
@require 'mobile'


