/* CSS Document */
body{
margin:0 auto;
width:100%;
padding:0px;
position:relative;
font:12px Arial,Helvetica,Verdana,sans-serif;
line-height:16px;
overflow-x: hidden;
background-color:#fff;
background-image:url(../images/bbg.gif); background-repeat:repeat-x; background-position:left top; height:900px;}

*{ margin:0; padding:0 }
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, table{
	padding: 0;
	margin: 0;
}
img{ border:0;}
li{ list-style:none;}
a{text-decoration:none; color:#484848; }
.container{width:1000px; margin:0 auto;}
.header{height:96px; width:1000px; overflow:hidden;}
.logo{width:102px; height:96px; overflow:hidden; float:left;}
.nav{float:right; margin-right:40px; display:inline; font-size:14px;}
.nav1{float:left; font-family:"Î¢ÈíÑÅºÚ";}
.nav1 a{ display:block; width:92px; height:96px; text-align:center; color:#757575; padding-top:50px; }
.nav1 a span{color:#e8e8e8;}
.nav1 a:hover{ display:block; width:92px; height:96px; background-image:url(../images/navbg.gif); background-repeat:no-repeat; background-position:left top; text-align:center; color:#fff; padding-top:40px; }
.nav1 a:hover span{color:#fff;}
.banner{height:392px; width:1000px; overflow:hidden; margin-top:13px;}
.bngd{background-image:url(../images/banner_bottom.gif); background-repeat:no-repeat; background-position:left top; width:1000px; height:16px; overflow:hidden;}
.bngd ul li{float:left; height:16px; overflow:hidden;}
.conter{margin-top:10px; height:275px; overflow:hidden;}
.cleft{float:left; background-image:url(../images/zpzs.gif); width:237px; height:274px; background-repeat:no-repeat; background-position:left; overflow:hidden;}
.cleft1{color:#db5c02; font-family:"Î¢ÈíÑÅºÚ"; font-weight:normal; height:31px; line-height:31px; font-size:14px; margin-left:10px;}
.cleft2{margin-left:10px; position:relative;}
.cleft2 ul{position:absolute; top:212px; right:13px;}
.cleft2 ul li{float:left; padding-left:2px;}
.cmid{background-image:url(../images/xwzx.gif); width:491px; height:275px; overflow:hidden; background-repeat:no-repeat; background-position:left; float:left; position:relative; display:inline; margin-left:10px;}
.cmid1{position:absolute; top:14px; right:40px;}
.cmid2{font-family:Arial, Helvetica, sans-serif; position:absolute; top:10px; right:10px;}
.cmid3{margin-left:10px; margin-top:10px; height:110px; overflow:hidden;}
.cmid4{float:left; border:2px solid #afafaf; padding:2px; width:163px; height:90px; overflow:hidden;}
.cmid5{ width:291px; float:left; font-size:12px; color:#232323; line-height:20px; padding-left:8px; display:inline;}
.cmid6 {width:468px; margin-left:10px;}
.cmid6 li{font-weight:normal; background-image:url(../images/hjtx.gif); background-repeat:no-repeat; background-position:12px center; padding-left:25px; height:32px; line-height:32px; border-bottom:1px dashed #7f7f7f;}
.cmid6 li a{font-weight:normal; color:#232323;}
.cright{background-image:url(../images/gsjj.gif); width:253px; height:274px; background-repeat:no-repeat; background-position:left; overflow:hidden; float:right; display:inline;}
.cright1{margin-left:10px;}
.cright2{margin-left:5px; width:230px; line-height:20px; text-indent:25px;}
.footer{background-image:url(../images/footerbg.gif); height:22px; background-repeat:repeat-x; background-position:left top; margin-top:10px; line-height:22px;}
.footer1{float:left; color:#000000; display:inline; padding-left:3px;}
.footer2{float:right; color:#000000; display:inline; padding-right:3px;}

.tab .tab-tag{ background:url(../images/yx.gif) repeat-x; overflow:hidden;width:708px;}
.tab li.space{ margin-right:162px;}
.tab .current a{ background:url(../images/kq.gif);width:12px; height:16px; display:block;}
.tab .normal a{background:url(../images/sq.gif);width:12px; height:16px;display:block;}

.sidetab{ margin-left:10px;}
.sidetab .tab-tag{ margin-top:205px; position:relative; float:right; margin-right:15px;}
.sidetab .tab-tag li{float:left; margin: 0 1px;}
.sidetab .current{}
.sidetab .normal{}