@require 'mixins/index'

// TODO css

body
    color #333;
    padding 10px;
    // bg-cover:'bg.jpg';
    font-family microsoft yahei, "黑体", Arial, Simsun, "Arial Unicode MS", Mingliu, Helvetica;


