.container{ overflow:hidden; padding:0; width:1004px;}

.side{ float:right; _margin-right:-3px; width:280px; padding:20px 0; background:#eef7fe; float:right; }
.side .equal{ background:#eef7fe; padding-left:20px; padding-right:20px; overflow:hidden;}
.main{ overflow:hidden;padding: 0 20px 10px 20px ;} 

.subside{ float:right; _margin-left:-3px;}


.hd{padding-left:10px;}
.bd{padding:10px;}
.ft{text-align:center;}

.box{border:1px solid #c7ddea; background:#f9fdff;}

.searchbox .text{ border:1px solid #acccd3; padding:5.5px; color:#b6d4db; background:#fff; width:180px;}
.searchbox .submit{ margin-left:-1px; background:url(../images/search_31x28_white.gif) no-repeat; border:1px solid #acccd3; border-left:none; width:31px; height:28px;}

.switch{}
.switch .switch-nav{float:right; width:140px;background:#eef7fe url(../images/home/home_side_line.gif) repeat-y left; padding-left:10px;}
.switch .switch-nav li{ padding:6px 6px; border:4px solid #eef7fe;  cursor:pointer; line-height:normal;}
.switch .switch-nav li .arrowhead{ display:none;}
.switch .switch-nav li.switch-nav-cur{ border:4px solid #b9d5e3; position:relative;}
.switch .switch-nav li.switch-nav-cur .arrowhead{ position:absolute; display:block; left:-10px; top:40%;}
.switch .switch-nav li h3{ font-size:14px;}
.switch .switch-nav li span{ margin:5px;*margin:0px; margin-left:0; color:#999; display:inline-block;}


.switch  em{ color:#f95e01; font-size:16px; font-weight:bold; margin:0 4px; vertical-align:middle;}
.switch .switch-panel{ position:relative;}
.switch-content{ font-size:12px; color:#646567; line-height:25px;padding:20px; overflow:hidden; width:517px; position:absolute;}
.switch-content .photo{ float:left;}
.switch-content .main{ padding:0 0 0 20px; background:none; }
.switch-content img{ vertical-align:text-top;}
.switch-content label{ display:inline-block;  *display:inline; zoom:1;  text-align:right; margin-right:10px; vertical-align:middle;}
.switch-content h3{ font-size:20px; color:#99c2e0;  font-family:"微软雅黑"; line-height:normal;}
.switch-content p{ padding-top:15px; line-height:25px; padding-right:10px; overflow:hidden; height:100px;}
.switch-content .button3{ margin:5px 0;}

.commentbox{ margin:10px 0; padding:20px 20px;}
.commentbox em{ font-size:15px;  color:#2d7fbb; font-family:"微软雅黑"; margin-right:10px;}
.commentbox .tabs-nav a{ margin:0 10px; padding-left:19px; background:url(../images/home/icos_16x16.png) no-repeat; position:relative;}
.commentbox .tabs-nav a.status{ background-position: 0 0;}
.commentbox .tabs-nav a.pic{ background-position: 0 -16px;}
.commentbox .tabs-nav a.link{ background-position: 0  -52px;}
.commentbox .tabs-nav a.vedio{ background-position: 0  -35px;}
.commentbox  a.right{background:url(../images/home/ico_9x6.png) no-repeat 0 center;  float:none; padding-left:15px;}
.commentbox .button1{ color:#fff; margin-left:10px;}
.commentbox .tabs-nav{ display:inline-block; *display:inline; zoom:1; position:relative;}
.commentbox .tabs-nav img{ position:absolute; left:50%;  top:-17px; display:none; }
.commentbox .tabs-nav .tabs-nav-cur img{ display:block; z-index:2;}

.commentbox .tabs-panel,
.commentbox .tabs-panel li{ height:auto;}
.commentbox .tabs-panel{ width:650px;}
.commentbox .tabs-panel li{ width:630px; margin-left:5px;}
.commentbox .tabs-panel label{ text-align:right; width:40px; color:#0868B2; display:inline-block; margin-right:10px;}
.commentbox .tabs-panel .text{ height:24px; line-height:24px;}
.commentbox .tabs-panel textarea{ height:50px; max-height:50px; vertical-align:top;}
.commentbox .tabs-panel .text,
.commentbox .tabs-panel textarea{ box-shadow:2px; border:1px solid #ddd; margin-right:10px; width:98%; max-height:98%; box-shadow:inset 1px 1px 2px 0px  #eff,inset -1px  -1px 2px 0px  #eff;}
.commentbox .tabs-panel .pic .text{width:440px;}
.commentbox .tabs-panel .link .text{width:540px;}
.commentbox .tabs-panel .pic textarea{}
.commentbox .tabs-panel .pic textarea,
.commentbox .tabs-panel .link textarea{width:535px; max-width:535px;}
.commentbox .tabs-panel .vedio textarea{width:520px; max-width:520px;}

.commentbox .tabs-panel .vedio .text{width:440px;}
.commentbox .tabs-panel .vedio label{width:70px;}
.commentbox .tabs-panel .upload{ background:url(../images/picpl_hf_an01a.jpg) no-repeat;width:58px; height:25px; text-align:center; line-height:25px; display:inline-block; padding:0;color:#0868B2;}

.commentbox .panel-box{width:100%; padding:10px 5px; border:1px solid #c7ddea; border-shadow:5px; border-radius:4px; -moz-border-radius: 4px;-webkit-border-radius: 4px;margin-left:-5px; margin-bottom:10px; background:#fff;}

.tabs .tabs-nav{ float:left;}
.tabs .options{ float:right; }
.tabs .options a{ background:url(../images/home/icos_21x21.gif) no-repeat; width:21px; height:21px;  padding:0; line-height:normal; float:none; display:inline-block; border:none;}
.tabs .options a.ref{ background-position:0 0;}
.tabs .options a.set{ background-position:-22px 0;}

.comments{ color:#7f7f7f;}
.comments li{ border-bottom:1px dashed #ddd; padding:10px 0;}
.comments li:hover{ background:#eef7fe;}
.comments li:hover .comments-options { visibility:visible;}
.comments li .photo{ float:left; margin-right:10px;}
.comments li a{ color:#0868b2; margin:0 5px;}
.comments li .content{  min-height:40px;_height:40px; _overflow:visible; font-size:14px; margin-bottom:5px;}
.comments li  p{ line-height:22px; margin-top:5px; font-size:12px;}
.comments li .content p img{ margin:10px 20px; margin-left:0;}
.comments li .time{ float:left; color:#999;width:40%;}
.comments .comments-options{ float:right; width:40%;  text-align:right; visibility:hidden; }
.comments .comments-options a{ padding:0 0 0 22px;  display:inline-block; height:20px; line-height:24px; background: url(../images/home/icos_19x19.png) no-repeat;color:#999; position:relative;vertical-align:middle;}
.comments .comments-options a.replay{background-position:0 1px;}
.comments .comments-options a.enter{background-position:0 -23px;}
.comments .comments-options a.love{background-position:0 -47px;}
.comments .comments-options a.cancle{background-position:0 -73px;}
.comments .comments-options a.selector{background-position: center -98px;}
.comments .comments-options a.see{background-position:0 -121px;}
.comments .comments-options a.success{background-position:0 -142px;}

.settings{ position:relative; display:inline-block; *diaplay:inline; zoom:1;  }
.settings .selector{ border:1px solid #fff;z-index:3;}
.settings .settings-list{position:absolute; left:-103px;top:21px; width:130px; border:1px  solid #ddd; background:#fff; text-align:left; z-index:2; display:none;}
.settings .settings-list li{ padding:3px 5px;}
.hover .settings-list{ display:block;}
.hover .selector-shown{ border:1px solid #ddd; border-bottom-color:#fff; background:#fff;}
	
.select{display:inline-block; zoom:1;*display:inline;position:relative;height:17px; vertical-align:middle; cursor:pointer;  }
.select a.selector{ position:relative; z-index:1000;width:10px; margin:0 auto; padding:1px 1px 1px 23px; }
.select-hover a.selector{border:1px solid; border-color:#ddd #ddd #fff #ddd;  box-shadow:inset 1px 1px 2px 0px #ddd,inset -1px 1px 1px 0px #ddd; background-color:#fff; padding:0 0 0 22px;}
.select .select-list{ display:none; border:1px solid #ddd;  position:absolute; left:0; top:0; width:100px; background:#fff; text-align:left; width:150px; left:-118px; top:21px; z-index:999;  box-shadow:inset 1px -1px 1px 0px #ddd,inset -1px -1px 1px 0px  #ddd;  }
.select .select-list li{ padding:5px; border-bottom:none;}
.select .select-list li:hover{ background:#ddd;}

.vote li{border-bottom:none; padding:5px 0;}
.vote .radio{ margin-right:10px;}
.vote .vote-tip{ padding-left:20px; background:url(../images/home/timer.png) left center no-repeat; margin:10px 0;}
.vote .vote-return{ background:url(../images/home/arrowhead.png) right center no-repeat; padding-right:10px;}
.vote .vote-button{ background:#1683a7; border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px; width:100px; height:25px; line-height:25px; color:#fff; text-align:center; margin:5px; display:inline-block;}


.comments .main{ float:left;width:580px; overflow:visible; background:none;}

.join{ text-align:center;}
.join .invite{ display:inline-block; padding-left:20px; background:url(../images/home/ico_15x15.png) left center no-repeat ;margin:10px auto;}
.join .button{margin-bottom:10px;}
.join,.join a{ color:#0065aa;}

.sidebox{border-top:1px dashed #ddd; margin:20px 0;}
.sidebox,
.sidebox a{ color:#0064a8; font-size:12px;}
.sidebox .hd{ padding:10px 0; margin-bottom:10px;}
.sidebox .hd h3{ float:left; color:#333333; font-size:14px; font-weight:bold;}
.sidebox .hd h3 span{color:#0064a8; font-size:12px; font-weight:normal; }

.sidebox .bd{ padding:0;}
.sidebox .bd ul{ margin-left:-10px;}
.sidebox .bd li { margin:0 0 15px 12px; text-align:center; width:50px; height:72px; float:left;}
.sidebox .bd li img{ margin-bottom:5px;}

.areabox .select{ margin:5px; width:70px;}
.areabox  a{ color:#0967af;}
.areabox .hd{ text-align:center; padding:10px 0; margin-top:10px; border-bottom:1px solid #ddd;}
.areabox .hd a{ margin:0 15px; color:#0967AF;  font-size:14px; vertical-align:middle;}
.areabox .hd a:hover{ text-decoration:none;}
.areabox li { position:relative;}
.areabox li .button{ 
	background: none repeat scroll 0 0 #91CEDD;
    border: 1px solid #60B7CD;
    color: #FFFFFF;
    display: none;
    padding: 3px 8px;
    position: absolute;
    right: 10px;
    text-shadow: 1px 1px 1px #5DB1C6;
    top: 10px;
	line-height:normal;
    border-radius:4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color:#fff;
}
.areabox li .button:hover{ text-decoration:none;}
.areabox .hd a:hover,
.areabox .arealist { color:#8d949a; }	
.areabox .arealist li{ margin-bottom:10px; line-height:25px; float:none; width:auto;text-align:left; padding:5px;}
.areabox .arealist li:hover{ background:#c5e5fe;}
.areabox .arealist li:hover .button{ display:block;}


.boxpager{ background:#e1eaf1;}
.boxpager .tabs-clip{width:170px; overflow:hidden; position:relative;}
.boxpager .tabs-clip li{ width:200px; height:100px; margin:0;}
.boxpager .prev-disable,
.boxpager .next-disable,
.boxpager .prev,
.boxpager .next{ width:25px;height:118px;  background:url(../images/home/boxpages.png) no-repeat; display:block;}
.boxpager .prev{ background-position:-16px center;float:left; border-right:1px solid #ddd;}
.boxpager .next{ background-position:3px center;float:right; border-left:1px solid #ddd;}
.boxpager .prev-disable{ background-position:-45px center;float:left; border-right:1px solid #ddd;}
.boxpager .next-disable{ background-position:-66px center;float:right; border-left:1px solid #ddd;}
.boxpager-content{ color:#888d91; overflow:hidden; padding:20px;}
.boxpager-content .content-side{ float:left; width:75px; margin-right:10px;}
.boxpager-content .content-main{ overflow:hidden; line-height:20px;}
.boxpager-content h3{ font-weight:bold; color:#0967b1;}
.boxpager-content .joinit{ background:#cbedb1; border-radius:2px; -moz-border-radius: 2px;-webkit-border-radius: 2px;color:#4a8d00; display:inline-block; width:62px; height:20px; line-height:20px; text-align:center;}


#datepicker{ font-size:11px;}
/* datepicker */
.datepicker table {border-collapse:collapse;}
.datepicker table td{ padding:1px;}
.datepicker{ width:250px; height:115px; }
.datepicker .datepanel td.disable{ color:#8DA2BC;}
.datepicker .datepanel .weekend{ color:#e2c067;/* background: url(../images/datepicker.png) -275px 0;*/}
.datepicker .week .current{}
.datepicker .current{color:#fff; font-weight:800;background: url(../images/datepicker.png) -275px 0; }

.datepicker a:hover{ text-decoration:none;}
.datepicker-ui{background:url(../images/datepicker.png) no-repeat;}
.datepicker .week{ margin-top:5px; padding-left:10px; line-height:22px; height:22px; color:#fff; background-position:0 -119px; position:relative; width:201px; }
.datepicker .week span{ display:inline-block; width:25px; height:22px; text-align:center;}
.datepicker .datepicker-tabs{ color:#fff;  font-weight:bold; float:left;}
.datepicker .datepicker-tabs a{ position:relative; left:-4px; display:block; padding-left:20px; color:#fff;width:27px; height:34px; line-height:25px; margin:3px 0;}
.datepicker .datepicker-tabs .current{background-position:-252px -30px; color:#53adc5; }
.datepicker .datepanel{ color:#B4EAEA; float:left; margin-left:-10px;}
.datepicker .datepicker-page{ text-align:right; float:right;}
.datepicker .datepanel{ background:url(../images/datepicker-day.png) right bottom no-repeat; height:115px; width:207px; position:relative;}
.datepicker .datepanel table{ margin:0; margin-left:10px;}
.datepicker .datepanel td{width:23px; text-align:center; line-height:15px;}
.datepicker .datepanel .prev,
.datepicker .datepanel .next{width:14px; height:14px; display:block; margin-bottom:5px;margin-right:5px;}
.datepicker .datepanel .prev{background-position:-246px -100px; margin-top:20px;}
.datepicker .datepanel .next{background-position:-259px -101px;}
.datepicker .datepanel .month{ position:absolute; bottom:0; right:0; margin:0 0px 2px 0; padding-right:2px; font-size:14px; font-weight:bold; background:url(../images/datepicker.png) no-repeat right -62px; display:inline-block; width:38px; height:32px; line-height:40px; text-align:right; color:#0d97b1;}

.datepicker .weekpanel{ background:none;}
.datepicker .weekpanel table{ margin-top:30px; margin-bottom:20px;}
.datepicker .weekpanel .prev,
.datepicker .weekpanel .next{width:15px; height:15px; display:inline-block; margin:0; margin-right:5px;}
.datepicker .weekpanel .prev{background-position:-270px -100px;}
.datepicker .weekpanel .next{background-position:-287px -101px;}
.datepicker .weekpanel .current .worder{color:#fff;}
.datepicker .worker{ position:relative;color:#015871; font-weight:600;}
.datepicker .weekpanel .mywork{ background-position:-249px 0; width:20px; height:15px; font-size:12px; color:#0b6278; position:absolute;left:0; top:-20px;font-weight:normal;}
.datepicker .weekpanel .weekdate{ float: left; margin-left: 15px; width: 140px; text-align:right;}
.datepicker .weekpanel .datepicker-page{ float: right;}

.datepicker .daypanel,
.datepicker .daypanel a{ color:#fff;}
.datepicker .daypanel{ background:none;}
.datepicker .daypanel .week{ font-size:21px; text-align:left; margin:8px 0; }
.datepicker .daypanel .week .date-year{ margin-left: 55px;}
.datepicker .daypanel .day{ font-size:40px; text-align:center; font-weight:bold; margin-left:20px;margin:0;}
.datepicker .daypanel .work{ font-size:12px; font-weight:normal; margin-left:2px; position:relative; display:inline-block; padding:0;}

.datepicker .daypanel .date{font-size: 12px; display:inline-block; padding-right:10px; background:url(../images/datepicker.png) no-repeat right bottom; margin-left:10px;}
.datepicker .daypanel .work img{ top:20px; left:5px; display:block; position:absolute;}
.datepicker .daypanel .work .datepicker-tips{ position:absolute; left:5px; top:-43px; background:#fff; border-radius:2px; -moz-border-radius: 2px;-webkit-border-radius: 2px;display:inline-block; color:#389db9; width:67px; padding:1px 0;}
.datepicker .daypanel .daypanel-val{ height:78px; overflow: hidden;}
.datepicker .daypanel .daypanel-val .day{ display: block; margin-right: 10px;}
.datepicker .daypanel .weekname{ font-weight: bold; font-size: 20px; text-align: center; display: block;margin-right: 10px;}


.sidepage{ text-align:right;font-size:15px;}
.sidepage a{background:url(../images/bg_choseType_scroll.png) no-repeat; display:inline-block; width:22px; height:22px;  vertical-align:middle; margin:0 5px;}
.sidepage .prev{}
.sidepage .next{ background-position:-22px 0;}
.sidepage .prev-disabled{ background-position:-64px 0;}
.sidepage .next-disabled{ background-position:-85px 0;}

.areabox-content .selects{ text-align:center;}
.areabox-content select{width:65px;}
.areabox-content .chzn-container{ margin-right:10px;}

.leave-message-box{ color:#999;}
.leave-message-box .textarea{ width:630px; max-width:630px; margin-bottom:10px;}
.leave-message-box .maxlength{ margin-top:-10px;}
.leave-message-box .maxlength em{  font-family:Georgia,Tahoma,Arial; font-size:26px;}

