/* CSS Document */
.container{ padding-top:20px;}
.container .side{width:180px; padding:10px 20px; font-size:12px;}
.container .main{ position:relative;}

a{color:#027AC1;}
.related-result{ margin-bottom:50px;}
.related-result h3 a{ font-weight:normal; font-size:12px; margin-left:10px;}
.related-result li{ margin:10px 0; color:#999;}
.related-result em{ color:#D23500;}
.related-result span{ display:inline-block; margin-left:5px; padding-left:8px; background:url(../images/gay-allowhead.png) no-repeat left center; height:8px;}
.related-result .all{ font-weight:bold; color:#666;}
.related-result .user-defined span{ background:url(../images/gay-allowhead.png) no-repeat right center; display:inline-block; width:3px; }

.result-list{width:700px;}
.result-list li{ padding:15px 0;}
.result-list h3{ margin:10px 0;}
.result-list .dashed{ margin:20px 0;}
.result-list .first,
.result-list .second{ border-bottom:1px dotted #ddd;}
.result-list .second .first{overflow:hidden; width:270px;}
.result-list .second .detail{ overflow:hidden; width:520px;}
.result-list .photo{float:left; position:relative;}
.result-list .detail{ float:left; margin:0 10px; font-size:12px;}
.result-list .detail .title,
.result-list .detail .title a em{ font-size:14px; font-weight:bold;}
.result-list .detail .num{ color:#999; margin-right:10px;}
.result-list .detail p{  color:#999; margin:5px 0;}
.result-list .news{float:right; }
.result-list .green-block{ margin-left:10px;}
.result-list .icon{ margin-right:5px;}
.result-list .button{ display:inline-block; padding:5px 7px;  border:1px solid #CFCFCF; margin-right:10px; background:url(../images/gay-btn.gif) repeat-x; color:#666;}
.result-list .button:active{ background:url(../images/gay-btn-active.gif) repeat-x;}
.result-list .sec1{ margin:10px 0;}
.result-list .tags{margin:10px 0 25px 0; margin-left:-5px;}
.result-list .tags a{ margin:0 5px; }
.result-list em{color:#D23500; margin-right:5px;}

.result-list p{text-indent:0; font-size:12px; margin:0; line-height:22px;}
.result-list .list-item p{ line-height:18px;}
.result-list em.time{ color:#666;}
.result-list .result-count{ padding:10px 0; color:#666; font-size:12px;}
.result-list .split{ display:inline-block;}



.col-fl-result .title{  margin-bottom:0;}
.col-fl-result li{ float:left; width:230px; line-height:25px;}

.link-listorder a{ margin:0 5px;}
.link-listorder a.active{ color:#666;}

.shoplist li{ margin:10px; text-align:center; float:left;width:200px;}
.shoplist .title{ margin:10px 0; display:inline-block;}
.shoplist .buy{ background:url(../images/buy.png) no-repeat; display:inline-block;width:120px; height:37px; text-align:center; margin:10px 0;}

.trends-list .name{ margin-right:5px;}
.trends-list li{ border-bottom:1px dotted #ddd;}
.trends-list .description{font-size:14px; float:left; width:630px; margin-left:10px; line-height:22px;}
.trends-list .description img{ margin:5px 0;}
.trends-list .time{ float:left; color:#999;font-size:12px;}
.trends-list .options{ float:right;font-size:12px; }
.trends-list .options a{ margin:0 10px;}
.trends-list .photo{ float:left;}
.trends-list .userinfo .name{ font-size:14px;}
.trends-list .userinfo{ font-size:12px; margin-left:10px; line-height:22px; float:left; width:450px; color:#999;}
.trends-list .follow{ text-align:right;}
.trends-list .follow .follow-btn{ background:url(../images/gay-btn.gif) repeat-x; }
.trends-list .follow .button{padding:3px 10px;}
.trends-list .follow .followed-btn{ background:#fff;}
.trends-list .follow a{ vertical-align:middle; font-size:12px; margin:0 0 0 10px;}
.trends-list .pictrue{ margin-top:5px;}


.result-blocks li{width:130px; float:left; border-bottom:none; margin:0 22px; _margin:0 19px}
.result-blocks .left{ float:none;}
.result-blocks .list-item{padding:10px 1px 0  1px; overflow:auto;}
.result-blocks .split{display:block; font-size:0; height:0; line-height:0;}
.result-blocks p{display:none;}
.result-blocks .remark{ margin-top:0;}

.collectlay,.collect{ display:inline-block; position:absolute; right:10px;bottom:8px;width:80px; height:25px; line-height:25px; color:#fff; text-align:center; font-size:12px;}
.collectlay{ opacity:0.5; filter:alpha(opacity = 50); background:black;}

.photo{ background:url(../images/image-border.png) no-repeat;  padding:3px; width:136px; height:116px; }

.news{ width:300px; }
.news dt{ font-weight:bold; margin-bottom:7px;}
.news dd{ margin-bottom:7px;font-size:12px; color:#999;}
.news dd a{width:250px;}
.video-news{width:250px;}
.video-news dd{ background:url(../images/vd.png) no-repeat; padding-left:20px;}
.video-news dd a{ width:230px;}

.interest{width:215px; margin:10px 30px; position:absolute; left:700px; top:0; z-index:1;}
.interest h3{ font-weight:normal; margin-bottom:10px;}
.interest h3 a{ font-size:12px; margin-left:20px;}
.interest li { float:left;margin:5px 10px; _margin-left:7px; text-align:center; font-size:12px;}
.interest li a{ display:inline-block; margin-top:5px; width:50px;}

.listorder{ float:right;}
.listorder a{ background:url(../images/icon-tlist.png) no-repeat; display:inline-block; padding-left:20px; height:15px; margin-left:5px; vertical-align:middle;}
.listorder .lt-1{ background-position:0 0;}
.listorder .lt-1:hover,
.listorder .lt-1-active{ background-position:0 -22px;}
.listorder .lt-2{ background-position:-23px 0;}
.listorder .lt-2:hover,
.listorder .lt-2-active{ background-position:-23px -23px;}

.hotbox{width:665px; margin:10px 0;}
.hotbox .picture,
.hotbox .photo{ float:left;}
.hotbox .news{ float:right;}
.hotbox .picture{position:relative;}

.picture img{ border:1px solid #ddd; padding:1px;}
.picture .collectlay,.hotbox  .collect{right:5px; bottom:5px;}