body,form{ margin:0px; padding:0px; font-size:12px;}

a:link {color:#1F3E81; text-decoration:none;}
a:visited {color:#1F3E81; text-decoration:none;}
a:hover {color:#8B2B0A; text-decoration:none;}
a:active { color:#000000; text-decoration:none;}

.lj1 a:link { color: #000; text-decoration:none;}
.lj1 a:visited { color:#000; text-decoration:none;}
.lj1 a:hover { color:#660000; text-decoration:none;}
.lj1 a:active { color:#000000; text-decoration:none;}

.lj2 a:link { color:#003366; text-decoration:none;}
.lj2 a:visited { color:#003366; text-decoration:none;}
.lj2 a:hover { color:#990000; text-decoration:none;}
.lj2 a:active { color:#003366; text-decoration:none;}

.lj3 a:link { color:#FFFFFF; text-decoration:none;}
.lj3 a:visited { color:#FFFFFF; text-decoration:none;}
.lj3 a:hover { color:#000000; text-decoration:none;}
.lj3 a:active { color:#FFFFFF; text-decoration:none;}

.lj4 a:link { color:#054973; text-decoration:none;}
.lj4 a:visited { color:#054973; text-decoration:none;}
.lj4 a:hover { color:#FF0000; text-decoration:underline;}
.lj4 a:active { color:#054973; text-decoration:none;}

.lj5 a:link { color:#740011; text-decoration:none;}
.lj5 a:visited { color:#740011; text-decoration:none;}
.lj5 a:hover { color:#740011; text-decoration:underline;}
.lj5 a:active { color:#740011; text-decoration:none;}

.lj6 a:link { color:#FF6600; text-decoration:none;}
.lj6 a:visited { color:#FF6600; text-decoration:none;}
.lj6 a:hover { color:#990000; text-decoration:none;}
.lj6 a:active { color:#FF6600; text-decoration:none;}

.lj7 a:link { color:#1F3E81; text-decoration:none;}
.lj7 a:visited { color:#1F3E81; text-decoration:none;}
.lj7 a:hover { color:#FF0000; text-decoration:underline;}
.lj7 a:active { color:#1F3E81; text-decoration:none;}


.lj8 a:link,.lj8 a:visited,.lj8 a:active{ color:#0066CC; text-decoration:none;}
.lj8 a:hover { color:#660000; text-decoration:none;}


/* 公用部分 */
.both{ clear:both;}
.flt_l1{ float:left; padding:7px 0px 0px 40px; text-align:left; line-height:22px;}
.dl1{ height:85px;}
.dl2{ height:20px; padding-top:3px;}
.date01{ color:#CCCCCC;}



/* 字体部分 */
.font1{ color:#ABACAE;}


/* 表单部分 */
.bd1{ width:78px; border:solid 1px #7F9DB9;}
.bd2{ width:92px; height:17px; border:solid 1px #7F9DB9;}
.bd3{ width:144px; height:17px; border:solid 1px #7F9DB9;}
.bd4{ width:113px; height:19px; border:solid 1px #A9A9EA;}
.bd5{ width:113px; height:13px; border:solid 1px #A9A9EA; text-align:center;}
.bd6{ width:90px; height:17px; border:solid 1px #7F9DB9;}
.bd7{ width:85px; border:solid 1px #7F9DB9;}


/* 头部部分 */
.top1{ width:958px; height:25px; margin-top:5px; border-right:solid 1px #E3E3E3; border-left:solid 1px #E3E3E3; 
	background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/top1-01.gif); padding-top:9px;}
.top2{ width:960px; height:90px; margin-bottom:8px;}
.top2-L{ float:left; width:165px; height:90px;}
.top2-M{ float:left; width:728px; height:90px;}
.top2-R{ float:right; width:67px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/top2-01.gif); text-align:center; line-height:21px; padding-top:5px;}

/* 导航部分 */
.dh{ width:960px; height:31px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/dh-01.gif); margin-bottom:8px;}
.dhL{ float:left; color:#FFFFFF; padding:9px 0px 0px 15px;}
.dhR{ float:left; padding:10px 0px 0px 30px; text-align:left;}

/* 内容部分1 */
.cen1{ width:960px; margin-bottom:8px;}

.cen1L{ float:left; width:698px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen1-01.gif); background-repeat:repeat-x; border-top:solid 1px #DBDBDB; border-left:solid 1px #DBDBDB; border-right:solid 1px #DBDBDB;}

.cen1L-L{ float:left; width:290px; border-right:solid 1px #DBDBDB;}
.cen1L-L1{ padding:4px;}
.cen1L-L2-1{ height:92px; padding:8px 0px 0px 10px;}
.cen1L-L2-1a{ float:left; width:100px; height:80px; border:solid 1px #A6AFB6;}
.cen1L-L2-1b{ float:left; padding:5px 0px 0px 10px; width:160px; text-align:left; line-height:20px; color:#494949;}
.cen1L-L2-2{ height:1px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen1-07.gif); text-align:left;}
.cen1L-L2-3{ text-align:left; line-height:21px; padding:8px 0px 0px 10px; color:#494949;}

.cen1L-R{ float:right; width:407px; height:397px; overflow:hidden;}
.cen1L-R1{ padding:15px 0px 0px 0px; font-size:18px;}
.cen1L-R2{ padding:6px 10px 0px 15px; line-height:18px; text-align:center;}
.cen1L-R3{ padding:6px 10px 8px 14px; line-height:18px; text-align:left;}
.cen1L-R4{ height:1px; text-align:left; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen1-06.gif);}
.cen1L-R5{ text-align:left; line-height:24px; font-size:14px; color:#494949; padding:8px 0px 0px 10px;}

.cen1R{ float:right; width:250px;}
.cen1R1{ height:29px;}
.cen1R1-1{ float:left; width:80px; margin-right:5px; padding-top:1px;}
.cen1R1-2{ float:left; width:94px;}
.cen1R1-3{ float:right; width:63px; height:21px; padding-top:1px;}
.cen1R2{ height:179px; border-left:solid 1px #DBDBDB; border-right:solid 1px #DBDBDB;}
.cen1R2-1{ height:28px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen1-12.gif);}
.cen1R2-1a{ float:left; text-align:left; padding:8px 6px 0px 10px;}
.cen1R2-1b{ float:left; text-align:left; padding:9px 0px 0px 0px;}
.cen1R2-2b{ float:left; padding:5px 0px 0px 8px; width:120px; text-align:left; line-height:20px; color:#494949;}
.cen1R2-3{ text-align:left; line-height:21px; padding:5px 0px 0px 10px; color:#494949;}

/* 内容部分2 */
.cen2{ width:960px; height:34px; margin-bottom:6px;}
.cen2L{ float:left; width:30px; height:34px;}
.cen2M{ float:left; width:900px; height:21px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen2-02.gif); text-align:left; font-size:14px; padding-top:13px;}
.cen2R{ float:right; width:30px; height:34px;}

/* 内容部分3 */
.cen3L{ float:left; width:288px; margin-right:10px; border-left:solid 1px #9BBDDB; border-right:solid 1px #9BBDDB;}
.cen3L1{ height:241px;}
.cen3L1-1{ height:27px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen3-01.gif);}
.cen3L1-1a{ float:left;}
.cen3L1-1b{ float:left; width:79px; height:20px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen3-03.gif); padding:7px 0px 0px 0px;}
.cen3L1-1c{ float:right; text-align:left; padding:7px 10px 0px 0px; color:#FF6600;}
.cen3L1-2{ height:111px; padding:7px 27px 0px 27px;} 
.cen3L1-2a{ float:left; width:102px;}
.cen3L1-2a-1{ width:100px; height:80px; border:solid 1px #A6AFB6;}
.cen3L1-2a-2{ padding-top:8px;}
.cen3L1-2b{ float:right; width:102px;}
.cen3L2{ height:220px;}

.cen3M{ float:left; width:400px;}
.cen3M1{ height:229px;}
.cen3M1-1{ height:26px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen3-06.gif);}
.cen3M1-1a{ float:left; width:150px; height:19px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen3-07.gif); background-repeat:no-repeat; text-align:left; padding:7px 0px 0px 20px;}

.cen3R{ float:right; width:248px; border-left:solid 1px #DBDBDB; border-right:solid 1px #DBDBDB;}
.cen3R1{ height:216px;}
.cen3R1-1{ height:176px; padding:12px 12px 0px 12px;}
.cen3R1-1a{ float:left; width:106px;}
.cen3R1-1a-1{ border:solid 1px #D7D7D7; padding:1px; height:137px;}
.cen3R1-1b{ float:right; width:106px;}
.cen3R2{ height:245px;}

/* 内容部分5 */
.cen5L{ float:left; width:700px;}

.cen5L-1{ height:299px; margin-bottom:8px;}
.cen5L-1L{ float:left; width:288px; border-left:solid 1px #9BBDDB; border-right:solid 1px #9BBDDB;}
.cen5L-1L-1{ height:149px;}
.cen5L-1L-1a{ padding:8px 0px 0px 10px; height:114px;}
.cen5L-1L-1a-1{ float:left; width:160px; text-align:left; line-height:21px; padding:0px 0px 0px 10px; color:#494949;}
.cen5L-1R{ float:right; width:400px;}
.cen5L-2-1a{ float:left; padding:7px 20px 0px 10px;}
.cen5L-3-1a{ float:left; padding:7px 10px 0px 16px;}


.cen5R{ float:right; width:248px; border-left:solid 1px #DBDBDB; border-right:solid 1px #DBDBDB;}
.cen5R1{ height:177px;}
.cen5R1-1{ padding:4px;}
.cen5R2-1{ padding:8px 0px 6px 0px; color:#0E478C;}
.cen5R2-2{ height:19px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen5-08.gif); color:#AE0001; padding-top:8px; margin-bottom:8px;}
.cen5R2-3{ height:28px;}
.cen5R2-3a{ float:left; padding:5px 0px 0px 26px;}
.cen5R2-3b{ float:left; width:146px;}
.cen5R2-4{ height:20px; padding-left:74px; text-align:left;}
.cen5R3{ height:158px;}
.cen5R3-1{ height:23px;}
.cen5R3-1a{ float:left; padding:6px 4px 0px 10px; text-align:left;}
.cen5R3-1b{ float:left; padding:6px 0px 0px 0px; text-align:left;}
.cen5R3-2{ width:226px; height:102px; border:solid 1px #CCCCCC;}
.cen5R3-2a{ padding:7px 0px 5px 0px;}
.cen5R3-2b{ height:29px;}
.cen5R3-2c{ height:22px;}
.cen5R4{ height:110px; padding:0px 10px 0px 10px;}
.cen5R4-1{ height:21px; padding:4px 21px 0px 18px;}
.cen5R4-1a{ float:left; width:92px;}
.cen5R4-1b{ float:right; width:87px; padding-top:1px;}
.cen5R4-2{ height:20px; padding:4px 0px 0px 0px;}
.cen5R4-2a{ float:left; text-align:left; padding:5px 0px 0px 40px;}
.cen5R4-2b{ float:left; text-align:left; padding:0px 0px 0px 50px;}
.cen5R5{ height:90px; padding:0px 10px 0px 10px;}
.cen5R5-1{ height:26px;}
.cen5R5-1a{ float:left; width:110px; height:26px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen5-13.gif);}
.cen5R5-1a-1{ float:left; padding:11px 7px 0px 0px; text-align:left}
.cen5R5-1a-2{ float:left; text-align:left; padding:8px 0px 0px 0px;}
.cen5R5-1b{ float:right; width:110px; height:26px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen5-13.gif);}


/* 内容部分6 */
.cen6L-1a{ float:left; padding:7px 11px 0px 13px; text-align:left;}
.cen6L-2L{ float:left; width:45px;}
.cen6L-2R{ float:right; width:420px;}

/* bannde1 */
.banner{ width:960px; height:90px; margin-bottom:8px;}
.bannerL{ float:left; width:220px; height:90px;}
.bannerR{ float:right; width:728px; height:90px;}

/* 内容部分8 */
.cen8L{ float:left; width:700px;}

.cen8L-1{ height:8px;}
.cen8L-1L{ float:left; width:288px; margin-right:10px; border-left:solid 1px #9BBDDB; border-right:solid 1px #9BBDDB;}
.cen8L-1L-1{ height:230px;}
.cen8L-1R{ float:left; width:400px;}
.cen8L-1R-1a-1{ float:left; padding:5px 0px 0px 10px; width:275px; text-align:left; line-height:20px; color:#494949;}
.cen8L-1R-1b{ text-align:left; line-height:24px; font-size:14px; color:#494949; padding:6px 0px 0px 10px;}

.cen8L-2L{ float:left; width:148px; height:252px; border-left:solid 1px #9BBDDB; border-right:solid 1px #9BBDDB;}
.cen8L-2L-1{ height:218px; padding:7px 9px 0px 9px;}
.cen8L-2L-1L{ float:left; width:65px;}
.cen8L-2L-1L-1{ height:71px;}
.cen8L-2L-1L-1a{ height:45px;}
.cen8L-2L-1L-1b{ padding-top:6px;}
.cen8L-2L-1R{ float:right; width:65px;}
.cen8L-2R{ float:right; width:538px; height:252px; border-left:solid 1px #9BBDDB; border-right:solid 1px #9BBDDB;}
.cen8L-2R-1a{ float:right; padding:5px 8px 0px 0px;}
.cen8L-2R-2{ padding-top:5px; line-height:20px;}


/* 博客*/
.titleForjs{ width:400px; float:left; font-size:14px; text-align:left; padding-left:10px;}
.dateForjs{ width:90px; float:right; color:#999999; font-size:12px; text-align:left;}


.cen8L-2R-2a{ height:22px;}
.cen8L-2R-2a-1{ float:left; width:370px; text-align:left; color:#1F3E81; font-size:14px; padding-left:10px;}
.cen8L-2R-2a-2{ float:left; width:87px; text-align:left; color:#5A5A5A;}
.cen8L-2R-2a-3{ float:left; width:65px; text-align:left;}

.cen8L-3{ height:80px;}
.cen8L-3L{ float:left; width:16px; height:90px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen8-09.gif); color:#2583A8; line-height:16px; text-align:left; padding:11px 0px 0px 12px;}
.cen8L-3R{ float:right; width:671px; height:100px;  border-top:solid 1px #9EB4CA;}

.cen8R{ float:right; width:248px; border-left:solid 1px #DBDBDB; border-right:solid 1px #DBDBDB;}
.cen8R1{ height:205px;}
.cen8R1-1{ padding:12px 15px 0px 15px; height:165px;}
.cen8R1-1a{ float:left; width:100px;}
.cen8R1-1a-1{ height:25px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen8-13.gif);}
.cen8R1-1a-2{ height:23px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen8-14.gif);}
.cen8R1-1b{ float:right; width:100px;}
.cen8R2{ height:268px;}
.cen8R3{ height:85px;}
.cen8R3-1{ text-align:left; font-size:14px; padding:5px 0px 0px 20px; line-height:25px;}

/* 内容部分9 */
.cen9{ width:958px; height:195px; border:solid 1px #DEDEDE; margin-bottom:8px;}
.cen9-1{ height:27px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen9-01.gif);}
.cen9-1a{ float:left; width:28px;}
.cen9-1b{ float:left; font-size:14px; text-align:left; color:#051775; padding-top:6px;}
.cen9-2{ padding:0px 0px 0px 0px; height:168px;}
.cen9-2a{  float:left; padding-right:15px; padding-left:10px; padding-top:70px;}
.cen9-2b{ float:left; width:92px; margin-left:19px; padding-top:5px;}
.cen9-2b-1{ height:122px;}
.cen9-2b-2{ padding-top:5px; text-align:center;}
.cen9-2c{  width:92px; text-align:center; padding-top:10px;}
.cen9-2d{ float:right; padding-right:10px;  padding-top:70px;}








/* 内容部分10 */
.cen10{ width:958px; height:105px; border-left:solid 1px #9BBDDB; border-right:solid 1px #9BBDDB; border-bottom:solid 1px #9BBDDB;}
.cen10-1{ text-align:left; line-height:21px; padding:10px 25px 0px 25px;}

/*底部部分*/
.wth950{ width:960px; margin-top:10px;}
.websz{ background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/mew8-web01.gif); background-repeat:repeat-x; background-position:top; height:180px}
.wth80{ width:80px; margin-top:5px; text-align:left}
.fla_l{ float:left}
.fla_r{ float:right}
.websz{ background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/mew8-web01.gif); background-repeat:repeat-x; background-position:top; height:180px}
.websz01{ width:800px; padding-left:70px;}
.websz02{ padding-top:35px; text-align:left}
.websz03{ padding-top:28px;}
.websz04{ padding-top:7px;}
.websz05{ padding-top:5px; line-height:22px}
.websz06{ height:30px; text-align:center; padding-bottom:20px;}







.body55{padding-top:10px;text-align:left;height:33px;padding-left:10px;}
.body56{width:23px;float:left;}
.body57{width:55px;float:left;padding-top:5px;}
.body58{width:50px;float:left;padding-top:5px;text-align:right;}
.body59{width:90px;float:left;}
.body60{width:30px;float:left;padding-top:5px;}
.body61{width:42px;float:left;}
.body62{width:17px;float:left;padding-top:5px;}
.body63{width:80px;float:left;}
.body64{width:70px;float:left;text-align:right;}
.body65{width:135px;float:left;padding-top:5px;}
.body66{width:30px;float:left;padding-top:5px;text-align:center;}
.body67{width:90px;float:left;padding-top:5px;text-align:center;}
.body68{width:160px;float:left;padding-top:5px;}
.body69{width:100px;float:left;}
.body70{border:1px solid #CDDEF2;}




/* 按钮设置部分 */
ul
	{ margin:0; padding:0; list-style:none; }


.al_bg1	
	{ height:23px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen1-03.gif); padding-top:5px; padding-left:12px;}
#tab1
	{ height:187px; /* border:1px solid #B6C0CA;*/ }
#tab1 li
	{ float:left; width:80px; height:17px; margin-left:2px; padding-top:6px;}
	
li.tab1_active 
	{ background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen1-04.gif);}
li.tab1_unactive
	{ background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen1-05.gif);}



.al_bg2	
	{ height:22px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen1-09.gif);}
#tab2
	{ height:181px; border:solid 1px #C4C4D0; padding:0px 0px 0px 0px; margin-bottom:7px;/* border:1px solid #B6C0CA;*/ }
#tab2 li
	{ float:left; padding-top:5px;}
#tab2_c
	{ width:248px; height:159px;}
li.tab2_active 
	{ height:17px; width:39px; border-right:solid 1px #C1C5D0; background-color:#FFFFFF;}
li.tab2_unactive
	{ height:17px; width:40px;}


.al_bg3	
	{ height:24px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen5-01.gif);}
#tab3
	{ width:698px; height:74px; border:solid 1px #CCCCCC; margin-bottom:8px;/* border:1px solid #B6C0CA;*/ }
#tab3 li
	{ float:left; width:101px; height:16px; margin-right:6px; padding-top:8px;}
#tab3_c
	{ padding:0px 0px 0px 10px;}
li.tab3_active 
	{ background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen5-02.gif);}
li.tab3_unactive
	{ background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen5-03.gif);}


.al_bg4	
	{ height:26px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen5-05.gif);}
#tab4
	{ width:698px; height:320px; border-top:solid 1px #9BBDDB; border-left:solid 1px #9BBDDB; border-right:solid 1px #9BBDDB;/* border:1px solid #B6C0CA;*/ }
#tab4 li
	{ float:left; margin-right:5px;}
#tab4_c
	{ padding:3px; line-height:18px;}
li.tab4_active 
	{ background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen5-06.gif); width:120px; height:18px; padding-top:8px;}
li.tab4_unactive
	{ background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen5-07.gif); width:114px; height:18px; padding-top:8px;}


.al_bg5	
	{ height:26px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen6-01.gif);}
#tab5
	{ float:left; width:473px; height:207px; border-top:solid 1px #CDCDCD; border-left:solid 1px #CDCDCD; border-right:solid 1px #CDCDCD;/* border:1px solid #B6C0CA;*/ }
#tab5 li
	{ float:left; width:65px; height:17px; padding-top:9px; margin-right:5px;}
#tab5_c
	{ padding:4px; height:172px;}
li.tab5_active 
	{ background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen6-02.gif);}
li.tab5_unactive
	{ background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen6-03.gif);}


.al_bg6	
	{ height:26px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen6-01.gif);}
#tab6
	{ float:right; width:473px; height:207px; border-top:solid 1px #CDCDCD; border-left:solid 1px #CDCDCD; border-right:solid 1px #CDCDCD;/* border:1px solid #B6C0CA;*/ }
#tab6 li
	{ float:left; width:65px; height:17px; padding-top:9px; margin-right:5px;}
#tab6_c
	{ padding:4px; height:172px;}
li.tab6_active 
	{ background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen6-02.gif);}
li.tab6_unactive
	{ background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen6-03.gif);}


.al_bg7	
	{ height:28px; background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen1-12.gif);}
#tab7
	{ height:253px;/* border:1px solid #B6C0CA;*/ }
#tab7 li
	{ float:right; width:42px; height:16px; padding-top:12px; margin-right:2px;}
#tab7_c
	{ padding:8px 0px 0px 10px; line-height:21px; color:#494949; text-align:left;}
li.tab7_active 
	{ background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen8-11.gif);}
li.tab7_unactive
	{ background-image:url(http://i0.cnfolimg.com/uploads/v5.0/money/cen8-12.gif);}









.body83{background-image:url(http://images.cnfol.com/uploads/v5.0/home/bg18.gif);background-repeat:repeat-x;width:960px;margin-top:10px;padding-top:30px;}
.body84{padding:10px;}
.body85{line-height:24px;}
.body86{border:1px solid #CDDEF2;margin-top:8px;clear:both;}


#dh{width:958px;margin-top:5px;background-image:url(http://i3.cnfolimg.com/uploads/v5.0/page/bg-01.gif);padding-top:9px;height:25px;border-left:1px solid #E3E3E3;border-right:1px solid #E3E3E3;}

.black a:link{color:#000;text-decoration:none;}
.black a:visited{color:#000;text-decoration:none;}
.black a:hover{color:#496DA8;text-decoration:none;}
.black a:active{color:#000;text-decoration:none;}




