body {
  font-size: 24px;
  font-family: '黑体';
  background: #fafafa;
  line-height: 1.5;
  margin: 0 auto;
}
body,
body a {
  color: #000;
}
a {
  text-decoration: none;
}
a:focus {
  color: #e28f1b;
}
img {
  max-width: 100%;
}
span,
a,
label,
img {
  vertical-align: middle;
}
.text-ellipsis,
.thumbnail .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  word-wrap: normal;
  vertical-align: middle;
}
.container {
  padding: 10px;
}
.box {
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
}
.small {
  font-size: 16px;
  vertical-align: default;
}
.form-item {
  margin-bottom: 10px;
}
.form-label {
  display: inline-block;
}
.input {
  border: 1px solid #ddd;
  width: 160px;
  padding: 6px 10px;
  vertical-align: middle;
}
.input-xs {
  width: 50px;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.article h1,
.article h2,
.article h3,
.article h5,
.article h6 {
  margin: 15px 0;
}
.article .details {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 0.8em;
  background: #fff;
}
.article p {
  margin: 0 0 10px 0;
}
.price,
.text-danger {
  color: #a94442;
  font-weight: normal;
}
.text-success {
  color: #5cb85c;
}
.optionsbar {
  background: #eb6619;
  color: #fff;
}
.optionsbar .price {
  color: #fff6ea;
}
.pickbox {
  white-space: nowrap;
  margin-right: 10px;
}
.pickbox input {
  margin-right: 5px;
}
.alert {
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
}
.alert h4 {
  color: inherit;
  margin-top: 0;
}
.alert .alert-link {
  font-weight: 700;
}
.alert p,
.alert ul {
  margin-bottom: 0;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  color: inherit;
  position: relative;
  right: -21px;
  top: -2px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.btn {
  zoom: 1;
  display: block;
  padding: 5px 10px;
  text-align: center;
  line-height: normal;
  border: 1px solid transparent;
}
.btn-primary {
  border: 1px solid #CAF5EC;
  color: #fff;
  background: #7ACDC3;
}
.btn-primary:focus,
.btn-primary:active {
  background: #6fbdb3;
}
.btn-default {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}
.pagination a {
  margin-right: 10px;
  vertical-align: middle;
}
.thumbnail {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px #ddd;
  position: relative;
  display: block;
  height: 100%;
  text-align: center;
}
.thumbnail .thumbnail-info {
  width: 100%;
  padding: 10px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.7;
  filter: "alpha(opacity=70)";
  color: #fff;
}
.thumbnail .count {
  display: inline-block;
  margin-left: 10px;
}
.thumbnail .count input {
  margin-left: 5px;
}
.thumbnail:focus,
input:focus {
  background: #e28f1b;
  color: #fff;
}
.thumbnail .price {
  position: absolute;
  left: -1px;
  top: -1px;
  background: #fff;
  padding: 5px 10px;
  border: 1px solid #ddd;
}
