@import "mixins/index";
@import "controls/core";

.page-layout{
    .clearfix;
    .layout-side{
        float:left;
        width: 165px;
        padding: 20px;
        dt{
            color:#000000;
            font-weight: bold;
        }
        dt,dd{
            padding: 10px 0;
        }
        dl{
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
        }
        a{
            color: #666;
        }
        .opts{
            margin: 10px 0;
            input{
                margin-right: 10px;
            }
        }
    }
    .layout-main{
        *zoom:1;
        *display: inline;
        overflow: hidden;
        padding: 30px 20px;
    }
}