a:link {text-decoration: NONE;}
body {
    background: url("../img/bg-texture-darker.jpg") repeat scroll 0 0 transparent;
    min-height: 100%;
    position: relative;
	font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    height:100%;
    text-align: left;
	margin:0;
}

#header-main {
    padding: 30px 0 10px;
    width: 100%;
	heigt:100%;
	overflow: hidden;
}
body .wrapper {
    width: 980px;
}
.wrapper {
    -moz-transition: all 0.8s ease-in-out 0s;
    margin: 0 auto;
    min-width: 900px;
    width: 1110px;
}
.wrapper a {
    -moz-transition: color 100ms linear 0s;
    cursor: pointer;
    text-decoration: none;
}
#header-main h1 {
    display: block;
    float: left;
    height: 77px;
    margin: 0;
    width: 250px;
}
#header-main h1 a {
    background: url("../img/sugelogo.png") repeat scroll 0 0 transparent;
    display: block;
    height: 77px;
    text-indent: -5555px;
    width: 250px;
}
#header-main #nav-main {
    float: right;
    margin: 28px 0 0;
}

#nav-main ul li {
    float: left;
    margin: 0 0 0 15px;
    padding: 0 0 0 15px;
    position: relative;
}
#nav-main ul li a {
    -moz-transition: all 0.3s ease-in-out 0s;
    color: #908179;
    font-family: 'Neutraface2Text-Bold',Arial,Helvetica,sans-serif;
    font-size: 11px;
    letter-spacing: 1.36pt;
    text-transform: uppercase;
	font-size: 13px;
	  font-weight:bold;
}
li {list-style: none outside none;}
#nav-main ul li a:hover , #nav-main ul li a:active {
color: #7ec1ff;
    font-family: 'Neutraface2Text-Bold',Arial,Helvetica,sans-serif;
    font-size: 11px;
    letter-spacing: 1.36pt;
    text-transform: uppercase;
	  font-size: 13px;
	  font-weight:bold;
	
}
#nav-main ul li a.current {
color: #7ec1ff;
    font-family: 'Neutraface2Text-Bold',Arial,Helvetica,sans-serif;
    font-size: 13px;
    letter-spacing: 1.36pt;
    text-transform: uppercase;
	font-weight:bold;
}
.b1{ border-left: 1px solid #ffc2f1; }
#main {width:980px;margin:0 auto;}
.main_img{ margin:0 auto; width:980px; height:367px:}
.shopinfo {
    float: none;
    margin: 20px 0;
}
.shopinfo {
    background: url("../img/footer-line.png") no-repeat scroll 0 0pt, url("../img/footer-line.png") no-repeat scroll 0 100% transparent;
    overflow: hidden;
    padding: 5px 12px;
    width: 956px;
	height:40px;
}
.shopinfo #cats-breadcr {
  height: 40px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 450px;
	}
.shopinfo .img1 {float: left;
    margin-left: 20px;
    overflow: hidden;
    width: 40px;
	}
.text1 {	float: left;
    margin-left:10px;
    overflow: hidden;
	line-height:40px;
}
.text1 a {text-decoration: NONE;color: #908179;}
.text1 a:hover , .text1 a:active { color:#FFC2F1;}
#productCats:before {
    background: none repeat scroll 0 0 #FCFBFA;
    content: " ";
    display: block;
    height: 2px;
    position: absolute;
    top: 29px;
    width: 100%;
    z-index: -1;
}
#productCats {
    margin: 24px 0 10px -29px;
    position: relative;
    width: 1038px;
}

#productCats h2:before {
    background: url("../img/head-rib-left.png") no-repeat scroll 0 0 transparent;
    content: " ";
    display: block;
    float: left;
    height: 59px;
    margin: 4px 0 0;
    width: 35px;
}
#productCats h2:after {
    background: url("../img/head-rib-right.png") no-repeat scroll 0 0 transparent;
    content: " ";
    display: block;
    float: right;
    height: 59px;
    margin: 5px 0 0;
    width: 33px;
}
#productCats h2 {
    color: #D4CCB9;
    display: table;
    font-family: 'Neutraface2Text-Light',Arial,Helvetica,sans-serif;
    font-size: 30px;
    margin: 0 auto 14px;
    text-align: center;
    text-transform: none;
}

#productCats h2 span {
    background: url("../img/head-rib-center.png") repeat-x scroll 0 0 transparent;
    display: inline-block;
    height: 40px;
    margin: 0 auto;
    min-width: 220px;
    padding: 10px;
    text-align: center;
    width: auto;
line-height: 1.2;
font-family:"方正稚艺简体";
}
#footnav { border-top:1px solid #ffffff;
    height: 150px;
    margin: 0 auto;
    width: 980px;
}
#footblock {
    height: 150px;
    margin: 0 auto;
    width: 945px;
}
#footlogo {
    float: right;
    padding: 10px 20px 0 10px;
    text-align: center;
    width:100px;

}
.footRight {
    color: #908179;
    float: left;
    font-size: 13px;
    height: 80px;
    letter-spacing: 0;
    line-height: 24px;
    padding: 30px 0 0 20px;
    text-align: justify;
    width: 470px;
}

.main_img .tab-clip,
.flexslider .tab-clip{ overflow: hidden; height: 360px; }
.flexslider .tab-clip{ height: 600px;}

.main_img  li,
.main_img ul
.flexslider li,
.flexslider ul{ margin:0; padding: 0; list-style: none;}

.jspContainer{position: relative;}
.jspPane{ position: absolute;}

#subpage-162{ height: 800px; margin-bottom: 20px;}