.semitransp {
    margin: 50px auto 0;
    overflow: hidden;
    position: relative;
    z-index: 20;
}
ul.submenu,  ul.submenu {
    float: left;
    width: 225px;
}

 ul.submenu li{
    background: url("../img/footer-line.png") no-repeat scroll 0 100% transparent;
    font-family: 'Neutraface2Text-Light',Arial,Helvetica,sans-serif;
    font-size: 30px;
    margin: 0 0 20px;
    padding: 0 0 20px;
}
 ul.submenu li a{
    color: #999185;
}
ul.submenu li a.active, ul.submenu li a:hover{
    color: #EB8891;
}
#content{
    float: right;
    width: 715px;
}
#content .subpage-content.visible{
    display: block;
}
.story {
    color: #7F7668;
    font-family: 'Neutraface2Text-Book',Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.7;
}
.story p {
    line-height: 1.7;
}
.story ul {
    list-style: square outside none;
}
.story ul li {
    list-style: square outside none;
}
#content .subpage-content .jspVerticalBar{
    width: 30px;
}
.jspVerticalBar {
    background: none repeat scroll 0 0 transparent;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}
#content .subpage-content .jspArrow{
    background: url("../img/scroll-arrows.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 31px;
    text-indent: -20000px;
    width: 30px;
}
#content .subpage-content .jspTrack{
    background-position: 12px 0;
}
.jspTrack {
    background: url("../img/jspanedrag-dots.png") repeat-y scroll 7px 0 transparent;
    position: relative;
}
#content .subpage-content .jspVerticalBar .jspArrow.jspArrowDown{
    background-position: 0 -31px;
    bottom: 0;
}
#content .subpage-content .jspVerticalBar .jspArrow.jspArrowUp{
    background-position: 0 0;
    top: 0;
}
#content .subpage-content .jspTrack .jspDrag{
    left: 12px;
}
.jspDrag {
    background: url("../img/jspane-drag.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 101px;
    left: 7px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 3px;
}