html,body{background:#F5F5F5;}
body{font-family: "宋体"; }
.overflow{overflow: hidden;_overflow:visible;_zoom:1;}
/* ====== Default spacing ====== */
h1, h2, h3, h4, h5, h6, ul, ol,dl, p,blockquote {padding:10px;}
/* ==== 清除浮动 ==== */
.clear{ clear:both; }
/* ====== Width,Height ====== */
.wid216{width:216px;}
.wid700{width:700px; }
.h400{ height:400px;}
.box-height260{ height:260px;}
.height295{ height:295px;}
.height90{height:90px;}
/* ====== Font ====== */
.blod{}
.bg-write{background:#fff;}
.wrap-en{ word-break:break-all;}/* 英文自动换行 */
.word-overflow{overflow:hidden;white-space: nowrap;text-overflow:ellipsis; }/* 超过的字以...显示 */
.word-center{text-align:justify;text-justify:inter-ideograph;}/* 文本左右对齐 */
.png{ _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/folder/yourimage.png',sizingMethod='crop');}/* IE6 png */
.font14{font-size:14px;}
.font13{font-size:13px;}
.font12{font-size:12px;}
.font-space{ word-spacing:2em;}
/* ====== single ====== */
.center{ text-align:center;}
em{font-style: italic;}
strong{font-weight:bold;}
hr{border: 5px solid #e2e2e2; border-width: 0 0 5px 0; margin: 20px 10px 10px 10px;}
code{color:#0B8C8F;}
table.border td{ padding:10px; border:1px solid #999;}
.pad{padding:10px;}
.pad5{padding:5px;}
.mar-b{margin-bottom:10px;}
.mar-l5{margin-left:5em;}
.mar{margin: 10px;}
.mar-b{margin-bottom: 10px;}
.line-height20{ line-height:20px;}
.line-height27{ line-height:27px;}
.line-height25{ line-height:25px;}
.text-indent{text-indent:2em;}
.txt-right{ text-align:right;}
input[type=button],button{ cursor:pointer;}
.red{color:#FF0000;}

/* ====== Lists ======*/
ul.les-dec{ margin:5px 5px 0 5px; padding:0px; _margin:0px 5px 0 5px;  }
ul.les-dec li{list-style-type:disc;margin-left:20px;  margin-bottom:5px;}
dl.sec-list{margin:0;padding:5px; font-size:14px; color:#333;}
dl.sec-list dt{font-weight:bold;}
dl.sec-list dd label{margin-left:5px;}
/* ====== Tables ====== */
.data{padding: 20px; position:relative; zoom:1;vertical-align: top;border-right:solid 1px transparent;/* border fixes a FF2 bug which causes the data table to overlay its borders*/}
.data table {width:100%;border:1px solid #AE0345;}
th, td{vertical-align:top;border:1px solid #AE0345;}
.txtC, .data .txtC td, .data .txtC th{text-align:center;}
.txtL, .data .txtL td, .data .txtL th{text-align:left;}
.txtR, .data .txtR td, .data .txtR th{text-align:right;}
.txtT, .data .txtT td, .data .txtT th{vertical-align:top;}
.txtB, .data .txtB td, .data .txtB th{vertical-align:bottom;}
.txtM, .data .txtM td, .data .txtM th{vertical-align:middle;}
.data th,.data td{padding:3px 20px}
.data thead tr{background-color: #fff0f8;}
.data th{color: #000; font-weight:bold}

/* ==== 文本框 ===== */
.text-size{ width:126px; height:17px;}
.text-gay{ border:1px solid #B9B9B9; background:url(../images/bg_text1.gif) repeat-x 0 -0px;}
.text-gay:focus{background-color:#fff;}
/* ==== 阴影样式 ==== */
.box-inner-shadow{
	-moz-box-shadow:5px 5px 15px #DFE1E3 inset,-5px -5px 15px #DFE1E3  inset;          /* For Firefox3.6+ */
	-webkit-box-shadow:5px 5px 15px #DFE1E3 inset,-5px -5px 15px #DFE1E3  inset;         /* For Chrome5+, Safari5+ */
	box-shadow:5px 5px 15px #DFE1E3 inset,-5px -5px 15px #DFE1E3  inset;                   /* For Latest Opera */
}
.box-out-shadow{
	-moz-box-shadow:5px 5px 5px #999 inset,-5px -5px 5px #999  ;          /* For Firefox3.6+ */
	-webkit-box-shadow:5px 5px 5px #999 inset,-5px -5px 5px #999  ;         /* For Chrome5+, Safari5+ */
	box-shadow:5px 5px 5px #999 ,-5px -5px 5px #999  ;                   /* For Latest Opera */
}



.bg-gay{background:#F6F6F6;}
.bg-write{background:#ffffff;}
.bg-gay-shade{background:url(../images/bg-gay-shade.gif) repeat-x;}
.bg-sec-shade{background:none; background:url(../images/bg_sec_shade.gif) repeat-x; background-position:bottom; }
.bg-conent{background:url(../images/bg-content.gif) repeat-x;}
.bg-title{background:url(../images/img_title.gif) no-repeat; color:#fff; font-weight:bold; width:109px; height:33px; line-height:33px; text-align:center; margin-top:-20px; margin-right:10px;}
.bg-custom{background:url(../images/custom.png) no-repeat 1px; width:250px; height:150px;}
/* ==== 按扭 ==== */
.btn-les{background:url(../images/btn_les.png);width:93px; height:23px;  border:none;}
.btn-sinup{background:url(../images/btn_signup.gif);width:46px; height:40px;  border:none;}
.btn_search_les{ margin-top:-10px;position:relative; }
.btn_searc{background:url(../images/btn_searc.gif);width:54px; height:27px; line-height:27px;  border:none;}
.btn-gay{background:url(../images/btn.gif);width:44px; height:19px;  border:none;}/* 灰色登陆按扭 */
.btn-gay:hover{color:#990000;}


/* ====== 边框 ====== */
.bor-gay{border:1px solid #DCDCDC; }
/* ====== Element ====== */
.box-sytle{border:1px solid #DCDCDC; background-color:#fff;}
.box-content span{ font-weight:bold; margin-right:10px;}
.more{ text-align:right;color:#860000;}
.more a{color:#860000;}

/* ====== 线 ====== */
.vertical-line{ background:url(../images/vertical_line.gif) no-repeat; }
.vertical-line1{ background:url(../images/vertical_line1.gif) no-repeat; }
.bor-line{ border-bottom:1px solid #CECECE;  }
.bor-top-dot{border-top:1px dotted #CECECE;  }
/* ====== 宽度====== */
.txt-wid{width:100px;}
.txt-wid130{width:130px;}
.txt-search{width:400px; height:23px;  line-height:23px; padding:0 5px;text-align:center; color:#696969; font-size:12px; }


/* ==== 列表模块 === */
.box{}
.box .box-hd{ height:30px; background:#eee; position:relative;}
.box-hd .hd-tl,.box-hd .hd-tr,.box-hd .hd-tc{ height:100%;}
.box-hd .hd-tl{ float:left;_margin-left:-3px;background-repeat:no-repeat;}
.box-hd .hd-tr{ float:right; _margin-right:-3px;background-repeat:no-repeat;}
.box-hd .hd-tc{ overflow:hidden;}
.box .box-bd{}
.box .box-ft{height:20px;}
.box-ft .ft-bl,.box-ft .ft-br,.box-ft .ft-bc{  height:100%;}
.box-ft .ft-bl{ float:left;_margin-left:-3px;background-repeat:no-repeat;}
.box-ft .ft-br{ float:right; _margin-right:-3px; background-repeat:no-repeat;}
.box-ft .ft-bc{ overflow:hidden;}


.box-title-ab-wid145{width:145px;}
.box-title-ab-wid262{width:262px;}
.box-title{ height:40px; line-height:40px; text-align:center;color:#493700; background:url(../images/bg_sec_title.gif) repeat-x; font-size:14px;  font-weight:bold;  position:absolute; left:10px; top:-5px;}

/* mod */
.mod{margin:10px;}
.mod .inner{/*background: url(skin/transparent.png) repeat left top;*/}
.mod .hd,.mod .bd,.mod .ft{overflow:hidden;_overflow:visible; _zoom:1;}
.mod .inner{position:relative;}
.mod .inner span{display:block;background-repeat:no-repeat;font-size:1%;position:relative;z-index:10;}
.mod .tl,.mod .tr,.mod .bl,.mod .br{height:10px; width:10px;float:left;}
.mod .tl{background-position: left top;}
.mod .tr{background-position: right top;}
.mod .bl{background-position: left bottom;} 
.mod .br{background-position: right bottom;}
.mod .br,.mod .tr{float:right;}
.mod .tr,.mod .tl{overflow:hidden;margin-bottom:-32000px;}/* margin bottom needs to be < -9px */
.mod .bl,.mod .br{margin-top:-10px;}
.mod .top{background-position:center top;}
.mod .bottom{background-position:center bottom;_zoom:1;}/* this zoom required for IE5.5 only*/
/* complex */
.complex{overflow:hidden;*position:relative;*zoom:1;}/* position/zoom required for IE7, 6, 5.5 */
.complex .tl, .complex .tr{height:32000px; margin-bottom:-32000px;width:10px;}
.complex .bl, .complex .br{/*margin-top:0;*/}
.complex .top{height:5px;}
.complex .bottom{height:5px;/*margin-top:-10px;*/}
/* pop  */
.pop{overflow:visible;margin: 10px 20px 20px 10px; background-position:left top;}
.pop .inner{right:-10px; bottom:-10px; background-position:right bottom;padding:0 10px 10px 0;}
.pop .tl, .pop .br{display:none;}
.pop .bl{bottom:-10px;}
.pop .tr{right:-10px;}

/* **************** GRIDS ***************** */
.line:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.lastUnit:after{content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";visibility:hidden; clear:both;height:0 !important;display:block;line-height:0;}
.line{*zoom:1;}
.left{ float:left;display:inline;_margin-right:-3px;} /* IE6 */
.right{ float:right;display:inline;_margin-left:-3px;}/* IE6 */
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.size1of6{width:19%}
.size3of6{width:60%}
.size4of6{width:73.666%}
.size1of10{width:10%}
.lastUnit {display: table-cell; *display:block;*zoom:1;float:none;_position:relative; _left:-3px; _margin-right: -3px;width:auto;}


/* ==== 列表 ==== */
dl.init dt,dl.init dd{ margin-bottom:10px;}
dl.float dt,dl.float dd{ float:left; margin-right:10px; }
dl.dt-float dt,dl.dd-float dd{ float:left; margin-bottom:10px; }
dl.dt-float-r dt,dl.dd-float-r dd{ float:right; margin-bottom:10px; }
dl.dd-float dt{margin-right:10px; }
ul.init li{ margin-bottom:10px; }
ul.float li{ float:left; }



 


