@charset "utf-8";
.account-layout {
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #9bcddc;
    padding: 0;
    width: 1000px;
    background: #ecf6fe;
    overflow: hidden
}

.account-layout .ui-form {
    margin-top: 40px
}

.account-layout .combo {
    width: 68px
}

.account-layout .full-combo {
    width: 250px
}

.stepbar {
    background: url(../images/steps/layer.png) no-repeat;
    height: 40px
}

.stepbar span {
    color: #bcac79;
    display: inline-block;
    margin-top: 10px;
    width: 280px
}

.stepbar span i {
    vertical-align: middle;
    margin-right: 10px;
    background: url(../images/steps/nums.png) no-repeat 0 -60px;
    display: inline-block;
    height: 30px;
    width: 35px
}

.stepbar .step-1.start i {
    background-position: 0 -36px
}

.stepbar .step-1.end i {
    background-position: 0 -3px
}

.stepbar .step-2 i {
    background-position: -35px -68px
}

.stepbar .step-2.start i {
    background-position: -35px -36px
}

.stepbar .step-2.end i {
    background-position: -35px -3px
}

.stepbar .step-3 i {
    background-position: -70px -68px
}

.stepbar .step-3.start i {
    background-position: -70px -36px
}

.stepbar .step-3.end i {
    background-position: -70px -3px
}

.stepbar .step-4 i {
    background-position: -105px -68px
}

.stepbar .step-4.start i {
    background-position: -105px -36px
}

.stepbar .step-4.end i {
    background-position: -105px -3px
}

.stepbar .step-1.start, .stepbar .step-2.start, .stepbar .step-3.start, .stepbar .step-4.start {
    color: #fc9200
}

.stepbar .step-1.end, .stepbar .step-2.end, .stepbar .step-3.end, .stepbar .step-4.end {
    color: #80c41c
}

.form .tips {
    position: static;
    border: 0;
    width: auto
}

@media (max-width: 1000px) {
    .account-layout{
        width: auto;
    }
    .stepbar{ height: auto;}
}