@charset "utf-8";
/* CSS Document */
/* ************************************
* 文件名称：account.css
* 制 造 者：swe_ling
* 制造日期：2011-11-11
* Email:swe_ling@163.com
* 文件版本：V1.0
* 内容概要：玩儿道用户帐户操作
* 版权所有 ©玩儿道
************************************ */
.account{ padding-top:49px; margin:0px auto; width:804px;}
.layout_t {background: url(../images/account/bg_account_top.png) no-repeat;height:14px; overflow:hidden;}
.layout_m {background: url(../images/account/bg_account_con.png) repeat-y;padding:10px 19px 0px;}
.layout_b {background: url(../images/account/bg_account_btm.png) no-repeat;height:20px;}

/************子菜单 table选项卡***************/
.sub_nav {
	width:745px;
	margin:0 auto -1px;
	overflow:hidden;
	position:relative;
}
.sub_nav a {
	float:left;
	display: inline;
	width:119px;
	height:31px;
	margin-right:5px;
	text-align:center;
	font:200 16px/31px "微软雅黑", Arial, Tahoma;
	background:url(../images/account/accout_active.png) no-repeat 0 0;
	color:#1992b1;
}
.sub_nav a:hover, .sub_nav a.active {
	font-weight:800;
	background-position:-123px 0;
	color:#fff;
}
.account_nav {
	width:100%;
	overflow:hidden;
	background:url(../images/account/sub_nav.png) no-repeat 50% 14px;
	margin:20px 0 30px;
}
.account_nav li {
	text-align:center;
	float:left;
	height:83px;
	display:inline;
	width:30%;
}
.account_nav li i {
	font: normal 800 18px/45px "微软雅黑", Arial, Tahoma;
	color:#fff;
	display:block;
	background:url(../images/account/sub_nav_step.png) no-repeat 50% -106px;
}
.account_nav li span {
	display:block;
	color:#1992b1;
	font-size:14px;
}
.account_nav .link i {
}
.account_nav .active i {
	background-position:50% -56px;
}
.account_nav .visited i {
	background-position:50% -5px;
}

.input_sub {
	font:200 14px/31px "微软雅黑", Arial, Tahoma;
	cursor:pointer;
	margin-left:15px;
	color:#fff;
	border:none;
	background: url(../images/account/next.gif) no-repeat 0 0;
	height:32px;
	width:137px;
}
.input_sub:hover {
	background-position: 0 -36px;
}
.accout_edit_form {
	color:#8e8e8e;
}
.submit_form_input {
	width:425px;
	margin:0 auto;
	text-align:left;
}
.accout_edit_form a {
	color:#1992b1;
}

.txtLogin{ width:242px; padding-left:50px; height:31px; background:url(../images/account/txtInt_login.png) no-repeat;}
.txtLogin input{ width:238px; height:20px; line-height:20px; margin-top:4px; border:0; background-color:#fff; font-size:14px; font-family:"微软雅黑";}
.acc_name{ background-position:0px 0px;}
.acc_pwd{ background-position:0px -31px;}
/*wrong Tip*/
.wrongTip{ width:224px; position:absolute; display:none;}
.wrongTip .WtTop{ height:3px; overflow:hidden; background:url(../images/account/bg_login_tip.png) 0px 0px no-repeat;}
.wrongTip .WtBtm{ height:3px; overflow:hidden; background:url(../images/account/bg_login_tip.png) 0px -3px no-repeat;}
.wrongTip .WtCon{ border:solid #C4DEEB; border-width:0px 1px; background-color:#FFFFE5; position:relative; color:#D84911; padding:10px 23px; line-height:22px; font-size:12px;}
.wrongTip ins{ width:13px; height:20px; background:url(../images/account/bg_login_tip_arrow.png) no-repeat; position:absolute; left:-12px; top:50%; margin-top:-10px; font-style:normal;}
.wrongTip .close{ width:9px; height:8px; position:absolute; right:12px; top:8px; background:url(../images/account/icon_tip_close.png) no-repeat; overflow:hidden; text-indent:-200px;}
.wrongTip em{ font-style:normal; height:20px; padding-left:21px; background:url(../images/account/icon_notice_wrong.png) left no-repeat; display:block; clear:both;}

/*pwd Tip*/
.pwdTip{ width:355px; position:absolute;}
.pwdTip .pwdTop{ height:3px; overflow:hidden; background:url(../images/account/bg_reg_tip.png) 0px 0px no-repeat;}
.pwdTip .pwdBtm{ height:3px; overflow:hidden; background:url(../images/account/bg_reg_tip.png) 0px -3px no-repeat;}
.pwdTip .pwdCon{ border:solid #C4DEEB; border-width:0px 1px; background-color:#FFFFE5; position:relative; color:#D84911; padding:5px 0px; line-height:22px; font-size:12px;}
.pwdTip ins{ width:13px; height:20px; background:url(../images/account/bg_login_tip_arrow.png) no-repeat; position:absolute; left:-12px; top:50%; margin-top:-10px; font-style:normal;}
.pwdTip .bar{ width:326px; height:36px; background:url(../images/account/bg_pwd_graybar.png) bottom repeat-x; margin:0px auto;}
.pwdTip .bar b{ background:url(../images/account/bg_pwd_colorbar.png) bottom left no-repeat; display:inline-block; height:22px; line-height:22px; color:#8E8E8E; padding:0px 49px 14px 0px; text-align:right;}
.pwdTip .bar .weak{ width:59px;}
.pwdTip .bar .common{ width:164px;}
.pwdTip .bar .strong{ width:278px;}