@charset "utf-8";
/* CSS Document */
.activity_description {
	background:#f9fdff;
	border:1px solid #c6ddeb;
	padding:14px 12px;
	overflow:hidden;
	position:relative;
	zoom:1;
}
.description_l {
	float:left;
}
.activity_attention {
	margin-left:117px;
	font:200 12px Arial, Helvetica, sans-serif;
}
.activity_attention h2 {
	padding:5px 0px 8px 0px;
	font-size:15px;
	font-weight:bold;
}
.activity_attention h2 a{ color:#333534;}
.activity_attention p {
	line-height:21px;
	color:#4B4C4E;
}
.activity_attention i {
	font-style: normal;
	color:#1363AA;
	margin-left:3px;
}
.activity_description .attention {
	position:absolute;
	right:15px;
	top:14px;
	background:url(../images/activity_attention.jpg) no-repeat 0 0;
	display:block;
	height:34px;
	width:90px;
}
.activity_description .attention:hover {
	background-position: 0 -37px;
}
.activity_sub {
	background:#eef7fe;
	overflow:hidden;
	text-align:right;
	border-bottom:1px solid #1680a7;
	padding:0px 10px;
	font:200 12px/31px Arial, Helvetica, sans-serif;
	height:31px;
	margin:10px 0;
}
.activity_sub span {
	float:left;
	color:#0B67B0;
	margin-right:15px;
	font:800 12px/31px '宋体', Arial, Helvetica, sans-serif;
}
.activity_sub span a {
	margin:0 3px;
	font:800 12px/23px '宋体', Arial, Helvetica, sans-serif;
	color:#605f5d;
	height:23px;
	border-bottom:3px solid #eef7fe;
	border-top:5px solid #eef7fe;
	display:inline-block;
}
.activity_sub span a.active,.activity_sub span a:hover {
	border-bottom:3px solid #1581a7;
	text-decoration:none;
	color:#227BA7;
}

.pageLink{ color:#999;}
.pageLink i{ margin:0px 3px; color:#999;}
.pageLink a{ color:#0B67B0;}
.pageLink .sum{ color:#0B67B0;}

.open_activity {
	padding:10px;
	border-bottom:1px dashed #CCC;
	color:#4D4D4D;
}
.open_activity p.right_img {
	float:left;
	padding-top:4px;
}
.right_descrip {
	margin-left:60px;
}
.right_descrip p, .right_descrip a {
	line-height:21px;
}
.open_activity div.o_event, .open_activity div.o_event a {
	line-height:21px;
	color:#0965AE;
}
.open_activity div.o_event {
	padding-bottom:5px;
	color:#999;
}
.open_activity div.o_event span {
	color:#333;
}
.open_activity .o_event {
	text-align:right;
}
.open_activity .o_event i {
	font-style:normal;
	color:#999;
	margin-right:15px;
}
.open_activity .o_event span {
	float:left;
}
.open_activity .more {
	background:#1684a7;
	color:#fff;
	padding:3px 9px;
}
.open_activity .eInfo{ height:22px; clear:both;}
.open_activity .eInfo .detail{width:69px;height:19px;background:url(../images/activity/btn_detail.gif) no-repeat;text-indent:-9999px;
:hidden;display:none;}
.acrive_bg .eInfo .detail{ display:inline-block;}
.event_plan {
	width:100%;
	overflow:hidden;
	margin-bottom:10px;
	color:#656567;
}
.event_plan_l {
	width:125px;
	float:left;
	margin-right:5px;
	text-align:center;
}
.event_plan_r {
	margin-left:130px;
}
.event_plan_r h2 {
	font:800 14px/23px Arial, Tahoma;
	color:#10899e;
}
.event_plan_r table {
	line-height:24px;
}
.event_plan_r table i {
	font-style:normal;
	color:#f2762c;
}
.plan_info {
	font:200 12px/25px Arial, Tahoma;
	text-indent:-5.5em;
	padding-left:8.5em;
	color:#656567;
	margin-bottom:5px;
}
.plan_info span {
	font-weight:800;
}
.join_event_plan {
	padding:30px 7.8em 50px;
	;
}
.join_event_plan img {
	height:28px;
	width:109px;
}
.join_event_plan img {
	background:url(../images/event_plan.png) no-repeat 0 0;
}
.join_event_plan .noneA img {
	background-position:-130px 0;
}
.join_event_plan a {
	margin:0 10px;
}
#activity_index {
	background:#fff;
}
#activity_index .home_con {
	width:950px;
	margin-right:0px;
}
#activity_index .home_con .event_plan_l {
	width:300px;
}
#activity_index .home_con .event_plan_r {
	margin-left:305px;
}
#activity_index .activity_index {
	font:800 23px/40px '宋体';
	padding:10px 0 10px 23px;
	color:#065f9b;
}
#activity_index .event_plan_r p {
	font:200 12px/23px '宋体';
	color:#999;
}
#activity_index .event_plan_r p span {
	display:inline-block;
	width:90px;
	color:#046298;
	text-align:right;
}
.activity_C {
	text-indent:2em;
	padding:0 10px;
	font:200 12px/23px '宋体';
	margin-bottom:10px;
	color:#8f8f8f;
}
.activity_signup_options {
	padding-left:10px;
	margin:6px 0 0px;
	height:30px;
	font: 200 12px/24px '宋体';
	color:#7e7e7e;
}
.activity_signup_options span {
	display:inline-block;
	width:75px;
	text-align:right;
}
.activity_t{ margin-bottom:10px; background:#eef9fc url(../images/activity_h2.gif) no-repeat 19px 11px; height:32px; color:#666; padding-left:35px; font:800 14px/32px Arial, Tahoma;}

.stepTip{ height:48px; line-height:48px; padding-left:20px; font-size:14px; font-weight:bold; color:#EA7730;}
.activity_signup_options .input_a{ margin-left:0px;}

.payment{ background-color:#F9F9F9; width:566px; margin:0px auto; padding:10px 20px 16px;}
.payment table th{ width:90px; font-weight:normal;}
.payment table th b{ color:#45B0CC;}
.payment table tr{ border-bottom:1px dashed #BEBEBE; line-height:24px; color:#7D7D7D;}
.payment i{ font-style:normal; margin-right:15px;}
.payment i b{}
.payment table th,.payment table td{ padding:6px 0px;}
.totalMoney{ color:#1992B1; font-weight:bold; line-height:40px; padding-left:58px;}

.payInfo{ width:560px; margin:0px auto; color:#808080;}
.payInfo em{ font-style:normal; color:#1B91AD;}


.select_pep_bot {font:200 12px Arial, Tahoma;width:550px;margin:0 auto;color:#7d7d7d;}
.select_pep_bot input {vertical-align:middle;}
.version1 .select_pep_bot p, .activity .select_pep_bot p {padding:5px 0 15px;text-indent:-18px;text-align:left;}
.select_pep_bot p input {margin:0 8px 0 18px;}
.select_pep_name {margin:0px 0 20px 80px;padding-top:15px}
.select_name_list {background:#f7f7f7;padding:10px;border:1px solid #e1e1e1;width:380px;position:relative;}
.select_name_list span {margin-left:15px;width:70px;display:inline-block;padding:5px 0}
.select_name_list a {color:#929292;font-size:12px;}
.select_name_list img {margin-left:5px;}
.select_name_list img.this_pep1 {position:absolute;top:-8px;left:250px;}
.select_name_list img.this_pep2 {position:absolute;top:-8px;left:98px;}
.select_pep_bot input.button{  border:1px solid #bababa; height:26px; padding:0 10px; margin-right:10px; cursor:pointer; background:#e3e3e3  url(../images/create_step2_2.png) repeat-x 0 0 ;}
.btn_submit{border-top: 1px dashed #9ecfca; padding-top:20px; margin:40px 40px 0;}
.btn_submit a{ background:url(../images/message_.gif) no-repeat 0 -78px; width:138px; font:800 14px/33px Arial; margin:0 10px; color:#fff; height:33px; display: inline-block; text-align:center; }
.btn_submit a:hover{ background-position: 0 -40px;}

/*searBar*/
.searBar{ height:26px; background-color:#EEF7FE; padding:3px 0px 0px 10px; overflow:hidden; clear:both; color:#2D363D;}
.searBar select{ height:22px;}
.searBar .txtInput{ border:1px solid #D4D4D4;  padding:3px 2px; border-radius:2px; line-height:14px; background-color:#fff; height:14px;}
.searBar .btn_search{ width:56px; height:22px; background:url(../images/activity/btn_56x22_gray.png) no-repeat; border:0; display:inline-block; vertical-align:middle; text-align:center; line-height:22px; color:#313131;}
.searBar .btn_search:hover{ text-decoration:none;}

/*pageTurn*/
.pageTurn{ padding:3px 18px 0px 0px; height:18px;}
.pageTurn .pre, .pageTurn .next {width:16px;height:16px;vertical-align:middle;background:url(../images/pre_nexe.gif) no-repeat;}
.pageTurn .pre {background-position:0 2px;cursor:inherit;}
.pageTurn a{ cursor:inherit;}
.pageTurn a .hasMore {background-position:0 -12px;cursor:pointer;}
.pageTurn .next {background-position:-18px 2px;cursor:inherit;}
.pageTurn a .hasMore {background-position:-18px -12px;cursor:pointer;}

/*mapSearch*/
.mapSearch{ background-color:#F7F7F7; border-top:1px solid #fff; color:#636466;}
.mapSearch .map{ width:447px; height:462px; overflow:hidden;}
.mapSearch .mapCondition{ width:206px; height:454px; padding:6px 0px 0px 12px; border:1px solid #CAE6F2; background-color:#EEF7FE;}
.mapSearch .icon{ padding-left:15px; background:url(../images/activity_h2.gif) 0px 7px no-repeat;}
.mapSearch .item{ height:30px; clear:both; line-height:24px;}
.mapSearch .explain{ height:37px; clear:both; line-height:37px; padding-left:18px;}
.mapSearch .explain .iLocat{ display:inline-block; padding-left:21px; background:url(../images/activity/icon_location.gif) left no-repeat; color:#626262;}
.mapSearch .tipShow{ width:192px; position:relative; margin-bottom:8px;}
.mapSearch .tipShow .tCon{ border:1px solid #E2E2E2; background-color:#F7F7F7; padding:5px; height:auto!important; min-height:50px; _height:50px;}
.mapSearch .tipShow ins{ display:inline-block; width:13px; height:6px; overflow:hidden; background:url(../images/activity/icon_upArrow.png) no-repeat; position:absolute; top:-5px;}
.mapSearch .tipShow i{ display:inline-block; height:20px; margin:0px 2px;}
.mapSearch .tipShow i a{ width:10px; height:9px; display:inline-block; margin-left:5px; background:url(../images/del_pep.png) no-repeat;}
.mapSearch .txtInput{ height:20px; line-height:20px; border:1px solid #CFD3D6; width:130px; height:20px; color:#909090;}
.mapSearch .txt_cusFriend{ background:url(../images/activity/iconA.png) 110px 4px no-repeat #fff;}
.mapSearch .txt_cusGroup{ background:url(../images/activity/iconA.png) 110px -31px no-repeat #fff;}
.mapSearch .btn_add{ width:56px; height:22px; background:url(../images/activity/btn_56x22_gray.png) no-repeat; border:0; display:inline-block; vertical-align:middle; text-align:center; line-height:22px; color:#313131; cursor:pointer;}