@charset "utf-8";
/* CSS Document */

.layout_body {
	padding-top:0px;
}
.home_page {
	position:relative;
	background:url(../images/activity_bg.gif) repeat-y 0 0;
	width:1006px;
	margin:0 auto;
filter:progid:DXImageTransform.Microsoft.Shadow(enabled=true, color=#859ca1, direction=180, strength=4);
	-moz-box-shadow:0 3px 4px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow:0 3px 4px rgba(0, 0, 0, 0.35);
}
.panel {
	font-size: 12px;
	overflow: hidden;
}
.combo {
	display: inline-block;
	font-size: 12px;
	background:url(../images/activity_create_selse.gif) no-repeat 0 0;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	height:26px;
}
.combo-arrow {
	background: none;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	opacity: 0.6;
	overflow: hidden;
	vertical-align: top;
	width: 18px;
}
.panel-body {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-style: solid;
	border-width: 0 1px 1px;
	overflow: auto;
	background:#fff;
}
.combobox-item {
	font-size: 12px;
	padding: 3px 0 3px 3px;
}
.combobox-item-selected {
	background: none repeat scroll 0 0 #FBEC88;
}
.combo-text {
	border:none;
	background:none;
	height:26px;
	padding-left:3px;
}
.activity {
	padding:25px 15px;
	width:780px;
}
.activity .title {
	text-align:right;
	border-bottom:1px solid #1580a4;
	height:27px;
	padding:0 8px;
	_overflow:hidden;
}
.activity .sub_nav a {
	margin-right:4px;
	color:#636466;
	font:200 14px/24px "微软雅黑", Arial, Tahoma;
	width:93px;
	height:24px;
	padding-top:3px;
	display:block;
	text-align:center;
	float:left;
	background:url(../images/layout_main/tab_option.gif) no-repeat -112px -5px;
}
.activity .sub_nav a:hover, .activity .sub_nav .active {
	background-position:0 0;
	font-weight:800;
	color:#fff;
	position:relative;
	top:-5px;
	height:29px;
}
.activity p.info_type {
	text-align:left;
	padding:15px 0;
	font:800 12px Arial, Tahoma;
	color:#a0a0a0;
}
.info_type input {
	vertical-align:top;
	margin:0 3px 0 20px;
}
.Suspension {
	position:absolute;
	left:810px;
	top:20px;
	background:#1992b1 url(../images/Suspension.gif) 0 0;
	width:134px;
	height:170px;
	padding:20px;
}
.Suspension a {
	display:block;
	background:url(../images/Suspension_list.gif) no-repeat 0 1px;
	_background-position:0 0px;
	height:25px;
	font:200 14px/25px Arial, Tahoma;
	color:#fff;
}
.Suspension a i {
	margin:0 15px 0 6px;
	font: normal 800 12px/25px Arial, Tahoma;
	color:#1f85ab;
}
.Suspension .error, .Suspension .allright {
	margin-left:3px;
	background:url(../images/list_allRight.gif) no-repeat 0 0;
	width:18px;
	height:18px;
	vertical-align:middle;
}
.Suspension .error {
	background-position:0 -27px;
}
.activity table, .activity table tr {
	font:200 12px/35px Arial
}
.activity table td {
	font:200 12px/35px Arial, Tahoma;
	height:35px;
	color:#7d7d7d;
}
.activity table input {
	vertical-align:middle;
}
.activity p {
	text-align:center;
}
.select_input {
	float:left;
	height:27px;
	z-index:1;
	background:url(../images/activity_create_selse.gif) no-repeat 0 0;
	margin-right:5px;
}
.select_input input {
	position: absolute;
	z-index:5;
	left:3px;
	top:3px;
	background:#000;
	height:27px;
	height:20px;
	border:none;
	width:88%;
}
.select_input i {
	cursor:pointer;
	z-index:5;
	position: absolute;
	right:0px;
	top:3px;
	height:21px;
	width:18px;
	display:block;
}
.activity .w_200px {
	width:1px;
	padding-left:183px;
}
.activity .w_123px {
	width:1px;
	padding-left:123px;
	background-position:0 -38px;
}
.activity .w_75px {
	width:1px;
	padding-left:75px;
	background-position:0 -77px;
}
.combobox {
	height:24px;
	border:1px solid #999;
	background:url(../images/select_option_bg.jpg) no-repeat 0 0;
	font:200 12px Arial;
	vertical-align:middle;
	margin-right:8px;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.w123px {
	width:123px;
}
.w128px {
	width:158px;
}
.w80px {
	width:80px;
}
.activity_map {
	width:90%;
	margin:0 auto;
}
.show_map {
	background:#ebebeb;
	padding:10px 30px;
	margin:0 10px;
	color:#1d7fb0;
	font:800 12px/25px Arial, Tahoma;
	margin:0 auto;
	overflow:hidden;
}
.show_map img {
	vertical-align: middle;
}
.show_map span {
	color:#7e7e7e;
	font-weight:200;
}
.address_info {
	background:#fbfbfb;
	color:#838383;
	overflow:hidden;
}
.address_info table {
	margin:10px 5% 0;
	padding-top:1px;
	padding-bottom:10px;
	border-bottom:1px dashed #808080;
}
.address_info span {
	color:#4b93ab;
	margin-left:15px;
}
.address_info p {
	line-height:21px;
	padding-left:10px;
}
.address_info .Pages_addrees {
	padding:25px 0;
	width:90%;
	margin:0 auto;
}
.Pages_addrees {
	text-align:right;
	padding:10px 38px;
}
.Pages_addrees a {
	margin:0 5px;
	font:200 12px Arial, Tahoma
}
.Pages_addrees span {
	float:left;
}
.Pages_addrees input, .Pages_addrees select {
	vertical-align:middle;
}
.adtivity_select {
	background:#f4f4f4;
	border-bottom:1px solid #dcdcdc;
	margin:1px 0px 1px;
}
.time_mark {
	width:100%;
	background:url(../images/create_step2_1.png) repeat-x 0 11px;
	height:28px;
	margin:30px 0 20px;
}
.time_mark li {
	height:28px;
	float:left;
	background:url(../images/create_step2.png) no-repeat 50% 0;
	width:27px;
}
.time_mark li.active {
	background-position:50% -27px;
}
.activity_mark {
	padding:10px 30px;
}
.tim_mark_tale {
	padding:20px;
	background:#fafafa;
	width:85%;
	margin:0 auto;
}
.tim_mark_tale .active {
	background:#ededed;
}
.tim_mark_tale tr {
	padding:0 15px;
}
.activity_h3 span {
	margin-left:25px;
	font:200 12px/32px Arial, Tahoma;
}
.activity_h3 span input {
	vertical-align:middle;
	margin-right:5px;
}
.select_pep {
	font:200 12px Arial, Tahoma;
	width:500px;
	margin:0 auto;
	border:1px solid #e1e1e1;
	padding:2px;
}
.select_pepL {
	width:190px;
	float:left;
	background:#f7f7f7;
	height:320px;
	padding:5px 0;
	overflow-y:scroll;
	overflow-x:hidden;
}
.select_pepR {
	width:190px;
	float:right;
	background:#f7f7f7;
	height:320px;
	padding:5px 0;
	overflow-y:scroll;
	overflow-x:hidden;
}
.select_pepC {
	width:120px;
	_width:110px;
	margin-left:190px;
	height:330px;
	overflow:hidden;
}
.select_pepL a {
	display:block;
	height:30px;
	font:200 12px/30px Arial, Tahoma;
	padding-left:15px;
	color:#646464;
}
.select_pepL a img {
	vertical-align:middle;
}
.actions {
	font:200 12px/25px Arial, Tahoma;
	height:25px;
	margin:30px 20px;
	text-align:center;
	background:#e3e3e3 url(../images/create_step2_2.png) repeat-x 0 0;
	border:1px solid #bababa;
	padding:3px 5px;
	display:block;
}
.save_info {
	width:500px;
	margin:0 auto;
}
.save_info p {
	margin:10px 0;
	font:200 12px/25px Arial, Tahoma;
}
.save_info p input {
	vertical-align:middle;
}
.save_info .select_pep_name {
	margin-left:30px;
}
.account_nav {
	width:100%;
	overflow:hidden;
	background:url(../images/account/sub_nav_1.png) no-repeat 50% 14px;
	margin:20px 0 30px;
}
.account_nav li {
	text-align:center;
	float:left;
	height:83px;
	display:inline;
	width:30%;
}
.account_nav li i {
	font: normal 800 18px/45px "微软雅黑", Arial, Tahoma;
	color:#fff;
	display:block;
	background:url(../images/account/sub_nav_step_1.png) no-repeat 50% -106px;
}
.account_nav li span {
	display:block;
	color:#1992b1;
	font-size:14px;
}
.account_nav .link i {
}
.account_nav .active i {
	background-position:50% -56px;
}
.account_nav .visited i {
	background-position:50% -5px;
}
p.info_type {
	text-align:left;
	padding:15px 0;
	font:800 12px Arial, Tahoma;
	color:#a0a0a0;
}
.info_type input {
	vertical-align: middle;
	margin:0 3px 0 20px;
}
.event_h3 {
	border-bottom: 1px dashed #9ecfca;
	color: #1685a8;
	font: 800 20px/32px Arial, Tahoma;
	height: 32px;
	margin: 5px 10px;
	padding-left: 10px;
}
.main_share table, .main_share table tr {
	font:200 12px/35px Arial
}
.main_share table td {
	font:200 12px/35px Arial, Tahoma;
	height:35px;
}
.main_share table input {
	vertical-align:middle;
}
.save_var{
	border:1px solid #eee;
	background:#f1f1f1;
	width:570px;
	margin:0 auto;
	padding:10px;
	font-size:12px;}
.save_var p{
	color:#1587a2; 
	text-indent:2em;
	text-align:left;
}
.save_var .checkbox_save{
	width:400px;
	margin:15px auto;
}
.save_var input{
	vertical-align: middle;
}
.save_var .select_name_list{
	margin-top:5px;
}