@charset "utf-8";
/* CSS Document */


/* ************************************
* 文件名称：home.css
* 制 造 者：swe_ling
* 制造日期：2011-11-16
* Email:swe_ling@163.com
* 文件版本：V1.0
* 内容概要：home页
* 版权所有 ©玩儿道
************************************ */
.layout_body {
	padding-top:0px;
}
.mb{ margin-bottom:13px;}
.home_page {
	background:url(../images/home.gif) center center repeat-y;
	margin:0 auto;
	zoom:1;
}
.home_con {
	width:704px;
	float:left;
}
.side {
	float:left;
	width:250px;
	padding:0px 25px;
}
.table_card {
	position:relative;
	overflow:hidden;
	height:365px;
	background:#f9fdff url(../images/layout_main/home_ba.gif) repeat-y right 0;
	border:1px solid #c7ddea;
}
.share_box {
	border:1px solid #c7ddea;
	padding:18px 21px 10px;
	background:#eef7fe;
}
.share_box .share_text {
	background:url(../images/layout_main/share_box.gif) no-repeat 0 0;
	padding:5px 3px 5px 5px;
	height:86px;
	width:618px;
}
.share_box .share_text textarea {
	border:none;
	background: none;
	width:100%;
	resize:none;
	overflow-y:auto;
	overflow-x:hidden;
	height:86px;
}
.table_card .sorll_nav {
	position: absolute;
	right:1px;
	top:1px;
}
.table_card .sorll_nav li {
	cursor:pointer;
	background:url(../images/scroll.gif) no-repeat 0 -90px;
	height:61px;
	width:139px;
	padding:15px;
}
.table_card .sorll_nav .active {
	background-position: 0 0px;
}
.table_card .sorll_nav p {
	font:200 12px/20px "微软雅黑", Arial, Tahoma;
}
.table_card .active p {
	font-weight:800;
}
.table_card .sorll_con {
	position: absolute;
}
.table_card .sorll_con li {
	padding:20px;
	width:465px;
	height:325px;
	color:#646466;
	font:200 12px/24px Arial, Tahoma
}
.table_card .roll_up {
	width:465px;
	overflow:hidden;
	margin-bottom:15px;
}
.table_card .roll_up img {
	float:left;
	margin-right:15px;
}
.table_card .roll_up td {
	font-size:12px;
}
.table_card .roll_up h2 {
	color:#0a66af;
	font-size:22px;
	line-height:26px;
	padding-bottom:4px;
}
.table_card .roll_up td img {
	margin:0;
	margin-top:4px;
}
.table_card .roll_up i {
	font: normal 200 16px/16px "微软雅黑", Arial, Tahoma;
	margin:0px 2px 0px 3px;
}
.table_card .to_join {
	background:url(../images/join.gif) no-repeat 0 -35px;
	width:101px;
	height:32px;
	display:block;
	float:left;
	margin:10px;
	text-align:center;
	color:#fff;
	font:800 14px/32px Arial, Tahoma;
}
.table_card .to_join:hover {
	background-position:0 0;
}
.share_b {
	text-align:right;
	padding-top:10px;
	color:#0063ab;
}
.share_b p {
	float:left;
	width:390px;
	text-align:left;
}
.share_b .issue {
	border:none;
	cursor:pointer;
	background:url(../images/layout_main/issue_but.gif) no-repeat 0 -30px;
	width:90px;
	height:26px;
}
.share_b .issue:hover {
	background-position: 0 0;
}
.share_b img {
	height:15px;
	width:50px;
	vertical-align:middle;
	background:url(../images/layout_main/share_sele.gif) no-repeat;
}
.share_b .State {
	background-position:-3px 0
}
.share_b a:hover .State {
	background-position:-3px 1px;
}
.share_b .Href_img {
	background-position:-66px 0;
}
.share_b a:hover .Href_img {
	background-position:-66px 1px;
}
.share_b .Href {
	background-position:-130px 0;
}
.share_b a:hover .Href {
	background-position:-130px 1px;
}
.share_b .MV {
	background-position:-202px 0;
}
.share_b a:hover .MV {
	background-position:-202px 1px;
}
.share_b a {
	margin-right:7px;
}
.main_share {
	padding-top:5px;
}

.search_home {
	background:url(../images/layout_main/search_home.gif) no-repeat 0 0;
}
.search_home input {
	border:none;
	height:30px;
	font:200 14px/30px "微软雅黑", Arial, Tahoma;
}
.search_home .text {
	background:none;
	width:227px;
	padding-left:5px;
}
.search_home .submit {
	background:none;
	cursor: pointer;
	vertical-align:top;
	width:29px;
}
.date {
	padding-bottom:35px;
}
.date .invite, .date .invite_activity {
	margin-top:15px;
	display:block;
	text-align:center;
	font:200 12px Arial, Tahoma
}
.date .invite {
}
.date .notice {
	height:15px;
	width:15px;
	margin-right:5px;
	background:url(../images/notice.gif) no-repeat 0 0;
	vertical-align: middle;
}
.date .invite_activity {
	text-indent:-50em;
	width:100%;
	overflow:hidden;
	background:url(../images/invite_activity.gif) no-repeat 50% 0;
	height:28px;
}
.date .invite_activity:hover {
	background-position:50% -30px;
}
.side .bor {
	background:url(../images/home_side_line.gif) repeat-x 0 100%;
}
.side .friend {
	width:100%;
	overflow:hidden;
	padding:5px 0 15px;
}
.side .friend_title {
	text-align:right;
	height:14px;
	font:200 12px "微软雅黑", Arial, Tahoma;
	padding:8px 3px 10px;
}
.friend_title p {
	float:left;
	font:800 15px "微软雅黑", Arial, Tahoma;
}
.friend_title p span {
	color:#0064a8;
	font:200 12px "微软雅黑", Arial, Tahoma;
	font-weight:bold;
}
.friend_title .pre, .friend_title .next {
	width:16px;
	height:16px;
	vertical-align:middle;
	background:url(../images/pre_nexe.gif) no-repeat;
}
.friend_title .pre {
	background-position:0 2px;
	cursor:inherit;
}
.friend_title a{ cursor:inherit;}
.friend_title a .hasMore {
	background-position:0 -12px;
	cursor:pointer;
}
.friend_title .next {
	background-position:-18px 2px;
	cursor:inherit;
}
.friend_title a .hasMore {
	background-position:-18px -12px;
	cursor:pointer;
}
.friend .userList {
}
.userList li {
	float:left;
	width:66px;
	text-align:center;
	font-size:12px;
	margin:5px 0;
}
.userList a {
	display:block;
	font-family:Arial, Tahoma;
	color:#0064a8;
}
.userList img {
	height:50px;
	margin-bottom:5px;
	width:50px;
	background-position:50% 50%;
}
.userList span {
	color:#999;
	font-family: Arial, Tahoma;
}
.side .guess_block {
}
.guess_block h2 {
	padding:10px 0;
	font:200 12px Arial, Tahoma;
}
.guess_block h2 a {
	margin:0 10px;
	font:200 12px Arial, Tahoma;
}
.guess_block .active {
	font-weight:800;
}
.guess_block p a {
	display:block;
	font:200 12px/21px Arial, Tahoma;
	color:#0a66af;
	padding-left:6px;
	margin-left:-6px;
	background:url(../images/dian.gif) no-repeat 0 50%;
}
.guess_block p {
	font:200 12px/21px Arial, Tahoma;
	color:#666;
	padding:0 12px 5px;
}
.user_share {
	padding:15px 5px;
	border-bottom:1px dashed #ccc;
}
.user_share .user_share {
	border-top:1px dashed #ccc;
	border-bottom:none;
}
.user_share a {
	color:#0064A8;
}
.user_share .user_img {
	float:left;
}
.user_share .share_right {
	margin-left:63px;
}
.share_right .Theme, .share_right .Theme a {
	font:200 14px/21px Arial, Tahoma;
}
.share_right .Theme_des {
	width:99%;
	overflow:hidden;
	font:200 12px/21px Arial, Tahoma;
	padding:5px 0;
}
.share_right .Theme_img {
	width:118px;
	height:98px;
	float:left;
	margin-right:10px;
}
.Theme_edite, .Theme_edite * {
	font:200 12px Arial, Tahoma;
	color:#b1b1b1;
}
.Theme_edite {
	text-align:right;
}
.Theme_edite span {
	float:left;
}
.Theme_edite img {
	margin-left:10px;
	width:18px;
	height:18px;
	vertical-align:middle;
	background:url(../images/layout_main/home_a.gif) no-repeat;
}
.Theme_edite a {
	color:#b1b1b1;
}
.Theme_edite .repeat {
	background-position: -58px -21px;
}
.Theme_edite a:hover .repeat, .Theme_edite a.active .repeat {
	background-position: -58px 0px;
}
.Theme_edite .retrun {
	background-position: -86px -21px;
}
.Theme_edite a:hover .retrun, .Theme_edite a.active .retrun {
	background-position: -86px 0px;
}
.Theme_edite .heart {
	background-position: -114px -21px;
}
.Theme_edite a:hover .heart, .Theme_edite a.active .heart {
	background-position: -114px 0px;
}
.Theme_edite .activity {
	color:#0868b2;
}
.share_right .repeat_post {
	position:relative;
	margin-top:15px;
	background:#f9f9f9;
	border:1px solid #e5e5e5;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:5px;
}
.repeat_post .this {
	position:absolute;
	left:495px;
	top:-9px;
	_top:-8px;
}
.repeat_hide {
	position:relative;
	width:100%;
	overflow:hidden;
}
.repeat_user {
	padding:10px;
	height:25px;
}
.repeat_user input {
	vertical-align:top;
	border:none;
	height:25px;
}
.repeat_user .text {
	width:87%;
	border:1px solid #d8d8d8;
	padding-left:5px;
	height:23px;
	line-height:23px;
	margin-right:0px;
	background:#fff;
	padding:0px;
}
.repeat_user .submit {
	margin-left:5px;
	background:url(../images/repeat_submit.gif) no-repeat 0 0;
	width:58px;
	height:25px;
}
.repeat_user .submit:hover {
	background-position:0 -27px;
	cursor:pointer;
}
.right_roll_friend {
	width:200px;
	padding:0 25px;
	height:112px;
	margin:0 auto;
	position:relative;
}
.roll_con {
	width:117px;
	height:112px;
	background:#e1eaf1;
	overflow:hidden;
	width:100%;
	position:relative;
}
.roll_con ul {
	width:6000px;
	position: absolute;
}
.roll_con ul li {
	width:180px;
	float:left;
	padding:15px 10px;
}
.roll_con ul h3 {
	color:#0867b1;
	font-size:12px;
}
.roll_con ul img {
	float:left;
}
.roll_con ul div {
	margin-left:85px;
	font-size:12px;
	font-family:Arial, Tahoma;
	line-height:19px;
}
.roll_con ul a {
	color:#498d01;
	background:#cbedb1;
	display:block;
	width:65px;
	text-align:center;
	margin-top:3px;
}
.roll_dir {
}
.roll_dir a {
	position:absolute;
	display:block;
	top:0px;
	width:25px;
	height:112px;
	background:url(../images/right_dir.png) no-repeat 0 0;
}
.roll_dir .left {
	left:0px;
}
.roll_dir .right {
	left:225px;
	background-position:-201px 0;
}
.roll_dir .left:hover {
	background-position:0 -112px;
}
.roll_dir .right:hover {
	background-position:-201px -112px;
}
.break_line {
	margin:15px 0;
	color:#086ab5;
	font:200 12px/16px Arial, Tahoma;
	text-align:right;
	width:653px;
	height:16px;
	padding:8px 5px 8px 10px;
	overflow:hidden;
	border:1px solid #ccc;
}
.break_line a {
	color:#fff;
	background:#68ac01;
	padding:2px 6px;
	border:1px solid #559300;
}
.break_line p {
	float:left;
	font:800 14px/16px Arial, Tahoma;
	color:#1581a4;
}
.break_line i {
	font: normal 200 12px/16px Arial, Tahoma;
	color:#f85f01;
}
.break_line span {
	font: normal 200 12px/16px Arial, Tahoma;
	color:#9a9a9a;
	margin-left:8px;
}
.active_con {
	padding:15px 10px;
	overflow:hidden;
	border-bottom:1px dashed #ccc;
	clear:both;
}
.acrive_bg {
	background:#f9f9f9;
}
.active_con .active_Img {
	float:left;
	width:100px;
	background:#e4e4e4;
	text-align:center;
	padding-bottom:5px;
	color:#4187bb;
	font:800 16px/20px Arial, Helvetica, sans-serif;
	margin-right:12px;
}
.active_con .active_Img img{ margin-bottom:4px;}
.active_con .activity_main {
	padding-right:8px;
	
}
.active_con .activity_main p {
	font: normal 200 12px/25px Arial, Tahoma;
	color:#4C4C4C;
}
.active_con .activity_main .brief{ height:auto!important; min-height:75px; _height:75px;}
.active_con .activity_main a {
	font-size:14px;
	line-height:25px;
	color:#0867AB;
}
.activit_title {
	text-align:right;
	height:28px;
}
.activit_title span {
	float:left;
	font-size:14px;
}
.active_con .activity_main .color_de {
	color:#de6d2b;
	font: normal 200 12px/25px Arial, Tahoma;
}
.active_con .activity_main i {
	font-style:normal;
	margin:0 5px;
}
.activit_plice {
	text-align:right;
	height:25px;
}
.activit_plice span {
	float:left;
	font-family:Arial, Helvetica, sans-serif;
}
.activit_plice i {
	color:#999;
	font-family:Arial;
}
.active_con .activit_plice .detail {
	width:69px;
	height:19px;
	background:url(../images/activity/btn_detail.gif) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	display:none;
}
.acrive_bg .activit_plice .detail{ display:inline-block;}
.show_moer {
	text-align:right;
	padding:0 15px;
}
.show_moer a {
	font: normal 200 12px Arial, Tahoma;
	color:#08c;
}
.version1 .show_moer a {
	margin:0 7px;
}
.Initiating_event {
	display:block;
	width:224px;
	height:62px;
	background:url(../images/activit_a.png) no-repeat 0 0;
}
.Initiating_event:hover {
	background-position:0 -63px;
}
.Initiating_event_2 {
	margin:0px auto;
	display:block;
	width:224px;
	height:62px;
	background:url(../images/activit_a.png) no-repeat 0 0;
}
.Initiating_event_2:hover {
	background-position:0 -63px;
}
.Initiating_event_2 {
	display:block;
	width:230px;
	height:44px;
	background: url(../images/activity_main_2.jpg) no-repeat 0 0;
}
.Initiating_event_2:hover {
	background-position:0 -47px;
}
.activity_List {
	font:200 12px Arial, Tahoma;
}
.activity_List li {
	padding:5px 15px 5px 5px;
	line-height:21px;
	border-bottom:1px solid #D6EDF3;
}
.activity_List .noBor{ border-bottom:none;}
.activity_List li a {
	color:#36c;
}
.activity_List li p {
	text-align:right;
	margin-right:-15px;
}
.activity_List li span {
	float:left;
	color:#999;
}
/*--------------------------------- activity_img_item ---------------------------------*/
.actList{ margin-top:27px;}
.actList li{width:185px;height:208px; float:left;background:url("../images/bg_activity_border_shadow.png") no-repeat;padding:12px 15px 0px;margin:0px 4px 5px 3px; display:inline; text-align:center;}
.actList .mask{ border:1px solid #707070; background-color:#000; opacity:0.82; filter:alpha(opacity=82); position:absolute; top:0px; left:2px; width:209px; height:439px; z-index:3; display:none;}
.actList .iTit{ height:40px; display:block; overflow:hidden; line-height:40px; padding-left:5px;}
.actList .iTit a{ font-size:15px; font-weight:bold; color:#333;}
.actList .iTit .rHeart{ float:right; margin:9px 0px 0px 0px; width:24px; height:21px;}
.actList .iTit .emptyH{ background:url(../images/icon_love_empty.jpg) no-repeat;}
.actList .iTit .fullH{ background:url(../images/icon_love_full.png) no-repeat;}
.actList .mHover{ position:relative;}
.actList .mHover .iTit a{ color:#E47028;}
.actList .mHover .aPic,.actList .mHover .iTit{ position:relative; z-index:4;}
.actList li .pos{ height:30px; width:185px; position:absolute; left:15px; top:142px; display:none;}
.actList li .infoMask{ background-color:#000; opacity:0.7; filter:alpha(opacity=70); z-index:5; display:none;}
.actList .mHover .info{ z-index:6; text-align:center;line-height:30px; clear:both; color:#fff; display:none;}
.actList .mHover .info span{ display:inline-block;}
.actList .mHover .info em{ width:22px; height:18px; display:inline-block; float:left; margin:6px 3px 0px;}
.actList .mHover .icon_1{ background:url(../images/icon_heart_gray.png) no-repeat;;_background: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/icon_heart_gray.png' );}
.actList .mHover .icon_2{ background:url(../images/icon_rili_gray.png) no-repeat;_background: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/icon_rili_gray.png' );}
.actList .mHover .icon_3{ background:url(../images/icon_view_gray.png) no-repeat;_background: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/icon_view_gray.png' );}
.actList li dl{ border-top:1px dashed #616161; width:185px; position:absolute; left:15px; top:210px; z-index:6; text-align:left; color:#BFBFBF; display:none;}
.actList li dt{ height:22px; padding:10px 0px 6px 3px; font-weight:bold;}
.actList li dd{ margin:0px 0px 3px 0px;}
.actList li .siTit{ font-weight:bold;}
.actList li .sDate{ float:right; font-weight:normal;}
.actList li dd a{ color:#BFBFBF;}
.actList li dd p{ line-height:20px; text-indent:12px;}
.actList .mHover .iTit .emptyH{ background:url(../images/icon_love_empty_g.png) no-repeat;}
.actList .mHover .iTit .fullH{ background:url(../images/icon_love_full_g.png) no-repeat;}

.actList .mHover .mask,
.actList .mHover .pos,
.actList .mHover .infoMask,
.actList .mHover dl{ display:block;}

.activity_img_item {
	width:100%;
	text-align:justify;
*text-justify:inter-ideograph;
	font-size:1px;
	letter-spacing:-4px;
}
.activity_img_item span.activ_list {
	width:185px;
	height:208px;
	background:url("../images/bg_activity_border_shadow.png") no-repeat 0 0;
	display:inline-block;
	padding:12px 15px 0px;
	margin-bottom:5px;
}
.activity_img_item span img.activity_imglist {
	vertical-align:middle;
	width:185px;
	height:160px;
	padding-bottom:10px;
}
.activity_img_item span em {
	font:bold 14px/20px Arial, Helvetica, sans-serif;
	color:#323232;
	letter-spacing:0px;
}
.activity_img_item span p {
	width:175px;
	padding:0 5px;
}
.activity_img_item span p a {
	float:right;
}
.justifyfix {
	width:100%;
	height:0px;
	overflow:hidden;
	display:inline-block;
}
.activity_pages {
	text-align:right;
	height:60px;
	font:12px/60px Arial, Helvetica, sans-serif;
	color:#575757;
}
.activity_pages a, .activity_pages span {
	padding:0 10px;
}
.activity_pages a:hover {
	color:#e86d20;
}
.lastnew_activity, .add_pos {
	font-size:12px;
	letter-spacing:0px;
}
.lastnew_activity dt {
	line-height:20px;
}
.lastnew_activity dt span {
	float:right;
}
.lastnew_activity dt span i {
	font-style:normal;
}
.lastnew_activity dt span i.cur_num {
	padding-left:10px;
}
.add_pos {
	color:#c1c1c1;
	background-color:#000;
	width:185px;
	padding:5px 15px 15px;
}
.add_pos p {
	height:25px;
	line-height:25px;
	border-top:1px dashed #c1c1c1;
}
.activity_event {
	background:url(../images/home_side_line.gif) repeat-x 0 100%;
	padding-bottom:1px;
	height:62px;
	padding-top:25px;
}
.search_ac {
	width:250px;
	margin:0 auto;
}
.search_active {
	border:1px solid #acccd3;
	height:22px;
	width:218px;
	font:200 12px/22px Arial;
	padding:3px 5px;
	margin:3px auto;
	background:#fff url(../images/search_box.jpg) no-repeat 0 0;
	color:#79A8B0;
}
.nobg{ background:none; background-color:#fff;}
.secA {
	background-position: 98% 5px;
}
.secB {
	background-position: 98% -31px;
}
.secC {
	background-position: 98% -65px;
}
.secD {
	background-position: 98% -105px;
}
.secE {
	background-position: 98% -145px;
}
.secF {
	background-position: 98% 5px;
	width:100px;
}
.secH {
	background-position: 98% 5px;
	width:100px;
}
.secI {
	background:#1992b1 url(../images/search_box_submit.jpg) no-repeat 50% 0;
	height:28px;
	width:71px;
	border:none;
	cursor:pointer;
	margin-top:8px;
}

.home_con .actMain{ padding:24px 18px;}

/**/
.relaCircle{}
.relaCircle ul{ height:153px; overflow:hidden;}
.relaCircle ul li{ height:68px; padding-top:8px; border-bottom:1px solid #D9EBF7;}
.relaCircle .lPic{ float:left; margin:6px 8px 0px 10px;}
.relaCircle dl{ width:180px; float:left; color:#656565;}
.relaCircle dt{ height:22px; overflow:hidden; line-height:22px; margin-bottom:3px;}
.relaCircle dt a{ color:#0582D2;}
.relaCircle dd{ height:20px;}
.relaCircle dd a{ color:#0965AE;}