@charset "utf-8";
/*
 CSS Document 
*/
/*reset*/
body{font-family:"宋体",Arial, Helvetica, sans-serif;font-size:12px;}
body,div,form,p,img,ul,li,ol,dl,dt,dd,hr{margin:0; padding:0; border:0;}li{list-style:none;}h1,h2,h3,h4,h5{font-size:100%; font-weight:normal; margin:0; padding:0;}img{vertical-align:middle;}table{border-collapse:collapse;border-spacing:0;}input,select,textarea{vertical-align:middle;font-size:12px;}i,em{ font-style:normal;}
/*custom*/
.yh{ font-family:"微软雅黑";}.fh{ overflow:hidden; text-indent:-9999px;}.left{float:left;}.right{float:right;}.clear{width:1px; line-height:1px; height:0; visibility:hidden; clear:both; font-size:1px;}.hidden{display:none;}.block{display:block;}.blank5px,.blank10px{display:block; clear:both; font-size:1px; overflow:hidden;}.blank5px{height:5px; line-height:5px;}.blank10px{height:10px; line-height:10px;}.lh18{line-height:18px;}.lh20{line-height:20px;}.lh22{line-height:22px;}.lh24{line-height:24px;}.f12{ font-size:12px;}.f14{ font-size:14px;}.f16{ font-size:16px;}.fn{ font-weight:normal;}.fb{ font-weight:bold;}.tl{text-align:left;}.tc{text-align:center;}.tr{text-align:right;}.relate{position:relative;}.absolute{position:absolute;}a{ text-decoration:none; color:#808080;}a:hover{ text-decoration:underline;}.ofh{ overflow:hidden;}.p2em{ text-indent:2em;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .clearfix{zoom:1;}
*+html .clearfix{zoom:1;}
/*layout*/
body{ background:url(../images/layout_main/bg_body.png) repeat;}
.jz{width:1004px; margin:0px auto;}
.move{ position:relative}
.head{ height:70px; background:url(../images/layout_main/bg_head.png) top repeat-x; min-width:1004px;}
/*logo*/
.logo{ width:107px; padding:16px 0px 0px 0px;}
.logo img{ vertical-align:top;}
/*nav*/

.nav_mian a#home{ float:left; display:block; width:47px; height:34px; background:url(../images/layout_main/banner.jpg) no-repeat 0px 0; margin-top:13px}
.nav_mian .hover01{background:url(../images/layout_main/banner_hover.jpg) no-repeat 0px 0 !important; display:block; width:47px; height:34px;}
.nav_mian .search_info{ margin:15px 0 0 54px; display:inline;}
.nav_mian a:hover{background:url(../images/layout_main/banner_hover.jpg) no-repeat 0px 0; display:block; width:47px; height:34px; }
.nav_mian .search_info{ margin:15px 0 0 54px; display:inline;}
.nav_mian .search_info .inp{background:url(../images/layout_main/banner_inp.jpg) no-repeat; width:310px; height:34px; border:none; margin:0px; overflow:hidden; line-height:34px; text-indent:10px; color:#98d3e4 }
.nav_mian .search_info .inp_bot{background:url(../images/layout_main/banner_inp01.jpg) no-repeat; width:40px; height:34px; border:none; margin:-2px 0 0 -2px!important; overflow:hidden; cursor:pointer;}
.nav_mian .search_mail{ margin:24px 0 0 185px; display:inline; *margin-left:150px; _margin-left:150px}
.nav_mian .search_mail b{ color:#fff; vertical-align:-4px}
.search_list{background:url(../images/layout_main/banner_bg.png) no-repeat; position:absolute; width:165px; left:843px; top:47px; z-index:999; padding-top:1px} 
.search_list .search_listM{ background:url(../images/layout_main/banner_bg01.png) repeat-y; width:164px; padding-left:1px}
.search_list .search_listM li{ height:29px; border-bottom:1px dashed #70c2d7}
.search_list .search_listM li a{ display:block; width:157px; height:29px; text-indent:23px; color:#000; line-height:30px; overflow:hidden}
.search_list .search_listM li a:hover{ display:block; width:157px; height:29px; text-indent:23px; color:#fff; line-height:30px; overflow:hidden; text-decoration:none; background:#70c2d7; font-weight:bold;}
.search_list .search_listB{ background:url(../images/layout_main/banner_bg02.png) no-repeat; height:15px; width:165px}

.search_list01{ position:absolute; width:300px; height:305px; left:109px; top:50px; z-index:9999; padding-top:1px;} 
.search_list01 li{ padding:18px 32px 7px 20px; width:239px; background:url(../images/layout_main/banner_bot.jpg) no-repeat left bottom;}
.search_list01 li h1{ margin-bottom:7px; color:#08485d}
.search_list01 li h1 a{ color:#08485d}
.search_list01 li a{ margin-right:10px; line-height:16px; color:#cccaca}
.search_listM01{background:url(../images/layout_main/banner_bg03.png) repeat-y;}
.search_listB01{background:url(../images/layout_main/banner_bg04.png) no-repeat; height:25px}

.b0{ border:none!important}









.nav{padding:31px 0px 0px 32px; width:584px;}
.nav li{ float:left; display:inline; height:28px; width:77px; margin:0px 3px; text-align:center; line-height:28px; font-size:16px;}
.nav li a{ color:#fff; display:inline-block;}
.nav li .arr{ padding-right:16px; background:url(../images/layout_main/icon_downArrow.png) right center no-repeat;}
.nav .cur{ background:url(../images/layout_main/bg_nav_cur.png) 0px 1px no-repeat;}
.nav .newMsg{ position:relative;}
.nav .newMsg i{ width:30px; height:28px; position:absolute; top:-12px; font-style:normal; text-align:center; line-height:18px; background:url(../images/layout_main/bg_msg.png) no-repeat;}
.nav .newMsg i a,
.nav .newMsg i a:hover{ color:#E7681B;}
/*userInfo*/
.userInfo{ background:url(../images/layout_main/bg_userName.png) no-repeat; width:156px; height:32px; padding:1px; float:right; margin:14px 5px 0px 0px;}
.userInfo img{ vertical-align:top;}
.userInfo .name{ width:92px; height:32px; line-height:32px; display:block; background:url(../images/layout_main/icon_userdownArrow.png) 104px center no-repeat; padding:0px 25px 0px 7px; float:left; overflow:hidden; color:#BFE4ED;}
.userInfo .name:hover{ text-decoration:none;}
/*main style*/
.main{  background:url(../images/layout_main/bg_mbg.png) center top repeat-y;}
.mCon{ padding:0px 20px; _zoom:1;}
.mBtm{height:6px; overflow:hidden; background:url(../images/layout_main/bg_foot.png) center top no-repeat;}
/*foot*/
.foot{ height:40px; line-height:40px; color:#849FA6;}
.foot a{ color:#849FA6;}
.foot a:hover{ text-decoration:underline; color:#849FA6;}
/*other*/
.lblue,.lblue a{ color:#0085C5;}
.gray,.gray a{ color:#636466;}
.orange,.orange a{ color:#f60;}
.red,.red a{ color:#CC0000;}
/*button Style*/
.btn_137x32{ display:inline-block; width:137px; height:32px; background:url(../images/btn_137x32.png) no-repeat; text-align:center; line-height:32px;text-shadow:rgba(0,0,0,.8) 1px 1px 3px; color:#fff!important; font-weight:bold; font-family:"微软雅黑"; font-size:14px;}
.btn_137x32:hover{ background-position:0px -37px;}



.btn_135x36{ display:inline-block; width:135px; height:36px; background:url(../images/btn_135x36.png) no-repeat; text-align:center; line-height:32px;text-shadow:rgba(0,0,0,.8) 1px 1px 3px; color:#fff!important; font-weight:bold; font-family:"微软雅黑"; font-size:14px;}
.btn_163x36{ display:inline-block; width:163px; height:36px; background:url(../images/btn_163x36.png) no-repeat; text-align:center; line-height:32px;text-shadow:rgba(0,0,0,.8) 1px 1px 3px; color:#fff!important; font-weight:bold; font-family:"微软雅黑"; font-size:14px;}
.btn_97x36{ display:inline-block; width:97px; height:36px; background:url(../images/btn_97x36.png) no-repeat; text-align:center; line-height:32px;text-shadow:rgba(0,0,0,.8) 1px 1px 3px; color:#fff!important; font-weight:bold; font-family:"微软雅黑"; font-size:14px;}
.btn_127x36{ display:inline-block; width:127px; height:36px; background:url(../images/btn_127x36.png) no-repeat; text-align:center; line-height:34px;text-shadow:rgba(0,0,0,.8) 1px 1px 3px; color:#fff!important; font-weight:bold; font-family:"微软雅黑"; font-size:14px;}
.btn_127x36_gray{ display:inline-block; width:127px; height:36px; background:url(../images/btn_127x36.png) 0px -36px no-repeat; text-align:center; line-height:34px;text-shadow:rgba(0,0,0,.8) 1px 1px 3px; color:#fff!important; font-weight:bold; font-family:"微软雅黑"; font-size:14px;}
.btn_120x31{ display:inline-block; width:120px; height:31px; background:url(../images/btn_120x31.png) no-repeat; text-align:center; line-height:28px;text-shadow:rgba(0,0,0,.8) 1px 1px 3px; color:#fff!important; font-weight:bold; font-family:"微软雅黑"; font-size:14px;}

/*text input*/
.input_a {font:200 14px/31px "微软雅黑", Arial, Tahoma;margin-left:5px;border:none;background:url(../images/account/input_bg.gif) no-repeat 0 0;height:29px;width:230px;padding-left:5px;}
.input_b {font:200 14px/27px "微软雅黑", Arial, Tahoma;border:none;background:url(../images/bg_txtint_91x27.png) no-repeat 0 0;height:27px;width:86px;padding-left:5px;}
/*inputVmiddle*/
.vInput{ position:relative; margin:-1px 3px 2px 0px;}

/*btnStyle*/
.btnA{background:#e3e3e3; border:1px solid #b9b9b9; width:61px; height:26px; cursor:pointer;}
/**/
input.Stext { border:1px solid;border-color: #707070 #CECECE #CECECE #707070; padding-left:6px;}
.txtArea { border:1px solid;border-color: #707070 #CECECE #CECECE #707070; line-height:18px; padding:4px 6px;}

/*steps*/
.steps {width:867px;overflow:hidden;background:url(../images/account/sub_nav_1.png) no-repeat 50% 14px; margin:20px auto;}
.steps li {text-align:center;float:left;height:83px;display:inline;width:16.5%}
.steps li i {font: normal 800 18px/45px "微软雅黑", Arial, Tahoma;color:#fff;display:block;background:url(../images/account/sub_nav_step_1.png) no-repeat 50% -106px}
.steps li span {display:block;color:#1992b1;font-size:14px}
.steps .link i {
}
.steps .active i {background-position:50% -56px}
.steps .visited i {background-position:50% -5px}
/*subChaTab*/
.subChaTab{ height:33px; border-bottom:1px solid #8CC6D6;}
.subChaTab a{ height:20px; margin:5px 3px 0px 0px; text-align:center; color:#636466; line-height:14px; float:left; width:100px; background:url(../images/bg_tab.png) 0px 0px no-repeat; padding-top:8px; overflow:hidden;}
.subChaTab .active,.subChaTab a:hover{ height:22px; padding-top:11px; margin-top:0px; line-height:14px; color:#fff; font-weight:bold; background-position:0px -28px; font-size:14px; text-decoration:none;}
/*Fnavigation*/
.Fnavigation{  border-bottom:1px solid #1680a7; margin-top:30px; height:28px; padding-top:10px;  background:#eef7fe}
.Fnavigation ul li{ float:left; margin:0px 10px; display:inline;}
.Fnavigation ul li a{ padding:1px 15px; font-weight:900;height:24px; line-height:24px; color:#5f5f5f; display:inline-block;}
.Fnavigation ul li a:hover,
.Fnavigation ul li .cur{border-bottom:2px #1680A7 solid; color:#1680a7; text-decoration:none;}
.Fnavigation .fix4w li a{ text-align:center; padding:1px 0px;}

.FnwhiteBg{ background-color:#fff; margin-top:5px;}