@charset "utf-8";
/* CSS Document */

.message_table {
	color:#999999;
}
.downLoadMore a {
	font:200 12px/35px Arial, Tahoma;
	color:#7d7d7d;
}
/*message_draft.html#########################*/


.draft_one .td1 {
	background:url(../images/draft_img/draft_img01.gif) 0 center no-repeat;
}
.draft_one .td2 {
	color:#333333;
}
.draft_two .td1 {
	background:url(../images/draft_img/draft_img02.gif) 0 center no-repeat;
}
.draft_two .td2 {
	color:#b21a19;
}
.draft_two .td3 {
	color:#b21a19;
}
.draft_three {
	background-color:#eef7fe;
}
.draft_three .td1 {
	background:url(../images/draft_img/draft_img03.gif) 0 center no-repeat;
}
.draft_three .td2 {
	color:#333333;
}
/*message_inbox.html#########################*/


.inbox_one .td2 {
	color:#333333;
	font-weight:bold;
}
.inbox_one .td3 {
	font-weight:bold;
}
.inbox_two .td2 {
	color:#b21a19;
}
.inbox_two .td3 {
	color:#b21a19;
}
.inbox_three {
	background-color:#eef7fe;
}
.inbox_three .td2 {
	color:#333333;
}
.inbox_four .td2 {
	color:#333333;
}
/*message_send.html#####################*/



.send_one .td2 {
	color:#333333;
}
.send_two .td2 {
	color:#b21a19;
}
.send_two .td3 {
	color:#b21a19;
}
.send_three {
	background-color:#eef7fe;
}
.send_three .td2 {
	color:#333333;
}
.send_four .td2 {
	color:#333333;
}
/*message_delete.html################################################*/




.delete_one .td1 {
	background:url(../images/delete_img/delete_img01.gif) 0 center no-repeat;
}
.delete_one .td2 {
	color:#333333;
	font-weight:bold;
}
.delete_one .td3 {
	font-weight:bold;
}
.delete_two .td1 {
	background:url(../images/delete_img/delete_img02.gif) 0 center no-repeat;
}
.delete_two .td2 {
	color:#b21a19;
}
.delete_two .td3 {
	color:#b21a19;
}
.delete_three {
	background-color:#eef7fe;
}
.delete_three .td1 {
	background:url(../images/delete_img/delete_img03.gif) 0 center no-repeat;
}
.delete_three .td2 {
	color:#333333;
}
.delete_four .td1 {
	background:url(../images/delete_img/delete_img04.gif) 0 center no-repeat;
}
.delete_four .td2 {
	color:#333333;
}
.delete_five .td1 {
	background:url(../images/delete_img/delete_img05.gif) 0 center no-repeat;
}
.delete_five .td2 {
	color:#333333;
}
.delete_six .td1 {
	background:url(../images/delete_img/delete_img06.gif) 0 center no-repeat;
}
.delete_six .td2 {
	color:#333333;
}

/*收件*/
span.read_yes{ background:url(../images/message/open_message.png) no-repeat; width: 16px; display:inline-block; *zomm: 1; *display:inline-block; cursor: pointer; margin:  auto; margin-left: 6px; }
span.read_no{ background:url(../images/message/message.png) no-repeat; width: 16px; display:inline-block; *zoom: 1; *display:block; cursor: pointer;  margin-left: 6px; }
/*发件*/            
span.send_sucess{ background:url(../images/message/r_message.png) no-repeat; width: 16px; display:inline-block; *zomm: 1; *display:block; cursor: pointer;margin-left: 6px; }
span.send_fail{ background:url(../images/message/message_waring.png) no-repeat; width: 16px; display:inline-block; *zoom: 1; *display:block; cursor: pointer; margin-left: 6px;}
/*草搞*/            
span.draft{ background:url(../images/message/message_edit.gif) no-repeat; width: 16px; display:inline-block; *zomm: 1; *display:block; cursor: pointer;margin-left: 6px; }
/*垃圾*/                
span.mark_off{ background:url(../images/message/message_start-11.gif) no-repeat; width: 20px; height:20px; display:inline-block; *zomm: 1; *display:block; cursor: pointer;margin-left: 6px; }
span.mark_on{ background:url(../images/message/message_start.gif) no-repeat; width: 20px;height:20px; display:inline-block; *zoom: 1; *display:block; cursor: pointer; margin-left: 6px;}

.message_action{ line-height:20px; height:20px;}