@charset "utf-8";
body {
  font-family: "microsoft yahei";
  background: #efefef;
  color: #414141;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.btn + label {
  margin-left: 10px;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
}
a {
  color: #4fc1e9;
}
.icon-img-flower,
.icon-img-search,
.icon-img-time,
.icon-img-pic,
.icon-img-star,
.icon-img-ticket,
.icon-img-home,
.icon-img-msg,
.icon-img-menu,
.icon-img-shop,
.icon-img-user,
.icon-img-chevron-left,
.icon-img-share,
.icon-img-comment,
.icon-img-share-alt,
.icon-img-share-alt.active,
.icon-img-star-empty,
.icon-img-star-empty.active,
.icon-img-phone,
.icon-img-file,
.icon-img-setting,
.icon-img-landmark,
.icon-img-phone-yel,
.radio-round + .lbl {
  background: url(../img/icons.png) no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
.icon-img-search {
  background-position: -24px 0;
}
.icon-img-time {
  background-position: -48px 0;
}
.icon-img-pic {
  background-position: -72px 0;
}
.icon-img-star {
  background-position: -96px 0;
}
.icon-img-ticket {
  background-position: -120px 0;
}
.icon-img-home {
  background-position: -144px 0;
}
.icon-img-msg {
  background-position: -168px 0;
}
.icon-img-menu {
  background-position: -192px 0;
}
.icon-img-shop {
  background-position: -216px 0;
}
.icon-img-user {
  background-position: 0 -24px;
}
.icon-img-chevron-left {
  background-position: -24px -24px;
}
.icon-img-share {
  background-position: -48px -24px;
}
.icon-img-comment {
  background-position: -72px -24px;
}
.icon-img-share-alt {
  background-position: -144px -24px;
}
.icon-img-share-alt.active {
  background-position: -96px -24px;
}
.icon-img-star-empty {
  background-position: -168px -24px;
}
.icon-img-star-empty.active {
  background-position: -120px -24px;
}
.icon-img-phone {
  background-position: -192px -24px;
}
.icon-img-file {
  background-position: -24px -48px;
}
.icon-img-setting {
  background-position: -48px -48px;
}
.icon-img-landmark {
  background-position: -72px -48px;
}
.icon-img-phone-yel {
  background-position: -96px -48px;
}
.icon-img-order,
.icon-img-collection,
.icon-img-rticket {
  background: url(../img/icon-34.png);
  width: 37px;
  height: 35px;
}
.icon-img-collection {
  background-position: -37px 0;
}
.icon-img-rticket {
  background-position: -74px 0;
}
.icon-img-boy {
  background: url(../img/icon-sex.png) no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.icon-round {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 20px;
  background: #4fc1e9 ;
}
.icon-round .icon-img-boy {
  margin-top: 3px;
}
.icon-img-shopcar {
  width: 218px;
  height: 190px;
  background: url(../img/shopcar.png) no-repeat;
}
.bg-red {
  background: #ff4f61;
}
.bg-yel {
  background: #fdbe00;
}
.bg-green {
  background: #01cead;
}
.bg-blue {
  background: #4fc1e9;
}
.header {
  *zoom: 1;
  position: relative;
  font-size: 18px;
  color: #fff;
  background: #0c9675;
  padding: 10px 40px;
  margin-bottom: 0;
}
.header:before,
.header:after {
  display: table;
  content: "";
  line-height: 0;
}
.header:after {
  clear: both;
}
.header .main {
  text-align: center;
  padding: 0 20px;
}
.header [class*="icon"] {
  margin: -10px 0;
}
.header a {
  color: #fff;
}
.header .pull-right,
.header .pull-left {
  position: absolute;
}
.header .pull-right {
  right: 10px;
}
.header .pull-left {
  left: 10px;
}
.header-transparent {
  background: transparent;
}
.banner {
  text-align: center;
}
.user {
  background: url(../img/userbanner.png) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}
.user .user-info {
  position: relative;
  *zoom: 1;
  margin-top: 1%;
  width: 100%;
  padding: 20px;
}
.user .user-info:before,
.user .user-info:after {
  display: table;
  content: "";
  line-height: 0;
}
.user .user-info:after {
  clear: both;
}
.user .user-info img,
.avatar {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 200px;
  background: #6777aa;
  border: 5px solid #6777aa;
  position: relative;
}
.user .user-info .sign-in {
  position: absolute;
  top: 14%;
  right: 10px;
}
.user .heading {
  margin-bottom: 20px;
  font-size: 16px;
}
.user .widget {
  float: left;
  width: 33.33%;
  font-size: 11px;
}
.avatar {
  float: none;
  border: none;
}
.sign-in,
.sign-in:hover {
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 2px 10px;
  color: #fff;
  font-size: 13px;
}
.box_swipe {
  margin-bottom: 20px;
}
.btn {
  border-radius: 3px;
}
.btn-gray {
  background: #434a54;
  color: #fff;
}
.navbar {
  font-size: 12px;
}
.navbar-item {
  width: 42px;
  height: 42px;
  padding: 5px;
  background: #fff;
  display: inline-block;
  overflow: hidden;
}
.navbar-item-inner {
  height: 100%;
  display: block;
}
.navbar-item,
.navbar-item-inner {
  border-radius: 200px;
}
.navbar-item [class*=icon] {
  margin-top: 5px;
}
.navbar {
  background: transparent;
  border: none;
  margin-bottom: 20px;
}
.navbar li a {
  display: block;
  height: auto;
  line-height: inherit;
  padding: 0;
}
.navbar li {
  width: 25%;
  text-align: center;
}
.navbar-bottom-fixed {
  padding-bottom: 57px;
}
.navbar-bottom,
.fixedbar {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  background: #0c9675;
  width: 100%;
}
.navbar-bottom li {
  width: 20%;
  position: relative;
}
.navbar-bottom li:hover a,
.navbar-bottom li.active a {
  background: #046250;
}
.navbar-bottom li a {
  color: #fff;
  padding: 5px;
}
.navbar-bottom .active {
  background: #046250;
}
.navbar-bottom .new:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #fdbe00;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 20px;
}
.navbar-mime {
  margin: 0;
  padding: 10px;
}
.navbar-mime li {
  width: 33.333%;
}
.list-thumbnail {
  overflow: hidden;
}
.list-thumbnail a {
  color: #414141;
}
.list-thumbnail,
.list-thumbnail li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-thumbnail li {
  float: left;
  width: 50%;
}
.list-thumbnail .thumbnail {
  border: none;
  box-shadow: none;
  padding: 10px;
}
.article p {
  text-indent: 0;
}
.article img {
  width: 100%;
}
.header .searchbar {
  position: absolute;
  z-index: 70;
  width: 100%;
}
.searchbar {
  background: #434a54;
  left: 0;
  bottom: -59px;
  padding: 5px 10px;
}
.searchbar [type=text] {
  border-radius: 17px;
  width: 70%;
}
.searchbar .btn {
  font-size: 25px;
  color: #fff;
}
.list-thumbnail-photo .thumbnail {
  background: #fff;
  margin: 10px;
}
.box {
  border: 1px solid #e5e5e5;
  background: #fff;
  *zoom: 1;
}
.box:before,
.box:after {
  display: table;
  content: "";
  line-height: 0;
}
.box:after {
  clear: both;
}
.box .box-header {
  border-bottom: 1px solid #ddd;
}
.box .row + .row {
  border-top: 1px solid #ddd;
}
.box .box-header,
.box .row {
  padding: 10px;
  margin: 0;
}
.box .form,
.box .box-header,
.box .row {
  font-size: 12px;
}
.box [type=text],
.box textarea {
  background: #efefef;
}
.box textarea {
  width: 100%;
}
.box .btn-default {
  color: #fdbe00;
}
.box .pull-right.btn-default {
  margin: -11px;
  height: 41px;
  line-height: 30px;
  text-shadow: none;
  padding: 5px 25px;
  border-radius: 0;
}
.box h4 {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
}
.box .message {
  padding: 10px 0;
  font-size: 20px;
  line-height: normal;
}
.box + .box,
.box + .list-media {
  margin-top: 20px;
}
.form h3 {
  font-size: 16px;
  margin: 0;
}
.container {
  padding: 10px;
}
.media-heading,
.operate {
  font-weight: normal;
  font-size: 14px;
}
.media-object {
  width: 100px;
}
.media-object img {
  width: 100%;
}
.media-body p {
  color: #999;
}
.price {
  font-size: 15px;
}
.price-sm {
  font-size: 12px;
}
.price-original {
  color: #4fc1e9;
}
.text-danger,
.text-important,
.price {
  color: #ff4f61;
}
.text-warning {
  color: #fdbe00;
}
.comment .comment-header {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.comment .media-object {
  width: 50px;
}
.comment .media-object img {
  border-radius: 50px;
}
.comment li {
  border-top-style: dotted;
}
.comment p {
  color: #414141;
}
.btn-yellow {
  background: #fdbe00;
  padding: 3px 7px;
  color: #fff;
}
.btn-danger {
  background: #ff4f61;
}
.btn-warning {
  background: #fdbe00;
}
.form-group {
  margin-right: 0;
}
.btn-primary {
  background: #4fc1e9;
}
.btn-lg {
  padding: 5px 15px;
  font-size: 18px;
}
.dialog .btn-lg {
  padding: 5px 30px;
}
.dialog-mask {
  background: #000;
}
.dialog .dialog-container {
  border-radius: 0;
  box-shadow: none;
  width: 90%;
}
.dialog-body {
  background: #efefef;
}
.dialog-header .operate {
  top: 5px;
}
[type=text],
[type=password],
textarea {
  border: none;
  background: #fff;
  padding: 7px;
  font-size: 14px;
}
.input-round {
  border-radius: 15px;
}
label > span + input {
  margin-left: 10px;
}
.menubar {
  *zoom: 1;
  font-size: 14px;
  background: #fff;
  position: relative;
  margin-bottom: 20px;
}
.menubar:before,
.menubar:after {
  display: table;
  content: "";
  line-height: 0;
}
.menubar:after {
  clear: both;
}
.menubar ul {
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 10;
  width: 25%;
}
.menubar li > a {
  display: block;
  color: #666;
}
.menubar > li {
  float: left;
  width: 25%;
  text-align: center;
}
.menubar .active a,
.menubar li ul {
  background: #0c9675;
  color: #fff;
}
.menubar li .item {
  padding: 10px;
}
.menubar li li {
  border-bottom: 1px solid #046250;
}
.menubar li li.active a {
  background: #046250;
}
.menubar .spinner {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.menubar .spinner a {
  padding: 0;
  display: block;
  color: #999;
  height: 10px;
}
.menubar .spinner a:first-child {
  margin-top: -15px;
}
/* - update - */
.menubar ul {
  top: 42px;
}
.menubar ul li a {
  padding: 5px;
}
/* - update - */
.radio-round {
  opacity: 0;
  position: absolute;
}
.radio-round + .lbl {
  background-position: 0 -48px;
}
.radio-round:checked + .lbl {
  background-position: -216px -24px;
}
.menu a {
  color: #666;
}
.menu .icon {
  font-size: 12px;
  margin-top: 5px;
}
.menu .user-info .name {
  margin-top: 30px;
  display: inline-block;
}
.menu a {
  *zoom: 1;
}
.menu a:before,
.menu a:after {
  display: table;
  content: "";
  line-height: 0;
}
.menu a:after {
  clear: both;
}
.menu li a i {
  position: static;
}
.btn-wide {
  padding: 5px 35px;
}
.total .pull-left {
  margin-top: 2px;
}
.fixedbar {
  background: #434a54;
  padding: 10px 20px;
  color: #fff;
  font-size: 12px;
}
.fixedbar .price {
  font-size: 18px;
}
.fixedbar .btn {
  font-size: 18px;
}
.fixedbar .operate {
  right: 20px;
}
.table {
  font-size: 12px;
}
.table thead,
.table th {
  background: #4fc1e9;
  color: #fff;
}
.table tr {
  background: #fff;
}
.table tr:nth-child(odd) {
  background: #f2fcff;
}
.table td {
  word-break: break-all;
}
table.box caption {
  background: #fff;
  font-weight: normal;
  border: 1px solid #ddd;
  margin-bottom: -1px;
}
table.box td {
  border: 1px solid #ddd;
}
[type="checkbox"]:disabled + .lbl,
[type="radio"]:disabled + .lbl,
[type="checkbox"][disabled] + .lbl,
[type="radio"][disabled] + .lbl,
.disabled[type="checkbox"] + .lbl,
.disabled[type="radio"] + .lbl {
  background: #fff;
}
[type="checkbox"]:disabled:checked + .lbl,
[type="radio"]:disabled:checked + .lbl,
[type="checkbox"][disabled]:checked + .lbl,
[type="radio"][disabled]:checked + .lbl,
.disabled[type="checkbox"]:checked + .lbl,
.disabled[type="radio"]:checked + .lbl {
  background: #eee;
}
[type="checkbox"]:disabled + .lbl:before,
[type="radio"]:disabled + .lbl:before,
[type="checkbox"][disabled] + .lbl:before,
[type="radio"][disabled] + .lbl:before,
.disabled[type="checkbox"] + .lbl:before,
.disabled[type="radio"] + .lbl:before {
  background-color: #DDDDDD !important;
  border-color: #CCCCCC !important;
  box-shadow: none !important;
  color: #BBBBBB;
}
[type="radio"] + .lbl:before {
  border-radius: 100%;
  font-family: FontAwesome;
  font-size: 11px;
  height: 17px;
  line-height: 15px;
  min-width: 17px;
  text-shadow: 0 0 1px #32A3CE;
}
/*[type="radio"]:checked + .lbl:before {
    content: "ï„‘";
}*/
.input-switch {
  opacity: 0;
}
.input-switch + .lbl {
  margin: 0 4px;
  min-height: 24px;
  display: none\9;
}
.input-switch + .lbl:before {
  background-color: #F5F5F5;
  border: 1px solid #CCCCCC;
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  color: #999999;
  content: "ON\a0\a0\a0\a0\a0\a0\a0\a0\a0OFF";
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 20px;
  line-height: 21px;
  margin-right: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;
  text-indent: -19px;
  transition: text-indent 0.4s ease 0s;
  width: 52px;
}
.input-switch + .lbl:after {
  background-color: #FFFFFF;
  border-radius: 100%;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: #D5D5D5;
  content: "|||";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: lighter;
  height: 22px;
  left: -3px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  text-align: center;
  text-shadow: -1px 0 0 rgba(0, 0, 0, 0.15);
  top: 0px;
  transition: left 0.4s ease 0s;
  width: 22px;
}
.input-switch:checked + .lbl:before {
  text-indent: 7px;
}
.input-switch:checked + .lbl:after {
  left: 33px;
}
.nav-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.nav-tabs .active a,
.nav-tabs a:hover {
  border-bottom: 2px solid #0c9675;
  border-top: none;
}
.nav-tabs li {
  width: 50%;
}
.nav-tabs a {
  display: block;
  text-align: center;
}
.nav-tabs-comment li {
  width: 33.33%;
}
.accordion .accordion-heading {
  background: #434a54;
  color: #fff;
  padding: 5px;
}
.accordion .icon:before {
  content: "\f078";
}
.accordion .active .icon:before {
  content: "\f077";
}
.sendmsg {
  position: fixed;
  border-bottom: 0;
}
.sendmsg input {
  width: 80%;
}
.sendmsg a {
  color: #fff;
  margin-left: 10px;
  font-size: 16px;
}
.fixedbar-before-navbar {
  bottom: 58px;
}
.fixedbar-before-navbar-fixed {
  padding-bottom: 120px;
}
.tipbox {
  position: fixed;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  left: 50% ;
  margin-left: -50px;
  top: 40%;
}
