.table-stroke td {
  vertical-align: middle;
}
.pagination {
  margin: 20px 0;
}
.pagination ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  *display: inline;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
table {
  font-size: 12px;
}
table .ui-checkbox,
table .ui-btn {
  border: none;
}
table .ui-checkbox .ui-btn-up-c,
table .ui-btn .ui-btn-up-c {
  background: none;
}
table .ui-checkbox .ui-btn,
table .ui-btn .ui-btn {
  padding: 0;
}
table .ui-checkbox .ui-btn-inner,
table .ui-btn .ui-btn-inner,
table .ui-checkbox .ui-btn-icon-left .ui-btn-inner,
table .ui-btn .ui-btn-icon-left .ui-btn-inner,
table .ui-checkbox .ui-btn-icon-left .ui-btn-inner,
table .ui-btn .ui-btn-icon-left .ui-btn-inner {
  padding: 5px 13px;
  border: none;
  min-width: auto;
}
table .ui-checkbox input,
table .ui-btn input {
  opacity: 0;
  filter: alpha(opacity=0);
}
table .ui-btn .ui-btn-text {
  font-size: 12px;
  font-weight: normal;
}
.ui-table th,
.ui-table td {
  padding: 5px;
  font-size: 14px;
}
