#galthumbs {margin:10px auto; width:766px; overflow: hidden;}
.semitransp {
    opacity: 0;
    transition: opacity 2s ease-in-out 0s;
}
.semitransp { overflow:hidden;
    opacity: 1;
}
#galthumbs .galthumb:before {
    background: url("../img/polaroid-frame.png") no-repeat scroll 0 0 transparent;
    content: " ";
    display: block;
    height: 237px;
    left: 0;
    position: absolute;
    top: 0;
    width: 286px;
    z-index: 1;
}
#galthumbs .galthumb.left {
    float: left;
}
#galthumbs .galthumb.right {
    float: right;
}
#galthumbs .galthumb .figure {
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    z-index: -1;
}
#galthumbs .galthumb {
    height: 211px;
    margin: 15px 48px;
    padding: 13px;
    position: relative;
    width: 260px;
    z-index: 20;}
#galthumbs .galthumb h3 {
    color: #999185;
    font-family: 'Neutraface2Text-Book',Arial,Helvetica,sans-serif;
    font-size: 17px;
    margin: 12px 0 0;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    z-index: 2;
}
#page {overflow: hidden;height:50px;font-size: 14px;
    line-height: 30px;
    text-align: center;}
#page a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #
    font-size: 14px;
    margin: 5px;
    padding: 2px 4px;
	color: #908179;
}
#page span {font-weight: bold;
    color:  #7EC1FF;;
    font-size: 14px;
    margin: 5px;
    padding: 2px 4px;
}
