.js-slide {
    overflow: hidden;
    position: relative;
    z-index: 0
}

.js-slide p {
    margin: 0px
}

.js-slide-pic {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.js-slide-num {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    z-index: 2;
    text-align: right;
    padding-bottom: 10px;
}

.js-slide-pic span {
    float: left
}

.js-slide-num a {
    width: 12px;
    height: 12px;
    background: url("./btn.png") no-repeat;
    margin: 0 12px 0 0;
    display: inline-block;
}

.js-slide-num a.on {
    background: url("./btn-on.png") no-repeat;
}

