.slider-banner {
    overflow: hidden;
    position: relative;
}
.slider-banner .num {
    bottom: 10px;
    position: absolute;
    right: 10px;
}
.slider-banner .num li {
    background: rgba(0, 0, 0, 0) url("../images/icons.__1442221540__.png") no-repeat scroll -344px 0;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 32px !important;
    line-height: 32px !important;
    margin-right: 6px;
    width: 20px;
}
.slider-banner .num li.on {
    background: rgba(0, 0, 0, 0) url("../images/icons.__1442221540__.png") no-repeat scroll -310px 0;
}
.banner {
    background: #000 none repeat scroll 0 0;
    height: 450px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 6;
}
.banner .slider {
    height: 450px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.banner .slider ul,.banner .slider ul li{
    margin: 0;
    padding: 0;
}
.banner .slider ul {
    height: 450px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.banner .slider ul li {
    left: 50%;
    margin: 0 0 0 -1400px;
    position: absolute;
    top: 0;
}
.banner .slider ul li a img {
    width: 2800px;
}
.banner .slider ul li a {
    display: block;
    height: 450px;
    width: 100%;
}
.banner .num {
    bottom: 10px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
}
.banner .num ol {
    text-align: center;
    width: 100%;
}
.banner .num ol li {
    background: grey;
    cursor: pointer;
    display: inline-block;
    height: 35px !important;
    line-height: 35px !important;
    margin-right: 10px;
    width: 34px;
}
.banner .num ol li.on {
    background:  red;
}
.banner .btn {
    position: absolute;
    top: 0;
    width: 100%;
}
.banner .btn .btn-group {
    height: 450px;
    margin: 0 200px 0 250px;
    position: relative;
}
.banner .btn a {
    background-color: #000;
    height: 100px;
    margin-top: -50px;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    width: 50px;
    z-index: 2;
}
.banner .btn-left {
    left: 0;
}
.banner .btn-right {
    right: 0;
}
.banner .btn i {
    background-image: url("../images/icons.__1442221540__.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 31px;
    margin: 35px 19px 0 14px;
    overflow: hidden;
    width: 17px;
}
.banner .s-left {
    background-position: 0 -980px;
}
.banner .s-right {
    background-position: -30px -980px;
}
.banner .btn a:hover .s-left {
    background-position: -60px -980px;
}
.banner .btn a:hover .s-right {
    background-position: -90px -980px;
}