/*----------------EXchange lsit css-------------------*/
.EtGA{height:100px;border-bottom:#9198a0 solid 2px;margin-bottom:1px;}
.EtGA p{width:215px;display:block;}
.EtGA p a{display:block;height:20px;padding-bottom:3px;}

.BdPiLTl{height:33px;line-height:24pt;border:#c6cad5 solid 1px;padding-left:15px; background:#e8f1fe;}
.BdPiLTl a , .BdPiLTl i{margin:0 5px;}

.BdPiL{width:638px;height:1645px;border:#cbdcf7 solid 1px;border-top:0;margin-right:10px;}
.BdPiL ul{height:146px;display:block;padding-left:20px;padding-top:10px;border-bottom:#ddd dashed 1px; list-style:none;}
.BdPiL ul li{height:27px; line-height:27px;display:block;padding-left:15px; background:url(http://hs.cnfol.com/ub/Images/icon11.gif) left center no-repeat;}
.BdPiL ul li a{font-size:14px;}
.BdPiL ul li i{margin-right:20px;color:#999999;}
.BdPiL ul.BdPiLSpUl{background:#f8fafd;}

.BdPiLBt{heihgt:24px;display:block; text-align:right;padding-right:10px;}
.BdPiLBt a{width:86px;height:24px; line-height:18pt; text-align:center;font-size:14px;font-weight:bold;display:inline-block; background:url(http://hs.cnfol.com/ub/Images/bt2.gif) no-repeat;margin-right:10px;}
.BdGa1{border:#cbdcf7 solid 1px;border-top:0;padding:5px;border-bottom:0;background:#f8fafe;}

.BdPiR{width:310px;}
.BdPiRM1{border:#cbdcf7 solid 1px;height:265px;}
.BdPiRMT{height:26px;border-bottom:#cbdcf7 solid 1px; background:url(http://hs.cnfol.com/ub/Images/l1.gif) top repeat-x;display:block;padding-left:10px;padding-right:10px;}
.BdPiRMT i{height:26px;line-height:20pt;font-size:14px;font-weight:bold;display:inline-block;padding-left:20px; background:url(http://hs.cnfol.com/ub/Images/icon12.gif) left center no-repeat;}
.BdPiRMT a{height:26px;line-height:20pt;color:#666666;display:inline-block;}

.BdPiRM1 p{padding:0 10px;padding-top:5px; background:#f8fafe;}
.BdPiRM1 p a{height:20px; line-height:20px;display:block;margin-bottom:3px;padding-left:10px; background:url(http://hs.cnfol.com/ub/Images/dot.gif) left center no-repeat;}

.BdPiRM2{height:298px;}
.BdPiRM2 p{padding:10px 5px;}

.BdPiRM3{padding:5px;border:#cbdcf7 solid 1px;}

/*-----------------Ex Detitle css------------------------*/
.ExDe1{width:640px;height:auto;border:0;margin-right:10px;}
.EDArt{border:#cbdcf7 solid 1px;border-top:0;padding:20px 10px 20px 20px;}
.EDArt h1{height:30px;font-size:20px;font-weight:bold;display:block; text-align:center;}
.EDArt label{color:#999999;display:block; text-align:center;}
.EDArt span{height:21px;display:block;border-top:#c5c5c5 dashed 1px; background:#f7f7f7;margin-top:15px; text-align:center;}
.EDArt i{width:90px;padding-left:20px;height:20px; line-height:20px;display:inline-block;text-align:left;}
.EDArt i.EDCom{background:url(http://hs.cnfol.com/ub/Images/tt1.gif) left center no-repeat;}
.EDArt i.FtSz{background:url(http://hs.cnfol.com/ub/Images/tt8.gif) left center no-repeat;padding-left:15px;}
.EDArt i.FtSz a{margin:0 2px;}

.EDArt p{font-size:14px;}

.EDArt em{height:60px;display:block;margin-top:10px;padding-top:5px;font-style:normal;color:#999;border-top:#ddd dotted 1px;}

.EDABtn{hieght:21px; text-align:right;}
.EDABtn a{height:21px;display:block;width:85px;float:right; }
.EDABtn a.EDABtn1{background: url(http://hs.cnfol.com/ub/Images/tt2.gif) no-repeat;margin-right:40px;}
.EDABtn a.EDABtn2{padding-left:20px; line-height:21px;background: url(http://hs.cnfol.com/ub/Images/tt3.gif) left center no-repeat;}

.EDArt pre{width:100%;display:block;}

.EDBlog{}
.EDBTop{height:60px; background:#fafafa;}
.EDBTop span{width:29px;height:55px;color:#152b58;display:block; background:url(http://hs.cnfol.com/ub/Images/tt4.gif) no-repeat;font-size:14px;font-weight:bold;padding-left:10px;padding-top:5px;float:left;}
.EDBTop p{width:343px;height:53px;display:block;border-top:#dddddd solid 1px;border-bottom:#dddddd solid 1px;float:left;padding-top:5px;padding-left:15px;}
.EDBTop p a{font-size:14px;color:#152b58;}
.EDBTop p.EDBTP{width:187px;border-right:#ddd solid 1px;}

.EDBBt{border:#ddd solid 1px;border-top:0;}
.EDBBt span{height:33px; line-height:26pt;font-size:14px;font-weight:bold;color:#152b58;display:block; background:url(http://hs.cnfol.com/ub/Images/tt5.gif) left center no-repeat;}
.EDBBt ol{padding:15px;display:block;}
.EDBBt ol li{width:78px;float:left;display:block;margin:0 20px; text-align:center;}
.EDBBt ol li a{padding:4px;border:#dcd0d6 solid 1px;display:block;margin-bottom:5px;}
.EDBBt p{height:30px;display:block; text-align:center;padding-bottom:30px;}
.EDBBt p a{width:96px;height:30px; line-height:30px;font-size:14px;color:#152b58;display:inline-block;}
.EDBBt p a.EDBBt1{ background:url(http://hs.cnfol.com/ub/Images/tt6.gif) no-repeat; line-height:24pt;color:#fff; font-weight:bold;}

.EDMyWd{border:#c8daf7 solid 1px;}
.EDMyWd p{height:22px;display:block; line-height:22px;padding:15px 25px;}
.EDMyWd input{width:106px;margin-right:10px;}
.EDMyWd p a{width:45px;height:21px; line-height:16pt; background:url(http://hs.cnfol.com/ub/Images/tt7.gif) left center no-repeat;display:inline-block;margin-right:10px; text-align:center;}
.EDMyWd  textarea{width:594px;height:94px;border:#ddd solid 1px;margin:0 auto;display:block; overflow-y:scroll;}
.EDMyWd label{heihgt:24px;display:block; text-align:right;padding:10px 0;padding-right:20px;}
.EDMyWd label a{width:73px;heihgt:24px; line-height:18pt;display:inline-block; font-size:14px;background:url(http://hs.cnfol.com/ub/Images/icon6.gif) no-repeat; text-align:center;}

.EDHtAt{width:638px;border:#c8daf7 solid 1px;}
.EDHtAt1{width:318px;border-right:#c8daf7 solid 1px;float:left;}
.EDHtAt2{border:0;width:319px;}
.EDHtAt1 p{padding-left:15px;padding-top:8px;padding-bottom:10px;}
.EDHtAt1 p a{height:20px; line-height:20px; background:url(http://hs.cnfol.com/ub/Images/dot.gif) left center no-repeat;padding-left:7px;display:block;}

.EDFoEv{border:#c8daf7 solid 1px;}
.EDFoEv ol{display:block;padding:13px;height:100%;padding-bottom:0;}
.EDFoEv ol li{width:125px;float:left;padding:5px; background:url(http://hs.cnfol.com/ub/Images/picBg.gif) center top no-repeat; text-align:center;padding-bottom:0;margin:0 9px;}
.EDFoEv ol li a{display:block;margin-bottom:7px;}