@charset "utf-8";
/* CSS Document */
.icon{display:inline-block; vertical-align:middle;}
.icon16{ padding:0 0 0 20px;}
.iconx24{ width:24px; height:24px;}
.icon32{ padding:0 0 0 32px;}
/* icon  size 22x22 */
.icon-print,
.icon-file,
.icon-save{ background:url(../../images/icons/icons.png)  no-repeat; padding-left:22px; height:22px;}
.icon-print{background-position: -58px  0;}
.icon-file{background-position: 0 0;}
.icon-save{background-position: -28px 0;}

/* icon  size 16x16 */
.icon-file2,
.icon-files,
.icon-news,
.icon-addfrd,
.icon-sendmsg,
.icon-disable,
.icon-moveUp,
.icon-moveDown,
.icon-disable{ background:url(../../images/icons/icon16.png) no-repeat;display:inline-block; width:16px; height:16px;}
.icon-file2{ background-position:-16px 0; }
.icon-files{ background-position: -304px -48px;}
.icon-news{background-position: -272px -32px;}
.icon-disable{background-position: -64px 0; }
.icon-addfrd{ background-position: -96px -16px;}
.icon-sendmsg{ background-position: -112px -16px;}
.icon-moveUp{ background-position: -96px 0;}
.icon-moveDown{ background-position: -112px 0;}
.icon-disable{ background-position: -64px 0;}

/* icon  size 16x16 */
.icon-gay-love,
.icon-gay-message,
/*.icon-gay-close,*/
.icon-gay-right,
.icon-tool,
.icon-talk{padding-left:16px; height:16px; background-repeat: no-repeat ;}
.icon-gay-love{background-image:url(../../images/icons/icon-gay-love.png); }
.icon-gay-message{background-image:url(../../images/icons/icon-gay-message.png); }
/*.icon-gay-close{background-image:url(../images/icons/icon-gay-close.png);}*/
.icon-gay-right{background-image:url(../../images/icons/icon-gay-right.png);}
.icon-tool{background-image:url(../../images/icons/icon-tool.png); }
.icon-talk{background-image:url(../../images/icons/icon-talk.png); }

.icon-blue-apple,
.icon-blue-attention,
.icon-blue-del,
.icon-blue-join,
.icon-blue-reply,
.icon-blue-bookmark,
.icon-blue-call,
.icon-blue-check,
.icon-blue-comment,
.icon-blue-edit,
.icon-blue-addfriends,
.icon-blue-friends,
.icon-blue-applyjoin,
.icon-blue-print,
.icon-blue-ratify,
.icon-blue-save,
.icon-blue-sendmessage,
.icon-blue-turn,
.icon-gay-close{padding-left:16px; height:16px;  background:url(../../images/icons/icon-bluebtn-16x16.png) no-repeat;}
.icon-blue-apple{background-position: 0 0;}
.icon-blue-del{background-position: -16px 0;}
.icon-blue-applyjoin,
.icon-blue-join{background-position: -32px 0;}
.icon-blue-reply{background-position: -48px 0;}
.icon-blue-bookmark{background-position: -64px 0;}
.icon-blue-call{background-position: -80px 0;}
.icon-blue-attention{background-position: 0px -16px;}
.icon-blue-edit{background-position:-16px -16px;}
.icon-blue-addfriends{background-position:-32px -16px;}
.icon-blue-friends{background-position:-48px -16px;}
.icon-blue-print{background-position: -64px -16px;}
.icon-blue-check{background-position: -80px -16px;}
.icon-blue-ratify{background-position: 0px -32px;}
.icon-blue-save{background-position: -16px -32px;}
.icon-blue-sendmessage{background-position: -32px -32px;}
.icon-blue-turn{background-position: -48px -32px;}
.icon-blue-comment{background-position: -64px -32px;}
.icon-gay-close{background-position: -80px -32px;}

/* icon  size 10x10 */
.icon-red-block,
.icon-yel-block,
.icon-blue-block{padding-left:10px; height:10px;}
.icon-red-block{ background:#ffdede; }
.icon-yel-block{ background:#f0e1de;}
.icon-blue-block{ background:#DEEDFF;}


/* icon  size 22x13 */

.icon-blist,
.icon-blist-on,
.icon-mlist,
.icon-mlist-on{background:url(../../images/icons/icon-list-type.png) no-repeat 0 2px;  padding-left:22px; height:13px;}
.icon-blist-on{background-position:0 -28px;}
.icon-mlist{background-position:0 -43px;}
.icon-mlist-on{background-position:0 -13px;}
.icon-blist-on,
.icon-mlist-on{color:#e47028;}

/* icon  size other */
.error{background:url(../../images/icons/icon_error.gif) no-repeat; padding-left:14px; height:14px; }
.error-1{background:url(../../images/icons/icon_error.png) no-repeat; padding-left:16px; height:14px;}
.success{background:url(../../images/icons/icon_success.png) no-repeat; padding-left:16px; height:13px;}
.warnning{background:url(../../images/icons/icon_warnning.png) no-repeat; padding-left:94px; height:91px;}
.message{background:url(../../images/icons/icon_message.png) no-repeat; padding-left:74px; height:51px;}

.icon-delete{background:url(../../images/icons/right_opts.png) no-repeat -32px 0; padding-left:20px; height:16px;}
.icon-photo{background:url(../../images/icons/icon-photo.png) no-repeat;  padding-left:34px; height:27px;}
.icon-video{background:url(../../images/icons/icon_video.png) no-repeat;  padding-left:30px; height:30px;}

.icon-photo1{background:url(../../images/icons/icon-photo1.png) no-repeat;  padding-left:34px; height:27px;}
.icon-return{background:url(../../images/icons/icon-return.png) no-repeat 0 center;  padding-left:22px; height:16px;}

.icon-push{background:url(../../images/icons/icon-push.png) no-repeat 0 center;  padding-left:18px; height:15px;}
.icon-pull{background:url(../../images/icons/icon-pull.png) no-repeat 0 center;  padding-left:18px; height:15px;}
.icon-success{background:url(../../images/icons/icon-blue-success.png) no-repeat 0 center;  padding-left:16px; height:16px;}
.icon-up{background:url(../../images/icons/icon-up.jpg) no-repeat 0 center;  padding-left:18px; height:16px;}
.icon-down{background:url(../../images/icons/icon-down.jpg) no-repeat 0 center;  padding-left:22px; height:16px;}
.icon-pic{background:url(../../images/icons/iconp.png) no-repeat 0 center;  padding-left:22px; height:16px;}


.icon-edit{background:url(../../images/icons/edit1.png) no-repeat 0 center;  padding-left:18px; height:16px;}
.icon-disallow{background:url(../../images/icons/disallow.png) no-repeat 0 center;  padding-left:22px; height:16px;}

.icon-blue-add{background:url(../../images/icons/icon-blue-add.png) no-repeat 0 center;  padding-left:18px; height:16px;}
.icon-blue-close{background:url(../../images/icons/icon-blue-close.png) no-repeat 0 center;  padding-left:18px; height:16px;}



.icon-mail{background:url(../../images/icons/icon-mail.png) no-repeat 0 center;  width:16px; height:16px;  line-height:23px;}
.icon-tips{background:url(../../images/icons/icon-tips.png) no-repeat 0 center;  width:68px; height:23px; text-align:center; line-height:23px;font-weight:normal; color:#f79646;}
.icon-packup{background:url(../../images/viewbg12.jpg) no-repeat right;  padding-right:16px; height:12px;  line-height:12px; }

/* close size 9x8 */
.close-1,
.close-2,
.close-3{display:inline-block; width:9px; height:8px; background-repeat: no-repeat;}
.close-1{background-image:url(../../images/icons/icon_close_3.gif);}
.close-2{background-image:url(../../images/icons/icon_close_2.png);}
.close-3{background-image:url(../../images/icons/icon_close_1.png);}

.close-5{background:url(../../images/icons/icon_close_5.png);display:inline-block; padding-right:25px; height:25px;}
.close-5:active{background:url(../../images/icons/icon_close_5_click.png) no-repeat;}
/*===== title =====*/
.square{background:url(../../images/icons/title_bg.png) no-repeat 0 -1px;}
.circle{background:url(../../images/icons/title_bg.png) no-repeat -3px -15px;}
.circle_small{ background:url(../../images/icons/listType.png) left top no-repeat;}
.mapschHelp{ background:url(../../images/icons/mapschNote.png) no-repeat left;}
.delBtn{background:url(../../images/icons/icon_close.png) right center no-repeat;}
.AM_photoAlbum{background:#eef9fb url(../../images/icons/AM_photoAlbum.png) no-repeat left center;}
.AM_photoAlbum{background:#eef9fb url(../../images/icons/AM_photoAlbum.png) no-repeat left center;}
/*list*/
.listUp{background:url(../../images/icons/icon_operaList.png) no-repeat 0 0;}
.listDown{background:url(../../images/icons/icon_operaList.png) no-repeat -17px 0;}
.listEdit{background:url(../../images/icons/icon_operaList.png) no-repeat -42px 0;}
.listDel{background:url(../../images/icons/icon_operaList.png) no-repeat -64px 0;}
/*array*/
.array1{ background:url(../../images/icons/array.png) no-repeat 0 0;}
.array2{ background:url(../../images/icons/array.png) no-repeat 0 -24px;}
.array3{ background:url(../../images/icons/array.png) no-repeat 0 -48px;}
.array4{ background:url(../../images/icons/array.png) no-repeat 0 -72px;}
.array5{ background:url(../../images/icons/array.png) no-repeat 0 -96px;}
.array6{ background:url(../../images/icons/array.png) no-repeat 0 -118px;}
/*verify*/
.verify_accept{ width:16px; height:16px; display:block; background:url(../../images/icons/accept.png) no-repeat left center;}
.verify_cross{ width:16px; height:16px; display:block; background:url(../../images/icons/cross.png) no-repeat left center;}
/*title*/
.car{ width:24px; height:24px;  background:url(../../images/icons/icon24.png) no-repeat 0 0; display:inline-block;}
.offmember{ width:24px; height:24px;  background:url(../../images/icons/icon24.png) no-repeat -24px 0; display:inline-block;}
.weather { width:24px; height:24px; background:url(../../images/icons/icon24.png) no-repeat 0 -48px; display:inline-block;}
.icon-save24{ width:24px; height:24px; background:url(../../images/icons/icon24.png) no-repeat -96px 0;display:inline-block;}
.icon-del24{ width:24px; height:24px; background:url(../../images/icons/icon24.png) no-repeat -72px 0;display:inline-block;}
.icon-print24{ width:24px; height:24px; background:url(../../images/icons/icon24.png) no-repeat -48px 0;display:inline-block;}

/*link icon*/
.replaypackup{background:url(../../images/icons/upArrow2.png) no-repeat right top; padding:0 18px 0 0;}
.replayshow{background:url(../../images/icons/replayshow.png) no-repeat right center; padding:0 18px 0 0;}

.delPhoto{ background:url(../../images/icons/icon_close_5.png) no-repeat left center; position:absolute; display:block; width:25px; height:25px; right:3px; top:3px;}


.myact-opera .ico {
    background: url("../../images/icons/icon_myact_opera.png") no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 17px;
    margin: 0 3px;
    overflow: hidden;
    vertical-align: middle;
    width: 17px;
}
.myact-opera .icon_1 {
    background-position: 0 0;
}
.myact-opera .icon_2 {
    background-position: -31px 0;
}
.myact-opera .icon_3 {
    background-position: -63px 0;
}
.myact-opera .icon_4 {
    background-position: -96px 0;
}
.myact-opera .icon_5 {
    background-position: -125px 0;
}