doctype
html(lang="zh-cn")
    head
        block head
            meta(charset="utf-8")
            meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
            //title title
            meta(name="keywords", content="keywords")
            meta(name="description", content="description")
            link(rel="stylesheet",type="text/css",media="all",href="index.css")
            link(rel="stylesheet",type="text/css",media="all",href="../../font-awesome/font-awesome.css")

        block css
    body
        - var types = [  'primary', 'muted', 'info', 'success', 'warning', 'danger', 'dark', 'light'] ;
        .code-example(title='alerts')
            each item in types
                .alert(class='alert alert-'+item)
                    | alert demo~!

        - var types = [  'xs', 'sm', 'md', 'lg', 'xlg', 'xxlg', 'xxxlg'] ;
        .code-example(title='alerts')
            each item in types
                .alert(class='alert alert-' + item)
                    | alert demo~!

        footer.footer
            a http://segmentfault.com/a/1190000000357534
            a(href="http://www.alienjs.net") http://www.alienjs.net
            p if, else if, else, until, while, unless
        script(src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js")
