@charset "utf-8";
/*
* @name		:Template
* @author	:czy
* @version	:1.0.0.0
* @type		:公共
* @explain	:
* @relating	:
* @dependent:
* @date     : 2011-05-16
* @qq       : 274142680@qq.com
*/
/* ************ template ************* */

/* template */
html{background:#fff; overflow:inherit;}
body {font: 12px/1.5 tahoma,宋体,arial;color:#666; height:auto; background:url(../images/bg-body.gif)}

/* grid */
.grid .g-l-175{ float:left;width:175px; _margin-right:-3px;}
.m-l-240{ margin-left:240px;}
.m-l-220{ margin-left:220px;}
.m-l-210{ margin-left:210px;}
.container,.banner,.footer,.header{ margin:0 auto;width:1000px;}
.container{ background:#f3f3f3 url(../images/bg-container.gif) repeat-x; }
.topbar{ background:url(../images/../images/bbg.gif) repeat-x;  }
.footer{ padding:0 0  100px 0;}
.banner{ height:auto;}
.banner .b-line{}
.banner{ position:relative; z-index:1; }

.sidenav{font-size:14px;}
.sidenav ul{ margin-left:20px;}
.sidenav li { margin:10px 0;}
.sidenav li a{display:block; width:190px;background:url(../images/nav-nor.gif) no-repeat; height:35 px;width:177px; text-align:center; line-height:35px;}
.sidenav li a.cur{ background:url(../images/nav-cur.gif) no-repeat;}
.sidenav li a:hover{ text-decoration:none;} 
.sidenav .title{}

/* about */

.artical{ padding:0 20px 20px 0;overflow:hidden; }
.artical .b-line{ margin-top:6px;}
.artical .topnav{ margin-top:23px;}
.artical .content{ background:#fff;}

.content{ padding:40px; border:4px solid #efeeec; line-height:25px;}
.content h1{ color:#fff;  font-family:微软雅黑; font-size:16px; text-align:center; color:#d24040;}
.content h2{ color:#e57511;}
.content p{ font-size:14px;}

.topnav{ background:url(../images/ico-nav.gif) no-repeat 0 3px; padding-left:14px;}
.topnav li{ display:inline-block; *display:inline; zoom:1; vertical-align:middle; margin:0 1px; }
.topnav li a.cur{ color:#bc794f;}

.b-line{ background:#ee7700;height:4px; font-size:0;}

/* adv */
.adv{ background:#fff; border:4px solid #efeeec; }
.adv .pager{ padding:0 10px 30px 10px; text-align:center;}
.advlist{ padding:0 13px;}
.advlist li
{  background:url(../images/img-border.gif) no-repeat;width:239px; height:194px; margin:13px 0;}
.advlist img{ margin:5px;}
.advlist a{ display:block; text-align:center;}

.pager span,
.pager a
{ margin:0 10px; display:inline-block; *display:inline; zoom:1; color:#000;}

/* adv-detail */
.adv-detail{ background:#fff; padding:10px; color:#444444; line-height:25px;border:4px solid #efeeec; }
.adv-detail h1{  font-weight:bold; font-size:14px;}
.adv-detail h2{ color:#ff0100;}
.adv-detail .detail{ margin-top:15px;}

.img-border{background:url(../images/img-border-big.gif) no-repeat;width:239px; height:194px;}
.img-border img{ margin:10px;}

.simble-pager{ font-size:14px;}
.simble-pager a{ color:#d32703; margin:0 10px;}
.simble-pager span{ color:#732c00; margin:0 25px 0 5px;}

/* news */
.news{ padding:20px; background:#fff;border:4px solid #efeeec; }
.newslist li{ border-bottom:1px dotted #ccc; padding:5px 0;}
.newslist li .img{ padding:2px;  border:1px solid #ccc; margin-right:5px;}
.newslist h3{ color:#e69b24; font-size:14px;}
.newslist .time{ text-align:right; display:block; color:#7a7a7a;}
.newslist li .i{ color:#e69b24;  margin-right:3px;}

/* news-detail */
.news-detail{ padding:20px; background:#fff;border:4px solid #efeeec; color:#000;}
.news-detail h1{ color:#d32703; padding:15px 0; border-bottom:1px solid #d0beb0; text-align:center; margin-bottom:15px;}
.news-detail h2{ color:#e57511;}
.news-detail .break{ margin-top:10px;}
.news-detail .time{ color:#7a7a7a; text-align:right; margin:15px 60px 5px 0;}
