/* Style Sheet
 * Use for: dota.766.com/****
 * Created: 2012-02-16
 * Update: 
 * Author: sheng
 */

/* =======css reset======= */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, big, em, font, img, strong, tt, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td{ padding: 0; margin: 0;}
table { border-collapse:collapse; border-spacing:0;}
fieldset, img { border:0;}
button,input,select,textarea{ font-size:12px;}
ol,ul,li{ list-style:none}
h1, h2, h3, h4, h5, h6 { font-size:100%;}

/* =======public======= */

body { font-size:12px; line-height:22px; color:#3f3f3f; font-family:simsun,Arial;}

.clear { clear:both; overflow:hidden; height:0;line-height:0;font-size:0;}

/* news */

.news { width:415px; height:450px; background-color:#FFF;}

.tit { background:url(../images/CFPL_03.jpg) no-repeat; width:415px; height:26px; position:relative;}

.more { position:absolute; width:56px; height:22px; overflow:hidden; left:343px; cursor:pointer;}
.more a { display:block; width:56px; height:22px;}

.word1 h3 a { margin-left:35px; color:#b86b20; font-weight:bold; font-size:14px; line-height:50px; height:50px; text-decoration:none;}
.word1 h3 a:hover { color:#b86b20; text-decoration:underline;}

.list_news1 { width:415px; margin:0 auto;}
.list_news1 li { overflow:hidden; width:373px; margin-left:18px;}
.list_news1 li a { font-size:12px; line-height:22px; color:#3f3f3f; text-decoration:none;}
.list_news1 li a:hover { font-size:12px; line-height:22px; color:#0092db; text-decoration:underline;}
.list_news1 b { font-weight:normal; padding-right:15px;}
.list_news1 code { float:right;}

.line { background:url(../images/CFPL_06.png) no-repeat; width:401px; height:1px; margin:10px 0 10px 0;}

.list_news2 { width:321px;float:left}
.list_news2 li { overflow:hidden; margin-left:10px;}
.list_news2 li a { font-size:12px; line-height:22px; color:#3f3f3f; text-decoration:none;}
.list_news2 li a:hover { font-size:12px; line-height:22px; color:#0092db; text-decoration:underline;}
.new h4 { background:url(../images/CFPL_10.png) no-repeat left 7px;padding-left:10px; color:#0092db; float:left; margin-left:8px; font-weight:normal;}
.list_news2 code { float:right;}

.recommend { margin-left:8px; margin-top:2px;}
.tuijian { width:377px; height:79px; border:1px #d1d1d1 solid; display:block; padding:10px; background-color:#fefefe;}
.tuijian li { float:left; width:185px; margin-right:3px;}


/* live */

.live{ width:548px; height:185px; float:left; margin-top:15px;}

.tit1 { background:url(../images/CFPL_14.jpg) no-repeat; width:548px; height:33px;}

.lives { width:543px; height:137px; background-color:#FFF;}
.lives h3 { font-weight:bold; color:#0092db; font-size:14px; text-align:center; line-height:30px; margin-bottom:4px;  height:29px;}
.match { width:534px; border:1px #d1d1d1 solid; display:block; height:102px; margin:0 auto;}
.datatable { width:100%;}
.datatable th { height:25px; font-size:12px; text-align:center; margin:0 auto; background-color:#ffffff; font-family:Microsoft YaHei; line-height:24px; font-weight:normal;}
.datatable th a { font-size:12px; line-height:22px; color:#e08d5a; text-decoration:none;}
.datatable th a:hover { font-size:12px; line-height:22px; color:#e05a5a; text-decoration:underline;}
.datatable td { height:25px; font-size:12px; text-align:center; margin:0 auto; background-color:#f3f3f3; font-family:Microsoft YaHei; line-height:24px;}
.datatable td a { font-size:12px; line-height:22px; color:#e08d5a; text-decoration:none;}
.datatable td a:hover { font-size:12px; line-height:22px; color:#e05a5a; text-decoration:underline;}

.container{ width:543px;}
.container,.scrollDiv{ position:relative; }
	.scrollDiv{ margin:0 auto; font-size:12px; width:543px; height:137px; overflow:hidden; }
		.scrollDiv ul{ position:absolute; width:400%; }
		.scrollDiv li{ line-height:24px; width:548px; margin:0 5px 0 0;height:137px; overflow:hidden; display:inline; float:left;}
	.rightscroll,.leftscroll{ position:absolute; display:block; background:url(../images/btn.png) no-repeat; width:193px; height:29px; font-family:Microsoft YaHei; font-size:14px; font-weight:bold; color:#FFF; line-height:29px; overflow:hidden; top:0px; text-decoration:none; text-align:center;}
	.scrollStop{ background:#ddd; }
		.leftscroll{ left:0px; }
		.rightscroll{ right:0px;}
	.scrollContent{ float:left; width:206px;}

/* video */

.tit2 { background:url(../images/left.jpg) no-repeat; width:523px; height:38px; position:relative;}

.more1 { position:absolute; width:50px; height:38px; overflow:hidden; left:475px; cursor:pointer;}
.more1 a { display:block; width:50px; height:38px;}

.videolist { width:523px; height:157px; border:1px #d1d1d1 solid; display:block; background-color:#fefefe;}
.box1 li { float:left; width:131px; margin-left:32px; margin-top:15px;}
.box1 span { background:url(../images/ico.png) no-repeat 5px center; display:block; padding-left:30px; line-height:24px;}
.box1 li a { font-size:12px; line-height:22px; color:#3f3f3f; text-decoration:none;}
.box1 li a:hover { font-size:12px; line-height:22px; color:#0092db; text-decoration:underline;}
.box1 img { display:block;}

/* picture */

.tit3 { background:url(../images/right.jpg) no-repeat; width:404px; height:38px; position:relative;}

.more2 { position:absolute; width:50px; height:38px; overflow:hidden; left:356px; cursor:pointer;}
.more2 a { display:block; width:50px; height:38px;}

.picturelist { width:404px; height:157px; border:1px #d1d1d1 solid; display:block; background-color:#fefefe;}
.box2 img { border:1px #d1d1d1 solid; display:block; background-color:#fefefe; padding:3px;}
.box2 li { float:left; width:137px; margin-left:40px; margin-top:15px;}
.box2 p { text-align:center; width:131px;}
.box2 li a { font-size:12px; line-height:22px; color:#3f3f3f; text-decoration:none;}
.box2 li a:hover { font-size:12px; line-height:22px; color:#0092db; text-decoration:underline;}











