#loading {
	position: fixed;
	display: none;
	width: 100px;
	height: 60px;
	left: 50%;
	margin-left: -50px;
	top: 50%;
	margin-top: -30px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: url(../images/b450ca16.loading.gif) no-repeat center center
		rgba(0, 0, 0, .7);
	-webkit-background-size: 32px;
	-moz-background-size: 32px;
	-o-background-size: 32px;
	background-size: 32px
}
.redBold{color: red; font-weight: bold;}
.proColor a.sellOut{color: #ccc;}
.content ul{}
.content ul li.emptyLi{height:220px;padding:10px;}
.compareInfo{font-family: "微软雅黑"; max-width: 300px;    margin: 0 auto;
    width: 100%; font-size:14px; padding:3px 10px;  line-height:25px;color:#3E3E3E;}
    
.hmxz h3{height: 50px; padding-top:5px; padding-bottom:5px;}
#minConsume{line-height: 25px;height: 50px; display: inline; float: left; vertical-align: middle;}
.minConsume0{margin-top:12px; display: block;}
.hmxz h3 a:after {top: 16px;}
#dp{display: none;}
.bbpl li.first {border-top:1px solid #AEAEAE;}
.bbpl h2{border-bottom:1px solid #fff;}
.privilege{
	border:1px solid #CCC; padding:10px; background-color:#FFF; margin:8px 0 0 0; border-radius: 3px;line-height: 25px;
	display:none;
}
.hmxz h2.cardTypeBox a {
    width: 50%;
}
.marginL10{margin-left:10px;}
.marginL20{margin-left: 20px;}
.bold{font-weight: bold;}
.none{	display:none;}
a{cursor: pointer;}
span.zjPrice{position: absolute;  bottom: 2px; right: 5px; width: 65px; height: 49px;
background: url("../images/pro_icon_zj.png") no-repeat left top; background-size: contain;}
.selNumList{line-height: 25px;}
#mobileBox{min-height: 400px;}

.net_top_right p  .btn-pdr10{padding-left:4px; padding-right:4px;}
.gray{color: #999;}
.itemValue{width:90%; word-break:break-all; /*支持IE，chrome，FF不支持*/ word-wrap:break-word;/*支持IE，chrome，FF*/}
.cartPriceRemark{color: #f00; display: block;}

.footer{color: #666; text-align: center; padding:6px;}
.twoHeader{line-height:25px; padding-top:5px;}
.deliveryTitle{font-size: 12px; line-height: 15px; padding-bottom:5px;}
.buyFlowTitle{text-align: center; padding: 5px;}