
#circle-mod {
	position: absolute;
	bottom: 30px;
	left: 10px;
	overflow: hidden; background: #f00;
}

#container-circle {
	position: fixed;
	width: 40px;
	left: 10px;
	bottom: 50px;
	z-index: 111
}

#pop_tip{width:100%; left:0; top:45px; background:rgba(234,160,0,0.7); text-align:center; padding:10px 0; color:#FFF;}

#base-button {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 38px;
	-webkit-border-radius: 38px;
	-moz-border-radius: 38px;
	border-radius: 38px;
	height: 38px;
	width: 38px;
	-webkit-box-shadow: 0 0 0 1px #eb6619;
	-moz-box-shadow: 0 0 0 1px #eb6619;
	box-shadow: 0 0 0 1px #eb6619;
	padding: 0;
	border: 3px solid #FFF;
	background: url(../images/path_icon.png) no-repeat -17px -16px rgba(239, 93, 14, 0.87);
	-webkit-background-size: 70px 140px;
	-moz-background-size: 70px 140px;
	-o-background-size: 70px 140px;
	background-size: 70px 140px;
	opacity: 0.7; filter:alpha(opacity=70);
}

#base-button.hasProduct {
	background: url(bgimg/nav.gif) no-repeat -6px -6px;
	background-size: 52px 52px;
}

#base-button.open {
	background-position: -17px -87px
}

.menu-btn {
	position: absolute;
	height: 45px;
	width: 45px;
	top: 5px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 5px;
	background: #555;
	border: 3px solid #FFF;
	-webkit-transition: all 125ms;
	-moz-transition: all 125ms;
	-o-transition: all 125ms;
	-ms-transition: all 125ms;
	transition: all 125ms;
	font-size: 10px;
	line-height: 65px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center 0;
	-webkit-background-size: 54px 270px;
	-moz-background-size: 54px 270px;
	-o-background-size: 54px 270px;
	background-size: 54px 270px;
	background-image: url(../images/path_item_icon.png);
	background-repeat: no-repeat;
	display: none;
}

.menu-btn:nth-child(1){
    background-position: center -112px
}

.menu-btn:nth-child(2){
    background-position: center -165px
}

.menu-btn.selected{
	background-color:rgba(239, 93, 14, 0.87);
}

/*.menu-btn:nth-child(3){
	background-position: center -58px
}

.menu-btn:nth-child(4){
	background-position: center -5px
}*/
.menu-btn:nth-child(3){
	background-position: center -219px
}

.menu-btn a {
	display: block;
	width: 100%;
	height: 100%;
	color: #FFF
}

#button-1.open {
	-webkit-transform: translate3d(90px, -13px, 0);
	-moz-transform: translate3d(90px, -13px, 0);
	-ms-transform: translate3d(90px, -13px, 0);
	-o-transform: translate3d(90px, -13px, 0);
	transform: translate3d(90px, -13px, 0);
}

/*#button-2.open {
	-webkit-transform: translate3d(147px, -72px, 0);
	-moz-transform: translate3d(147px, -72px, 0);
	-ms-transform: translate3d(147px, -72px, 0);
	-o-transform: translate3d(147px, -72px, 0);
	transform: translate3d(147px, -72px, 0)
}*/

#button-2.open {
	-webkit-transform: translate3d(62px, -73px, 0);
	-moz-transform: translate3d(62px, -73px, 0);
	-ms-transform: translate3d(62px, -73px, 0);
	-o-transform: translate3d(62px, -73px, 0);
	transform: translate3d(62px, -73px, 0)
}

/*#button-4.open {
	-webkit-transform: translate3d(51px, -150px, 0);
	-moz-transform: translate3d(51px, -150px, 0);
	-ms-transform: translate3d(51px, -150px, 0);
	-o-transform: translate3d(51px, -150px, 0);
	transform: translate3d(51px, -150px, 0)
}*/

#button-3.open {
	-webkit-transform: translate3d(-2px, -105px, 0);
	-moz-transform: translate3d(-2px, -105px, 0);
	-ms-transform: translate3d(-2px, -105px, 0);
	-o-transform: translate3d(-2px, -105px, 0);
	transform: translate3d(-2px, -105, 0);
	
}
