.text-ellipsis  {overflow: hidden; text-overflow: ellipsis;white-space: nowrap; word-break: normal;word-wrap: normal;vertical-align: middle;}
.box_swipe , .box_swipe ul ,.box_swipe li , .box_swipe ol { margin: 0; padding: 0; list-style: none;}
.box_swipe {
    visibility: visible;
    overflow: hidden;
    position: relative;
    background: #fff;;
}
.box_swipe img{ width: 100%;}
.box_swipe ul {
    overflow: hidden;
    position: relative;
}
.box_swipe ul > li {
    float:left;
    width:100%;
    position: relative;
}
.box_swipe ul > li a{
    color:#FFF;
    text-decoration:none;
}
.box_swipe .mask{
    width: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 2;
    top: auto;
}
.box_swipe ul > li .title{
    display: block;
    width: 70%;
    padding:0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:#FFF;
    z-index:3;
    margin-bottom: 0;
}
.box_swipe .mask , .box_swipe ul > li .title,.box_swipe>ol{
    position: absolute;
    height: 40px;
    bottom: 0;
}
.box_swipe ul > li .title,.box_swipe>ol{
    padding-top: 8px;
}
.box_swipe>ol{
    width: 100%;
    z-index:2;
    text-align:right;
    padding-right:15px;
}
.box_swipe>ol>li{
    display:inline-block;
    width:8px;
    height:8px;
    background-color:#757575;
    border-radius: 8px;
}
.box_swipe>ol>li.on{
    background-color:#ffffff;
}