extends layout

block container
    table.article
        tr
            td.text-right.optionsbar
                a(href="order.html").btn.btn-primary 购物车
        tr
            td(colspan="100%")
                table
                    tr
                        td(width="300")
                            .text-center
                                img(src="../public/img/1.jpg")
                        td
                            .form
                                h3 HP LP3065
                                .form-item 型 号：Product 21 &nbsp;&nbsp; 积 分：300
                                .form-item 库存状态：有库存 &nbsp;&nbsp; *交货日期：12
                                .form-item
                                    | 购买数量：
                                    input(type="text", value="1").input.input-xs
                                .form-item
                                    a.btn.btn-primary 立即购买
                                    | &nbsp;
                                    a.btn.btn-default 加入购物车

                    tr
                        td(colspan="2")
                            .details
                                p.
                                    以 往到银行汇款需要排长长的队伍，除此之外，那些复杂的表格也令人头疼不已。向境外汇款多数是汇给留学的孩子，有了支付宝钱包，就能跟那些难以理解的表格说 再见了。不用担心父母不会使用支付宝钱包，孩子可在国外填好表单，并选择“邀请汇款”，父母只要选择同意付款即可完成，几分钟就能搞定全部流程。
                                                                                                            此项业务是支付宝钱包和上海银行合作推出的，不用担心安全问题，支付宝钱包只是简化了流程，具体操作还是由银行去完成的。用户可通过银行的服务窗了解到更多相关信息。

