extends layout

block container
    table.nav
        tr.optionsbar
            td 请选择商品
            td.text-right
                a(href="order.html").btn.btn-primary 购物车
        tr
            td(colspan="100%")
                table.table-list
                    tr
                        -for(var i = 0 ; i <= 3; i ++)
                            td
                                .thumbnail
                                    a(href="product.html")
                                        img(src="../public/img/1.jpg", width="200" , height="150")
                                    .thumbnail-info
                                        .title 商品#{i}
                                    .small.price ￥100.00 税前：￥100.00


