extends layout

block container

    .container
        .alert.alert-success
            div 恭喜您，定购成功！ 您的手机号码为：
                span.text-danger 123554339


        table.table
            caption
                | 订单号：#16 订单日期：2014-11-24
            tr
                th 名称
                th 单价
                th 数量
                th 总价
            tr
                td xxx
                td 200
                td x1
                td 2000
            tr
                td(colspan="2")
                td 商品总额
                td 2000
            tr
                td(colspan="2")
                td 订单总额
                td 2000

        .text-center.container
            a.btn.btn-primary(href="nav.html") 返回首页







