body,html{
    min-height: 100%;
}

.list-message{
    .content{ border-radius: 5px; background: #eeeeee; border: 1px solid #ddd; padding: 5px 10px; display: inline-block;}
    li{ margin: 10px;}
    li:nth-child(even){ text-align: right;}
}

.container{
    padding: 10px;
}

.toolbar{ background: #eeeeee;}
.fixed{
    position: fixed;
}

.list-media{
    li{ padding: 10px;border-bottom: 1px solid #ddd;}
}

.login{
    .modal{
        margin-top: 20%;
        bottom: auto;
        display: block;
        left: auto;
        position: relative;
        right: auto;
        top: auto;
        z-index: 1;
    }
    .form-group{
        margin: 0;
    }
    .form-group + .form-group{
        margin-top: 10px;
    }
}


body.fixed-bottom{
    padding-bottom: 70px;
    .fixed{
        bottom: 0;
        left: 0;
        width: 100%;
    }
}