@charset "utf-8";
/*
* @name		:Template
* @author	:czy
* @version	:1.0.0.0
* @type		:公共
* @explain	:
* @relating	:
* @dependent:
* @date     : 2011-05-16
* @qq       : 274142680@qq.com
*/
/* ************ template ************* */

/* template */
html{background:#fff}
body {color:#666; background:url(../images/bg-body.png) repeat-x; font-family:宋体;}
a{blr:expression(this.onFocus=this.blur());} /* IE */
a{outline:none;}/* FF */

.pd-10{ padding:0 10px;}
.pd-l-10{ padding-left:10px;}
.pd-l-5{ padding-left:5px;}
/* grid */

/* button */

/* line */

/* element */

.red,.red a{ color:#c80104;}
/* -- template -- */
.header,.container,.nav,.footer{ margin: 0 auto;width:1002px;}


.header{ background:url(../images/banner.png) no-repeat; height:180px; position:relative;}
.topbar{ padding:0 10px; height:27px; line-height:27px;color:#fff; position:relative; position:absolute; width:960px; }
.topbar a{ color:#fff;}

.container{ }
.grid .side{background:#f2f2f2; width:247px; margin-right:3px;}

.nav{ background:url(../images/bg-nav.png); height:63px;}
.nav ul{ height:26px; line-height:26px;width:980px; margin:0 auto;}
.nav li{ text-align:center; width:80px; height:28px; line-height:28px;}
.nav li.lar{width:87px;}
.nav a{ color:#610001; font-weight:bold; display:block;height:28px; overflow:hidden; }
.nav .cur{border:1px solid #e69e95; border-bottom:none; background:url(../images/nav-cur.png) 0 -28px; }
.nav .cur a{ color:#fff;}
.nav a:hover{border:1px solid #e69e95; border-bottom:none;  background:url(../images/nav-cur.png) 0 -28px;color:#fff;text-decoration:none;height:28px;}
.datemsg{ background: url(../images/bg-1.png) repeat-x; height:26px; color:#fff; line-height:26px; padding:0 10px;}

.mod{ margin:5px 0; background:#fff; border:1px solid #e3e0e0;}
.mod .hd{ background:url(../images/bg-mod-bd.png); height:27px; line-height:27px;} 
.mod .hd .title{ background:url(../images/img-mod-title.png) no-repeat; height:27px; line-height:27px;width:125px; color:#fff;  padding-left:25px; font-weight:bold;} 
.mod .hd .more{ margin-right:10px;}
.mod .bd{ padding:10px 0;}

.sidemod{ margin:5px 10px auto; }
.sidemod .table{font-weight:bold;}

.mod-1{ background:#fff;width:230px;}
.mod-1 .hd{ background:url(../images/bg-mod-hd-1.png); height:27px; line-height:27px;color:#fff;} 
.mod-1 .hd .title{ padding-left:28px; float:left;  font-weight:bold; font-size:14px; font-family:微软雅黑;} 
.mod-1 .hd .more{ float:right; margin-right:10px;}
.mod-1 .bd{ padding:5px; border:1px solid #cfcfcf;}

.mod-2{width:230px; background:#fff;}
.mod-2 .hd{ background:url(../images/img-public.png) no-repeat;height:30px; }
.mod-2 .bd{ padding:5px; border:1px solid #cfcfcf;}
.mod-2 .bd li{ background:url(../images/bg-item.png) no-repeat; width:187px; height:31px; padding-left:30px; line-height:31px;  font-family:微软雅黑; font-weight:bold; margin:5px auto;}
.mod-2 .bd li a{ color:#fff;}

.mod-3{width:227px;}
.mod-3 .hd{ padding-left:25px; background:url(../images/ico-1.png) no-repeat;font-size:14px;font-weight:bold;  font-family:微软雅黑;}
.mod-3 .table{ margin:10px 0;}

.mod-4{ overflow:hidden;}
.mod-4 .hd{ padding-left:20px; background:url(../images/bg-mod-hd.png) no-repeat; height:29px;width:321px; line-height:29px;}
.mod-4 .bd{ padding:10px;}

.table td{ border:1px solid #cfcfcf;width:106px; height:35px; line-height:35px; text-align:center; background:#fff;}

.newslist{}
.newslist li{ background:url(../images/ico-3.png) no-repeat 0 10px; padding-left:10px; line-height:31px;}

.newslist-1{}
.newslist-1 li{ display:block;line-height:27px;}

.newslist-2{ margin:0 10px;}
.newslist-2 li{ display:block;line-height:27px; border-bottom:1px dashed #ccc; background:url(../images/ico-2.png) no-repeat 0 10px; padding-left:10px;}
.newslist-2 li.last{ border:none;}

.footer{ text-align:center;}
.footer-msg{ line-height:30px; background:url(../images/bg-foo.png) repeat-x; height:67px;}
.footer-msg span{ margin:0 20px;}

.sitemap{ background:url(../images/bg-1.png) repeat-x; height:26px; line-height:26px; }
.sitemap li,
.sitemap a{ color:#fff;}
.sitemap a{ margin:0 10px;}

.topics li{ background:url(../images/bg-2.png) no-repeat;width:160px; height:46px; line-height:46px; padding-left:45px;font-family:微软雅黑; font-weight:bold; font-size:16px; margin:5px auto;}
.topics li,
.topics li a{ color:#fff;}

.modlist{ background:#fff; margin:10px auto; border:1px solid #ccc;}
.modlist .mod-4{ margin-right:20px;width:319px;}
.modlist .last{ margin-right:0;}

.modlist-1 .mod{width:368px; margin-right:5px;}
.modlist-1 .last{ margin-right:0px;}

.news{ text-align:center;}
.news a{ margin:5px 0;  display:block;}

.summary{ background:url(../images/boder.png) no-repeat; padding:10px;width:423px; line-height:22px;}
.summary h1{ color:#c80104; font-size:14px; text-align:center;}
.summary p{ text-indent:2em;}
.summary  .more{ color:#c80104;}

.tab { margin-left:10px;}
.tab .inner img{width:271px; height:233px; font-size:11px;}
.tab .tag { background:url(../images/bg-tab-tag.png);width:271px; text-align:right; } 
.tab .tag li{width:26px; height:14px; line-height:14px; border:1px solid #fff; text-align:center; margin-top:-4px;}
.tab .tag a{ color:#fff; margin:0;}
.tab .tag a:hover{ text-decoration:none;}
.tab .tag .current{ background:red;}

.search{ float:right; _padding-top:3px;}
.search img{vertical-align:middle;}
.search .text{ border:none; height:18px; background:#fff; line-height:18px; vertical-align:middle;}
.search .button{ background:url(../images/btn-search.png);width:40px; height:18px; line-height:18px;margin-left:10px; border:none; vertical-align:middle;}

.mod-5 .hd,.articlebar{ background:#d13d35; font-weight:bold; color:#fff; line-height:27px; padding-left:15px;}
.mod-2 .public li{ line-height:25px;}
.root{ font-weight:bold; color:#000; line-height:27px;}

.detail{ background:#fff;}
.articlebar{ font-size:16px; margin:5px;line-height:32px;}
.article{ padding:20px; padding-top:0; background:#fff;}
.article .title,.article .summ,.article h1{ margin:10px 0; text-align:center;}
.article .title{ font-weight:bold; font-size:14px;}
.article .summ{  font-size:12px;}
.article .summ a{ margin:0 5px;}
.article h1{ font-weight:bold; font-size:18px;}
.article  .close{ float:right; margin-right:20px; font-weight:bold;}