/* CSS Document */

.modlist-1 .mod{_width:366px;}
.search img{ vertical-align:middle;}
.search input{ vertical-align:middle;}
.nav li{ text-align:center; width:80px; height:28px; line-height:28px;}
.nav li,
.nav a{ vertical-align:top;}
.nav a:hover{ height:27px;}
.tab .inner{width:270px; height:226px; overflow:hidden;}
.tab .tag{ position:relative; }
.tab .tab li a{height:15px; overflow:hidden;}
.summary{ margin:0 auto;}

.grid .g-l-280{width:280px; float:left;}
.news .tab{ margin:0; text-align:left; margin-left:10px;}