<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
          需要执行的服务(轮询服务/天)的开始时间(晚上12点开始),精确到分钟
        -->
    <add key="WanerDaoPollingDayOfBeginTime" value="02:00" />
    <!--
          需要执行的服务的间隔时间(30分钟)
        -->
    <add key="WanerDaoPollingIntervalByHalfHour" value="00:30:00" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--数据库连接字符串-->
    <add name="DbConnection" connectionString="Server=aws-useast-rds-001.cfgoh4rcauny.us-east-1.rds.amazonaws.com;Database=savorboard;Uid=rdsroot;Pwd=Adminrds001;CharSet=utf8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>