
.header-inner,
.footer-inner{width:1200px; margin:0 auto;}
.bg-body{ background:#fff;}

.header-inner{ height:148px; background:url(../images/banner.jpg) no-repeat;}
.header{ background:#000;}
.footer{ border-top:1px  solid #ccc; margin-top:10px; padding:10px 0; background:#fff; }
.container{ background:#fff;}

.header,.footer{width:auto}
.add-collect-to{ background:#fff;}

.discount{ float:none;}
.discount .btn-2{ position:relative; right:0;top:0;} 