/* Style Sheet
 * Use for: 
 * Created: 2010-08-23
 * Update:  
 * Author: limi
 */

/* css reset */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, em, font, img, strong, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td{ padding: 0; margin: 0;}
table { border-collapse:collapse; border-spacing:0;}
fieldset, img { border:0;}
button,input,select,textarea{ font-size:12px;}
ol,ul,li{ list-style:none}
h1, h2, h3, h4, h5, h6 { font-size:100%;}

/* base */
body{ margin:0 auto; text-align:center; font-size:12px; font-family:"宋体"; color:#393939; background:url(../images/bg.jpg) repeat;}

/* character */
a{color:#393939; text-decoration:none;}
a:hover{color:#cf0f0f; text-decoration:underline;}

/* warp */
.full_bg{background:url(../images/full_bg.jpg) no-repeat center top; width:100%;}
.warpper{ width:980px; margin:0 auto; text-align:left;}
.clear{ height:0; line-height:0; font-size:0; overflow:hidden; clear:both;} 

/* header */
.header{ position:relative;}
.intro{position:absolute;left:177px;top:325px;height:196px;font-size:14px;line-height:24px;text-indent:2em;width: 176px;color:#cafe79;}
.tips{position:absolute;left:389px;top:332px;height:159px;font-size:12px;line-height:20px;width: 399px;color:#f6ff62;}
.nav{background:url(../images/nav.jpg); height:76px;}
.nav ul li{ float:left; display:inline; width:124px; height:51px; margin:0 0 0 22px}
.nav ul li a{ text-indent:-999em; overflow:hidden; display:block; width:124px; height:51px;}
.nav ul li a:hover{ background-image:url(../images/nav_over.jpg); background-repeat:no-repeat;}
.nav ul li.n1{ width:142px; height:58px; margin:0 23px 0 188px}
.nav ul li.n1 a{ width:142px; height:58px;}
.n1 a:hover{ background-position:-4px 0}
.n2 a:hover{ background-position:-191px 0}
.n3 a:hover{ background-position:-337px 0}
.n4 a:hover{ background-position:-483px 0}
.bg_01{background:url(../images/top_01.jpg); height:110px;}
.bg_02{background:url(../images/top_02.jpg); height:110px;}
.bg_03{background:url(../images/top_03.jpg); height:111px;}
.bg_04{background:url(../images/top_04.jpg); height:110px;}
.bg_05{background:url(../images/top_05.jpg); height:110px;}

/* 活动奖品 */
.piclist{background:url(../images/piclist.jpg); height:224px; overflow:hidden}
.piclist ul{ padding:52px 8px 0}
.piclist ul li{ width:180px; float:left; text-align:center; padding:10px 0; overflow:hidden; margin:0 5px; display:inline;}
.piclist img{ background:#0a0c0f; padding:3px; border:1px solid #4b4b4b; width:171px; height:98px; margin:0 auto 15px}
.piclist ul li a{ color:#999}
.piclist .prod_box{ float:left; width:870px; display:inline; overflow:hidden; height:210px; position:relative;}
.piclist .btn_l a,.piclist .btn_r a{display:block; height:190px; width:55px; margin-top:10px;}
.piclist .btn_l{ float:left; }
.piclist .btn_r{ float:right; }
.piclist .btn_l a:hover{background:url(../images/btnico.jpg) no-repeat 26px 92px;}
.piclist .btn_r a:hover{background:url(../images/btnico2.jpg) no-repeat 9px 92px;}

/* btn */
.btn{background:url(../images/btn.jpg); height:98px; overflow:hidden; position:relative}
.btn a{display:block; height:60px; text-indent:-999em; overflow:hidden;}
.btn a.btn1{position:absolute;top:29px;left:255px;width:180px;}
.btn a.btn2{position:absolute;top:27px;left:526px;width:180px;}
.btn a.btn1:hover{background:url(../images/btn_over.jpg) no-repeat -20px -20px; } 
.btn a.btn2:hover{background:url(../images/btn_over.jpg) no-repeat -291px -18px; } 

/* flash */
.box{background:url(../images/box.jpg) repeat-y;}
.flash{ border:1px solid #424242; padding:3px; background:#0d1114; height:674px; margin:0 auto;width:900px;}

/* footer */
.footer{ background:url(../images/footer.jpg) no-repeat; height:89px; color:#bbbbbb; line-height:24px; text-align:right; text-align:right; padding:70px 20px 0;}
.footer a{ color:#bbbbbb;}
