.shaixuan-page {
    background: #f2f2f2 none repeat scroll 0 0;
    transition: all .5s ease ;
    right: -100%;
    position: fixed;
    top: 0;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    z-index: 9999;
}
.shaixuan-page.in{
    right: 0;
}
.brand-select,.series-select{
    display: none;
}
.brand-select.in,.series-select.in{
    display: block;
}

.shaixuan-page h3 {
    background: #fff none repeat scroll 0 0;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}
.shaixuan-page h3 img {
    float: left;
    height: 50px;
    margin: 0 20px;
    width: 50px;
}
.shaixuan-page h4 {
    padding: 5px 10px;
}
.shaixuan-page table {
    border-collapse: inherit;
    border-spacing: 1px;
    width: 100%;
}
.shaixuan-page table.hotbrand a {
}
.shaixuan-page table.hotbrand img {
    display: block;
    margin: auto;
    max-width: 50px;
    padding: 5px 0;
    width: 80%;
}
.shaixuan-page td {
    background: #fff none repeat scroll 0 0;
    text-align: center;
}
.shaixuan-page td a {
    float: left;
    font-size: 14px;
    height: 100%;
    line-height: 30px;
    width: 100%;
}
.shaixuan-page .zimu td {
    width: 16%;
}
.shaixuan-page ul li {
    background: #fff none repeat scroll 0 0;
    margin-top: 1px;
}
.shaixuan-page ul li a {
    display: block;
    font-size: 14px;
    line-height: 30px;
    padding: 10px 5%;
    width: 90%;
}
.shaixuan-page ul li a img {
    float: left;
    height: 50px;
    margin-right: 10px;
    position: relative;
    top: -10px;
    width: 50px;
}
.shaixuan-page-pinggu-ppcx h3 {
    background: #fff url("icon-arrow-down.__1390287749__.png") no-repeat scroll 97% 15px / 18px auto;
}
.shaixuan-page-pinggu-ppcx h4 {
    color: #666;
    text-indent: 10px;
}
.shaixuan-page-pinggu-ppcx li {
    font-size: 18px;
    padding-left: 75px;
}
.shaixuan-page-pinggu-ppcx li a {
    color: #999;
}
.shaixuan-page-pinggu-ppcx li.chexi {
    background: #fff url("icon-arrow-down.__1390287749__.png") no-repeat scroll 97% 15px / 18px auto !important;
}

.fixedbar{

}