@charset "utf-8";
/* CSS Document */
em{ color:#f56868; font-weight:normal;}
.num{ color:#1992B1;}

.activity_myhistory{ overflow:visible;}
.AM_photoAlbum{ margin-bottom:10px;}
.AM_photoAlbum .chzn-container .chzn-single ,.AM_photoAlbum .text{ height:22px; line-height:22px;}

.albumsbar{border:1px solid #ddd ; background:#f9f9f9; padding:10px; margin-bottom:10px;}
.albumsbar h3{ font-weight:bold;}

.album-tabs{ margin-top:20px; height:800px;}
.album-tabs .album-clip{ height:700px;}

.albums{ margin-bottom:10px;}
.albums li{ margin:10px;}
.right-albums li{ margin:7px;}

.videos{ margin-bottom:10px; }
.videos li{ margin:10px;}
.right-videos li{ margin:6px;}

.album-tabs li{ margin-left:0;}

.video-upload-form{ width:800px; margin:30px auto; font-size:12px; word-spacing:0.5em; position: relative; z-index: 1;}
.video-upload-form .button{ margin:0 10px;}
.video-upload-form label{ margin:0 5px;}
.video-upload-form .textarea{ width:500px;}

.AM_photoAlbum a.icon{ line-height:normal; margin-left:20px;}

.album-title{ color:#333; font-weight:bold; margin:20px;}
.album-title .icon{ margin-left:5px;}
.album-title .num{ color:#1383a9; margin:0 5px;}


.flashplayer{ text-align:center; margin:20px auto; width:600px;}


/*.myhistoryMenu .text,
.myhistoryMenu .chzn-container{ height:17px;}*/
.video-right{ float:left;}

.media-footer{border-top:1px  dotted #ddd; padding:10px 0;}
.media-header{border-bottom:1px  dotted #ddd; padding:10px 0;}

.photoList .videos-item,
.photoList .videos-item img{ width:150px;}

/*====================================================== machen ===================================================*/

.mes_footer {
	width:1004px;
}
.mes_main {
	background:url(../images/mes_main_bg.png) center top repeat-y;
	width:1004px;
	margin:0px auto;
	padding:0 2px;
}
.mes_main_bot {
	background:url(../images/mes_main_bg_foot.png) center top no-repeat;
	height:6px;
	overflow:hidden;
}
.mes_box {
	position:relative;
	background: url(../images/per_box_bg.jpg) repeat-y 0 0;
	zoom:1;
}
.per_blog {
	background:none;
	padding:15px;
}
.mes_box_left {
	float:left;
	width:680px;
	margin-left:12px;
}
.mes_box_right {
	float:right;
	width:234px;
	padding:30px 33px 50px;
}
.mainlist {
	padding:17px 0px 0;
	_display:inline
}
/* 用户资料 */
i, em {
	font-style:normal;
}
.mes_box_right .user_card h1, .mes_box_right .user_card span, .mainlist .datum_hobby_le li a, .mainlist .datum_hobby_le .current a, .hobby_tagB, .hobby_sx, .datum_hobby .hobby_list .hobby_listB .hobby_tagC li .on, .hobby_sx, .datum_hobby .hobby_list .hobby_listB .hobby_tagC li .off {
	background:url(../images/per_nav.png) no-repeat;
}
.w676 {
	width:676px
}
.pt12 {
	padding-top:12px
}
.lh20 {
	line-height:20px!important
}
.editbg {
	background:url(edit_bg.jpg) repeat-y;
}
.datum_le {
	width:680px;
	float:left;
	margin-left:12px;
	display:inline
}
.mainlist .datum_hobby_le {
	float:left;
	width:143px;
}
.mainlist .datum_hobby_le li {
	margin-bottom:6px;
	overflow:hidden;
	height:35px
}
.mainlist .datum_hobby_le li a {
	display:block;
	width:143px;
	height:29px;
	text-align:center;
	padding-top:6px;
	background-position:-234px -34px;
	color:#fff;
	overflow:hidden;
	font-size:14px;
	text-decoration:none;
}
.mainlist .datum_hobby_le li a:hover {
	display:block;
	width:143px;
	text-align:center;
	background-position:-387px -34px;
	color:#fff;
	overflow:hidden;
}
.mainlist .datum_hobby_le  .current a{
	display:block;
	width:143px;
	background-position:-387px -34px;
	text-align:center;
	color:#fff
}
.datum_hobby {
	width:529px;
	float:left;
	margin-left:5px;
	padding-bottom:15px;
	_height:606px;
}
.datum_hobby .gz_tit {
	width:529px;
	padding:15px 0 10px 0;
	border-bottom:1px dotted #606060;
	margin-bottom:15px;
	font-weight:bold;
	background:url(../images/per_gz_tit.jpg) no-repeat 15px 20px;
	text-indent:33px;
	color:#1E82A2
}
.datum_hobby .hobby_list {
	width:529px;
	padding:15px 0 15px 0;
	border-bottom:1px dotted #606060;
	margin-bottom:15px
}
.datum_hobby .hobby_list .hobby_listT {
	position:relative;
	display:inline-block;
	width:505px;
	
	padding-left:25px
}
.datum_hobby .hobby_list .hobby_listT li {
	color:#7d7d7d;
	margin-bottom:12px;
	vertical-align:middle
}
.datum_hobby .hobby_list .hobby_listT .fdbox {
	position:absolute;
	bottom:0px;
	right:20px;
	height:20px;
	overflow:hidden
}
.datum_hobby .hobby_list .hobby_listT .fdbox a {
	display:block;
	float:right;
	height:20px;
	background:url(../images/per_edit.jpg) no-repeat 0 1px;
	text-indent:13px;
	color:#3A79A2;
	margin-left:12px;
	overflow:hidden;
}
.datum_hobby .hobby_list .hobby_listT li label {
	width:120px;
	height:16px;
	text-align:right;
	display:inline-block;
	
	vertical-align:top;
}
.datum_hobby .hobby_list .hobby_listT li p {
	display:inline-block;

}
.datum_hobby .hobby_list .hobby_listB {
	margin:20px 0 0 0;
	width:529px;
	
	display:inline-block;
}
.hobby_tagT {
	width:529px;
	height:11px;
	background:url(../images/per_tagT.jpg) no-repeat;
	overflow:hidden;
	display:inline-block;
}
.datum_hobby .hobby_list .hobby_listB .hobby_tagC {
	width:467px;
	padding:15px 30px;
	border:1px solid #e5e5e5;
	border-bottom:none;
	border-top:none;
	background:#f9f9f9;
	
	float:left;
	position:relative;
}
.marked{
	position:absolute;
	width:480px;
	height:178px;
	border:#F00 dashed 1px;
	left:16px;
	bottom:66px;
	z-index:0;
}
.datum_hobby .hobby_list .hobby_listB .hobby_tagC .txt_sm {
    border: 1px solid #C7DDEB;
    background: #FFFFE5;
    width: 430px!important;
    padding: 10px 10px 0 10px;
    height: 55px;
    color: #D24A18;
    line-height: 22px;
    margin: 15px 0;
}
.datum_hobby .hobby_list .hobby_listB .hobby_tagC li {
	padding:5px 0 6px;
	width:470px;
	clear:both;
	float:left;
}
.datum_hobby .hobby_list .hobby_listB .hobby_tagC li label {
	color:#7d7d7d;
	width:107px;
	height:24px;
	text-align:right;
	display:block;
	float:left;
	line-height:24px
}
.datum_hobby .hobby_list .hobby_listB .hobby_tagC li p {
	display:inline-block;
	float:left;
	line-height:22px;
	margin-right:5px;
	width: 80px;
    text-align: right;
}
.datum_hobby .hobby_list .hobby_listB .hobby_tagC li .inp_dx {
	width:11px;
	height:11px;
	border:1px solid #8d8d8d;
	margin-top:5px
}
.datum_hobby .hobby_list .hobby_listB .hobby_tagC li s {
	margin-right:9px;
	color:#666;
	text-decoration:none;
	float:left;
	display:block;
	line-height:24px
}
.datum_hobby .hobby_list .hobby_listB .hobby_tagC li span a {
	color:#3881A2;
}
.datum_hobby .hobby_list .hobby_listB .hobby_tagC .tag_edit {
	padding-top:10px;
	height:30px;
	overflow:hidden;
	width:460px
}
.datum_hobby .hobby_list .hobby_listB .hobby_tagC li .on {
	display:inline-block;
	width:102px;
	height:24px;
	background-position:-0px -95px;
	float:left;
	margin-left:5px;
	text-indent:15px;
	color:#000;
	line-height:24px;
	_line-height:28px
}
.datum_hobby .hobby_list .hobby_listB .hobby_tagC .hobby_but {
	width:74px;
	height:30px;
	background:url(but_blue.jpg) no-repeat;
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	border:none;
	margin-left:60px;
	cursor:pointer
}
.datum_hobby .hobby_list .hobby_listB .hobby_tagC .hobby_but01 {
	width:74px;
	height:30px;
	background:url(but_gray.jpg) no-repeat;
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	border:none;
	margin:0 15px;
	cursor:pointer
}
.datum_hobby .hobby_list .hobby_listB .hobby_tagC .hobby_but02 {
	width:96px;
	height:30px;
	background:url(but_c.jpg) no-repeat;
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	border:none;
	cursor:pointer
}
.hobby_tagB {
	width:529px;
	height:4px!important;
	background:url(../images/per_tagB.jpg) no-repeat;
	overflow:hidden;
}
.w264 {
	width:264px!important;
	background-position:0 -125px!important
}
.w170 {
	width:170px!important;
	background:url(inp170.jpg) no-repeat!important
}
.w110 {
	width:110px!important;
	background-position:-370px -125px!important
}
.w51 {
	width:51px!important;
	background:url(inp51.jpg) no-repeat!important;
	text-indent:5px!important;
	line-height:24px!important;
	cursor:pointer
}
.w81 {
	width:81px!important;
	background-position:-444px -95px!important;
	text-indent:7px!important;
	line-height:24px!important;
	cursor:pointer
}
.w82 {
	width:82px!important;
	background-position:-267px -125px!important
}
.w171 {
	width:170px!important;
	background-position:-199px -177px!important;
	text-indent:10px!important;
	line-height:24px!important;
	cursor:pointer
}
.ml35 {
	margin-left:35px
}
.mr250 {
	margin-right:150px!important;
	margin-bottom:6px
}
.ml60 {
	margin-left:110px!important;
	_margin-left:30px;
}
.hobby-wrap{ position:relative;  vertical-align:middle; vertical-align:top;}
.hobby_sx {
	width:192px;
	height:25px;
    line-height:25px;
	background-position:0 -177px;
	display:inline-block;
	margin-left:5px;
	font-weight:normal;
	text-indent:15px;
	position:absolute;
	left:0;
	top:-4px;

}
.hobby_tagC .hobby_sx{ top:0;}
.hobby_tagC > ul{ position:relative; z-index:1;}
.hobby_tagC .text{margin-right:5px;}

.hobby_sx a {
	margin-right:20px;
	color:#387F9F;
	
}

.ycang {
	overflow:hidden
}
.fdong {
	position:relative
}
.p0 {
	padding:0!important
}
.mes_box_right .user_card .chzn-container .chzn-single{ height:24px; line-height:24px;}
.mes_box_right .user_card .chzn-container   span{ background:none; width:auto; margin:0; }
.mes_box_right .user_card {
	padding-bottom:30px
}
.mes_box_right .user_card h1 {
	font-size:12px;
	font-weight:normal;
	height:34px;
	line-height:34px;
	color:#707477;
}
.mes_box_right .user_card h1{zoom:1;}
.mes_box_right .user_card h1:after{content:".";height:1%;display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both; *display:none;} 
.mes_box_right .user_card h1 em{ color:#fff; font-family:"微软雅黑"; margin:0 10px; float:left; font-size:14px;}
.mes_box_right .user_card h1 select,
.mes_box_right .user_card h1 .chzn-container{width:70px; float:right; margin:4px 10px 0 0;}

.mes_box_right .user_card .per_pho {
	border:1px solid #D3D5D4;
	margin:10px 14px;
}
.mes_box_right .user_card h1 i {
	font-style:normal;
	border:1px solid #CB6117;
	width:60px;
	height:20px;
	background:url(../images/per_down.png) no-repeat 40px 9px #fff;
	display:block;
	line-height:20px;
	text-indent:7px;
}
.mes_box_right .user_card .user_card_img {
	border:1px solid #d5d5d5;
	margin:10px 0 10px 15px;
	height:200px;
	width:200px;
	/*background:url(img01.jpg) no-repeat*/
}
.mes_box_right .user_card span {
	width:202px;
	height:33px;
	background-position:0 -40px;
	display:block;
	margin-left:15px;
	font-weight:bold;
	overflow:hidden
}
.mes_box_right .user_card span a {
	color:#fff;
	width:202px;
	display:block;
	text-align:center;
	line-height:33px
}
.mes_box_right .user_bar {
	padding:0 0 25px 0px;
	color:#444547;
	border-bottom:1px dashed #D0D8DB
}
.mes_box_right .user_bar li {
	margin-bottom:8px;
	
	height:16px;
	overflow:hidden
}
.mes_box_right .user_bar li label {
	width:110px;
	height:16px;
	float:left;
	text-align:right;
	white-space:nowrap;
	color:#424649;
	margin-right:3px
}
.mes_box_right .user_bar li span {
	display:block;
	float:left;
	height:11px;
	border:1px solid #DC5E2B;
	width:100px;
	font-size:10px;
	line-height:11px;
	color:#fff;
	margin-top:1px
}
.mes_box_right .user_bar li span i {
	width:20%;
	height:11px;
	display:block;
	background:url(../images/per_tj01.jpg) repeat-x;
	text-align:center
}
.mes_box_right .user_bar .blue_tj {
	margin-bottom:20px
}
.mes_box_right .user_bar .blue_tj span {
	display:block;
	float:left;
	height:11px;
	border:1px solid #18A0C6;
	width:100px;
	font-size:10px;
	line-height:11px;
	color:#fff;
	margin-top:1px
}
.mes_box_right .user_bar .blue_tj span i {
	width:80px;
	height:11px;
	display:block;
	background:url(../images/per_tj.jpg) repeat-x;
	text-align:center
}
.mes_box_right .user_flei {
	padding:25px 0 0 0px;
	width:auto;
	border-bottom:1px solid #EEF7FE;
}
.mes_box_right .user_flei select{width:125px;}
.mes_box_right .user_flei li {
	margin-bottom: 10px;
}
.mes_box_right .user_flei label {
	width:100px;
	height:17px;
	white-space:nowrap;
	text-align:right;
	color:#424649;
	margin-right:3px;
	float:left;
	padding-top:3px;
	display:inline-block
}
.inp_setting{background:url(../images/managebg02.jpg) no-repeat 0 1px!important; padding-left:7px;}

.inp_dele {
	background:url(../images/per_delete.jpg) no-repeat 0 1px!important
}
.inp_add {
	background:url(../images/per_add.jpg) no-repeat 0 1px!important;
}
.datum_hobby .hobby_list .hobby_listB .hobby_tagC li .on {
	display:inline-block;
	width:108px;
	height:24px;
	background-position:-0px -95px;
	float:left;
	margin-left:5px;
	text-indent:15px;
	color:#000;
	line-height:24px;
	_line-height:28px
}
.datum_hobby .hobby_list .hobby_listB .hobby_tagC li .off {
	display:inline-block;
	width:102px;
	height:24px;
	background-position:-106px -95px;
	float:left;
	margin-left:5px;
	text-indent:15px;
	line-height:24px
}
.datum_hobby .hobby_list .hobby_listB .hobby_tagC li .off a {
	color:#3881A2;
}
.log_viewinfo .log_view_box .log_view_tabT, .log_viewinfo .log_view_box .log_view_tabB, .log_manage .log_manage_ri .log_view_box .log_view_tabT, .log_manage .log_manage_ri .log_view_box .log_view_tabB, .listB_list li .log_view_box .log_view_tabT, .listB_list li .log_view_box .log_view_tabB {
	background:url(../images/viewbg09.png) no-repeat
}
/** 日志分类  页面设置**/

.log_tab {
	background:#EEF7FE;
	border-bottom:1px solid #1680A7;
	padding-left:22px;
	height:29px
}
.log_tab li {
	float:left;
	margin-right:20px;
	line-height:29px;
}
.log_tab a {
	color:#636363;
	display:inline-block;
	height:29px
}
.log_tab a:hover {
	background:url(../images/per_logbg.jpg) repeat-x;
	height:29px;
	color:#1D84AD;
	text-decoration:none;
}
.log_tab .tagf {
	background:url(../images/per_logbg.jpg) repeat-x;
	height:29px;
	color:#1D84AD;
	font-weight:bold
}
.log_add {
	margin:25px 30px 0px;/* height:325px;*/
	border:1px solid #ccdfee;
	padding:30px 0 0px 60px;
	color:#636363;
	background-color:#F8FEFE;
}
.log_add li {
	margin-bottom:20px
}
.log_add li label {
	width:72px;
	text-align:right;
	height:21px;
	display:inline-block;
	line-height:21px;
	margin-right:5px;
}
.log_add .inp01 {
	width:470px;
	height:19px;
	border:1px solid #ccdfee;
	line-height:20px;
	overflow:hidden;
	text-indent:5px
}
.log_add .inp02 {
	width:470px;
	height:160px;
	border:1px solid #ccdfee;
	line-height:20px;
	overflow:auto
}
.log_add .hobby_but {
	width:127px;
	height:36px;
	background:url(../images/per_logbg02.jpg) no-repeat;
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:36px;
	border:none;
	cursor:pointer;
	font-size:14px;
	margin-left:72px
}
.log_add .hobby_but01 {
	width:125px;
	height:36px;
	background:url(../images/per_logbg03.jpg) no-repeat;
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:36px;
	border:none;
	margin-left:15px;
	cursor:pointer;
	font-size:14px
}
/** 日志分类 日志管理 **/



.log_manage .log_manage_le {
	float:left;
	width:220px;
}
.log_manage .log_manage_le dt {
	height:30px;
	background:url(../images/per_managebg.jpg) repeat-x;
	line-height:34px;
	text-indent:15px;
	color:#1381A4;
	font-weight:bold;
	overflow:hidden;
	margin-bottom:13px;
	display:block;
	width:220px
}
.log_manage .log_manage_le dd {
	color:#656565;
	margin:0 0 8px 10px;
	/*display:inline-block; overflow:hidden;*/
}
.log_manage .log_manage_le dd label {
	height:26px;
	line-height:26px;
}
.log_manage .log_manage_le dd .inp36 {
	border:1px solid #dfdfdf;
	width:150px;
	height:24px;
	text-indent:8px;
	line-height:26px;
	background:#fff url(../images/down.png) no-repeat 130px 11px;
	overflow:hidden;
	color:#9B9C9E;
	position:relative;
	cursor:pointer;
	margin:0 0px 0 6px;
	vertical-align:middle;
}
.log_manage .log_manage_le dl li .inp55 {
    text-align:center;
	border:1px solid #dfdfdf;
	width:60px;
	height:22px;
	text-indent:4px;
	line-height:24px;
	background:#fff url(../images/down.png) no-repeat 95% 11px;
	overflow:hidden;
	color:#9B9C9E;
	cursor:pointer;
	margin:3px 5px 0 0px;
	vertical-align:middle;
	_margin-top:2px;
    *margin-top:0px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	position:relative;
	z-index:2;
}
.log_manage .log_manage_le dd .inp09 {
	width:150px;
	height:24px;
	text-indent:5px;
	line-height:26px;
	background:url(../images/managebg06.jpg) no-repeat;
	border:1px solid #dfdfdf;
	border-right:none;
	_margin-left:-14px;
*margin-left:-14px;
}
.log_manage .log_manage_le dd .inp10 {
	width:54px;
	border:1px solid #dfdfdf;
	background:url(../images/per_set_bg01.jpg) repeat-x;
	height:26px;
	cursor:pointer;
	color:#626262
}
.mt15 {
	margin-top:15px!important
}
.log_manage .log_manage_le ul {
	margin-top:20px;
	
}
.log_manage .log_manage_le ul li {
	position:relative;
	border-bottom:1px dashed #bababa;
	line-height:30px;
	background:url(../images/per_managebg01.jpg) no-repeat 11px 9px;
	padding-left:25px;
}
/* 影响 personal_blog_manage 页面左侧'分类设置'下拉菜单，增加下面两个样式用来覆盖上面影响的样式 */
.log_manage .log_manage_le dl.per_blog_man_lsel ul {
	margin-top:0px;
	width:auto;
	overflow:auto;
	height:auto
}
.log_manage .log_manage_le dl.per_blog_man_lsel ul li {
	height:auto;
	width:auto;
	overflow:auto;
	border-bottom:none;
	line-height:80%;
	background:none;
	text-indent:0px;
}
.log_manage .log_manage_le dl.per_blog_man_lsel ul li.highlighted {
	background:#3875D7;
}
.log_manage .log_manage_le ul span {
	position:absolute;
	bottom:0;
	right:0;
	margin-right:2px;

}
.log_manage .log_manage_le ul span a {
	dis1play:inline-block;
	margin-right:8px;
	height:18px;
	width:16px;
}
.mr14 {
	margin-right:14px!important
}
.log_manage .log_manage_ri {
	width:735px;
	float:right
}
.log_manage .log_manage_ri .log_manage_Rxl {

	border:1px solid #e5e5e5;
	background:#f9f9f9;
	color:#656565;
	padding:5px 10px;
	margin-bottom:20px
}
.log_manage .log_manage_ri .log_manage_Rxl .Rxl_le {

	line-height:26px;
	_margin-top:2px;
    *margin-top:1px
}
.log_manage .log_manage_ri .log_manage_Rxl .Rxl_le .chzn-container-single .chzn-single {
	height:22px;
}
.log_manage .log_manage_ri .log_manage_Rxl .inp11 {
	width:63px;
	height:20px;
	border:1px solid #d3d3d3;
	background:url(../images/managebg07.jpg) no-repeat;
	line-height:22px;
	text-indent:5px
}
.log_manage .log_manage_ri .log_manage_Rxl .inp12 {
	width:63px;
	height:20px;
	border:1px solid #d3d3d3;
	background:url(../images/managebg07.jpg) no-repeat;
	margin-right:3px;
	line-height:22px;
	text-indent:5px
}
.log_manage .log_manage_ri .log_manage_Rxl .Rxl_le .inp36 {
	border:1px solid #dfdfdf;
	width:77px;
	height:20px;
	text-indent:8px;
	line-height:22px;
	background:#fff url(../images/down.png) no-repeat 60px 9px;
	overflow:hidden;
	color:#9B9C9E;
	cursor:pointer;
}
.log_manage .log_manage_ri .log_manage_Rxl .Rxl_le .inp13 {
	width:143px;
	height:20px;
	line-height:22px;
	text-indent:5px;
	overflow:hidden;
	background:url(../images/managebg08.jpg) no-repeat;
	border:1px solid #d3d3d3;
}
.log_manage .log_manage_ri .log_manage_Rxl .Rxl_le .inp14 {
	width:54px;
	height:22px;
	overflow:hidden;
	color:#656565;
	background:url(../images/per_set_bg01.jpg) repeat-x;
	border:1px solid #d3d3d3;
	cursor:pointer;
}
.log_manage .log_manage_ri .log_manage_Rxl .alb_nav span {
	
	color:#1581A5;
	line-height:28px;

}

.Rxl_le .text{width:127px;}
.Rxl_le .keywords{width:200px;}
.log_manage_ri .pageList{ text-align: right;; }

.log_manage .log_manage_ri .log_manage_Rlist li {
	height:38px;
	border-bottom:1px dashed #b9b9b9;
	overflow:hidden;
	line-height:38px;
}
/* 影响 personal_blog_manage 页面右边'更改权限/更改分类'下拉菜单，增加下面样式用来覆盖上面影响的样式 */
.log_manage .log_manage_ri .log_manage_Rlist .page_end_le li {
	height:auto;
	overflow:auto;
	border-bottom:none;
	line-height:80%;
}
.log_manage .log_manage_ri .log_manage_Rlist li #c_yellow {
	color:#E97123
}
.log_manage .log_manage_ri .log_manage_Rlist li label {
	_vertical-align:-5px
}
.log_manage .log_manage_ri .log_manage_Rlist li label a {
	color:#1582AD;
	margin-right:9px;
}
.log_manage .log_manage_ri .log_manage_Rlist li input {
	margin-left:17px;
	margin-right:6px;
	_margin-top:10px
}
.log_manage .log_manage_ri .log_manage_Rlist li span {
	float:right;
	margin-top:7px
}
.log_manage .log_manage_ri .log_manage_Rlist li span a {
	background:#11849F;
	width:66px;
	height:20px;
	color:#fff;
	line-height:20px;
	overflow:hidden;
	margin-right:19px;
	display:inline-block;
	text-align:center;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	vertical-align:middle;
	mar1gin-top:1px;
}
.log_manage .log_manage_ri .log_manage_Rlist li span i {
	color:#666668;
	margin-right:15px;
	display:inline-block;
	height:20px;
	line-height:24px;
}
.log_manage .log_manage_ri .page_end {
	margin:10px 0 0 17px
}
.log_manage .log_manage_ri .page_end_le {
	float:left;
}
.log_manage .log_manage_ri .page_end_le label a {
	margin:0 5px 0 14px;
	color:#656565
}
.log_manage .log_manage_ri .page_end_le .inp36 {
	border:1px solid #dfdfdf;
	width:77px;
	height:20px;
	text-indent:6px;
	line-height:22px;
	background:url(../images/down.png) no-repeat 60px 9px #fff;
	overflow:hidden;
	color:#9B9C9E;
	cursor:pointer;
	margin:0 0px 0 5px;
}
/** 日志分类 日志管理——2 **/


.mt0 {
	margin-top:0px!important
}
.mb5 {
	margin-bottom:5px!important
}
.mt10 {
	margin-top:10px
}
.log_manage .log_manage_le .log_manage_Lin {
	height:35px;
	border:1px solid #C9DFEC;
	margin-bottom:9px;
	padding:10px 0 0 8px;
	_padding-left:2px;
*padding-left:2px
}
.log_manage .log_manage_le .log_manage_Lin .inp09 {
	width:150px;
	height:24px;
	text-indent:5px;
	line-height:26px;
	background:url(../images/managebg06.jpg) no-repeat;
	border:1px solid #C9E0EE;
	border-right:none
}
.log_manage .log_manage_le .log_manage_Lin .inp10 {
	width:54px;
	border:1px solid #dfdfdf;
	background:url(../images/per_set_bg01.jpg) repeat-x;
	height:26px;
	cursor:pointer;
	color:#626262
}
.log_manage .log_manage_le .listM_li a:hover {
	color:#1381A4
}
.log_manage .log_manage_le .inp36 {
	border:1px solid #e2e2e2;
	width:45px;
	height:20px;
	text-indent:5px;
	line-height:22px;
	overflow:hidden;
	color:#666;
	cursor:pointer;
	margin:4px 10px 0 0px;
	vertical-align:middle;
	background:#fff url(../images/down.png) no-repeat 33px 9px
}
.log_manage .log_manage_ri .log_manage_Rtit {
	padding:20px;
	border:1px solid #C9E0EE;
	color:#1B7CA7;
	background-color:#F8FEFE;
}
.log_manage .log_manage_ri .log_manage_Rtit h1 {
	font-size:14px;
	margin-bottom:5px;
	font-weight:bold;
}
.log_manage .log_manage_ri .log_manage_Rtit p {
	line-height:22px
}
.log_manage .log_manage_ri .log_manage_Rfrist {
	height:24px;
	border-bottom:1px solid #1580A2;
	background:#EEF7FE;
	margin-top:10px;
	padding:5px 15px 0 0
}
.log_manage .log_manage_ri .log_manage_Rshow {
	padding:20px 0 20px;
	border-bottom:1px dashed #bbb;
}
.log_manage .log_manage_ri .log_show_ri {
	width:602px;
	float:right;
	padding-top:10px
}
.log_manage .log_manage_ri .log_show_ri h2 {
	font-size:14px;
	color:#1283A1;
	background:url(../images/viewbg03.jpg) no-repeat 10px 0;
	text-indent:32px;
	font-weight:bold;
}
.log_manage .log_manage_ri .log_show_ri dl {
	padding:16px 20px 6px 10px;
	border-bottom:1px dashed #bdbdbd
}
.log_manage .log_manage_ri .log_show_ri dl dd {
	display:inline-block;
	float:left;
	height:18px;
	text-indent:18px;
	margin-right:8px;
	line-height:18px
}
.log_manage .log_manage_ri .log_view_page {
	padding:20px 35px 0;
	line-height:24px;
	text-indent:24px;
	color:#919191;
	display:block;
	float:left
}
.log_manage .log_manage_ri .log_view_page span {
	display:block;
	width:650px;
	text-align:right;
	margin-top:15px
}
.log_manage .log_manage_ri .log_view_page span a {
	display:inline-block;
	height:18px;
	background:url(../images/viewbg08.jpg) no-repeat 0 3px;
	text-indent:21px;
	color:#1188a8
}
.log_manage .log_manage_ri .log_view_box {
	margin:2px 35px 0;
	float:left;
	display:inline
}
.log_manage .log_manage_ri .log_view_box .log_view_tabT {
	height:14px;
	width:663px;
	background-position:0px -25px
}
.log_manage .log_manage_ri .log_view_box .log_view_tabB {
	height:9px;
	width:663px;
	background-position:0px -38px
}
.log_manage .log_manage_ri .log_view_box .log_view_tabC {
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	padding:15px 25px;
	width:611px;
	background:#f9f9f9
}
.log_manage .log_manage_ri .log_view_box .log_view_hf {
	margin:0 0 25px -5px;
}
.log_manage .log_manage_ri .log_view_box .log_view_hf .inp06 {
	height:23px;
	width:430px;
	border:1px solid #d7d7d7;
	line-height:24px;
	overflow:hidden;
	text-indent:5px
}
.log_manage .log_manage_ri .log_view_box .log_view_hf .inp07 {
	width:56px;
	height:25px;
	background:url(../images/viewbg09.jpg) repeat-x;
	color:#2073B5;
	border:1px solid #9BC5DB;
	margin:0 7px;
	cursor:pointer
}
.log_manage .log_manage_ri .log_view_box .log_view_hf .inp08 {
	width:56px;
	height:25px;
	background:url(../images/viewbg10.jpg) repeat-x;
	color:#353535;
	border:1px solid #bababa;
	cursor:pointer
}
.log_manage .log_manage_ri .log_view_list li {
	padding-bottom:10px;
	color:#484848;
	border-bottom:1px dashed #ccc;
	display:inline-block;
	margin-bottom:3px
}
.log_manage .log_manage_ri .log_view_list li img {
	width:37px;
	height:37px;
	border:1px solid #82939A;
	float:left;
	margin:5px 10px 0 0;
}
.log_manage .log_manage_ri .log_view_list li .log_view_pl {
	line-height:22px;
	width:560px;
	float:left;
	color:#626262
}
.log_manage .log_manage_ri .log_view_list li .log_view_data {
	float:right;
	width:560px;
	padding-right:10px;
	color:#b2b2b2;
	margin-top:5px
}
.log_manage .log_manage_ri .log_view_list li .log_view_data span {
	float:right;
	display:none;
}
.log_manage .log_manage_ri .log_view_list li.grohover {
	background-color:#EFEFEF;
}
.log_manage .log_manage_ri .log_view_list li.grohover .log_view_data span {
	display:block;
}
.log_manage .log_manage_ri .log_view_list li .log_view_data span a {
	color:#1165A5;
	margin-left:20px
}
.log_manage .log_manage_ri .log_view_bin {
	margin:15px 0 0
}
.log_manage .log_manage_ri .log_view_bin a {
	float:right;
	color:#0565B2;
	margin-left:25px;
	display:inline-block;
	height:15px;
}
.alb_nav {
	float:right;
	height:22px;
	line-height:22px;
}
.alb_nav span {
	margin-left:3px;
	color:#1581A5;
}
.alb_nav span.first, .alb_nav span.last, .alb_nav span i.first, .alb_nav span i.last {
	color:#B8B8B8;
}
.alb_nav span a {
	color:#1581A5;
}
.alb_nav span a:hover, .alb_nav span i.cur {
	color:#E97730;
}


.log_postinfo {
	margin:40px 160px 50px 125px;
	color:#808080
}
.log_postinfo li {
	margin-bottom:14px
}
.log_postinfo .log_Ptit label {
	font-size:14px;
	color:#656565;
}
.log_postinfo .log_Ptit input {
	width:280px;
	height:25px;
	border:1px solid #dfdfdf
}
.log_postinfo .log_Pweath .inp01 {
	text-indent:5px;
	margin-right:10px;
	margin-left:20px;
	_margin-right:1px;
*margin-right:1px
}
.log_postinfo .log_Pweath img {
	margin:0 20px;
}
.log_postinfo .log_Pweath .inp02 {
	border:1px solid #dfdfdf;
	width:210px;
	height:25px;
	text-indent:5px
}
.log_postinfo .log_Pcon label {
	vertical-align:top;
	font-size:14px;
	color:#656565;
}
.log_postinfo .log_Pcon .inp03 {
	padding:5px;
	height:225px;
	border:1px solid #dfdfdf;
	overflow:auto;
	width:618px
}
.log_postinfo .log_save {
	height:40px;
	clear:both; /*overflow:hidden;*/
	position:relative;
}
.log_postinfo .log_save input {
	margin:0px 7px 0 44px;
	vertical-align:super;
}
.log_postinfo .log_save label {
	vertical-align:9px;
	height:35px;
	display:inline-block;
	line-height:35px
}
.log_postinfo .log_save span {
	display:inline-block;
	border:1px solid #C6DEEA;
	background:#ffffe7;
	color:#D84E10;
	width:275px;
	height:23px;
	overflow:hidden;
	text-indent:15px;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	vertical-align:bottom;
	margin-left:229px;
	padding-top:10px
}
.log_postinfo .log_save i {
	margin-left:10px
}
.log_postinfo .log_save img {
	margin-left:20px
}
.log_postinfo .log_qx label {
	margin-left:43px
}
.log_postinfo .log_qx .inp36 {

	border:1px solid #DDDFDE;
	width:94px;
	height:24px;
	text-indent:8px;
	line-height:26px;
	background:url(../images/down.png) no-repeat 70px 11px;
	overflow:hidden;
	color:#9B9C9E;
	cursor:pointer;
	margin:0 15px 0 8px;
	vertical-align:bottom
}
.log_postinfo .log_qx input {
	width:275px;
	height:25px;
	border:1px solid #dfdfdf;
	line-height:25px;
	text-indent:5px
}
.log_gx .gxbox {
	display:block;
	width:125px;
	height:23px;
	border:1px solid #e3e3e3;
	line-height:26px;
	text-indent:7px;
	overflow:hidden;
	background:url(../images/post_bg01.jpg) no-repeat 102px 7px;
	margin-left:43px;
	vertical-align:top;
	float:left;
	_margin-left:20px;
}
.log_gx dl {
	display:block;
	float:left;
	width:345px;
	height:150px;
	border:1px solid #e3e3e3;
	margin-left:30px;
	padding:8px 0 0 10px
}
.log_gx dt a {
	width:75px;
	height:15px;
	background:url(../images/post_bg02.jpg) no-repeat 55px 3px;
	display:inline-block;
	margin-bottom:10px;
}
.log_gx dd {
	margin:0 0 14px 8px;
}
.log_gx dd .inp04 {
	margin-right:10px
}
.log_gx dd .inp36 {
	border:1px solid #DDDFDE;
	width:94px;
	height:24px;
	text-indent:8px;
	line-height:28px;
	background:url(../images/down.png) no-repeat 70px 11px;
	overflow:hidden;
	color:#9B9C9E;
	cursor:pointer;
	margin:0 10px 0 6px;
	vertical-align:bottom
}
.log_gx dd .inp05 {
	width:95px;
	height:23px;
	border:1px solid #DDDFDE;
	color:#acacac;
	line-height:26px;
	text-indent:5px;
	overflow:hidden
}
.log_postinfo li .hobby_but {
	width:127px;
	height:36px;
	background:url(../images/logbg02.jpg) no-repeat;
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:36px;
	border:none;
	cursor:pointer;
	font-size:14px;
	margin:30px 0 0 45px;
	display:inline;
}
.log_postinfo li .hobby_but01 {
	width:125px;
	height:36px;
	background:url(../images/logbg03.jpg) no-repeat;
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:36px;
	border:none;
	margin:30px 0 0 10px;
	cursor:pointer;
	font-size:14px
}
.mes_com_send_con {
	width:615px;
	height:220px;
	padding:5px;
}
.v_top {
	vertical-align:top
}
.per_blogset_text {
	width:500px;
	height:220px;
	padding:5px;
}
.ml_btn {
	margin-left:77px;
}
.save_draft_alert {
	position:absolute;
	width:235px;
	height:30px;
	padding:6px 15px;
	line-height:30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	background-color:#FFFFE5;
	border:1px solid #C7DDEA;
	right:15px;
	top:1px;
	color:#D54B17;
}
.save_draft_alert .close {
	display:inline-block;
	width:9px;
	height:8px;
	background:url(../images/mes_icon_tip_close.png) no-repeat;
	overflow:hidden;
	position:absolute;
	right:8px;
	top:8px;
}
/** 日志分类 查看日志——2**/

.log_viewinfo .log_view_top img {
	vertical-align:-8px
}
.log_viewinfo .log_view_top span {
	float:right;
	margin-right:20px;
	color:#666
}
.log_view_top {
	height:35px;
	background:#f9f9f9;
	border:1px solid #e5e5e5;
	margin:12px 0 30px 0;
	overflow:hidden;
	line-height:36px;
	text-indent:20px;
	color:#666;
}
.log_viewinfo .log_view_top a {
	color:#858585
}
.log_viewinfo .log_view_top a:hover {
	color:#E36F36
}
.log_viewinfo .log_view_con h1 {
	font-size:14px;
	color:#1283A1;
	background:url(viewbg03.jpg) no-repeat 15px 0;
	text-indent:37px;
	display:block;
	height:18px;
	line-height:18px
}
.log_viewinfo .log_view_con01 {
	border-bottom:1px dashed #bbb
}
.log_viewinfo .log_view_con01 h1 {
	font-size:14px;
	color:#000;
	text-indent:20px;
	display:block;
	height:18px;
	line-height:18px;
	font-weight:bold;
	padding-right:5px
}
.log_viewinfo .log_view_con01 h1 span {
	float:right;
	color:#999;
	font-weight:normal;
	font-size:12px
}
.log_viewinfo .log_view_con01 a {
	color:#0080bd
}
.log_viewinfo .log_view_con01 h1 i {
	color:#999;
	font-weight:normal;
	font-size:12px
}
.log_viewinfo .log_view_con_tb {
	font-size:14px;
	color:#000;
	text-indent:35px;
	margin:15px 5px 10px 0;
}
.log_viewinfo .log_view_con_tb span {
	float:right
}
.log_viewinfo .log_view_con_tb span a {
	margin-left:6px
}
.log_viewinfo .log_view_con dl {
	padding:20px 20px 6px 15px;
	border-bottom:1px dashed #bdbdbd;
	display:inline-block;
	width:928px
}
.log_viewinfo .log_view_con dl dd {
	float:left;
	height:18px;
	text-indent:18px;
	line-height:18px
}
.log_viewbg {
	background:url(../images/logbg05.jpg) no-repeat;
	margin-right:18px
}
.log_viewbg01 {
	background:url(../images/viewbg01.jpg) no-repeat;
	margin-right:7px
}
.log_viewbg02 {
	background:url(../images/set_icon03.jpg) no-repeat -2px 0;
	margin-right:18px
}
.log_viewbg03 {
	background:url(../images/viewbg02.jpg) no-repeat 0 2px;
	margin-right:7px
}
.log_viewbg04 {
	background:url(../images/viewbg03.jpg) no-repeat -2px 0;
	margin-right:7px
}
.log_viewbg05 {
	background:url(../images/viewbg04.jpg) no-repeat;
	text-indent:20px!important;
	margin-right:18px
}
.log_viewbg06 {
	background:url(../images/viewbg05.jpg) no-repeat;
	text-indent:20px!important;
	margin-right:18px
}
.log_viewbg07 {
	background:url(../images/viewbg06.jpg) no-repeat;
}
.log_viewinfo .log_view_con dl dt {
	float:right;
	color:#5f5f5f
}
.log_viewinfo .log_view_con dl dt i {
	display:inline-block;
	height:18px;
	line-height:18px;
	vertical-align:middle
}
.log_viewinfo .log_view_con dl dt label {
	margin:0 18px 0 15px
}
.log_viewinfo .log_view_page {
	padding:25px 20px 0;
	line-height:24px;
	text-indent:24px;
	color:#888
}
.log_viewinfo .log_view_page span {
	display:block;
	width:915px;
	text-align:right;
	margin-top:15px
}
.log_viewinfo .log_view_page span a {
	display:inline-block;
	height:18px;
	background:url(../images/viewbg08.jpg) no-repeat 0 3px;
	text-indent:21px;
	color:#1188a8
}
.log_viewinfo .log_view_box {
	margin:2px 35px 0
}
.log_viewinfo .log_view_box .log_view_tabT {
	height:14px;
	width:899px
}
.log_viewinfo .log_view_box .log_view_tabB {
	height:9px;
	width:899px;
	background-position:0px -14px
}
.log_viewinfo .log_view_box .log_view_tabC {
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	padding:15px 20px;
	width:857px;
	background:#f9f9f9
}
.log_viewinfo .log_view_box .log_view_hf {
	margin:0 0 25px -5px;
}
.log_viewinfo .log_view_box .log_view_hf .inp06 {
	height:23px;
	width:430px;
	border:1px solid #d7d7d7;
	line-height:24px;
	overflow:hidden;
	text-indent:5px
}
.log_viewinfo .log_view_box .log_view_hf .inp07 {
	width:56px;
	height:25px;
	background:url(../images/viewbg09.jpg) repeat-x;
	color:#2073B5;
	border:1px solid #9BC5DB;
	margin:0 7px;
	cursor:pointer
}
.log_viewinfo .log_view_box .log_view_hf .inp08 {
	width:56px;
	height:25px;
	background:url(../images/viewbg10.jpg) repeat-x;
	color:#353535;
	border:1px solid #bababa;
	cursor:pointer
}
.log_viewinfo .log_view_list li {
	padding-bottom:10px;
	color:#484848;
	border-bottom:1px dashed #ccc;
	display:inline-block;
	margin-bottom:3px
}
.log_viewinfo .log_view_list li img {
	width:37px;
	height:37px;
	border:1px solid #82939A;
	float:left;
	margin:5px 10px 0 0;
}
.log_viewinfo .log_view_list li .log_view_pl {
	line-height:22px;
	width:800px;
	float:left
}
.log_viewinfo .log_view_list li .log_view_data {
	float:right;
	width:800px;
	padding-right:10px;
	color:#b2b2b2;
	margin-top:5px
}
.log_viewinfo .log_view_list li .log_view_data span {
	float:right;
	display:none;
}
.log_viewinfo .log_view_list li.grohover {
	background-color:#EEF7FE;
}
.log_viewinfo .log_view_list li.grohover .log_view_data span {
	display:block;
}
.log_viewinfo .log_view_list li .log_view_data span a {
	color:#1165A5;
	margin-left:20px
}
.log_viewinfo .log_view_bin {
	margin:15px 0
}
.log_viewinfo .log_view_bin a {
	float:right;
	color:#0565B2;
	margin-left:25px;
	display:inline-block;
	height:15px;
}
.log_viewbg08 {
	background:url(../images/viewbg11.jpg) no-repeat 53px 3px;
	width:60px
}
.log_viewbg09 {
	background:url(../images/viewbg12.jpg) no-repeat 32px 1px;
	width:45px
}
.mt30 {
	margin-top:40px!important
}
/**  下拉菜单  **/

.log_manage .log_manage_le .test_xl {
	border: 1px solid #DFDFDF;
	width:42px;
	background:#fff;
	padding-top:3px;
	width:100px;
	position:absolute;
	top:6px;
	z-index:1;
	right:5px;
	height:auto;
}
.log_manage .log_manage_le .test_xl li {
	height:22px;
	line-height:22px;
	text-indent:4px;
	border-bottom:none;
	background:none;
	
}
.log_manage .log_manage_le .test_xl li a {
	color: #9B9C9E;
}
.log_manage .log_manage_le .test_xl li a:hover {
	color:#1283A1
}

.ontab{ position:relative;}