/* CSS Document */
.pop .form .wraplabel{ font-size:14px;}

/* pop */
.pop{position:relative; border-radius:5px; -moz-border-radius: 5px;-webkit-border-radius: 5px; color:#000; font-family:Arial,Helvetica,sans-serif; padding:0.1px; }
.pop .pop-bg{ left:0; top:0; position:absolute; opacity:0.5; filter:alpha(opacity=50);  background:#D6D6D6; width:100%; height:100%;border-radius:5px; -moz-border-radius: 5px;-webkit-border-radius: 5px;}
.pop .pop-container{ border:1px solid #1684a8; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; margin:10px;background:#ffffe5; z-index:1;position:relative;}
.pop .pop-hd{ padding:5px; background:#dff1f6; border-bottom:#c0d7e4; box-shadow:0 2px 5px #c0d7e4;}
.pop .pop-hd h3{ float:left;  font-weight:bold; text-indent:5px; font-size:14px;}
.pop .pop-hd .close-3{ float:right; margin:5px;}
.pop .pop-bd{  padding:20px; background:#fff;}
.pop .pop-dialog{  background:#ffffe5;text-align:center; color:#697c1e; font-size:14px;}
.pop .pop-dialog .icon{ margin-right:10px;}
.pop .pop-ft{ text-align:center; padding:0 0 10px 0; }
.pop .pop-right{ text-align:right;}
.pop .pop-ft .button{ margin:0 5px; padding:5px 40px;}
.pop .pageList{ color:#1992B1;}

.vote-options{ margin:10px 0;}
.vote-options a{border:1px solid #DFDFDF; padding:3px 10px; margin-left:6px; color:#333333; font-size:12px;}
.vote-options span{ 
	display: inline-block;
    height: 5px;
    margin: 0 7px 2px 0;
    overflow: hidden;
    width: 5px;
}
.vote-control{
	background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #DFDFDF;
    padding: 6px 10px;
}
.vote-control h3.title{font-size: 14px;font-weight: bold;}


.map .map-header{ background:#F6F6F6; border:1px solid #dfdfdf; padding:5px; }
.map .map-header .text{ width:170px; margin-left:5px;}
.map .map-side{float:right; width:200px;background:#F6F6F6; border:1px solid #dfdfdf; margin-left:10px; text-align:left; padding:10px;}
.map .map-main{overflow:hidden;}
.map h3{ font-weight:bold;}
.map .map-track{ overflow-y:auto; overflow-x:hidden;}

.search-friends .search-right{width:300px; float:right;}
.search-friends .search-add{width:475px; overflow:visible; float:left;}
.search-friends em{ color:#CC0000; margin-left:5px; }

.search-list{ background:#eef7fe; border:1px solid #9ecfdc; border-radius:5px;-moz-border-radius: 5px;
	-webkit-border-radius: 5px; }
.search-list ul{ height:320px; overflow-y:auto;}
.search-list li{ padding:10px; overflow:hidden;  color:#337fa5; padding-right:20px; border-bottom:1px dashed #ddd;}
.search-list li label{width:87%; display:inline-block; *display:inline; zoom:1; vertical-align:middle;}
.search-list li:hover,
.search-list li.current{background:#fff;}
.search-list li .list-del{ margin-left:10px; display:none;}
.search-list li:hover .list-del,
.search-list li.current .list-del{ display:inline-block;}
.search-list li input[type=checkbox]{ margin-right:10px;}
.search-list .selectall{ margin:10px;}
.search-list .submit{ text-align:right;}
.search-list .submit .button{ margin:10px; }

.search-box{ margin-bottom:10px; margin-left:-6px;}
.search-box .text{width:235px;}
.search-box input,
.search-box .button{ margin:0 10px;vertical-align:top;}

.search-add-button{ border:1px solid #ddd; border-radius:3px; -moz-border-radius:3px;-webkit-border-radius:3px;background:#f6f6f6; color:#525252; margin-left:10px; padding:2px 5px; min-height:300px;}
.search-add{ padding:0 5px;}
.search-add .search-addbar{ padding:5px;}
.search-add-button:hover{ text-decoration:none;}
.search-add-list li{ font-size:14px;padding:5px;}
.search-add-list li img{ margin:0 10px; border:1px solid #B3DFEE;}
.search-add-list li a{ margin:0 10px; font-size:12px;}
.search-add-list li label{width:80%; display:inline-block; *display:inline; zoom:1; vertical-align:middle;}
.search-add-list li:hover,
.search-add-list li.current{ background:#eef7fe; border-radius:5px; -moz-border-radius: 5px;
	-webkit-border-radius: 5px;}
.search-add-list .list-add{margin-left:10px; display:none;}
.search-add-list li:hover .list-add,
.search-add-list li.current .list-add{ display:inline-block; }

.search-add-grouplist li:hover img{width:50px; height:50px;vertical-align:top;}
.search-add-grouplist li:hover .search-detial{display:block;}
.search-add-grouplist .search-detial{  font-size:12px; padding:8px 0 0 10px; display:none; overflow:hidden;}
.search-add-grouplist input[type=checkbox]{ margin-top:10px;}

span.percent{display:inline-block;width:66px;overflow:hidden;height:12px;line-height:12px;border:1px solid #507f31;text-align:center;position:relative;background:#fff;box-shadow:0px 0px 1px #79b705;top:1px; border-radius:3px;-moz-border-radius: 3px;
-webkit-border-radius: 3px;}
span.percent em.pcent{position:absolute;background:#79b705;display:block;height:12px;left:0;top:0;z-index:1; margin:0;}
span.percent em.num{position:relative;z-index:2;}


.pic-tabs{
	background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #DFDFDF;
    padding:10px;
	margin:10px 0;
}
.pic-tabs .prev{ float:left; margin-top:15px;}
.pic-tabs .next{ float:right;margin-top:15px;}
.pic-tabs .tabs-clip{ overflow:hidden;width:90%; height:60px;}
.pic-tabs .tabs-clip a{display:inline-block; margin-right:7px;width:56px; height:56px; border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius:3px; overflow:hidden;border:1px solid #DFDFDF;}
.pic-tabs .tabs-clip .selected{border:1px solid red; }

.select-bar a{
	background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #DFDFDF;
    color: #666666;
    margin-right: 5px;
    margin-top: 2px;
    padding: 5px 15px;
	display:inline-block;
}
.select-bar .selected{
	color: #13839F;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.select-box {
	margin:10px 0;
    border: 1px solid #DFDFDF;
    max-height: 310px;
    overflow-y: auto;
    padding: 8px;
    position: relative;
}
.select-box dl.item:last-child {
    border-bottom: medium none;
}
.select-box dl.item {
    border-bottom: 1px dotted #DFDFDF;
    clear: both;
    font-size: 14px;
    line-height: 28px;
    padding: 5px 7px;
}
.select-box dl.item a{ width:112px;}
.select-box dl.item dt {
    float: left;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
.select-box dl.item dt strong {
    display: inline-block;
    width: 2em;
}
.select-box dl.item dd {
    overflow: hidden;
    padding-left: 1em;
}
.select-box dl.item dt em {
    color: #DFDFDF;
    font-size: 12px;
    position: relative;
    top: -3px;
}
.select-box dl.item dd a {
    color: #13839F;
    display: inline-block;
    margin-right: 2em;
}
.select-box .line {
    border-bottom: 1px dotted #5FB0D3;
    height: 1px;
    line-height: 1px;
    overflow: hidden;
    position: relative;
    top: -2px;
}

.pop_dialog { border:1px solid #1684a8; background:#fff url(../../images/bg_pop_dialog.png) repeat-x 0 0;  border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius:3px;}
.pop_dialog ,.pop_dialog a{ color:#666;}
.pop_dialog .pop_content { padding:10px; font-size:14px; }
.pop_dialog .pop_footer{ background:#F6F6F6; padding:10px;}
.pop_dialog .pop_footer .button{ border:1px solid #ddd; border-radius:3px; padding:2px 4px; float:right; margin:0 5px;}
.pop_dialog select{width:100px;}


.pop_items > li{
	border-bottom: 1px dotted #DFDFDF;
    clear: both;
    line-height: 30px;
    padding: 5px 0;
}

.pop_items_opt{ margin:10px 0;}
.pop_items_opt .button{ margin:0 5px;}
/*exit_reason_popup*/
.exit-popup p { line-height:30px; text-indent:0.2em; }
div.textarea { -moz-box-shadow:0px 0px 2px #e4e4e4 inset; -webkit-box-shadow:0px 0px 2px #e4e4e4 inset; box-shadow:0px 0px 2px #e4e4e4 inset; border:1px solid #d4d4d4; padding:5px; }
.exit-popup div.b { background:#fff; border:1px solid #ebebeb; width:250px; padding:5px; font-size:14px; height:200px; overflow:hidden; }
.exit-popup div.b li{height:27px;overflow:hidden;line-height:27px;}
.exit-popup div.b li, .transmit div.r li, .transmit div.l ul.l li { border:1px dotted #9ecfdc; border-color:#fff #fff #9ecfdc #fff; padding:5px 10px; }
.exit-popup div.b li.selected, .transmit div.r li.selected, .transmit div.l ul.l li.selected, .transmit div.l ul.l li:hover, ul.detial li.hover{ background: #eef7fe; }
.exit-popup div.b li img, .transmit div.l ul.l li img { border:1px solid #b3dfee; margin-right:10px; }
.exit-popup div.b li:last-childm.transmit .r li.selected:last-child {
border-color:#fff;
}
.exit-popup div.s-bar { float:left; width:33px; overflow:hidden; padding:3em 0 0 5px; }
.exit-popup div.s-bar a { float:none; display:block; }
.exit-popup .textarea{width:98%; max-width:98%; margin-bottom:10px;}
.exit-popup .gay-bor-box{ margin:10px 0;}
/*forum_filter_popup.png*/

.pop_list{ font-size:12px; color:#333; overflow:hidden;}
.pop_list li span{ color:#999;}
.pop_act .pop_picture{ float:left; padding:2px; border:1px solid #0085C5; border-radius:4px;-moz-border-radius: 4px;-webkit-border-radius:4px; margin:7px 10px 0 0; }
.pop_act .parsoninfo { text-align:center; float:left;}
.pop_act .parsoninfo .pop_picture{}
.pop_act .parsoninfo a{ margin:10px 0; font-weight:bold; font-size:12px; display:inline-block;}
.pop_act .act-detail{color:#999; font-size:12px; line-height:22px; margin-top:5px;}
.pop_act .act-detail span{color:#333; }
.pop_act em{ color:#CC0000;}

.notice-box{ margin:10px 0; border:1px solid #ddd; padding:10px; color:#999999; font-size:14px;}
.notice-box dl{ margin:10px 0;}
.notice-box dt{ float:left; width:100px;}
.notice-box dd{ overflow:hidden;}
.notice-box .text{width:40%;}
.notice-box .textarea{width:90%;}
.notice-box .icon{ margin:0 5px;}

.pop .form{width:400px; margin: 0 auto; color:#666;} 
.pop .form .text{width:230px;}
.pop .form .submit{ margin:0;}


.pop .tips-panel .tips{ position:absolute; left:10px; top:-30px; width:300px;}
.pop .reigst-form{ color:#666; width:auto;}
.pop .reigst-form .label{width:100px; text-align:right;}
.pop .form select{width:75px;}
.pop .form .safe-stepbar{ display:inline-block; *display:inline; zoom:1; margin:0; position:relative; bottom:-10px; width:300px; }
.pop .form .safe-stepbar li{width:33%;}
.pop .form .birthday select{width:52px;}
.pop .tips-panel{ margin-left:10px;}
.pop .form .submit{ text-align:left;}
.pop .button{vertical-align: middle;}

.map-pic{ height:400px; overflow:hidden;}

.addresslayer{position:absolute; width:645px; display: none;}

.address-search{ position:relative; display:inline-block; vertical-align:middle;}
.address-search .address-tips{  top:27px; left:5px;position:absolute; width:489px; display:none;}

.address-tips{ border:1px solid #ddd; color:#666; z-index:1001; background:#fff;}
.address-tips .tips-header{ background:#dff1f6; height:20px; line-height:20px;padding:5px;}
.address-tips .tips-panel{ padding:10px;}
.address-tips .tips-nav{ border-bottom:1px solid #ddd;margin:10px 10px 0 10px;}

.address-tips .tips-nav a{
    padding: 5px 10px;
    text-align:center;
    display:inline-block;
    margin-right:5px;
    margin-bottom:-1px;
    color:#666;
}
.address-tips .tips-nav .current{ border:1px solid #ddd; border-bottom-color:#fff; color:#1992B1; }
.address-tips .tips-panel a{
    display:inline-block;
    width:140px;
    padding: 0 2px;
    line-height:25px;
    margin-right:10px;
    vertical-align:middle;
    color:#666;
    text-align:left;
    border:1px solid #fff;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.address-tips .tips-panel a:hover{border-color:#ddd; }
.address-tips .close-3{ margin:5px;}
.address-tips .pager{ margin:10px 0;}
.address-tips .return{ border:1px solid #1992B1; padding:3px 10px; margin:10px; float:left;}

.myactiveinfo{ border:1px solid #ddd; border-top:none; margin:0 10px 10px 10px ;}
.myactiveinfo .info-side{ padding:10px; width:48%; float:left; border-right:1px solid #ddd; }
.myactiveinfo .info-side li{padding:5px 10px;}
.myactiveinfo .info-side li:hover{ background: #ddd;}
.myactiveinfo .info-side .ui-accordion-header{ background: url(../../images/icons/AlbumName.png) no-repeat; padding-left: 27px; height: 25px; line-height: 25px;;}
.myactiveinfo .info-side .ui-accordion-content{ padding-left: 15px; }
.myactiveinfo .info-content{ padding:10px; overflow:hidden; padding:10px; }
.myactiveinfo .info-content .info-list{overflow-y:auto;height:400px;}

.check-authorization-form .form-btns{ text-align: right; margin-top:10px;}
.check-authorization-form label{ margin-right: 10px; font-size: 14px;}
.check-authorization-form label,
.check-authorization-form input{ vertical-align:middle;}
.check-authorization-form .text{width: 280px;}
.check-authorization-form .checktips{ color: #999;}
.check-authorization-form .button{ margin-left: 10px;}