/* CSS Document */

.main{ overflow:hidden;}

.sidenav{ float:left; width:168px; margin-right:20px;font-size:14px;}
.sidenav li{ background:url(../images/search_nav.png) no-repeat; cursor:pointer; height:36px; line-height:36px; margin-bottom:10px; text-align:center;}
.sidenav li,
.sidenav a{ color:#fff;}
.sidenav .cur,
.sidenav li:hover{ background:url(../images/search_nav_cur.png) no-repeat;}
.sidenav li:hover a{ text-decoration:none;}

.results{ margin-bottom:10px;}
.results .results-photo{ margin-right:20px; float:left;width:48px;height:48px}
.results dt{ font-size:14px;}
.results dl{ overflow:hidden; width:600px;line-height:25px; }
.results dd{ margin:5px 0;}
.results li{ border-bottom:1px dotted #7f7f7f; padding:10px; color:#333; position:relative;}
.results li:hover{ background:#f9f9f9;}
.results .label{ color:#666;}
.results .results-detail{ position:absolute; right:15px; bottom:15px; display:none;}
.results li:hover .results-detail{ display:block;}
.results em{ color:#db1010;}
.results .des{display:inline-block;  *display:inline; zoom:1; vertical-align:top; width:500px; }
.searchbar{ margin:10px 0; background:#eef7fe; padding:3px; }
.pageList{ margin-top:3px;float:right;}
.search-textbox input[type=text]{width:250px; padding-left:5px;}
.search-textbox{ float: left; }

.gife-results li{ border-bottom:none;}
.gife-results dl{ width:auto;}
.gife-results h3{ margin-bottom:10px; font-size:14px; display:block; line-height:normal;}
.gife-results .gife-img{ float:left; margin:5px 10px 0 0;}
.gife-results .results-detail{ top:10px; bottom:auto;color:#999;}
.gife-results .results-detail a{ vertical-align:top; margin:0 5px;}


.gife-market li{ border:1px solid #ddd; border-radius:5px; -moz-border-radius: 5px;-webkit-border-radius:5px;padding:10px; margin:10px; width:330px;  line-height:22px;color:#999; float:left;}
.gife-market li:hover{ background:#eef7fe;}
.gife-market .label{color:#333;}
.gife-market .gife-img{ float:left; margin-right:10px;}
.gife-market dt{font-size:14px;}
.gife-market dt,.gife-market dd{ margin-bottom:6px;}


.gife-info{ color:#999; padding:40px;}
.gife-info .gife-img{ float:left; margin-right:20px;}
.gife-info .gife-list{ overflow:hidden;}
.gife-info .gife-list .label{ color:#666; word-spacing:.25em; margin-right:20px;}
.gife-info .gife-list li{ margin-bottom:20px;}
.gife-info .button{ line-height:36px;}
.gife-info .button .icon{ margin-right:10px;}

.pop .gife-info{ padding:10px; text-align:left;}
.pop .gife-info .textarea{width:180px;}