body {
  scrollbar-face-color:       #CEDBF7; 
  scrollbar-highlight-color:  #CEDBF7; 
  scrollbar-shadow-color:     #5282B5; 
  scrollbar-3dlight-color:    #CEDBF7; 
  scrollbar-arrow-color:      #5282B5; 
  scrollbar-track-color:      #CEDBF7; 
  scrollbar-darkshadow-color: #CEDBF7;
}

body{
  background-color:#9099AE;
  margin:0px;
  color:656363;
  text-align:center;
}
.divDoc{
  text-align:left;
  padding-bottom:20px;
  padding-left:16px;
  padding-right:16px;
  font-size:12pt;
  font-family:·ÂËÎ_GB2312;
  width:21cm;
  border:1px #000000 solid;
  background-color:#EEF2FB;
  margin-top:20px;
  margin-bottom:20px;
  filter:     progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#E6EDFC, EndColorStr=#E6EDFC, GradientType=0)
              progid:DXImageTransform.Microsoft.Shadow(Color=#000000, Strength=6, Direction=135);
}

hr{
  color:#9099AE;
}

.divDoc div {
  text-align:left;
  line-height:18pt;
}

.divDoc div b {
  font-size:13pt;
  font-family:ºÚÌå;
  padding-top:5px;
  padding-bottom:15px;
}

.Button {
    behavior:         url("../css/xButton.htc");
}

