body {
  background:                 #DEECFD;
  scrollbar-face-color:       #CEDBF7; 
  scrollbar-highlight-color:  #CEDBF7; 
  scrollbar-shadow-color:     #5282B5; 
  scrollbar-3dlight-color:    #CEDBF7; 
  scrollbar-arrow-color:      #5282B5; 
  scrollbar-track-color:      #CEDBF7; 
  scrollbar-darkshadow-color: #CEDBF7;
}

/*
 * 表单域中的td样式
 */
.formArea td {
  font-size:9pt;
  height:25px;
}

.formAreaTop {
  font-size:9pt;
  background-color:#D6E3F2;
}
.formAreaTop td {
  font-size:9pt;
}

.label {
    font:   9pt;
    color:  #000000;
}
.EditReadOnly {
  background:#E3E3E3;
  width:130px;
}
.icon-add {
   background-image: url(../images/default/dd/drop-add.gif) !important;
}

.icon-edit {
   background-image: url(../images/default/form/exclamation.gif) !important;
}

.icon-edit2 {
   background-image: url(../images/default/dd/edit2.gif) !important;
}

.icon-del {
   background-image: url(../images/default/dd/del2.gif) !important;
}
.icon-wrong {
   background-image: url(../images/default/dd/wrong.gif) !important;
}

.icon-error {
   background-image: url(../images/default/dd/error.gif) !important;
}

.icon-back {
   background-image: url(../images/default/dd/undo.gif) !important;
}
.icon-dic {
   background-image: url(../images/default/dd/dic.gif) !important;
}

.icon-hint {
   background-image: url(../images/default/dd/hint.gif) !important;
}

.icon-panel {
   background-image: url(../images/default/dd/lc.gif) !important;
}

.icon-deal {
   background-image: url(../images/default/dd/deal.gif) !important;
}

.icon-qry {
   background-image: url(../images/default/dd/qry.gif) !important;
}
.icon-ok {
   background-image: url(../images/default/dd/ok.gif) !important;
}
.icon-ok2 {
   background-image: url(../images/default/dd/ok2.gif) !important;
}

.icon-ok3 {
   background-image: url(../images/default/dd/ok3.gif) !important;
}

.icon-doc {
   background-image: url(../images/default/dd/doc.gif) !important;
}

.icon-more {
   background-image: url(../images/default/dd/more.gif) !important;
}

.icon-user {
   background-image: url(../images/default/dd/user.gif) !important;
}

.icon-rpt {
  background-image: url(../images/default/dd/doc.gif) !important;
}
.icon-tree {
  background-image: url(../images/default/dd/tree.gif) !important;
}
.icon-user2 {
  background-image: url(../images/default/dd/user2.gif) !important;
}

.icon-key {
  background-image: url(../images/default/dd/changePwd.gif) !important;
}

.icon-lock {
  background-image: url(../images/default/grid/hmenu-lock.gif) !important;
}

.icon-unlock {
  background-image: url(../images/default/grid/hmenu-unlock.gif) !important;
}

.icon-excel {
  background-image: url(../images/default/dd/excel.gif) !important;
}

.icon-write {
  background-image: url(../images/default/dd/writetext.gif) !important;
}

.icon-user-red {
  background-image: url(../images/default/dd/user_red.jpg) !important;
}
.icon-user-yellow {
  background-image: url(../images/default/dd/user_yellow.jpg) !important;
}
.icon-user-green {
  background-image: url(../images/default/dd/user_green2.jpg) !important;
}

.icon-person {
  background-image: url(../images/default/dd/person.gif) !important;
}

.x-window-dlg .ext-mb-download {
  background:transparent url(../images/default/dd/download.gif) no-repeat top left;
  height:46px;
}

.loading-mask{
	position:absolute;
	left:0;
	top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
}
.loading-mask div{
    position:absolute;
	left:45%;
	top:40%;
    color:#555;
    font:bold 13px tahoma,arial,helvetica;
    padding:2px;
    z-index:20001;
    height:auto;
    padding:5px 5px 5px 45px;
    background:url( '../images/default/shared/blue-loading.gif' ) no-repeat 5px;
    line-height:36px;
}

.lightBox,
.popupCover,
.popupIframe,
.popupComponent { position:absolute; left:0; top:0; width:100%; height:100%;}
.popupComponent { z-index:2; display:block;}
.popupIframe { display:none; _display:block; _filter:alpha(opacity=0);}
.popupCover { background:#eee;}
.lightBox { text-align:center; overflow:auto;}
.lightBoxContent { display:inline-block; *display:inline; zoom:1;padding:10px; background:#fff;border:1px solid #a3bad9;color:#222;font:bold 13px tahoma,arial,helvetica;cursor:wait;}
.lightBoxMaxHeight { display:inline-block; vertical-align:middle; height:100%; *height:99.5%; width:1px; overflow:hidden; margin-left:-1px;}
.lightBoxWrapper { display:inline-block; *display:inline; zoom:1; text-align:left;height:36px;padding:10px;color:#555;    font:bold 13px tahoma,arial,helvetica;}
.lightBoxLoading {height:36px; width:40px;background:url( '../images/default/shared/blue-loading.gif' ) no-repeat 5px; float:left;}

.Edit {
  width:130px;
}

a {
    color:              blue;
    text-decoration:    none;
}

a:hover {
    color:              darkorange;
    text-decoration:    underline;
}

