/* CSS Document */
body{ font-family:"Î¢ÈíÑÅºÚ"; font-size:12px;; line-height:18px; margin:0; padding:0; }
div,dd,dl,dt,ol,ul,li,h3,h4,h5,p{margin:0;padding:0;}
img{vertical-align:middle;}

.header_wrap{ background:url(../images/header_bg.gif) no-repeat center; height:198px; width:100%; padding-top:8px; }
.header{ width:976px; margin:0 auto; height:159px; background:url(../images/head_bg.gif) no-repeat; }
.logo{ width:199px; height:109px; padding-top:23px; margin-left:23px; float:left }
.header_right{ width:725px; height:109px; float:right; margin-right:17px; }
.top_link{ width:700px; height:97px; margin-top:7px; }
.header_ver{ width:92px; height:24px; float:right; list-style-type:none; text-align:center; color:#fff; }
.ver_li{ width:46px; height:24px; text-align:center; float:left; background:url(../images/top_link_bg.gif) no-repeat; padding-top:2px; padding-top:3px \9; *padding-top:3px !important; }
.ver_li_on, .ver_li:hover{ width:46px; height:24px; text-align:center; float:left; padding-top:2px; padding-top:3px \9; *padding-top:3px !important; background:url(../images/top_link_bg_on.gif) no-repeat; }
.header_ver a{color:#fff; text-decoration:none;}
.header_ver a:hover{color:#333; text-decoration:none;}

.home_search{ width:400px; height:50px; float:right }

.header_icon{ width:164px; height:39px; float:left; }
.header_icon_ul{ width:164px; height:39px; float:right; list-style-type:none; text-align:center; }
.icon_home_li{ width:41px; height:39px; float:left; padding-top:8px; background:url(../images/icon_bg.gif) no-repeat; position:relative; }
.icon_msg_li{ width:41px; height:39px; float:left; padding-top:9px; background:url(../images/icon_bg.gif) no-repeat; position:relative;
}
.icon_corner_li{ width:41px; height:39px; float:left; padding-top:2px; background:url(../images/icon_bg.gif) no-repeat; position:relative; }

.icon_home_li:hover, .icon_home_li_on{ width:41px; height:39px; float:left; padding-top:8px; background:url(../images/icon_bg_on.gif) no-repeat; position:relative; }
.icon_msg_li:hover, .icon_msg_li_on{ width:41px; height:39px; float:left; padding-top:9px; background:url(../images/icon_bg_on.gif) no-repeat; position:relative; }

.icon_corner_li:hover, .icon_corner_li_on{ width:41px; height:39px; float:left; padding-top:2px; background:url(../images/icon_bg_on.gif) no-repeat; position:relative; }
.msg_count{ width:25px; height:25px; background:url(../images/msg_count_bg.png) no-repeat; position:absolute; top:2px; left:14px; font-size:10px; color:#fff; text-align:center; padding-top:2px; }
.icon_desc{ width:40px; height:34px; position:absolute; z-index:99; background:url(../images/icon_desc_bg.png) no-repeat; color:#fff; padding-top:12px; top:43px; left:0px; display:none; }

.header_search{ width:170px; height:50px; float:right; } 
.header_txtbox_search{ width:138px; height:28px; float:left; }
.header_btn_search{ width:32px; height:28px; float:left; *padding-top:1px !important; }
.txtbox_search{ width:138px; height:28px; border:none; background:url(../images/textbox_bg.gif) no-repeat; padding-left:3px; padding-top:0; padding-top:8px \9; *padding-top:8px !important; color:#646464; font-size:10px; }
.btn_search{ width:37px; width:32px \9; *width:32px !important; height:28px; border:none; background:url(../images/btn_search.gif) no-repeat; cursor:pointer; }
.hot_search{ width:170px; color:#fff; }

.header_txt{ width:965px; height:40px; margin:-4px auto 0 auto; background:url(../images/header_txt_bg.gif) no-repeat; text-align:left; }
.speaker_left{ width:230px; height:37px; float:left; color:#000; text-align:left; margin-left:15px; margin-top:6px; }
.icon_speaker{ width:14px; height:9px; margin-top:2px; float:left; }
.speaker_right{ width:176px; height:37px; float:right; margin-right:5px; color:#fff; }
.fy_div{ width:44px; height:37px; float:left; background:url(../images/fy_bg.png) center no-repeat; }
.zp_div{ width:44px; height:37px; float:left; background:url(../images/zp_bg.png) center no-repeat; }
.gz_div{ width:44px; height:37px; float:left; background:url(../images/gz_bg.png) center no-repeat; }
.bgz_div{ width:44px; height:37px; float:left; background:url(../images/bgz_bg.png) center no-repeat; }
.fy_txt{ width:40px; height:14px; font-size:11px; margin-left:2px; }
.fy_num{ width:44px; text-align:center; font-weight:bold; font-size:14px; }

.footer_wrap{ height:289px; width:100%; background:url(../images/bottom_bg.gif) center no-repeat; }
.footer{ width:961px; height:239px; margin:0 auto; background:url(../images/bottom_content_bg.gif) no-repeat; margin-top:-2px; }
.footer_back_top{ width:961px; height:29px; margin:0 auto; text-align:right; }
.footer_back_top a{color:#fff; text-decoration:none;}

.friend_link_txt{ margin-top:8px; width:950px; margin-left:11px; color:#fff; }
.friend_link_div{ width:950px; height:40px; margin-top:8px; margin-left:11px; color:#fff; }
.friend_link_ul{ width:950px; list-style-type:none; }
.friend_link_li{ width:105px; height:18px; float:left; text-align:left; }
.friend_link_ul a{color:#fff; text-decoration:none;} 
.pic_link_div{ width:886px; height:40px; margin:13px auto 0 auto; }
.pic_link_ul{ width:886px; list-style-type:none; text-align:center; }
.pic_link_li{ width:98px; float:left }

.copyright{ width:961px; margin:0 auto; height:20px; color:#000; text-align:center; }

.index_content_wrap{ width:100%; height:1860px; background:url(../images/main_content_bg.gif) repeat-y center; margin-top:-4px; padding-top:4px; }
.index_content{ width:976px; height:1522px; margin:0 auto; }
.index_left_col{ width:201px; height:1522px; float:left; }

.index_user_info{ width:197px; height:140px; background:url(../images/info_bg.gif) no-repeat; text-align:center; padding-top:24px; }
.index_user_info h2{ font-size:14px; color:#fff; width:197px; height:45px; text-align:center; }
.index_user_info a{color:#f0ff00; text-decoration:none;}
.index_user_info a:hover{color:#f0ff00; text-decoration:underline;}

.index_userinfo_info{width:197px; height:574px; background:url(../images/userinfo_bg.gif) no-repeat;}
.index_userinfo_info_t{width:197px; height:356px;}
.index_userinfo_info_t2{width:197px; height:30px; background:url(../images/user_info_name_bg.gif) no-repeat; padding-top:8px; padding-left:4px;}
.index_userinfo_info_t2_1{width:97px; height:38px; float:left; color:#555;}
.index_userinfo_info_t2_2{width:90px; height:38px; float:right; margin-right:8px;}
.index_userinfo_info_t2_2 a{color:#949494; text-decoration:none; font-size:10px;}
/*.index_userinfo_info_t3{width:197px; height:171px; padding-left:4px;}*/
.index_userinfo_info_t3{width:180px; height:25px; margin:4px auto; color:#fff; font-size:14px;}
.index_userinfo_info_t3_1{width:160px; height:20px; float:left;}
.index_userinfo_info_t3_2{width:20px; height:20px; float:right;}
.index_userinfo_info_line{width:181px; height:7px;}

.index_pl_info{ width:197px; height:365px; background:url(../images/pl_info_bg.gif) no-repeat; padding-top:4px; }
.index_pl_info_header{ width:190px; margin:0 auto; height:30px; font-size:11px; font-weight:bold; text-align:center; }
.index_pl_info_header_txt{ width:90px; height:25px; float:left; color:#000; padding-top:5px; padding-left:3px; }
.index_pl_info_header_txt:hover, .index_pl_info_header_txt_on{ width:90px; height:25px; background:url(../images/pl_header_txt_bg.gif) center no-repeat; float:left; color:#333; padding-top:5px; padding-left:3px; }
.index_pl_info_header_txt a{color:#fff; text-decoration:none; font-size:11px; font-weight:bold;}
.index_pl_info_header_txt:hover a, .index_pl_info_header_txt_on a{color:#333; text-decoration:none; font-size:11px; font-weight:bold;} 
.index_pl_content{ width:190px; margin:0 auto; }
.index_pl_content_ul{ width:190px; list-style-type:none; }
.index_pl_content_line{ width:190px; float:left; height:1x \9; }
.index_pl_content_li{ width:190px; float:left; height:60px; height:75px \9; *height:60px !important; margin-top:5px; }
.pl_content_left{ width:75px; height:75px; float:left; text-align:center; }
.pl_content_right{ width:115px; height:75px; float:left; }
.pl_content_txtbox{ width:110px; height:54px; background:url(../images/pl_txt_box_bg.gif) no-repeat; color:#333; padding-left:2px; }
.pl_content_user{ width:110px; height:12px; color:#fff; font-weight:bold; }
.pl_content_d_left{ width:60px; height:18px; float:left; }
.pl_content_d_right{ width:35px; height:18px; float:right; text-align:right; }

.index_gz_info{ width:197px; height:217px; background:url(../images/gz_info_bg.gif) no-repeat; padding-top:4px; }
.index_gz_info_header{ width:190px; height:27px; margin:0 auto; padding-top:4px; padding-left:4px; }

.index_gz_info_header_left{ width:99px; height:25px; float:left; text-align:center; color:#fff; font-weight:bold; padding-top:3px; }
.index_gz_info_header_left:hover, .index_gz_info_header_left_on{ width:99px; height:25px; background:url(../images/gz_nav_on.gif) no-repeat; float:left; text-align:center; color:#333; font-weight:bold; padding-top:3px; }
.index_gz_info_header_right{ width:60px; height:25px; float:left; margin-left:2px; text-align:center; color:#fff; font-weight:bold; padding-top:3px; }
.index_gz_info_header_right:hover, .index_gz_info_right_on{ width:60px; height:25px; background:url(../images/gz_nav_r_on.gif) no-repeat; float:left; text-align:center; color:#333; font-weight:bold; padding-top:3px; }
.index_gz_info_header_round{ width:16px; height:25px; float:left; padding-top:3px; padding-left:3px; }
.index_gz_info_user_icon_list{ width:190px; height:150px; /*margin:0 auto;*/ margin-left:5px; list-style-type:none; }
.index_gz_info_user_icon{ width:38px; height:38px; float:left; }
.index_gz_info_user_icon ul{list-style-type:none; position:relative;}
.index_gz_info_user_icon_ul{float:left;}

.gz_info_user_name{ width:64px; height:25px; background:url(../images/gz_user_name_bg.png) no-repeat; position:absolute; left:8px; top:3px; color:#fff; padding-top:8px; padding-left:16px; z-index:99; display:none; }
.index_gz_info_friends{ width:150px; height:25px; float:left; padding-left:12px; color:#fff; font-weight:bold; }

.index_plb_info{ width:197px; height:445px; background:url(../images/plb_bg.gif) no-repeat; padding-top:4px; margin-top:-4px;}
.index_plb_info_header{ width:190px; margin:0 auto; height:30px; font-size:11px; font-weight:bold; text-align:center; }

.index_plb_info_header_txt{width:160px; height:25px; float:left; color:#fff; padding-top:5px; padding-left:3px; text-align:left;}
.index_plb_content_li{width:190px; float:left; margin-top:5px; color:#fff; height:75px; height:90px \9; *height:80px !important;}

.index_ad_info{width:197px; height:309px; background:url(../images/ad_info_bg.gif) no-repeat; padding-top:3px;}
.index_ad_info_content{width:182px; height:71px; margin:4px auto;}

.index_center_col{width:563px; height:1856px; float:left; margin-left:3px;}

.index_banner_info{width:558px; height:280px; margin:0 auto;}
.play li{list-style:none;}img{border:none;}em{font-style:normal;}
.play a{color:#555;text-decoration:none;outline:none;blr:this.onFocus=this.blur();}
.play a:hover{color:#000;text-decoration:underline;}
.clear{height:0;overflow:hidden;clear:both;}
.textbg{margin-top:200px;z-index:1;filter:alpha(opacity=40);opacity:0.4;width:558px;position:absolute;height:70px;background:url(../images/banner_f_bg.png) no-repeat;}
.text{margin-top:205px;z-index:2;padding-left:10px;font-size:14px;font-weight:bold;width:340px;color:#fff;line-height:25px; overflow:hidden;position:absolute;cursor:pointer;}
.clear{height:0;overflow:hidden;clear:both;}
.play{width:558px;height:270px; border:none; text-align:left;}
.play ul{list-style-type:none;}
.num{margin:220px 5px 0 370px;z-index:3;width:145px; text-align:right;position:absolute;height:25px;}
.num a{margin:0 2px;width:20px;height:20px;font-size:14px; font-weight:bold;line-height:20px;cursor:pointer;color:#000;padding:0 5px;background:url(../images/pos_out.gif) no-repeat;text-align:center}
.num a.on{background:url(../images/pos_on.gif) no-repeat;color:#fff;}
.num a.on2{background:url(../images/pos_out.gif) no-repeat;color:#000;}
.content img{width:558px;height:270px;border:none;}
.content a{color:#555;text-decoration:none;outline:none;blr:this.onFocus=this.blur();}

.index_new_upload_info{width:562px; height:591px; background:url(../images/new_u_zp.gif) no-repeat; margin:0 auto;}
.index_new_upload_header{width:550px; height:22px; padding-left:8px; margin-left:4px;}
.index_new_upload_header_txt{width:520px; height:22px; float:left; color:#fff; font-weight:bold;}
.new_upload_header_img{width:26px; height:20px; float:left;}
.new_upload_header_txt{width:458px; height:20px; float:left;}
.index_new_upload_content{width:555px; float:left; margin-top:-6px; padding-left:5px; height:560px;;}
.index_new_upload_info_l{width:369px; height:560px; float:left;}
.index_new_upload_info_r{width:184px; height:560px; float:left;}
.index_new_upload_info_s_img{width:184px; height:186px; float:left; position:relative;}
.index_new_upload_info_h_img{width:184px; height:373px; float:left; position:relative;}
.index_new_upload_info_w_img{width:369px; height:186px; float:left; position:relative;}
.index_new_upload_info_s_foot{width:184px; height:57px; position:absolute; top:129px; left:0; background:url(../images/new_u_foot_bg.png) no-repeat; font-size:14px; font-weight:bold; padding:12px 0 0 7px;}
.index_new_upload_info_h_foot{width:184px; height:57px; position:absolute; left:0; top:316px; background:url(../images/new_u_foot_bg.png) no-repeat; font-size:14px; font-weight:bold; padding:12px 0 0 7px;}
.index_new_upload_info_w_foot{width:369px; height:57px; position:absolute; left:0; top:129px; background:url(../images/new_u_w_foot_bg.png) no-repeat; font-size:14px; font-weight:bold; padding:12px 0 0 7px;}


.index_gzdt_info{width:563px; height:400px; margin:0 auto; background:url(../images/gzdt_bg.gif) no-repeat; padding-top:4px;}
.index_gzdt_info_content{width:555px; height:378px; margin:0 auto;}
.index_gzdt_info_content_t{width:555px; height:170px; margin: auto;}
.index_gzdt_info_line{width:555px; height:42px; height:42px \9; *height:12px !important; text-align:let; margin:0 auto;}
.index_gzdt_info_content_t_1{width:115px; height:170px; float:left; color:#000; margin-top:4px;}
.gzdt_info_content_newest_box{width:105px; margin:0 auto; height:121px; background:url(../images/gzdt_upload_box.png) no-repeat; text-align:center; color:#333; padding-top:8px;}
.gzdt_info_content_newest_txt{width:105px; height:15px; margin:0 auto; text-align:right;}
.index_gzdt_info_content_t_2{width:106px; height:170px; float:left; text-align:center; margin-left:5px;}
.index_gzdt_info_content_t_3{width:164px; height:170px; float:left; text-align:center; margin-left:5px;}
.index_gzdt_info_content_t_4{width:140px; height:170px; float:left; text-align:center; margin-left:5px;}
.index_gzdt_info_content_t_5{width:205px; height:170px; float:left; text-align:center; margin-left:5px;}
.index_gzdt_info_content_t_6{width:115px; height:170px; float:left; text-align:center; margin-left:5px;}

.index_new_pf_info{width:562px; height:303px; background:url(../images/pf_info_bg.gif) no-repeat; margin:0 auto;}
.index_new_pf_info_content{width:555px; height:281px; float:left; margin-top:-4px; margin-left:5px;}
.index_new_pf_info_content_t{width:137px; height:139px; float:left; position:relative;}
.index_new_pf_info_content_t_f{width:137px; height:47px; position:absolute; left:0; top:92px; background:url(../images/new_u_foot_bg.png) no-repeat; padding-top:3px; padding-left:6px;}
.index_new_pf_info .index_new_upload_header{padding-top:3px;}

.index_tz_info{width:562px; height:271px; background:url(../images/tz_bg.gif) no-repeat; margin:0 auto;}
.index_tz_info_content{width:555px; height:240px; float:left; margin-left:5px; margin-top:-4px;}
.index_tz_info_content_main{width:92px; height:116px; float:left; background:#fff; margin-top:2px;}
.index_tz_info_content_main_t{width:86px; height:90px; margin:3px auto;}
.index_tz_info_content_main_f{width:86px; height:20px; margin:0 auto; text-align:center; color:#333; font-size:12px;}

.index_right_col{width:201px; height:1856px; float:left; padding-top:3px;}

.index_right_ad{width:196px; height:167px; margin:0 auto;}

.index_rmtz_info{width:200px; height:398px; margin:0 auto; background:url(../images/rmtz_info_bg.gif) no-repeat;}
.index_rmtz_info_header_1{width:200px; height:22px; padding-top:6px; margin-left:6px;}
.index_rmtz_info_header_txt1{width:48px; height:20px; float:left; text-align:center;}
.index_rmtz_info_header_txt1:hover, .index_rmtz_info_header_txt1_on{width:48px; height:20px; float:left; background:url(../images/rmtz_txt_bg1.gif) no-repeat; text-align:center;}
.index_rmtz_info_header_txt1 a{color:#fff; text-decoration:none;}
.index_rmtz_info_header_txt1:hover a, .index_rmtz_info_header_txt1_on a{color:#333; text-decoration:none;}
.index_rmtz_info_header_2{width:200px; height:22px; background:url(../images/rmtz_info_header_bg.gif) center no-repeat; color:#333;}
.index_rmtz_info_header_3{width:97px; height:22px; float:right; margin-right:13px; background:url(../images/st_txt_bg.gif) center no-repeat;}
.index_rmtz_info_header_txt2{width:94px; height:20px; margin-top:2px; margin-left:6px; float:left}
.index_rmtz_info_header_txt3{width:32px; height:20px;float:left; margin-top:2px; text-align:center;}
.index_rmtz_info_header_txt3:hover, .index_rmtz_info_header_txt3_on{width:32px; height:20px;float:left; margin-top:2px; text-align:center; background:url(../images/rmtz_txt_bg2.gif) top center no-repeat;}
.index_rmtz_info_header_txt3 a{color:#333; text-decoration:none;}
.index_rmtz_info_header_txt3:hover a, .index_rmtz_info_header_txt3_on a{color:#fff; text-decoration:none;}
.index_rmtz_info_content{width:196px; height:335px; margin:3px auto;}
.index_rmtz_info_content_t1{width:196px; height:79px; margin-top:4px;}
.rmtz_info_content_1{float:left; width:40px; height:59px; margin-top:10px; text-align:center; font-size:48px; font-weight:bold; font-family:Impact; line-height:48px;}
.rmtz_info_content_2{float:left; width:105px; height:79px; text-align:center;}
.rmtz_info_content_3{float:left; width:50px; height:79px; background:url(../images/rmtz_txt_box_bg.gif) center no-repeat; text-align:center; font-size:16px;}
.rmtz_info_content_t2{width:196px; height:25px; padding-top:4px; color:#333; text-align:center; margin-top:5px;}
.rmtz_info_content_4{float:left; width:30px; height:20px;font-size:18px; font-weight:bold; font-family:Impact; background:url(../images/rmtz_num_bg.png) no-repeat; margin-left:10px; text-align:center;}
.rmtz_info_content_5{float:left; width:45px; height:20px;}
.rmtz_info_content_6{float:left; width:110px; height:20px; color:#fff;}
.rmtz_info_content_df{with:43px; height:21px; margin:3px auto; background:url(../images/rmtz_txt_bg3.gif) center no-repeat; color:#fff;}
.rmtz_info_content_fs{with:43px; height:25px; margin:20px auto; color:#08a1f1; font-weight:bold;}
.index_rmtz_info_content_line{width:196px; height:1px; margin-top:4px; text-align:center}

.index_rmtag_info{width:200px; height:316px; margin:0 auto; background:url(../images/rmtg_info_bg.gif) no-repeat;}
.index_rmtag_info .index_gz_info_header{height:20px;}
.index_rmtag_info_header_left{ width:150px; height:20px; float:left; color:#fff; font-weight:bold; padding-left:2px;}
.index_rmtag_info_content{width:196px; height:290px; float:left; margin-top:-5px; margin-left:1px;}
.rmtag_info_content{width:196px;padding-left:6px; color:#049ff1; font-weight:bold; font-size:12px;}

.index_rmtz_info_header_txt{color:#fff; font-weight:bold; padding-left:2px;}

.reg_main{width:966px; height:563px; margin:0 auto; background:url(../images/reb_info_bg.gif) no-repeat;}
.reg_header{width:950px; height:33px; margin:0 auto; padding-top:10px; color:#fff;}
.reg_content{width:650px; height:430px; margin:65px auto; color:#fff;}
.reg_content_t{width:650px; height:35px; padding-left:13px; margin:5px auto;}
.reg_content_t_1{width:80px; height:35px; float:left;}
.reg_content_t_2{widows:470px; height:35px; float:left;}
.reg_text_box{width:200px;}
.reg_content_line{width:549px; height:5px; margin-top:3px;}
.reg_content_t2{width:550px; height:25px; text-align:center;}
.reg_content_t2 a{color:#fff;}
.reg_content_t3{width:550px; height:42px; text-align:center;}
.btn_confirm{color:#fff; border:none; background:url(../images/btn_reg.gif) no-repeat; width:131px; height:42px; font-size:16px;}

.login_main{width:966px; height:563px; margin:0 auto; background:url(../images/login_info_bg.gif) no-repeat;}
.login_content{width:862px; height:467px; margin:35px auto;}
.login_box{width:388px; height:283px; background:url(../images/login_box.png) no-repeat; padding-top:80px;}
.login_box_t{width:330px; height:35px; margin:5px auto; padding-left:14px;}
.login_box_t_1{width:60px; height:35px; float:left;}
.login_box_t_2{width:260px; height:35px; float:left;}
.login_box_t_2 a{color:#f00; text-decoration:none;}
.login_box_t2{width:230px; height:25px; text-align:center;}
.login_box_t3{width:330px; height:42px; text-align:center;}
.login_btn{color:#fff; border:none; background:url(../images/btn_login.gif) no-repeat; width:61px; height:42px; font-size:16px;}

.right_colmn_content{width:764px; float:left; height:1522px;}
.right_colmn_head{width:759px; height:42px; background:url(../images/right_col_head.gif) no-repeat; padding-top:5px; padding-left:8px; text-align:center;}
.right_colmn_header_t1{width:120px; height:27px; text-align:center; float:left; padding-top:10px;}
.right_colmn_header_t1:hover, .right_colmn_header_t1_on{width:120px; height:27px; text-align:center; background:url(../images/right_col_head_on.gif) center no-repeat; float:left; padding-top:10px;}
.right_colmn_header_t1 a{color:#fff; text-decoration:none; font-weight:bold; font-size:14px;}
.right_colmn_header_t1:hover a, .right_colmn_header_t1_on a{color:#049ff1; font-weight:bold; text-decoration:none; font-size:14px;}

.right_colmn_main{width:754px; height:862px; background:url(../images/right_col_main.gif) no-repeat; padding-top:5px; padding-left:8px; margin-top:5px;}
.right_colmn_main_t{width:759px; height:31px;}
.right_colmn_main_t_1{width:93px; height:27px; float:left; text-align:center; padding-top:6px;}
.right_colmn_main_t_1:hover, .right_colmn_main_t_1_on{width:93px; height:27px; float:left; text-align:center; background:url(../images/right_col_main_on.gif) center no-repeat;padding-top:6px;}
.right_colmn_main_t_1 a{color:#049ff1; text-decoration:none; font-weight:bold;}
.right_colmn_main_t_1:hover a, .right_colmn_main_t_1_on a{color:#fff; text-decoration:none; font-weight:bold;}
.right_colmn_main_t2{width:704px; height:227px; margin:25px auto;}
.right_colmn_main_t2_1{width:106px; height:130px; float:left; margin-top:25px;}
.right_colmn_main_t2_1_1{width:106px; height:131px;float:left; background:url(../images/box_user_bg.gif) no-repeat;}
.right_colmn_main_t2_1_1_a{width:92px; height:92px; margin:0 auto; padding-top:10px;}
.right_colmn_main_t2_1_1_b{width:92px; height:35px; margin:0 auto; text-align:center; color:#333;}
.right_colmn_main_t2_1_2{width:106px; height:35; margin-top:4px; text-align:center; color:#333;}
.right_colmn_main_t2_2{width:576px; height:207px; border:1px #fff solid; float:left;padding-left:15px;}
.right_colmn_main_t2_2_1a{width:122px; height:156px; float:left; text-align:center; margin-top:15px;}
.right_colmn_main_t2_2_1b{width:179px; height:156px; float:left; text-align:center; margin-top:15px;}
.right_colmn_main_t2_2_1c{width:153px; height:156px; float:left; text-align:center; margin-top:15px;}
.right_colmn_main_t2_2_1d{width:225px; height:156px; float:left; text-align:center; margin-top:15px;}
.right_colmn_main_t2_2_1e{width:125px; height:156px; float:left; text-align:center; margin-top:15px;}
.right_colmn_main_t2_2_1f{width:570px; height:35px; float:right; color:#fff; text-align:right; margin-top:16px; margin-right:16px;}
.right_colmn_main_t3{width:704px; height:428px; margin:25px auto;}
.right_colmn_main_t3 .right_colmn_main_t2_1_1_b{color:#ff5a00;}
.right_colmn_main_t3 .right_colmn_main_t2_2{height:408px;}
.right_colmn_main_t4{width:164px; height:22px; margin:100px auto 0 auto; text-align:center; color:#fff;}
.right_colmn_main_t4_1{width:21px; height:19px; float:left;}
.right_colmn_main_t4_2{width:14px; height:19px; float:left;}
.right_colmn_main_t4_2 a{color:#fff; text-decoration:none;}
.right_colmn_main_t4_2 a:hover{text-decoration:underline; text-align:#fff;}






