@charset "gb2312";
/* CSS Document */
/* Style Sheet
/* Use for:
/* Created :2013-03-15
/* Update:
/* Author:lincaiming
 */
 
/* css reset */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, big, em, font, img, strong, tt, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td{ padding: 0; margin: 0;}
table { border-collapse:collapse; border-spacing:0;}
fieldset, img { border:0;}
button,input,select,textarea{ font-size:12px;}
ol,ul,li{ list-style:none}
h1, h2, h3, h4, h5, h6 { font-size:100%;}

body{ color:#ccccff; background:#000; font-size:12px;}
a{ color:#ccccff; text-decoration:none;}
a:hover{ color:#0bc5e1;}
.clear{clear:both; font-size:0; line-height:0; overflow:hidden; height:0;}
.wrapper{ width:1002px; margin:0 auto;}
    .header{ position:relative; width:1002px; height:316px;}
	.header1{ background:url(../images/header1.jpg) no-repeat; width:1002px; height:91px;}
	.header2{ background:url(../images/header2.jpg) no-repeat; width:1002px; height:92px;}
	.header3{ background:url(../images/header3.jpg) no-repeat; width:1002px; height:91px;}
.search{ background:url(../images/search.jpg) no-repeat; width:1002px; height:42px;}
.fullbg{ background:#000000 url(../images/fullbg.jpg) no-repeat center 0;}

.nav{ background:url(../images/nav.jpg) no-repeat; width:1002px; height:93px; overflow:hidden;}
    .nav li{ float:left; display:inline; width:195px; height:70px;}  
	.nav ul{ float:left; display:inline; margin:14px 0 0 13px;}
	.nav li a{ display:block; width:100%; height:100%; text-indent:-200px; overflow:hidden;}
	.nav li.nav1 a:hover{ background:url(../images/navon.jpg) no-repeat -13px -14px; }
	.nav li.nav2 a:hover{ background:url(../images/navon.jpg) no-repeat -208px -14px; }
	.nav li.nav3 a:hover{ background:url(../images/navon.jpg) no-repeat -403px -14px; }
	.nav li.nav4 a:hover{ background:url(../images/navon.jpg) no-repeat -598px -14px; }
	.nav li.nav5 a:hover{ background:url(../images/navon.jpg) no-repeat -793px -14px; }
.logo{ width:194px; height:73px; position:absolute; left:423px; top:19px;} 
    .logo a{ display:block; width:100%; height:100%;}
	.search .sul{ float:right; width:307px; display:inline; margin:9px 29px 0 0;}
	.search li{ float:left; display:inline;}
	.search_text{ width:250px; height:23px; line-height:24px; color:#989897; padding:0 3px; background:none; border:none; }
	.btn_search{ width:51px; height:24px; cursor:pointer; text-align:center; color:#2b0c01; font-weight:bold; background:none; border:none; padding-bottom:3px; line-height:24px; }
.hdp{ background:url(../images/hdp.jpg) no-repeat; width:968px; height:284px; margin:0 auto; position:relative;}
    .bigimg{ width:869px; height:264px; margin:10px 0 0 48px; float:left; display:inline; position:relative;}
	.main{ width:1002px; background:url(../images/main.jpg) repeat-y;}
	.bigimg dl{ width:803px; height:63px; background:#000 url(../images/play.gif) no-repeat 15px 11px; padding-left:66px; position:absolute;
	top:203px; left:0; filter: Alpha(Opacity=80, Style=0);opacity: 0.80;}
	.bigimg dl dt{ line-height:23px; padding-top:10px; font-weight:bold; color:#0bc5e1; font-size:14px; height:23px; overflow:hidden;}
	.bigimg dl dt a{color:#0bc5e1;}
	.bigimg dl dd{ font-size:12px; line-height:18px; font-weight:bold; color:#8b8e90;}
	a.btn_left,a.btn_right{ width:38px; height:179px; display:block; position:absolute; top:49px; left:0;}
	a.btn_left:hover{ background:url(../images/btnon.gif) no-repeat;}
	a.btn_right{ left:926px;}
	a.btn_right:hover{ background:url(../images/btnon.gif) no-repeat -141px 0;}
	
	
	.num{ position:absolute; top:255px; right:58px;}
	.num a{ display:inline-block; float: left; width:30px; height:9px; background:#191919; border:1px solid #2e2e2e; margin-right:2px; text-indent:-200px; overflow:hidden;}
	.num a.on{ background:#128596; border:1px solid #000;}
	.mainbom{ background:url(../images/mainbom.jpg) no-repeat; width:1002px; height:20px; line-height:0; font-size:0; overflow:hidden;}
	
	


