@charset "utf-8";
/*
* @name		:Template
* @author	:czy
* @version	:1.0.0.0
* @type		:公共
* @explain	:
* @relating	:
* @dependent:
* @date     : 2011-05-16
* @qq       : 274142680@qq.com
*/
/* ************ template ************* */

/* template */
:root{ background:#000; color:#fff; }
body{background:#272727 url(../images/bg.gif) repeat-x; font-family:Arial, Helvetica, sans-serif;}
body,a,a:hover{ color:#fff;}
a{blr:expression(this.onFocus=this.blur());} /* IE */
a{outline:none;}/* FF */
/* grid */
.header,.container,.footer{width:950px; margin:0 auto;}
/* button */

/* line */

/* element */


/* -- template -- */
.header{ padding-top:50px;}

.logo{ float:left; display:inline-block; *display:inline;vertical-align:middle;}

.nav{ float:right; display:inline-block; *display:inline; font-weight:bold; padding-top:20px;}
.nav .cur,
.nav .cur a
{ color:#fff;}
.nav a{ color:#999595; margin:0 20px;}

.mainlist > li {  background:#fff; margin:10px 0; font-size:14px;}
.mainlist .yu{ display:inline-block;*display:inline; padding:10px 10px 0 0; float:right; color:#666; width:197px;}
.mainlist .yu > input[type=button]{ 
	background:#b91600;
 	width:200px;
 	height:55px;
    text-align:center;
    vertical-align:middle;
	border:none; 
	font-size:22px;
	font-weight:bold;
	color:#fff;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
 }
.mainlist .yu span{ display:block;}
.mainlist .yu .time{ text-align:right; font-weight:bold;}

.footer-bg{ background:#000; border-top:1px solid #363636; color:#bebebe; text-align:center;}
.footer{ padding:20px 0;}

.follow {display:inline-block; *display:inline; float:left; font-size:14px; font-weight:bold;}
.follow a{ display:inline-block; *display:inline; background:url(../images/ico.png);width:22px; height:22px; vertical-align:bottom;}
.follow a:nth-child(1){ background-position:0 0; }
.follow a:nth-child(2){ background-position:-25px 0; }
.follow a:nth-child(3){ background-position:-50px 0; }
.follow a:nth-child(4){ background-position:-75px 0; }

.pr{ float:right;display:inline-block; *display:inline; font-size:18px;font-weight:bold;}

.follow,.pr{ margin:6px 0;}


.pager{ padding:5px 0; text-align:center; font-weight:bold;}
.pager a{}

.newslist,.newslist a{ color:#7c7c7c}
.newslist li{ display:block;}

.boxs{ margin:10px auto;}
.boxs > div{width:260px; background:url(../images/bg-box.png) no-repeat; padding:0 10px; height:215px;}
.boxs > div h3{ font-size:16px; font-weight:bold; margin:10px 0;}
.boxs > div ul{ line-height:22px;}
.boxs > div:nth-child(2){ margin:0 15px; *margin:0 12px;}
.boxs > div:nth-child(3){width:340px; background:url(../images/bg-box1.png) no-repeat; }

.foottype li{width:70px; text-align:center; margin:10px 6px; *margin:10px 3px; color:#686868;}
.foottype  img{ background:#33372e; padding:5px;}
.foottype span{ display:block;}
.foottype .name{width:12px; height:auto; color:#fff; font-family:宋体; font-size:16px; font-weight:bold; margin:10px auto;}

.about > .first{width:160px; padding-top:35px;}
.about h3{ color:#fff;}
.about{  color:#6f6f6f; font-size:12px;}

.form{ margin:30px 0;}
.form h3{ font-size:32px; font-weight:bold;}
.form li{ margin-bottom:20px;}
.form li span{ display:inline-block; *display:inline; zoom:1; width:100px; vertical-align:middle; font-weight:bold;}
.form input[type=text],
.form textarea{width:420px; height:40px; line-height:40px; background:#fff; border:none;vertical-align:middle;-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px; font-size:18px; font-family:"微软雅黑"; padding:0 2px;}
.form textarea{ height:150px; line-height:22px; vertical-align:top;}

.subnav {width:700px; float:left;}
.subnav .cur{ font-size:31px; color:#fff;}
.subnav a:first-child{ margin:0;}
.subnav a{ color:#6f6f6f; margin:0 10px; vertical-align:middle;}

.pagetype{ float:right;width:120px; padding-top:15px; color:#6f6f6f}
.pagetype a{ margin-left:10px;}

.items li{ text-align:center; margin:10px 20px;width:200px;}
.items li:nth-child(4n){ margin-right:0;}
.items li:nth-child(4n+1){ margin-left:0;}
.items a,.items span{ display:block; margin:5px 0; font-weight:bold;}
.items span{ font-size:24px;}

.about-detail{ line-height:25px; padding-bottom:10px;}
.about-detail > .first{width:620px;}
.about-detail img{ margin-right:20px;}

.site a{ margin: 0 5px; color:#fff; font-weight:bold;}
.site a:first-child{ margin-left:0;}
.site a:last-child{margin-right:0}

.product-detail{ margin:20px 0; font-weight:bold;}
.product-detail .info{ float:left; margin-left:30px; width:432px; line-height:22px;}
.product-detail .info p:first-child{ }
.product-detail .info p:nth-child(2){ height:100px;}
.product-detail .info p:nth-child(3){ height:70px;}
.product-detail .info p:nth-child(4){ height:120px;}
.product-detail .info .button{width:150px; height:40px; text-align:center; line-height:40px; font-size:18px; font-weight:bold; color:#464646; background:#fff; border:none; margin:0; padding:0}