.pn { width: 1020px; margin: 0 auto;}
.comm-spe { font-weight: bold; margin: 0 0 0 2px;}
.comm-spe sup { font-size: 14px; position: relative; top: -8px; left: -2px;}
.mod-hd { padding: 35px 0 35px 41px; overflow: hidden; *zoom: 1;}
.mod-hd h3 { font-size: 36px; color: #4d5058; float: left; display: inline;}

.pn-banner { background: url(../pic/banner.jpg) no-repeat center top;}
.pn-banner .in { height: 639px; position: relative; margin: 0 auto;}
.pn-banner .in .link { display: block; width: 300px; height: 56px; position: absolute; left: 50%; bottom: 110px; margin: 0 0 0 -147px;}

.pn-intro { padding: 80px 0;}
.pn-intro ul { overflow: hidden; *zoom: 1;}
.pn-intro .item { float: left; display: inline; text-align: center; width: 252px;}
.pn-intro .last { margin-right: 0;}
.pn-intro .item .img { margin: 0 0 20px 0;}
.pn-intro .item .img i { display: inline-block; width: 80px; height: 80px; background: url(../image/ico.png) no-repeat;}
.pn-intro .item .img .i-i1 { background-position: 0 0;}
.pn-intro .item .img .i-i2 { background-position: -100px 0;}
.pn-intro .item .img .i-i3 { background-position: -200px 0;}
.pn-intro .item .img .i-i4 { background-position: -300px 0;}
.pn-intro .item h2 { color: #4d5058; font-size: 32px; margin: 0 0 10px 0;}
.pn-intro .item .con { line-height: 30px; font-size: 18px; color: #727682;}

.dl-list .item { height: 435px; position: relative; border-top: 1px solid #eee; padding: 0 0 0 41px;}
.dl-list .item .tit { font-size: 36px; color: #4d5058; margin: 0 0 3px 0; padding: 160px 0 0 0;}
.dl-list .item .con { font-size: 18px; color: #727682; line-height: 30px; width: 524px;}
.dl-list .item .img { position: absolute; width: 350px; height: 350px; top: 50%; right: 70px; margin: -175px 0 0 0;}
.dl-list .item .img i { width: 100%; height: 100%; display: block; background: url(../image/ico.png) no-repeat;}
.dl-list .item .img .i-i1 { background-position: 0 -200px;}
.dl-list .item .img .i-i2 { background-position: -400px -200px;}
.dl-list .item .img .i-i3 { background-position: 0 -600px;}
.dl-list .item .img .i-i4 { background-position: -400px -600px;}
.dl-list .p-l { padding-left: 455px;}
.dl-list .p-l .img { left: 50px; right: auto;}

.pn-flow { border-top: 1px solid #eee;}
.pn-flow .bd { overflow: hidden; padding: 0 0 60px 0;}
.pn-flow .item { width: 169px; height: 163px; position: relative; font-size: 18px; color: #4d5058; float: left; display: inline; text-align: center; border-right: 1px solid #eee;}
.pn-flow .last { border: 0;}
.pn-flow .item .img { padding: 23px 0 10px 0;}
.pn-flow .item .img i { display: inline-block; width: 80px; height: 80px; background: url(../image/ico.png) no-repeat;}
.pn-flow .item .img .i-i1 { background-position: 0 -100px;}
.pn-flow .item .img .i-i2 { background-position: -100px -100px;}
.pn-flow .item .img .i-i3 { background-position: -200px -100px;}
.pn-flow .item .img .i-i4 { background-position: -300px -100px;}
.pn-flow .item .img .i-i5 { background-position: -400px -100px;}
.pn-flow .item .img .i-i6 { background-position: -500px -100px;}
.pn-flow .item .ico { position: absolute; top: 50%; right: -10px; width: 20px; height: 20px; margin: -10px 0 0 0;}
.pn-flow .item .i-arrow { display: inline-block; width: 100%; height: 100%; background: url(../image/ico.png) no-repeat -400px 0;}

.pn-faq { border-top: 1px solid #eee;}
.pn-faq .mod-hd .tel { float: right; display: inline; font-size: 20px; color: #fff; height: 41px; line-height: 41px; background: #4d5058; border-left: 5px solid #da3a38; padding: 0 3px 0 0; margin: 6px 46px 6px 0;}
.pn-faq .item { font-size: 16px; color: #878787; line-height: 32px; margin: 0 0 27px 0;}
.pn-faq .item dt { font-weight: bold; color: #4d5058; padding: 0 0 0 43px;}
.pn-faq .item dt strong { font-weight: bold; vertical-align: middle;}
.pn-faq .item .i-message { display: inline-block; width: 26px; height: 25px; background: url(../image/ico.png) no-repeat -450px 0; vertical-align: middle; margin: 0 5px 0 0;}
.pn-faq .item dd { padding: 0 30px 0 82px;}
.pn-faq .bd { padding: 0 0 26px 0;}