// 水平状态的手机及以下
@media (max-width: 480px) {
    .hidden-xs{ display: none; }
}

// 界于水平手机与竖直平板之间
@media (max-width: 768px) {
    .hidden-sm{ display: none; }
}

// 界于竖直平板与水平平板/桌面之间
@media (min-width: 768px) and (max-width: 980px) {
    .hidden-md{ display: none; }
}

// 宽桌面
@media (min-width: 1200px) {
    .hidden-lg{ display: none; }
}
