/*layout*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{ display:block;}
audio,canvas,video{ display:inline-block; *display:inline; *zoom:1;}
audio:not([controls]){ display:none; height:0;}
[hidden]{ display:none;}
html,button,input,select,textarea{ font-size:100%;}
html{ -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
body,div,dl,dt,dd,ul,ol,menu,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,fieldset,legend,blockquote,figure{ margin:0; padding:0;}
body{ font-size:12px; line-height:1.33;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
abbr[title]{ border-bottom:1px dotted;}
b,strong{ font-weight:bold;}
q{ quotes:none;}
q:before,q:after{ content:''; content:none;}
sub,sup{ position:relative; vertical-align:baseline;}
ul,ol,menu{ list-style:none outside none}
img{ border:0; -ms-interpolation-mode:bicubic; vertical-align:middle;}
svg:not(:root){ overflow:hidden;}
fieldset{ border:0;}
legend{ border:0; white-space:normal; *margin-left:-7px;}
button,input,select,textarea{ margin:0; vertical-align:baseline; *vertical-align:middle; outline:none;}
button,input{ line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{ -webkit-appearance:button; cursor:pointer; *overflow:visible;}
button[disabled],input[disabled]{ cursor:default;}
input[type="checkbox"],input[type="radio"]{ box-sizing:border-box; *height:13px; *width:13px;}
input[type="search"]{ -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{ -webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{ border:0; padding:0;}
textarea{ overflow:auto; vertical-align:top; resize:vertical;}
table{ border-collapse:collapse; border-spacing:0;}

.fl{float: left;}
.fr{float: right;}
.clearfix:after{content:"\0020";visibility:hidden;display:block;font-size:0;clear:both;height:0}
.clearfix{*zoom:1}
.cb{clear:both}

.w-img{width:100%;height:auto;}
.sup{position: relative;top:-4px;}


body{font-size:12px;line-height:1.8;background-color: #fff;}
.pn{border-bottom: 1px solid #e1e1e1;}
.pn-hd{padding:2em .8em 1em;}
.pn-bd{padding:0 .8em 2em;}
.pn-hd .tit{font-size:150%;color:#4d5058;}

.header{position: relative;}
.header .go-link{position: absolute;bottom:15%;left:50%;width:12em;text-align:center;margin-left:-6em;font-size:116.67%;color:#fff;border:2px solid #fff;background: rgba(255,255,255,.15);border-radius: 2em;}

.surv-con{padding:.8em;}
.surv-list{overflow: hidden;}
.surv-list .item{width:50%;float: left; padding: 1em 0; margin-left:-1px;margin-top:-1px;border-left: 1px solid #e1e1e1;border-top: 1px solid #e1e1e1;text-align: center;}
.surv-list .pic{display: inline-block; border-radius:40px;width:40px;height:40px;text-align: center;}
.surv-list .pic:after{display: inline-block;content:"";height:100%;vertical-align: middle;}
.surv-list .pic img{vertical-align: middle;}
.surp1 .pic{background-color: #26b271; }
.surp2 .pic{background-color: #fab400; }
.surp3 .pic{background-color: #e23d3d; }
.surp4 .pic{background-color: #18b5f9; }
.surv-list .item .tit{color:#4d5058;font-size:133.33%;margin:.4em 0;}
.surv-list .item .con{color:#727682;}

.stan-con .item{border-bottom:1px solid #e1e1e1;padding:3em 0;display: table;width:100%;}
.stan-con .item .pic{ max-width:50%;padding:0 .8em;text-align: center;display: table-cell; vertical-align: middle;}
.stan-con .item .pic img{}
.stan-con .item .con{padding:0 .8em;display: table-cell;vertical-align: middle;}
.stan-con .item .tit{font-size:150%;color:#4d5058;}
.stan-con .item .txt{color:#727682;}

.step-list{text-align: center;}
.step-list .item{float: left;width:25%;border-right:1px solid #e8e8e8;margin-left: -1px;margin-bottom:1em;padding:1em 0;position: relative;}
.step-list .item:before{content:"";position: absolute;width:12px;height:12px;border-radius: 12px;background-color: #e8e8e8;right:-6px;top:50%;margin-top:-6px;}
.step-list .item:after{content:"";position: absolute;width:4px;height:4px;border-top:1px solid #fff;border-right:1px solid #fff;transform:rotate(45deg);-ms-transform:rotate(45deg); -moz-transform:rotate(45deg);-webkit-transform:rotate(45deg); -o-transform:rotate(45deg); right:-2px;top:50%;margin-top:-2px;}
.step-list .item .pic{display:inline-block;border-radius:40px;width:40px;height:40px;text-align: center; vertical-align: middle;background-color: #da3a38;}
.step-list .item .pic:after{display: inline-block;content:"";height:100%;vertical-align: middle;}
.step-list .item .txt{padding-top:.5em;color:#4d5058;}

.qa .pn-hd{position: relative;}
.qa .pn-hd .phone{position: absolute;background-color: #4d5058;border-left:3px solid #da3a38;color:#fff;padding-right:1em;right:.8em;top:2.4em;line-height: 2;}
.qa-list .item{background: url(../img/y.png) no-repeat left .4em;padding-left:1.5em;padding-bottom:.5em;background-size:1em;margin-top:1em;}
.qa-list .item .que{color:#4d5058;font-weight: bold;}
.qa-list .item .ans{color:#878787;}

footer{padding:2em 0;text-align: center;color:#4d4d4d;}
footer .c1{font-size:125%;}
footer .c1 a{color:#4d4d4d;margin:0 .5em;}
footer .c2{margin-top:.5em;}
.imp{color:#e4312b;}