select#select.combo
    optgroup
        option(value=1,selected) item1
        option(value=2) item2
        option(value=3) item3
    option(value=4) item4
    option(value=5) item5

script.
    $('#select').combo();
