@charset "utf-8";
/* CSS Document */

a{color: #000000;}
a:hover{ text-decoration:none; color:#ff0000;}

.grid .gl545{ width:645px; float:left;}
.grid .gl265{ width:265px; float:left;}

.grid .gl106{ width:106px;  float:left;}
.grid .gr265{ width:265px; float:right;}

.ml275{ margin-left:275px;}
.mr275{ margin-right:275px;}

.imgs{zoom:1;}
.imgs:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.imgs a{ float:left; display:block; width:150px; height:85px; margin:17px;}

.collectionbg{ background:url(../images/collectionCnfolClip.png)}

.logo{ background:none;}
.collectlogo{ background-position:0 -6px; display:block; width:auto; height:90px;}

.nav{ background-position:0 -125px; background-repeat:no-repeat; height:52px;}
.nav li{ float:left;  margin:8px 0;}
.nav li.message{width:255px;}
.nav li.other{width:195px;}
.nav li.home{width:200px;}
.nav li.home a{ display:block;  height:44px; }
.nav a{ color:#fff; }

.section1{ height:298px;background:url(../images/collectionNavBg.png)}
.section2{ height:298px;background:url(../images/collectionNavBg2.png)}
.section3{ height:298px;background:url(../images/collectionNavBg3.png)}
.section4{ height:298px;background:url(../images/collectionNavBg4.png)}
.section5{ height:298px;background:url(../images/collectionNavBg5.png)}

.section2 .sidelist,
.section3 .sidelist,
.section4 .sidelist,
.section5 .sidelist
{ margin:75px 0 0 15px; _display:inline;}
.section2 .sidepics,
.section3 .sidepics,
.section4 .sidepics,
.section5 .sidepics
{ margin:37px 0 0 0;}

.section1 h1{ margin:15px 0 0 0; }
.section1 p,
.section1 h1
{ text-align:center; margin-right:15px;}
.section1 .dashed{ margin:15px 15px 15px 0 ;}

.sidelist,
.sidelist a
{line-height:22px;font-size:14px;}
.sidelist a:hover{color:#ff0000;}
.sidelist dd,.sidelist li{ list-style-type:circle;letter-spacing:1px}
.sidelist dt a{ color:#887647; font-weight:bold;}

.sidepics{ overflow:hidden;}
.sidepics li{ margin:10px; float:left;text-align:center; width:145px;  _display:inline;;}
.sidepics li a{ display:block; line-height:22px;}

.dashed{ 
    border-bottom-color: #ADA1A1;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    font-size: 0;
    height: 1px;
    line-height: 1px;
}
.sidehot h1{ font-weight:bold;  font-size:16px;}

.modinner{}
.modinner h3{ font-size:14px; margin:5px 0 15px 0; text-align:center; font-weight:bold; overflow:hidden; height:20px;}
.modinner p{ line-height:21px; padding:5px;}
.modinner img{ margin:10px;}
.modinner .sidelist a{font-size:12px;}
.modinner .sidelist{margin:0 20px 5px 10px; overflow:hidden;}

.redmod{ border:1px solid #D9A6A3; }
.redmod .hd{ background-position:right -239px; height:26px; line-height:26px; color:#fff; font-weight:bold; padding:0 5px;}
.redmod .ml{ padding-left:15px;}
.redmod .hd a{ display:block; background-position:left -387px; width:81px; height:22px;  line-height:22px; color:#cc0000; text-align:center; margin-top:4px; }
.redmod .bd{ padding:5px;margin-top:-1px;}

.red1mode .hd{background-position:right -277px;}
.red1mode .hd a{ font-weight:normal; float:left; margin-right:5px; height:21px; }
.red1mode .hd .CM{ font-weight:bold;height:26px; }
.red1mode dd{ display:none;height:235px;}

.red2mode{ border:none;}
.red2mode .hd{background-position:right -316px; height:24px;}
.red2mode .hd a{margin: 0 3px; font-weight:normal; float:left; margin-top:0px;  background-position:right -387px; width:91px;position:relative;  }
.red2mode .hd a span{font-weight:normal; float:left; margin-top:0px;  background-position:left -387px;width:90px;  display:block; color:#cc0000; }
.red2mode .hd .CM .CM{ font-weight:bold;}
.red2mode .hd .more{ float:right; font-weight:normal; margin-right:-20px;}
.red2mode .hd .know{ background-position: -945px 0px;  color:#cc0000; float:left; padding-left:20px; margin:0 7px; background-repeat:no-repeat;}
.red2mode  dd{ display:none; height:235px;padding: 0 10px; font-size:14px; letter-spacing:1px; line-height:22px;}

.grainmod{background-position:-201px -35px; overflow:hidden;}
.grainmod .hd{ height:28px; line-height:28px; font-weight:bold;color:#cc0000;padding:0 12px;}
.grainmod .bd{ background:#FDF7F7; border:1px solid #D9A6A3; }
.grainmod .bd p{ margin:10px;}
.grainmod .bd span{color:#cc0000;}
.grainmod .welcome{background-position:-487px -37px; width:255px; height:50px; margin:10px auto; margin-bottom:140px;}


.movl,
.rolist
{display:block; }
.movl,.movr{width:40px; height:160px;display:block; }
.movl{float:left;background:url(../images/con1-12.gif) no-repeat center;}
.movr{ float:right; background:url(../images/con1-13.gif) no-repeat center;}
.rolist{ overflow:hidden;width:860px; height:160px;}
.rolist  a{ margin:0 10px;}

.arts .artspic{ margin:15px auto; width:228px;}
.arts .artspic li{ float:left; _display:inline;margin:0 3px;width:70px; }
.arts .artspic li a{ display:block; margin:5px; text-align:center;}
.arts .artlist{ margin:18px;}
.arts .artlist a{color:#000000;}
.arts .artlist a:hover{ color:#CC0000;}
.arts .artlist li{ margin:2px 0;}
.arts .artlist li .first{color:#CC0000;}
.arts .artlist li .first:hover{ color:#000000}