/*-----*/
.ExChnl span a:hover{color:#ff6;}
.CoOrg{color:#aa0f21;}
.CoR{color:#ff0000;}
.CoG{color:#0000ff;}
.CoGra{color:#666666;}
/*-----*/
.ExChnl{height:55px;}
.ExChnl .ExLogo{height:53px;width:159px;border:#ddd solid 1px;border-right:0;display:block; background:url(http://hs.cnfol.com/ub/Images/exlogo.gif) no-repeat;float:left;}
.ExChnl span{width:794px;height:51px;border:#7594e8 solid 1px;float:right; background:url(http://hs.cnfol.com/ub/Images/chanelBg.gif) repeat-x;padding:1px 0;padding-left:4px;}
.ExChnl span a{color:#fff;padding:5px 13px 5px 10px;height:15px;display:inline-block; line-height:15px; background:url(http://hs.cnfol.com/ub/Images/chanelBg2.gif) right 6px no-repeat;}
.ExChnl span a.sp-ex-a{padding-right:10px; background:none;}