/* CSS Document */
body,html{ overflow-x: hidden;}
*{margin:0; padding:0;}
body .div .table .tr .td{font-family:"微软雅黑"; margin:0; padding:0; }
a {font-family:"微软雅黑"; color: #999; text-decoration: none; }
a:hover {font-family:"微软雅黑"; color: #999; text-decoration: none; }

.main_content{width:1200px; text-align:center; margin:0 auto;}
.top_color{background-color:#ededed;}
.top_rcolor{background-color:#333333;}
.top_scolor{background-color:#44546b;}
.bottom_color{background-color:#383b3f!important;}
.fl_left{float:left;}
.fl_right{float:right;}
.fl_none{float:inherit;}
.bg_color_b{background-color:#3078c0;}
.bg_color_y{background-color:#ffd200;}
.bg_cH{background-color:#f0f0f0;}
.bg_aR{background-color:#ff6764;}
.bg_cR{background-color:#ea2d49;}
.bg_mR{background-color:#ffe8eb;}
.bg_sG{background-color:#6fba2c;}
.bg_sB{background-color:#3da0bf;}
.bg_box{background-color:#deb200!important; color:#fff!important;}
.color_y{color:#ffd200;}
.color_h{color:#333;}
.height600{height:600px;}
.height300{height:300px;}
.textR{text-align:right;}
.bold{font-weight:bold;}

/*------------------空白白行--------------------*/
.space{height:66px;}

/*-------------------公共部分的top-------------------*/
.top{width:1200px; height:100px;}
.top_logo{background-image:url(../images/logo.jpg); width:225px; height:100px; float:left;}
.top_type{width:text-align:center; width:630px; height:100px; font-family:Segoe UI; font-size:30px; font-weight:200; line-height:100px; float:left;}
.top_right{width:308px; height:100px; float:right;}
.top_ll{ overflow: hidden; width:100px; height:100px; float:left;}
.top_ll_type1{ overflow: hidden;width:100px; height:48px; color:#fff;  font-family:Segoe UI; font-size:24px; font-weight:200; text-align:left; text-indent:8px; line-height:55px;}
.top_ll_type2{ overflow: hidden; width:48px; height:48px; color:#fff;  font-family:Segoe UI; font-size:12px; text-align:left; text-indent:8px; line-height:60px; float:left;}
.top_ll_type3{ overflow: hidden;width:48px; height:48px; color:#fff;  font-family:Segoe UI; font-size:12px; text-align:left; text-indent:8px; line-height:60px; float:left; margin-left:4px;}
.top_ll_type4{ overflow: hidden;width:100px; height:48px; color:#000;  font-family:"微软雅黑"; font-size:18px; font-weight:200; text-align:left; text-indent:8px; line-height:55px;}
.top_ll_type5{ overflow: hidden;width:48px; height:48px; color:#fff!important;  font-family:"微软雅黑"; font-size:18px; text-align:left; text-indent:8px; line-height:60px; float:left; margin-left:4px;}
.top_ll_down{width:100px; height:48px; display:block; margin-top:4px;}



.top_mm{ overflow: hidden; width:100px; height:100px; font-size:24px; font-weight:200; font-family:Segoe UI; color:#fff; display:block; float:left; line-height:155px; text-indent:8px; text-align:left; margin:0 4px;}
.top_mm1{ overflow: hidden; width:100px; height:100px; font-size:18px; font-family:"微软雅黑"; color:#333; display:block; float:left; line-height:155px; text-indent:8px; text-align:left; margin:0 4px;}

 
.top_rr{width:100px; height:48px; display:block; margin-bottom:4px;}
.top_rr_type1{width:48px; height:48px; color:#fff; font-family:"微软雅黑"; font-size:18px; font-weight:200; text-align:left; text-indent:8px; line-height:60px; float:left;}
.top_rr_type2{width:48px; height:48px; color:#fff; font-family:Segoe UI; font-size:18px; font-weight:200; text-align:left; text-indent:8px; line-height:60px; float:left; margin-left:4px;}
.top_rr_type3{width:100px; height:48px; color:#fff; font-family:Segoe UI; font-size:24px; font-weight:200; text-align:left; text-indent:8px; line-height:50px;}
.top_rr_type4{width:48px; height:48px; color:#fff; font-family:Segoe UI; font-size:18px; font-weight:200; text-align:left; text-indent:5px; line-height:60px; float:left;}
.top_rr_type5{width:48px; height:48px; color:#fff; font-family:"微软雅黑"; font-size:18px; font-weight:200; text-align:left; text-indent:5px; line-height:60px; float:left; margin-left:4px;}
.top_rr_type6{width:100px; height:48px; color:#fff; font-family:"微软雅黑"; font-size:18px; font-weight:200; text-align:left; text-indent:5px; line-height:50px;}


 
/*------------------首页导航部分--------------------*/
.index{width:1200px; height:600px; margin: 0 auto;}
.index_up{width:1200px; height:400px;}
.index_img{background:url(../images/banner.jpg) no-repeat; width:800px; height:400px;  position:relative; overflow: hidden;}


.index_up_r{width:400px; height:400px; background-color:#3da0bf; float:left; color:#fff;}
.index_up_tt{background:url(../images/type.png) no-repeat; width:370px; height:22px; margin:30px 0 0 30px; display:block;}

.index_up_rimg{margin:25px auto; width:244px; height:244px;}

ul.index_up_img{list-style-type:none; float:left;}
ul.index_up_img li{}

.index_up_img1{background:url(../images/s1.jpg) no-repeat; width:120px; height:120px;}
.index_up_img2{background:url(../images/s2.jpg) no-repeat; width:120px; height:120px; margin-top:4px; margin-right:4px;}
.index_up_img3{background:url(../images/s3.jpg) no-repeat; width:120px; height:120px;}
.index_up_img4{background:url(../images/s4.jpg) no-repeat; width:120px; height:120px; margin-top:4px;}



.index_down{width:1200px; height:200px; display:block;}

.index_down_img1{background:url(../images/service.jpg) no-repeat; width:600px; height:200px; float:left;}
.index_down_img2{background:url(../images/team.jpg) no-repeat; width:600px; height:200px; float:left;}


/*------------------首页中间部分--------------------*/ 
.mid_box{border-top:1px solid #c8c8c8; border-bottom:1px solid #c8c8c8; height:90px; margin:30px auto;}
.mid{width:1200px; height:90px; margin:0 auto;}
ul.mid_type{font-family:"微软雅黑"; font-size:30px; color:#1b1d1f float:left; line-height:55px; list-style-type:none;}
ul.mid_type li{float:left;; width:300px;}

ul.mid_type1{font-family:"微软雅黑"; font-size:14px; color:#646464; float:left; list-style-type:none; text-transform:uppercase;}
ul.mid_type1 li{float:left;; width:300px;}

.textI80{text-indent:80px;}
.textI60{text-indent:60px;}


/*------------------首页中下部分--------------------*/ 
.down_con{width:1200px; height:960px; margin:0 auto;}
ul.down{list-style-type:none; float:inherit;}
ul.down li{float:left; width:300px; height:300px; position: relative;}
ul.down .img-info,
.team .img-info{ left: 0 ; bottom: 0; color: #fff; font-family: "microsoft yahei"; padding: 10px;}
ul.down .img-info h3,
.team  .img-info  h3{  font-size: 16px;}
ul.down .img-mask ,
.team .img-mask{ filter:alpha(opacity = 70) ; opacity: 0.7 ;  left: 0; top: 0; display: block;width: 100%;height: 100% ; background: #000;}
.team .img-info ,
.team .img-mask ,
ul.down .img-info ,
ul.down .img-mask{ position: absolute; display: none;}

.clearfix{zoom:1;}.clearfix:after{content:".";height:1%;display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;*display:none;}

.down_more{width:1200px; height:60px; background-color:#f0f0f0; font-family:"微软雅黑"; font-size:18px; color:#999; text-align:center; line-height:60px;}

.d1{background:url(../images/d1.jpg) no-repeat; width:300px; height:300px;}
.d2{background:url(../images/d2.jpg) no-repeat; width:300px; height:300px;}
.d3{background:url(../images/d3.jpg) no-repeat; width:300px; height:300px;}
.d4{background:url(../images/d4.jpg) no-repeat; width:300px; height:300px;}
.d5{background:url(../images/d5.jpg) no-repeat; width:300px; height:300px;}
.d6{background:url(../images/d6.jpg) no-repeat; width:300px; height:300px;}
.d7{background:url(../images/d7.jpg) no-repeat; width:300px; height:300px;}
.d8{background:url(../images/d8.jpg) no-repeat; width:300px; height:300px;}
.d9{background:url(../images/d9.jpg) no-repeat; width:300px; height:300px;}
.d10{background:url(../images/d10.jpg) no-repeat; width:300px; height:300px;}
.d11{background:url(../images/d11.jpg) no-repeat; width:300px; height:300px;}
.d12{background:url(../images/d12.jpg) no-repeat; width:300px; height:300px;}







/*------------------mian最新动态左边------------------------*/
.main_left{width:300px; height:600px; float:left;}
.main_left1{width:300px; height:auto; float:left;}
.main_left_title{font-family:"微软雅黑"; font-size:18px!important; color:#fff; font-weight:bold; float:left; line-height:70px!important;}
.main_left_title1{font-family:"微软雅黑"; font-size:18px!important; color:#fff; font-weight:bold; float:left; line-height:70px!important;}
.main_left_title2{font-family:"微软雅黑"; font-size:18px!important; color:#333!important; font-weight:bold; float:left; line-height:70px!important;}
.main_left1{width:230px; height:600px; float:left;}
ul.main_left2{width:300px; height:600px; float:left; list-style-type:none; display:block;}
ul.main_left2 li a{font-family:"微软雅黑"; font-size:14px; color:#fff; line-height:28px; text-align:left;}
ul.main_left2 li a:hover{font-family:"微软雅黑"; font-size:14px; color:#ff0; line-height:28px; text-align:left;}
ul.main_left3{width:300px; height:600px; float:left; list-style-type:none; display:block;}
ul.main_left3 li a{font-family:"微软雅黑"; font-size:14px; color:#323232; line-height:25px; text-align:left;}
ul.main_left3 li a:hover{font-family:"微软雅黑"; font-size:14px; color:#323232; line-height:25px; text-align:left;}


.main_color{color:#ffff00!important; line-height:50px;}
.main_color1 a{color:#ca1260!important; line-height:30px;}
.main_color1 a:hover{color:#ca1260!important; line-height:30px;}

.main_left_line{border-bottom:1px solid #75afe8; width:240px; line-height:70px!important;}
.main_left_line1{border-bottom:1px solid #fff; width:240px; line-height:70px!important;}
.main_left_line2{border-bottom:1px solid #333; width:240px; line-height:70px!important;}

.main_left_box{color:#27629d; width:30px; height:30px; background-color:#27629d; font-family:"微软雅黑"; text-indent:10px; float:left; margin:0 10px 0 0;}

/*------------------最新动态中间部分----------------------------*/
.new_mid{ overflow: hidden; height:600px; background-color:#e5f1fc;}
.new_mid1{overflow: hidden;height:600px; width: 900px; }
.new_con{ margin:30px auto; padding: 0 40px;}
.new_con1{ margin:30px auto; padding: 0 40px;}
ul.text_left{list-style-type:none; float:left; display:block; width:450px; }
ul.text_left li{height:190px; color:#646464; font-size:14px; text-indent:135px;}
li.img1{background:url(../images/s1.jpg) no-repeat;}
li.img2{background:url(../images/s2.jpg) no-repeat;}
li.img3{background:url(../images/s3.jpg) no-repeat;}
li.img4{background:url(../images/s4.jpg) no-repeat;}
li.img5{background:url(../images/s5.jpg) no-repeat;}
li.img6{background:url(../images/s6.jpg) no-repeat;}
.title{font-family:"微软雅黑"; font-weight:bold; color:#333; font-size:16px; text-indent:135px; padding-top:50px; line-height:30px;}
.new_text{width:400px; text-align:left; line-height:20px;}

ul.text_right{list-style-type:none; float:right; display:block;}
ul.text_right li{height:190px; color:#646464; font-size:14px; text-indent:135px;}




/*------------------最新动态-动态内容图----------------------------*/
.new_img{background:url(../images/new_ban.jpg) no-repeat; width:480px; height:300px;}
.new_conT{font-family:"微软雅黑"; font-size:18px; color:#333; line-height:50px;}
ul.new_conT1{font-family:"微软雅黑"; font-size:12px; color:#646464; list-style-type:none;}
ul.new_conT2{font-family:"微软雅黑"; font-size:14px; color:#646464; list-style-type:none; line-height:25px;}
ul.new_conT3{font-family:"微软雅黑"; font-size:14px; color:#646464; list-style-type:none; line-height:22px;}
ul.new_conT1 li{line-height:22px;}
.next{background:url(../images/next.jpg) no-repeat; width:92px; height:35px;}






/*-------------------最新动态页面后边-----------------------------*/
.new_right{width:230px; height:600px; float:left;}
.new_right1{width:230px; height:auto; float:left;}


/*----------------------底部bottom-------------------------*/
.bottom_con{height:235px;}
.bottom_img{background:url(../images/ewm.jpg) no-repeat; width:230px; height:185px; margin-top:25px; float:left;}
.bottom_right{width:970px; float:left; height:235px;}
.bottom_up{font-family:"微软雅黑"; font-size:12px; color:#9ba0a7; line-height:40px; text-align:left; padding-top:30px;border-bottom:1px solid #9ba0a7;}
.bottom_t{color:#fff; font-size:14px;}

ul.bottom_down{font-family:"微软雅黑"; font-size:12px; color:#9ba0a7; width:242px;  float:left; list-style-type:none; padding-top:25px;}
ul.bottom_down li{text-align:left; line-height:20px;}
.bottom_title{color:#fff; font-size:14px; font-weight:bold;}
.bottom_line{background:url(../images/line.jpg) no-repeat; width:auto; height:5px;}


.bottom_end{height:90px; background-color:#1b1d1f;}
.bottom_pt{padding-top:10px;}
.icon1{background:url(../images/icon1.png) no-repeat; width:48px; height:38px; float:left;}
.icon2{background:url(../images/icon2.png) no-repeat; width:38px; height:38px; float:left;}
.bottom_type{font-family:"微软雅黑"; font-size:14px; margin:10px 20px 0 30px; color:#9ba0a7; float:left;}
.bottom_type_m{font-family:"微软雅黑"; font-size:12px; margin:13px 0 0 160px; color:#fff; float:left;}
.bottom_type_m1{font-family:"微软雅黑"; font-size:14px; margin:10px 0 0 120px; color:#fff; float:left;}
.bottom_type_m2{font-family:"微软雅黑"; font-size:14px; margin:10px 0 0 20px; color:#fff; float:left;}
.bottom_type_m3{font-family:"微软雅黑"; font-size:18px; margin:10px 0 0 0; color:#fff; float:left; font-weight:bold; font-style:italic; text-align:left;}

/*-------------------about页面-----------------------------*/
.about_ban{background:url(../images/about_ban.jpg) no-repeat;  overflow: hidden;  height:600px; position:relative;}
.about_ban li,.about_ban .tabs-clip ,.about_ban .panlelist{ width: 900px;}
.about_icon{background:url(../images/icon1.jpg) no-repeat; width:20px; height:20px; position:absolute; right:110px; bottom:15px;}
.about_icon1{background:url(../images/icon2.jpg) no-repeat; width:20px; height:20px; position:absolute; right:50px; bottom:15px;}
.about_icon2{background:url(../images/icon1.jpg) no-repeat; width:20px; height:20px; position:absolute; right:80px; bottom:15px;}
.about_icon3{background:url(../images/icon1.jpg) no-repeat; width:20px; height:20px; position:absolute; right:20px; bottom:15px;}

.about{width:1200px; height:100px; margin: 0 auto; }
.about_l{width:530px; height:100px; float:left;}
.about_r{width:900px; float:left;}

.about_H{height:1900px;}
.aboutH{height:500px; width:900px; margin:20px 0;}
.about_typeT{font-size:30px; line-height:70px; padding-top:20px; border-bottom:2px solid #333; color:#323232; width:900px; float:left; font-family:"微软雅黑"; margin-bottom:30px;}
.about_type{width:800px; font-family:"微软雅黑"; font-size:14px; line-height:22px; margin:110px 0; color:#646464;}

.hyys{background:url(../images/lct.png) no-repeat; width:796px; height:470px;}


ul.team{list-style-type:none; margin-top:30px;}
ul.team li{float:left; height:220px; width:225px; position: relative; }
ul.team li .hover-normal,
ul.team li .hover-back{ position: absolute; left: 0; top: 0;}
ul.team li .hover-back{ display: none;}
.about_img1{background:url(../images/t1.jpg) no-repeat; width:222px; height:217px;}
.about_img2{background:url(../images/t1.png) no-repeat; width:222px; height:217px;}
.about_img3{background:url(../images/kk.png) no-repeat; width:222px; height:217px;}

.about_up4{margin-top:200px;}

.about_font{font-size:16px!important; line-height:30px!important;}

.about_block{display:block; width:900px; height:750px;}




/*-------------------人才招聘-----------------------------*/
.hr_img{background:url(../images/hr.jpg) no-repeat;  height:202px; margin-top:170px;}
.hr_img1{background:url(../images/team.png) no-repeat; width:314px; height:144px; margin-top:46px; margin-left:500px;}


/*-------------------服务-----------------------------*/
.sv{width:900px;}
.sv_img{background:url(../images/cl.jpg) no-repeat; height:900px; height:600px;}
.sv_img1{background:url(../images/sv.jpg) no-repeat; height:900px; height:600px;}
.sv_img2{background:url(../images/cb.jpg) no-repeat; height:900px; height:600px;}
.sv_img3{background:url(../images/zx.jpg) no-repeat; height:900px; height:600px;}
.sv_M{margin-top:10px;}

/*-------------------案例-----------------------------*/
.sw_img{background:url(../images/sh.jpg) no-repeat; width:900px; height:600px;}
.sw_img1{background:url(../images/sh_logo.jpg) no-repeat; width:900px; height:600px; margin-top:50px;}
ul.sw{list-style-type:none; width:800px; font-size:12px; margin-top:30px; color:#666; font-family:"微软雅黑";}
ul.sw li{line-height:25px;}
.sw_font{font-size:16px; color:#333; font-weight:bold;}
.sw_font1{width:600px; text-indent:30px;}
.sw_color{color:#646464; font-size:16px;}
.sw_h{height:800px!important;}


/*------------------案例汇总--------------------*/ 
.down_con1{width:900px; height:960px; margin:0 auto;}
ul.down{list-style-type:none; float:inherit;}
ul.down li{float:left; width:300px; height:300px;}


ul.down1{list-style-type:none; float:inherit;}
ul.down1 li{float:left; width:225px; height:200px;}


.hz{width:900px; height:auto;}
.hz_img1{background:url(../images/l1.jpg) no-repeat; width:225px; height:200px;}
.hz_img2{background:url(../images/l2.jpg) no-repeat; width:225px; height:200px;}
.hz_img3{background:url(../images/l3.jpg) no-repeat; width:225px; height:200px;}
.hz_img4{background:url(../images/l4.jpg) no-repeat; width:225px; height:200px;}
.hz_img5{background:url(../images/l5.jpg) no-repeat; width:225px; height:200px;}
.hz_img6{background:url(../images/l6.jpg) no-repeat; width:225px; height:200px;}
.hz_img7{background:url(../images/l7.jpg) no-repeat; width:225px; height:200px;}
.hz_img8{background:url(../images/l8.jpg) no-repeat; width:225px; height:200px;}
.hz_img9{background:url(../images/l9.jpg) no-repeat; width:225px; height:200px;}
.hz_img10{background:url(../images/l10.jpg) no-repeat; width:225px; height:200px;}
.hz_img11{background:url(../images/l11.jpg) no-repeat; width:225px; height:200px;}
.hz_img12{background:url(../images/l12.jpg) no-repeat; width:225px; height:200px;}
.hz_img13{background:url(../images/l13.jpg) no-repeat; width:225px; height:200px;}
.hz_img14{background:url(../images/l14.jpg) no-repeat; width:225px; height:200px;}
.hz_img15{background:url(../images/l15.jpg) no-repeat; width:225px; height:200px;}
.hz_img16{background:url(../images/l16.jpg) no-repeat; width:225px; height:200px;}
.hz_img17{background:url(../images/l17.jpg) no-repeat; width:225px; height:200px;}
.hz_img18{background:url(../images/l18.jpg) no-repeat; width:225px; height:200px;}
.hz_img19{background:url(../images/l19.jpg) no-repeat; width:225px; height:200px;}
.hz_img20{background:url(../images/l20.jpg) no-repeat; width:225px; height:200px;}
.hz_img21{background:url(../images/l21.jpg) no-repeat; width:225px; height:200px;}
.hz_img22{background:url(../images/l22.jpg) no-repeat; width:225px; height:200px;}
.hz_img23{background:url(../images/l23.jpg) no-repeat; width:225px; height:200px;}
.hz_img24{background:url(../images/l24.jpg) no-repeat; width:225px; height:200px;}


/*------------------联系我们--------------------*/ 
.contact{position: relative;}
.contact_img{background:url(../images/contact.jpg) no-repeat; width:900px; height:600px; float:left; position:relative;}
.contact_icon1{background:url(../images/cc_icon.png) no-repeat; width:21px; height:31px; position:absolute; right:90px; bottom:150px;}
.contact_icon2{background:url(../images/cc_icon1.png) no-repeat; width:21px; height:31px; position:absolute; right:90px; bottom:290px;}
.contact_icon3{background:url(../images/cc_icon2.png) no-repeat; width:21px; height:31px; position:absolute; right:110px; top:130px;}
.contact_qq{width:200px; height:40px; display:block; position:absolute; left:75px; bottom:205px;}
.contact_add{width:280px; height:25px; display:block; position:absolute; right:110px; bottom:145px;}
.contact_add1{width:280px; height:25px; display:block; position:absolute; right:110px; bottom:295px;}
.contact_add2{width:260px; height:25px; display:block; position:absolute; right:130px; top:135px;}

.index_img { position: relative;}
.index_img .nav{ position: absolute; right: 10px; bottom:10px;}
.index_img .nav a{ width: 20px; height: 20px; display: inline-block; margin-right: 10px ; background: #fff;}
.index_img .nav .selected{ background: #1b1d1f;}

.content-bg{ background: url(../images/bg.jpg) repeat-y center top;}
.content-mini{ background: url(../images/bg-mini.jpg) repeat-y center top;}
.content-mini-red{ background: url(../images/bg-mini-red.jpg) repeat-y center top;}
.content-mini-yel{ background: url(../images/bg-mini-yel.jpg) repeat-y center top;}
.content-mini-blue{ background: url(../images/bg-mini-blue.jpg) repeat-y center top;}
.content-mini-green{ background: url(../images/bg-mini-green.jpg) repeat-y center top;}
.content-bg,.content-mini,.content-mini-red,.content-mini-yel ,.content-mini-blue,.content-mini-green{ background-color: #3078c0;}
.container{ width: 1200px; margin: 0 auto; position: relative;}
.container-mini{ width: 900px;}
.container-update{ padding-left:75px; }
.container-moreupdate{ padding-left:149px; }

.top_right a { display: block; }
.top_right .nav-cn{ display: none; }
.top_right a:hover{background-color:#ffd200; color: #fff;}
.top_right a:hover .nav-cn{ display: block;}
.top_right a:hover .nav-en{ display: none;}

.scrollup{ display: block; width: 50px; height: 50px; background: url(../images/top.jpg) no-repeat; position: absolute; right: -50px; bottom: 0px;}
.main-content{ margin: 0 auto;  margin-bottom: -600px; position: relative ; z-index: -1;}