.tooltip
  border: 1px dotted #ddd;
  padding:5px 10px;

.tooltip.fixed
  z-index: 100;
  position: fixed;
  width: 200px;
  padding: 10px;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px;
  if(ie-support)
    background: #000;
  background: rgba(0,0,0,0.7);
  color: #fff;
  text-align: center;
