/* ***************** reset ***************** */
html,body{background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 100%; font-weight: normal; font-style: normal; }
ul,ol,dl{ margin:0;padding:0; list-style:none; }
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
/* Opera requires 1px of padding to render with contemporary native chrome */
button,input[type="checkbox"],input[type="radio"],input[type="reset"],input[type="submit"] {padding:1px;}
/* ==== fonts ==== */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;font:inherit;}
/* ==== others ==== */
ins {text-decoration: none;}
del {text-decoration: line-through;} 
img,input,a{ vertical-align:middle;}
/* make IE scale images properly */
img {-ms-interpolation-mode:bicubic;}
/* ==== 自定义初始化 ==== */
a { color: #333; text-decoration: none }
a:focus, a:hover { text-decoration: underline;  }
a:active,a:visited { color:#005a9c; }
body{color:#333; margin:0 auto;}
div,li,dd,dt,q,b,p,span,a,h1,h2,h3,h4,h5,h6,legend{ word-break:break-all;}/* 英文自动换行 */



/* ************ Template ************* */
/* ************ Public ************* */
/* ==== Page Head, Body, and Foot ==== */
body{font-size:14px; font-family:"宋体" /*_text-align:center;*/}/* IE5.5 */
.page{margin: 0 auto; width: 960px;/*_text-align:left;*/} 
.nav,.header,.container,.footer{ margin-bottom:10px;margin: 0 auto; width: 960px;}
.container{overflow:hidden; _overflow:visible; _zoom:1;}
/* ==== Columns ==== */
.main{overflow: hidden;_overflow:visible;_zoom:1;}
.sub-main{float:left; width:250px;_margin-right:-3px;}
.col-left{float:left; width:250px;_margin-right:-3px;}
.col-right{float:right; width: 300px;_margin-left:-3px;}
/* ************ Default ************* */


/* ************ Grids ************* */
/* ====== 表格 ====== */
table.cell-border td{ padding:10px; border:1px solid #999;}
/* ====== 常用样式 ====== */
.pad{padding:10px;}
.mar{margin: 10px;}
.center{ text-align:center;}
.clear{ clear:both; }
/* ====== 字间距 ====== */
.space1em{ word-spacing:1em;}
.space2em{ word-spacing:2em;}
.lin-hei25{ line-height:25px;}
.lin-hei20{ line-height:20px;}


/* ====== GRIDS ====== */
.line:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.lastUnit:after{content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";visibility:hidden; clear:both;height:0 !important;display:block;line-height:0;}
.line{*zoom:1;}
.left{ float:left;display:inline;_margin-right:-3px;} /* IE6 */
.right{ float:right;display:inline;_margin-left:-3px;}/* IE6 */
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit {display: table-cell; *display:block;*zoom:1;float:none;_position:relative; _left:-3px; _margin-right: -3px;width:auto;}

/* ==== 列表 ==== */
dl.float dt,dl.float dd{ float:left; margin-right:10px; margin-bottom:10px; }

dl.dt-lfloat dt,dl.dd-lfloat dd{ float:left; margin-bottom:10px; }
dl.dt-rfloat dt,dl.dd-rfloat dd{ float:right; margin-bottom:10px; }
dl.dt-lfloat dd,dl.dd-lfloat dt,dl.dt-rfloat dd,dl.dd-rfloat dt{ margin-bottom:10px; }
dl.dd-float dt{margin-right:10px; }
ul.float li{ float:left;}
/* mod */
.mod{margin:10px;}
.mod .inner{/*background: url(skin/transparent.png) repeat left top;*/}
.mod .hd,.mod .bd,.mod .ft{overflow:hidden;_overflow:visible; _zoom:1;}
.mod .inner{position:relative;}
.mod .inner span{display:block;background-repeat:no-repeat;font-size:1%;position:relative;z-index:10;}
.mod .tl,.mod .tr,.mod .bl,.mod .br{height:10px; width:10px;float:left;}
.mod .tl{background-position: left top;}
.mod .tr{background-position: right top;}
.mod .bl{background-position: left bottom;} 
.mod .br{background-position: right bottom;}
.mod .br,.mod .tr{float:right;}
.mod .tr,.mod .tl{overflow:hidden;margin-bottom:-32000px;}/* margin bottom needs to be < -9px */
.mod .bl,.mod .br{margin-top:-10px;}
.mod .top{background-position:center top;}
.mod .bottom{background-position:center bottom;_zoom:1;}/* this zoom required for IE5.5 only*/
/* ====== complex ====== */
.complex{overflow:hidden;*position:relative;*zoom:1;}/* position/zoom required for IE7, 6, 5.5 */
.complex .tl, .complex .tr{height:32000px; margin-bottom:-32000px;width:10px;}
.complex .bl, .complex .br{/*margin-top:0;*/}
.complex .top{height:5px;}
.complex .bottom{height:5px;/*margin-top:-10px;*/}
/* ====== pop ====== */
.pop{overflow:visible;margin: 10px 20px 20px 10px; background-position:left top;}
.pop .inner{right:-10px; bottom:-10px; background-position:right bottom;padding:0 10px 10px 0;}
.pop .tl, .pop .br{display:none;}
.pop .bl{bottom:-10px;}
.pop .tr{right:-10px;}

 /* ====== 常用框 ====== */
.box{/* box css */}
.box .box-hd{ /* box-hd */ height:30px;}
.box-hd .hd-tl,.box-hd .hd-tr,.box-hd .hd-tc{ height:100%;}
.box-hd .hd-tl{ float:left;_margin-left:-3px;background-repeat:no-repeat;}
.box-hd .hd-tr{ float:right; _margin-right:-3px;background-repeat:no-repeat;}
.box-hd .hd-tc{ overflow: hidden;_overflow:visible;_zoom:1;}
.box .box-bd{}
.box .box-ft{}
.box-ft .ft-bl,.box-ft .ft-br,.box-ft .ft-bc{  height:100%;}
.box-ft .ft-bl{ float:left;_margin-left:-3px;background-repeat:no-repeat;}
.box-ft .ft-br{ float:right; _margin-right:-3px; background-repeat:no-repeat;}
.box-ft .ft-bc{ overflow: hidden;_overflow:visible;_zoom:1;}

 /* ====== 分页 ====== */
.datapager{width:650px; margin:5px auto; }
.datapager a
{
    float:left; 
    text-align:center;
    height:25px;
    line-height:25px; 
    border:1px solid #666;
    margin-right:5px;
    display:block;
    color:#666;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow:hidden;
}
.datapager a:hover{ border:1px solid #999; }
.datapager a.normal,.datapager a.current{width:25px;}
.datapager a.normal{  background:#fff; }
.datapager a.current{  background:red; color:#fff; } 
.datapager a.pre10, 
.datapager a.nex10,
.datapager a.first,
.datapager a.last
{
    width:70px;
}

/*  ====== tab ====== */		
.tab{margin:0 auto;}
.tab,.tab .contents li{width:700px; height:500px; }
.tab .titles{top:0px; width:100%;height:40px; padding:0 10px;filter:alpha(opacity=70);opacity:0.7; }
.tab .contents,.tab .titles{list-style:none; margin:0; padding:0; }
.tab .contents{margin-top:30px;top:40px;border-top:1px solid #333; }
.tab .titles li
{
    text-align:center;
    border:1px solid #333; 
    border-bottom:none;
    float:left; 
    cursor:pointer;  
    margin-right:10px; 
    width:70px; 
    height:30px; 
    line-height:30px; 
    -moz-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    overflow:hidden;
}
.tab .titles .current{ color:White;background:#333;   filter:alpha(opacity=70);opacity:0.7; }
.tab .titles .normal{ color:red; background:White;}
/*  ====== dialog ====== */	
.dialog 
{
    width:400px;
    display:none;  
    background:#fff;
    border:1px solid #333; 
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow:hidden;
    -webkit-box-shadow:5px 2px 6px #000;
    -moz-box-shadow:5px 2px 6px #000;
    box-shadow:5px 2px 6px #000;
 }
.dialog .dialog-title{height:30px; line-height:30px; background:#666;}
.dialog .dialog-title a{ display:block; float:right; margin-right:10px;}
.dialog .dialog-btns{ text-align:right;}

/*  ====== SideNav ====== */
.side-nav{padding:0 10px;width:200px;}
.side-nav a{height:30px; line-height:30px; display:block}	

/*  ====== Menu ====== */
.menu{height:50px; line-height:50px; width:700px; margin:0 auto;}
.menu a{height:100%; display:block;}	

/* ******** Content ******** */
/* ===== Fonts,Word ===== */
.overflow{overflow: hidden;_overflow:visible;_zoom:1;}
.bold{font-weight:bold;}
.font12{font-size:12px;}
.font14{font-size:14px;}
.indent{text-indent:2em;}
.word-overflow{overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}/* 超过的字以...显示 */
.word-center{text-align:justify;text-justify:inter-ideograph;}/* 文本左右对齐 */
/* IE6 png *//* margin为负值时-10px设position:relative; IE6 */
.png{ _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/folder/yourimage.png',sizingMethod='crop');}

/* ===== Shadow ===== */
.box-shadow{
	-moz-box-shadow:5px 5px 15px #DFE1E3 inset,-5px -5px 15px #DFE1E3  inset;          /* For Firefox3.6+ */
	-webkit-box-shadow:5px 5px 15px #DFE1E3 inset,-5px -5px 15px #DFE1E3  inset;         /* For Chrome5+, Safari5+ */
	box-shadow:5px 5px 15px #DFE1E3 inset,-5px -5px 15px #DFE1E3  inset;                   /* For Latest Opera */
}
.box-out-shadow{
	-moz-box-shadow:5px 5px 5px #999 inset,-5px -5px 5px #999  ;          /* For Firefox3.6+ */
	-webkit-box-shadow:5px 5px 5px #999 inset,-5px -5px 5px #999  ;         /* For Chrome5+, Safari5+ */
	box-shadow:5px 5px 5px #999 ,-5px -5px 5px #999  ;                   /* For Latest Opera */
}
/* ===== Line ===== */
div.dashed-subline{border-bottom:1px dashed #999}
div.dashed-supline{border-top:1px dashed #999}
div.solid-subline{border-bottom:1px dashed #999}
div.solid-supline{border-top:1px dashed #999}
/* ===== TextBox ===== */
input.text,ul.texts li input[type=text]{border:1px solid #666}
input.text:focus,dl.texts dd input[type=text]:focus{border:1px solid red}
