/* ******** Content ******** */
/* ===== Fonts,Word ===== */
.overflow{overflow: hidden;_overflow:visible;_zoom:1;}
.bold{font-weight:bold;}
.font12{font-size:12px;}
.font14{font-size:14px;}
.indent{text-indent:2em;}
.word-overflow{overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}/* 超过的字以...显示 */
.word-center{text-align:justify;text-justify:inter-ideograph;}/* 文本左右对齐 */
/* IE6 png *//* margin为负值时-10px设position:relative; IE6 */
.png{ _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/folder/yourimage.png',sizingMethod='crop');}

/* ===== Shadow ===== */
.box-shadow{
	-moz-box-shadow:5px 5px 15px #DFE1E3 inset,-5px -5px 15px #DFE1E3  inset;          /* For Firefox3.6+ */
	-webkit-box-shadow:5px 5px 15px #DFE1E3 inset,-5px -5px 15px #DFE1E3  inset;         /* For Chrome5+, Safari5+ */
	box-shadow:5px 5px 15px #DFE1E3 inset,-5px -5px 15px #DFE1E3  inset;                   /* For Latest Opera */
}
.box-out-shadow{
	-moz-box-shadow:5px 5px 5px #999 inset,-5px -5px 5px #999  ;          /* For Firefox3.6+ */
	-webkit-box-shadow:5px 5px 5px #999 inset,-5px -5px 5px #999  ;         /* For Chrome5+, Safari5+ */
	box-shadow:5px 5px 5px #999 ,-5px -5px 5px #999  ;                   /* For Latest Opera */
}
/* ===== Line ===== */
div.dashed-subline{border-bottom:1px dashed #999}
div.dashed-supline{border-top:1px dashed #999}
div.solid-subline{border-bottom:1px dashed #999}
div.solid-supline{border-top:1px dashed #999}
/* ===== TextBox ===== */
input.text,ul.texts li input[type=text]{border:1px solid #666}
input.text:focus,dl.texts dd input[type=text]:focus{border:1px solid red}
