/* ************ Template ************* */
/* ************ Public ************* */
/* ==== Page Head, Body, and Foot ==== */
body{font-size:14px; font-family:"宋体" /*_text-align:center;*/}/* IE5.5 */
.page{} 
.nav,.header,.container,.footer{ margin-bottom:10px;margin: 0 auto; width: 960px;}

.container{overflow:hidden; _overflow:visible; _zoom:1;}
/* ==== Columns ==== */
.main{overflow: hidden;_overflow:visible;_zoom:1; margin:0 260px;  background:#0FC; height:400px;}
.submain{float:right; width:250px;_margin-right:-3px; background:#9C3;height:400px;}
.sidebar{float:left; width:250px;_margin-right:-3px; background:#0F3;height:400px;}
.colleft{float:left; width:250px;_margin-right:-3px;}
.colright{float:right; width: 300px;_margin-left:-3px;}
/* ************ Default ************* */

/* ==== 导航 ==== */
.ex-nav{height:50px; line-height:50px; width:700px; }
.ex-nav a{ background:#033; display:block;}	
.ex-nav a:hover{background:#633;}	
/* ==== sitemap ==== */
.ex-sitemap{height:30px; line-height:20px; width:300px; }
.ex-sitemap a:hover{}	