@CHARSET "UTF-8";
/****************为适应bootstrap新写的样式**********/
.inline{display:inline;width:200px;}
.customer_margin{margin:3px 0px;}
.bottom{maring-top:10px;padding-top:10px;border-top:1px solid #dddddd;}
/****************导航**********/
.tab-wrap{ position: relative;}
.tab-wrap .tab-wrap-btn{ position: absolute; right: 0;top: 0;margin:0px 3px;}
.nav-tabs > li > a{ width: auto;  color: #666; font-weight: normal; font-family: '宋体';padding: 9px 10px; display: inline-block;}
.nav-tabs > li.active > a{  font-weight: bold; border-bottom: 1px solid #fff; background: #eeeeee; color: #7b7b7b}
.nav-tabs > li.active > a:hover{background: #eeeeee}
.nav-tabs{ border-bottom: 1px solid #ddd !important; z-index: 10; padding-left: 20px;margin-bottom: 20px;}