.window-login {
  z-index: 99;
  width: 330px;
  height: 250px;
  color: #fff;
}
.window-login .window-bg {
  background: #000;
  opacity: 0.5;
  filter: alpha( opacity = 50);
  width: 100%;
  height: 100%;
  position: absolute;
}
.window-login .window-inner {
  position: relative;
  z-index: 1;
  padding: 5px 20px;
}
.window-login h3 {
  color: #fff;
  font-size: 30px;
}
.window-login label {
  font-weight: normal;
  font-size: 12px;
}
.carousel {
  margin-bottom: 20px;
}
.carousel .container {
  position: relative;
}
.carousel .window-login {
  position: absolute;
  right: 0;
  top: 0;
}
.thumbnail {
  border: none;
  text-align: center;
}
.thumbnail .caption {
  text-align: left;
}
.container .row {
  margin: 30px 0;
}
