body {
  font: 14px/1.5 'microsoft yahei';
}
.glyphicon-pencil {
  color: #ef6674;
}
.alert .close {
  font-family: "microsoft yahei";
}
.alert-danger {
  background: #fcf8e3;
}
.stepbar {
  text-align: center;
  overflow: hidden;
}
.stepbar hr {
  border: none;
}
.stepbar .stepbar-inner {
  margin: 0 -12.5%;
  *zoom: 1;
}
.stepbar .stepbar-inner:before,
.stepbar .stepbar-inner:after {
  display: table;
  content: "";
  line-height: 0;
}
.stepbar .stepbar-inner:after {
  clear: both;
}
.stepbar .stepbar-item {
  width: 25%;
  position: relative;
  float: left;
}
.stepbar .stepbar-number {
  font-family: 'Aparajita';
  z-index: 1;
  display: inline-block;
  background: #fff;
  width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  border-radius: 100px;
  border: 3px solid #55a6e4;
  font-size: 48px;
  position: relative;
}
.stepbar .stepbar-desc {
  position: relative;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  width: 100%;
  display: block;
}
.stepbar .stepbar-progrees {
  height: 0;
  font-size: 0;
  border-top: 4px solid #dee0e4;
  top: 25px;
  position: absolute;
  width: 100%;
  margin: 0;
}
.stepbar .stepbar-number,
.stepbar .setpbar-progrees {
  color: #dee0e4;
  border-color: #dee0e4;
}
.stepbar .stepbar-desc {
  color: #999;
}
.stepbar .active .stepbar-number,
.stepbar .active .stepbar-progrees,
.stepbar .active .stepbar-desc {
  color: #0079d7;
  border-color: #0079d7;
}
.stepbar .stepbar-progrees {
  margin-left: 50%;
}
.stepbar-separate .first {
  z-index: 1;
}
.stepbar-separate .last {
  z-index: 2;
}
.stepbar-separate .stepbar-progrees {
  margin: 0 ;
}
.stepbar-separate .last .stepbar-progrees {
  margin-right: 50%;
  width: 50%;
}
.stepbar-separate .first .stepbar-progrees {
  margin-left: 50%;
  width: 50%;
}
.stepbar-two .stepbar-item {
  width: 50%;
}
.stepbar-three .stepbar-item {
  width: 33.33333%;
}
.stepbar-four .stepbar-item {
  width: 25%;
}
.stepbar-five .stepbar-item {
  width: 20%;
}
.stepbar-fix .stepbar-item {
  width: 16.66666%;
}
.side {
  float: left;
}
.main {
  overflow: hidden;
}
.main-border {
  border: 2px solid #000;
  padding: 20px;
}
.btn-original {
  background: #dfdfdf;
  color: #333333;
}
.btn + .btn {
  margin-left: 10px;
}
.btn-danger {
  background: #ed5565;
  border-color: #ed5565;
}
.text-danger {
  color: #ed5565;
}
.table {
  margin: 0;
}
.table + .table {
  margin-top: 20px;
}
.table caption {
  padding: 10px 0;
}
.checkbox {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: normal !important;
}
.checkbox + .checkbox {
  margin: 0 0 0 5px;
}
.checkbox input[type=checkbox] {
  vertical-align: middle;
  margin: 0;
  position: static;
  float: none;
  margin-right: 5px;
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon-img {
  background: url(../img/icon-img.png) no-repeat 0 0;
  width: 44px;
  height: 38px;
}
.icon-mail {
  background: url(../img/icon-mail.png) no-repeat 0 0;
  width: 17px;
  height: 12px;
}
.icon-mail-big,
.icon-personal,
.icon-pen {
  background: url(../img/icon-40x40.png) no-repeat;
  width: 40px;
  height: 40px;
}
.icon-personal {
  background-position: 0 0;
}
.icon-pen {
  background-position: -40px 0;
}
.icon-mail-big {
  background-position: -80px 0;
}
.icon-success {
  background: url(../img/icon-success.png) no-repeat;
  width: 67px;
  height: 70px;
}
.modal-large .modal-dialog {
  width: 800px;
}
.sms-tip {
  background: #ed5565;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  color: #fff !important;
}
.sms-tip i {
  margin-right: 5px;
}
.heading {
  border-bottom: 1px solid #dddddd;
}
.container {
  width: 1100px;
}
.form {
  font-family: '宋体';
}
.form .form-group {
  margin-bottom: 10px;
}
.form label {
  display: inline-block;
  font-weight: normal;
}
.form .form-control {
  display: inline-block;
  vertical-align: middle;
  float: none;
  width: 300px;
}
.form .form-label {
  width: 140px;
  text-align: right;
  display: inline-block;
}
.form i {
  margin: 0 5px;
}
.form textarea.form-control {
  vertical-align: top;
}
.form .form-inline {
  color: #999;
  font-family: '宋体';
  font-size: 12px;
}
.form .text-danger {
  color: #B94A48;
}
.form input + .form-inline {
  margin-left: 20px;
}
.form .icon {
  margin-bottom: 5px;
}
.form .uploadbox-area + .form-inline {
  width: 300px;
  display: block;
}
.form .uploadbox {
  display: inline-block;
  vertical-align: top;
  font-family: '宋体';
}
.form .uploadbox .uploadbox-area {
  border: 1px solid #ddd;
  background: #e4e4e4;
  width: 300px;
  padding: 40px 0;
  text-align: center;
  margin-bottom: 5px;
}
.form .checkbox-all {
  border-top: 1px solid #ddd;
  padding: 10px 0;
  margin-top: 10px;
}
.form .form-panel {
  padding-left: 140px;
}
.form .form-panel .form-label {
  margin-left: -140px;
}
.form .checkbox {
  margin: 0 10px 10px 0 ;
}
.form-horizontal .form-group {
  width: 350px;
  float: left;
}
.header {
  background: #434a54;
  color: #fff;
  padding: 20px 0;
}
.header .logo {
  float: left;
  width: 270px;
  font-size: 16px;
  color: #d7d8db;
}
.header .user {
  float: right;
  color: #aaaeb5;
  font-family: '宋体';
  margin-top: 10px;
}
.header .navbar {
  overflow: hidden;
}
.header .sms-tip {
  margin-right: 10px;
}
.header a {
  color: #aaaeb5;
}
.footer {
  margin-top: 20px;
  background: #e0e0e0;
  color: #555555;
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
  font-family: '宋体';
}
fieldset {
  margin: 20px 0;
}
fieldset legend {
  padding: 10px 30px;
  color: #333333;
  font-size: 24px;
}
fieldset.danger legend {
  color: #ed5565;
}
fieldset small {
  font-size: 12px;
}
fieldset .tab {
  padding: 0 150px;
}
fieldset .fieldset-body {
  padding: 0 80px;
}
fieldset legend h1,
fieldset legend h2,
fieldset legend h3,
fieldset legend h4,
fieldset legend h5 {
  margin: 0 ;
}
.tab .tab-nav {
  margin-bottom: 30px;
}
.tab .tab-nav a {
  display: inline-block;
  padding: 5px 10px;
  color: #555555;
  background: #dfdfdf;
  margin: 0 10px;
  position: relative;
}
.tab .tab-nav .active {
  color: #fff;
  background: #ed5565;
}
.tab .tab-nav .active .arrow {
  display: block;
  bottom: -13px;
  left: 40%;
  position: absolute;
  font-size: 0;
  width: 0;
  height: 0;
  border-style: solid ;
  border-width: 7px;
  border-color: #ed5565 transparent transparent transparent;
}
.navbar {
  font-size: 16px;
  margin: 0;
}
.navbar .nav {
  overflow: hidden;
  width: 480px;
  margin: -5px auto 0 auto;
  float: none;
}
.navbar .nav .active a,
.navbar .nav .active,
.navbar .nav li:hover,
.navbar .nav li:hover a {
  background: none;
  color: #fefefe;
}
.navbar .nav li {
  width: 120px;
  float: left;
  position: relative;
}
.navbar .badge {
  background: #e45464;
  position: absolute;
  right: 10px;
  top: 10px;
}
.nav-tabs {
  padding-left: 10px;
  font-size: 16px;
  font-family: '宋体';
}
.nav-tabs li {
  background: #dfdfdf;
  border-radius: none;
  margin-left: 2px;
  margin-bottom: 0;
}
.nav-tabs li a {
  padding: 10px 20px;
}
.nav-tabs li a,
.nav-tabs li a:active,
.nav-tabs li a:focus {
  color: #4e4e4e;
  border-radius: 0;
  margin: 0;
}
.nav-tabs li:hover,
.nav-tabs li:hover a,
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
  background: #ed5565 ;
  color: #fff;
  border-color: #ed5565;
}
.nav-tabs li:hover em,
.nav-tabs li:hover a em,
.nav-tabs li.active a em,
.nav-tabs li.active a:hover em,
.nav-tabs li.active a:focus em {
  color: #ffffff;
}
.nav-tabs em {
  font-style: normal;
  color: #ed5565;
}
.nav-tabs {
  border-bottom: 3px solid #ed5565;
}
.tab-content {
  font-family: '宋体';
  padding: 20px 0;
}
.tab-content .pagination {
  float: right;
}
.tab-content .tab {
  padding: 0;
}
.tab-content h3 {
  font-family: "microsoft yahei";
  font-size: 20px;
}
.table {
  font-size: 12px;
  font-family: '宋体';
}
.table th,
.table td {
  text-align: center;
  vertical-align: middle !important;
}
.table thead {
  background: #e6e6e6;
  border: 1px solid #ccc;
  font-size: 12px;
}
.table .btn {
  font-size: 12px;
}
.table tfoot td {
  text-align: left;
  font-size: 12px;
}
.table .pagination {
  float: right;
}
.table .page-result {
  margin: 0 5px;
}
.panel-title {
  font-size: 12px;
  background: url(../img/accordion-arrow.png) right center no-repeat;
}
.panel-title a {
  display: block;
}
.panel-title em {
  color: green;
  font-style: normal;
}
.panel-body {
  color: #555555;
}
.panel-body form {
  padding: 0;
}
.panel-body .form-label {
  font-size: 12px;
  font-weight: bold;
}
.panel-body .form-control {
  width: 200px;
}
.panel-body .form-horizontal .form-group {
  height: 45px;
  line-height: 45px;
}
.toolbar {
  padding: 40px 0  20px;
  border-bottom: 1px solid #ddd;
  background: url(../img/dotted.gif);
}
.toolbar-unstyle {
  background: none;
  border: none;
}
.stepbar .stepbar-caption {
  position: absolute;
  color: #ed5565;
  left: 60%;
}
.stepbar .stepbar-progrees {
  margin-top: 0;
  margin-bottom: 0;
}
.stepbar .stepbar-number {
  color: #a1a1a1;
  font: 36px/1.3 aril;
  font-weight: bold;
}
.stepbar em {
  margin-left: -5px;
}
.stepbar .active .stepbar-number,
.stepbar .active .stepbar-progrees {
  border-color: #ed5565;
  color: #ed5565;
}
.stepbar-sms .stepbar-desc {
  left: 60%;
  top: 30px;
  position: absolute;
  display: block;
  width: 240px;
  font-size: 12px;
  text-align: left;
}
.stepbar-sms .stepbar-desc,
.stepbar-sms .active .stepbar-desc {
  color: #999999;
}
.stepbar-sms {
  padding-bottom: 30px;
}
.stepbar-sms .stepbar-number {
  width: 55px;
  height: 55px;
}
.stepbar-sms em {
  margin: -2px 0 0 0;
}
.stepbar-default .stepbar-desc {
  font-size: 18px;
}
.stepbar-default .stepbar-number {
  background: #cfcfcf;
  border: 3px solid #cfcfcf;
  width: 60px;
  height: 60px;
  line-height: 1.5;
}
.stepbar-default .active .stepbar-number {
  background: #ed5565;
  color: #fff;
}
.stepbar-default .active .stepbar-desc {
  color: #ed5565;
}
.tabs-wrap {
  position: relative;
}
.tabs-wrap .btn {
  position: absolute;
  right: 0;
  top: 0;
}
.message {
  text-align: center;
  font-size: 30px;
  line-height: 2;
  padding: 100px 0;
}
.message small {
  font-size: 14px;
  font-family: '宋体';
}
.message .icon {
  margin-right: 10px;
}
.sidebar {
  float: left;
  width: 220px;
  margin-right: 20px;
}
.sidebar ul,
.sidebar li {
  list-style: none;
  margin: 0 ;
  padding: 0;
}
.sidebar a {
  display: block;
  padding: 5px 10px;
  color: #434a54;
}
.sidebar .select a,
.sidebar a:hover {
  background: #434a54;
  color: #fff;
  text-decoration: none;
}
.sidebar .glyphicon {
  margin: 0 5px;
  display: none;
}
.sidebar a:hover .glyphicon {
  display: inline-block;
}
.sidebar fieldset {
  margin: 0;
}
.searchbar {
  border-top: 1px solid #ddd;
  background: #f3f3f1 ;
  padding: 20px 30px;
  font-family: '宋体';
  font-size: 12px;
}
.searchbar .form-control {
  width: 140px;
}
.searchbar .btn {
  width: 140px;
}
.page-result .form-control {
  float: none;
  display: inline-block;
}
.page-result select {
  width: 70px;
}
.progress + .progress-info {
  margin-top: -20px;
}
.progress-info small {
  color: #666;
}
.form-bs .form-group {
  margin-bottom: 10px;
  *zoom: 1;
}
.form-bs .form-group:before,
.form-bs .form-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.form-bs .form-group:after {
  clear: both;
}
.form label,
.form-bs label {
  color: #666;
}
.dropdown-menu-items {
  font-size: 12px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: '宋体';
  *zoom: 1;
}
.dropdown-menu-items:before,
.dropdown-menu-items:after {
  display: table;
  content: "";
  line-height: 0;
}
.dropdown-menu-items:after {
  clear: both;
}
.dropdown-menu-items li {
  float: left;
  margin: 5px;
}
.dropdown-menu-items li a {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  background: #f0f0f0;
  color: #999;
}
.dropdown-menu-items li a:hover,
.dropdown-menu-items li a:focus {
  background: #d1d1d1;
  color: #666;
}
[class*=tag-],
[class*=tag-]:hover,
[class*=tag-]:focus {
  display: inline-block;
  padding: 3px 5px;
  color: #fff;
  text-decoration: none;
  line-height: normal;
}
[class*=tag-] .glyphicon {
  color: #fff;
}
[class*=tag-] {
  position: relative;
}
[class*=tag-] .delete {
  position: absolute;
  right: -7px;
  top: -7px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  display: none;
}
.tag-success:hover .delete {
  text-decoration: none;
  display: block;
}
.tag-success {
  background: #39b333;
}
.tag-danger {
  background: #ed5565;
}
