.templates{
    img { width: 241px; height: 380px; }
    .templates-inner { width: 241px; margin: 0 auto; }
    li { float: left ; width: 25%; margin-bottom: 20px;  }
    .btn{ margin-top: 10px;}
    .mobile-tpl{ background: url(../img/mobile-tpl.png) no-repeat; padding: 30px 21px 0 21px; height: 380px;}
    .mobile-fixedbar{ bottom: 2px !important; }
}

.templates-tags{
   // a { display: inline-block; color: #fff; padding: 5px 10px; background: #ed5565; margin: 5px; }
   // .active{ background: #39b333;}
    [class*=tag-]{ margin:5px; }
    i{ display: inline-block; font-family: "microsoft yahei";  font-style: normal; font-size: 18px; margin: -5px 5px -5px 0;}
    .text-success{ color:#39b333; }
    .text-danger{ color:#ed5565; }
    .options{ margin: 50px 0;}
}

.mobile{
    background: url(../img/mobile.png) no-repeat;
    width: 282px;
    height: 538px;
    margin-left: 20px;
    padding:0;
    .mobile-info{ margin:80px 22px 0 21px;}
    .mobile-info img{ width: 241px; height: 379px;}
}

.mobile-tpl {
    font-family: '宋体';
    line-height: 2;
    font-size: 12px;
    padding:20px;
    position: relative;
    height: 364px;
    span,a{ margin: 0 2px;}
    [class*=tag-]:hover .delete{ text-decoration:none;display: block;}
    .alert{ margin: 30px 0;}
    .glyphicon-pencil{ font-size: 24px;}
    .mobile-fixedbar{ background: #ebebeb; padding: 5px 10px; text-align: center;  position: absolute; bottom: 0; left: 0; width: 100%; span,a{ margin: 0;}}
}