body,html{ font-size: 60px;}

.card-container{ left: 0 ; top: 0; width: 100%;}
.card .card-text{ color: #fff ;  text-align: left; padding-top: 32%; line-height: 1.5; width:90%; margin: 0 auto; height: auto; }
