@charset "utf-8";
/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{ padding: 0; margin: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
input,select,textarea{ font-size:12px}
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 {font-size: 100%; }

/* base */
body{font-size:medium;color:#656565;background:#fff url(../images/bodybg.png) repeat-x; background-size:5px 15px;}
.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both;}
.clearfix{*zoom:1; /* for IE6 IE7 */}

/* character */
a {color: #656565;text-decoration: none;}
a:hover {color: #ffcc00; }

/* content */
.content { padding-top:15px;}
.content h1 { font-size:20px; line-height:1.5; overflow:hidden; color:#020202; padding:0 10px;}
.contentinfo {font-size:14px; line-height:32px; border-bottom:1px #c0c0c0 solid; margin-bottom:1px; color:#aeadad; padding:0 10px;}
.contentbox { font-size:16px; line-height:1.8; overflow:auto; background:#eaeaea; padding:10px;}
.contentbox p { margin-bottom:15px;}
.contentbox img { margin-bottom:15px; display:block; margin:0 auto; padding:3px; border:1px #bcc4cf solid; background:#fff;}

/* comment */
.comment-title { padding-top:15px;}
.comment-title h1 { font-size:20px; line-height:1.5; overflow:hidden; color:#020202; padding:0 10px;}
.comment-title p {font-size:14px; line-height:32px; border-bottom:1px #c0c0c0 solid; margin-bottom:1px; color:#aeadad; padding:0 10px;}

.comment ul	 { background:#eaeaea; padding:0 10px;}
.comment li { width:100%; background:url(../images/line.png) repeat-x left bottom; float:left; padding:10px 0;}
.comment li p { color:#020202; font-size:16px;line-height:1.8; padding:10px 0;}
.comment li span { display:block;color:#656565; font-size:14px;line-height:1.5;}
.comment li code { float:right;}
.comment li i { font-style:normal; color:#00b6f3;}
.comment li em { font-style:normal; font-size:12px; display:block; text-align:right; line-height:1.5;}
