@charset "utf-8";
/*
* @name		:Template
* @author	:czy
* @version	:1.0.0.0
* @type		:公共
* @explain	:
* @relating	:
* @dependent:
* @date     : 2011-05-16
* @qq       : 274142680@qq.com
*/
/* ************ template ************* */

/* template */

a{blr:expression(this.onFocus=this.blur()); /* IE */outline:none;/* FF */}
body{font:14px/1.2 "微软雅黑";color:#666;}
html{background:#810100;}
/* grid */

/* button */

/* line */

/* element */


/* -- template -- */
.footer,.container{ margin:0 auto; width:960px;}

.header{ background:url(../images/bg-head.jpg) no-repeat center top; height:367px; text-align:center;}
.header .joincount { font-size:27px; color:#fff; padding:27px 35px  0 0; display:block;}

.container{ background:#eee8de; }

.title-1{ background:url(../images/ico-1.gif) no-repeat  0 center; padding-left:23px; color:#333; font-weight:bold; font-size:14px; }

.section-1{ border-bottom:1px solid #b67b6a;font-family:宋体;}
.section-1 .side{ float: left ; border-right:1px solid #FFF; padding:20px; width:230px;}
.section-1 .title{ margin: 10px 0;}
.section-1 .side p{ margin:10px 0; font-size:12px; line-height:22px;}
.section-1 .main{ overflow:hidden;  border-left:1px solid #c9b9b6;padding:20px;font-size:12px;}
.section-1 .main .list {width:680px; margin:0 auto; height:90px;}
.section-1 .main .list li{ float:left; width:16%; *width:15%; }
.section-1 .main .list img{ width:100px; height:64px; border:2px solid #fff; background:#d9d9d9; margin-bottom:10px;}  
.section-1 .main .tips{ margin-top:10px;}
.section-1 .main .tips span{ font-weight:bold;}
.section-1 .side,
.section-1 .main{ height:150px;}

.section-2{font-family:宋体;font-size:12px; padding:20px 0;}
.section-2 h3{ text-align:center; margin-bottom:15px;}
.section-2 .list{ margin:0 20px 20px 20px; }
.section-2 .list li{ float:left; width:20%; *width:19%; text-align:center;}
.section-2 .list .name{ margin:10px 0; display:block;}
.section-2 .list .num{ color:#a7001f; margin-right:10px; font-family:Tahoma; font-weight:bold;}
.section-2 .list span{ vertical-align:middle;}
.section-2 .list .button{ background:url(../images/btn-2.gif) no-repeat; border:none;width:70px; height:25px; color:#fff;}

.section-3{font-family:宋体;}
.section-3 h3{ background:url(../images/mod-head-1.gif) no-repeat; height:38px; line-height:38px;}
.section-3 .list { margin:20px;}
.section-3 .list li{ float:left; width:14%; *width:13%; color:#82817e; text-align:center;}
.section-3 .list .name{ margin:10px; display:block;}

.footer{ text-align:center; line-height:25px;font-family:宋体;color:#fff; font-size:12px;}
.footer .sitemap a{ margin:0 5px; vertical-align:middle; color:#fff;}