.swipe ul,.swipe  li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.swipe img{ max-width: 100%;}
.swipe  {
    height: 300px;
    overflow: hidden;
}
.swipe-list  li {
    float: left;
    position: relative;
}