@charset "utf-8";
/* CSS Document */
body{ width:600px; height:800px; }

.login-body{background:url(../images/600x800/bg-login-body.png) no-repeat; text-align:center;}
.login{ margin:300px auto; background:url(../images/600x800/bg-login.png) no-repeat; width:576px; height:201px; text-align:left;}