@charset "utf-8";
/* CSS Document */
body{ width:800px; height:600px; }

/* login */
.login-body{background:url(../images/800x600/bg-login-body.png) no-repeat; text-align:center;}
.login{ margin:200px auto; background:url(../images/800x600/bg-login.png) no-repeat; width:616px; height:201px; text-align:left;}

/* firend */
.firend .header{ background:url(../images/800x600/bg-topbar.png) no-repeat; height:98px;}