/* 弹出对话框的<div>标签样式 */
.dialog {
	position: absolute;
	visibility: hidden;
	overflow: hidden;
	border: 1px solid #CCC;
	background-color: #F9F9F9;
	width : 300px;
	height : 100px;
	filter: alpha(opacity =   50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	border: 1px solid #333;
	padding: 5px;
}

/*单张缩略图的<img>标签样式*/
.smallImage {
	border: 4px solid #F2F2F2;
	margin-right: 2px;
	margin-left: 2px;
	cursor: pointer;
}

/*单张图片被选中的样式*/
.smallImageChoose {
	border: 4px solid #ffcc33;
	margin-right: 2px;
	margin-left: 2px;
	cursor: pointer;
}
.listModeImageDiv {
	
}

/* 列表模式的<img>标签样式 */
.listModeImage {
	border: 0px;
	margin: 10px;
	cursor: pointer;
}