.layout{ width: 441px; height: 279px; overflow: hidden;}
.layout .layout-right{ width: 120px; border: 1px solid #ddd; border-radius: 5px;}
.layout .layout-main{padding: 0;}
.layout .layout-main img{width:300px; height:260px; padding: 5px; border: 1px solid #ddd; border-radius: 5px;}

.p-carousel{}
/*.p-carousel .carousel-list li{ height: 50px; height: 72px; padding:10px 0 ; }
.p-carousel li img{height: 50px; height: 80px;}*/
.p-carousel .carousel-list{ padding: 0;}
.p-carousel .carousel-list li{ overflow: hidden; margin: 0 ;  width: 100%; padding: 2px 0; text-align: center;}
.p-carousel .carousel-list li img{width: 110px; height: 70px;}
.p-carousel .carousel-clip{  margin: auto; width: 110px; height: 189px;}
.p-carousel .carousel-prev-diable,
.p-carousel .carousel-next-diable,
.p-carousel .carousel-prev,
.p-carousel .carousel-next{
    background:url(../images/ico4.gif) no-repeat;
    width:25px;
    height: 16px;
    display: block;
    margin: 6px auto;
    background-position: -26px -1px;
}
.p-carousel .carousel-next{
     background-position: -26px -17px;
 }

.p-carousel .jcarousel-prev-disabled{ background-position: 0px 0px;}
.p-carousel .jcarousel-next-disabled{ background-position: -1px -17px;}

.other-video{ text-align: center; font-size: 12px; padding: 5px; border-bottom:1px solid #ddd;}

.scrollUp_photo li{ display: none;}

