@charset "utf-8";
/* CSS Document */
body { background:#e3e3e3;margin:0px; padding:0px;}
* { font-size:12px; border:0px;}
ul,li { list-style:none; margin:0px; padding:0px;}
.main { width:1003px;height:650px;  margin:0 auto;background:url(loginbg.jpg) no-repeat top;}
.loginbox { margin-top:300px; margin-left:570px; width:350px; height:200px; position:absolute;}
.pwd { padding-top:5px;}
.ipt1 { width:175px; padding-left:5px; padding-right:5px; height:26px; line-height:26px; background:url(ipt1.gif) no-repeat;}
.ipt2 { width:87px;padding-left:5px; padding-right:5px; height:26px; line-height:26px; background:url(ipt2.gif) no-repeat;}
.vdcode { padding-top:3px; height:26px; line-height:26px;}
.vdcode img { position:absolute;}
.lgbt { padding-top:10px; padding-left:3px;}
.lg { width:77px; height:25px; background:url(lgbt.gif);}

