doctype
html(lang="zh-cn")
    include mixins/index
    head
        block head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
        title title
        meta(name="keywords", content="keywords")
        meta(name="description", content="description")
        //- +pageFadeIn()
        //- +pageFadeOut()
        //- +pageSafe()
        //- +author()
        link(rel="stylesheet",type="text/css",media="all",href="../public/css/font-awesome/font-awesome.min.css")

        | <!--[if lt IE 8]>
        link(rel="stylesheet",type="text/css",media="all",href="../public/css/font-awesome/font-awesome-ie7.min.css")
        | <![endif]-->

        link(rel="stylesheet",type="text/css",media="all",href="../public/css/index.css")

        | <!--[if lt IE 10]>
        script(src="../public/js/node_modules/html5/dist/index.js")
        | <![endif]-->
        script(src="../public/js/node_modules/jquery/dist/jquery.min.js")
        block css
    body
        .header
            block header

        block container

        .footer
            block footer

        script(src="../public/js/dist/bundle.js")
        script(src="../public/js/dist/index.js")
            
        block js






