/*
* @name reset
* @author caizhongyi
* @version	1.0.0.0
* @type public
* @explain
* @relating
* @date 2012-11-17
* @qq  274142680
*/

html{overflow-y:scroll;}
body{font:14px/1.231 '宋体',arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;color:#333; margin:0 auto;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;word-break:break-all;}

/* textarea */
p{text-indent:2em; }
blockquote{ margin-bottom:10px;}
q:before,q:after{content:'';}
blockquote,p{ line-height:22px;}
/* end textarea */

/* h1 - h6 */
h1{ font-size:16px;}
h2{ font-size:14px;}
h3, h4, h5, h6{ font-size:14px;}
h1, h2, h3, h4, h5, h6,caption{ font-weight:bold;}
/* end h1 - h6 */

/*h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,em,strong,th{ }*/
ul,ol,dl,li,dd,dt{list-style:none; }

/* table */
table{border-collapse:collapse;border-spacing:0;}
table th,
table td{ padding:3px 5px;text-align:center;}
table caption{text-align:center;}
/* end table */

fieldset,img,abbr,acronym{border:0;}
legend{color:#000;}
abbr,acronym{font-variant:normal;}

sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}


button,input[type="reset"],input[type="button"],input[type="submit"] {cursor:pointer; }
input{font-family:'Verdana';}
/* Opera requires 1px of padding to render with contemporary native chrome */
/*  fonts  */
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;font:inherit;}
/* end  fonts  */

/*  others  */
ins {text-decoration: none;}
del {text-decoration: line-through;}
i{ font-style: normal;}
/* end  others  */

/* make IE scale images properly */
img {-ms-interpolation-mode:bicubic;}

/* ************* a  *************** */
a{color:#333;text-decoration: none;cursor:pointer; }
a:hover {text-decoration: underline; }
/*a:active,a:visited { color:#005a9c; }*/

/* html5 elements */
article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,hgroup,header,mark,menu,meter,nav,output,progress,section,video{ margin:0; padding:0;display:block; zoom:1;}

a{
	blr:~"expression(this.onFocus=this.blur())"; /* IE */
	outline:none;/* FF */
}

/* -----------------------------------------
	variables
	-----------------------------------------*/
.equal { padding-bottom:32767px; margin-bottom: -32767px;overflow:hidden; }
.overhidden { overflow:hidden;_overflow:visible;_zoom:1; }
.left { float:left;/*_display:inline;*/_margin-right:-3px; }
.right { float:right;/*_display:inline;*/_margin-left:-3px; }
.main{overflow: hidden;}
.floatfluid{_display:inline;} /* ie 6 下浮动双边距修正 */
/*  font */
.f12 { font-size:12px; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.blod {font-weight:bold;}
/*  end font size  */

/* colors */
.red { color:red;}
.green { color:green;}
.blue {color:blue;}
.yellow {color:yellow;}
/* end  colors */

/* word */
.align-left {text-align:left;}
.align-right {text-align:right;}
.align-center {text-align:center;}
.block-center {margin-left:auto; margin-right:auto;}
.align-justify {text-align:justify;text-justify:inter-ideograph;}
.txt-hidden{ display: inline-block; overflow: hidden; vertical-align: middle;}
/*end  word */


/* zero height */
.zero-height{height:0;line-height:0;overflow:hidden; font-size:0;}
.hide{display:none;}


/*  clear  */
.clear{display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.clearfix{zoom:1;
	&:after{
		content:".";height:1%;display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both; *display:none;
	}
}
/*  end clear  */

.inline-block{ display:inline-block; *display:inline; zoom:1; vertical-align: middle;}
.fluid
{
	float: none;
	width: auto;
	_overflow:visible;
	zoom:1;
}
/* -----------------------------------------
	end variables
	-----------------------------------------*/