.scroll_03{background:url(../imgs/allbgs.png) no-repeat 0px 0px;width:7px;padding-top:9px;}
.scroll_10{background:url(../imgs/allbgs.png) no-repeat -10px 0px;width:7px;padding-top:10px;}
.scroll_06{background:url(../imgs/allbgs.png) no-repeat -36px 0px;width:7px;padding-top:24px;}
.scroll_08{background:url(../imgs/allbgs.png) no-repeat -23px 0px;width:7px;padding-top:63px;}
