#leavemessage {display: inline; float: left; margin: 0 0 0 10px; width: 786px;}
.overBox  {  overflow: hidden; width: 100%; color: #333333;  font-size: 12px;  }
.title { background: url("../../../images/activity/titleBg.jpg") repeat-x scroll left bottom #F3F3F3;  height: 27px;  line-height: 27px; padding: 0 2%;  width: 96%; }
.title h5 {  color: #B31B1A; float: left; font-size: 12px !important; }
.gray9 { color: #999999; } 
.floatLeft  {  float: left !important; }
.newsList { border-bottom: 1px solid #E9E9E9;   overflow: hidden;  padding: 10px 5px; width: 98.7%; }
.newsListHf { overflow: hidden;  padding: 10px 5px;  width: 98.7%; }
.etd_close {  background: url("../../../images/PluginImages/leavemessage/etd_icon.gif") no-repeat scroll 0 -18px transparent; float: left; padding-left: 18px; }
.blog_page {   float: right;  font-family: Arial,Helvetica,sans-serif; }
.blog_page a {  margin: 0 3px; }
.blog_page-dis { color: #999999 !important;  text-decoration: none !important; }
.blog_page select { font-size: 12px; }  
.blog_pageBg { background: none repeat scroll 0 0 #F9F9F9;overflow: hidden; padding: 3px 0.75%; width: 98.5%;}
input, select {   font-size: 12px;  vertical-align: middle;}
.order { background-position: right -70px;  padding-right: 10px; } 
.arrow, .arrows a  { background: url("../../../images/PluginImages/leavemessage/arrows.gif") no-repeat scroll 0 0 transparent;}
.avatar50 {  height: 50px;  width: 50px; border: 1px solid #C6B5D7;  display: inline-block; float: left;  padding: 1px; }
.avatar50 a  {  margin: 0 !important; } 
a:link, a:visited { color: #806000;  text-decoration: none; }
.newsSubject {display: inline;float: left;width:85%;} 
.marginL10 {display: inline; margin-left: 10px !important;}
img { border: medium none;}
.linkList {float: left;overflow: hidden;}
body, ul, ol, li, dl, dd, h1, h2, h3, h4, h5, h6, p, form, input, textarea, select, button, th, td, label {margin: 0;padding: 0;}
.linkList ul li {float: left;line-height: 24px;padding: 0 2px;} 
ul li, ol li {list-style: none outside none;}
.gray9 { color: #999999;} 
.floatRight { float: right !important;}
.marginR20 {display: inline;margin-right: 20px !important;}
.msg_listTitle dd strong, .act_name dd strong, .act_attLv { display: inline-block;  font-weight: normal;line-height: 22px;}
.proWhite { border: 1px solid #DBDBDB;} 
.proWhite, .proYellow { background: url("../../../images/PluginImages/leavemessage/probar.gif") no-repeat scroll 0 0 transparent; display: inline-block;height: 8px;overflow: hidden; width: 50px;}
.time03 {    color: #999999; }
.proYellow {background-position: 0 -8px;}



