ul,li{ list-style-type: none; margin: 0; padding: 0;}

.ad-gallery{ width:100%; margin:0 auto; font-size:12px;}
.ad-image-wrapper{ text-align:center; position:relative; height:410px; overflow:hidden; z-index:1; width:100%;}
.ad-image{ position:absolute;}
.ad-image img{ cursor:pointer;}
.ad-nav{ width:100%; position:relative; height:90px;}
.ad-thumbs{ position:absolute; width:93.5%; overflow:hidden; height:90px; top:25px; left:15px;}
.ad-thumbs li{ width:88px; float:left; text-align:center;}
.ad-thumbs li a{ display:block; width:78px; height:58px; margin:0 auto; position:relative; border:1px solid #efefef;}
.ad-thumbs li a span{ display:none; width:78px; height:15px; line-height:15px; background:#ccc; position:absolute; bottom:-15px; color:#fff; left:0; }
.ad-thumbs li a.ad-active{border:1px solid #aaa;}
.ad-thumbs li a.ad-active span{ background:#6F9FD0;}
.ad-back,.ad-forward{ width:15px; height:60px; top:25px; position:absolute; cursor:pointer; }
.ad-back{ background:url(http://i3.static.olcdn.com/js/grouppic2013129/left1.gif) no-repeat 0 0; left:0; }
.ad-forward{ background:url(http://i3.static.olcdn.com/js/grouppic2013129/right1.gif) no-repeat 0 0; right:0 }
.ad-preloads{ display:none;}
.ad-scrollbar-cnt{ background:url(http://i3.static.olcdn.com/js/grouppic2013129/tiao1.gif) repeat-x 0 0; height:20px; width:100%; margin:15px 0; position:relative;}
.ad-scrollbar{ position:absolute; top:0; left:0; width:150px; height:20px; cursor:pointer; background:url(http://i3.static.olcdn.com/js/grouppic2013129/tiao.gif) no-repeat 0 0;}
.ad-next,.ad-prev{ position:absolute; width:20%; top:0; z-index:2; height:100%; background:#fff;opacity:0; filter:alpha(opacity=0);}
.ad-next{ right:10px; cursor: url(http://i3.static.olcdn.com/js/grouppic2013129/arr_right.gif), auto;}
.ad-prev{ left:10px;cursor:url(http://i3.static.olcdn.com/js/grouppic2013129/arr_left.gif), auto;}
.ad-thumb-list{ float:left;}
#matterc .ad-thumbs li a, #matterc .ad-thumbs li a:link, #matterc .ad-thumbs li a:visited{ text-decoration:none;}
.ad-title{ height:auto !important; min-height:30px;height:30px; line-height:30px; padding:0 80px 0 3px; font-size:12px;border-bottom: 1px dotted #ccc;}
.ad-title span{ font-size:15px; font-family:Verdana, Geneva, sans-serif;}
.ad-title span span{ color:red;}
.ad-title strong,#matter strong{font-weight:bold;}
.ad-thumbs img{ max-width:78px; max-height:58px; height:100%; _width:expression(this.width>78?78:this.width);}
.ad-chakanpic{ position:relative;}
.ad-chakanpic .ad-chakan{ position:absolute; display:block; width:60px; height:25px; line-height:25px; right:10px; top:0;}

.ad-lookpic{ }
.ad-lookpic h3{}
.ad-lookpic a{ color: #666;}
.lastpic2{width: 570px; margin: 0 auto;}
.look-pic-like ul li{ float: left; width: 160px; margin:0 5px;}
.look-pic-like ul li span{ display: block; line-height: 22px;}

.ad-target{ text-align: center; margin: 5px 0;}