.media p {
  font-size: 12px;
  color: #999;
}
.media small,
.media .small {
  margin-bottom: 5px;
}
.media .bottom {
  top: auto;
  bottom: 10px;
}
.media .operate.hide {
  visibility: hidden;
  display: block;
}
.media:hover > .operate {
  visibility: inherit;
  opacity: 1;
  transform: scale(1);
}
.media-object {
  float: left;
  margin-right: 10px;
}
.media-object img {
  width: 100%;
}
.media > .pull-right {
  margin-left: 10px;
}
.media-body {
  overflow: hidden;
}
.media-heading {
  margin: 0 0 5px 0;
  font-size: 120%;
}
.media-heading small,
.media-heading .small {
  margin-bottom: 0;
}
