.media
    p
        font-size 12px;
        color #999;
    small,.small
        margin-bottom: 5px;
    .bottom
        top: auto;
        bottom: 10px;
    .operate.hide
        visibility:hidden;
        display: block;
    &:hover > .operate
        visibility: inherit;
        opacity: 1;
        transform: scale(1);

    &-object
        float: left;
        margin-right: 10px;
        img
            width: 100%;

    > .pull-right
        margin-left: 10px;

    &-body
        overflow: hidden;

    &-heading
        margin: 0 0 5px 0;
        font-size: 120%;
        small, .small
            margin-bottom: 0;