.playtab{
  width: 100%;
}
.playtab td{ width: 20%; font-family:"Î¢ÈíÑÅºÚ"; background-color:#666; text-align:center; padding: 20px 0; font-size:16px; color: #fff }
.playtab .playcurr{ background-color:#F60;}
.playtab .playnormal{ background-color:#666;}
.abs{ position:absolute;}
.rel{ position:relative;}
.btn_arr{ left:35%; top:35%;}
.play_btn{  display:block; background-color:#F60;border:0; padding: 10px; cursor:pointer; font-family:"Î¢ÈíÑÅºÚ";  font-size:15px;}
.play_btn:hover{ background-position:0 -115px;}
