@charset "utf-8";
/*
* @name		:Template
* @author	:czy
* @version	:1.0.0.0
* @type		:公共
* @explain	:
* @relating	:
* @dependent:
* @date     : 2011-05-16
* @qq       : 274142680@qq.com
*/
/* ************ template ************* */

/* template */

ul,li,h3,p{ list-style:none; margin:0; padding:0;}
body {font: 12px/1.2 Tahoma, Arial, Helvetica, sans-serif;color:#666;width:480px;background:#fffefe;}
a{blr:expression(this.onFocus=this.blur());} /* IE */
a{outline:none;}/* FF */
a{color:#413d3d; text-decoration:none;}

/* grid */
.grid .g-l-50,.grid .g-l-100,.grid .g-l-200,.grid .g-l-300,.grid .g-l-400,.grid .g-l-500,.grid .g-l-150,.grid .g-l-250,.grid .g-l-350,.grid .g-l-450,.grid .g-l-550{float:left;_margin-right:-3px;}.grid .g-r-50,.grid .g-r-100,.grid .g-r-200,.grid .g-r-300,.grid .g-r-400,.grid .g-r-500,.grid .g-r-150,.grid .g-r-250,.grid .g-r-350,.grid .g-r-450,.grid .g-r-550{float:right;_margin-left:-3px;}.grid .g-r-50,.grid .g-l-50{width:50px;}.grid .g-r-100,.grid .g-l-100{width:100px;}.grid .g-r-200,.grid .g-l-200{width:200px;}.grid .g-r-300,.grid .g-l-300{width:300px;}.grid .g-r-400,.grid .g-l-400{width:400px;}.grid .g-r-500,.grid .g-l-500{width:500px;}.grid .g-r-150,.grid .g-l-150{width:150px;}.grid .g-r-250,.grid .g-l-250{width:250px;}.grid .g-r-350,.grid .g-l-350{width:350px;}.grid .g-r-450,.grid .g-l-450{width:450px;}.grid .g-r-550,.grid .g-l-550{width:550px;}.m-auto{margin:auto;}

.grid .g-l-128{ float:left; width:128px;margin-right:-3px;}
.grid .g-l-110{ float:left; width:110px;margin-right:-3px;}
.grid .g-l-230{ float:left; width:230px;margin-right:-3px;}
.grid .g-l-210{ float:left; width:210px; margin-right:-3px;}
.grid .g-l-245{ float:left; width:245px; margin-right:-3px;}
.grid .g-l-630{ float:left; width:630px; margin-right:-3px;}
.grid .g-l-310{ float:left; width:310px; margin-right:-3px;}

.grid .g-r-730{ float:right; width:730px; margin-left:-3px;}
.grid .g-r-220{ float:right; width:220px; margin-left:-3px;}
.grid .g-r-128{ float:right; width:128px; margin-left:-3px;}

.grid .m-l-320{ margin-left:320px;}
.grid .m-r-230{ margin-right:230px;_ margin-right:225px;}
.grid .m-l-220{ margin-left:220px;}


/* button */
.btn-1{ background:url(../images/btn-1.png); width:89px; height:45px; border:none;font-weight:normal; font-size:28px; color:#474444;display:inline-block; *display:inline;zoom:1; text-align:center; line-height:45px; }
.btn-1:hover{ text-decoration:none;}
/* element */
.red-title{color:#d24e4e;font-size:28px; text-align:center; font-weight:bold;}
.page-title{ color:#fff; font-weight:bold; font-size:28px; display:block; text-align:center; margin-right:120px; }
.pic{ border:1px solid #ccc; padding:5px;}
.more{ color:#b41c1c; text-align:center; font-size:22px;}
.go{width:293px; height:46px;}

.fup,.fdown{ background:url(../images/t.png) no-repeat;width:40px; height:35px;display:inline-block; *display:inline;zoom:1; margin-left:-6px;}
.fup{ background-position:-5px 0;}
.fdown{ background-position:-47px 0;}

.nav li{ display:inline-block;*display:inline;zoom:1; background:url(../images/bg-nav.png);width:121px; height:64px; text-align:center; line-height:64px; margin-right:-1px; font-size:26px; font-weight:bold;}
.nav li a:hover{ text-decoration:none;}

.news .more{ padding:54px 0; display:block;}

.newslist{ font-size:24px; line-height:30px;}
.newslist li{padding:10px; border-bottom:1px solid #ccc;}
.newslist li:hover{ background:url(../images/news-on.png)}
.newslist .title{ color:#b41c1c;font-size:24px; font-weight:bold;}
.newslist .content{ color:#848282;font-size:20px; text-indent:2em; }
.newslist .summary{ font-size:18px;  color:#363434; text-align:right; }
.newslist a:hover{ text-decoration:none;}

.artical{ text-align:center; line-height:30px;}
.artical h1{color:#d24e4e;font-size:28px; text-align:center; font-weight:bold; font-size:28x;}
.artical .summary{ font-size:20px;  color:#110f0f; margin:10px 0;}
.artical .content{font-size:20px; text-indent:2em; text-align:left; }
.artical .pic{ margin:5px 0;}

.pager{ font-size:28px; color:#fff; }
.pager .prev,
.pager .next{ background:url(../images/pager.png) no-repeat;width:23px; height:27px; display:inline-block; *display:inline;zoom:1; margin-right:-5px;}
.pager .prev{ background-position:0 -27px;}
.pager .next{ background-position:0 0;}

.header .pager{ margin:7px 0 0 150px;}

.about{ text-align:center; color:#0e0e0e;}
.about .logo{ margin:60px 0; }
.about .name{ font-size:36px;}
.about .ver{ font-size:24px; margin:10px 0 110px 0;}
.about .copyright{ line-height:25px; font-size:20px;}

.morelist,
.morelist a{ color:#3f3d3d; font-size:28px;}

.help{ text-align:center;}
.help .title{color:#d24e4e;font-size:28px; text-align:center; font-weight:bold; margin:20px 0 40px 0;}
/* template */
.header{ background:url(../images/bg-header.png); height:73px; display:block;}
.header .h-l{padding:17px 0 0 20px;}
.header .h-r{padding:15px 20px 0 0;  text-align:right;}
.header .h-c{padding:15px 0 0 20px;}
.header .h-auto{padding:17px 0 0 75px;}
.header .btn-1{ margin-top:-3px;}
.container .red-title{margin:23px 0; }

.leave { background:url(../images/leave.jpg); height:720px;}
.leave .go{ margin-top:585px;}
.art .artical{ padding:15px;}


/*  inline block  
font: 12px/1.2 Tahoma, Arial, Helvetica, sans-serif;
*/
.layout{ 
letter-spacing: -0.40em; /* webkit: collapse white-space between units */ 
*letter-spacing: normal; /* reset IE < 8 */    
word-spacing: -0.43em; /* IE < 8 && gecko: collapse white-space between units */
}
.layout li,
.layout a,
.layout dd,
.layout .inline
{ 
	 display:-moz-inline-stack;
	 display: inline-block;     
	 zoom: 1; *display: inline; /* IE < 8: fake inline-block */     
	 letter-spacing: normal;     
	 word-spacing: normal;     
	 vertical-align: top; 
}