/* CSS Document */
.container {
    font-family: "微软雅黑";
    color: #a5a5a5;
}

.main {
    overflow: hidden;
}

.side {
    float: right;
    background: url(../images/side-bg.gif) no-repeat left center;
    width: 230px;
    padding: 5px 0 5px 30px;
}

.regist-from h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: normal;
}

.regist-from > div {
    margin-bottom: 6px;
}

.regist-from .button {
    font-family: "微软雅黑";
    font-size: 16px;
    margin: 10px 0;
}

.regist-from .chzn-container,
.regist-from .birthday select {
    font-size: 12px;
    margin: 0 3px;
    width: 57px;
}

.regist-from .birthday #year {
    width: 63px;
}

.regist-from .birthday #month {
    width: 55px;
}

.regist-from .birthday #day {
    width: 55px;
}

.regist-from .sex label {
    margin-right: 30px;
}

.regist-from #reg_sex {
    width: 66px;
}

.regist-from .sex input[type=radio] {
    margin: 0 5px;
}

.login{ margin: 40px auto 20px;height: 295px;}
.regist-from{  margin: 0 auto 20px;height: 335px;}

.regist-from .labeltext input{  width: 133px;}
.login .labeltext input {  width: 154px;}

.login .labeltext {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: normal;
}

.login h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login .button {
    font-family: "微软雅黑";
    font-size: 16px;
    margin: 20px 0;
}

.login input[type=checkbox] {
    margin-right: 5px;;
}

.images {
}

.images li {
    float: left;
    margin: 5px;
}

.main-search {
    border: 1px solid #a6bbc0;
    background: #bfe4ed;
    box-shadow: inset 1px 2px #a6bbc0;
    border-radius: 9px;
    width: 654px;
    margin: 5px 0 5px 4px;
    position: relative;
    padding: 0 10px;
}

.main-search input {
    border: none;
    width: 625px;
    background: transparent;
    color: #fff;
    font-size: 16px;
    font-family: "微软雅黑";
    vertical-align: top
}

.main-search,
.main-search input {
    height: 34px;
    line-height: 34px;
}

.main-search .search-button {
    background: url(../images/search1.png) no-repeat;
    display: inline-block;
    width: 60px;
    height: 36px;
    position: absolute;
    top: -1px;
    right: -10px;
}

.regist {
    border-top: 1px dashed #ddd;
    padding: 0px 0;
}

.regist h3 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
}

.regist .button {
    background: url(../images/button1.png) no-repeat;
    width: 227px;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
    color: #fff;
    margin: 10px 0;
}

.regist .button:hover {
    border: none;
    box-shadow: 0 0 5px #d54c17;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


.regist-side .regist .button {
    margin: 10px 0;
}

.lan {
    text-align: right;
    margin-top: 5px;
}

.lan select {
    width: 80px;
}

.main .title {
    color: #92d5e6;
    font-size: 23px;
    line-height: 42px;
}

.main .title .button {
    background: url(../images/button2.png) no-repeat;
    width:338px;
    height: 45px;
    margin: 0 10px 0 4px;
    vertical-align: top;
}

.sidetabs {
   /* height: 400px*/
}

.custom-login-btn{ font-size: 21px; color:#fff ; font-family:'微软雅黑'; text-align: left;}
.custom-login-btn span{font-size: 16px; color: #fbaa28;  display: inline-block;   width: 100%;  text-align: center;}