<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add value="MailSite" key="玩儿道"/>
    <add value="MailFrom" key="honglima@sohu-inc.com"/>
    <add value="MailPwd" key=""/>
    <add value="MailName" key="honglima@sohu-inc.com"/>-->
    <add value="WorkingDir" key="..\WanerDaoWorkDir" />
    <!--admin@wanerdao.com-->
    <!--    
    <add value="MailSmtp" key="127.0.0.1"/>-->
    <add value="200" key="mailspan" />
    <!--1000为1秒，亚马逊的邮件服务是5封/S所以取值为200-->
    <add value="200" key="mailInterval" />
    <!--1000为1秒，亚马逊的邮件服务是5封/S所以取值为200-->
    <add value="service@savorboard.com" key="sourceMail" />
    <add value="service@savorboard.com" key="returnMail" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>