/* Style Sheet 
 * Use for:
 * Created:2013-2-16
 * Update:2013-2-16
 * Author:cheng
*/

/* CSS Reset */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,a,big, em,font,img,strong,tt, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
input,select,textarea{ font-size:12px}
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 {font-size: 100%; }

/* base */
body{font-size:12px;line-height:18px; font-family:simsun,Arial; color:#deb886;background:#d5af67 url(http://i1.static.olcdn.com/tera/images/bodybg.png);}
.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both;}
.clearfix{*zoom:1; /* for IE6 IE7 */}
.fl {float:left;}
.fr {float:right;}
.clear0 {clear:both;height:0px;line-height:0px;overflow:hidden;font-size:0;}
.clear5 {clear:both;height:5px;line-height:0px;overflow:hidden;font-size:0;}
.tc {text-align:center;}
.tr {text-align:right;}
.hide { display:none}

/* character */
a {color: #deb886;text-decoration: none;}
a:hover {color: #ffcc00; }
.color_white {color:white;}
.color_red {color:#ff0000;}
.color_blue {color:#0063dc;}
.color_gray {color:gray;}
.color_green {color:#9ffb1e;}
.color_orange {color:#e7610e;}
.color_purple {color:#db2257}
.color_yellow {color:#ffd200;}
.color_black {color:#000;}
.f14 {font-size:14px;}
.fb {font-weight:bold;}

/* wrap */
.fullbg { background:url(http://i1.static.olcdn.com/tera/images/fullbg.jpg) no-repeat center top;}
.wrapper {width:980px;margin:0 auto;}

/* header */
.header {background:url(http://i1.static.olcdn.com/tera/images/header.jpg);height:276px;}

/* nav */
.nav { background:url(http://i1.static.olcdn.com/tera/images/nav.jpg); height:62px; padding-left:115px;}
.nav a { float:left; display:block; overflow:hidden; height:54px; width:129px; text-indent:-10000px; outline:none;}
.nav a:hover { background:url(http://i1.static.olcdn.com/tera/images/navhover.png) no-repeat;_background:url(http://i1.static.olcdn.com/tera/images/navhover-ie6.png) no-repeat;}
.nav .a2 { width:112px;}
.nav .a3 { width:112px;}
.nav .a4 { width:112px;}
.nav .a1:hover { background-position:24px 13px}
.nav .a2:hover { background-position:-105px 13px}
.nav .a3:hover { background-position:-217px 13px}
.nav .a4:hover { background-position:-329px 13px}
.nav .a5:hover { background-position:-441px 13px}
.nav .a6:hover { background-position:-570px 13px}

/* main */
.main { width:980px; background:url(http://i1.static.olcdn.com/tera/images/main-c.png);}
.main-t { background:url(http://i1.static.olcdn.com/tera/images/main-t.jpg) no-repeat; width:980px; margin:0 auto; padding-bottom:35px;}
.main-b { background:url(http://i1.static.olcdn.com/tera/images/main-b.png) no-repeat left bottom; width:1000px; margin:0 -10px;}
.main-b2 { background:url(http://i1.static.olcdn.com/tera/images/main-b2.png); height:62px; clear:both;}

.menu { height:50px; padding-left:30px;}
.menu li { float:left; font-size:14px; width:84px; line-height:50px; background: url(http://i1.static.olcdn.com/tera/images/ico.png) no-repeat 0 21px; overflow:hidden; text-indent:12px;}

.tools { float:left; width:730px; height:78px; margin-top:4px; margin-left:12px;_display:inline}
.tools p { height:32px; line-height:32px;}
.tools span {color:#ffd666; font-weight:bold; padding-left:15px;}
.tools a { margin:0 2px;}

.search { float:right; width:230px; margin-top:4px; height:70px;}
.search h3 {color:#ffd666; line-height:32px;}
.intxt { float:left; width:155px; height:22px; line-height:22px; color:#725335; background:#100702; border:1px #443120 solid; border-right:0; text-indent:4px;}
.inss { float:left; width:51px; height:26px; font-size:14px; font-weight:bold; color:#3e1e02; border:0; background:url(http://i1.static.olcdn.com/tera/images/ico.png) 0 -66px; cursor:pointer;}

.focus-l { float:left; width:327px; margin-left:18px;_display:inline}
.focus-c { float:left; width:330px; margin-left:11px;}
.focus-r { float:right; width:284px;}

.flash { background:url(http://i1.static.olcdn.com/tera/images/flashbg.png); width:327px; height:225px; margin-bottom:12px;}

.guide .con { width:325px; border:1px #050505 solid; background:#0d0704;}
.guidelist { width:323px;overflow:hidden; border:1px #4c2c04 solid; padding-top:5px;}
.guidelist li { background:url(http://i1.static.olcdn.com/tera/images/ico1.png) no-repeat; height:98px; width:100%; float:left; overflow:hidden;}
.guidelist li.bg {background:#190e04 url(http://i1.static.olcdn.com/tera/images/ico1.png) no-repeat;  }
.guidelist b { float:left;width:66px; height:98px; text-align:center; line-height:98px; font-size:14px; font-family:microsoft yahei; color:#ffcc00;}
.guidelist p { float:left; line-height:26px; width:250px; padding-top:8px;}
.guidelist span { float:left; margin-left:13px; white-space:nowrap;}

.tabtit { height:31px;}
.tabtit li { float:left; margin-right:3px; width:73px; height:31px; line-height:32px; text-align:center; color:#c98c52; background:url(http://i1.static.olcdn.com/tera/images/ico.png) 0 -164px; overflow:hidden; cursor:pointer;}
.tabtit li.select {color:#f7c30e; font-weight:bold; background-position:0 -128px; width:82px; height:36px; margin-bottom:-5px; position:relative;}

.tabtit2 { height:31px; background:#0d0704; border:1px #362517 solid; margin:10px 0;}
.tabtit2 li { float:left; width:80px; height:31px; text-align:center; line-height:31px; color:#f1b346; font-weight:bold; cursor:pointer;}
.tabtit2 li.select { background:url(http://i1.static.olcdn.com/tera/images/ico.png) no-repeat 0 -92px; height:36px; width:94px; margin-bottom:-5px;color:#1a0901; font-size:14px;position:relative;}
.tabtit2 span { float:right;}
.tabtit2 span a { width:52px; height:20px; background:url(http://i1.static.olcdn.com/tera/images/ico.png) 0 -261px; display:block; overflow:hidden; text-indent:-1000px; margin-top:6px; margin-right:3px;}

.tabtit3 { float:left; margin-top:7px; width:740px;}
.tabtit3 li { float:left; width:118px; height:31px; text-align: center; line-height:31px; color:#d0a375; font-size:14px; background:url(http://i1.static.olcdn.com/tera/images/ico.png) 0 -230px; font-weight:normal; margin-left:5px; cursor:pointer; margin-top:1px;_display:inline}
.tabtit3 li.select { background:url(http://i1.static.olcdn.com/tera/images/ico.png) 0 -195px; font-weight:bold; color:#ff9800; height:35px; margin-bottom:-4px; margin-top:0;position:relative;}

.headnews {}
.headnews h2 { text-align:center; height:34px; line-height:34px; overflow:hidden; font-size:14px;}
.headnews h2 a {color:#ff9800;}
.headnews h2 a:hover {color:#f60;}
.headnews p { line-height:24px; text-align:center;}

.pic1 { height:85px;}
.pic1 a { border:1px #050505 solid; display:block; float:left; margin-right:5px;}
.pic1 img { width:122px; height:76px; display:block; border:3px #805206 solid;}

.pic2 {}
.pic2 a { border:1px #050505 solid; display:block; margin-top:14px; float:left;}
.pic2 img { width:257px; height:75px; display:block; border:3px #805206 solid;}

.bd1 {padding:1px; border:1px #5d3202 solid; background:#140e07;}
.bd2 {border:1px #412201 solid;}
.more { background:url(http://i1.static.olcdn.com/tera/images/ico-more.png); width:53px; height:17px; float:right; overflow:hidden; text-indent:-1000px; margin:12px 8px 0 0;_display:inline}

.column1 { width:659px; float:left; margin-left:18px;_display:inline}
.column1 h3 { background:url(http://i1.static.olcdn.com/tera/images/ico2.png) 0 -80px; height:41px; line-height:41px; padding-left:40px;}
.column1 h3 span { font-family:microsoft yahei; font-size:18px; font-weight:bold; color:#ffcc99; float:left;}

.column2 { width:274px; float:right; margin-right:18px;_display:inline}
.column2 h3 { background:url(http://i1.static.olcdn.com/tera/images/ico2.png) 0 -39px; height:41px; line-height:41px; padding-left:40px; clear:both;}
.column2 h3 span { font-family:microsoft yahei; font-size:14px; font-weight:bold; color:#ffcc99; float:left;}

.column3 { width:940px; margin:0 auto;}
.column3 h3 { background:url(http://i1.static.olcdn.com/tera/images/ico2.png) 0 -121px; height:41px; line-height:41px; padding-left:40px;}
.column3 h3 span { font-family:microsoft yahei; font-size:18px; font-weight:bold; color:#ffcc99; float:left; width:85px;}


.role-tit { float:left; width:98px; margin-left:2px; padding-bottom:2px; margin-top:1px;_display:inline}
.role-tit li { float:left; width:98px; height:40px; margin-top:1px;}
.role-tit li span { width:98px; height:40px; line-height:40px; display:block; background:url(http://i1.static.olcdn.com/tera/images/ico-role.png);color:#e9bb8d; font-size:14px; font-weight:bold; text-indent:40px; cursor:pointer;}
.role-tit li .s2 { background-position:0 -40px;}
.role-tit li .s3 { background-position:0 -80px;}
.role-tit li .s4 { background-position:0 -120px;}
.role-tit li .s5 { background-position:0 -160px;}
.role-tit li .s6 { background-position:0 -200px;}
.role-tit li .s7 { background-position:0 -240px;}
.role-tit li .s8 { background-position:0 -280px;}
.role-tit li.select span { color:#290101;}
.role-tit li.select .s1 { background-position:-98px 0;}
.role-tit li.select .s2 { background-position:-98px -40px;}
.role-tit li.select .s3 { background-position:-98px -80px;}
.role-tit li.select .s4 { background-position:-98px -120px;}
.role-tit li.select .s5 { background-position:-98px -160px;}
.role-tit li.select .s6 { background-position:-98px -200px;}
.role-tit li.select .s7 { background-position:-98px -240px;}
.role-tit li.select .s8 { background-position:-98px -280px;}

.role-info { float:right; width:552px; margin-top:2px;}

.role-intro { height:136px; border-bottom:1px #904815 dotted; margin-right:5px; background:url(http://i1.static.olcdn.com/tera/images/role1.png) right top no-repeat;}
.role-intro h4 { background:url(http://i1.static.olcdn.com/tera/images/ico2.png) no-repeat 0 -162px; height:35px; line-height:35px; font-size:14px; color:#cc9966; padding-left:22px; margin-bottom:5px;}
.role-intro h4 span {color:#ff9800;}
.role-intro p { line-height:22px; text-indent:24px; width:350px; padding-left:5px;}

.role-list { width:100%; clear:both; padding:5px 0; overflow:hidden;}
.role-list li { float:left; height:24px; line-height:24px; width:245px; background:url(http://i1.static.olcdn.com/tera/images/ico.png) 6px -24px no-repeat; padding-left:20px; overflow:hidden; margin-right:10px;}

.role-rmd { background:#0f0b07; border:1px #3f260a solid; line-height:24px; padding:4px 8px; margin-right:5px;}
.role-rmd span {color:#ff9800; font-weight:bold;}

.rank { float:right; width:236px; margin-top:12px; margin-right:3px;_display:inline}
.rank h4 { background:url(http://i1.static.olcdn.com/tera/images/ico2.png); height:39px; line-height:39px; padding-left:40px; margin-bottom:5px;}
.rank h4 span { font-family:microsoft yahei; font-size:14px; font-weight:bold; color:#ffcc99; float:left; width:85px;}
.rank ul { background:url(http://i1.static.olcdn.com/tera/images/ico-rank.png) no-repeat 2px 5px; padding-left:25px; padding-right:2px;}
.rank li { height:27px; line-height:27px; overflow:hidden;}
.rank code { float:right; padding-left:8px; color:#775731;}

.searchbar { background:url(http://i1.static.olcdn.com/tera/images/searchbar.png); width:944px; height:37px; margin:0 auto;}
.intxt2 { width:310px; height:20px; border:0; background:none; float:left; line-height:20px; margin:8px 0 0 290px;color:#725335;}
.inss2 { background:none; width:68px; height:26px; border:0; float:left; cursor:pointer; margin:7px 0 0 9px; display:block; overflow:hidden; text-indent:-1000px;}

.backtop { float:left; width:75px; height:22px; display:block; overflow:hidden; text-indent:-1000px; margin:7px 0 0 24px;}

.copy-map { float:left; width:377px; margin:5px 0 0 4px;_display:inline}
.copy-map-list { width:375px; border:1px #050505 solid; background:#0d0704;}
.copy-map-list ul { width:373px;overflow:hidden; border:1px #4c2c04 solid; padding-bottom:8px;}
.copy-map-list li { float:left; width:176px; height:82px; margin:8px 0 0 7px;_display:inline}
.copy-map-list img { width:170px; height:76px; display:block; padding:2px; border:1px #3c2c21 solid;}
.copy-map-list p { position:absolute; width:170px; height:20px; line-height:20px; text-align:center; margin:-23px 0 0 3px; overflow:hidden; color:#edc264; cursor:pointer;}
.copy-map-list span { position:absolute; width:170px; height:20px; margin:-23px 0 0 3px;overflow:hidden; background:#000;filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8; display:block; cursor:pointer;}
.copy-map-list a:hover p {color:#fc0}

.copy-plan { width:256px; float:right; margin-right:6px;_display:inline}
.copy-plan h4 { height:42px; line-height:42px; font-size:14px; background:url(http://i1.static.olcdn.com/tera/images/line2.png) no-repeat left bottom;color:#fe8b24; margin-bottom:8px;}

.gameinfo { line-height:28px; padding:10px; background:url(http://i1.static.olcdn.com/tera/images/bg1.png) no-repeat right bottom; height:299px;}

.btmnav { width:942px;clear:both; overflow:hidden; border:1px #000 solid; margin:0 auto;}
.btmnav ul { border:1px #4d2e1b solid; width:940px;}
.btmnav li {float:left;width:188px;text-align:center;line-height:24px; background:url(http://i1.static.olcdn.com/tera/images/line3.png) right 5px no-repeat; padding-bottom:5px;}
.btmnav li a {display:block;}
.btmnav a.t1 {font-weight:bold;font-size:14px;color:#ff9933;line-height:32px; background:#110702; margin-right:2px;}
.btmnav li.bgnone { background:none;}

.link { line-height:28px; font-size:13px; padding:10px 30px;color:#ff9933;}
.link span {color:#ffcc66; font-weight:bold;}
.link a {color:#ff9933;}

.list {}
.list li { height:24px; line-height:24px; overflow:hidden; background:url(http://i1.static.olcdn.com/tera/images/ico.png) 2px -24px no-repeat; padding-left:15px; padding-right:2px;}
.list code { float:right; padding-left:8px; color:#996600;}
.list .line { height:20px; overflow:hidden; background:url(http://i1.static.olcdn.com/tera/images/line1.png) no-repeat center center;}

.piclist { width:695px; float:left; margin-top:12px; margin-left:1px;}
.piclist li { float:left; background:url(http://i1.static.olcdn.com/tera/images/ico-pic.png) no-repeat center top; width:173px; height:165px;}
.piclist img { width:151px; height:111px; display:block; margin:4px auto 8px;}
.piclist p { line-height:18px; height:36px; text-align:center; margin:0 10px; overflow:hidden;}
.piclist a {color:#cc9966;}
.piclist a:hover {color:#ffcc00;}

/* footer */
.footer{ line-height:22px;text-align:right; padding-top:10px;clear:both; font-family:Arial;color:#333;}
.footer p { background:url(http://i1.static.olcdn.com/tera/images/766logo.png) no-repeat; width:960px;margin:0 auto;height:80px; }
.footer a {color:#333;}

/* container */
.container { float:left; width:680px;}
.path { background:url(http://i1.static.olcdn.com/tera/images/path.png); width:662px; height:35px; margin-left:15px; line-height:35px; overflow:hidden; text-indent:90px; margin-bottom:5px;}

.container-c { background:url(http://i1.static.olcdn.com/tera/images/c-c.png); width:659px; margin-left:18px;}
.container-b { background:url(http://i1.static.olcdn.com/tera/images/c-b.png) no-repeat left bottom; width:659px;}
.container-t { background:url(http://i1.static.olcdn.com/tera/images/c-t.png) no-repeat; width:659px; padding-bottom:20px;}

.tabtit4 { height:48px; background:url(http://i1.static.olcdn.com/tera/images/line4.png) no-repeat center bottom; padding-left:100px;}
.tabtit4 li { float:left; width:78px; height:25px; text-align:center; line-height:26px; overflow:hidden; margin-left:5px; margin-top:22px;color:#572202; background:url(http://i1.static.olcdn.com/tera/images/ico.png) 0 -321px; cursor:pointer;}
.tabtit4 li.select { background-position:0 -291px; height:30px; line-height:30px; font-size:14px; font-weight:bold;color:#660000; margin-top:18px;}
.tabtit4 li a {color:#572202;}
.tabtit4 li.select a {color:#660000;}

.newslist { padding:10px 30px;}
.newslist li { height:26px; line-height:26px; overflow:hidden; font-size:14px; background:url(http://i1.static.olcdn.com/tera/images/ico.png) no-repeat 0 -355px; padding-left:12px;}
.newslist code {color:#4b372c; float:right;}
.newslist li a {color:#330000;}
.newslist li a:hover {color:#cc3333;}
.newslist li.line { height:12px; overflow:hidden; background:none; border-top:1px #be8973 dotted; margin-top:12px;}

/* sider */
.sider { float:right; width:294px;}

.piclist2 {padding-left:1px; padding-top:12px;}
.piclist2 li { float:left; width:121px; overflow:hidden; margin:0 0 0 9px; height:142px;_display:inline}
.piclist2 img {border:1px #8d7a66 solid; background:#000; width:115px; height:85px; padding:2px; display:block; margin-bottom:3px;}
.piclist2 p { height:36px; line-height:18px; overflow:hidden; text-align:center;}

/* contentpage */
.content { padding:10px 20px;}
.content h1 { font-size:20px; font-family: microsoft yahei; text-align:center; height:72px; line-height:72px; overflow:hidden; color:#660000}
.contentbox { font-size:14px; line-height:24px; padding-bottom:20px; overflow:auto; color:#000;}
.contentinfo {color: #000; text-align:center; margin-bottom:15px; border-bottom:1px #660000 dotted; height:32px;}
.contentbox a {color:#f00;}
.contentbox p { margin-bottom:10px;}

.column4 { float:left; width:315px; margin-left:7px;_display:inline}
.column4 h3 { background:url(http://i1.static.olcdn.com/tera/images/ico2.png) 0 -197px; height:39px; line-height:39px; padding-left:40px; clear:both;}
.column4 h3 span { font-family:microsoft yahei; font-size:14px; font-weight:bold; color:#ffcc99; float:left;}

.column5 { width:637px; margin:0 auto;color:#000;}
.column5 h3 { background:url(http://i1.static.olcdn.com/tera/images/ico2.png) 0 -236px; height:39px; line-height:39px; padding-left:40px; clear:both;}
.column5 h3 span { font-family:microsoft yahei; font-size:14px; font-weight:bold; color:#ffcc99; float:left;}

.list2 {padding:5px;}
.list2 li { height:26px; line-height:26px; overflow:hidden; background:url(http://i1.static.olcdn.com/tera/images/ico.png) no-repeat 0 -381px; padding-left:12px;}
.list2 li a {color:#000;}
.list2 code { float:right;color:#666;}

.m0 { margin:0; float:none;_display:block;}
.ml10 { margin-left:11px;} 
.pd10 { padding:10px;}
.pd12 { padding:12px;}


/* page */
.page {clear:both; text-align:center; height:30px;}
.page a { display:inline-block; line-height:24px; padding:0 8px; background:#e8c882;color:#492d02;border:1px #996e29 solid;}
.page a:hover {color:#fff; background:#a5611f; border:1px #170f02 solid;}
.page a.select {color:#fff; background:#a5611f; border:1px #170f02 solid; font-weight:bold;}


/*幻灯*/
#alFade{ position:relative; overflow:hidden; padding:2px;width:323px; height:221px;}
#alFade .alFade-pic,#alFade .alFade-pic li{ width:323px; height:221px; overflow:hidden; }
#alFade .alFade-pic li{ display:none; position:absolute; }
#alFade .alFade-pic img{ width:100%; height:100%; display:block; padding:0; border:0; }
#alFade .alFade-flag{ position:absolute; bottom:5px; right:5px; }
#alFade .alFade-flag li{ cursor:pointer; width:20px; height:20px; text-align:center; background:#2d2d2d; border:1px solid #6f6e6a; color:#fff; font-family:Arial, Helvetica, sans-serif; float:left; display:inline; margin:0 5px 0 0; }
#alFade .alFade-flag .alFade-on{ cursor:default; background:#f7c30e; border:1px solid #0b0b0b; color:#0b0b0b; }
























