.wap{width: 1000px;margin: 0 auto;}

.page-header{height: 80px;overflow: hidden;}
.page-header .logo{
	float: left;
	width: 180px;
	height: 50px;
	margin: 15px 13px;
	background: url(../images/appdown/sellapp_logo.png) no-repeat 0 0;
	text-indent: -999em;
}
.page-header .main-enter{
	float: right;
	width: 253px;
	height: 24px;
	margin: 30px 20px 26px 0;
	background: url(../images/appdown/enter-mainapp.png) no-repeat 0 0;
	text-indent: -999em;
}
.page-banner{height: 670px;	background: url(../images/appdown/repeat-bg.jpg) repeat-x left top;}
.page-banner .outer{background: url(../images/appdown/outer-bg.jpg) no-repeat center;}
.page-banner .inner{
	height: 670px;
	background: url(../images/appdown/inner-bg.jpg) no-repeat 0 0;
}
.page-banner .download{
	padding: 263px 0 28px 542px;
}
.page-banner .download .btn{
	display: inline-block;
	width: 209px;
	height: 60px;
	text-indent: -999em;
	cursor: pointer;
}
.page-banner .download .ios-btn{margin-right: 10px;}
.page-banner .qr-code{
	width: 223px;
	padding: 0 130px 0 647px;
	text-align: center
}
.page-banner .qr-code img{width: 163px;height: 163px;margin-bottom: 10px;}
.page-banner .qr-code p{color: #fff;font-size: 16px;font-family: "Microsoft Yahei";}
.layer{padding: 100px 0 156px;}
.layer .layer1{
	position: relative;
	height: 350px;
	background: url(../images/appdown/layer1-bg.png) no-repeat 0 0;;
}
.layer .layer1 .text{
	position: absolute;
	left: 39px;
	top: 172px;
	width: 415px;
	color: #959595;
	font-size: 18px;
	font-family: "Microsoft Yahei";
	line-height: 32px;
}
.layer .layer2{
	position: relative;
	height: 450px;
	background: url(../images/appdown/layer2-bg.png) no-repeat 0 0;;
}
.layer .layer2 .text{
	position: absolute;
	right: 39px;
	top: 202px;
	width: 450px;
	text-align: right;
	color: #959595;
	font-size: 18px;
	font-family: "Microsoft Yahei";
	line-height: 32px;
}
.layer .layer3{
	position: relative;
	height: 350px;
	background: url(../images/appdown/layer3-bg.png) no-repeat 0 0;;
}
.layer .layer3 .text{
	position: absolute;
	left: 39px;
	top: 216px;
	width: 432px;
	color: #959595;
	font-size: 18px;
	font-family: "Microsoft Yahei";
	line-height: 32px;
}