.text-center{
  text-align: center;
}
.mtb-9{
  margin: 9px 0;
}
.mtb-24{
  margin: 24px 0;
}
.mr10{
  margin-right: 10px;
}
.mb10{
  margin-bottom: 10px;
}
#banner { width: 100%; height: 450px; overflow: visible;}
#banner.sell_banner{background: url(../pics/car_sell_banner.jpg) no-repeat center top;}
#banner .inner { width: 1190px; margin: 0 auto; height: 450px; position: relative;}
#banner .banner_form { width: 470px; height: 383px; background: #fff; position: absolute; top: 33px; left: 0;}

.main_banner { width: 1190px; margin: 19px auto; text-align: center;}

#banner .banner_form .iform {
  font-family: "宋体";
}
#banner .banner_form .iform .form_title { width: 370px; border-bottom: 1px solid #e1e1e1; margin: 0 0 43px 50px; height: 55px; text-align: center; position: relative; color: #4f4f4f;}
#banner .banner_form .iform .form_title span { display: inline-block; font-size: 24px; font-family: Microsoft YaHei; background: #fff; position: absolute; left: 50%; bottom: -13px; width: 215px; text-align: center; margin-left: -107px;}
#banner .banner_form .iform em {
  float: left;
  width: 106px;
  text-align: right;
  line-height: 34px;
  color: #6C6C6C;
  font-size: 14px;
  padding-right: 14px;
}
#banner .banner_form .iform em span.hot { color: #d61c00; font-size: 14px; margin-right: 6px;}
#banner .banner_form .iform li {
  position: relative;
  clear: both;
  height: 46px;
}
#banner .banner_form .iform .vehicle {
  color: #6C6C6C;
  float: left;
  font-size: 12px;
  margin-right: 10px;
}
#banner .banner_form .iform .vehicle input {
  background: #ffffff url(../images/top_nav_icon.png) no-repeat 283px center;
  width: 268px;
  height: 24px;
  line-height: 24px;
  padding: 4px 20px 4px 10px;
  border: 1px solid #e1e1e1;
  color: #898989;
  outline: none;
}
#banner .banner_form .iform .vehicle .vehicle-outer {
  z-index: 5;
}
#banner .banner_form .iform .vehicle .vehicle-inner {
  position: absolute;
  width: 298px;
}

#banner .banner_form .iform .tip{
  width:288px;
}
#banner .banner_form .iform .list ul{
  width:260px;
}
#banner .banner_form .iform .vehicle .vehicle-inner li {
  height: auto;
  padding: 2px 1px;
}
#banner .banner_form .iform .vehicle li a{
  height: auto;
}
#banner .banner_form .iform .vehicle li a:hover {
  color: #fc5300;
}
#banner .banner_form .iform .vehicle .vehicle-inner li.vechicle-nav a {
  width: 250px;
}
#banner .banner_form .iform .vehicle .vehicle-inner ul.anchors li a {
  width: auto;
}
#banner .banner_form .iform .vehicle ul.anchors {
  width: 14px !important;
}
#banner .banner_form .iform .vehicle ul.anchors li {
  padding-top: 1px;
  padding-bottom: 1px;
}
#banner .banner_form .iform .vehicle .error-red {
  background: #ffeded url(../images/error_icon.png) no-repeat 283px center;
  color: #d61c00;
  border: 1px solid #d61c00;
}
#banner .inner .banner_form .iform .ui-field-fail input {
  background-color: #ffeded;
  color: #d61c00;
  border: 1px solid #d61c00;
}
#banner .banner_form .iform .select_input input {
  cursor: pointer;
}
#banner .banner_form .iform li.brand {
  z-index: 9;
}
#banner .banner_form .iform li.cars {
  z-index: 8;
}
#banner .banner_form .iform li.car {
  z-index: 7;
}
#banner .banner_form .iform li.sp {
  z-index: 6;
}
#banner .banner_form .iform li.city {
  z-index: 5;
}
#banner .banner_form .iform li.sp .vehicle input,
#banner .banner_form .iform li.city .vehicle input {
  width: 61px;
  cursor: pointer;
  background: #ffffff url(../images/top_nav_icon.png) no-repeat 78px center;
}
#banner .banner_form .iform li.sp .vehicle .error-red,
#banner .banner_form .iform li.city .vehicle .error-red {
  background: #ffeded url(../images/error_icon.png) no-repeat 103px center;
  color: #d61c00;
  border: 1px solid #d61c00;
}
#banner .banner_form .iform li.sp .right,
#banner .banner_form .iform li.city .right {
  float: right;
}
#banner .banner_form .iform li.sp .vehicle-outer,
#banner .banner_form .iform li.city .vehicle-outer {
  z-index: 4;
}
#banner .banner_form .iform li.sp .vehicle-inner,
#banner .banner_form .iform li.city .vehicle-inner {
  width: 118px;
  height: 210px;
  overflow-y: auto;
}
#banner .banner_form .iform .overflow {
  height: 200px;
}
#banner .banner_form .iform li.texts_box input, #banner .banner_form .iform li.car_num input {
  float: left;
  margin: 0 10px 0 0;
  padding: 4px 0 4px 10px;
  height: 24px;
  line-height: 24px;
  width: 288px;
  border: 1px solid #e1e1e1;
  color: #6C6C6C;
  outline: none;
}
#banner .banner_form .iform li.texts_box span, #banner .banner_form .iform li.car_num span {
  line-height: 34px;
  font-size: 14px;
}
#banner .banner_form .iform li.texts_box img, #banner .banner_form .iform li.car_num img {
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: middle;
  border: 0;
  cursor: pointer;
}
#banner .banner_form .iform li.texts_box a.code, #banner .banner_form .iform li.car_num a.code {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  margin: 0 0 0 10px;
  vertical-align: top;
  font-size: 12px;
  cursor: pointer;
}
#banner .banner_form .iform li.texts_box .error-red, #banner .banner_form .iform li.car_num .error-red {
  background: #ffeded;
  color: #d61c00;
  border: 1px solid #d61c00;
}
#banner .banner_form .iform li.texts_box span.error, #banner .banner_form .iform li.car_num span.error { float: left; display: none; width: auto; padding-right: 5px; background: #ffe7e7; border: 1px solid #e28e8e; color: #d00000; font-size: 12px; line-height: 24px; margin: 5px 0 0 120px; width: 293px;}
#banner .banner_form .iform li.texts_box span.error i, #banner .banner_form .iform li.car_num span.error i { background: url(../images/icons.png) no-repeat -370px -276px; display: inline-block; width: 14px; vertical-align: middle; height: 24px; line-height: 24px; margin: 0 5px;}
#banner .banner_form .iform li input.short { width: 108px;}
#banner .banner_form .iform li.submit { padding-top: 9px;}
#banner .banner_form .iform li.submit button, #banner .banner_form .success .submit_success {
  width: 300px;
  height: 33px;
  line-height: 32px;
  color: #fff;
  background: #fc5300;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  float: left;
  cursor: pointer;
  border: 1px solid #da4800;
}
#banner .banner_form .success .submit_success { display: inline-block;float:none;width: 143px;}
#banner .banner_form .success { text-align: center;}
#banner .banner_form .success p { padding: 36px 0 0 0; font-size: 14px; color: #898989; font-family: SimSun; margin-bottom: 20px;}
#banner .banner_form .success p i { display: block; width: 74px; height: 74px; background: url(../images/icons.png) no-repeat 0 -680px; margin: 0 auto 30px auto;}
#banner .banner_form .success p strong { font-family: Microsoft YaHei; font-size: 24px; color: #333; display: block; margin: 0 auto 6px auto; height: 24px;}
#banner .banner_form .success button { float: none;}
#banner .banner_form .success .btn-gray{margin-left: 10px;color: #333;background: #efefef;border: 1px solid #dfdfdf;}
#banner .banner_form .success .code { width: 300px; margin: 0 auto; padding: 25px 0 0 0;}
#banner .banner_form .success .code dt { float: left; display: inline; width: 180px; text-align: left; font-size: 14px; font-family: SimSun; margin: 0 20px 0 10px; color: #898989; padding: 5px 0 0 0;}
#banner .banner_form .success .code dd { float: right; display: inline; width: 80px; margin: 0 10px 0 0;}
#banner .banner_form .success .code dd img { display: block; width: 80px; height: 80px;}

#banner .banner_form_b { height: 402px; top: 24px;}
#banner .banner_form_b .iform .form_title { height: 39px;}
#banner .banner_form_b .iform .form_title { margin-bottom: 28px;}
#banner .banner_form_b .iform li.submit { padding-top: 0;}

.ui-field-fail .js_tel_tip{
  display: block;
}
#banner .banner_form .iform li.ui-field-fail span.error { display: inline-block;}
#banner .banner_form .iform li.cars .list, #banner .banner_form .iform li.car .list { overflow-x: hidden;}
#banner .banner_form .iform li.cars .list li, #banner .banner_form .iform li.car .list li { width: 297px;}
/*求购买车页banner*/
#banner.buy_banner{background: url(../pics/car_buy_banner.jpg) no-repeat center top}
/*其他人求购列表*/
.other-needs{
  position: relative;
  z-index: 5;
}
.other-needs .head{
  position: relative;
  margin-bottom: 10px;
  *z-index: 3;
}
.other-needs .head .text1{
  float: left;
  font-size: 18px;
  font-family: "Microsoft YaHei";
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.rows-control{
  position: absolute;
  right: 0;
  font-size: 14px;
  font-family: "SimSun";
  z-index: 1001;
}
/*选择显示数目*/
.rows-control .select{
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 58px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #cfcfcf;
  vertical-align: top;
  *vertical-align: middle;
}
.rows-control .select .current{
  position: relative;
  display: block;
  height: 22px;
  padding: 0 0 0 10px;   
  cursor: pointer;
}
.rows-control .select .current i{
  position: absolute;
  top: 0;
  right: 0;
  height: 22px;
  width: 18px;
  background: #fff url(../images/icons.png) no-repeat -74px 9px;
}
.rows-control .select .items{
  position:absolute;
  left:-1px;
  top:24px; 
  border: 1px solid #cfcfcf;
  background: #fff; 
}
.rows-control .select .items .title{
  padding: 0 0 0 10px; 
}
.rows-control .select .items .title span{
  display: block;
  height: 22px;
  overflow: hidden;
}
.rows-control .select .items .title i{
  position: absolute;
  top: 0;
  right: 0;
  height: 22px;
  width: 18px;
  background: #fff url(../images/icons.png) no-repeat -74px 9px;
} 
.rows-control .items ul{
  width: 58px;
}
.rows-control .items li{
  padding: 0 1px;
  height: 24px;
}
.rows-control .items li a{
  display: block;
  padding: 0 9px;
}
.rows-control .items li a:hover{
  background: #f1f1f1;
}
/*表格*/
.table-needs{
  width: 100%;
  margin-bottom: 15px;
  font-size: 14px;
  font-family: "SimSun";
} 
.table-needs tbody tr:nth-child(even),.table-needs tbody tr.even{
  background-color: #fafafa;
}
.table-needs th{
  padding: 7px 0;
  text-align: center;
  background: #f9f9f9;
  border: 1px solid #ebebeb;
}
.table-needs th .arrow-open{
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 20px;
  margin-left: 5px;
  vertical-align: middle;
  background: url(../images/icons.png) no-repeat -346px -865px;
}
.table-needs td{
  text-align: center;
  padding: 14px 0;
  border-bottom: 1px dashed #e9e9e9;
}
.table-needs td.td1{
  padding: 14px 15px;
  text-align: left;
}
.table-needs .btn-green{
  display: inline-block;
  width: 70px;
  border: none;
  color: #fff;
  font-size: 12px;
  background: #7fb110;
  text-align: center;
  border-radius: 2px;
}
.table-needs .btn-green:hover{
  background: #6b9213;
}
.table-needs .lessinfo{
  height: 72px;
  overflow: hidden;
}
.table-needs .lessinfo .arrow-btn{
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 20px;
  margin-left: 5px;
  vertical-align: middle;
  background: url(../images/icons.png) no-repeat -346px -865px;
  cursor: pointer;
}
.table-needs .moreinfo{
  height: auto;
}
.table-needs .moreinfo .arrow-btn{
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 20px;
  margin-left: 5px;
  vertical-align: middle;
  background: url(../images/icons.png) no-repeat -327px -865px;
  cursor: pointer;
}
.tooltips{
  position: absolute;
  margin-top: 15px;
  border: 1px solid #cfcfcf;
  background: #fff;
  box-shadow: 0 0 5px #cfcfcf;
  z-index: 1000;
}
.tooltips .arrow{
  position: absolute;
  top:-7px;
  left: 50%;
  width: 13px;
  height: 7px;
  margin-left: -6px;
  background: url(../images/icons.png) no-repeat -630px -610px;
}
.addr-pop{
  width: 195px;
  height: 377px;
  font-size: 14px;
  color: #898989;
  font-family: "SimSun";
}
.addr-pop .tip-body{
  padding: 16px 2px 16px 15px;
}
.addr-pop .all-province{
  float: left;
  width: 79px;
  margin-right: 20px;
}
.addr-pop .all-city{
  float: left;
  width: 79px;
}
.addr-pop .namelist li{
  margin-bottom: 10px;
}
.addr-pop .namelist li .tit{
  padding: 2px 5px;
}
.addr-pop .namelist li a{
  color: #898989;
  padding: 2px 5px;
}
.addr-pop .namelist li a.cur,.addr-pop .namelist li a:hover{
  color: #fff;
  background: #fc5300;
}
.addr-pop .jspDrag{
  left: -3px;
  background: #fc5300;
  border: none;
}
.addr-pop .scroll-pane{
  height: 345px;
  width: 79px;
  overflow-y: scroll;
}
/*买车登记表单*/
.buy-reg fieldset{
  margin: 24px 25px 0;
  border-top: 1px solid #e1e1e1;
  text-align: center;
}
.buy-reg fieldset legend{
  width: 192px;
  margin-left: 102px;
  padding: 0 10px;
  color: #4f4f4f;
  font-size: 24px;
  line-height: 30px;
  font-family: "Microsoft YaHei";
  background-color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.buy-reg .text{
  text-align: center;
  color: #898989;
  font-family: "SimSun";
}
.buy-reg .color-red{
  color: #f00;
}
.bottom-tips{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #4f4f4f;
  font-size: 12px;
  line-height: 40px;
  background: #fff1e1;
}
.bottom-tips .icon{
  display: inline-block;
  width: 10px;
  height: 24px;
  _margin: 8px 0;
  margin-right: 6px;
  background: url(../images/icons_gif.gif) no-repeat -140px -238px;
  vertical-align: middle;
  
}
.bottom-tips a{
  margin: 0 6px;
  color: #0090d8;
  font-weight: bold;
}
/*表单*/
.form_list{position: relative;z-index: 11;}
.form_list .form_item { margin: 0 0 12px 0; line-height: 34px; color: #898989; clear: both;font-size: 14px;font-family: "SimSun";}
.form_list .form_item label { display: inline-block; width: 80px; text-align: right; margin: 0 14px 0 0; float: left;}
.form_list .form_item .input1 { font-size: 12px; padding: 9px 9px 10px; border: 1px solid #e1e1e1; float: left; width: 330px;color: #898989;}
.form_list .form_item .input3{width: 180px;}
.form_list .form_item .pic { float: left; display: inline; margin: 2px 0 0 10px;}
.form_list .form_item .pic img { display: block; width: 75px; height: 35px;}
.form_list .form_item .change { float: left; display: inline; margin: 0 0 0 10px;font-size: 12px;}
.form_list .form_item .get { float: left; display: inline-block; margin: 0 0 0 10px; height: 38px; line-height: 38px; width: 118px; border: 1px solid #ffe2ac; background: #fff3dd; color: #f59f00; text-align: center; cursor: pointer;}
.form_list .btn_group { padding: 4px 0 0 94px;}
.form_list .btn_group button { height: 35px; border: 1px solid #da4800; background: #fc5300; text-align: center; color: #fff; width: 350px; font-size: 14px;font-weight: bold; cursor: pointer; vertical-align: middle; margin: 0 10px 0 0;}
.form_list .btn_group .btn-submit{width: 170px;}
.form_list .btn_group .btn-cancel{width: 170px;border: 1px solid #dfdfdf;background: #efefef;color: #333;}
.form_list .connector{float: left;width: 30px;text-align: center;}
.form_list .form_item .textarea1{float: left;width:320px;padding: 9px;font-size: 14px;font-family: Microsoft YaHei;border: 1px solid #e1e1e1;}
.form_list .form_item .xing{color: #f00;font-family: "SimSun";}
.form_list .budget{float: left;position: relative;}
.form_list .budget .input1{width: 140px;cursor: pointer;}
.form_list .budget .txt{position: absolute;right: 10px;top:0;font-size: 12px;}
.form_list .budget .select-list{position: absolute;top: 37px;left:0;width: 158px;border: 1px solid #e1e1e1;background: #fff;z-index: 100;}
.form_list .budget .select-list a{display: block;margin: 0 1px;line-height: 30px;}
.form_list .budget .select-list a .value{padding-left: 9px;}
.form_list .budget .select-list a:hover{color: #fc5300; background: #f1f1f1;}
.form_list .cars-module .module-hd{font-size: 12px;}
.linkman-reg .form_list .form_item{margin: 0 0 14px;position: relative;}
.carsmodule .selected .scroll-pane{width: 340px;height: 60px;overflow-y: scroll;}
.carsmodule .model-box .scroll-pane{width: 504px;height: 376px;overflow-y: scroll;}
.form_list .form_item .select-input{float: left; width: 140px;font-size: 12px; padding: 9px 19px 10px 9px; border: 1px solid #e1e1e1; color: #898989;cursor: pointer;background: url(../images/arrow-icons.png) no-repeat 150px 0;}
.form_list .form_item .select-input.open{background-position: 150px -24px;}
.linkman-reg .form_list .addr{z-index: 10;}
.linkman-reg .addr .addr-list{position: absolute;top: 37px;width: 168px;height: 240px;background: #fff;border: 1px solid #e1e1e1;z-index: 98;overflow-x: hidden;overflow-y: auto;}
.linkman-reg .addr .addr-list a{display: block;margin: 0 1px;line-height: 30px;padding-left: 9px;}
.linkman-reg .addr .addr-list a:hover{color: #fc5300; background: #f1f1f1;}
.form_list .form_item .error-red{background: #ffeded;border: 1px solid #d61c00;color: #d61c00;}
/*我有此车 弹窗*/
#set_info{padding: 15px 15px 0 15px;}
#set_info .input_box{margin-bottom: 10px;}
#set_info .input_box label{float: left;width: 64px;margin-right: 4px;line-height: 35px;text-align: right;}
#set_info .input_box .xing{color: #f00;font-family: "SimSun";}
#set_info .input_box .input1{width: 230px;}
#set_info .input_box .error-red{background: #ffeded;border: 1px solid #d61c00;color: #d61c00;}
#set_info .input_box .textarea1{padding: 8px;width: 230px;height: 70px;color: #999;}