#header_nav .fl span { float: left;}
#header_nav .fl span a { padding: 0 13px; border-left: 1px #d2d2d2 solid; border-right: 1px #f8f8f8 solid;}
#header_nav .fl .bor_r a { border-right: 1px solid #d2d2d2; margin-right: 15px;}

#ensure_banner { padding: 300px 0 0 0; height: 60px; background: url(../pics/ensure_banner.jpg) no-repeat center top;}

.main_box { background: url(../images/ensure_main_bg.gif) repeat-y center top; width: 100%;}
#main { width: 1190px; margin: 0 auto; position: static;}

#ensure_nav { height: 60px; margin: 0 auto; width: 1190px;}
#ensure_nav ul { padding: 7px 0 0 8px;}
#ensure_nav li { float: left; display: inline;}
#ensure_nav .home i { width: 14px; height: 45px; background: url(../images/ensure_gif.gif) no-repeat -210px 14px; display: inline-block; vertical-align: middle; margin: 0 4px 0 0;}
#ensure_nav .home .on i { background-position: -240px 14px;}
#ensure_nav li a { display: inline-block; width: 162px; height: 45px; line-height: 45px; padding: 0 0 8px 0; text-align: center; font-size: 16px;}
#ensure_nav li .on { color: #fff; background: url(../images/ensure_nav_bg.jpg) no-repeat;}
#ensure_nav li span { display: inline-block; width: 1px; height: 25px; background: #bed7d4; margin: 9px 3px 0 3px;}

.both_box { padding: 53px 0 44px 0;}
.both_box ul { background: url(../images/ensure_line.gif) repeat-y center top;}
.both_box li { float: left; display: inline; width: 377px; height: 203px; margin: 0 21px 0 20px; position: relative; padding: 0 0 0 175px; border: 1px solid #fff;}
.both_box .on { background: #f1feff; border: 1px solid #d1e8e5; cursor: pointer;}
.both_box li .pic { width: 141px; height: 141px; background: url(../images/ensure_gif.gif) no-repeat 0 -130px; position: absolute; top: 19px; left: 24px;}
.both_box li .pic_style1 { background-position: 0 -130px;}
.both_box li .pic_style2 { background-position: -160px -130px;}
.both_box li .pic_style3 { background-position: -320px -130px;}
.both_box li .pic_style4 { background-position: -480px -130px;}
.both_box li .pic_style5 { background-position: -640px -130px;}
.both_box li .pic_style6 { background-position: -800px -130px;}
.both_box .on .pic_style1 { background-position: 0 -290px;}
.both_box .on .pic_style2 { background-position: -160px -290px;}
.both_box .on .pic_style3 { background-position: -320px -290px;}
.both_box .on .pic_style4 { background-position: -480px -290px;}
.both_box .on .pic_style5 { background-position: -640px -290px;}
.both_box .on .pic_style6 { background-position: -800px -290px;}
.both_box li h4 { font-size: 24px; padding: 40px 0 0 0; margin: 0 0 10px 0;}
.both_box .last h4 { padding-top: 81px;}
.both_box li p { line-height: 24px; font-size: 14px; color: #979797; width: 334px; margin: 0 0 7px 0;}
.both_box li .see { display: inline-block; width: 85px; height: 25px; background: url(../images/icons.png) no-repeat -430px -830px; text-align: center; color: #171717; font-size: 12px; line-height: 25px;}
.both_box .on .see { background-position: -530px -830px; color: #fff;}

.footer_help { width: 1190px; text-align: center; background: #f7f7f7; padding: 35px 0; border-top: 1px solid #eaeaea; margin: 0 0 0 0; position: relative;}

.pur_flow { width: 30px; height: 100px; background: url(../images/ensure_gif.gif) no-repeat; position: absolute; top: -1px; left: -29px;}

.font_box { padding: 43px 43px 25px 43px; font-size: 14px; line-height: 30px; color: #2f2f2f;}
.font_box .des { border-bottom: 1px dotted #b9b9b9; padding: 0 0 24px 0; margin: 0 0 30px 0;}
.font_box .des h3 { font-size: 24px; height: 37px; line-height: 37px; font-weight: bold;}
.font_box .des h3 i { display: inline-block; width: 37px; height: 37px; background: url(../images/icons.png) no-repeat -150px -699px; vertical-align: middle; margin: 0 5px 0 0;}
.font_box .des h3 .i-ckb { background-position: -150px -699px;}
.font_box .des h3 .i-yan { background-position: -480px -980px;}
.font_box .des h3 i.i-true { background-position: -580px -980px;}
.font_box .des h3 .i-bao { background-position: -530px -980px;}
.font_box .des h3 .i-loan { background-position: -200px -700px;}
.font_box .part1 { margin: 0 0 22px 0;}
.font_box .part1 h4 { font-size: 24px; font-weight: bold; color: #42a118; margin: 0 0 5px 0;}
.font_box .part1 p { text-indent: 1em; background: url(../images/ensure_point.gif) no-repeat 1px 13px;}
.font_box .part1 .point_no { text-indent: 0; background: none;}
.font_box .part1 .note { color: #898989;}
.font_box .part1 .pic1 { display: block; padding: 11px 0 0 0;}
.font_box .part1 .pic2 { display: block; padding: 9px 0 23px 0;}
.font_box .part1 .pic3 { padding-top: 13px;}
.font_box .part1 .pic4 { padding-top: 13px; padding-bottom: 20px;}
.font_box .mar_b25 { margin-bottom: 25px;}
.font_box .mar_b37 { margin-bottom: 37px;}
.font_box .hot { color: #f60;}
.font_box strong.hot { font-weight: bold;}
.font_box .link { color: #3d93bf;}

.ensure_table1_box { margin: 19px 0 14px 0;}
.ensure_table1_title { width: 836px; height: 37px; line-height: 37px; background: #42a118; font-size: 18px; color: #fff; text-align: center; margin: 0 0 -1px 0; position: relative;}
.ensure_table1 { width: 836px; color: #000;}
.ensure_table1 td { border: 1px solid #dedede; text-align: center; line-height: 18px; padding: 5px 0; height: 25px;}
.ensure_table1 thead td { background: #f2f2f2;}
.ensure_table1 .ensure_table1_gray td { background: #fbfbfb;}

.ensure_table2_box { clear: both;}
.ensure_table2 { color: #000;}
.ensure_table2 td { border: 1px solid #dedede; text-align: center; line-height: 24px; padding: 21px 0; height: 25px;}
.ensure_table2 thead td { background: #f2f2f2; padding: 5px 0;}
.ensure_table2 .ensure_table2_gray td { background: #fbfbfb;}
.ensure_table2 .bank { width: auto; height: 62px;}
.ensure_table2 .link { display: inline-block; padding: 5px 0;}
.ensure_table2 .btn { width: 85px; height: 25px; background: url(../images/ensure_png.png) no-repeat 0 -50px; color: #fff; text-align: center; color: #fff; border: 0; cursor: pointer; font-family: Microsoft YaHei; font-size: 12px;}
.ensure_table2 .i-notes { display: inline-block; width: 15px; height: 24px; background: url(../images/ensure_png.png) no-repeat -120px 3px; vertical-align: middle; position: relative;}
.ensure_table2 .i-notes .i-arrow { display: none; width: 11px; height: 11px; background: url(../images/ensure_gif.gif) no-repeat -250px 0; position: absolute; top: 22px; left: 6px; z-index: 2;}
.ensure_table2 .i-active .i-arrow { display: inline-block;}
.ensure_table2 .i-notes dl { display: none; background: #f0f7ec; border: 1px solid #bfd5b5; width: 132px; position: absolute; top: 32px; left: 6px; font-size: 12px; text-align: left; line-height: 18px; z-index: 1; zoom: 1;padding: 0 0 11px 0;}
.ensure_table2 .i-active dl { display: block;}
.ensure_table2 .i-notes dt { margin: 0 0 0 17px; padding: 11px 0 0 0;}
.ensure_table2 .i-notes dd { margin: 0 0 0 17px;}

.ensure_table3_box { margin: 22px 0 14px 0;}
.ensure_table3_box td { border: 1px solid #dedede; text-align: center; line-height: 18px; padding: 7px 0; height: 25px;}
.ensure_table3_box td.gray1 { background: #f2f2f2;}
.ensure_table3_box td.gray2 { background: #fbfbfb;}

.ensure_table4_box { margin: 15px 0 21px 0;}
.ensure_table4 td { border: 1px solid #dedede; text-align: center; line-height: 18px; padding: 7px 0; height: 25px;}
.ensure_table4 thead td { background: #f2f2f2; padding: 5px 0;}
.ensure_table4 .ensure_table4_gray td { background: #fbfbfb;}
.ensure_table4_box .money { display: inline-block; width: 118px; height: 27px; line-height: 27px; background: #fff; border: 1px solid #e1e1e1; text-align: center;}

.ensure_table5_box { margin: 22px 0 14px 0;}
.ensure_table5_box td { border: 1px solid #dedede; text-align: center; line-height: 18px; padding: 7px 21px; height: 25px;}
.ensure_table5_box td.gray1 { background: #f2f2f2;}
.ensure_table5_box td.gray2 { background: #fbfbfb;}

.loan-project { font-size: 14px; font-family: Microsoft YaHei; line-height: 35px; margin: 0 0 35px 0; padding: 21px 0 0 0; color: #000;}
.loan-project .jet { float: left; display: inline; margin: 0 46px 0 0;}
.loan-project .jet label { float: left; display: inline; margin: 0 9px 0 0;}
.loan-project .jet .input_box { float: left; display: inline; position: relative; margin: 0 9px 0 0;}
.loan-project .jet span { float: left; display: inline;}
.loan-project .jet .input_box .arrow { display: inline-block; width: 7px; height: 4px; background: url(../images/ensure_gif.gif) no-repeat -280px 0; position: absolute; top: 50%; right: 17px; margin: -3px 0 0 0;}
.loan-project .jet .input_box .down { position: absolute; display: none;}
.loan-project .jet .active .down {display: block;}
.loan-project .jet .input_box .down { width: 118px; border: 1px solid #e1e1e1; position: absolute; top: 35px; left: 0; background: #fff; z-index: 3;height: 160px; overflow-y: scroll;}
.loan-project .jet .input_box .down li { line-height: 32px;}
.loan-project .jet .input_box .down li a { display: block; padding: 0 17px; color: #898989;}
.loan-project .jet .input_box .down li a:hover { background: #f1f1f1; color: #fc5300;}
.loan-project .btn { float: right; display: inline;}
.loan-project .btn button { width: 100px; height: 35px; line-height: 33px; text-align: center; color: #fff; background: url(../images/ensure_png.png) no-repeat; cursor: pointer; border: 0; font-family: Microsoft YaHei;}
.loan-project .input1 { border: 1px solid #e1e1e1; font-size: 14px; font-family: Microsoft YaHei; padding: 6px 17px 7px 17px; width: 84px; cursor: pointer;}
.loan-project .gray { color: #898989;}
.loan-project .hot { color: #f60;}
.loan-project strong.hot { font-weight: normal; margin: 0 2px 0 0;}

.mask { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #000; filter: Alpha(Opacity=70); opacity:0.7; z-index: 201;}

.ensure_loan_pop1 { width: 476px; height: 368px;}

.pop_box { z-index: 201; left: 50%; border: 0;}
.pop_box_title { font-size: 16px;}

.pop_box_content .loan_form { font-family: Microsoft YaHei; padding: 36px 0 0 0;}
.pop_box_content .loan_form label { display: inline; width: 103px; float: left; padding: 0 18px 0 0; text-align: right; line-height: 40px;}
.pop_box_content .loan_form .input_box { margin: 0 0 12px 0;}
.pop_box_content .loan_form .input1 { display: inline; float: left; padding: 11px; width: 296px; margin: 0 20px 0 0;}
.pop_box_content .loan_form .input_box .short { width: 126px;}
.pop_box_content .loan_form .input_box .error2 { border-color: #de0000; color: #f00;}
.pop_box_content .loan_form .input_box a.get { display: inline-block; width: 148px; height: 42px; line-height: 42px; text-align: center; background: #f7f7f7; border: 1px solid #e1e1e1; font-family: Microsoft YaHei;}
.pop_box_content .loan_form .btn { padding: 8px 0 0 121px;}
.pop_box_content .loan_form .btn button { width: 150px; height: 35px; background: #38a131; border: 1px solid #2b8b25; text-align: center; font-family: SimSun; font-size: 14px; font-weight: bold; color: #fff; margin: 0 20px 0 0; cursor: pointer;}
.pop_box_content .loan_form .btn button.cancel { background: #f7f7f7; border: 1px solid #e1e1e1; color: #494949;}

.pop_box_content .loan_form .loan_form_success { text-align: center; line-height: 33px; padding: 40px 0 0 0;}
.pop_box_content .loan_form .loan_form_success h3 { display: inline-block; font-size: 36px; font-weight: bold; font-family: Microsoft YaHei; line-height: 46px; color: #000; margin: 0 0 20px 0;}
.pop_box_content .loan_form .loan_form_success h3 i.i-success { display: inline-block; width: 50px; height: 46px; background: url(../images/ensure_png.png) no-repeat 0 -99px; vertical-align: middle; margin: 0 10px 0 0;}
.pop_box_content .loan_form .loan_form_success .p1 { margin: 0 0 14px 0;}
.pop_box_content .loan_form .loan_form_success strong { color: #000;}
.pop_box_content .loan_form .loan_form_success em { color: #989898;}
.pop_box_content .loan_form .loan_form_success .success_btn button { width: 148px; height: 35px; background: #f7f7f7; border: 1px solid #e1e1e1; cursor: pointer; font-family: SimSun; font-weight: bold; color: #494949; font-size: 14px;}
.pop_box_content .loan_form .float_box { float: left; display: inline; position: relative; margin: 0 20px 0 0;}
.pop_box_content .loan_form .float_box .i-arrow { display: inline-block; width: 7px; height: 4px; background: url(../images/ensure_gif.gif) no-repeat -280px 0; position: absolute; top: 50%; right: 17px; margin: -2px 0 0 0;}
.pop_box_content .loan_form .float_box .down { position: absolute; display: none;  height: 168px; overflow-y: scroll;}
.pop_box_content .loan_form .active .down {display: block;}
.pop_box_content .loan_form .float_box .input1 { margin: 0; cursor: pointer;}
.pop_box_content .loan_form .float_box .down { width: 148px; border: 1px solid #ededed; position: absolute; top: 44px; left: 0; background: #fff; z-index: 3;}
.pop_box_content .loan_form .float_box .down li { line-height: 42px;}
.pop_box_content .loan_form .float_box .down li a { display: block; padding: 0 11px; color: #898989;}
.pop_box_content .loan_form .float_box .down li a:hover { background: #f1f1f1; color: #fc5300;}

.loan_fixed_title { background: #fff; border-bottom: 2px solid #33a900; height: 71px; position: fixed; top: 0; left: 0; width: 100%; z-index: 202;}
.loan_fixed_title .outer { width: 1190px; margin: 0 auto;}
.loan_fixed_title .inner { padding: 0 43px;}
.loan_fixed_title .loan-project { width: 644px; float: right; display: inline;}
.car_info { width: 444px; float: left; display: inline; padding: 5px 0 0 0;}
.car_info .pic { float: left; display: inline;}
.car_info .pic img { width: 80px; height: 60px;}
.car_info .font { float: left; display: inline; margin: 0 0 0 9px; font-size: 14px; padding: 5px 0 0 0; color: #000;}
.car_info h4 { width: 303px; height: 24px; overflow: hidden;}
.car_info .font a { color: #000;}
.car_info strong.hot { font-weight: bold; color: #f60;}
.loan_fixed_title .loan-project strong.hot { font-weight: normal;}

.case_info { margin: 0 0 16px 0; padding: 4px 0 0 0;}
.case_info .loan-project { width: 660px; float: right; display: inline; margin: 0;}
.font_box .case_info h4 { font-size: 14px; font-weight: normal;}
.font_box .case_info p { background: none; text-indent: 0;}
.font_box .case_info .font { padding: 0 0 0 0;}

.font_box .loan_bread { color: #2f2f2f; margin: -10px 0 0 0; border-bottom: 1px dotted #b9b9b9; padding: 0 0 15px 0;}
.font_box .loan_bread a { color: #3d93bf;}
.font_box .detail_title { text-align: center; font-size: 32px; color: #2f2f2f; font-weight: bold; line-height: 96px; height: 96px; position: relative; margin: 0 0 11px 0;}
.font_box .detail_title a { position: absolute; top: 30px; right: 0; font-size: 14px; font-weight: normal; color: #fff; display: inline-block; background: url(../images/ensure_png.png) no-repeat; width: 100px; height: 35px; line-height: 35px;}
.font_box .loan_detail .part1 { margin: 0 0 29px 0;}
.font_box .loan_detail h4 { margin: 0 0 12px 0;}
.font_box .loan_detail .point_no strong { font-weight: bold;}
.font_box .tab_box { margin: 26px 0 0 0;}
.font_box .tab_title { height: 45px; background: url(../images/title_line2.gif) repeat-x left bottom; margin: 0 0 17px 0;}
.font_box .tab_title h2 { background: #f2f2f2; border: 1px solid #dedede; height: 43px; float: left; display: inline; margin: 0 -1px 0 0; width: 219px; text-align: center; line-height: 43px; font-weight: bold;}
.font_box .tab_title h2.on { background: #fff; border-bottom: 1px solid #fff;}
.font_box .tab_title h2 a { display: block; width: 100%; height: 100%; color: #333;}
.font_box .part1 .indent1 { background: none;}
.font_box .part1 .indent2 { background: none; text-indent: 3em;}
.font_box .part1 .indent3 { background: none; text-indent: 2em;}
.font_box .part1 .green_s_16 { color: #42a118; font-weight: bold; font-size: 16px;}
.font_box .main_btn { text-align: center; margin: -10px 0 10px 0;}
.font_box .main_btn .btn { display: inline-block; width: 220px; height: 51px; background: url(../images/ensure_png.png) no-repeat 0 -160px; line-height: 51px; color: #fff; text-align: center; font-size: 18px;}

.font_box .loan_des { background: #f9f9f9; border: 1px solid #f1f1f1; padding: 30px 30px 15px 30px; margin: 0 0 25px 0;}
.font_box .loan_des dl { padding: 0 0 15px 0;}
.font_box .loan_des dt { font-size: 18px; font-weight: bold;}
.font_box .dl1 { margin: 0 0 10px 0;}
.font_box .dl1 dt { font-size: 16px; font-weight: bold;}
.font_box .dl1 strong { font-weight: bold;}
.font_box .ps { background: #f9f9f9; border: 1px solid #f1f1f1; padding: 4px 19px; margin: 0 0 19px 0;}
.font_box .ps p { background: none; text-indent: 0;}