.haoche_zt_banner { height: 442px; background: url(../images/haoche_zt_banner.jpg) no-repeat center top; margin: 0 0 44px 0;}
.haoche_zt_main { width: 1190px; margin: 0 auto;}
.haoche_zt_main .super { margin: 0 0 64px 0;}
.haoche_zt_main .flow { margin: 0 0 51px 0;}
.haoche_zt_main .flow .title { margin: 0 0 37px 0;}

.title1 { border: 0; background: none; margin: 0 0 43px 0;}
.title1 .fr { height: 24px; line-height: 24px; margin-right: 0;}
.title1 h2 { border: 0;}
.title1 .fr .more a { padding-left: 28px; padding-right: 0; font-size: 16px; color: #131313; font-family: Microsoft YaHei;}
.title1 .fr .more i { left: 0; width: 21px; height: 21px; background: url(../images/haoche_png.png) no-repeat 0 0;}
.haoche_zt_main .car_list { margin: 0 0 25px 0;}
.car_list li { width: 225px; height: 297px; margin-right: 16px;}
.car_list li .pic { width: 225px; height: 167px;}
.car_list li .pic a { width: 225px; height: 167px; display: block; color: #131313;}
.car_list li .pic a img { width: 225px; height: 167px;}
.car_list li .pic a .code { position: absolute; right: 0; bottom: 0; width: 70px; height: 70px; display: inline-block;}
.car_list li .pic a .code img { width: 70px; height: 70px;}
.car_list li h4 { line-height: 24px; height: 48px; margin: 0 0 10px 0;}
.car_list li .price { height: 38px;}
.car_list li .price .l { height: 38px; font-size: 22px; color: #111; font-weight: bold;}
.car_list li .price .l strong { font-size: 38px; color: #d5221d;}