#main { margin-top: 0; position: relative; z-index: 5; clear: both;}
#main .row { margin-bottom: 0;}

#header_nav { background: #333; color: #bebebe;}
#header_nav .collect { color: #fff;}
.i-star { background-position: -320px -240px;}
#header_nav .fr .share { height: 16px; line-height: 16px; padding: 7px 0;}
#header_nav .fr .share label { display: inline-block; float: right;}
#header_nav .fr .bdsharebuttonbox { display: inline-block; float: right;}
#header_nav .fr .share a { display: inline-block; width: 16px; height: 16px; background: url(../images/share_icon.png) no-repeat; vertical-align: middle; margin: 0 0 0 6px;}
#header_nav .fr .share .i-share-qzone { background-position: 0 0;}
#header_nav .fr .share .i-share-sina { background-position: 0 -30px;}
#header_nav .fr .share .i-share-txwb { background-position: 0 -60px;}
#header_nav .fr .share .i-share-rr { background-position: 0 -90px;}
#header_nav .fr .share .i-share-wx { background-position: 0 -120px;}
#header_nav .fr .share .i-share-more { background-position: 0 -150px;}

.join-top .logo { padding: 20px 0; width: 290px; float: left; display: inline;}
.join-top .logo a { display: block; width: 280px; height: 50px; background: url(../images/logo.png) no-repeat;}
.join-top .notice { width: 900px; float: right; display: inline; padding: 20px 0; font-family: SimSun;}
.join-top .notice .inner { height: 46px; border: 1px solid #dcdcdc;}
.join-top .notice .inner .txt { float: left; display: inline; line-height: 46px; padding: 0 0 0 27px; font-size: 14px;}
.join-top .notice .inner .txt label { float: left; display: inline-block;}
.join-top .notice .inner .txt label i { display: inline-block; width: 28px; height: 25px; display: inline-block; background: url(../images/icons_gif.gif) no-repeat -380px -240px; vertical-align: middle; margin: 0 15px 0 0;}
.join-top .notice .inner .txt label em { vertical-align: middle; color: #d30000;}
.join-top .notice .inner .txt .scroll { float: left; display: inline; height: 46px; overflow: hidden;}
.join-top .notice .inner .txt .scroll .time { margin: 0 0 0 10px;}
.join-top .notice .inner .tel { float: right; display: inline-block; height: 24px; line-height: 24px; background: #c91a00; color: #fff; padding: 0 11px; margin: 10px 24px 0 0;}
.join-top .notice .inner .tel span { font-family: Arial;}

.join-sidebar { width: 270px; float: left; display: inline;}
.join-main { width: 900px; float: right; display: inline;}

.sidenav { background: #e21f00; font-size: 18px; padding: 19px 0; margin: 0 0 14px 0;}
.sidenav a { color: #fff; display: block; padding: 21px 0 21px 12px; height: 28px; line-height: 28px; margin: 0 0 0 15px;}
.sidenav a i { display: inline-block; width: 28px; height: 28px; background: url(../images/join_icon.png) no-repeat 0 0; vertical-align: middle; margin: 0 11px 0 0;}
.sidenav a span { vertical-align: middle;}
.sidenav .on { background: #fff; color: #000;}
.sidenav a .i-qj { background-position: 0 0;}
.sidenav a .i-xm { background-position: 0 -50px;}
.sidenav a .i-fx { background-position: 0 -100px;}
.sidenav a .i-jm { background-position: 0 -150px;}
.sidenav a .i-bz { background-position: 0 -200px;}
.sidenav a .i-al { background-position: 0 -250px;}
.sidenav a .i-zy { background-position: 0 -300px;}
.sidenav a .i-sq { background-position: 0 -350px;}

.sidenav .on .i-qj { background-position: -50px 0;}
.sidenav .on .i-xm { background-position: -50px -50px;}
.sidenav .on .i-fx { background-position: -50px -100px;}
.sidenav .on .i-jm { background-position: -50px -150px;}
.sidenav .on .i-bz { background-position: -50px -200px;}
.sidenav .on .i-al { background-position: -50px -250px;}
.sidenav .on .i-zy { background-position: -50px -300px;}
.sidenav .on .i-sq { background-position: -50px -350px;}

.hot-tel { height: 56px; line-height: 56px; background: #e21f00; color: #fff; padding: 0 0 0 11px; font-size: 18px; margin: 0 0 14px 0;}
.hot-tel .num { font-size: 25px; font-family: Arial;}

.sidebox { border: 1px solid #dfdfdf; margin: 0 0 19px 0;}
.sidebox-title { border-bottom: 1px solid #dfdfdf; line-height: 49px;}
.sidebox-title h3 { font-size: 18px; color: #d30000; margin: 0 0 0 11px;}
.sidebox-title .more { font-size: 12px; font-family: Simsun; color: #515151; float: right; display: inline; margin: 0 9px 0 0;}

.join-dyn .txt-list { padding: 13px 0;}
.join-dyn .txt-list li { background: url(../images/join_dyn_point.gif) no-repeat 10px center; padding: 0 0 0 22px; line-height: 24px;}
.join-dyn .txt-list li a { font-family: Simsun; color: #515151;}

.sidebox .form { font-family: SimSun; padding: 17px 0 10px 0;}
.sidebox .form-item { padding: 0 0 9px 0;}
.sidebox .form-item label { display: inline-block; float: left; width: 60px; height: 27px; line-height: 27px; text-align: right; color: #515151; cursor: text;}
.sidebox .form-item .must { color: #e21f00; margin: 0 6px 0 0;}
.sidebox .form-item .input-box, .sidebox .form-item .select-box, .sidebox .form-item .textarea-box { display: inline; float: left; width: 208px;}
.sidebox .form-item .input-box { position: relative;}
.sidebox .form-item .input-box .ini { display: inline-block; width: 180px; height: 27px; position: absolute; top: 0; left: 0; color: #a9a9a9; line-height: 27px; padding: 0 0 0 9px; cursor: text;}
.sidebox .form-item .input1 { width: 170px; padding: 5px 8px; border: 1px solid #ccc; color: #515151;}
.sidebox .form-item .select-box .s { display: inline; float: left; width: 88px; height: 25px; border: 1px solid #ccc; cursor: pointer; position: relative;}
.sidebox .form-item .select-box .pro { margin: 0 8px 0 0;}
.sidebox .form-item .select-box .s .ini { display: inline-block; width: 72px; height: 25px; line-height: 25px; color: #a9a9a9; padding: 0 8px;}
.sidebox .form-item .i-arrow { display: inline-block; width: 9px; height: 5px; background: url(../images/join_icon.png) no-repeat -100px 0; position: absolute; top: 50%; right: 7px; margin: -3px 0 0 0;}
.sidebox .form-item .select-box .s .down { width: 88px; height: 144px; border: 1px solid #ccc; overflow-y: scroll; position: absolute; top: 25px; left: -1px; background: #fff; display: none;}
.sidebox .form-item .select-box .s .click { display: block;}
.sidebox .form-item .select-box .s .down a { display: block; padding: 0 0 0 8px;}
.sidebox .form-item .select-box .s .down a:hover { background: #f1f1f1;}
.sidebox .form-item .textarea-box textarea { padding: 5px 8px; width: 170px; height: 58px; border: 1px solid #ccc;}
.sidebox .form-item .btn { padding: 0 0 0 60px;}
.sidebox .form-item .btn button { background: #1890f2; color: #fff; border: 0; display: inline-block; width: 81px; height: 31px; border: 1px solid #0090e6; cursor: pointer; font-size: 14px; font-weight: bold; text-align: center;}
.sidebox .form-item .btn .yellow { background: #ffa00a; color: #fff; border: 1px solid #eda34c; margin: 0 22px 0 0;}
.sidebox .form-item .btn .blue { background: #1890f2; color: #fff; border: 1px solid #0090e6;}

.join-banner { margin: 0 0 30px 0;}
.join-banner img { width: 897px; height: 418px; border: 1px solid #dcdcdc; display: block;}
.join-content { line-height: normal;}
.join-title { font-size: 36px; color: #000; text-align: center; font-family: Microsoft YaHei;}

/*市场前景*/
.join-content-qj .join-title { margin: 0 0 15px 0;}
.join-content-qj p { font-family: SimSun; font-size: 14px; line-height: 24px;}
.join-content-qj .p1 { line-height: 30px; color: #000; margin: 0 0 6px 0;}
.join-content-qj .p1 strong { font-weight: bold;}
.join-content-qj .p1 .hot1 { color: #d30000;}
.join-content-qj .trend { background: url(../pics/join_content_qj_img1.jpg) no-repeat; width: 899px; height: 307px; padding: 20px 0 0 0; margin: 35px 0 0 0;}
.join-content-qj .p2 { width: 347px; color: #fff; margin: 0 0 0 24px; text-indent: 2em;}
.join-content-qj .p2 .span1 { margin: 0 0 0 21px;}
.join-content-qj .p2 .hot2 { font-weight: bold; color: #f9d92b;}

/*二手车加盟项目*/
.join-content-xm .join-title { margin: 0 0 23px 0;}
.join-content-xm .hot1 { color: #d30000;}
.join-content-xm .p1 { font-size: 24px; color: #000; text-align: center; margin-bottom: 35px;}
.join-content-xm .img1 { display: block; margin: 0 0 28px 0;}
.join-content-xm .p2 { font-size: 33px; text-align: center; color: #000; padding: 13px 0 14px 0;}
.join-content-xm .p3 { font-size: 24px; text-align: center; color: #666; margin: 0 0 44px 0;}
.join-content-xm .img2 { display: block; margin: 0 auto 44px auto;}

/*二手车效益分析*/
.join-content-fx .hot1 { color: #d30000;}
.join-content-fx .p1 { font-size: 27px; text-align: center; margin: 0 0 7px 0;}
.join-content-fx .p2 { font-size: 24px; text-align: center; color: #666; margin: 0 0 9px 0;}
.join-content-fx .p3 { font-family: SimSun; font-size: 14px; font-weight: bold; line-height: 28px; text-align: center; color: #000; margin: 0 0 25px 0;}

/*加盟273*/
.join-content-jm .join-title { margin: 0 0 49px 0;}
.join-content-jm .img1 { margin: 0 0 56px 0;}
.join-content-jm .hot1 { font-weight: bold; color: #d30000;}
.join-content-jm h4 { font-size: 27px; text-align: center; color: #000; margin: 0 0 16px 0;}
.join-content-jm .o2o h5 { font-size: 18px; color: #c41230; margin: 0 0 4px 0;}
.join-content-jm .p1 { font-size: 14px; font-family: SimSun; line-height: 24px; color: #000;}
.join-content-jm .o2o .cer { width: 100%; height: 117px; position: relative; margin: 27px 0 57px 0;}
.join-content-jm .o2o .cer .scroll { margin: 0 0 0 10px;overflow: hidden;}
.join-content-jm .o2o .cer li { float: left; display: inline; margin: 0 4px 0 0;}
.join-content-jm .o2o .cer li img { width: 164px; height: 109px; border: 4px solid #a03121;}
.join-content-jm .o2o .cer .left, .join-content-jm .o2o .cer .right { display: inline-block; width: 36px; height: 36px; text-align: center; position: absolute; top: 50%; margin: -18px 0 0 0; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000); background-color:rgba(0,0,0,0.5);}
.join-content-jm .o2o .cer .left:hover, .join-content-jm .o2o .cer .right:hover { filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffae00, endColorstr=#ccffae00); background-color:rgba(255,174,0,0.8);}
.join-content-jm .o2o .cer .left { left: 0; z-index: 3;}
.join-content-jm .o2o .cer .right { right: 0; z-index: 3;}
.join-content-jm .o2o .cer .i-arrow { display: inline-block; width: 36px; height: 36px; background: url(../images/join_icon.png) no-repeat -138px 10px;}
.join-content-jm .o2o .cer .right .i-arrow { background-position: -185px 10px;}
.join-content-jm .service h4 { margin-bottom: 11px;}
.join-content-jm .service h5 { margin: 0 0 8px 0; clear: both;}
.join-content-jm .product {}
.join-content-jm .product li { float: left; display: inline; width: 426px; margin: 0 38px 50px 0; font-family: SimSun; font-size: 14px; line-height: 22px; color: #999; background: url(../pics/join_jm_line.gif) no-repeat right center; padding: 12px 0;}
.join-content-jm .product h6 { font-family: Microsoft YaHei; font-size: 24px; color: #414141; margin: 0 0 9px 0;}
.join-content-jm .product .last { margin-right: 0; background: none;}
.join-content-jm .product .img, .join-content-jm .product .txt { display: inline; float: left;}
.join-content-jm .product .img { margin: 0 19px 0 0;}
.join-content-jm .product .txt { width: 270px; padding: 5px 0 0 0;}
.join-content-jm .p2 { font-family: SimSun; font-size: 14px; line-height: 30px; color: #000; margin: 0 0 28px 0;}

.join-content-bz .join-title { margin: 0 0 20px 0;}
.join-content-bz h4 { font-size: 18px; color: #d30000; margin: 0 0 5px 0;}
.join-content-bz .p1 { font-family: SimSun; font-size: 14px; line-height: 24px; color: #000;}
.join-content-bz dt { font-size: 24px; color: #424242; font-family: Microsoft YaHei;}
.join-content-bz dd { font-family: SimSun; font-size: 14px; color: #999; line-height: 20px;}
.join-content-bz .service1 .p1 { margin: 0 0 32px 0;}
.join-content-bz .img-box1 { width: 256px; height: 260px; margin: 0 auto 49px auto; position: relative;}
.join-content-bz .img-box1 img { width: 256px; height: 260px; display: block;}
.join-content-bz .img-box1 dl { position: absolute; width: 224px;}
.join-content-bz .img-box1 dt { margin: 0 0 4px 0;}
.join-content-bz .img-box1 .dl1 { top: 10px; left: -232px; text-align: right;}
.join-content-bz .img-box1 .dl1 dt { padding: 0 10px 0 0;}
.join-content-bz .img-box1 .dl2 { top: 10px; left: 276px; text-align: left;}
.join-content-bz .img-box1 .dl3 { top: 169px; left: -232px; text-align: right;}
.join-content-bz .img-box1 .dl3 dt { padding: 0 10px 0 0;}
.join-content-bz .img-box1 .dl4 { top: 169px; left: 276px; text-align: left;}
.join-content-bz .service2 .p1 { margin: 0 0 37px 0;}
.join-content-bz .img-box2 { height: 315px; background: url(../pics/join_bz_img2.gif) no-repeat left top; padding: 8px 0 0 573px; margin: 0 0 0 32px;}
.join-content-bz .img-box2 dl { margin: 0 20px 18px 0;}
.join-content-bz .img-box2 dt { margin: 0 0 3px 0;}

.join-content-bz .service2 .des2_pic { width: 896px; clear: both; margin: 0 0 45px 0;}
.join-content-bz .service2 .des2_pic span.left, .join-content-bz .service2 .des2_pic span.right { float: left; display: inline; text-align: center;}
.join-content-bz .service2 .des2_pic span a { background: #7f7f7f; display: inline-block; width: 34px; height: 146px;}
.join-content-bz .service2 .des2_pic span .on { background: #faaf57;}
.join-content-bz .service2 .des2_pic span a i { display: inline-block; width: 11px; height: 21px; background: url(../images/join_bz_arrow.gif) no-repeat; margin: 65px 0 0 0;}
.join-content-bz .service2 .des2_pic .left a i { background-position: 0 0;}
.join-content-bz .service2 .des2_pic .right a i { background-position: -50px 0;}
.join-content-bz .service2 .des2_pic .left .on i { background-position: -100px 0;}
.join-content-bz .service2 .des2_pic .right a i { background-position: -150px 0;}
.join-content-bz .service2 .des2_pic .pic_box { width: 828px; height: 146px; float: left; display: inline; overflow: hidden; position: relative; z-index: 11;}
.join-content-bz .service2 .des2_pic .pic_box li { float: left; display: inline; width: 207px; height: 146px; position: relative; z-index: 10;}
.join-content-bz .service2 .des2_pic .pic_box li img { width: 207px; height: 146px;}
.join-content-bz .service2 .des2_pic .pic_box li i { background: #000; position: absolute; left: 0; bottom: 0; display: block; width: 100%; height: 34px; filter: Alpha(Opacity=50); opacity:0.5; z-index: 10;}
.join-content-bz .service2 .des2_pic .pic_box li i.current { background: #faaf57; filter: Alpha(Opacity=100); opacity:1;}
.join-content-bz .service2 .des2_pic .pic_box li span { position: absolute; left: 0; bottom: 0; display: block; width: 100%; height: 34px; z-index: 11; line-height: 34px; color: #fff; text-align: center; font-size: 14px; font-family: SimSun;}
.join-content-bz .service3 { clear: both; margin: 0 0 46px 0;}
.join-content-bz .img3 { display: block; width: 646px; height: 478px; margin: 0 auto;}
.join-content-bz .service3 .p1 { margin: 0 0 45px 0;}
.join-content-bz .service4 { margin: 0 0 37px 0;}

/*案例分享部分*/
.join-content-al .join-title { margin: 0 0 39px 0;}
.join-content-al .experience{padding-bottom:20px;width:899px;background:#fff url(../images/bg_experience2.gif) no-repeat bottom; font-family: SimSun; color: #000;}
.join-content-al .people{padding:13px 0 0 101px;width:798px;height:163px;background:url(../images/bg_experience.jpg) no-repeat top;position:relative; margin: 0 0 15px 0;}
.join-content-al .li_white{margin-right:50px;width:84px;float:left;border:3px solid #fff;}
.join-content-al .li_red{margin-right:50px;width:84px;float:left;border:3px solid #ac0b20;}
.join-content-al .txt_people01{position:absolute;    top:100px;  left:80px;}
.join-content-al .txt_people02{position:absolute;    top:100px;  left:220px;}
.join-content-al .txt_people03{position:absolute;    top:100px;  left:363px;}
.join-content-al .txt_people04{position:absolute;    top:100px;  left:503px;}
.join-content-al .txt_people05{position:absolute;    top:100px;  left:643px;}
.join-content-al .intro_people{padding:0 20px;font-size:14px;line-height:24px;}
.join-content-al h3{padding-left:27px;background:url(../images/icon_stranggle.gif) no-repeat left 3px;font-size:16px;font-weight:bold;}
.join-content-al .intro_people p img{margin:0 0 10px 10px;float:right;}

.join-content-zy .join-title { margin: 0 0 31px 0;}
.join-content-zy .part1 { margin: 0 0 51px 0;}
.join-content-zy h4 { font-size: 18px; color: #d30000; margin: 0 0 9px 0;}
.join-content-zy .p1 { font-size: 14px; font-family: SimSun; line-height: 24px; color: #000; margin: 0 0 31px 0;}
.join-content-zy .p1 strong { font-weight: bold;}
.join-content-zy .img1 { display: block; margin: 0 auto;}

.join-content-sq .join-title { margin: 0 0 35px 0;}
.join-sq-left { width: 538px; float: left; display: inline;}
.join-sq-right { width: 362px; float: left; display: inline;}

.join-content-sq h4 { font-size: 18px; color: #d30000; margin: 0 0 30px 0;}
.join-sq-form { font-family: SimSun; font-size: 14px; width: 538px; background: url(../pics/join_sq_line.gif) no-repeat right top;}
.join-sq-form .hot { display: inline-block; width: 6px; color: #f00; font-family: SimSun;}
.join-sq-form-item { margin: 0 0 11px 0; line-height: 33px; clear: both;}
.join-sq-form-item label { float: left; display: inline-block; width: 43px; color: #515151;}
.join-sq-form-item .input-box { float: left; display: inline;}
.join-sq-form-item .tips { float: left; display: inline; color: #999;}
.join-sq-form-item .input1 { padding: 8px; border: 1px solid #ccc; width: 291px; margin: 0 8px 0 0;}
.join-sq-form-item textarea { padding: 8px; border: 1px solid #ccc; width: 291px; height: 148px;}
.join-sq-right img { margin: 13px 0 0 24px;}
.join-sq-form-item .btn { padding: 0 0 0 43px;}
.join-sq-form-item .btn button { background: #1890f2; color: #fff; border: 0; display: inline-block; width: 149px; height: 37px; border: 0; cursor: pointer; font-size: 14px; font-weight: bold; text-align: center;}
.join-sq-form-item .btn .yellow { background: #ffa00a; color: #fff; margin: 0 11px 0 0;}
.join-sq-form-item .btn .blue { background: #1890f2; color: #fff;}

.join-faq-title { height: 44px; background: #437fcc; margin: 0 0 31px 0;}
.join-faq-title h2, .join-faq-title img { float: left; display: inline;}
.join-faq-title h2 { font-size: 18px; line-height: 44px; color: #fff; margin: 0 10px 0 18px;}
.join-faq-title .feedback { float: right; display: inline-block; width: 97px; height: 30px; background: url(../images/join_icon.png) no-repeat -250px 0; margin: 7px 11px 0 0;}
.join-faq-content { background: url(../images/join_faq_bg.gif) repeat-y;}
.join-faq-content .outer { background: url(../images/join_faq_bg_top.gif) no-repeat left top;}
.join-faq-content .inner { background: url(../images/join_faq_bg_bottom.gif) no-repeat left bottom;}
.join-faq-left { width: 881px; float: left; display: inline;}
.join-faq-left .faq dl { margin: 0 20px; border-bottom: 1px dashed #e2e2e2; padding: 42px 0 38px 0; position: relative;}
.join-faq-left .faq .last { border-bottom: 0; margin-bottom: 20px;}
.join-faq-left .faq dt { font-size: 20px; color: #2d64b3; margin: 0 0 18px 0;}
.join-faq-left .faq dd { font-family: SimSun; font-size: 16px; color: #818181; line-height: 26px; text-indent: -1.5em; margin: 0 0 0 27px;}
.join-faq-left .faq .txt-hide { height: 26px; overflow: hidden; width: 700px;}
.join-faq-left .faq .txt-more { position: absolute; top: 84px; right: 0;}
.join-faq-left .faq .txt-more a { color: #437ecb;}
.join-faq-right { width: 292px; float: right; display: inline; padding: 20px 0 0 0;}
.join-faq-right h3 { margin: 0 0 7px 17px; background: url(../images/join_faq_line.gif) no-repeat left bottom; font-family: SimSun; font-size: 14px; font-weight: bold; height: 32px; line-height: 32px; color: #000;}
.join-faq-right .faq-list li { font-family: SimSun; font-size: 14px; line-height: 32px; margin: 0 15px 0 18px; padding: 0 0 0 11px; background: url(../images/join_faq_icon.gif) no-repeat left 12px;}
.join-faq-right .faq-list li a { color: #437ecb;}

.pop_top { position: absolute; top: 247px; left: 0; z-index: 100;}
.pop_top .inner { width: 145px; height: 405px; position: relative; background: url("http://att.273.com.cn/ms/zs/pop_top_bg.png") no-repeat;}
.pop_top .inner a { display: block;}
.pop_top .inner a.message { width: 112px; height: 40px; position: absolute; top: 223px; left: 18px;}
.pop_top .inner a.faq { width: 112px; height: 40px; position: absolute; top: 269px; left: 18px;}
.pop_top .inner a.top { width: 89px; height: 56px; position: absolute; top: 339px; left: 30px;}