.f14{font-size: 14px;}
.pl-5{padding-left: 5px;}
.color-red{color: #f00;}
/*账户中心*/
#main { margin: 0;}
#main .row { margin-top: 0; margin-bottom: 0;}
#member_bread { height: 35px; color: #999; font-family: SimSun; padding: 16px 0 0 4px; border-bottom: 1px solid #ececec;}
#member_bread a { color: #999;}
#member_body { background: url(../images/member_left_bg.gif) repeat-y; margin: 0 0 20px 0; position: relative;}
#member_body #bt_line { width: 200px; height: 1px; background: #e4e6e9; position: absolute; left: 0; bottom: 0; overflow: hidden;}
#member_left { width: 200px; float: left; display: inline; padding: 15px 0 35px 0;}
#member_right { width: 960px; float: right; display: inline;}

#member_left .sub_nav { border-top: 1px solid #e3e6e9; font-size: 14px;}
#member_left .sub_nav dt { padding: 16px 0 0 15px; border-left: 1px solid #e3e6e9; border-bottom: 1px solid #e3e6e9; line-height: 43px; height: 43px; color: #898989;}
#member_left .sub_nav dd { border-bottom: 1px solid #e3e6e9; width: 200px; height: 43px; position: relative;}
#member_left .sub_nav dd a { display: block; height: 43px; line-height: 43px; padding: 0 0 0 15px; border-left: 1px solid #e3e6e9; color: #323232;}
#member_left .sub_nav dd a:hover { background: #e2e8ed;}
#member_left .sub_nav dd a.current { background: #fff; border-right: 1px solid #fff; font-weight: bold;}
#member_left .sub_nav dd span.arrow { display: inline-block; width: 8px; height: 13px; background: url(../images/icons.png) no-repeat -180px -870px; position: absolute; top: 50%; right: 20px; margin: -7px 0 0 0; cursor: pointer;}
#member_left .sub_nav dd span.amount { display: inline-block; height: 16px; line-height: 16px; padding: 0 4px; background: #fc5300; color: #fff; position: absolute; top: 50%; right: 35px; margin: -8px 0 0 0; cursor: pointer;}

#member_right .right_title { height: 43px; line-height: 43px; font-size: 16px; font-weight: bold; padding: 18px 0 0 1px; border-bottom: 2px solid #808080; color: #323232; position: relative;}
#member_right .right_title h3 { display: inline; font-weight: bold; width: auto;}
#member_right .right_title .assist { font-size: 14px; font-weight: normal;}
#member_right .right_title .assist label { color: #898989;}
#member_right .right_title a { color: #0090d8; font-size: 14px; font-weight: normal; position: absolute; top: 21px; right: 3px;}

#member_right .right_content { background: #fafafa; border: 1px solid #e5e5e5; border-top: 0; color: #333;}
#member_right .info_show { border-bottom: 1px solid #e5e5e5; position: relative; padding: 23px 0;}
#member_right .sub_title { position: absolute; top: 32px; left: 36px; font-size: 20px; height: 30px; line-height: 30px;}
#member_right .sub_title i { display: inline-block; width: 28px; height: 28px; background: url(../images/icons.png) no-repeat -140px -830px; margin: 0 9px 0 0; vertical-align: middle;}
#member_right .sub_title .i_mid { background-position: -180px -830px;}
#member_right .sub_title .i_word { background-position: -220px -830px;}
#member_right .sub_title .i_phone { background-position: -260px -830px;}
#member_right .sub_title .i_mail { background-position: -300px -830px;}
#member_right .sub_title .i_car{background-position: -400px -870px;}
#member_right .sub_title .i_person{background-position: -460px -870px;}
#member_right .r_link { position: absolute; top: 37px; right: 31px; font-size: 14px; color: #0090d8;}
#member_right .r_btn { position: absolute; top: 29px; right: 31px; display: block; width: 118px; height: 38px; line-height: 38px; text-align: center; font-size: 16px; background: #fc5300; border: 1px solid #da4800; color: #fff; font-weight: bold;}
#member_right .sub_content { border-left: 1px solid #e1e1e1; margin: 0 0 0 187px; height: 52px; font-size: 14px; line-height: 52px; padding: 0 0 0 32px;}
#member_right .imp { color: #fc5300; margin: 0 20px 0 0;}
#member_right .safe_grade { display: inline-block; width: 130px; height: 52px; background: url(../images/icons_gif.gif) no-repeat 0 -89px; vertical-align: middle; margin: 0 7px;}
#member_right .high { background-position: 0 -89px;}
#member_right .mid { background-position: 0 -129px;}
#member_right .low { background-position: 0 -169px;}

#member_right .bor_b0 { border-bottom: 0;}
#member_right .basic_info_content { padding: 15px 0;}
#member_right .basic_info_content dl { line-height: 45px; font-size: 14px; padding: 0 0 0 36px;}
#member_right .basic_info_content dt { float: left; display: inline; margin: 0 10px 0 0; color: #898989;}
#member_right .basic_info_content dd { float: left; display: inline;}

.form_list { padding: 73px 0 30px 127px; font-size: 14px;}
.form_list .form_item { margin: 0 0 25px 0; line-height: 40px; color: #898989; clear: both;}
.form_list .form_item label { display: inline-block; width: 105px; text-align: right; margin: 0 11px 0 0; float: left;}
.form_list .form_item .input1 { font-size: 14px; padding: 9px; border: 1px solid #e1e1e1; font-family: Microsoft YaHei; float: left; width: 320px;}
.form_list .form_item .input1_short { width: 190px;}
.form_list .form_item .tips1 { float: left; display: inline; margin: 0 0 0 10px; height: 40px; line-height: 40px; overflow: hidden;}
.form_list .form_item .tips2 { clear: both; padding: 3px 0 0 117px; margin: 0 0 -21px 0; position: relative;}
.form_list .form_item .tips3 { float: left; display: inline;}
.form_list .form_item .pic { float: left; display: inline; margin: 2px 0 0 10px;}
.form_list .form_item .pic img { display: block; width: 75px; height: 35px;}
.form_list .form_item .change { float: left; display: inline; margin: 0 0 0 10px; color: #898989;}
.form_list .form_item .get { float: left; display: inline-block; margin: 0 0 0 10px; height: 38px; line-height: 38px; width: 118px; border: 1px solid #ffe2ac; background: #fff3dd; color: #f59f00; text-align: center; cursor: pointer;}
.form_list .form_item i{display: inline-block; width: 18px; height: 18px; height: 40px; vertical-align: middle; margin: 0 8px 0 0;}
.form_list .form_item i.error { background: url(../images/icons.png) no-repeat -30px -860px;}
.form_list .form_item i.right { background: url(../images/icons.png) no-repeat 0 -860px;}
.form_list .btn { padding: 0 0 0 116px;}
.form_list .btn button { height: 40px; border: 1px solid #da4800; background: #fc5300; text-align: center; color: #fff; width: 340px; font-size: 18px; font-family: Microsoft YaHei; cursor: pointer; vertical-align: middle; margin: 0 10px 0 0;}
.form_list .safe_grade { height: 40px; margin: 0 10px 0 0;}
.form_list .high { background-position: 0 -95px;}
.form_list .mid { background-position: 0 -135px;}
.form_list .low { background-position: 0 -175px;}
.form_list .tips_success { display: inline-block; height: 38px; line-height: 38px; text-align: center; background: #faffe6; border: 1px solid #86d3b9; color: #009c67; vertical-align: middle; margin: 0 10px 0 0; padding: 0 13px;}
.form_list .tips_defeated { display: inline-block; height: 38px; line-height: 38px; text-align: center; background: #ffdddd; border: 1px solid #ef8e8e; color: #df0000; vertical-align: middle; margin: 0 10px 0 0; padding: 0 13px;}
#member_right .basic_info_content .form_list { padding: 48px 0 39px 127px;}
.form_list .radio { display: inline; height: 40px; margin: 0 25px 0 5px;}
.form_list .radio i { display: inline-block; width: 13px; height: 40px; background: url(../images/icons.png) no-repeat -380px -768px; vertical-align: middle; margin: 0 10px 0 0;}
.form_list .radio .choose { background-position: -420px -768px;}
.form_list .select { width: 158px; height: 38px; background: #fff; border: 1px solid #e1e1e1; display: inline-block; position: relative; float: left; margin: 0 10px 0 0; cursor: pointer;}
.form_list .select .input1 { border: 0; width: 115px; color: #898989; cursor: pointer; margin: 0;}
.form_list .select .arrow { display: inline-block; width: 7px; height: 4px; background: url(../images/icons.png) no-repeat -80px 0; position: absolute; top: 50%; right: 13px; margin: -2px 0 0 0;}
.form_list .select .down { width: 158px; height: 210px; background: #fff; border: 1px solid #e1e1e1; position: absolute; top: 41px; left: -1px; z-index: 100; overflow-y: scroll; line-height: 35px;}
.form_list .select .down li { height: 35px;}
.form_list .select .down li a { display: block; padding: 0 0 0 9px; color: #898989; height: 35px;}
.form_list .select .down li a:hover { color: #fc5300; background: #f1f1f1;}
.form_list .sended { float: left; display: inline-block; height: 38px; line-height: 38px; text-align: center; width: 118px; background: #f7f7f7; border: 1px solid #eaeaea; color: #bcbcbc; margin: 0 0 0 10px;}
.form_list .connector{float: left;width: 40px;text-align: center;}
.form_list .form_item .textarea1{float: left;width:320px;padding: 9px;font-size: 14px;font-family: Microsoft YaHei;border: 1px solid #e1e1e1;}
.form_list .form_item .xing{color: #f00;font-family: "SimSun";}

#mask { width: 100%; height: 100%; background: #000; filter: Alpha(Opacity=50); opacity:0.5; position: absolute; top: 0; left: 0; z-index: 200;}

.success_tips { color: #898989; font-family: Microsoft YaHei; font-size: 14px;}
.success_tips .hot { color: #fc5300;}
.success_tips a { color: #0090d8;}
.success_tips .result { font-size: 24px; font-weight: bold; height: 50px; line-height: 50px; overflow: hidden; color: #333; margin-left: 0;}
.success_tips .result i { display: inline-block; width: 28px; height: 50px; background: url(../images/icons.png) no-repeat -90px -820px; vertical-align: middle; margin: 0 8px 0 0;}
.success_tips p { margin-left: 0;}
.success_tips .tips { width: 497px; margin: 0 0 21px 0;}
.success_tips .btn { margin: 0 0 16px 0;}
.success_tips .btn a { height: 40px; border: 1px solid #da4800; background: #fc5300; text-align: center; color: #fff; width: 340px; font-size: 18px; font-family: Microsoft YaHei; cursor: pointer; display: inline-block; line-height: 40px;}
.success_tips .dl1 dt { font-size: 18px;}
.success_tips .tag { display: inline; height: 26px; background: #faffe6; border: 1px solid #86d3b9; color: #009c67; padding: 0 19px; font-style: normal; line-height: 26px;}

#member_right .third_tab_title { height: 40px; background: url(../images/title_line.gif) repeat-x left bottom; font-size: 16px; margin: 0 0 31px 0;}
#member_right .third_tab_title h2 { background: #f6f6f6; border: 1px solid #ececec; height: 38px; float: left; display: inline; margin: 0 -1px 0 0; width: 138px; text-align: center; line-height: 38px; font-weight: bold;}
#member_right .third_tab_title h2.on { background: #fff; border-top: 2px solid #fc5300; border-bottom: 1px solid #fff; height: 37px; line-height: 37px;}
#member_right .third_tab_title h2 a { display: block; width: 100%; height: 100%; color: #333;}
#member_right .third_tab_title .btn { display: inline-block; width: 110px; height: 30px; line-height: 30px; font-size: 16px; color: #fff; text-align: center; background: #13c41c; border: 1px solid #06b00e; float: right;}

#binding_verify { top: 50%; left: 50%; z-index: 203; width: 600px; margin: -202px 0 0 -300px; font-size: 14px; font-family: SimSun;}
#binding_verify .pop_box_content { height: 318px; padding: 38px 0 0 63px;}
.pop_box_content .success_tips .tips { width: 497px; margin: 0 0 21px 0;}
.pop_box_content .success_tips p { margin-left: 0; color: #898989;}
.pop_box_content .success_tips .result { color: #333;}

#mail_verify_success { padding: 133px 0 0 290px;}
#needsinfo_submit_success{padding: 106px 0 545px 322px}

.member_table_style1 { width: 100%; font-size: 14px; border-collapse: inherit; background: #ececec; border-spacing: 1px; border-spacing: expression(this.cellSpacing=1); margin: 0 0 16px 0;}
.member_table_style1 thead td { background: #f6f6f6;}
.member_table_style1 td { text-align: center; padding: 7px 0; position: relative; background: #fff;}
.member_table_style1 tbody td { font-size: 12px;}
.member_table_style1 .oper a { margin: 0 11px;}
.member_table_style1 .gray_bg td { background: #fafafa;}
.member_table_style1 td .note { position: absolute; top: 0; left: 0; display: inline; width: 7px; height: 7px; background: url(../images/icons.png) no-repeat -210px -870px;}

#member_right .pad_t22 { padding-top: 22px;}

#footer { position: static;}
/*编辑求购信息*/
.edit_model{position: relative; padding: 23px 0;}
.needbuy_info .form_list{padding-left: 17px;}
.needbuy_info .form_list .mb_0{margin-bottom: 0;}
.needbuy_info .form_list .form_item .input1{width: 400px;}
.needbuy_info .form_list .form_item .input3{width: 260px;}
.needbuy_info .form_list .form_item .textarea1{width: 400px;}
.needbuy_info .form_list .error-red{background: #ffeded;border: 1px solid #d61c00;color: #d61c00;}
.needbuy_info .form_list .btn button{width: 420px;}
.needbuy_info .form_list .budget{float: left;position: relative;}
.needbuy_info .form_list .budget .input1{width: 170px;cursor: pointer;}
.needbuy_info .form_list .budget .txt{position: absolute;right: 10px;top:0;}
.needbuy_info .budget .select-list{position: absolute;top: 40px;left:0;width: 188px;border: 1px solid #e1e1e1;background: #fff;z-index: 100;}
.needbuy_info .budget .select-list a{display: block;margin: 0 1px;line-height: 30px;}
.needbuy_info .budget .select-list a .value{padding-left: 9px;}
.needbuy_info .budget .select-list a:hover{background: #f1f1f1;color: #fc5300;}
.needbuy_info .cars-module{width: 418px;}
.needbuy_info .cars-module .model-box{width: 824px;height: 435px;}
.needbuy_info .cars-module .model-box .box-inner{height: 427px;}
.needbuy_info .cars-module .brand .brand-list{margin-right: 5px;}
.needbuy_info .carsmodule .selected .scroll-pane{width: 408px;height: 60px;overflow-y: scroll;}
.needbuy_info .carsmodule .model-box .scroll-pane{width: 387px;height: 376px;overflow-y: scroll;}

.no-info{margin: 110px 0;text-align: center;;}
.no-info .txt{height: 40px;line-height: 40px;font-size: 20px}
.no-info .icon{display: inline-block;width: 28px;height: 40px;margin: 0 10px 0;background: url(../images/icons.png) no-repeat -180px -826px;vertical-align: middle;}
.no-info .link{color: #0090d8;margin: 0 5px;}