.cars-module{
	position: relative;
	float: left;
	width: 348px;
	height: 105px;
	border: 1px solid #e1e1e1;
	background: #fff;
	z-index: 10001;
	color: #898989;
}
.cars-module .module-hd{
	padding-left: 10px;
	height: 33px;
	line-height: 33px;
	cursor: pointer;
}
.cars-module .jspDrag{
  left: -3px;
  background: #fc5300;
  border: none;
}
.scroll-pane{
	outline: none;
}
.cars-module .selected{
    height: 71px;
    padding: 8px 0 0 8px;
    border-top: 1px solid #e1e1e1;
}
.cars-module .selected .carsname-list{
	line-height: 25px;
}
.cars-module .selected .carsname-list a{
	position: relative;
    float: left;
    margin: 0 5px 5px 0;
    padding: 0 25px 0 10px;
    height: 25px;
    color: #898989;
    font-size: 14px;
    line-height: 25px;
    background: #eee;
    vertical-align: top;
    white-space: nowrap;
}
.cars-module .selected .carsname-list a .close{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background: url(../images/icons.png) no-repeat -538px -608px;
}
.cars-module .selected .carsname-list a:hover .close{
	background-color: #a2a2a2;
	background-position: -568px -608px; 
}
.cars-module .model-box{
	position: absolute;
	top: 105px;
	left: -1px;
	width: 1094px;
	height: 427px;
	border: 1px solid #ffb18a;
	background: #fff;
	font-size: 14px;
}
.cars-module .model-box .b-close{
	position: absolute;
	top: -1px;
	right: -1px;
	width: 17px;
	height: 17px;
	border: 1px solid #ffb18a;
	background: #fff url(../images/icons.png) no-repeat -278px -868px;
}
.cars-module .model-box .box-inner{
	border: 4px solid #ffddcd;
	height: 419px;
}
.cars-module .model-box .brand{
	position: relative;
	float: left;
}
.cars-module .model-box .cars{
	position: relative;
	float: left;
}
.cars-module .brand .brand-nav{
	position: absolute;
	left: 4px;
	margin-top: 18px;
}
.cars-module .brand .brand-nav a{
	display: block;
	width: 16px;
	height: 16px;
	margin-bottom: 2px;
	line-height: 16px;
	color: #898989;
	text-align: center;
}
.cars-module .brand .brand-nav a:hover{
	color: #fff;
	background: #fc5300;
}
.cars-module .brand .brand-list{
	margin: 0 34px 0 32px;
}
.cars-module .model-box .text{
	padding: 7px 0;
	line-height: 24px;
	text-align: left;
}
.cars-module .model-box .list ul{
   margin-right:10px;
}
.cars-module .model-box .list li{
	float: left;
	width: 115px;
	height: 18px;
	margin-bottom: 14px;
	padding-left: 7px;
	line-height: 18px;
	overflow: hidden;
}
.cars-module .model-box .list li a{
	display: inline-block;
	height: 18px;
	padding: 0 5px;
	line-height: 18px;
}
.cars-module .model-box .list li a:hover,
.cars-module .model-box .list li a.on{
	color: #fff;
	background: #fc5300;
}
.cars-module .model-box .list .block{
	width: 100%;
	height: 25px;
	padding-left: 0;
	line-height: 25px;
	background: #f4f4f4;
	margin-bottom: 16px;
}
.cars-module .model-box .list .block span{
	padding-left: 12px;
}