#header_nav .fl ul { float: left; display: inline;}
#header_nav .fl li { float: left; display: inline;}
#header_nav .fl li a { padding: 0 15px;}
#header_nav .fl li span { color: #d2d2d2;}
#header_nav .fl span.tel { float: left; display: inline; margin: 0 0 0 15px;}

#header .logo a { background-image: url(../images/logo_link.png); width: 309px;}
#header .stores-head-tel { font-size: 14px; text-align: center; margin: 17px 13px 0 0; font-family: Microsoft YaHei;}
#header .stores-head-tel strong { font-size: 24px; font-family: Arial; display: block; color: #fc5300; font-weight: bold;}
#header .search { margin: 25px 0 0 110px;}

.stores-choose-box .vehicle { color: #6c6c6c; float: left; font-size: 12px; margin-right: 16px; position: relative;}
.stores-choose-box .vehicle input { background: #ffffff url(../images/top_nav_icon.png) no-repeat 155px center; width: 140px; height: 24px; line-height: 24px; padding: 7px 20px 7px 18px; border: 1px solid #dcdcdc; color: #898989; outline: none; cursor: pointer; font-family: Microsoft YaHei;}
.stores-choose-box .vehicle input.long { width: 210px; background-position: 225px center;}
.stores-choose-box .vehicle .error-red { background: #ffeded url(../images/error_icon.png) no-repeat 103px center; color: #d61c00; border: 1px solid #d61c00;}
.stores-choose-box .submit { display: inline-block;}
.stores-choose-box .submit button { width: 100px; color: #fff; background: #fc5300; font-size: 14px; cursor: pointer; border: 1px solid #e24a00; padding: 9px 0; padding: 10px 0\9; line-height: normal; font-family: Microsoft YaHei;}
.stores-choose-box .vehicle .vehicle-outer { position: absolute; top: 41px; left: 0;}
.stores-choose-box .vehicle ul { width: 178px; height: 228px; background: #fff; border: 1px solid #e1e1e1; z-index: 98; overflow-x: hidden; overflow-y: auto;}
.stores-choose-box .vehicle ul.long { width: 248px;}
.stores-choose-box .vehicle ul a { display: block; line-height: 38px; padding-left: 18px; font-size: 14px; text-align: left;}
.stores-choose-box .vehicle ul a:hover { color: #fc5300; background: #f1f1f1;}

.stores-banner { background: url(../images/banner_stores.jpg) no-repeat center top; height: 500px; margin: 0 0 29px 0; text-align: center; color: #fff; font-size: 14px; font-family: Microsoft YaHei;}
.stores-banner h2 { font-size: 32px; line-height: normal; padding: 87px 0 0 0; margin: 0 0 32px 0;}
.stores-banner .stores-choose-box { margin: 0 0 29px 0;}
.stores-banner .stores-choose-box .vehicle { float: none; display: inline-block;}
.stores-banner .stores-choose-box .vehicle input { color: #333; font-size: 14px; border-color: #fff;}
.stores-banner .statis { margin: 0 0 22px 0;}
.stores-banner .statis .hot { color: #ffea00;}
.stores-banner .view-all { width: 176px; height: 36px; border: 2px solid #f0f0f0; margin: 0 auto 70px auto; position: relative;}
.stores-banner .view-all span { display: inline-block; width: 176px; height: 36px; background: #000; position: absolute; top: 0; left: 0; filter: Alpha(Opacity=10); opacity:0.1; z-index: 1;}
.stores-banner .view-all a { color: #fff; display: inline-block; width: 176px; height: 36px; position: absolute; top: 0; left: 0; z-index: 2; line-height: 36px;}
.stores-banner .view-all i { display: inline-block; width: 15px; height: 36px; line-height: 36px; background: url(../images/arrow-icons2.png) no-repeat left center; vertical-align: middle; margin: 0 0 0 9px;}
.stores-banner .search-box { background: #fff; display: inline-block;}
.stores-banner .search-box input { padding: 11px 20px; width: 156px; font-size: 14px; font-family: Microsoft YaHei; border: 0; border-right: 1px solid #e5e5e5; display: inline-block; vertical-align: middle; color: #333;}
.stores-banner .search-box button { width: 50px; height: 40px; background: url(../images/glass.png) no-repeat center center; border: 0; cursor: pointer; display: inline-block; vertical-align: middle; line-height: normal;}

.news-box { font-family: Microsoft YaHei;}
.news-box .tit { margin: 0 0 13px 0;}
.news-box h3 { float: left; display: inline; font-size: 24px;}
.news-box .more { float: right; display: inline-block; position: relative; padding: 0 21px 0 0; font-size: 14px;}
.news-box .more i { display: inline-block; width: 15px; height: 15px; background: url(../images/icons.png) no-repeat -100px -60px; position: absolute; top: 5px; right: 0;}
.news-box .news-list { clear: both; font-size: 14px;}
.news-box .news-list li { height: 40px; line-height: 40px;}
.news-box .news-list li .tag { color: #999;}
.news-box .news-list li .ver { color: #e5e5e5; margin: 0 9px;}
.news-box .news-list li .txt { display: inline-block; overflow: hidden; vertical-align: middle;}
.news-box .news-list li .date { float: right; display: inline; color: #999; font-size: 12px;}

#newest-pra, #dynamics { padding-bottom: 10px;}
#newest-pra { float: left; display: inline; width: 840px; padding: 0 0 0 8px;}
#dynamics { float: left; display: inline; width: 342px;}

#newest-pra .more { margin-right: 68px;}
#newest-pra li { float: left; display: inline; width: 354px; margin: 0 62px 0 0;}
#newest-pra li .txt { width: 210px;}
#dynamics .more { margin-right: 11px;}

.stores-bg { background: url(../pics/stores_bg.jpg) no-repeat center top; margin: 0 0 43px 0;}
.stores-bread { width: 1200px; margin: 0 auto; height: 70px; line-height: 70px; font-size: 14px; color: #fff; font-family: Microsoft YaHei;}
.stores-bread label { margin: 0 5px 0 0;}
.stores-bread a { color: #fff; margin: 0 5px;}
.stores-area-con { background: #fff; width: 1170px; margin: 0 auto; padding: 0 15px; color: #333; font-family: Microsoft YaHei;}
.stores-area-con .stores-choose-box { padding: 26px 0 26px 15px; font-size: 16px; border-bottom: 1px solid #ededed;}
.stores-area-con .stores-choose-box label { margin: 0 23px 0 0; font-size: 16px; color: #333;}
.stores-area-con .stores-choose-box input { font-size: 14px; color: #333;}
.stores-area-con .statis { float: right; height: 40px; line-height: 40px; display: inline; margin: 0 16px 0 0;}
.stores-area-con .hot { color: #fc5300;}
.stores-area-con .statis .hot { margin: 0 0 0 9px;}

.choose-province { line-height: 40px; padding: 15px 0 15px 15px; margin: 0 0 3px 0;}
.choose-province .tit { font-size: 16px; color: #333;}
.province-list { font-size: 14px;}
.province-list li { float: left; display: inline; width: 115px;}
.province-list li a { color: #333;}
.province-list li a em { color: #999;}
.province-list li a:hover { color: #fc5300;}

.province-box { border: 1px solid #ededed; border-bottom: 0; width: 100%; clear: both; margin: 0 0 20px 0;}
.province-box td { border-bottom: 1px solid #ededed;}
.province-box thead td { height: 48px; line-height: 48px; background: #f7f7f7; padding: 0 0 0 13px; font-size: 16px;}
.province-box thead td .letter { margin: 0 19px 0 0;}
.province-box tbody td { line-height: 40px; font-size: 14px; padding: 11px 0;}
.province-box .city { text-align: center; width: 8%;}
.province-box .city span { display: inline-block; padding: 0 9px; background: #e8e8e8; line-height: 26px; border-radius: 4px;}
.province-box .stores .p1 { margin: 0 12px 0 0;}
.province-box .stores a, .province-box .stores span { margin: 0 12px 0 0;}
.province-box .stores span { color: #ddd;}

.man-search { font-size: 14px; padding: 30px 0 26px 0; border-bottom: 1px solid #ededed;}
.man-search .result { float: left; display: inline; height: 40px; line-height: 40px; margin: 0 0 0 15px;}
.man-search .result label { margin: 0 8px 0 0;}
.man-search .result .hot { margin: 0 5px;}
.man-search .search-box { float: right; display: inline; margin: 0 12px 0 0;}
.man-search .search-box .input1 { color: #333; padding: 9px 18px; font-size: 14px; font-family: Microsoft YaHei; border: 1px solid #dcdcdc; width: 212px; margin: 0 20px 0 0;}
.man-search .search-box button { width: 100px; color: #fff; background: #fc5300; font-size: 14px; cursor: pointer; border: 1px solid #e24a00; padding: 9px 0; line-height: normal; font-family: Microsoft YaHei;}

.man-list { clear: both; width: 100%; margin: 0 0 20px 0;}
.man-list td { padding: 20px 0; border-bottom: 1px solid #ededed; font-size: 14px; font-family: Microsoft YaHei;}
.man-list .img { width: 11%;}
.man-list .img img { width: 83px; height: 110px; margin: 0 0 0 22px;}
.man-list .info { width: 26%; line-height: 28px;}
.man-list .info .name { margin: 0 7px 0 0;}
.man-list .info i { font-size: 12px; display: inline-block; background: #7d7d7d; color: #fff; padding: 0 6px; border-radius: 4px; line-height: 1.5;}
.man-list .info .blue { background: #38b2ff;}
.man-list .info label { color: #999; margin: 0 5px 0 0;}
.man-list .info strong { font-weight: bold;}
.man-list .stores { width: 29%; text-align: center;}
.man-list .btn { width: 34%; text-align: right;}
.man-list .btn span { margin: 0 11px 0 0;}
.man-list .btn a { display: inline-block; line-height: 24px; background: #fff; border: 1px solid #dcdcdc; border-radius: 4px; margin: 0 11px 0 0; width: 98px; text-align: center;}
.man-list .btn a:hover { background: #fc5300; border: 1px solid #e24a00; color: #fff;}

.stores-area-con .no-result { text-align: center;}
.stores-area-con .no-result p { display: inline-block; background: url(../images/icon_no_man.png) no-repeat left center; padding: 3px 0 3px 73px; font-size: 16px; color: #999; text-align: left; margin: 221px 0;}
.stores-area-con .no-result p strong { display: block; font-size: 24px; color: #333; margin: 0 0 4px 0;}