.chd-head-logo { float: left; display: inline; margin: 0 0 0 21px;}
.chd-head-tel { float: right; display: inline; font-size: 12px; font-family: SimSun; color: #000; text-align: right; padding: 21px 18px 0 0;}
.chd-head-tel dt i { display: inline-block; width: 28px; height: 28px; background: url(../images/zt_chd_icon.png) no-repeat; vertical-align: middle; margin: 0 11px 0 0;}
.chd-head-tel dt strong { font-family: Arial; font-size: 28px; vertical-align: middle;}
.chd-head-tel dd { color: #646464;}

.chd-banner { background: url(../pics/banner_zt_chd.jpg) no-repeat center top; height: 559px;}

.chd-part1 { background: url(../pics/chd_part1_bg.gif) no-repeat center top; padding: 156px 0 0 0; height: 428px;}
.chd-part1 .form { width: 530px; float: left; display: inline; margin: 0 0 0 98px; padding: 27px 0 0 0;}
.chd-part1 .form-item label { display: inline-block; width: 82px; text-align: center; font-family: Microsoft YaHei; font-size: 16px; padding: 26px 0 0 0; float: left;}
.chd-part1 .form-item .input-box { float: left; display: inline; width: 448px; height: 50px; background: url(../pics/chd_form_bg1.gif) no-repeat right bottom;}
.chd-part1 .form-item .drag { float: left; display: inline; width: 448px; height: 110px; background: url(../pics/chd_form_bg2.gif) no-repeat 27px 72px; position: relative;}
.chd-part1 .form-item .drag .bar-orange, .chd-part1 .form-item .drag .bar-blue { display: inline-block; width: 369px; height: 4px; position: absolute; top: 49px; left: 39px;}
.chd-part1 .form-item .drag .bar-orange { background: #f49a00; z-index: 1;}
.chd-part1 .form-item .drag .bar-blue { background: #28a7e2; z-index: 2;}
.chd-part1 .form-item .drag .add, .chd-part1 .form-item .drag .minus { display: inline-block; width: 18px; height: 18px; background: url(../images/zt_chd_icon.png) no-repeat; position: absolute; top: 41px;}
.chd-part1 .form-item .drag .add { background-position: 0 -50px; left: 0;}
.chd-part1 .form-item .drag .minus { background-position: -50px -50px; right: 0;}
.chd-part1 .form-item .drag .current { display: inline-block; width: 34px; height: 34px; background: url(../images/zt_chd_icon.png) no-repeat -100px -50px; position: absolute; top: 30px; left: 156px; color: #fff; text-align: center; line-height: 34px; font-family: Arial; font-size: 18px; z-index: 3;}
.chd-part1 .form-item .btn { float: left; display: inline; width: 422px; padding: 51px 0 0 0; text-align: center;}
.chd-part1 .form-item .btn button { width: 185px; height: 39px; background: url(../images/zt_chd_icon.png) no-repeat 0 -200px; border: 0; cursor: pointer;}
.chd-part1 .form-item .input1 { width: 395px; text-align: center; font-family: Arial, Microsoft YaHei; font-size: 26px; color: #6a7075; padding: 17px 0 0 0; border: 0;outline:none;}
.chd-part1 .data { width: 488px; float: right; display: inline;}
.chd-part1 .data .img { width: 318px; height: 318px; background: url(../pics/chd_data_bg.gif) no-repeat; margin: 0 0 12px 37px;}
.chd-part1 .data .img .repay-month { height: 99px; text-align: center; padding: 57px 0 0 0;}
.chd-part1 .data .img .repay-month span { display: block; font-family: SimSun; font-size: 16px; font-weight: bold; color: #adafaf; margin: 0 0 15px 0;}
.chd-part1 .data .img .repay-month strong { display: block; font-family: SimSun; font-size: 36px; color: #ff7f00;}
.chd-part1 .data .img .repay-month strong em { font-family: Arial;}
.chd-part1 .data .img .repay-sum { height: 147px; padding: 15px 0 0 0;}
.chd-part1 .data .img .repay-sum ul { margin: 0 0 0 90px;}
.chd-part1 .data .img .repay-sum li { line-height: 31px; font-family: SimSun; font-size: 12px;}
.chd-part1 .data .img .repay-sum li label { font-weight: bold; color: #adafaf; vertical-align: middle;}
.chd-part1 .data .img .repay-sum li strong { font-size: 14px; color: #475887; font-weight: bold; vertical-align: middle; font-family: Arial, SimSun;}
.chd-part1 .data .txt { font-family: SimSun; font-size: 14px; color: #f00; line-height: 30px;}
.chd-part1 .data .txt dt { float: left; display: inline; font-weight: bold; width: 76px;}
.chd-part1 .data .txt dd { float: left; display: inline; width: 310px;}
.chd-part2 { background: url(../pics/chd_part2_bg.gif) no-repeat center top; height: 580px;}
.chd-part3 { background: url(../pics/chd_part3_bg.gif) no-repeat center top; height: 578px;}
.chd-part4 { background: url(../pics/chd_part4_bg.gif) no-repeat center top; height: 280px; padding: 151px 0 0 0;}
.chd-part4 .bank-list li { float: left; display: inline; margin: 0 37px 44px 0;}
.chd-part4 .bank-list .last { margin-right: 0;}
.chd-part4 .bank-list li img { display: block; width: 267px; height: 83px; border: 1px solid #d7d7d7;}
#chd-main .chd-part5 { background: url(../pics/chd_part5_bg.gif) no-repeat center top; height: 147px; text-align: center; padding: 187px 0 0 0;}
#chd-main .chd-part5 .tel i { display: inline-block; width: 55px; height: 55px; background: url(../images/zt_chd_icon.png) no-repeat 0 -100px; vertical-align: middle; margin: 0 21px 0 0;}
#chd-main .chd-part5 .tel strong { font-family: Arial; font-size: 72px; color: #44454a; vertical-align: middle;}

#chd-foot { background: #424449; color: #9aa1a8; font-size: 14px; font-family: Arial, SimSun; padding: 0 0 18px 0;}
#chd-foot .foot-nav { border-bottom: 1px solid #4c5054; height: 56px; line-height: 56px; padding: 9px 0 0 0; margin: 0 0 17px 0;}
#chd-foot .foot-nav a { color: #9aa1a8;}
#chd-foot .foot-nav span { margin: 0 16px;}
#chd-foot .foot-logo { margin: 0 0 16px 0;}
#chd-foot .fl p { color: #71787d; font-size: 12px;}
#chd-foot .fr li { line-height: 25px;}
#chd-foot .fr .li1 { font-size: 16px; margin: 0 0 3px 0;}
#chd-foot .fr li em { font-size: 12px;}
#chd-foot .fr li label { display: inline-block; width: 133px; font-family: Arial; font-size: 18px; vertical-align: middle;}