<!-- Content Header (Page header) -->
<section class="content-header" >
    <h1>
        {{ $state.current.page.title }}
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li ui-sref-active="active"><a href="#" ui-sref="mbs-index-home"><i class="fa fa-dashboard"></i>首页</a>
        </li>
        <li class="active">  {{ $state.current.page.title }} </li>
    </ol>
</section>
<!-- Main content -->
<section class="content slide" >
    <div class="box"  >
        <div class="box-header " senior-table="reportDeptDetail">

            <div class="form form-inline form-alignment">
                <div class="form-group modv2-formg ">
                    <label class="form-label">开始时间</label>
                            <span class="input-group datepicker modv2-sel-warap modv2-sel-warap" datepicker-click="startOpened">
                             <input type="hidden"  ng-model="searchCondition.start_date"/>
                             <input placeholder="日/月" type="datetime"  name="start_date"  required ng-model="start_date" sync="searchCondition.start_date"
                                    class="form-control" datepicker-popup="yyyy-MM-dd"  is-open="startOpened"
                                    datepicker-options="dateOptions"  ng-required="true"   current-text="今天" clear-text="清空" close-text="关闭"  readonly />
                                </span>
                </div>
                <div class="form-group modv2-formg ">
                    <label class="form-label">结束时间</label>
                      <span class="input-group datepicker modv2-sel-warap" datepicker-click="endOpened">
                             <input type="hidden"  ng-model="searchCondition.end_date"/>
                             <input placeholder="日/月" type="datetime"  name="end_date"  required ng-model="end_date" sync="searchCondition.end_date"
                                    class="form-control" datepicker-popup="yyyy-MM-dd"  is-open="endOpened"
                                    datepicker-options="dateOptions"  ng-required="true"  min-date="start_date" current-text="今天" clear-text="清空" close-text="关闭"  readonly />

                        </span>
                </div>
                <div class="form-group modv2-formg">
                    <label class="form-label" >摘要</label>
                    <select class="form-control input-control" name="status"  ng-model="searchCondition.source_type"   select-source-type="" >
                        <option value="">请选择</option>
                    </select>
                </div>

                <div class="form-group">
                   <button class="btn btn-default" ng-click="searchInfo()"><i class="fa fa-search"></i> 搜索</button>
                </div>

        </div><!-- /.box-header -->
            <div class="box-body no-padding">
            <table class="table table-hover" >
                <tbody>
                <tr>
                    <th >交易日期</th>
					<th >系统日期</th>
                    <th >刷卡通道</th>
                    <th >收款银行</th>
                    <th class="text-right">摘要</th>
                    <th class="text-right">订单号</th>
                    <th class="text-right">期初余额</th>
                    <th class="text-right">收入</th>
                    <th class="text-right">支出</th>
                    <th class="text-right">余额</th>
                </tr>
                <tr ng-repeat="item in list" class="list-animation">
                    <td class="text-center" >
                        {{ item.trans_time }}
                    </td>
					<td class="text-center" >
                        {{ item.add_time }}
                    </td>
                    <td class="text-center" >
                        {{ item.source_type == 2 ? item.bank : ''}}
                    </td>
                    <td class="text-center" >
                        {{ item.source_type != 2 ? item.bank : '' }}
                    </td>
                    <td class="text-center" >
                        {{ item.source_type_name }}
                    </td>
                    <td class="text-center" >
                        {{ item.order_no }}
                    </td>
                    <td class="text-center" >
                        {{ item.sumFee }}
                    </td>
                    <td class="text-center" >
                        {{ item.infee | price }}
                    </td>
                    <td class="text-center" >
                        {{ item.outfee | price }}
                    </td>
                    <td class="text-center">
                        {{ item.pre_fee }}
                    </td>
                </tr>
                <tr class="modv2-num">
                    <td class="text-center">合计</td>
                    <td colspan="6"></td>
                    <td class="text-center">{{ item.fee1_total | price }} </td>
                    <td class="text-center">{{ item.fee2_total | price }} </td>
                    <td class="text-center"> </td>
                </tr>
                </tbody>
            </table>

        </div><!-- /.box-body -->
        </div>
    </div>
</section>
<!-- /.content -->
