@charset "utf-8";
.profession-earth, .profession-personal, .profession-money, .profession-soft, .profession-design, .profession-technology, .profession-sale {
    display: inline-block;
    vertical-align: middle
}

.profession-earth, .profession-personal, .profession-money, .profession-soft, .profession-design, .profession-technology, .profession-sale {
    background: url('../images/icons/profession-icon-40x40.png') no-repeat 0 0;
    vertical-align: middle;
    display: inline-block;
    height: 40px;
    width: 40px;
    padding: 0
}

.profession-earth {
    background-position: 0 0
}

.profession-personal {
    background-position: -40px 0
}

.profession-money {
    background-position: -80px 0
}

.profession-soft {
    background-position: -120px 0
}

.profession-design {
    background-position: -160px 0
}

.profession-technology {
    background-position: -200px 0
}

.profession-sale {
    background-position: -240px 0
}

.career-layout {
    *zoom: 1
}

.career-layout:before, .career-layout:after {
    display: table;
    content: "";
    line-height: 0
}

.career-layout:after {
    clear: both
}

.career-layout .paper-inner {
    background: #fff;
    margin: 0
}

.career-layout .btns button {
    margin-left: 10px
}

.career-layout .main {
    padding: 20px
}

.career-layout .main-title {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: "microsoft yahei"
}

.career-layout .form label {
    display: inline-block;
    width: 60px
}

.career-layout .form .text, .career-layout .form .combo {
    width: 140px;
    margin-left: 0
}

.career-layout .form .area {
    width: 70px;
    margin-right: 5px
}

.career-layout .form .zip {
    width: 124px
}

.career-layout .form .school {
    width: 316px
}

.career-layout .form .address {
    width: 386px
}

.career-layout .form .month, .career-layout .form .day {
    width: 30px;
    margin-right: 5px
}

.career-layout .form .year {
    width: 46px
}

.career-layout .form button {
    margin-right: 10px
}

.career-layout .form .tips-result {
    width: 200px
}

.career-layout .form .normal {
    width: 200px
}

.career-layout .line {
    border-top: 1px solid #cce6f5;
    display: inline-block;
    margin: 0 10px 10px;
    vertical-align: middle;
    width: 352px
}

.career-layout .resume-btn {
    text-align: center;
    margin: 20px auto;
    display: block;
}

.career-layout .resume-btn .new-blue-btn {
    padding: 0;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px
}

.career-layout .side-mod .hd {
    border-bottom: 1px solid #cce6f5;
    margin-bottom: 20px
}

.career-layout .side-mod .hd span {
    font-size: 18px;
    color: #1992b1;
    font-weight: normal;
    display: inline-block;
    border-bottom: 1px solid #1992b1;
    margin-bottom: -1px;
    padding: 5px
}

.career-layout .pagination-bordered {
    margin-right: 10px
}

.career-layout .right-side {
    padding: 0
}

.career-layout .right-side .equal {
    padding-left: 0;
    padding-right: 0;
    border-left: 1px solid #cce6f5
}

.career-layout .right-side .tips-result {
    width: auto;
    margin: 10px;
    display: block
}

.career-layout .side-category {
    font-family: '宋体';
    margin: 20px 0;
    font-size: 12px
}

.career-layout .side-category a {
    display: inline-block;
    color: #666;
    margin: 5px
}

.career-layout .side-category a:hover {
    color: #1992b1
}

.career-layout .side-category .title {
    background: #bfe4ed;
    display: inline-block;
    padding: 5px 10px;
    margin: 10px 0;
    font-size: 14px
}

.career-layout .side-category .cate a {
    width: 130px
}

.career-layout .side-mod {
    margin: 0 10px
}

.career-category {
    *zoom: 1
}

.career-category:before, .career-category:after {
    display: table;
    content: "";
    line-height: 0
}

.career-category:after {
    clear: both
}

.career-category li {
    background: url('../images/career_item_box.png') no-repeat 0 0;
    background-position: 0 -94px;
    padding: 20px;
    width: 260px;
    height: 54px;
    float: left;
    margin: 10px 6px 0 0;
    text-align: left
}

.career-category li:hover a, .career-category li:hover em {
    color: #e65c17
}

.career-category li:hover .profession-earth {
    background-position: 0 -40px
}

.career-category li:hover .profession-personal {
    background-position: -40px -40px
}

.career-category li:hover .profession-money {
    background-position: -80px -40px
}

.career-category li:hover .profession-soft {
    background-position: -120px -40px
}

.career-category li:hover .profession-design {
    background-position: -160px -40px
}

.career-category li:hover .profession-technology {
    background-position: -200px -40px
}

.career-category li:hover .profession-sale {
    background-position: -240px -40px
}

.career-category .selected {
    background-position: 0 0
}

.career-list {
    *zoom: 1;
    font-family: '宋体'
}

.career-list:before, .career-list:after {
    display: table;
    content: "";
    line-height: 0
}

.career-list:after {
    clear: both
}

.career-list ul {
    float: left;
    margin: 10px 10px 10px 0;
    width: 320px
}

.career-list li {
    line-height: 30px
}

.career-list em {
    color: #999;
    margin-right: 10px
}

.career-list a {
    color: #333;
    width: 250px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.career-list a:hover {
    color: #1992b1
}

.career-item {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 11px;
    color: #1992b1;
    font-family: arial
}

.career-item i {
    margin-right: 5px
}

.career-item:hover {
    text-decoration: none
}

.career-item em {
    color: #4c4c4c;
    font-size: 15px;
    font-family: "microsoft yahei";
    text-indent: 0
}

.career-main {
    padding: 20px
}

.career-main .hd {
    *zoom: 1
}

.career-main .hd:before, .career-main .hd:after {
    display: table;
    content: "";
    line-height: 0
}

.career-main .hd:after {
    clear: both
}

.career-main .hd h3 {
    color: #1992b1;
    float: left;
    font-size: 22px
}

.career-main .hd .input-search {
    float: right
}

.career-main .bd {
    padding: 10px 0
}

.career-upload {
    text-align: center
}

.career-upload .upload-img {
    border: 1px solid #ddd;
    background: url('../images/defaults/110-100.png') no-repeat center;
    width: 139px;
    height: 158px;
    margin-bottom: 10px
}

.work-exp {
    line-height: 30px
}

.personal-intro {
    font-size: 12px
}

.personal-intro .textarea, .personal-intro .upload, .personal-intro .summary {
    margin-bottom: 10px
}

.personal-intro em {
    color: red
}

.personal-intro .upload .btn {
    margin-left: 10px;
    padding: 2px 5px;
    border-radius: 4px;
    color: #666;
    background: url(../images/btns/gray-gradient.gif) repeat-x;
    border: 1px solid #ddd
}

.personal-intro .tips-result {
    margin-left: 0
}

.personal-intro .textarea {
    width: 100%;
    max-width: 100%;
    height: 70px
}

.accordion {
    width: 300px;
    margin-left: -1px
}

.accordion .icon {
    margin-right: 10px
}

.accordion li {
    background: #eef7fe;
    padding: 10px 20px;
    border: 1px solid #cce6f5;
    border-top: 1px solid #fff
}

.accordion li, .accordion li a {
    color: #333
}

.accordion .selected, .accordion .selected a {
    color: #0085c5
}