.personal-layout .input-search {
    width: 205px;
    margin: 10px 0
}

.personal-layout .layout-side .title:first-child {
    margin: -10px -10px 0 -10px
}

.personal-layout .layout-side .title {
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #d8ecf7;
    margin: 0 -10px 0 -10px
}

.personal-layout .side-infos {
    margin: 10px 0
}

.profile-info { background: none repeat scroll 0 0 #f7f7f7; padding: 20px 10px; }
.profile-info .list{ float: left;  margin-left: 100px; width: 300px;}
.profile-info .list + .list{ margin-left: -50px;}
.profile-info .thumb{ float: left; width: 140px;}
.profile-info [class*='input-label']{ text-align: left;}
