extends layout

block container
    ul.list-unstyled.list-media
        - for(var i = 0 ; i < 10 ; i ++)
            li.clearfix
               button.btn.btn-default.pull-right 回复
               | message
    .text-center
        include includes/paginaion



