//
   Created by caizhongyi on 2014/9/5.
include mixins/index
extends layout

block append head
    title title

block append content
   .code-example(attr='jade')
       #name
       script(type='tpl/jade')#name-jade
            | p my name is  \#{name}

block append footer
    +script('../lib/jade/jade.js')
    +script('../lib/jade/index.js')
    script.
        $('#name').jade({ name : 'cai' } ,'#name-jade',function(){});

