/* Faded out hr */
hr
  height: 0px;
  border: none;
  border-bottom:1px solid #ddd;
  margin: 20px 0;


.soften
  background-image: linear-gradient(left, rgba(221, 221, 221, 0), rgba(221, 221, 221, 1), rgba(221, 221, 221, 0));
  border-top: 1px solid #ddd\9;
