.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  line-height: normal;
}
.icon-font-delete {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
