.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.visible {
  visibility: visible !important;
}
.hidden {
  visibility: hidden !important;
}
.in {
  visibility: inherit !important;
}
