@import "veryless.less";
@import "mixins.less";

#topbar{
  position: relative;
  background: url(../images/topbar.png) no-repeat;
  height: 146px;
  width: 960px;
  margin:0 auto;
  ul{
    ._clearfix();
    margin-left: 167px;
    li{
      float: left;
    }
  }
  a{
    display: inline-block;
    font-family: "microsoft yahei";
    font-size:18px;
    width: 111px;
    ._middle(64px);
    color:#fff;
    &.selected{
      color: #a1ee72;
    }
  }
}

.index-pics{
  background: url(../images/pic-bg.png) no-repeat;
  width: 873px;
  height: 571px;
  padding:30px 0;
  ._clearfix();
  li{
    padding: 10px;
    float: left;
    width: 173px;
    margin-left:21px;
    height:244px;
    .section{
      display: block;
      height: 140px;
    }
    h3{
      font-family: "microsoft yahei";
      color: #d8bc03;
      .num{
        font-style: normal;
        color: #dd6d0a;
        font-size: 30px;
      }
    }
    p{
      color: #99cc99;
    }

  }
}

.nav{
  width :1000px;
  height: 0;
  margin:0 auto;
  position:relative;
  .nav-content{height: 0;}
  ul{
    overflow: hidden;
    position: relative;
    left: -140px;
    top:50px;
    width: 121px;
    height: 310px;
    font-size:14px;
    padding-top: 10px;
    background: url(../images/nav.png) no-repeat;
    li{
     // background: url(../images/nav-bottom.png) bottom no-repeat;
      line-height:36px;
      a{
        color:#c0d78d;
        display: inline-block;
      }
      text-align:center;
    }
    .selected{
     // background: url(../images/nav-selected.png) bottom no-repeat;
      a{ color: #d8bc03;}
    }
  }
  font-family: "microsoft yahei";
  //position: absolute;
  //top:300px;
  //left: 300px;
  z-index: 999;;

}
.layout{
  ._clearfix();
  .left{
    float: left;
  }
  .main{
    overflow: hidden;
  }
  .right{
    float: right;
  }
}

.view-box{
  background: url(../images/view-box.png) no-repeat;
  width: 519px;
  height: 347px;
  margin-bottom: 10px;
  padding: 10px;
}
.small-pics{
  background: url(../images/small-pic.png) no-repeat;
  width: 519px;
  padding: 31px 0;
  position:relative;
  .clip{
    overflow: hidden;
    width: 450px;
    height: 67px;
    margin:0 auto;
    .name{
      background: url(../images/);
    }
  }

  .small-list li{
    float:left;
    margin:0 5px;
    cursor:pointer;
    &,img{
      width: 138px;
      height: 65px;
    }
    &.selected{
      border:1px solid #d0f2c3; ;
    }
    border: 1px solid #1a2f36;
  }
  .prev,.next{
    background: url(../images/page.png) no-repeat;
    width: 20px;
    height: 54px;
    position: absolute;
    top: 40px;
  }
  .prev{
    background-position: 0 -10px;
    left: 10px;
  }
  .next{
    background-position: -488px -10px;
    right: 10px;
  }
}
.button{
  background:url(../images/button.png) no-repeat -192px 0;
  width:384px;
  width: 192px;
  height:57px;
  line-height: 57px;
  font-size: 22px;
  text-align: center;
  color: #f9eb04;
  display: inline-block;
}
.button:hover,
.button-selected{
  background-position: 0 0 ;
  color: #e2f88e;
  text-decoration: none;
}

.skills a,
.mini-btn{
  background: url(../images/min-btn.png) no-repeat;
  width: 104px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  color: #e2f88e;
  margin-right:5px ;
  margin-bottom: 5px;
  text-align: center;
}
.skills a.selected,
.mini-btn-selected,
.skills a:hover,
.mini-btn:hover{
  background-position: 0 -36px ;
  color: #0d1e00;
  text-decoration: none;
}

.world .content,
.race .content,
.job .content,
.place .content,
.trade .content,
.justice .content,
.ship .content,
.fly .content{
  width: 980px;
  height: 600px;
  margin: -300px auto 0 auto;
  top: 50%;
  background: none;
  position: relative;
  left: 0;
  height: auto;
}

#topbar{
  top: -120px;
}

.content .hd{
  font-size: 20px;
  color: #f6ff00;
  font-family: "microsoft yahei";
  position: relative;
  border-bottom: 1px solid #529002;
  margin:0 10px;
  i{
    border-color: #529002 transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    font-size: 0;
    height: 0;
    width: 0;
    line-height: 0;
    position: absolute;
    left: 10px;
    bottom: -10px;
  }
}

.black-box{
  width: 275px;
  height: 300px;
  background:url(../images/black-box.png) no-repeat;
  .bd{ padding: 10px;}
  .hd{
    margin-bottom: 10px;
  }
  img{
    width:245px;
    height: 110px;
    margin-bottom: 10px;
  }
  p{
    color: #ccff99;
    line-height: 19px;

  }
}

.world-msg{
  background: url(../images/world-msg.png) no-repeat;
  width: 440px;
  height: 447px;
  color:#ffff99;
  padding: 53px 5px 5px;
  p{
    text-indent: 2em;
    line-height: 25px;
  }
  a{
    color: #ff9900;
  }
}
.world-btns{
  .button{
    margin-right: 3px;
  }
  margin-top: 10px;
}

.race{
  .content{
    background: url(../images/about.png) no-repeat;
    width: 1147px;
    height: 781px;
    color:#b9c99f;
    text-align: center;
    font-size:18px;
    .link{
      position: absolute;
      font-family: "microsoft yahei";
      top: 217px;
      display: block;
      width: 96px;
      height: 76px;
      padding-top:10px;
      a{
        font-size: 12px;
        color: #fcce18;
      }
    }
    .link1{left:111px;top:312px;}
    .link2{left:373px;top: 400px;}
    .link3{right:363px;top: 396px;}
    .link4{right:158px;top: 427px;}
  }
}

.job{
  .content{
    .right{
      margin-left: 10px;
      width: 376px;
      background: url(../images/box2.png) no-repeat;
      height: 713px;
    }
    .main{
      padding: 10px;
      background: url(../images/box.png) no-repeat;
      width: 564px;
      height: 554px;
      .bd{
        padding: 0 15px;
      }
      .info{ color: #99cc66; text-align: center; font-size: 14px; padding: 10px 0; height: 42px; }
      em{
        color:#f6ff00;
      }
      .hd{
        margin-bottom: 10px;
      }
     .skills{
        height: 107px;;
        font-family: "microsoft yahei";
        margin:20px 0 0 -1px;
       a{margin-right: 2px;}
     }
      .scroll{
        margin: 10px 0;
        height: 167px;
        overflow-y: scroll;
        a{margin-right: -1px;}
      }
      .small-pics{
        margin: 0 auto;
      }
    }
    .box,.mini-box{
      padding: 10px;
      margin-bottom: 10px;
    }

    .box{
      img{
        width: 356px;
        height: 234px;
      }
    }
    .mini-box{
      img{
        width: 356px;
        height: 78px;
        border: 2px solid #000;
      }
    }
  }
}

.place .content{
  width: 1074px;
  height: 704px;
  background:url(../images/trans.png) no-repeat;
  .button{position: absolute;}
  .btn-0{
    left:60px;
    top:246px;
  }
  .btn-1{
    right:137px;
    top:261px;
  }
  .btn-2{
    left:60px;
    top:538px;
  }
  .btn-3{
    right:137px;
    top:560px;
  }
}

.trade .content{
   width:1232px;
  .pvp-box{
    background: url(../images/PVPbox.png) no-repeat center;
    width: 100%;
    height: 603px;
    .box-1{
      margin-left: 188px;
      margin-top: 63px;
    }
    .box-2{
      margin-left: 57px;
      margin-top: 109px;
    }
    .left{
      width: 440px;
      text-align:center;
      img{
        width: 100%;
        height: 253px;

      }
      p{
        color: #def7a3;
        line-height: 25px;
        text-indent: 2em;
        margin:20px 0;
      }
    }
  }
}
.justice .content{}

.fly .content{
  .hd{ margin-top: 10px ;}
  .main-view{
   ._clearfix();
    width: 981px;
    height: 665px;
  }
  @left-width : 490px;
  .left{
    width: @left-width;
    background: url(../images/p8box.png) no-repeat;
  }
  p{
    font-size: 12px;
    color: #ffff99;
    text-indent: 2em;
    padding: 0 10px;
    line-height: 25px;
  }
  .view-box{
    background: none;

    &,img{
      width: 465px;
      height: 334px;
    }
  }
  .small-pics{
    width: 485px;
    background: none;
    .clip{
      @w: 399px;
      width:@w;
      img,li{ width: 120px;}
      li{ margin:0 5px;}
    }
  }
}

.ship .content{
  .black-box{
    position: absolute;
  }
  .box-1{left:0 ; top:0;}
  .box-2{right:0 ; top:0;}
  .box-3{left:38px ; top:320px;}
  .box-4{right:38px ; top:320px;}
  .box-5{left:356px ; top:335px;}
}
.index .bg{
  background: none;
}
.index .content .section,
.index .content .section i{
  width: 167px;
  height: 107px;
  position: relative;
  margin:0;;
}
.index-pics li p{
  top:-30px;
  height: 60px;
  position: relative;
}
.index .content .section .btn-world{
  background: url(../images/index/1.png) no-repeat;
}
.index .content .section .btn-race{
  background: url(../images/index/2.png) no-repeat;
}
.index .content .section .btn-job{
  background: url(../images/index/3.png) no-repeat;
}
.index .content .section .btn-place {
  background: url(../images/index/4.png) no-repeat;
}
.index .content .section .btn-ship{
  background: url(../images/index/5.png) no-repeat;
}
.index .content .section .btn-trade{
  background: url(../images/index/6.png) no-repeat;
}
.index .content .section .btn-fly{
  background: url(../images/index/7.png) no-repeat;
}.index .content .section .btn-justice{
   background: url(../images/index/8.png) no-repeat;
 }
