@charset "utf-8";
/* CSS Document */
img{ vertical-align:middle;}
.clear{display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.clearfix{zoom:1;}
.clearfix:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.ind-1{ text-indent:1em;}
.ind-2{ text-indent:2em;}
p{margin:10px 0; padding:0;}
/* overflow */
.overflow {overflow:hidden;_overflow:visible;_zoom:1;}
a{ color:#000; text-decoration:none; margin-right:10px;}
a:hover{ text-decoration:underline;}
/*  form  */		
.form{margin:10px auto;font-size:12px; line-height:20px;}
.form p{ margin:0;}
.form .option{ margin:10px 0;}
.form .form-item{ margin:10px 0;*zoom:1; }
.form .form-item:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.form .form-label{width:90px; text-align:left; margin-right:15px; display:block; float:left; word-spacing:0.5em;font-weight:bold;}
.form .form-bindlabel{ color:#565252;float:left; display:block; width:80px;font-weight:bold; }
.form .form-disable{ color:#8E8989; }
.form .form-bind{color:#005EAC;margin-left:10px; margin-right:-2px;}
.form .form-submit{margin-right:10px;}
.form .form-cancle{}
.form .descript{ background:#F4FFE5; border:1px solid #EFEFEF; color:#666; padding:10px; overflow:hidden; line-height:20px;width:453px;}
.form .descript a{ margin:0;}
.tel_form,.tel_form1{ color:#666;margin:30px 50px; line-height:25px; }
.tel_form .form-label{color:#565252;width:auto; margin:0;}
.tel_form .mr,
.tel_form1 .mr
{ margin:30px 0;}
.tel_form1 .form-label{color:#565252;width:80px; margin:0;}
.tel_form1 a{ margin:0 20px; color:#0E6FA6;}
.tel_form .btns{ margin-left:40px;}


.dline{ border-bottom:1px dashed #d7d7d7;}
.sline{border-bottom:1px solid #d7d7d7;}

.msgbar{border:1px solid #ffd0a8; padding:10px; font-size:12px; margin:50px 0; background:#ffffe8;}
.msgbar img{ margin:0 7px;}

.title{ margin:30px 0;}
.title div{ float:left; font-size:14px; font-weight:bold;}
.title .sline{ margin-left:95px; float:none; overflow:hidden; height:15px;}
.toptitle{ margin-top:0;}

.step{ margin:30px 40px; list-style:none; font-size:12px; padding:0; color:#565252;}
.step li{ float:left; margin:0 10px;}
.step .cur{ font-weight:bold;}

.b{ font-weight:bold;}
.f14{ font-size:14px;}
.center{ text-align:center;}
.mar-v-30{ margin:30px 0;}
.text{ border:1px solid #B8B8B8;width:170px; height:21px; }
.c-6{color:#666;}
.c-red{ color:red;}
.fbtn{ background:url(../images/btn.gif) no-repeat; width:97px; height:31px; border:none; font-weight:bold; color:#E7B229; font-size:14px; margin-right:5px;}

.evbox{ background:url(../images/bg-evbox.gif) repeat-x; height:287px;width:700px; text-align:center; font-size:12px;  color:#565252; padding-top:40px;}
.evbox .hline{color:#E8DFD6;}
.evbox .evbtn{background:url(../images/btn-evbox.gif) no-repeat; width:155px; height:31px; border:none; font-weight:bold; color:#9D7610; font-size:14px; }
.evbox .ev-req{ text-align:left; margin:0 143px;}
.evbox .ev-req a{ color:#2193DB;}
.evbox .ev-m{ margin:30px 0;}
.evbox .ev-req-til{ background:url(../images/ico1.gif) no-repeat; padding-left:18px;}

.evsuc{ border:1px solid #F8DE9A; width:328px;  margin:40px auto; font-size:14px; text-align:center; color:#666; }
.evsuc p{ margin:25px 0;}
.evsuc span{color:#2193DB;}

.pwbar{ list-style:none; margin:0;  padding:0;}
.pwbar li{ float:left;width:55px; height:8px; border:1px solid #ccc; margin-left:-1px;background:url(../images/bg-pw-off.gif);}
.pwbar .cur{ background:url(../images/bg-pw-on.gif);}