@charset "utf-8";
/* CSS Document */

body, td, input, textarea {
	font-size: 14px;
	color: #666;
}
body, form, h1 {
	margin: 0;
	padding: 0;
}
.clear{
	clear:both;
}
.foot {
	padding: 10px;
	text-align: center;
	clear: both;
	margin: 5px;
	border-top: 1px solid #ccc;
}
.msg_img {
	width: 250px;
}