.header{ background: #1f419b;}

.box_swipe ol li{ background: #8d8d8d;}
.box_swipe ol li.on{ background: #ffb812;}

nav.navbar  a:hover{ background: none; box-shadow: none;}
nav.navbar li,nav.navbar small,nav.navbar a{ color: #fff; }
nav.navbar small{ display: block;}
nav.navbar {
    a, i{ display: block; text-align: center; }
    a{ padding: 30px;font-size: 18px;border: 4px solid #efefef; }
    .main > a{ background: #31b02e; overflow: hidden; font-size: 16px;}
    .main > a i{  float: left; }
    .main div a i{ float: none !important; display: inline-block;}
    .main div a:nth-child(1),
    .main div a:nth-child(2){ float: left; font-size: 14px;width: 50%; padding: 10px; }
    .main div a:nth-child(1){background: #ffb812;}
    .main div a:nth-child(2){background: #01a0e2;}
    .pull-right a{background: #ed008e; padding-top:60px; padding-bottom: 60px;}
}
nav.navbar small{ font-size: 62%;}

.navbar-bottom li a,.menubar .active a, .menubar li ul{ background: #1f419b;}
.navbar-bottom li.active a,.navbar-bottom li a:hover,.slide li a:hover{ background: #042271;}
.navbar-bottom .icon-img-menu{ background-position:  -(24px *5) -48px;}
.navbar-bottom .icon-img-shop{ background-position:  -(24px *6) -48px;}
.navbar-bottom .icon-img-user{ background-position:  -(24px *7) -48px;}

.menubar .slide li{ border-bottom-color: #042271; padding: 5px;}

nav.navbar .icon-img-personal{background: url(../../../img/icon-personal.png); width: 46px; height: 53px;}
nav.navbar .icon-img-pic{ background: url(../../../img/icon-pic.png); width: 40px; height: 30px;}
nav.navbar .icon-img-phone{ background: url(../../../img/icon-phone.png); width: 65px; height: 43px; }
nav.navbar .icon-img-ticket{ background: url(../../../img/icon-ticket.png); width: 37px; height: 32px;}

.list-exhibit{ margin: -1%;}
.list-exhibit img{ width: 100%;}
.list-exhibit li{ float: left; width: 47%;}
.list-exhibit .btn-submit{  background: #01a0e2;}
.list-exhibit .box{  margin: 1% !important; padding: 0;}
.list-exhibit .box .box-inner{  padding: 5px;}
.list-exhibit .operate{ position: static; margin: 5px 0 0 0;}
.list-exhibit .operate a{ text-align: center; width: 50%; border: 1px solid #e5e5e5; display: inline-block; padding: 5px 10px; margin: 0;}
.list-exhibit .operate a + a{ border-left: none;}

.list-category li{ height: 90px;overflow: hidden; font-size: 18px; padding: 0; margin-bottom: 10px;}
.list-category li .name{ height: 100%;background: #31b02e; width: 30%; line-height: 90px; color: #fff;}
.list-category li:nth-child(2) .name{ background: #ffb812; }
.list-category li:nth-child(3) .name{ background: #01a0e2; }
.list-category li:nth-child(4) .name{ background: #ed008e; }
.list-category li:nth-child(odd) .name{float: left;}
.list-category li:nth-child(even) .name{float: right;}
.list-category .name ,.list-category .view{ display: block; text-align: center;overflow: hidden;}
.list-category .view img{ width: 100%;}

.price{ color: #ed008e;}
.price-original{color: #858585;}

.list-media .media-heading{ margin-bottom: 0;}