.text{
  //文本
  &-bold {font-weight: bold;}
  &-link { color: #428bca;}
  &-danger,&-important {color: #B94A48;}
  //淡红色
  &-success {color: #468847;}
  //淡绿色
  &-warning { color: #C09853;}
  //淡黄色
  &-muted {color: #999;}
  //淡灰色
  &-info {color: #3A87AD;}
  //淡蓝色
  &-default {color: #666;}

  &-xxxlg{ font-size: 2em;}
  &-xxlg{ font-size: 1.7em;}
  &-xlg{ font-size: 1.5em;}
  &-lg{ font-size: 1.2em;}
  &-md{ font-size: 1em;}
  &-sm{ font-size: 0.9em;}
  &-xs{ font-size: 0.8em;}

  &-ellipsis {
    text-overflow: ellipsis auto;
  }

  &-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

  &-right { text-align: right;}
  &-left { text-align: left;}
  &-center {text-align: center;}
  &-justify {text-align: justify;text-justify: inter-ideograph;}
  &-indent {text-indent: 2em;}
}