.btn{
    zoom:1;
    display: block;
    padding: 5px 10px;
    text-align: center;
    line-height:normal;
    border: 1px solid transparent;
    &-primary{
        border: 1px solid #CAF5EC;
        color: #fff;
        background: #7ACDC3;
        &:focus,&:active{
            background: #6fbdb3;
        }
    }
    &-default{
        background-color: #fff;
        border-color: #ccc;
        color: #333;
    }
}