table {
  width: 100%;
  border-collapse: collapse;
}
.table {
  background: #fff;
  border: 1px solid #cb8311;
}
.table caption {
  background: #e29412;
  color: #fff;
  text-align: left;
}
.table th,
.table td {
  text-align: center;
  border: 1px solid  #cb8311;
}
table.message .message-info {
  background: #dff0d8;
  color: #3c763d;
}
table.message td {
  padding: 20px;
  vertical-align: middle;
  text-align: center;
}
.table-list td {
  width: 33.3333%;
  padding: 5px;
}
