body,html{
  background: #dc6057;
  &,a{
    color: #fff;
  }
  font-size: 14px;
  line-height: 1.5;
  max-width: 640px;
  margin: 0 auto;
  overflow-y: auto;
  min-height: 100%;
}
.container{
  overflow: auto;
  height: auto;
}


.tv-page{
  margin-top: 5%;
}

.tip{
  margin-bottom: 15px;
  font-size: 16px;
}

.desc{
  font-size: 12px;
}

.prize{
  background-image: url(../img/prize-bg.png);
  background-repeat: no-repeat;
  background-position:  center -170px;
  background-size: auto;
  background-attachment:local;
}


.congratulations{
  background: url(../img/congratulations.png) no-repeat center center;
  width: 176px;
  height: 75px;
  margin: auto;
}

.font-important{
  font-size: 140%;
}


.prize-form{
  margin-top: 10%;
  bottom: 0;
  width: 100%;
}