body{ color:#333; font-family:宋体; font-size:14px;}

.wrap,
.container,
.nav
{
	margin: 0 auto;
	width:980px;
}
.header{ background:#68beee url(../images/bg-2.gif) repeat-x bottom; padding-top:40px;}
.out-container{ padding-top:10px; background:url(../images/bg-sub.gif) repeat-x; margin-top:20px; color:#6f6f6f;}

.nav{ float:right; width:640px; margin-top:80px; font-size:12px; font-family:"微软雅黑";}
.nav li{ float:left; text-align:center; margin:0 5px; padding:5px 17px;}
.nav li a{ font-weight:bold;}
.nav li a:hover{ text-decoration:none;}
.nav .nav-cur{ background:#2bafff;}

.sitemap{ margin:0 auto; text-align:center;}
.sitemap a{ margin:0 5px;}

.side { float:left;width:260px; overflow:hidden;}
.main { float:left; width:700px; overflow:hidden;}

.sidenav{ padding:180px 0 0 0; background:url(../images/contact-nav.gif) no-repeat;  height:320px; margin-left:-10px; }
.sidenav a{ color:#0d8acc;}
.sidenav li{ margin:15px 25px 0 0;  font-weight:bold; height:21px; line-height:21px; *line-height:24px; text-align:right;}
.sidenav .sidenav-cur{background:url(../images/side-nav-cur.gif) no-repeat right;}
.sidenav .sidenav-cur a{ color:#fff;}
.sidenav .sidenav-return{ margin-top:40px;}

.logo{ float:left;}

.big-tabs{ position:relative; height:569px;}
.big-tabs .tabs-panel{height:569px; }
.big-tabs .tabs-panel li{height:569px; display:block;}
.big-tabs .pic1{background:url(../images/pics.jpg) no-repeat center;}
.big-tabs .pic2{background:url(../images/pics.jpg) no-repeat center;}
.big-tabs .pic3{background:url(../images/pics.jpg) no-repeat center;}
.big-tabs .tabs-nav{ position: absolute; right:0; bottom:10px; margin-right:7%;}
.big-tabs .tabs-nav li{ display:inline-block; *display:inline; zoom:1; margin-right:5px; color:#fff; background:#349cff; padding:0px; width:20px; height:20px; line-height:20px; text-align:center; font-size:14px; font-weight:bold; cursor:pointer; }

.footer{ background:#000000; padding-top:20px;}
.footer .address{  color:#646464; font-size:12px; text-align:center; line-height:22px; background:#232323; padding:10px 0 ;}

.contact-msg{ line-height:35px; font-weight:bold; color:#747474; float:left; width:450px; vertical-align:top;}

.side-custom{ line-height:28px; font-weight:bold;text-align:right; color:#0d8acc; background:url(../images/bg-custom.gif) no-repeat; width:217px; height:364px; padding:15px 30px 0 30px; margin-left:-10px;}
.side-custom .side-custom-title{ font-family:"微软雅黑"; margin:10px; height:40px; }

.search{ background:url(../images/search.gif) no-repeat 0 5px; *background-position:8px 5px; margin-left:10px; height:29px; padding:7px 5px;}
.search .text{ border:none; width:150px; background:none; }
.search .search-submit{ margin-left:5px; border:none; background:none; width:65px; height:21px;}

.show-sidenav{ background:url(../images/bg-show-nav.gif) no-repeat; height:210px;}
.show-sidenav .sidenav-cur{background:url(../images/side-nav-cur-long.gif) no-repeat right;}

.price-sidenav{ background:url(../images/bg-nav-price.gif) no-repeat; height:250px;}
.price-sidenav .sidenav-cur{background:url(../images/side-nav-cur.gif) no-repeat right;}


.lovepiclist li{ float:left; width:339px; height:238px; background:url(../images/bg-pic.gif) no-repeat; margin:4px; text-align:center;}
.lovepiclist img{ border:none; margin-left:-2px;}

.pager{ font-family:"微软雅黑";}
.pager a{ font-size:12px; display:inline-block; *display:inline; color:#5a5a5a; width:35px; height:27px; line-height:27px; text-align:center;}
.pager .pager-cur{ color:#fff; background:#5a5a5a; border-radius:3px;}

.price-title{ font-family:"微软雅黑"; font-size:16px; margin:10px 0; color:#0d8acc; border-bottom:1px solid #ddd; padding:10px 0;}
.price-msg{ color:#333333; font-size:14px; line-height:25px;}

.fixed{ display:none; width:136px; height:203px;  z-index:999;}
.fixed-inner{background:url(../images/fixed.png) no-repeat; height:203px;  }
.fixed .fixbar{ float:left; width:25px; height:203px;}
.fixed-content{ padding:90px 0 0 0; width:127px; height:107x; }
.fixed-content .qq{background:url(../images/qq-1.gif) no-repeat; width:30px; height:30px; margin-left:10px; zoom:1; display:inline-block;}
.fixed-content .qq:hover{background:url(../images/qq.gif) no-repeat; }

.aboutus{ float:left; width:300px;}
.aboutus p{ text-indent:2em; line-height:24px;  font-size:12px;}

.news{ overflow:hidden; padding-left:20px;}.
.news img{}
.news .news-list{ overflow:hidden; font-size:12px;}
.news .news-list h3,
.news .news-list a
{ font-size:14px; color:#106dbb; margin:0}
.news .news-list li{ border-bottom:1px dashed #ddd; padding:10px 0;}
.news .news-list li:hover{ background:url(../images/bg-1.gif);}

.inlove{ background:url(../images/love.gif) no-repeat; padding:80px 0 0 50px; margin-bottom:10px; height:344px;}
.inlove-side{ float:left; width:380px; margin-right:30px;}
.inlove-side img{ margin-right:10px;}
.inlove-side li{ margin:15px 0;}
.inlove-side h3,
.inlove-side h3 a{ font-size:14px; color:#106dbb; margin-top:0;}
.inlove-side p{ font-size:12px;}

.inlove-main{ padding:20px 20px 0 0; overflow:hidden;}
.inlove-main h3{ margin-top:0;}
.inlove-main .img{ float:left; margin-right:20px; }
.inlove-main p{ font-size:12px; height:56px;}
.inlove-main-more{ display:block; width:90px; height:24px;}

.scroll{ margin-top:35px; overflow:hidden;}
.scroll .tabs-prev{ float:left;}
.scroll .tabs-next{ float:right; margin-right:10px;}
.scroll .tabs-prev,
.scroll .tabs-next
{
	 width:25px;  
	 height:100px;
}
.scroll .tabs-panel{ overflow:hidden; width:420px;  height:100px;}
.scroll .tabs-panel li{ float:left; width:145px;}

.workshow{ background:url(../images/show.gif)  no-repeat; height:680px; width:979px;}
.workshow .workshow-head{ height:37px; padding-top:45px;}
.workshow .tabs-panel{height:680px; width:959px; margin-left:30px;}
.workshow-list{ padding:10px 0 0 0;height:680px; width:959px;}
.workshow-list li{ float:left; border:1px solid #ddd; border-radius:3px; margin:5px; width:220px; height:275px; font-size:12px;}
.workshow-list .img{ margin:6px;}
.workshow-list .pj span{ color:#a63a4a; margin-right:10px; font-weight:bold; font-size:14px;}
.workshow-list .pj {margin: 0 10px; padding:0;}
.workshow-list .feel{ color:#000; margin: 0 10px; font-size:14px; margin-top:-9px; *margin-top:2px;}
.workshow-list .feel span{ float:left;font-weight:bold; margin-right:5px;}

.workshow-head-tags{ margin-left:351px; float:left; display:inline;}
.workshow-head-tags a{  display:inline-block; zoom:1;  width:116px; height:30px;}
.workshow-head-more{ float:left;width:67px; height:40px;}
.radios{ float:left; margin:10px 50px 0 50px;}
.radios input{}