@charset "utf-8";
/* CSS Document */
/*=====activity_create=====*/
i{ font-style: normal;}
.activity_create{margin:0 auto; overflow:hidden;}
.activity_create h3{font-size:16px; height:34px; line-height:33px;}
.activity_create textarea{ vertical-align:text-top; line-height:23px;}

/* ============ machen ========== */
.AC_Guide{
	padding: 0px 20px;
	_zoom: 1;
}

.event_plan {
	overflow:hidden;
	padding:15px 30px 20px;
	border-bottom:1px dashed #0961A0;
	margin-bottom:10px;
}
.event_plan_l {
	float:left;
	margin-right:15px;
	text-align:center;
}
.event_plan_r {
	margin-left:130px;
	position:relative;
}
.event_plan_r h2 {
	font:800 14px/23px Arial, Tahoma;
	color:#10899e;
}
.event_plan_r table {
	font:200 12px Arial, Tahoma;
}
.event_plan_r table i {
	font-style:normal;
	color:#f2762c;
}
.activity_index , h2.activity_index {
	font-size:25px; 
	line-height:40px;
	padding:10px 0 10px 0px;
	color:#065f9b;
	border:none;
}
.event_plan_r p {
	line-height:24px;
	color:#999;
}
.event_plan_r p span {
	display:inline-block;
	width:90px;
	color:#046298;
	text-align:right;
}
.join_event_plan {
	padding-left:40px;
	position:absolute;
	right:0;
	top:0;
}
.join_event_plan img {
	height:28px;
	width:109px;
}
.join_event_plan img {
	background:url(../images/event_plan.png) no-repeat 0 0;
}
.join_event_plan .noneA img {
	background-position:-130px 0;
}
.join_event_plan a {
	margin:0 10px;
}

.actBrief{ height:auto!important; min-height:670px; _height:670px;}
.activity_t{ margin-bottom:10px; background:#eef9fc url(../images/activity_h2.gif) no-repeat 19px 11px; height:32px; color:#656567; padding-left:35px; font:800 14px/32px Arial, Tahoma;}

.activity_C {
	text-indent:2em;
	padding:0 10px;
	font:200 12px/23px '宋体';
	margin-bottom:10px;
	color:#8f8f8f;
	line-height:25px;
}
.activity_C span{width:200px; display:inline-block; margin-right:10px;}


