.pagewrap{}
.pagewrap .text,
.pagewrap .select,
.pagewrap .chzn-container-single .chzn-single{ height:23px; line-height:23px; }

/*----pagelist----*/
.pageList .text{ margin:0 5px; height:18px; line-height:18px; width:30px;}
.pageList .disable{ color:#999;}
.pageList a{ text-decoration:none;}
.pageList .disable:hover{ text-decoration:none;}
.pageList a,.pageList .text,.pageList span{margin:0 5px;}
.pageList li{float:left; padding:0 5px; border:none;}


.pager-loading{ position:relative; overflow:hidden;}
.loading-layer{ position:absolute; width:100%; height:100%; background:#fff url(../images/loading.gif) center no-repeat; opacity:0.8; filter:alpha(opacity = 80); left:0;top:0;}

.horiz-ah-pager > a{ display:inline-block; width:14px; height:20px; background:url(../images/pager-1.png) no-repeat;}
.horiz-ah-pager > .pager-next{ background-position:-14px 0;}

.morebar{ border:1px solid #dfdfdf;  background:#fafafa;  text-align:center; height:35px; line-height:35px; margin:35px 0;}
.morebar a{background:url(../images/huif_open_an.jpg) right center no-repeat;}
.morebar span{color:#666;}
.morebar a,
.morebar span{ display:inline-block;  padding-right:15px; text-decoration:none;}

.yellow-pager{ position:relative; height:500px;}
.yellow-pager > a{ background:url(../images/yellow-pager.png) no-repeat; width:26px; height:39px;}
.yellow-pager .pager-next{ background-position: -27px 0 ;}

.pager{ font-size:14px;}
.pager a,
.pager-hover a{ background:url(../images/pager.png) no-repeat; width:25px; height:25px; display:inline-block; margin:0 5px; vertical-align:middle;}
.pager a.prev,.pager-hover  a.prev:hover{ background-position:0 0;}
.pager a.next,.pager-hover  a.next:hover{ background-position:-26px 0;}
.pager a.prev-disable,.pager-hover  a.prev{ background-position:0 -27px;}
.pager a.next-disable,.pager-hover  a.next{ background-position:-27px -27px;}

.sidebox-pager{ float:right; }
.sidebox-pager a{ background:url(../images/home/page.png) no-repeat;width:16px; height:14px; display:inline-block; vertical-align:middle;}
.sidebox-pager .prev{background-position:-20px -13px;}
.sidebox-pager .prev-disable{background-position:0 2px ;}
.sidebox-pager .next{background-position:0 -13px;}
.sidebox-pager .next-disable{background-position:-20px 2px ;}
.sidebox-pager .all{ display:inline-block; width:29px;  background:none;vertical-align:middle; margin-left:5px;}
