@charset "gb2312";

/* Style Sheet 
 * Use for:
 * Created:2013-2-28
 * Update:2013-2-28
 * Author:cheng
*/

/* CSS Reset */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,a,big, em,font,img,strong,tt, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
input,select,textarea{ font-size:12px}
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 {font-size: 100%; }

/* base */
body{font-size:12px;line-height:18px; font-family:simsun,Arial; color:#4e1f00;background:#f5efe0 url(http://i1.static.olcdn.com/dpol/images/bodybg.png);}
.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both;}
.clearfix{*zoom:1; /* for IE6 IE7 */}
.fl {float:left;}
.fr {float:right;}
.clear0 {clear:both;height:0px;line-height:0px;overflow:hidden;font-size:0;}
.clear10 {clear:both;height:10px;line-height:0px;overflow:hidden;font-size:0;}
.tc {text-align:center;}
.tr {text-align:right;}
.hide { display:none}

/* character */
a {color: #4e1f00;text-decoration: none;}
a:hover {color: #f00; }
.color_white {color:white;}
.color_red {color:#ff0000;}
.color_blue {color:#0063dc;}
.color_gray {color:gray;}
.color_green {color:#9ffb1e;}
.color_orange {color:#e7610e;}
.color_purple {color:#db2257}
.color_yellow {color:#ffd200;}
.color_black {color:#000;}
.f14 {font-size:14px;}
.fb {font-weight:bold;}

/* wrap */
.fullbg { background:url(http://i1.static.olcdn.com/dpol/images/fullbg.jpg) no-repeat center top;}
.wrapper {width:980px;margin:0 auto;}

/* header */
.header {background:url(http://i1.static.olcdn.com/dpol/images/header.jpg);height:238px;}

/* nav */
.nav { background:url(http://i1.static.olcdn.com/dpol/images/nav.jpg); height:75px;}
.nav a { float:left; display:block; overflow:hidden; height:65px; width:90px; text-indent:-10000px; outline:none;}
.nav a:hover { background:url(http://i1.static.olcdn.com/dpol/images/navhover.png) no-repeat;}
.nav .a2:hover { background-position:-90px 0}
.nav .a3:hover { background-position:-180px 0}
.nav .a4:hover { background-position:-270px 0}
.nav .a5 { margin-left:255px;}
.nav .a5:hover { background-position:-615px 0}
.nav .a6:hover { background-position:-705px 0}
.nav .a7:hover { background-position:-795px 0}
.nav .a8:hover { background-position:-885px 0}

/* main */
.main { width:980px; background:url(http://i1.static.olcdn.com/dpol/images/mainbg.jpg) no-repeat;}
.main2 { background:#e2dac6; border:4px #fff solid; width:972px;}

.left { width:690px; float:left;}
.right { width:278px; float:right;}

.focus { float:left; width:340px;}

.flash { background:url(http://i1.static.olcdn.com/dpol/images/flash.png); width:340px; height:251px;}

.tit1 { height:41px; line-height:41px; overflow:hidden; padding-left:45px; background:url(http://i1.static.olcdn.com/dpol/images/ico.png) no-repeat 0 -118px; font-weight:normal;}
.tit1 span {color:#7c0000; font-family:microsoft yahei; font-size:18px; padding-right:10px;}
.tit1 i {color:#826950; font-family:Arial; font-size:10px; font-style:normal; text-transform: uppercase}
.tbg { background-position:0 -162px; padding-left:50px;}

.tit2 { background:#8a1d04; height:32px; line-height:32px; color:#fff; font-size:14px; font-family:microsoft yahei; padding-left:12px; border-bottom:1px #3e1208 solid;}
.tit3 { background:url(http://i1.static.olcdn.com/dpol/images/ico.png) no-repeat 0 -72px; width:268px; margin:0 auto; height:33px;}
.tit3 span { display:block; width:93px; height:33px; line-height:33px; text-align:center; font-size:14px; color:#fff;}

.more { float:right; color:#8a1d04; margin-right:8px;}

.bd {border:1px #d9bea2 solid; background:#fffcf4;}

.guidelist { line-height:26px; padding:10px;}

.news { float:right; width:328px; padding:5px; padding-bottom:9px;}
.news h2 { height:42px; line-height:42px; font-size:14px; padding-left:25px; background:url(http://i1.static.olcdn.com/dpol/images/ico.png) 8px -206px no-repeat; overflow:hidden; margin-top:3px;}
.news h2 a {color:#dd2400;}
.news ul { padding:0 8px;}
.news li { height:24px; line-height:24px; overflow:hidden; border-bottom:1px #cec6b3 dotted;}
.news li code { float:right;color:#b8aba0; padding-left:10px;}

.column1 { clear:both;}
.column2 { width:340px;}

.role { margin:3px; margin-top:0; padding:4px 330px 0 5px;}
.bg-r1 { background:url(http://i1.static.olcdn.com/dpol/images/bg-r1.jpg) no-repeat right 1px;}
.bg-r2 { background:url(http://i1.static.olcdn.com/dpol/images/bg-r2.jpg) no-repeat right 1px;}
.bg-r3 { background:url(http://i1.static.olcdn.com/dpol/images/bg-r3.jpg) no-repeat right 1px;}
.bg-r4 { background:url(http://i1.static.olcdn.com/dpol/images/bg-r4.jpg) no-repeat right 1px;}
.bg-r5 { background:url(http://i1.static.olcdn.com/dpol/images/bg-r5.jpg) no-repeat right 1px;}
.bg-r6 { background:url(http://i1.static.olcdn.com/dpol/images/bg-r6.jpg) no-repeat right 1px;}

.picbox { padding:5px;}
.picbox img { width:100%; height:82px; margin-top:5px;}

.alist { line-height:26px; padding:10px 16px;}
.alist a { white-space:nowrap;}

.officeinfo { line-height:26px; padding:10px 16px;}

.tabtit { height:36px; padding-top:3px; padding-left:1px; overflow:hidden;}
.tabtit li { float:left; width:112px; height:36px; background:url(http://i1.static.olcdn.com/dpol/images/ico.png); font-size:16px;color:#fff; font-family:microsoft yahei; line-height:36px; text-align:center; margin-left:2px; cursor:pointer;_display:inline}
.tabtit li.select { background-position:0 -36px;}

.piclist { padding:10px 0;}
.piclist li { float:left; margin-left:10px;_display:inline}
.piclist img { width:126px; height:96px; display:block;}

.piclist2 { padding-bottom:10px;}
.piclist2 li { float:left; margin-left:10px; margin-top:10px;_display:inline}
.piclist2 img { width:103px; height:43px; display:block;}

.list {}
.list li { height:24px; line-height:24px; overflow:hidden;}
.list li code { float:right;color:#b8aba0; padding-left:10px;}

.pd2 { padding:2px;}
.pd6 { padding:6px 12px;}

/* footer */
.footer{ line-height:22px;text-align:right; padding-top:15px;clear:both; background:#8a1d04;font-family:Arial;color:#fff;}
.footer p { background:url(http://i1.static.olcdn.com/dpol/images/766logo.png) no-repeat; width:980px;margin:0 auto;height:90px; }
.footer a {color:#fff;}

/* 766֪�� */
.knowledge{}
.knowledge_search{ padding:8px 0 6px 10px}
.k_txt{ width:156px; height:23px; line-height:23px; border:1px solid #ab9980;background:#d1c5b5;color:white;padding:0 5px; margin:0 5px 0 0;}
.k_btn{ width:70px; height:25px; border:0; overflow:hidden; background:red url(http://i1.static.olcdn.com/dpol/images/btn-zhidao.png) no-repeat;margin:0 5px 0 0; cursor:pointer;overflow:hidden; color:#fff;}

.knowledge_list{ height:236px; overflow:hidden;}
.knowledge_list ul.tab_menu{ border-bottom:1px solid #b8a87c; height:24px; font-size:12px; margin:0 auto 6px; width:96%; float:none;_overflow:hidden;}
.knowledge_list ul.tab_menu li{ font-size:13px; padding:0; float:left; cursor:pointer;  color:#948659; width:88px; height:23px; line-height:24px; overflow:hidden; text-align:center; display:inline; margin:0 0 0 6px;}
.knowledge_list ul.tab_menu li.select{ border:1px solid #b8a87c; border-bottom:1px #fffcf4 solid; color:#61542a; font-weight: bold;_position:relative}

.knowledge_list ul.tab_main{ width:96%; margin:0 auto; float:none; overflow:hidden; font-size:12px; display:none;}	
.knowledge_list ul.tab_main li{ padding:0; overflow:hidden; color:#343434; height:25px; line-height:25px;}
.knowledge_list ul.tab_main li span.k_answer{ float:right; padding:0 2px 0 10px; color:#e50e0e;}
.knowledge_list ul.tab_main li a{}
.knowledge_list ul.tab_main li a.k_ico1{width:14px; height:22px;color:#e50e0e; padding-left:14px; background:url(http://zhidao.hd.766.com/img/k_ico.gif) no-repeat 0px 2px; text-decoration:none;}

/*�õ�*/
#alFade{ position:relative; overflow:hidden; padding:3px;width:334px; height:246px;}
#alFade .alFade-pic,#alFade .alFade-pic li{ width:334px; height:246px; overflow:hidden; }
#alFade .alFade-pic li{ display:none; position:absolute; }
#alFade .alFade-pic img{ width:100%; height:100%; display:block; padding:0; border:0; }
#alFade .alFade-flag{ position:absolute; bottom:10px; right:10px; }
#alFade .alFade-flag li{ cursor:pointer; width:12px; height:8px; background:#000; border:1px solid #77653d;  float:left; display:inline; margin:0 5px 0 0; overflow:hidden; text-indent:-1000px; }
#alFade .alFade-flag .alFade-on{ cursor:default; background:#ffb400; width:24px; }

