html{ background:#c5e5ff url(http://t.cnfol.com/v2.0/images/bg_coloect.gif) left -262px repeat-x;}
body {font-size:14px;font-family:"宋体";/*_text-align:center;*/ background:url(http://t.cnfol.com/v2.0/images/bg-header.png) no-repeat center top; } 
a{blr:expression(this.onFocus=this.blur())  /* for IE */}
a:focus {outline: none;} /* for Firefox */ 
.menu,.header,.container,.footer {margin:0 auto;width:800px;}

.header{color:#fff;height:234px; width:800px;}
.header-bg{ margin:0 auto;width:800px; position:relative; }
.header .cl{width:200px;}
.header .cr{ text-align:right;}

.container { _zoom:1;margin-top:-132px; position:relative; }
.main { 
	*display:block;
	*zoom:1;
	float:left;
	_position:relative;
	_left:-3px;
	_margin-right:-3px;
	width:auto;
	background:#fff;
	width:545px;
	height:100%;
}
.submain{float:right;width:255px;_width:253px;_margin-left:-3px; font-size:12px;background:#5894d2; height:100%;}
.submain,.submain a{color:#dcefff;}
.footer{ text-align:center; font-size:12px; padding:30px 0 40px 0;color:#6194c8; line-height:20px;}
.footer a{color:#5e92c7;}
.wauto{ display:block; overflow:hidden;_left:0; padding:0; margin:0px; width:auto;float:none;}
/* ==== 首页 ==== */
/* ************ margin ************* */
.login-form,
.search,
.commend,
.hot-top,
.reg,
.hot-talk,
.hot-talking,
.t-mobile,
.contact,
.tab,
.msgbar,
.sinfo,
.sopts,
.hottalk-list,
.sinfo-opts,
.searchbox
{ margin:15px;}


.hot-top h3,
.commend h3,
.hot-talking h3,
.hot-talk h3,
.hottalk-list h3
{ margin-bottom:15px; }

/* ************ blocks ************* */
/* 登录 */
.login-form{ margin-left:15px;}
.login-form li label{ width:48px; word-spacing:0.5em; }
.login-form li input{ width:160px; }
.login-form li a{ margin-left:5px; text-decoration:underline; color:#fff;}
.login-form li .login-btn{width:75px;height:29px;}
/* 个人信息 */
.myinfo{ margin-bottom:15px; overflow:hidden; color:#fff;}
.myinfo .cl{ margin-right:10px;}
.myinfo .cc span{ font-size:14px;}
.myinfo .cc a{color:#a9cae6; margin:10px 0; display:block;}
.myinfo .cc a:hover{  text-decoration:underline;}

.fans-myinfo{ margin-bottom:5px;}

.sinfo .bottom,.sinfo .bottom li a  { color:#dcefff; text-align:center; margin:auto; width:225px;}
.sinfo .bottom li{ float:left; text-align:center;}
.sinfo .bottom li.item{width:70px; }
.sinfo .bottom li span {display:block; font-family:Tahoma; margin-bottom:5px;font-size:14px; font-weight:bold; }
.sinfo .si-sendflower{ text-align:center; margin:15px auto;}
.sinfo .si-sendflower a{margin:0 auto; background:url(http://t.cnfol.com/v2.0/images/iconPng.png) left -199px no-repeat; width:185px; height:42px;display:block;}
.sinfo .si-sendflower a:hover{background:url(http://t.cnfol.com/v2.0/images/iconPng.png) left bottom no-repeat;}
.sinfo .blue-hor-line{ margin:15px 0;}
.sinfo-item{width:70px;text-align:center;}

.sinfo-detail{color:#dcefff; margin-top:0px;}
.sinfo-detail li{ margin-bottom:10px;}
.sinfo-detail li span,
.sinfo-detail li a
{ color:#fff;}


.sinfo-opts{ z-index:2; position:relative;  zoom:1; margin-bottom:0;}
.sinfo-opts .cl{ margin-right:15px;}
.sinfo-opts .cr h3{ font-weight:bold; margin-bottom:10px; }
.sinfo-opts .so-blogurl a{color:#2b4a78;}
.sinfo-opts .so-blogurl{ font-size:12px;color:#666;margin-bottom:20px; margin-top:5px; }
.sinfo-opts .cr{width:400px;}
.sinfo-opts .cr li{ margin-right:15px; margin-bottom:0;*display:inline; font-size:12px; }
.sinfo-opts .cr .btn-opts{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -1437px bottom no-repeat; width:75px; height:28px; display:block; line-height:28px; text-align:center;font-size:14px;color:#fff; text-decoration:none;}
.sinfo-opts .cr .btn-nor{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -539px bottom no-repeat; width:75px; height:28px; line-height:28px;display:block; text-align:center;color:#333; }
.sinfo-opts .cr .btn-opts:hover{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -1512px bottom no-repeat;}
.sinfo-opts .cr .btn-nor:hover{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -614px bottom no-repeat; text-decoration:none;}
.sinfo-opts .cr .btn-more{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -1136px bottom no-repeat; width:75px; height:28px; border:none; position:absolute; z-index:2; line-height:28px; text-align:left; text-indent:20px;text-decoration:none;}
.sinfo-opts .cr .btn-more:hover{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -1211px bottom no-repeat;position:absolute; z-index:2;}
.sinfo-opts .cr .Ex , .sinfo-opts .cr .Ex:hover{background:#f7f7f7 url(http://t.cnfol.com/v2.0/images/btnColect.gif) -1286px -7px no-repeat;width:76px; height:23px;border:none;position:absolute; z-index:1;}
.more .inner{ background:#fff;border:1px solid #c9c9c9;margin-top:-5px; *margin-top:-2px;  }
.more .inner dd a{ margin:5px; height:20px; line-height:20px; text-align:left; cursor:pointer; display:block; color:#666;}
.more .inner dd a:hover{ background:#5a9ee2; color:#fff; text-decoration:none;}
/* 功能列表 */
.sopts a{ color:#fff;}
.sopts li{ margin-bottom:10px; font-size:14px; font-family:Tahoma, Geneva, sans-serif; }
/* 热门话题表列 */
.hottalk-list,
.hottalk-list a{ color:#fff;}
.hottalk-list li{ margin-bottom:10px; }
.hottalk-list li a:hover{ text-decoration:underline;}
.hottalk-list span{color:#a9cae6;}
.more
{
	position:relative;
	margin:0;
	padding:0;
}
.more span
{
	position:absolute;
	display:block;
	visibility:hidden;
	border:1px solid #C9C9C9;
	width:85px;
	background:#fff;
	left:0;
}
.more span a
{
	display:block;	
	margin:2px; 
	height:20px;
	line-height:20px;
	text-align:left; 
	cursor:pointer;
	color:#666; 
	padding-left:2px;
	font-weight:normal;
}
.more span a:hover{ background:#5a9ee2; color:#fff; text-decoration:none;}
.t-top-nav{color:#ffffff; font-size:12px;margin:10px 0 30px 0; *margin-right:-5px;}
.t-top-nav a{color:#ffffff; margin:0 5px;}
.t-top-nav a:last-child{ margin-right:0;}
.t-footer-nav{width:480px; margin:0 auto;}
/* 查找 */
.search{
	margin:15px 0 10px 0px;
	margin-left:-4px;
	margin-right:-4px;
	position:relative; 
	text-align:center;
	height:63px;
	_overflow:visible;
	_zoom:1;
	background:url(http://t.cnfol.com/v2.0/images/bg-search.jpg) no-repeat;
	width:265px;
}
.search .textbox{width:175px;  height:23px; }
.search .btn{ margin-left:-3px;}
.search .textbox,.search .btn{ margin-top:15px;}

.header-search{ position:relative;width:503px; height:35px; }
.header-search .hs-links{ 
	padding:5px 5px 5px 0px;
	*padding:3px 0px 3px 0px;
	position:absolute;
	right:0px;
	top:0;
	text-align:left;
	font-size:14px;
}
.header-search .hs-links a{ color:#fff; padding:0 2px; }
.header-search .hs-links .stextbox{ width:180px; height:23px; line-height:23px; border:1px solid #7fc3fb; background:#ddeefd; color:#95b0d9; font-size:12px;}
.header-search .hs-links .search-btn{ margin:0 5px 0 -4px; opacity:0.9; filter:alpha(opacity=90);}
.header-search .hs-bg{
	 background:url(http://t.cnfol.com/v2.0/images/iconPng.png) left top no-repeat;
	}
.header-search .hs-links,
.header-search .hs-bg
{width:503px;height:35px; }


.searchbox{ background:#deeefa; padding:10px; }
.searchbox .sbox{ background:url(http://t.cnfol.com/v2.0/images/bg_coloect.gif) left -68px repeat-x;width:400px; height:27px; line-height:27px; border:1px solid #afc6dc; color:#999;}
.searchbox .sbtn{ margin-left:5px;}
/* 推荐 */
.commend,
.commend a{color:#fff;}
.commend { margin:10px 0 0 15px;*margin:10px 0 15px 15px; _margin:10px 0 0 15px; padding-bottom:-10px; zoom:1; }
.commend:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.commend .imgs dd{ overflow:hidden; width:48px; height:15px;}
.commend .imgs dd a{height:18px;height:18px;display:inline-block;}
.commend .imgs dd a:hover{ text-decoration:underline;}
.commend .top{ margin-right:15px; *margin-bottom:10px;}
.commend ul{ text-align:center;}
.commend .top a{  color:#dcefff; }
.commend .top a:hover{color:#fff; text-decoration:underline;}
.my-commend{ margin-bottom:15px; margin-top:15px;}
.my-commend a:hover{ text-decoration:underline; }
.my-commend .top{ *margin-bottom:15px;}
/* 热门top */
.hot-top { margin-top:15px; color:#fff;}
.hot-top a:hover{ text-decoration:underline;}
.hot-top span,
.hot-top-list-th .right,
.hot-top-list-nor .right
{ font-family:Tahoma;}
.hot-top h3{ margin-bottom:15px;}
.hot-top dl {clear:both;overflow:hidden;_overflow:visible;_zoom:1;  margin-bottom:10px;}
.hot-top dl dt{width:17px; height:16px; text-align:center;  margin-right:15px;font-family:Tahoma; padding-top:1px; }
.hot-top-list-th dt{ background:#ff6c00;font-weight:bold;}
.hot-top-list-nor dt{ background:#969595; font-weight:normal;}
.hot-top-list-nor dd{ color:#dcefff;  }
.hot-top-list-th a{color:#fff;}

/* 热门话题 */
.hot-talk{ }
.hot-talk dl{ clear:both;overflow:hidden;_overflow:visible;_zoom:1; }
.hot-talk dl a{color:#666; line-height:30px;}
.hot-talk-news{ font-size:16px;font-weight:bold;height:40px; margin:-7px 0 1px 0;}
.hot-talk-day{ font-size:14px; height:40px; margin-bottom:5px;}
.hot-talk-week{ font-size:12px; height:30px;}
.hot-talk-news dt{ background:url(http://t.cnfol.com/v2.0/images/iconPng.png) -479px -198px no-repeat; }
.hot-talk-news dd{ margin-right:25px; _margin-right:22px; }
.hot-talk-day dt{ background:url(http://t.cnfol.com/v2.0/images/iconPng.png) -479px -248px no-repeat; }
.hot-talk-day dd{ margin-right:20px; _margin-right:17px; }
.hot-talk-week dt{ background:url(http://t.cnfol.com/v2.0/images/iconPng.png) -479px -129px no-repeat;  }
.hot-talk-week dd{margin-right:11px; _margin-right:9px; }
.hot-talk-news dt,
.hot-talk-day dt,
.hot-talk-week dt
{
	 width:24px; 
	 height:34px;
	 margin-right:15px;
     background-repeat:no-repeat;
}
/* 大家正在说什么 */

.hot-talking{ margin-top:0; font-size:14px;}
.hot-talking .cl img{width:48px; height:48px;}

.hot-talking .tags{background:url(http://t.cnfol.com/v2.0/images/bg_coloect.gif) left top repeat-x;border:1px solid #d2e2fa;margin:-1px; position:relative; font-size:14px;}
.hot-talking .tags a{color:#2B4A78; margin:0px 5px;}
.hot-talking .tags .current{margin:-1px; margin-left:0; font-weight:bold; background-color:#fff;border:1px solid #d2e2fa; border-bottom:1px solid #fff; position:relative;height:35px;left:-1px;}
.hot-talking .inners{ color:#666666;  padding:0; *margin-top:-10px; }
.hot-talking span{ font-weight:bold;color:#2b4a78;}
.hot-talking .cols{ padding:10px 0 15px 0;}
.hot-talking .cols .cl{ margin:5px 10px 0 0; text-align:center; background:#a6c6e6; color:#fff; width:48px; height:48px;  font-size:12px; font-weight:bold; }
.hot-talking .cols .cl div{ margin-top:10px;}
.hot-talking .cols .cc{ line-height:25px; overflow:hidden;}
.hot-talking-time{ word-spacing:0.25em; font-size:12px; margin-top:0; }
.hot-talking-time .left{width:276px; overflow: hidden;white-space: nowrap;-o-text-overflow: ellipsis;_text-overflow: ellipsis; *text-overflow: ellipsis;}
.hot-talking-time ,.hot-talking-time a{ color:#999999; font-size:12px;}
.hot-talking-time span{ color:#2b4a78;font-weight:normal; }
.hot-talking-time .links{ color:#999; float:right; font-size:12px; }
.hot-talking-time .links a{color:#2b4a78; margin:0 5px;}
.hot-talking-time .links .l-last{margin-right:0px;}
.hot-talking-b{ white-space:0.5em;font-size:12px;}
.hot-talking-b span{ color:#2b4a78; font-weight:normal;}
.hot-talking-time .dir{ color:#2b4a78; font-weight:normal;}

.rtactionBox{color:#999;}
.rtactionBox a{ font-size:12px; font-weight:normal; color:#2B4A78; font-family:"宋体";}
.rtactionBox,
.rtactionBox a{ font-size:12px;}

.htauto{ /*height:auto;;*/}
.htauto .inners{ /*height:800px;*/}
.martop0{ margin-top:0;} 
.martop15{ margin-top:15px;}

.inline{ display:inline-block; *display:inline; zoom:1;}

.t-menu { margin:25px;}
.t-menu .t-inner{ z-index:0;margin-top:-1px;   border-top:1px solid #d2e2fa; padding-top:40px;}
.t-menu .tags{height:auto;z-index:1;opacity:1; }
.t-menu .tags li{ margin-right:7px;background:url(http://t.cnfol.com/v2.0/images/bg_coloect.gif) left top repeat-x;border:1px solid #d2e2fa; padding:0 10px;line-height:33px; height:33px; margin-bottom:4px; *margin-bottom:0;}
.t-menu .tags .current{ background:#fff;border-bottom:1px solid #fff; font-weight:bold;}

.t-menu-myboard .tags li{ height:33px; width:65px; line-height:33px; margin-bottom:-4px;}
.t-menu-myboard .t-inner{*margin-top:-2px;_margin-top:-1px;}
/* 手机微博 */
.t-mobile h3{ color:#666; font-size:12px;margin-bottom:10px; }
.t-mobile .title-sub-line{color:#333; margin-bottom:15px; font-size:14px; }
.t-mobile .cl,.t-mobile .cr{width:165px; }
.t-mobile .cl p{ padding-right:5px;}
.t-mobile .cr p{ padding-left:5px;}
.t-mobile .cc p{padding:0 5px;}
.t-mobile .cc{ margin:0 170px; }
.t-mobile p{ line-height:23px;font-size:12px; margin-bottom:10px; height:130px;  color:#999;}
.t-mobile p a{ color:#2b4a78}
/* 注册 */
.reg{ text-align:center; margin-top:15px;}
/* contact */
.contact p{ margin:10px 0; color:#a9cae6; line-height:22px; }
.contact { margin-right:10px;}
/* 留言 */
.leaveword{ color:#999; background:#f6f5f5; padding:15px;font-size:12px;}
.leaveword h3{color:#666; margin-bottom:5px;font-size:16px;}
.leaveword .textarea{ border:5 solid #ccc; padding:5px; width:500px; height:64px; margin-bottom:10px; color:#999;  }
.leaveword .cols{ }
.leaveword .cols .cr{ margin-top:-10px;}
.leaveword .cols .cr span{ font-family:Constantia; font-size:27px;}
.leaveword .cols .cr .button{ background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -122px bottom no-repeat; border:none; color:#fff; width:76px; height:30px; margin-left:10px; font-weight:bold; font-size:14px;}
.leaveword .cols .cr .button:hover{ background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -198px bottom no-repeat;}
/* 信息提示栏 */
.msgbar{ background:#ffffde; border:1px solid #cccccc; color:#666666; padding:5px 0; text-align:center; font-size:12px; margin-bottom:0px;} 
.msgbar a{ color:#2b4a78;}
/* 底部更多 */
.morebar{ background:#f6f8fa; border:1px solid #cccccc; color:#666666; padding:5px 0; text-align:center; font-size:12px; margin:20px 0 30px 0;}
.morebar a{ color:#666; display:block; padding-right:10px;}
.morebar a img{ margin-left:5px;}


.steps{width:637px; margin:0 auto; line-height:25px; overflow:hidden; font-size:12px; color:#666;}
.steps h3{ font-size:16px; color:#000;}
.steps .textbox,
.steps .textarea{border:1px solid #ccc; }
.steps .step{ font-size:14px; border-bottom:1px solid #ccc; margin:30px 0 30px 0; height:35px;  font-weight:bold;}
.steps img{ margin-right:10px;}
.steps .label{width:80px;*width:70px; font-weight:bold;  display:block; float:left; }
.steps .textbox{width:307px; height:21px; line-height:21px;}
.steps .textarea{width:473px; height:70px; color:#666;}
.steps .btn-nor{ margin:10px 0 15px 0; display:block;background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -539px bottom no-repeat; width:75px; height:30px; text-align:center; line-height:30px;}
.steps .s-inner li{ margin-bottom:15px;}
.steps .s-inner  .rem{ margin:0px;}

.steps .xts div,
.steps .xts a
{ font:12px; font-weight:bold; color:#333;}
.steps .xts .a-color{color:#2b4a78; font-weight:normal;}
.steps .xts .a-color:hover{ text-decoration:underline;}
.steps .xts ul li{ margin:0px;}
.steps .xts ul li img{ margin-top:10px;}

.trybox{border:1px solid #cccccc; background:#efefef;text-align:center; font-size:12px; width:200px;}
.trybox h3{ font-weight:normal; margin:5px auto 0 auto; font-size:12px;}
.trybox .tb-inner{ margin:5px;  line-height:60px; height:60px; background:#fff;}
.trybox .tb-inner img{ margin-right:5px;}
.trybox .tb-inner a{ color:#2b4a78; display:inline-block; *display:inline; zoom:1;width:157px; height:39px; _margin-top:15px;}

.moreplay-nav{ background:#fafcfe;border:1px solid #cccccc; width:115px; margin:0 10px 0 0; height:670px; float:left; }
.moreplay-nav a{ font-size:14px; border-bottom:1px dashed #cccccc;  height:34px; line-height:34px; padding-left:25px; display:block;position:relative;}
.moreplay-nav a.cur{ color:#2b4a78; font-weight:bold;}
.moreplay-nav a.cur img{ right:-12px; position:absolute; top:11px;}

.moreplay{ color:#666; float:right; width:606px;}
.moreplay li{ border-bottom:1px dashed #ccc; margin-bottom:15px; padding-bottom:7px;}
.moreplay h3{ color:#333;}
.moreplay .cr a{ font-size:12px; background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -274px bottom no-repeat; width:95px; height:28px; line-height:28px; text-align:center;color:#fff; font-weight:bold; display:block; margin-bottom:10px; }
.moreplay .cr a:hover{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -369px bottom no-repeat; text-decoration:none;}
.moreplay .cc{ margin:0 110px; line-height:25px;}
.moreplay .cc p{ font-size:12px;}
.moreplay .cc span{ color:#333;}

.find{ margin-top:15px; margin-bottom:30px; color:#666;}
.find .inners{clear:both}
.find .selectall{ margin-top:15px;}
.find-bar { 
overflow:hidden;
*zoom:1;
padding:1px;
margin:-1px;
*margin-top:10px;
background:url(http://t.cnfol.com/v2.0/images/bg_coloect.gif) left -94px repeat-x;
border:1px solid #d2e2fa;
border-top:none;
height:137px;
}
.find-bar .searchbox{ margin-top:5px;}
.find-bar .searchbox .sbox{width:370px;}
.find-controls{ margin:15px; }
.find-controls select{ color:#96918e;}
.find-controls,
.find-controls label{ font-size:12px; color:#444; font-weight:normal; }
.find-controls label{ display:inline-block; vertical-align:middle; *margin-bottom:10px;  zoom:1;}
.find-controls-item{ margin-right:5px;}
.find-nickname{ font-weight:bold; margin:15px 15px 0 15px; display:block;}
.find-res{ color:#333; font-weight:bold; display:block; margin-top:20px; font-size:14px;}
.find .find-item{ font-size:12px;zoom:1; padding:15px 0 12px 0;}
.find-item p{ line-height:20px;}
.find-item:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.find-item .cc{ margin:0 80px 0 80px;*margin:0 80px 0 90px;}
.find-item:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.find-item .fi-name{color:#2b4a78; font-weight:bold;  font-size:14px;}
.find-item .fi-name a{ color:#2b4a78;}
.find-item .fi-count{ word-spacing:0.5em; margin:7px 0; line-height:normal;}
.find-item .fi-count span{color:#999; font-weight:normal;}
.find-item .fi-cb{ float:left; padding:17px 10px 0 0;}

.fanslist ul li .find-item-opts{margin:0;}
.find-item-opts{ font-size:12px; }
.find-item-opts li{ margin-bottom:5px; }
.find-item-opts .more{ margin:0;}
.find-item-opts .fio-cur,
.find-item-opts .fio-nor,
.find-item-opts .fio-more,
.find-item-opts .fio-more-show
{ border:none; width:62px; height:19px; line-height:19px;color:#666; padding-top:-3px; *padding-top:0;display:block; text-align:center;}
.find-item-opts .fio-cur{ background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -689px bottom no-repeat;color:#fff;}
.find-item-opts .fio-cur:hover{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -751px bottom no-repeat;color:#fff; text-decoration:none;}
.find-item-opts .fio-nor{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -813px bottom no-repeat;}
.find-item-opts .fio-nor:hover{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -875px bottom no-repeat;text-decoration:none;}
.Ex,
.find-item-opts .fio-more{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -1074px bottom no-repeat; }
.find-item-opts .fio-more:hover{text-decoration:none;}
.find-item-opts .Ex{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -1012px bottom no-repeat;text-decoration:none;}
.find-item-opts .more .inner{ margin:0px;}


/*   表单  */		
.basicinfo{ padding-left:40px; font-size:12px; line-height:26px;  margin-bottom:30px;*margin-bottom:10px;}
.basicinfo-sp{padding-left:20px;}
.basicinfo .hr{ margin:0px; padding:0px;}
.basicinfo hr{ border-top:1px solid #ccc; margin:-5px auto 20px 90px; *margin:-10px auto 15px 90px; position:relative;}
.basicinfo-item{ margin:0 0 15px 0;}
.basicinfo-item  a{color:#2b4a78;}
.basicinfo-item,
.basicinfo-item select
{ color:#666666;}

.basicinfo-item dt{width:80px;  text-align:right; margin-right:10px; font-weight:bold;}
.basicinfo-item dt,
.basicinfo-item dd{ float:left; overflow:hidden;}
.basicinfo-item .bi-txt{width:373px;height:22px; line-height:20px; padding:0 3px;border:1px solid #ccc; color:#666666; }
.basicinfo-item .bi-area{width:467px; height:70px; border:1px solid #ccc;color:#666666; }
.basicinfo-item .bi-sel{width:105px; height:20px;color:#666666;  }
.basicinfo-item li .bi-time{width:63px; height:20px; }
.basicinfo-item .sbtn{ font-weight:bold; }
.basicinfo-item-upd{ line-height:normal;margin-left:10px; float:left;}
.basicinfo-item-upd a{ margin-bottom:10px; display:block; }


.fanslist{ margin:15px; color:#666; }
.fanslist .t-inner{ padding:0; }
.fanslist .t-inner-mend{*margin-top:-2px;}
.fanslist .t-inner .inners{*margin-top:-10px;}
.fanslist .tags{ float:left; }
.fanslist .tags a{ color:#1b397c}
.fanslist .tags .current{ font-weight:bold;color:#1b397c;}
.fanslist .tags span{ color:#999; font-weight:normal;}
.fanslist .inners ul{ margin-bottom:10px;}
.fanslist .inners .find-item{ padding:15px 0;}
.fanslist .fl-back{ float:right; font-size:12px; color:#666; margin-top:12px;}
.all{ margin:0 5px 0 0; }
.all-label{font-size:12px; color:#2b4a78; margin-top:0;}
.doall{ text-align:center; margin:0 0 15px 0;}


.hotbaord{ font-size:12px; margin:15px;}
.hotbaord .hb-t{ }

.hotbaord .hb-t-l{ float:left; font-size:16px;}
.hotbaord .hb-t-l span{ font-family:Tahoma, Geneva, sans-serif; font-weight: normal;}
.hotbaord .hb-t-r{ float:right; color:#999; line-height:20px;}

.hotlist { padding-right:15px; margin:10px 15px 0 0; width:169px; float:left;}
.hl-last{ margin:10px 0 0 0px; padding:0px; float:right;}
.hotlist .hl-t{}
.hotlist .hl-t .hl-t-l{ float:left; font-weight:bold;}
.hotlist .hl-t .hl-t-r{ color:#999999; float:right;}

.hotlist-item{border-bottom:1px dashed #ccc; padding:15px 0; }
.hotlist-item .hi-t{background:#ff6c00;}
.hotlist-item .name{width:55px;*width:60px; zoom:1;}
.hotlist-item .count{
	text-align:center;
	color:#999;
	font-family:Tahoma, Geneva, sans-serif; 
	font-size:12px;
	vertical-align:top;
	text-align:center;
	width:35px;
	*width:38px;
}
.hotlist-item .pic{
	width:54px;
	text-align:center;
	color:#999;
}
.hotlist-item dt,
.hotlist-item dd{vertical-align:middle;}
.hotlist-item dt{ background:#969595; color:#fff;width:16px; height:16px; line-height:16px; text-align:center; font-weight:bold;}

.w-40{width:40px;}

.hotlist-itemll{ display:block; background:url(http://t.cnfol.com/v2.0/images/iconPng.png) -265px -184px no-repeat; padding-left:14px; margin:4px 0 0 0; color:#2b4a78;}
/* 分页导航 */
.pager{ float:right; color:#666; margin:10px 0 30px 0;}
.pager a{border:1px solid #e7e7e7; float:left; margin-right:5px; text-align:center; display:block;color:#666; background:url(http://t.cnfol.com/v2.0/images/bg_coloect.gif) left -36px repeat-x; width:auto; padding:0 5px; height:16px; font-size:12px; line-height:17px;}
.pager .pager-btn{width:48px;}
.pager a:last-child{ margin-right:0;}
.pager a:hover { text-decoration:none;}
.pager a.p-cur{background:#429bf3; font-weight:bold;color:#fff; background:url(http://t.cnfol.com/v2.0/images/bg_coloect.gif) left -52px repeat-x; border:1px solid #58a8f5;}
.pager a.p-more{ border:none; background:none; line-height:23px;}

.hotop{ color:#333333; margin:15px; margin-bottom:0; font-weight:bold; border-bottom:1px solid #ccc; padding-bottom:10px;}
.hotop .ht-l{ float:left;}
.hotop .ht-r{ float:right; color:#2b4a78; }
.hotop .ht-r a{ color:#2b4a78;font-size:14px;}
.hotop .ht-r span{ font-family:Tahoma, Geneva, sans-serif; font-weight:normal;}

.sinfo-login{ line-height:25px; font-size:12px;}
.sinfo-login h3{ margin:0; padding:0;}
.sinfo-login a{ font-size:14px; font-weight:bold; color:#2b4a78; margin:0 5px;}

.scroll{ height:620px; position:relative; overflow:hidden;width:500px;}
.scroll .s-lay{ position:absolute;  bottom:0;  background:url(http://t.cnfol.com/v2.0/images/opacity.png) repeat-x bottom; width:100%; height:35px;}

.single .cc{ margin-left:108px;}
.single .cl img{width:96px; height:96px;}
.single h3{ color:#2b4a78; margin:0px;}

.say-inner{}
.say-inner .say-uname{ color: #2B4A78;font-weight: bold;font-size:14px;}
.say-inner a:hover{ text-decoration:underline;}
.say-inner .say-smg,
.say-inner .say-smg a{color: #666666;font-weight:normal;font-size:14px;}

.hauto{ height:auto;}
.rpDel a{color:#2b4a78;}
/* ************ elements ************* */
/* ==== 按扭样式 ==== */
.reg-btn{width:215px;height:42px;  background:url(http://t.cnfol.com/v2.0/images/iconPng.png) left -114px no-repeat; border:none;display:block;}
.reg-btn:hover{ background:url(http://t.cnfol.com/v2.0/images/iconPng.png) left -156px no-repeat;}
.login-btn{width:75px;height:29px; background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -1678px bottom no-repeat; border:none;}
.search-btn{width:42px; height:25px;   background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) right bottom no-repeat; border:none;}
.basicinfo-item .btn-nor{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -539px bottom no-repeat; width:75px; height:28px; line-height:28px;display:block; text-align:center;color:#333;float:left;margin-left:10px;}
.basicinfo-item .btn-nor:hover{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -614px bottom no-repeat; text-decoration:none;}
.sbtn{ background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -464px bottom no-repeat;width:75px; height:28px; border:none; color:#fff; line-height:28px;}
.blue-btn{ background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) left bottom no-repeat; border:none; width:122px; height:30px; color:#fff; font-weight:bold; font-size:14px;}
.a{ background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -1587px bottom no-repeat; width:91px; height:28px; display:block; margin:20px auto 30px auto;}

.basicinfo-item .save-btn{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -937px bottom no-repeat;width:75px; height:28px;display:block; text-align:center;color:#fff; line-height:28px; font-weight:bold;float:left;}
.basicinfo-item .save-btn:hover{ text-decoration:none;background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -464px bottom no-repeat;width:75px; height:28px; border:none; color:#fff; line-height:28px;}
/* ==== 文本样式 ==== */
.textbox{border:1px solid #6ea9dc; color:#999; height:25px; line-height:25px; padding:0 3px;}

/* ==== 线 ==== */
.blue-hor-line{border-top:1px solid #3779be;border-bottom:1px solid #77ade1; margin:0 10px;}
.blue-ver-line{border-left:1px solid #3779be;border-right:1px solid #77ade1; width:0px; height:35px; float:left;}
.title-sub-line{border-bottom:1px solid #ccc; padding-bottom:10px;}
.r-line{border-right:1px solid #ccc; height:100px; width:1px;}
.l-line{border-left:1px solid #ccc;height:100px; width:1px; margin-top:30px;}
.hor-line{ border-top:1px solid #ccc;}
.ver-dashed{ border-right:1px dashed #ccc;}
/*=======2011 7 月 5号 送鲜花========*/
/******************* 弹出窗开始 *******************/
.DBg, .DW
{
    position: absolute;
    display: none;
	z-index:10;
}

/***** 半透明背景： *****/
.DBg
{
    left: 0;
    top: 0;
    background: #000;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

/***** 对话框： *****/
.DW
{
    width: 400px;
    text-align: left;
}

/***** 对话框标题： *****/
.DW h4
{
    color: #000;
    font: 600 14px/20px "";
    height:28px;
	line-height:28px;
	font-weight:normal;
	font-size:12px;
	padding:5px;
	padding-left:20px;
	padding-bottom:20px;
	background:url(http://t.cnfol.com/v2.0/images/replay_bg.png) center top no-repeat;
}

/***** 对话框标题右方的关闭铵钮： *****/
.DW h4 a.Cls
{
    display: block;
    width: 10px;
    height: 10px;
    background: url(http://t.cnfol.com/v2.0/images/iconPng.png) no-repeat -265px -274px;
    float: right;
	margin-top:6px;
	margin-right:6px;
	font-size:0;
	line-height:0;
}
.DW h4 a.Cls:hover
{
	z-index:10;
	background: url(http://t.cnfol.com/v2.0/images/iconPng.png) no-repeat -265px -263px;
}
/***** 对话框内容： *****/
.Ctt
{
    padding:20px;
	padding-top:0;
	background:url(http://t.cnfol.com/v2.0/images/replay_bg.png) center bottom no-repeat;
}
/******************* 弹出窗结束 *******************/
a.Btn
{
    display: inline-block;
    height: 14px;
    padding: 7px 14px 6px 14px;
    font: 600 14px/14px "";
    text-align: center;
}
.Ctt a.Btn
{
    background: #f6ad36;
    color: #fff;
    margin: 24px 0 0 134px;
}
a.Btn:hover
{
    color: #ff9;
    filter: alpha(opacity=86);
    opacity: 0.86;
}

/*=====回复=====*/
.textareaRp{width:355px;height:66px;overflow:auto;color:#999999;font-size:12px;}
.RpWd {color:#999999;font-size:12px;height:30px;padding:13px 0;}
.RpWd span{font-family: Constantia;font-size: 27px;}
.RpWd input{float:right;background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -122px bottom no-repeat; border:none; color:#fff; width:76px; height:30px; margin-left:10px; font-weight:bold; font-size:14px;}
.RpWd label{float:left;}
.blogRp{padding:10px;border:#cccccc solid 1px;height:100%;overflow:hidden;font-size:12px;margin-bottom:5px;padding-bottom:5px;}
.blogRpx{padding:0;border:0;}
.Avata{float:left;display:block;}
.blogRp span{display:block;float:left;width:280px;margin-left:10px; background:#fff;}
.blogRp span a{font-weight:bold;font-size:14px;color:#2b4a78;display:block;margin-bottom:3px;}
.blogRp span p{color:#999; line-height:150%;}
.Ctt_x { text-align:center;padding-top:5px;}
.Ctt_x .zhuanfa{margin-right:10px;background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -122px bottom no-repeat; border:none; color:#fff; width:76px; height:30px; margin-left:10px; font-weight:bold; font-size:14px;}
.Ctt_x .quxiao{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -539px bottom no-repeat; width:75px; height:28px; line-height:28px;border:0;text-align:center;color:#333; }
/*==========主题更换===========*/
.selectTheme{width:500px;float:left;margin-right:35px;}
.reviewTheme{width:175px;float:left;}
.selectTheme hr , .reviewTheme hr{margin:0; position:static; line-height:0;font-size:0;padding:0;}
.selectTheme ul{padding-top:15px; }
.selectTheme dl{clear:both;padding-top:5px;}
.selectTheme ul li{float:left;margin-right:10px;margin-bottom:10px;}
*body .selectTheme ul li{margin-bottom:0;}
.selectTheme dl dt{display:block;height:27px; background:#fff url(http://t.cnfol.com/v2.0/images/bg_coloect.gif) left -235px repeat-x;}
.selectTheme dl dt a{display:inline-block;width:95px;height:24px; line-height:24px;background:#fff; text-align:center;
border:#b4afa9 solid 1px; background:#eaeaea;margin-right:6px;
}
*body .selectTheme dl dt a{height:25px; line-height:25px;}
.selectTheme dl dt a:hover{text-decoration:none;}
.selectTheme dl dt a.CM
{
  border:#b4afa9 solid 1px;
  border-bottom:none;
	background:#fff;
	margin-bottom:0;
}

.selectTheme dl dt a.curentA{left:110px;border:#b4afa9 solid 1px; background:#eaeaea;}
.selectTheme dl dd{padding-top:15px;display:none;}
.selectTheme dl .changeColor{padding-top:0;}
.themeImg , .noThemeImg{margin-right:10px;}
.themeImg img , .noThemeImg img{border:#cccccc solid 1px;}
.changeImg span{margin-right:10px;}

.vipInfo{border:#e8e8e8 solid 1px;margin-top:10px;padding:15px; background:#5894d2;}
.vipInfo{color:#dcefff;}
.vipInfo ul li b{font-weight:normal;color:#fff;}
.vipInfo ul li{line-height:150%;margin-bottom:5px;}
.vipInfo ul {border-bottom:#3b7dc1 solid 1px;padding-bottom:10px;}

.myFansInfo{border-top:#75abe0 solid 1px;border-bottom:#3b7dc1 solid 1px;padding:10px 0;height:100%;overflow:hidden;}
.myFansInfo span{display:block;float:left; line-height:180%;padding:0 8px; text-align:center;border-left:#75abe0 solid 1px;border-right:#3b7dc1 solid 1px;}
.myFansInfo .myFansInfo1{padding-left:0;border-left:0;}
.myFansInfo .myFansInfo3{border-right:0;}
.myFansInfo span b{font-size:14px;}

.vipInfo p{border-top:#75abe0 solid 1px;padding-top:10px; line-height:150%;color:#a9cae6;}
.vipInfo p b{font-weight:normal;color:#fff;display:block;padding-bottom:5px;}

.divH10{height:10px;font-size:0;width:100%;line-height:normal; clear:both}

.themeBtn{padding-left:150px;padding-top:20px;}
.themeBtn .save-btn{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -937px bottom no-repeat;width:75px; height:28px;display:block; text-align:center;color:#fff; line-height:28px; font-weight:bold;float:left;}
.themeBtn .save-btn:hover{ text-decoration:none;background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -464px bottom no-repeat;width:75px; height:28px; border:none; color:#fff; line-height:28px;}
.themeBtn .btn-nor{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -539px bottom no-repeat; width:75px; height:28px; line-height:28px;display:block; text-align:center;color:#333;float:left;margin-left:10px;}
.themeBtn .btn-nor:hover{background:url(http://t.cnfol.com/v2.0/images/btnColect.gif) -614px bottom no-repeat; text-decoration:none;}
/*===============*/
.hotop .favoriteNum{color:#999999;font-weight:normal;font-size:12px;}
.messageCr span{ font-family:Constantia; font-size:27px;}
.messageB{float:left;}
.messageCr{float:right;color:#999999;font-weight:normal;}
.messageH3{height:30px;}
.messageH3 b , .messageH3 label{height:30px; line-height:30px;}
.messageH3 label{font-size:12px;}
.messageH3 select{width:104px;}

.messageDl dt{background:url(http://t.cnfol.com/v2.0/images/bg_coloect.gif) left top repeat-x;border:1px solid #d2e2fa;margin:-1px; position:relative;height:35px; line-height:35px;margin-top:15px;}
.messageDl dt a{color:#2b4a78;border-right:#d2e2fa solid 1px;position:absolute;display:block;width:110px;height:35px; text-align:center; line-height:35px;float:left;}
.messageDl dt a:hover{ text-decoration:none;}
.messageDl dt a.CM{ background:#fff;height:36px;bottom:-1px; line-height:36px;font-weight:bold;}
*body .messageDl dt a.CM{bottom:-2px;}
.messageDl dd{display:none;}

.say-smg b{font-weight:normal;color:#999;}
/*===============*/
.settings-theme .inputs{float:left;width:250px;height:180px;}
.settings-theme .inputs label{display:block;_display:inline;float:left;width:90px;margin:0 5px 5px 0;color:#999;}
.settings-theme .inputs input{display:block;_display:inline;float:left;width:90px;margin:0 10px 5px 0;padding:5px 10px;text-transform:uppercase;border:1px solid #fff;}
.settings-theme p.act{width:500px;float:left;*float:none;margin-left:0;text-align:center;}
.settings-theme .show{margin-bottom:-1px;}
/*====*/
.dashed-subline {border-bottom:1px dashed #cccccc}
.dashed-supline {border-top:1px dashed #cccccc}
.solid-subline {border-bottom:1px dashed #cccccc}
.solid-supline {border-top:1px dashed #cccccc} 

/* 
author : czy
name   : CSS Reset
date   : 2011-05-16
qq     : 274142680@qq.com
ver    : 1.0.0.0
*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,button,input,a{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 100%; font-weight: normal; font-style: normal; }
ul,ol,dl{ margin:0;padding:0; list-style:none; }
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
hr{ height:0px; border-width:1px;}
button,input[type="reset"],input[type="button"],input[type="submit"] {cursor:pointer; }
/* Opera requires 1px of padding to render with contemporary native chrome */
button,input[type="checkbox"],input[type="radio"],input[type="reset"],input[type="submit"] {padding:1px;}
/*  fonts  */
body{font:12px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;font:inherit;}
/*  others  */
ins {text-decoration: none;}
del {text-decoration: line-through;} 
img,input,a,label{ vertical-align:middle;}
hr{height:1px;border:none;}
/* make IE scale images properly */
img {-ms-interpolation-mode:bicubic;}
/*  自定义初始化  */
a { color:#000; text-decoration: none;cursor:pointer; }
a:hover { text-decoration: none;  }
a:active,a:visited {/* color:#005a9c; */}
body{color:#333; margin:0 auto;}
div,li,dd,dt,q,b,p,span,a,h1,h2,h3,h4,h5,h6,legend{ word-break:break-all;}/* 英文自动换行 */


/* 
author : czy
name   : CSS Grids
date   : 2011-05-16
qq     : 274142680@qq.com
ver    : 1.0.0.0
*/
/*  表格  */
table.cell-border td {padding:10px;border:1px solid #999;}
/*  常用样式  */
.pad {padding:10px;}
.mar {margin:10px;}
.center {text-align:center;}
.e-clear {display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.clear{*zoom:1;}
.clear:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
/*  字间距  */
.ws {word-spacing:0.5em;}
.lh25 {line-height:25px;}
.lh20 {line-height:20px;}
/*  GRIDS  */
.line:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.lastUnit:after {
	content:" . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
	visibility:hidden;
	clear:both;
	height:0 !important;
	display:block;
	line-height:0;
}
.line {*zoom:1;}
.left {float:left;display:inline;_margin-right:-3px;}
/* IE6 */
.right {float:right;display:inline;_margin-left:-3px;}
/* IE6 */
.size1of2,
.size1of3,
.size2of3,
.size1of4,
.size3of4,
.size1of5,
.size2of5,
.size3of5,
.size4of5,
.size1of6,
.size5of6
{ float:left;}

.size1of1 {float:none;}
.size1of2 {width:50%;}
.size1of3 {width:33.33333%;}
.size2of3 {width:66.66666%;}
.size1of4 {width:25%;}
.size3of4 {width:75%;}
.size1of5 {width:20%;}
.size2of5 {width:40%;}
.size3of5 {width:60%;}
.size4of5 {width:80%;}
.size1of6 {width:16.666666%;}
.size5of6 {width:83.333333%;}
.lastUnit {
	display:table-cell;
	*display:block;
	*zoom:1;
	float:none;
	_left:-3px;
	_margin-right:-3px;
	width:auto;
}

/*  列表  */
dl.float dt,dl.float dd{ float:left; }
/*  links  */
.links { zoom:1;}
.links:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.links li {float:left;height:100%;text-align:center;}
.links .l-last a,
.links .l-last{ margin-right:0;} 
.links a {height:100%;cursor:pointer;margin:0 10px;_display:inline;}
.links a:hover {}

.mar0 a{margin:0;}
/*  Cols  */
.cols{zoom:1;}
.cols:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.cols .cl {float:left;}
.cols .cr {float:right;}
.cols .cc {*overflow:hidden;_overflow:visible;_zoom:1;}
/*  pop  */
.pop {
	overflow:visible;
	margin:10px 20px 20px 10px;
	background-position:left top;
}
.pop .inner {
	right:-10px;
	bottom:-10px;
	background-position:right bottom;
	padding:0 10px 10px 0;
}
.pop .tl,.pop .br {display:none;}
.pop .bl {bottom:-10px;}
.pop .tr {right:-10px;}
/*  mod  */
.mod {/* box css */}
.mod .hd {/* box-hd */ height:30px;}
.mod .hd .tl,.box .hd .tr,.box .hd .tc {height:100%;}
.mod .hd .tl {float:left;_margin-left:-3px;background-repeat:no-repeat;}
.mod .hd .tr {float:right;_margin-right:-3px;background-repeat:no-repeat;}
.mod .hd .tc {
	overflow:hidden;
	_overflow:visible;
	_zoom:1;
}
.mod .bd {/* box-bd */}
.mod .ft {/* box-ft */}
.mod .ft .bl,.box .ft .br,.box .ft .bc {height:100%;}
.mod .ft .bl {float:left;_margin-left:-3px;background-repeat:no-repeat;}
.mod .ft .br {
	float:right;
	_margin-right:-3px;
}
.mod .ft .bc {overflow:hidden;_overflow:visible;_zoom:1;}
/*  分页  */
.datapager{ margin:10px auto;  font-size:14px; }
.datapager a
{
    float:left; 
    text-align:center;
    height:20px;
    line-height:20px; 
	margin-right:5px;
	display:block;
    overflow:hidden;
	text-decoration:none;
}
.datapager span{ display:block; float:left; line-height:26px; padding:0 10px; }
.datapager a.normal,.datapager a.current{width:20px;}
.datapager a.prev, 
.datapager a.next,
.datapager a.first,
.datapager a.last
{
    width:50px;
}
.datapager a:hover{/* border:1px solid #999;background:#7E93C2; color:#fff; */text-decoration:none;  }
.datapager a.disable,.datapager a.disable:hover{color:#C8C8C8; border-color:#C8C8C8; background:none;}
/*   tab  */		
.tab,.tab .inners li {}
.tab .tags{zoom:1;cursor:pointer;height:35px; line-height:35px;}
.tab .tags:after{content:"";display:block;height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}
.tab .inners li { }
.tab .tags li {
	text-align:center;
	float:left;
	cursor:pointer;
	padding:0 10px;
	color:#304771;
	position:relative;
	font-size:14px;
	
}

/*   对话框  */	
.dialog {
	width:400px;
	display:none;
	background:#fff;
	border:1px solid #333;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	overflow:hidden;
	-webkit-box-shadow:2px 2px 10px #333;
	-moz-box-shadow:2px 2px 10px #333;
	box-shadow:3px 3px 10px #333;
}
.dialog .title-bar {
	height:30px;
	line-height:30px;
	/* background:#666;*/
}
.dialog .title-bar a {
	display:block;
	float:right;
	margin-right:10px;
}
.dialog .content {}
.dialog .bottom {text-align:right;}
/*   SideNav  */
.side-nav {padding:0 10px;width:200px;}
.side-nav a {height:30px;line-height:30px;display:block}

/*  Artical  */
.artical {margin:10px;font-size:12px;}
.artical h1 {color:red;font-size:20px;}
.artical .summary {
	word-spacing:5px;
	margin:10px 0;
	color:#999;
	display:block;
}
.artical .summary a{color:#999;}
.artical p {color:#666;padding:10px 0;}
.artical hr {
	margin:30px 0;
}

/*   表单  */		
.form{ margin:0 auto;}
.form li{ margin-bottom:10px; clear:both;}
.form li label{display:block;float:left; width:80px; vertical-align:middle;line-height:26px;}
.form li input{ line-height:20px; padding:0 3px;  }
.form li select{width:206px; height:26px; }
/*   图片列表  */
.imgs{ float:left; margin-right:10px;text-align:center; margin-bottom:10px;}
.imgs dt,.imgs dd{ margin-bottom:5px;}
h1,h2,h3,h4,h5,h6{ font-weight:bold;font-size:14px;}
input{padding:0 3px;}
.txt-nor{width:160px;  height:23px;}
.overflow {overflow:hidden;_overflow:visible;_zoom:1;}
.bold {font-weight:bold;}
.font12 {font-size:12px;}
.font14 {font-size:14px;}
.indent {text-indent:2em;}
.word-overflow {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
/* 超过的字以...显示 */
.word-center {text-align:justify;text-justify:inter-ideograph;}
/* 文本左右对齐 */
/*  Color  */
.red {color:red;}
/* IE6 png */
/* margin为负值时-10px设position:relative;IE6 */
.png {_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/folder/yourimage.png',sizingMethod='crop');}
/*  Image  */
.img {padding:5px;background:#fff;border:1px solid #e1e1e1;}


.pickColorBox
{
border:1px solid #f00;
}
/*wushiwei*/
.login-form-sp{padding:0 15px;}
.login-form-sp li label{ width:48px; word-spacing:0.5em; }

/*送鲜花*/
.sentFl span{height:20px; line-height:20px;display:block;padding-bottom:7px;}
.sentFl span input{width:40px;margin:0 5px;}
.sentFl i{display:inline-block; font-style:normal;padding-left:18px; background:url(http://t.cnfol.com/v2.0/images/iconPng.png) -265px -218px no-repeat;margin-right:5px;}
.sentFl a{display:inline-block;margin-right:5px;color:#0000ee;}
.sentFl .flowS{padding-left:18px; background:url(http://t.cnfol.com/v2.0/images/iconPng.png) -265px -183px no-repeat;}
.bi-sel{width:60px;}


#goTopBtn{ position:fixed; right:20px; bottom:20px; width:100px; height:30px; line-height:30px; cursor:pointer; color:#FFF;  text-align:center; font-size:12px;_position:absolute;_right:auto;_left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,20)||0));_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,20)||0)));}

.hot-top-list-th dd{color:#fff;}
dl.imgs dd a:hover{ text-decoration:underline;}

.ContentOperation a:hover{ text-decoration:underline;}
.leaveword .cols .cr  #messsubmit{ margin-top:10px;  position:relative;}
#TBlogLists{*margin-top:-5px;}

#firlist{ font-size:12px;}
.wP{height:45px; line-height:45px;padding:45px 0 45px 275px; background:#fff url(http://t.cnfol.com/v2.0/images/suo.gif) 240px center no-repeat;font-size:16px;}