body{
    font-family: '宋体';
}
img{ max-width: 100%;}

a.unhover:hover{
    text-decoration: none;
    color: inherit;
}

.login{
    background: url(../img/login_bg.jpg) center center;
    padding-top: 114px;
}
.login .img{
   position: relative;
   top: -90px;
   overflow: hidden;
}

.footer ,.footer a{
    color:#6d6d6e;
    font-family: "microsoft yahei";
}
.footer{
    text-align:center;
    margin-top: 10px;
}
.footer p{
    font-size: 12px;
}


.footer-black a,.footer-black{
    color: #999;
}
.footer-black , .footer-black .container{
    background: #343434;
}
.footer-black .container{
    padding: 30px;
}


.btn-black,.btn-black:hover,.btn-black:active,.btn-black:focus{
    padding: 10px;
    text-align: center;
    background: #303030;
    color: #fff;
}

.box{
    background: #fff;
    width: 350px;
    box-shadow: 1px 1px #ddd;
}
.box h3{
    font-size: 20px;
    margin: 0 0 10px 0;
}
.box .icon-lock{font-size: 23px;}
.box .icon-user{font-size: 20px;}
.box .nav-tabs{
    border: none;
}
.box .nav-tabs a{
    color:#6d6d6e;
}
.box .nav-tabs .active{
    color: #f4b02d;
}

.box .form-control{
    height: 40px;
}
.box .btn{
    font-size: 20px;
}

.box .input-group-addon{
    background: none;
    font-size: 16px;
    padding: 6px 16px;
}

.box-body{
    padding:20px;
}

.pickbox{ font-weight: normal;}
.pickbox-link{color: #4077de}

.container{
    width: 1240px;
    margin: 0 auto;
}

.noradius{
    border-radius: 0;
}

.header{
    font-size: 12px;
}
.header .container{
    padding: 10px;
}

.header img{ vertical-align: middle;}
.header a{ color: #343434;}

.search-bar{
    margin-bottom: 20px;
}
.search-bar .container{
    padding: 20px;
    overflow: hidden;
}
.search-bar,.search-bar .container{
    background: #f4af2d;
}

.input-group-search{ margin-top: 10px; overflow: hidden; border-radius: 10px;}
.input-group-search .input-group-addon:first-child{ background: #fff; font-size: 20px;}
.input-group-search .icon-search{ color:#f48404; }
.input-group-search .btn-warning{ background:#f48502; font-size: 20px; padding-left:30px; padding-right: 30px;}
.input-group-search .form-control{ height: 43px; width: 300px; border-left: none;}

.input-group-search-black{
    border:1px solid #d1d1d1;
    border-radius: 5px;
}
.input-group-search-black ,
.input-group-search-black .form-control,
.input-group-search-black .btn {
    background:#f5f5f5;
}
.input-group-search-black .form-control{ border: none;}
.input-group-search-black i{
    font-size: 18px;
}

.login-btns{ margin-right: 40px; display: inline-block;}
.login-btns-other img{ width: 18px;}


.nav-tab a{
    text-decoration: none;
    color: #fff;
}
.nav-tab{margin-bottom: 20px;
    overflow: hidden;}
.nav-tab .item{
    float: left;
    width: 25%;
}

.text-warning{
  color: #efa31e;
}

.code{
    border: 1px solid #ddd;
    padding: 5px;
}

.load-more{
    margin: 40px;
    font-size: 24px;
    text-align: center;
    font-family: "microsoft yahei";
}
.load-more .btn{
    padding: 10px 100px;
}

.all-tab ,.caip_tab,.huod_tab,.tand_tab{
    font-size: 24px;
    font-family: "microsoft yahei";
    text-align: center;
    line-height: 96px;
    color: #fff;
}
.all-tab{ display: block; background:url(../img/home-images/all_tab.png) no-repeat; width: 216px; height: 96px;}
.caip_tab{ display: block; background:url(../img/home-images/caip_tab.png) no-repeat; width: 216px; height: 96px;}
.huod_tab{ display: block; background:url(../img/home-images/huod_tab.png) no-repeat; width: 216px; height: 96px;}
.tand_tab{ display: block; background:url(../img/home-images/tand_tab.png) no-repeat; width: 216px; height: 96px;}

.side.pull-right{
    width: 290px;
    border-left: 1px dashed #ddd;
    padding-left: 20px;
    position: relative;
    left: -1px;
}

.main{
    float: left;
    width: 920px;
    padding-right: 10px;
    border-right:1px dashed #ddd;
}



.image-box-container{
    margin-right: -10px;
}
.image-box{
    margin:0 16px 20px 0;
    float: left;
    overflow: hidden;
    font-size: 12px;
    width: 288px;
    border: 1px solid #ddd;
    position: relative;
}
.image-box > a{ display: block; }
.image-box > img{ width: 100%;}
.image-box .image-box-body,
.image-box .image-box-footer{
    padding: 10px;
    overflow: hidden;
 }
.image-box .image-box-footer{
    background: #f5f5f5;
}
.image-box-other{
    background: url(../img/home-images/leib_bg.png) no-repeat;
    width: 66px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    left: 0;
}
.image-box-other,
.image-box-love,
.image-box-other:hover,
.image-box-love:hover{
    position: absolute;
    top:10px;
    font-family: "microsoft yahei";
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.image-box-love{
    background: url(../img/home-images/love_icon.png) no-repeat;
    width: 72px;
    height: 36px;
    right: 5px;
    line-height: 36px;
    overflow: hidden;
}
.image-box-love .num{
    display: inline-block;
    width: 35px;
    text-align: center;
    margin-left: 38px;
}
.image-box-love.active{
    background: url(../img/home-images/love_icon_pre.png) no-repeat;
}


.no1,.no4{text-align: center ; width: 20px; height: 20px; display: inline-block; font-style: normal;color: #fff; margin-right: 10px;}
.no1 { background: url(../img/home-images/no1.png) no-repeat  ;  }
.no4 { background: url(../img/home-images/no4.png) no-repeat  ;}

.list-block h4{
    font-family: "microsoft yahei";
}
.list-block li {margin-bottom: 10px; }
.list-block li a{ font-size: 12px; color: #666; }

.dashed{
    height: 0;
    font-size: 0;
    border-bottom: 1px dashed #ddd;
    border-top: none;
}

.page-detail{
    background: #f1f1f1;
}

.page-detail .main,
.page-detail .side{
    border: none;
}

.page-detail .main{
    width: 830px;
    margin-right: 20px;
}
.page-detail .side{
    width: 360px;
    padding: 0;
}
.page-detail .side-header{
    border-bottom: 1px solid #ddd;
    padding: 20px;
}
.page-detail .side-title{
    margin: 0;
}

.page-detail .side-body{
    padding: 20px;
}
.side-body .image-box{
    float: none;
    margin: 0 0 20px 0;
    width: auto;
}

.panebox{
    border:1px solid #ddd;
    background: #fff;
    padding: 10px;
    box-shadow: 2px 2px 4px #ddd;
    margin-bottom: 20px;
}

.article h1{
    text-align: center;
}
.article{
    padding: 10px 60px;
}
.article .summary{
    color: #999;
}
.article-body{
    line-height: 2.5;
    margin: 20px 0;
}
.article-footer{
    border-top: 1px solid #ddd;
    color: #999;
    padding: 20px 0;
}

.comment{
    padding: 30px;
}
.comment .pull-left{
    margin-right: 20px;
}
.comment textarea{
    border: 1px solid #ddd;
    height: 130px;
    border-radius: 0;
    max-width: 100%;
}
.comment-toolbar{
    margin-top: 20px;
}


.list-city{
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
}
.list-city li{
    margin-bottom: 10px;
    margin-right: 10px;
}

.list-city li a{
    display: inline-block;
    padding: 7px 15px;
    border-radius: 5px;
    color: #777;
}
.list-city li a:hover{
    text-decoration: none;
}
.list-city li a.active{
    background: #f4b02d;
    color: #fff;
}