/*车源图片*/
.detail-main .pn-inner { height: 540px; position: relative;}
.detail-main-ex .pn-inner { height: 396px; position: relative;}

.detail-main .car-photo { width: 530px; height: 542px; position: absolute; top: -1px; left: -1px;}
.detail-main .car-photo .img-view { width: 530px; height: 398px; position: relative;}
.detail-main .car-photo .img-view .b-img { width: 530px; height: 398px; overflow: hidden;}
.detail-main .car-photo .img-view .b-img ul { overflow: hidden; *zoom: 1;}
.detail-main .car-photo .img-view .b-img li { width: 530px; height: 398px; display: none;}
.detail-main .car-photo .img-view .b-img .active { display: block;}
.detail-main .car-photo .img-view .b-img img { width: 530px; height: 398px;}
.detail-main .car-photo .img-view .amount-bg, .detail-main .car-photo .img-view .amount { width: 60px; height: 26px; position: absolute; right: 22px; bottom: 22px;}
.detail-main .car-photo .img-view .amount-bg { background: #000; filter:alpha(opacity=30);-moz-opacity:.30;opacity:.30; border-radius: 13px;}
.detail-main .car-photo .img-view .amount { text-align: center; color: #fff; line-height: 26px; font-size: 16px;}
.detail-main .car-photo .img-nav { height: 144px; overflow: hidden; *zoom: 1;}
.detail-main .car-photo .img-nav .arrow { width: 28px; height: 140px; float: left; display: inline; margin: 4px 0 0 0;}
.detail-main .car-photo .img-nav .arrow a { display: block; width: 100%; height: 100%; background: #323232; text-align: center;}
.detail-main .car-photo .img-nav .arrow .none { background: #d8d8d8;}
.detail-main .car-photo .img-nav .arrow a:hover { background: #d70000;}
.detail-main .car-photo .img-nav .arrow .none:hover { background: #d8d8d8;}
.detail-main .car-photo .img-nav .arrow i { width: 13px; height: 25px; margin: 58px 0 0 0;}
.detail-main .car-photo .img-nav .arrow .i-prev { background-position: -350px -100px;}
.detail-main .car-photo .img-nav .arrow .i-next { background-position: -400px -100px;}
.detail-main .car-photo .img-nav .next { float: right;}
.detail-main .car-photo .img-nav .scroll { float: left; display: inline; width: 470px; height: 144px; padding: 0 0 0 4px; overflow: hidden; position: relative;}
.detail-main .car-photo .img-nav .scroll-in { width: 940px;}
.detail-main .car-photo .img-nav .scroll ul { overflow: hidden; *zoom: 1; float: left; width: 470px;}
.detail-main .car-photo .img-nav .scroll li { width: 90px; height: 68px; position: relative; float: left; display: inline; margin: 4px 4px 0 0;}
.detail-main .car-photo .img-nav .scroll li img { width: 90px; height: 68px;}
.detail-main .car-photo .img-nav .scroll li .bg { width: 90px; height: 68px; position: absolute; top: 0; left: 0; background: #000; filter:alpha(opacity=50);-moz-opacity:.50;opacity:.50; cursor: pointer;}
.detail-main .car-photo .img-nav .scroll li .border { width: 84px; height: 62px; border: 3px solid #d70000; position: absolute; top: 0; left: 0; cursor: pointer;}

/*车源信息*/
.detail-main .car-info { width: 598px; height: 540px; position: relative; padding: 0 31px 0 30px; margin: 0 0 0 529px; color: #494949;}
.detail-main .car-info-title { height: 77px; padding: 24px 0 0 0;}
.detail-main .car-info-title h1 { font-size: 20px; font-weight: bold; height: 30px; overflow: hidden; margin: 0 0 10px 0;}
.detail-main .car-info-title .time label { color: #989898;}
.detail-main .car-info-price { height: 124px; background: url(../image/bg.png) no-repeat 0 -100px; border-top: 1px dotted #cbcbcb; position: relative; padding: 0 0 0 22px;}
.detail-main .car-info-price .code { position: absolute; top: 12px; right: 12px; border: 1px solid #e6e6e6;}
.detail-main .car-info-price .code img { width: 98px; height: 98px;}
.detail-main .car-info-price .tit { color: #989898;}
.detail-main .car-info-price .price1 { height: 56px; overflow: hidden; padding: 5px 0 0 0; width: 464px; margin: 0 0 15px 0;}
.detail-main .car-info-price .price1 .tit { margin: 0 7px 0 0;}
.detail-main .car-info-price .price1 .total { font-size: 24px; font-weight: bold; color: #d70000; margin: 0 12px 0 0;}
.detail-main .car-info-price .price1 .total .inte { font-size: 46px;}
.detail-main .car-info-price .price1 .total .deci { font-size: 32px;}
.detail-main .car-info-price .price1 .total .unit { position: relative; bottom: 3px; margin: 0 0 0 2px;}
.detail-main .car-info-price .price1 .day { margin: 0 4px 0 0;}
.detail-main .car-info-price .price1 .day strong { color: #d70000; font-weight: bold; margin: 0 0 0 3px;}
.detail-main .car-info-price .price1 .more { color: #0090d8;}
.detail-main .car-info-price .price2 { color: #989898; width: 464px;}
.detail-main .car-info-price .price2 .tit { margin: 0 5px 0 0;}
.detail-main .car-info-price .price2 strong { font-weight: bold; color: #494949;}
.detail-main .car-info-price .price2 .parti { margin: 0 5px 0 0;}
.detail-main .car-info-para { height: 49px; padding: 20px 0; border-top: 1px dotted #cbcbcb; overflow: hidden; *zoom: 1;}
.detail-main .car-info-para-item { width: 149px; height: 49px; float: left; display: inline; border-right: 1px dotted #cbcbcb; text-align: center;}
.detail-main .car-info-para-item-last { width: 148px; border: 0;}
.detail-main .car-info-para-item .tit { color: #989898;}
.detail-main .car-info-para-item .con { font-size: 18px;}
.detail-main .car-info-btn { border-top: 1px dotted #cbcbcb; height: 151px; padding: 0 0 0 2px;}
.detail-main .car-info-btn .tel { color: #989898; height: 36px; margin: 0 0 6px 0; padding: 15px 0 0 0;}
.detail-main .car-info-btn .tel strong { font-size: 24px; font-weight: bold; color: #d70000; margin: 0 10px 0 0; position: relative; top: 2px;}
.detail-main .car-info-btn .comm-infonum { margin: 0 0 15px 0;}
.detail-main .car-info-btn .btn button { border: 1px solid #e6e6e6; background: #f4f4f4; height: 38px; text-align: center; color: #494949; font-size: 18px; width: 138px; cursor: pointer; margin: 0 20px 0 0; font-family: Microsoft YaHei;}
.detail-main .car-info-btn .btn .red { background: #d70000; border: 1px solid #c60000; color: #fff;}
.detail-main .car-info-btn .btn button i { width: 18px; height: 18px; display: inline-block; margin: 0 8px 0 0;}
.detail-main .car-info-btn .btn button .i-res { background-position: -450px -100px;}
.detail-main .car-info-btn .btn button .i-mon { background-position: -500px -100px;}
.detail-main .car-info-btn .btn button span { vertical-align: middle; position: relative; top: -1px;}
.detail-main .car-info-other { border-top: 1px dotted #cbcbcb;}
.detail-main .car-info-other { padding: 23px 0 0 0;}
.detail-main .car-info-other-item { float: left; display: inline; margin: 0 34px 0 0; position: relative; z-index: 750; height: 22px; line-height: 22px;}
.detail-main .car-info-other-item .link { display: block; color: #494949; cursor: pointer;}
.detail-main .car-info-other-item i { width: 20px; height: 20px; margin: 0 3px 0 0;}
.detail-main .car-info-other-item .i-mob { background-position: 0 -152px;}
.detail-main .car-info-other-item .i-fav { background-position: -50px -151px;}
.detail-main .car-info-other-item .i-share { background-position: -101px -151px;}
.detail-main .car-info-other-item .i-report { background-position: -151px -152px;}
.detail-main .car-info-other-item:hover .i-mob { background-position: -200px -152px;}
.detail-main .car-info-other-item:hover .i-fav { background-position: -250px -151px;}
.detail-main .car-info-other-item:hover .i-share { background-position: -301px -151px;}
.detail-main .car-info-other-item:hover .i-report { background-position: -351px -152px;}
.detail-main .car-info-other-item .down ul { display: none;}
.detail-main .car-info-other-item .down li a { display: block; padding: 0 0 0 37px;}
.detail-main .car-info-other-item .down li a:hover { color: #d70000; background: #f4f4f4;}
.detail-main .car-info-other-item:hover .down { background: #fff; border: 1px solid #ebebeb; width: 126px; position: absolute; left: -15px; bottom: -17px; padding: 9px 0; line-height: 36px; box-shadow: 0 0 9px rgba(0,0,0,0.3);}
.detail-main .car-info-other-item:hover .down ul { display: block;}
.detail-main .car-info-other-item:hover .down .link { padding: 0 0 0 14px;}
.detail-main .car-info-other-item-ex { width: 51px; z-index: 751;}
.detail-main .car-info-reco { height: 188px; border-top: 1px dotted #cbcbcb; padding: 10px 0 0 0;}
.detail-main .car-info-reco .tip { font-size: 28px; font-weight: bold; color: #d70000; margin: 0 0 4px 0;}
.detail-main .car-info-reco dl { line-height: 32px; padding: 0 0 0 2px;}
.detail-main .car-info-reco dl a { color: #d70000; font-weight: bold;}

/*基本信息*/
.detail-detail { color: #494949; margin-bottom: 30px;}
.detail-detail .hd { height: 58px; line-height: 58px; font-size: 18px; font-weight: bold; color: #383838; padding: 0 0 0 15px; margin: 12px 0 0 0;}
.detail-detail .bd { background: #fff; border: 1px solid #ebebeb;}

.detail-detail .base-info .bd { padding: 16px 30px 0 30px;}
.detail-detail .base-info .font-para { overflow: hidden; *zoom: 1; line-height: 38px; margin: 0 0 20px 0;}
.detail-detail .base-info .font-para li { width: 225px; float: left; display: inline; height: 38px; overflow: hidden;}
.detail-detail .base-info .font-para li label { color: #989898; margin: 0 8px 0 0;}
.detail-detail .base-info .font-para .other { width: 1128px;}
.detail-detail .base-info .font-para .other a { background: #f2f2f2; color: #989898; padding: 2px 5px; margin: 0 10px 0 0;}
.detail-detail .base-info .img-para { margin: 0 0 35px 0;}
.detail-detail .base-info .img-para ul { overflow: hidden; *zoom: 1; padding: 10px 0 0 5px;}
.detail-detail .base-info .img-para li { text-align: center; width: 101px; height: 63px; float: left; display: inline; border-right: 1px solid #ebebeb; margin: 20px 0 0 0;}
.detail-detail .base-info .img-para .last { border: 0;}
.detail-detail .base-info .img-para li i { display: block; width: 70px; height: 40px; margin: 0 auto; background-image: url(../image/ico-deploy.png);}
.detail-detail .base-info .img-para li .i1 { background-position: 0 0;}
.detail-detail .base-info .img-para li .i2 { background-position: -80px 0;}
.detail-detail .base-info .img-para li .i3 { background-position: -160px 0;}
.detail-detail .base-info .img-para li .i4 { background-position: -240px 0;}
.detail-detail .base-info .img-para li .i5 { background-position: -320px 0;}
.detail-detail .base-info .img-para li .i6 { background-position: -400px 0;}
.detail-detail .base-info .img-para li .i7 { background-position: -480px 0;}
.detail-detail .base-info .img-para li .i8 { background-position: -560px 0;}
.detail-detail .base-info .img-para li .i9 { background-position: -640px 0;}
.detail-detail .base-info .img-para li .i10 { background-position: -720px 0;}
.detail-detail .base-info .img-para li .i11 { background-position: 0 -50px;}
.detail-detail .base-info .img-para li .i12 { background-position: -80px -50px;}
.detail-detail .base-info .img-para li .i13 { background-position: -160px -50px;}
.detail-detail .base-info .img-para li .i14 { background-position: -240px -50px;}
.detail-detail .base-info .img-para li .i15 { background-position: -320px -50px;}
.detail-detail .base-info .img-para li .i16 { background-position: -400px -50px;}
.detail-detail .base-info .img-para li .i17 { background-position: -480px -50px;}
.detail-detail .base-info .img-para li .i18 { background-position: -560px -50px;}
.detail-detail .base-info .img-para li .i19 { background-position: -640px -50px;}
.detail-detail .base-info .img-para li .i20 { background-position: -720px -50px;}
.detail-detail .base-info .img-para li .i21 { background-position: 0 -100px;}
.detail-detail .base-info .img-para li .i22 { background-position: -80px -100px;}
.detail-detail .base-info .img-para li .i23 { background-position: -160px -100px;}
.detail-detail .base-info .img-para li .i24 { background-position: -240px -100px;}
.detail-detail .base-info .img-para li .i25 { background-position: -320px -100px;}
.detail-detail .base-info .img-para li .i26 { background-position: -400px -100px;}
.detail-detail .base-info .img-para li .i27 { background-position: -480px -100px;}
.detail-detail .base-info .img-para li .i28 { background-position: -560px -100px;}
.detail-detail .base-info .img-para li .i29 { background-position: -640px -100px;}
.detail-detail .base-info .consul-reco .con { line-height: 36px; padding: 16px 0 21px 0;}

/*检测报告*/
.detail-detail .detect-report { color: #383838;}
.detail-detail .detect-report .bd { padding: 33px 30px 0 30px;}
.detail-detail .detect-report .report-tit { text-align: center;}
.detail-detail .detect-report .report-tit .tit { font-size: 32px; font-weight: bold; margin: 0 0 9px 0;}
.detail-detail .detect-report .report-tit .time { margin: 0 0 42px 0;}
.detail-detail .detect-report .report-tit .time span { margin: 0 16px 0 0;}
.detail-detail .detect-report .report-img { border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; padding: 30px 0; overflow: hidden; *zoom: 1;}
.detail-detail .detect-report .report-img-l { float: left; display: inline; width: 562px; height: 575px; position: relative;}
.detail-detail .detect-report .report-img-r { float: right; display: inline; width: 565px; height: 575px; border-left: 1px solid #ebebeb; position: relative;}
.detail-detail .detect-report .report-img .tit { position: absolute; top: 6px; left: 0; font-size: 18px; font-weight: bold;}
.detail-detail .detect-report .report-img-r .tit { left: 30px;}
.detail-detail .detect-report .report-img .pic { padding: 24px 0 0 0; margin: 0 0 18px 0; width: 533px; height: 380px; text-align: center;}
.detail-detail .detect-report .report-img-l .pic img { width: 456px; margin: 28px 0 0 0;}
.detail-detail .detect-report .report-img-r .pic img { width: 273px; margin: 25px 0 0 0;}
.detail-detail .detect-report .report-img-r .pic { margin-left: 20px;}
.detail-detail .detect-report .report-img .note dl { line-height: 30px;}
.detail-detail .detect-report .report-img .note dt { font-weight: bold; color: #494949;}
.detail-detail .detect-report .report-img .note dd { color: #494949;}
.detail-detail .detect-report .report-img-l .dl1 { margin: 0 0 0 194px;}
.detail-detail .detect-report .report-img-r .note { overflow: hidden; *zoom: 1;}
.detail-detail .detect-report .report-img-r .dl1 { margin: 0 0 0 122px; float: left; display: inline;}
.detail-detail .detect-report .report-img-r .dl2 { margin: 0 0 0 82px; float: left; display: inline;}
.detail-detail .detect-report .report-img-l .dl1 i { width: 14px; height: 14px; margin: 0 12px 1px 0;}
.detail-detail .detect-report .report-img-l .dl1 .i-red { background-position: -600px -100px;}
.detail-detail .detect-report .report-img-l .dl1 .i-green { background-position: -550px -100px;}
.detail-detail .detect-report .report-img-r .dl1 i { margin: 0 14px 0 0; width: 14px; height: 14px;}
.detail-detail .detect-report .report-img-r .i-paint1 { background-position: -650px -100px;}
.detail-detail .detect-report .report-img-r .i-paint2 { background-position: -700px -100px;}
.detail-detail .detect-report .report-img-r .i-paint3 { background-position: -750px -100px;}
.detail-detail .detect-report .report-img-r .dl2 i { margin: 0 9px 0 0; width: 20px; height: 20px;}
.detail-detail .detect-report .report-img-r .i-lac1 { background-position: -800px -101px;}
.detail-detail .detect-report .report-img-r .i-lac2 { background-position: -850px -100px;}
.detail-detail .detect-report .report-img-r .i-lac3 { background-position: -900px -101px;}
.detail-detail .detect-report .report-img-r .i-lac4 { background-position: -950px -101px;}
.detail-detail .detect-report .mod-hd .tit { font-size: 18px; margin-left: 0;}
.detail-detail .detect-report .report-explan {}
.detail-detail .detect-report .report-explan .con { border-top: 1px solid #ebebeb; padding: 17px 0 0 0; position: relative; height: 230px;}
.detail-detail .detect-report .report-explan .con .txt { color: #494949; line-height: 36px; width: 914px;}
.detail-detail .detect-report .report-explan .con .code { position: absolute; top: 30px; right: 0;}

/*实拍照片*/
.detail-detail .car-photo ul { overflow: hidden; *zoom: 1; padding: 0 0 29px 0;}
.detail-detail .car-photo li { width: 550px; height: 412px; float: left; display: inline; margin: 29px 0 0 29px;}
.detail-detail .car-photo li img { width: 550px; height: 412px;}

/*专区购车流程*/
.detail-detail .buy-flow .bd { overflow: hidden; *zoom: 1; padding: 28px 0 28px 28px;}
.detail-detail .buy-flow-item { width: 242px; height: 393px; border-right: 1px solid #ebebeb; float: left; display: inline; position: relative; padding: 16px 20px 0 20px; line-height: 36px; color: #383838;}
.detail-detail .buy-flow .last { border: 0;}
.detail-detail .buy-flow-item .img { width: 160px; height: 160px; margin: 0 auto 19px auto;}
.detail-detail .buy-flow-item .img i { width: 100%; height: 100%; background-image: url(../image/other.png);}
.detail-detail .buy-flow-item .img .i1 { background-position: 0 -100px;}
.detail-detail .buy-flow-item .img .i2 { background-position: -200px -100px;}
.detail-detail .buy-flow-item .img .i3 { background-position: -400px -100px;}
.detail-detail .buy-flow-item .img .i4 { background-position: -600px -100px;}
.detail-detail .buy-flow-item .con1 { margin: 0 0 13px 0;}
.detail-detail .buy-flow-item .comm-tit { margin: 0 0 9px 0;}
.detail-detail .buy-flow-item .i-arrow { width: 20px; height: 20px; position: absolute; top: 86px; right: -10px; background-position: -400px -150px;}

.detail-ex { margin-bottom: 30px;}
.detail-ex .mod-car-list li:hover h4 a { color: #2f3031;}