/*banner*/
.pn-banner { width: 100%; height: 450px; position: relative; z-index: 850;}
.pn-banner .banner-box { width: 100%; height: 450px; position: relative;}
.pn-banner .slider { width: 100%; height: 450px; position: relative; overflow: hidden;}
.pn-banner .slider .banner-list { width: 100%; height: 450px; position: relative; overflow: hidden;}
.pn-banner .slider .banner-list .item { position: absolute; top: 0; left: 50%; margin: 0 0 0 -1000px; display: none;}
.pn-banner .slider .banner-list .on { display: block;}
.pn-banner .banner-con { width: 1190px; height: 450px; position: absolute; top: 0; left: 50%; margin: 0 0 0 -595px;}

/*筛选*/
.pn-banner-con { position: relative; z-index: 900;}
.mod-cate-list-bg, .mod-cate-list-box { width: 260px; height: 450px; position: absolute; top: -450px; left: 0; overflow: hidden;}
.mod-cate-list-bg { background: #000; filter: alpha(opacity=70); -moz-opacity: .70; opacity: .70;}
.mod-cate-list-box { padding-top: 9px; height: 441px;}
.mod-cate-list-box .item { padding: 6px 0 8px 15px; line-height: 28px;}
.mod-cate-list-box .line { font-size: 0; height: 1px; background: #fff; filter: alpha(opacity=10); -moz-opacity: .1; opacity: .1;}
.mod-cate-list-box .item .tit { color: #a1a1a1;}
.mod-cate-list { overflow: hidden;}
.mod-cate-list-item { width: 60px; float: left; display: inline;}
.mod-cate-list-ex .mod-cate-list-item { width: 81px;}
.mod-cate-list-item a { color: #fff;}
.mod-cate-list-item a:hover { color: #fc5300;}
.mod-cate-list .i-arrow-right { width: 8px; height: 13px; background-position: -250px 0; margin: 0 0 2px 13px;}

.pn-banner-con .logos-bg, .pn-banner-con .logos { width: 260px; height: 450px; position: absolute; top: -450px; right: 0; overflow: hidden;}
.pn-banner-con .logos-bg-c1, .pn-banner-con .logos-bg-c2 { height: 224px; background: #000; filter: alpha(opacity=70); -moz-opacity: .70; opacity: .70;}
.pn-banner-con .logos-bg-c1 { margin: 0 0 2px 0;}
.pn-banner-con .logos-con1, .pn-banner-con .logos-con2 { height: 224px; overflow: hidden; position: relative;}
.pn-banner-con .logos-con1 .link, .pn-banner-con .logos-con2 .link { display: block; height: 198px; overflow: hidden; text-align: center; color: #a0a0a0; padding: 26px 0 0 0;}
.pn-banner-con .logos-con1 { margin: 0 0 2px 0;}
.pn-banner-con .logos .img { display: block; margin: 0 auto 8px auto;}
.pn-banner-con .logos .tit { font-size: 24px; color: #fff;}
.pn-banner-con .logos .des { font-size: 16px;}

/*推荐*/
.main-service { z-index: 800;}
.main-service .ser-list { width: 1208px; margin-right: -19px; overflow: hidden;}
.main-service .item { background: #fff; border: 1px solid #ebebeb; width: 281px; float: left; display: inline; margin: 0 19px 0 0; text-align: center; height: 198px; position: relative;}
.main-service .item .tit { font-size: 24px; font-weight: bold; color: #2f3031; padding: 41px 0 0 0; margin: 0 0 4px 0;}
.main-service .item .txt { font-size: 16px; color: #606060; margin: 0 0 17px 0;}
.main-service .item .btn { background: #fc5300; color: #fff; width: 105px; height: 32px; line-height: 32px; display: inline-block; text-align: center; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px;}
.main-service .item .i-hot { width: 40px; height: 40px; position: absolute; top: -1px; left: -1px; background-position: 0 -50px;}
.main-service .c2 .btn { background: #53a3e8;}
.main-service .c3 .btn { background: #60bf87;}
.main-service .c4 .btn { background: #fec64d;}
.main-service .item:hover { background: #f9f9f9;}
.main-service .c1:hover .tit { color: #fc5300;}
.main-service .c2:hover .tit { color: #53a3e8;}
.main-service .c3:hover .tit { color: #60bf87;}
.main-service .c4:hover .tit { color: #fec64d;}

/*导购*/
.pn-guide { z-index: 750;}
.pn-guide .bd { clear: both; background: #fff; border: 1px solid #ebebeb;}
.pn-guide .guide-list { overflow: hidden;}
.pn-guide .guide-list .item { width: 25%; float: left; display: inline; padding-right: 1px; margin-right: -1px;}
.pn-guide .guide-list a { cursor: pointer; outline: 0;}
.pn-guide .guide-list .pic { text-align: center; padding: 20px 0 0 0;}
.pn-guide .guide-list .txt { border-left: 1px solid #f0f0f0; margin-left: -1px; height: 166px; padding: 4px 20px 0 20px; margin-bottom: 14px;}
.pn-guide .guide-list .tit { font-size: 18px; font-weight: bold; margin: 0 0 4px 0; height: 27px; overflow: hidden;}
.pn-guide .guide-list .des { color: #606060; line-height: 24px; height: 96px; overflow: hidden; margin: 0 0 9px 0;}
.pn-guide .guide-list .item:hover { border-left: 1px solid #ebebeb; border-right: 1px solid #ebebeb; background: #f9f9f9; margin-left: -1px; padding-right: 0; position: relative;}
.pn-guide .guide-list .item:hover .tit { color: #fc5300;}
.pn-guide .guide-list .item:hover .txt { border-left: 0; margin-left: 0; color: #606060;}
.pn-guide .guide-list .visit { color: #989898;}
.pn-guide .guide-list .i-visit { width: 20px; height: 14px; background-position: -500px 0; margin: 0 8px 3px 0;}

/*热门品牌*/
.hot-brand { z-index: 700;}
.hot-brand .hd { background: #fff; border-right: 1px solid #ebebeb;}
.hot-brand .brand-list { overflow: hidden;}
.hot-brand .brand-list li { float: left; display: inline;}
.hot-brand .brand-list a { display: inline-block; width: 147px; height: 68px; border: 1px solid #ebebeb; text-align: center; border-right: 0;}
.hot-brand .brand-list .last a { width: 152px;}
.hot-brand .brand-list .pic img { width: 125px; height: 40px; margin: 6px 0 1px 0;}
.hot-brand .brand-list .txt { line-height: 1;}
.hot-brand .brand-list .on a { background: #f5f5f5; border-top: 3px solid #fc5300; border-bottom: 1px solid #f5f5f5; height: 66px;}
.hot-brand .brand-list .on a img { margin-top: 4px;}
.hot-brand .brand-list a:hover { color: #2f3031;}
.hot-brand .bd { margin: 0 0 20px 0;}

/*门店*/
.pn-store { z-index: 650;}
.pn-store .bd { background: #fff; border: 1px solid #ebebeb; overflow: hidden;}
.pn-store .bd .con1 { width: 588px; height: 443px; border-right: 1px solid #ebebeb; float: left; display: inline; position: relative;}
.pn-store .bd .con1 .view-box, .pn-store .bd .con1 .view { display: block; width: 588px; height: 45px; position: absolute; left: 0; bottom: 0; line-height: 45px; text-align: center; color: #fff; z-index: 701;}
.pn-store .bd .con1 .view-box { background: #000;}
.pn-store .bd .con1 .view { z-index: 702;}
.pn-store .bd .con1 .view:hover { color: #fc5300; font-weight: bold;}
.pn-store .bd .con1 .i-view { width: 14px; height: 14px; background-position: -600px 0; margin: 0 5px 3px 0;}
.pn-store .bd .con2 { width: 599px; height: 443px; float: left; display: inline; position: relative;}

/*动态资讯*/
.pn-news { width: 585px; float: left; display: inline;}
.pn-news .bd { border: 1px solid #ebebeb; background: #fff; height: 557px;}

/*faq*/
.pn-faq { width: 585px; float: right; display: inline; height: 557px;}
.pn-faq .bd { border: 1px solid #ebebeb; background: #fff; height: 557px; overflow: hidden;}

/*车购宝*/
.pn-cgb .car-area { height: 426px; background: url(../pic/bg-cgb.jpg) no-repeat; position: relative;}
.pn-cgb .car-area .more { display: block; width: 281px; height: 426px; position: absolute; top: 0; left: 0; text-align: center; cursor: pointer;}
.pn-cgb .car-area .more .i-more { width: 194px; height: 46px; background: url(../image/other.png) no-repeat -150px 0; margin: 329px 0 0 0;}
.pn-cgb .car-area .mod-car-list { margin: 0 0 0 281px;}
.pn-cgb .mod-cgb-intro { border-top: 0;}