.i-sel-delete{background-position: -700px -150px;width:17px;height:17px;margin-bottom:1px;*margin-bottom:0;}
.sel-delete:hover .i-sel-delete{background-position: -750px -150px;}
.i-save-num{display: inline-block;font-size:12px;vertical-align: middle;font-weight: normal; background-color:#f40;color:#fff;width:17px;height:17px;line-height:17px;text-align: center;margin-left:5px;margin-bottom:3px;*margin-bottom:0;}
.i-more-down{width:11px;height:7px;background-position: -900px -150px;margin-left:7px;}
.i-more-up{width:11px;height:7px;background-position: -950px -150px;margin-left:7px;}
.i-checkbox{width:16px;height:16px;background-position: -800px -150px;margin-right:7px;margin-bottom:2px;*margin-bottom:0;}
a:hover .i-checkbox,.current .i-checkbox{width:16px;height:16px;background-position: -850px -150px;margin-right:7px;margin-bottom:2px;*margin-bottom:0;}
.i-sort-down{width:10px;height:10px;background-position: 0 -200px;margin-left:7px;}
a:hover .i-sort-down,.current .i-sort-down{background-position:-50px -200px; }
.i-sort-up{width:10px;height:10px;background-position: -100px -200px;margin-left:7px;}
a:hover .i-sort-up,.current .i-sort-up{background-position:-150px -200px; }
.i-sort-toup,.i-sort-todown{width:10px;height:10px;background-position: -200px -200px;margin-left:7px;}
a:hover .i-sort-todown,.current .i-sort-todown{background-position:-300px -200px;}
a:hover .i-sort-toup,.current .i-sort-toup{background-position:-250px -200px;  }
.i-show-pic,.i-show-list{width:12px;height:12px;background-position: -350px -200px;}
a:hover .i-show-pic,.current .i-show-pic{background-position: -400px -200px;}
.i-show-list{background-position: -450px -200px;}
a:hover .i-show-list,.current .i-show-list{background-position: -500px -200px;}
.i-bid,.i-collect{width:16px;height:16px;background-position: -550px -200px;margin-right:7px;margin-bottom:2px;*margin-bottom:0;}
a:hover .i-bid{background-position: -600px -200px;}
.i-collect{background-position: -650px -200px;}
a:hover .i-collect{background-position: -700px -200px;}
.b-line{display:inline-block;font-weight: normal;background-color:#ebebeb;width:1px;height:16px; vertical-align: middle; margin:0 13px;}
.i-serv{display: inline-block; width:16px;height:16px;font-size:12px !important;line-height: 16px;text-align: center;color:#fff;vertical-align: middle;background-color: #1b8cff;font-style: normal;margin-right: 7px;}
.i-serv-cgb{background-color:#89c609; }
.i-serv-disabled{background-color:#b5b5b5;}

.tag-hot{position:absolute;margin-left:4px;line-height:16px;top:3px;*top:4px;}
.tag-hot-in{position: relative; background-color: #d00;font-size: 12px;color:#fff;padding:0 3px}
.tag-hot .arrow{position: absolute;bottom:-5px;left:0;width: 0;height: 0;border: 0 solid transparent;border-bottom-width: 5px;border-top-width: 0px;border-left: 5px solid #d00
    ;}
.comm-mask{position: absolute;width:100%;height:100%;background-color: #000;opacity: .5;filter:alpha(opacity=50);-moz-opacity: .5;top:0;left:0;}

/*左右线*/
.comm-tb{display: table;width:100%;}
.comm-td{display: table-cell;vertical-align: middle;}
.comm-listborder .item{margin-left:-1px;}
.comm-listborder .item .item-in{display:inline-block;line-height:28px; height:28px; border-right:1px solid #ebebeb;padding:0 16px;margin:11px 0;}
.comm-listborder .item-in u{display:inline-block;height:100%;width:0;vertical-align: middle;}
.comm-listborder-ex .item .item-in{border:none;border-left:1px solid #ebebeb;}

.input-txt{background: none;border:none;background-color:#fff;border:1px solid #ebebeb;height:20px;line-height:20px;padding-top:1px;padding-bottom:1px;}

/*阴影不规则下拉选框通用样式*/
.comm-down{position: relative;z-index:10;*zoom:1;}
.comm-down .item-txt {display:inline-block;*zoom:1;*display:inline;}
.comm-down .item-txt .item-in{cursor: pointer;}
.comm-down .down,.comm-down .white-bg{display:none;}
.comm-down .down{position: absolute;left:0;background-color:#fff;width:100%;top:100%;}
.comm-down .down-ex{width:auto;}
.comm-down .down-r{left:auto;right:0;}
.comm-down-on .item-txt .item-in{border-color: #fff;}
.comm-down-on .down,.comm-down-on .white-bg{display:block;}
.comm-down-on {}
.comm-down-on .shadow{background-color:#fff;-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.3);-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.3);-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.3);box-shadow: 0 2px 8px rgba(0,0,0,0.3);border:1px solid #ebebeb;margin:-1px;}
.comm-down-on .white-bg{width:100%;height:10px;position: absolute;bottom:0;left:0;background-color: #fff;}

/*复选框通用样式*/


/*下拉框模块*/
.mod-pulldown {width:100%;overflow: hidden;}
.mod-pulldown li{*vertical-align: top;}
.mod-pulldown-ex li{padding:1px 0;margin-bottom: -1px;}
.mod-pulldown-ex li:hover{padding:0;border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb;}
.mod-pulldown .txt-link{display:block;padding:12px 0;text-indent: 1.2em;width:100%;}
.mod-pulldown .txt-link:hover{background-color:#f9f9f9;color:#f40;}
.mod-pulldown .txt-link.current{background-color:#f40;color:#fff;}

/*筛选列表模块*/
.mod-sellist .tt{color:#989898;width:86px;text-align:
 center;}
.mod-sellist .tt .item-in{display: inline-block;padding:0;width:100%;}
.mod-sellist .item{float: left;}

/*城市选择模块*/
.mod-city-select{width:560px;}
.mod-city-select dl{padding:15px 0;margin:0 15px 0;overflow: hidden;*zoom;1;}
.mod-city-select dt,.mod-city-select dd a{display:block;padding:0 11px;}
.mod-city-select dt,.mod-city-select dd{padding-bottom:5px;padding-top:5px;}
.mod-city-select dt{color:#a4a4a4;}
.mod-city-select .city{border-bottom:1px solid #ebebeb;}
.mod-city-select dd{float: left;margin-right:25px;}
.mod-city-select .current,.mod-city-select .current:hover{background-color:#f40;color:#fff;}


.list-group{border:1px solid #ebebeb;color:#494949;background-color:#fff;position:relative;z-index:800;}
.list-group a{color:#494949;cursor: pointer;}
.list-group a:hover{color:#f40;}


.group-selected{background-color:#f9f9f9;border-bottom:1px solid #ebebeb;}

.selected-list dd{color:#f40;}

.sel-delete{margin-left:5px;}

/*已选保存*/
.selected-save-list{width:370px;}
.selected-save-list li{border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb;margin-top:-1px;margin-bottom:-1px; }
.selected-save-list li:hover{background-color:#f9f9f9;color:#f40;}
.selected-save-list .con-in{padding:16px;line-height:20px;white-space: nowrap;overflow: hidden;*zoom:1;position: relative;}
.selected-save-list .con-in:hover{}

/*筛选条件*/
.group-select .tt{margin-left:-1px;}
.group-select .item{line-height: 24px;}
.group-select .item-in{margin:12px 0;}
.group-select-item{border-top:1px solid #ebebeb;margin:-1px -1px -2px;padding:1px 2px 2px;*zoom:1;*vertical-align: top;}
.group-select-item .comm-listborder .item .item-in{margin:10px 0;}
.group-select-item-ex{border:none;}
.group-select-con{padding-left:86px;}

.select-list .cc{margin-right:26px;}
.select-list .cc-ex{margin-right:12px;}
.select-list .cc .item-in{padding:0 5px;display:inline-block;}
.select-list .cc .current{background-color:#f40;color:#fff;}

.group-select-item .more{padding:11px 0;float:right;}
.group-select-item .more a{padding:0 16px;line-height:28px;display:inline-block;border-left:1px solid #ebebeb;}
.group-select-item-show{background-color:#f9f9f9;z-index: 1;padding:0;border: none;border:2px solid #f40;position: relative;}
.group-select-item-show .con-in{}
.group-select-item-show .more-link{color:#f40;}
.group-select-item .more-con{display: none;}
.group-select-item-show .more-con{display: block;}
.group-select-item-show .show-con{display: none;}

/*品牌字母*/
.brand-letter{overflow: hidden;}
.brand-letter-search .input-txt{width:194px;margin-top:12px;margin-right:20px;padding:0 6px;}

/*品牌选择*/
.brand-select{margin:10px 14px 16px 0;height:124px;overflow-y: auto;position: relative;}
/*brand-list*/
.brand-list {padding-bottom: 10px;}
.brand-list .item2{float:left;margin-right:-1px;margin-bottom:-1px;width:98px;}
.brand-list .item2-in{display:block;height:40px;line-height:40px;text-align:center;background-color:#fff;border:1px solid #ebebeb;}
.brand-list .item2-in:hover,.brand-list a.current{border-color:#f40;background-color:#f40;color:#fff;position: relative;z-index: 1;}

.range-price{*z-index: 21;}
.range-year{*z-index:20;}
/*range-input*/
.range-input{position: relative;z-index:20;}
.range-input .c1{overflow: hidden;*zoom:1;}
.range-input .c2{display: none;}
.range-input-focus .range-input-in{position: absolute; width:178px;height:99px;left:-14px;top:-14px;-webkit-box-shadow: 0 0 7px rgba(0,0,0,0.3);-moz-box-shadow: 0 0 7px rgba(0,0,0,0.3);-ms-box-shadow: 0 0 7px rgba(0,0,0,0.3);box-shadow: 0 0 7px rgba(0,0,0,0.3);background-color:#fff;border:1px solid #ebebeb;}
.range-input-focus .c1 {padding:13px;}
.range-input-focus .c2 {padding:13px 13px 0;text-align: right;}
.range-input .c1 .input-txt{width:50px;padding-left:4px;padding-right:4px; float: left;}
.range-input .c1 .line{width:32px;text-align: center; float: left;}
.range-input-focus .c2{display: block}
.range-input .c2 .btn{background:none;border:none;text-align: center;background-color:#f40;color:#fff;width:60px;height:24px; cursor: pointer;}


.list-content {position: relative;z-index: 700;margin-bottom:30px;}
.list-content .hd .tab-tit{border-bottom:3px solid #f40;overflow: hidden;*zoom;1;}
.list-content .hd .tab-tit a{float: left;width:158px;height:48px;line-height:48px;text-align: center; border:1px solid #ebebeb;border-bottom:0;background-color:#fff;margin-right:-1px;font-size:16px;position: relative;}
.list-content .hd .tab-tit .current{background-color:#f40;border-color:#f40;position: relative;color:#fff;}
.list-content .hd .sortbar{border:1px solid #ebebeb;border-top:none;background-color:#fff;}
.sortbar-list .current,.sortbar-list a:hover{color:#f40;}
.sortbar-list .item .item-in{padding:0;width:120px;text-align: center;}
.sortbar-other{margin-right:-2px;width:200px;}

/*mod-carlist-list*/
.mod-carlist-list{background-color:#fff;}
.mod-carlist-list .item{padding:30px;width:1128px;height:150px;border:1px solid #ebebeb;margin-top:-1px;}
.mod-carlist-list .item:hover{background-color: #f9f9f9;}
.mod-carlist-list .like{width:98px;height:100%;padding-left:30px; float: right;border-left:1px solid #ebebeb;margin-left: -1px;}
.mod-carlist-list .like .comm-td{*padding-top:20px;}
.mod-carlist-list .like a{display: block;margin:10px 0;text-align: center;border:1px solid #ebebeb;padding:2px 0;line-height:20px;background-color: #fff;}
.mod-carlist-list .detail{float: left;width:1000px;}
.mod-carlist-list .detail .c1{float: left;}
.mod-carlist-list .detail .c1 .img-link{display:block;position: relative;font-size: 0;cursor: pointer;}
.mod-carlist-list .detail .c1 img{width:200px;height:150px;}
.mod-carlist-list .detail .c2{width:440px;height:150px;padding-left:20px;float:left;}
.mod-carlist-list .detail .c2-in{margin-top:13px;color:#989898;}
.mod-carlist-list .detail .c2 .tit{font-size:16px;}
.mod-carlist-list .detail .c2 .info{font-size:14px;margin-top:10px;}
.mod-carlist-list .detail .c2 .report{color:#fff;display: inline-block;line-height:20px;}
.mod-carlist-list .detail .c2 .report .txt{float:left;padding:0px 5px;;border:1px solid #78a6d1;background-color: #78a6d1;}
.mod-carlist-list .detail .c2 .report .link{float:left;padding:0 5px;border:1px solid #dfdfdf;border-left:none;background-color: #fff;color:#989898;}
.mod-carlist-list .detail .c2 .report .link:hover{color:#f40;}
.mod-carlist-list .detail .c2 .browse{background-color: #f2f2f2;font-size: 12px;padding:0 2px;margin-left:20px;}
.mod-carlist-list .detail .c3{float:left;width:160px;text-align: center;padding-top:50px;color:#d00;}
.mod-carlist-list .detail .price .n{font-size:28px;font-weight: bold;margin-right: 5px;position: relative;top:2px;}
.mod-carlist-list .detail .first-pri .t{color:#989898;}
.mod-carlist-list .detail .c4{float: left;width:180px;height:130px;padding:10px 0;}
.mod-carlist-list .detail .service-list{padding-left:30px;}
.mod-carlist-list .detail .service-list li{padding:4px 0;}
.mod-carlist-list .detail .service-list .txt{vertical-align: middle;}
.mod-carlist-list .disabled a,.mod-carlist-list .disabled{color:#c4c4c4;}
.mod-carlist-list .disabled .like{display: none;}
.mod-carlist-list .disabled .c3{font-size:18px;color:#c4c4c4;}
.mod-carlist-list .disabled .c2 .report .txt{background-color: #b6b6b6;border-color:#b6b6b6;}

.maybe-style{border-top:1px solid #dedede;margin:40px 0 20px;text-align: center;}
.maybe-style .txt{font-size:16px;display: inline-block;height:20px;line-height:20px;position: relative; top:-10px;background-color:#f5f5f5;padding:0 10px;color:#989898;}

.list-con-bottom{margin-top:-1px;border:1px solid #ebebeb;padding:30px;background-color: #fff;}
.list-con-bottom .mod-nofind { border-bottom: 1px solid #ebebeb; padding: 33px 0;}
.list-con-bottom .mod-nofind-in { width: 351px;}
.list-con-bottom .mod-nofind .tit { color: #494949; padding: 17px 0 10px 0;}
.list-con-bottom .mod-nofind .con { color: #989898;}

.mod-page{text-align: center;padding-top:30px;}
.mod-page .page-item{display: inline-block;vertical-align: middle;margin:0 5px;line-height:30px;height:30px;color:#595959;}
.mod-page .page-num{background-color: #ebebeb;width:30px;}
.mod-page .page-op{background-color: #ebebeb;padding:0 8px;}
.mod-page a{color:#595959;text-align: center;}
.mod-page a:hover,.mod-page .current{background-color: #f40;color:#fff;}
.mod-page .total,.mod-page .page-tip{color:#a3a3a3;}
.mod-page .page-tip{padding-top:20px;}

.carlist-pic{padding-top:30px;}
.carlist-pic .maybe-style{margin-top:10px;}