<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>能力体验</title>
    <link rel="stylesheet"  href="./resource/style/jquery.mobile-1.3.1.css">
    <link rel="shortcut icon" href="../../favicon.ico">
    <script src="./resource/script/jquery-1.7.2.min.js"></script>
    <script src="./resource/script/jquery.mobile-1.3.1.min.js"></script>
    <script src="./resource/script/jquery.FlexSlider/jquery.flexslider-min.js"></script>
    <script type="text/javascript">
    function update_tip(){
    	var $pop = $('.ui-page:visible').find('.popupInfo');
		$.ajax({
			url:"index.php?act=module&name=userapi&do=get_record",
	        type:'post',
            data:"date="+new Date().getTime(),
            dataType:'text',
	        success:function(rs){
	        	rs?eval("var rs="+rs+";"):'';
	        	if(rs.status >= 0){
	        		$pop.html(rs.msg);
	        		$pop.popup("open");
	   			}
	        	return true;
			}
		});
	}
	$(function(){
		window.setInterval(update_tip,2000);
	});
    </script>
</head>

<body>
<div data-role="popup" id="popupInfo" class="ui-content popupInfo" data-theme="e" style="max-width:350px;"></div>
<!-- <div data-role="page" id="home"> -->
    <header data-role="header">
        <h1>语音通知</h1>
    </header>
    <div data-role="content">
    请输入1-60个汉字或英文字符文本：
      <textarea rows="10" name="content" class="content" placeholder="语音文本">您正在体验语音接口</textarea>
       <div class="phonetip1" style="font-size:12px;color:green;"></div><br/>
        请输入您的语音接收号码：
        <input name="user" class="user" value="{$calling}" placeholder="电话号码" data-theme="c" type="text" />
        <div class="phonetip" style="font-size:12px;color:green;"></div>
      <div data-role="controlgroup" data-type="horizontal" >
            <a class="voice2me" href="javascript:;"  data-role="button"  data-inline="true" >语音通知</a>
            <script type="text/javascript">
            	$(document).off('keyup.userphone').on('keyup.userphone','.user' , function(){
            		var val = $(this).val();
            		var bool = new RegExp('^[0-9]{11}$').test(val);
            		var $phonetip = $(this).closest('.ui-page').find('.phonetip');
            		if(bool) {
            			$phonetip.html('电话号码输入正确 <input type="button" class="btn phone-confirm" value="确认"/>');
            		}else $phonetip.html('请输入正确的电话号码');
            	});
            	$(document).off('click.phoneconfirm').on('click.phoneconfirm','.phone-confirm' , function(){
            		var $user = $(this).closest('.ui-page').find('.user');
            		var $phonetip = $(this).closest('.ui-page').find('.phonetip');
            		var $pop = $(this).closest('.ui-page').find('.popupInfo');
            		var $calling = $user.val(); 
            		$.ajax({
                        url:"index.php?act=module&name=userapi&do=set_calling",
                        type:'post',
                        data:"calling="+$calling+"&date="+new Date().getTime(),
                        dataType:'text',
            	   		success:function(rs){
            	   			rs?eval("var rs="+rs+";"):'';
            	   			if(rs.status > 0){
            	   			//	$user.attr('readonly', 'readonly');
            	   				$phonetip.html('');
            	   			}
            	   			$pop.html(rs.msg);
            	   			$pop.popup("open");
        	   				return true;
            	   		}
                    });
            	});
            	$(document).off('click.voice2me').on('click.voice2me','.voice2me' , function(){
            		var  $page =$(this).closest('.ui-page');
            		var $phonetip = $page.find('.phonetip1');
            		var $pop = $page.find('.popupInfo');
            		var content = $page.find('.content').val();
            		var reg = /^[a-zA-Z\s\u4e00-\u9fa5]{1,60}$/;
            		if(!reg.test(content)){
            			$phonetip.html('文本框只能输入1-60个的汉字或英文（单词间用空格隔开）字符');return false;
            		}else{
            			$phonetip.html('');
            		}
            		$pop.html('');
                    $.ajax({
                        url:"index.php?act=module&name=userapi&do=voice_notice",
                        type:'post',
                        data:"calling=self&msg="+encodeURIComponent(content)+"&date="+new Date().getTime(),
                        dataType:'text',
            	   		success:function(rs){
            	   			rs?eval("var rs="+rs+";"):'';
            	   			if(rs.status >= -1){
            	   				$pop.html(rs.msg);
            	   				$pop.popup("open");
            	   			}
        	   				return true;
            	   		}
                    });
                });
            </script>
        </div>
        
    </div>

    <footer data-role="footer">
        <h2>智能管道开放合作论坛</h2>
    </footer>

</body>
</html>